Repository Azure/azure-cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kairu-ms, @jiasli, @jsntcy, @zhoxing-ms, @wangzelin007, @calvinhzy, @bebound, @evelyn-ys, @necusjz, @northtyphoon, @rosanch, @yanzhudd, @zqingqing1, @gtracer, @xizhamsft, @andyliuliming, @fumingzhang, @Prasanna-Padmanabhan, @kevinhillinger, @jonlester, @ChristineWanjau, @albertofori, @avanigupta, @panchagnula, @bennerv, @hawkowl, @jewzaam, @rogbas, @dragonfly91, @akshayneema, @cRui861, @wanghoppe, @dpwatrous, @wiboris, @AlexanderYukhanov, @jiaxuwu2021, @luhan2017, @t-bzhan, @sandeepnl, @joseph-porter, @dmakwana, @kristynhamasaki, @akharit, @rahuldutta90, @temandr, @binuj, @VidyaKukke, @v-ajnava, @aim-for-better, @digimaun, @AllyW, @honghr, @khannarheams, @cheggert, @arde0708, @alanenriqueo, @huangbolun, @yungezz, @houk-ms, @xfz11, @QingChenmsft, @jaredmoo, @idear1203, @zesluo, @Drewm3, @TravisCragg-MSFT, @nikhilpatel909, @sandeepraichura, @hilaryw29, @GabstaMSFT, @ramankumarlive, @ushnaarshadkhan, @ruslany, @sanchitmehta, @ebencarek, @JennyLawrance, @howang-ms, @vinisoto, @chinadragon0515, @vturecek, @torosent, @pagariyaalok, @Juliehzl, @jijohn14, @Greedygre, @ShichaoQiu

.github/CODEOWNERS:

# See for instructions on this file https://help.github.com/articles/about-codeowners/

*help.py @kairu-ms @jiasli @jsntcy
*help.yaml @kairu-ms @jiasli @jsntcy
*help.yml @kairu-ms @jiasli @jsntcy

/linter_exclusions.yml @jsntcy @kairu-ms @zhoxing-ms

/doc/ @jiasli @kairu-ms @jsntcy
/tools/ @kairu-ms @jiasli @wangzelin007 @calvinhzy @bebound
/scripts/ @kairu-ms @jiasli @wangzelin007 @calvinhzy @bebound
/scripts/live_test @kairu-ms @wangzelin007
/src/azure-cli-testsdk/ @jsntcy @jiasli @kairu-ms @wangzelin007 @bebound

/src/azure-cli-core/ @jiasli @evelyn-ys @jsntcy @kairu-ms @zhoxing-ms @calvinhzy @necusjz @bebound
/src/azure-cli-core/azure/cli/core/_profile.py @jiasli @evelyn-ys @bebound
/src/azure-cli-core/azure/cli/core/auth/ @jiasli @evelyn-ys @bebound
/src/azure-cli-core/azure/cli/core/extension/ @jsntcy @kairu-ms
/src/azure-cli-core/azure/cli/core/style.py @jiasli @evelyn-ys @zhoxing-ms
/src/azure-cli-core/azure/cli/core/aaz/ @kairu-ms @necusjz @calvinhzy @jsntcy

/src/azure-cli/azure/cli/command_modules/acr/ @zhoxing-ms @northtyphoon @rosanch @jsntcy @yanzhudd
/src/azure-cli/azure/cli/command_modules/acs/ @zhoxing-ms @zqingqing1 @gtracer @xizhamsft @andyliuliming @fumingzhang @jsntcy @yanzhudd
/src/azure-cli/azure/cli/command_modules/advisor/ @jsntcy @Prasanna-Padmanabhan
/src/azure-cli/azure/cli/command_modules/apim/ @jsntcy @kevinhillinger @jonlester
/src/azure-cli/azure/cli/command_modules/appconfig/ @zhoxing-ms @jsntcy @yanzhudd @ChristineWanjau @albertofori @avanigupta
/src/azure-cli/azure/cli/command_modules/appservice/ @jsntcy @zhoxing-ms @yanzhudd @panchagnula
/src/azure-cli/azure/cli/command_modules/aro/ @jsntcy @bennerv @hawkowl @jewzaam @rogbas
/src/azure-cli/azure/cli/command_modules/backup/ @zhoxing-ms @jsntcy @yanzhudd @dragonfly91 @akshayneema
/src/azure-cli/azure/cli/command_modules/batch/ @zhoxing-ms @jsntcy @yanzhudd @cRui861 @wanghoppe @dpwatrous @wiboris
/src/azure-cli/azure/cli/command_modules/batchai/ @jsntcy @AlexanderYukhanov
/src/azure-cli/azure/cli/command_modules/botservice/ @jsntcy @jiaxuwu2021 @luhan2017
/src/azure-cli/azure/cli/command_modules/cdn/ @jsntcy @kairu-ms @wangzelin007 @necusjz @t-bzhan
/src/azure-cli/azure/cli/command_modules/cloud/ @jiasli @evelyn-ys
/src/azure-cli/azure/cli/command_modules/consumption/ @jsntcy @sandeepnl
/src/azure-cli/azure/cli/command_modules/container/ @jsntcy @joseph-porter
/src/azure-cli/azure/cli/command_modules/cosmosdb/ @evelyn-ys @calvinhzy @dmakwana @kristynhamasaki
/src/azure-cli/azure/cli/command_modules/databoxedge/ @evelyn-ys
/src/azure-cli/azure/cli/command_modules/dls/ @jsntcy @evelyn-ys @akharit @rahuldutta90
/src/azure-cli/azure/cli/command_modules/dms/ @jsntcy @necusjz @temandr @binuj
/src/azure-cli/azure/cli/command_modules/eventgrid/ @evelyn-ys @VidyaKukke
/src/azure-cli/azure/cli/command_modules/eventhubs/ @jsntcy @v-ajnava
/src/azure-cli/azure/cli/command_modules/extension/ @jsntcy @kairu-ms
/src/azure-cli/azure/cli/command_modules/feedback/ @jiasli @kairu-ms
/src/azure-cli/azure/cli/command_modules/hdinsight/ @kairu-ms @aim-for-better
/src/azure-cli/azure/cli/command_modules/identity/ @zhoxing-ms @jiasli @yanzhudd
/src/azure-cli/azure/cli/command_modules/iot/ @zhoxing-ms @yanzhudd @digimaun
/src/azure-cli/azure/cli/command_modules/keyvault/ @evelyn-ys @jiasli @calvinhzy
/src/azure-cli/azure/cli/command_modules/monitor/ @jsntcy @kairu-ms @necusjz @AllyW
/src/azure-cli/azure/cli/command_modules/mysql/ @evelyn-ys @honghr
/src/azure-cli/azure/cli/command_modules/natgateway/ @jsntcy @kairu-ms @necusjz @khannarheams
/src/azure-cli/azure/cli/command_modules/network/ @jsntcy @kairu-ms @wangzelin007 @necusjz
/src/azure-cli/azure/cli/command_modules/policyinsights/ @jsntcy @cheggert
/src/azure-cli/azure/cli/command_modules/privatedns/ @jsntcy @kairu-ms @necusjz
/src/azure-cli/azure/cli/command_modules/profile/ @jiasli @evelyn-ys @bebound
/src/azure-cli/azure/cli/command_modules/rdbms/ @evelyn-ys @calvinhzy @arde0708 @alanenriqueo
/src/azure-cli/azure/cli/command_modules/resource/ @zhoxing-ms @jsntcy @yanzhudd
/src/azure-cli/azure/cli/command_modules/role/ @jiasli @evelyn-ys @bebound
/src/azure-cli/azure/cli/command_modules/search/ @kairu-ms @necusjz @huangbolun
/src/azure-cli/azure/cli/command_modules/servicebus/ @zhoxing-ms @jsntcy @evelyn-ys @v-ajnava
/src/azure-cli/azure/cli/command_modules/serviceconnector/ @kairu-ms @yanzhudd @yungezz @houk-ms @xfz11
/src/azure-cli/azure/cli/command_modules/servicefabric/ @zhoxing-ms @jsntcy @yanzhudd @QingChenmsft
/src/azure-cli/azure/cli/command_modules/sql/ @evelyn-ys @calvinhzy @jaredmoo
/src/azure-cli/azure/cli/command_modules/storage/ @jsntcy @zhoxing-ms @evelyn-ys @calvinhzy
/src/azure-cli/azure/cli/command_modules/synapse/ @jsntcy @idear1203 @zesluo @evelyn-ys
/src/azure-cli/azure/cli/command_modules/util/ @jiasli @zhoxing-ms @evelyn-ys
/src/azure-cli/azure/cli/command_modules/vm/ @zhoxing-ms @jsntcy @wangzelin007 @yanzhudd @Drewm3 @TravisCragg-MSFT @nikhilpatel909 @sandeepraichura @hilaryw29 @GabstaMSFT @ramankumarlive @ushnaarshadkhan
/src/azure-cli/azure/cli/command_modules/containerapp/ @zhoxing-ms @yanzhudd @ruslany @sanchitmehta @ebencarek @JennyLawrance @howang-ms @vinisoto @chinadragon0515 @vturecek @torosent @pagariyaalok @Juliehzl @jijohn14 @Greedygre @ShichaoQiu

Fix dev styple error
  src/azure-cli/azure/cli/command_modules/sql/custom.py
Owners: @evelyn-ys, @calvinhzy, @jaredmoo

{Core} Drop msal_authentication import
  src/azure-cli-core/azure/cli/core/_profile.py
  src/azure-cli/azure/cli/command_modules/profile/custom.py
Owners: @jiasli, @evelyn-ys, @bebound

fix format errors
  src/azure-cli/azure/cli/command_modules/acs/_format.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_machine_cmds.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
Owners: @zhoxing-ms, @zqingqing1, @gtracer, @xizhamsft, @andyliuliming, @fumingzhang, @jsntcy, @yanzhudd

fix formatting
  src/azure-cli/azure/cli/command_modules/acs/_format.py
Owners: @zhoxing-ms, @zqingqing1, @gtracer, @xizhamsft, @andyliuliming, @fumingzhang, @jsntcy, @yanzhudd

[RDBMS] az postgres flexible-server replica create: Enable replica operations for elastic cluster operations
  src/azure-cli/azure/cli/command_modules/rdbms/flexible_server_custom_postgres.py
Owners: @evelyn-ys, @calvinhzy, @arde0708, @alanenriqueo

address style issue
  src/azure-cli/azure/cli/command_modules/rdbms/flexible_server_custom_postgres.py
Owners: @evelyn-ys, @calvinhzy, @arde0708, @alanenriqueo

update
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
Owners: @zhoxing-ms, @zqingqing1, @gtracer, @xizhamsft, @andyliuliming, @fumingzhang, @jsntcy, @yanzhudd

update
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_nodepool_abort.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
Owners: @zhoxing-ms, @zqingqing1, @gtracer, @xizhamsft, @andyliuliming, @fumingzhang, @jsntcy, @yanzhudd

fix test
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_flexible_server_upgrade_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgresql_flexible_server_identity_microsoft_entra_admin_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgresql_flexible_server_identity_microsoft_entra_admin_only_mgmt.yaml
Owners: @evelyn-ys, @calvinhzy, @arde0708, @alanenriqueo

Init
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
Owners: none

Support set and filtering by tags for feature commands
  src/azure-cli/azure/cli/command_modules/appconfig/_featuremodels.py
  src/azure-cli/azure/cli/command_modules/appconfig/_params.py
  src/azure-cli/azure/cli/command_modules/appconfig/feature.py
  src/azure-cli/azure/cli/command_modules/appconfig/tests/latest/recordings/test_azconfig_feature_namespacing.yaml
  src/azure-cli/azure/cli/command_modules/appconfig/tests/latest/test_appconfig_feature_commands.py
Owners: @zhoxing-ms, @jsntcy, @yanzhudd, @ChristineWanjau, @albertofori, @avanigupta

typo
  src/azure-cli/azure/cli/command_modules/appconfig/_params.py
Owners: @zhoxing-ms, @jsntcy, @yanzhudd, @ChristineWanjau, @albertofori, @avanigupta

apply to codegen
  src/azure-cli-core/azure/cli/core/aaz/_client.py
  src/azure-cli-core/azure/cli/core/commands/client_factory.py
  src/azure-cli-core/azure/cli/core/sdk/policies.py
Owners: @kairu-ms, @necusjz, @calvinhzy, @jsntcy, @jiasli, @evelyn-ys, @zhoxing-ms, @bebound

init
  src/azure-cli/azure/cli/command_modules/servicefabric/_help.py
  src/azure-cli/azure/cli/command_modules/servicefabric/_params.py
  src/azure-cli/azure/cli/command_modules/servicefabric/operations/managed_clusters.py
  src/azure-cli/azure/cli/command_modules/servicefabric/tests/latest/recordings/test_network_security_rule.yaml
  src/azure-cli/azure/cli/command_modules/servicefabric/tests/latest/test_sf_managed_cluster.py
Owners: @zhoxing-ms, @jsntcy, @yanzhudd, @QingChenmsft

fix: update --appgw-subnet-cidr to be shorter than /24
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
Owners: @zhoxing-ms, @zqingqing1, @gtracer, @xizhamsft, @andyliuliming, @fumingzhang, @jsntcy, @yanzhudd

test: update recording file
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_with_ingress_appgw_addon.yaml
Owners: @zhoxing-ms, @zqingqing1, @gtracer, @xizhamsft, @andyliuliming, @fumingzhang, @jsntcy, @yanzhudd

illustrate backcompat methods
  src/azure-cli-core/azure/cli/core/util.py
Owners: @jiasli, @evelyn-ys, @jsntcy, @kairu-ms, @zhoxing-ms, @calvinhzy, @necusjz, @bebound

Initial commit - update api version to 2025-06-05, remove is_preview flags
  src/azure-cli/azure/cli/command_modules/compute_recommender/aaz/latest/compute_recommender/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/compute_recommender/aaz/latest/compute_recommender/_spot_placement_recommender.py
Owners: none

bug fix
  src/azure-cli/azure/cli/command_modules/cdn/custom/custom_afdx.py
  src/azure-cli/azure/cli/command_modules/cdn/tests/latest/recordings/test_afd_origin_group_disable_probe.yaml
  src/azure-cli/azure/cli/command_modules/cdn/tests/latest/test_afd_origin_group_scenarios.py
Owners: @jsntcy, @kairu-ms, @wangzelin007, @necusjz, @t-bzhan

remove printf
  src/azure-cli/azure/cli/command_modules/cdn/custom/custom_afdx.py
Owners: @jsntcy, @kairu-ms, @wangzelin007, @necusjz, @t-bzhan

add subcommands
  src/azure-cli/azure/cli/command_modules/vm/commands.py
  src/azure-cli/azure/cli/command_modules/vm/operations/sig_in_vm_access_control_profile_version_config.py
Owners: @zhoxing-ms, @jsntcy, @wangzelin007, @yanzhudd, @Drewm3, @TravisCragg-MSFT, @nikhilpatel909, @sandeepraichura, @hilaryw29, @GabstaMSFT, @ramankumarlive, @ushnaarshadkhan

fix
  src/azure-cli/azure/cli/command_modules/vm/operations/sig_in_vm_access_control_profile_version.py
  src/azure-cli/azure/cli/command_modules/vm/operations/sig_in_vm_access_control_profile_version_config.py
Owners: @zhoxing-ms, @jsntcy, @wangzelin007, @yanzhudd, @Drewm3, @TravisCragg-MSFT, @nikhilpatel909, @sandeepraichura, @hilaryw29, @GabstaMSFT, @ramankumarlive, @ushnaarshadkhan

{AKS} `az aks upgrade`: Fix recording test for AKS upgrade with tier switch (#31695)
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_upgrade_with_tier_switch.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
Owners: @zhoxing-ms, @zqingqing1, @gtracer, @xizhamsft, @andyliuliming, @fumingzhang, @jsntcy, @yanzhudd

{AKS} fix test case when AGIC with Azure CNI Overlay (#31713)
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_with_ingress_appgw_addon.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
Owners: @zhoxing-ms, @zqingqing1, @gtracer, @xizhamsft, @andyliuliming, @fumingzhang, @jsntcy, @yanzhudd

[Flexible Server] Fix typo in help text for `--allow-push` argument in GitHub action parameters
  src/azure-cli/azure/cli/command_modules/rdbms/_params.py
Owners: @evelyn-ys, @calvinhzy, @arde0708, @alanenriqueo

test
  src/azure-cli/azure/cli/command_modules/resource/_utils.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_create_disbale_automatic_repairs_of_zone_balancing.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Owners: @zhoxing-ms, @jsntcy, @yanzhudd, @wangzelin007, @Drewm3, @TravisCragg-MSFT, @nikhilpatel909, @sandeepraichura, @hilaryw29, @GabstaMSFT, @ramankumarlive, @ushnaarshadkhan

fix linter
  src/azure-cli/azure/cli/command_modules/vm/_params.py
Owners: @zhoxing-ms, @jsntcy, @wangzelin007, @yanzhudd, @Drewm3, @TravisCragg-MSFT, @nikhilpatel909, @sandeepraichura, @hilaryw29, @GabstaMSFT, @ramankumarlive, @ushnaarshadkhan

recording
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/recordings/test_create_deployment_stack_subscription_with_bicep.yaml
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/recordings/test_resource_group_deployment.yaml
Owners: @zhoxing-ms, @jsntcy, @yanzhudd

get-token-data
  src/azure-cli-core/azure/cli/core/auth/credential_adaptor.py
  src/azure-cli-core/azure/cli/core/auth/tests/test_credential_adaptor.py
Owners: @jiasli, @evelyn-ys, @bebound

msal-credential-data
  src/azure-cli-core/azure/cli/core/auth/msal_credentials.py
  src/azure-cli-core/azure/cli/core/auth/tests/test_msal_credentials.py
Owners: @jiasli, @evelyn-ys, @bebound

added commands and new features
  src/azure-cli/azure/cli/command_modules/hdinsight/tests/latest/output.log
Owners: @kairu-ms, @aim-for-better

update
  .vscode/launch.json
  src/azure-cli/azure/cli/command_modules/hdinsight/_params.py
  src/azure-cli/azure/cli/command_modules/hdinsight/commands.py
  src/azure-cli/azure/cli/command_modules/hdinsight/custom.py
  src/azure-cli/azure/cli/command_modules/hdinsight/tests/latest/EntraUserFullInfoConfig.json
  src/azure-cli/azure/cli/command_modules/hdinsight/tests/latest/privatelinkconfigurations.json
  src/azure-cli/azure/cli/command_modules/hdinsight/tests/latest/recordings/test_hdinsight_application.yaml
  src/azure-cli/azure/cli/command_modules/hdinsight/tests/latest/recordings/test_hdinsight_azure_monitor.yaml
  src/azure-cli/azure/cli/command_modules/hdinsight/tests/latest/recordings/test_hdinsight_cluster_kafka.yaml
  src/azure-cli/azure/cli/command_modules/hdinsight/tests/latest/recordings/test_hdinsight_cluster_kafka_with_optional_disk_args.yaml
  src/azure-cli/azure/cli/command_modules/hdinsight/tests/latest/recordings/test_hdinsight_cluster_min_args.yaml
  src/azure-cli/azure/cli/command_modules/hdinsight/tests/latest/recordings/test_hdinsight_cluster_resize.yaml
  src/azure-cli/azure/cli/command_modules/hdinsight/tests/latest/recordings/test_hdinsight_cluster_with_cluster_config.yaml
  src/azure-cli/azure/cli/command_modules/hdinsight/tests/latest/recordings/test_hdinsight_cluster_with_component_version.yaml
  src/azure-cli/azure/cli/command_modules/hdinsight/tests/latest/recordings/test_hdinsight_cluster_with_encryption_in_transit.yaml
  src/azure-cli/azure/cli/command_modules/hdinsight/tests/latest/recordings/test_hdinsight_cluster_with_loadbased_autoscale.yaml
  src/azure-cli/azure/cli/command_modules/hdinsight/tests/latest/recordings/test_hdinsight_cluster_with_minimal_tls_version.yaml
  src/azure-cli/azure/cli/command_modules/hdinsight/tests/latest/recordings/test_hdinsight_cluster_with_private_link_configurations.yaml
  src/azure-cli/azure/cli/command_modules/hdinsight/tests/latest/recordings/test_hdinsight_cluster_with_schedulebased_autoscale.yaml
  src/azure-cli/azure/cli/command_modules/hdinsight/tests/latest/recordings/test_hdinsight_cluster_with_ssh_creds.yaml
  src/azure-cli/azure/cli/command_modules/hdinsight/tests/latest/recordings/test_hdinsight_create_with_entra_user.yaml
  src/azure-cli/azure/cli/command_modules/hdinsight/tests/latest/recordings/test_hdinsight_create_with_wasb_and_msi.yaml
  src/azure-cli/azure/cli/command_modules/hdinsight/tests/latest/recordings/test_hdinsight_monitor.yaml
  src/azure-cli/azure/cli/command_modules/hdinsight/tests/latest/recordings/test_hdinsight_script_action.yaml
  src/azure-cli/azure/cli/command_modules/hdinsight/tests/latest/recordings/test_hdinsight_update_system_and_user_assigned.yaml
  src/azure-cli/azure/cli/command_modules/hdinsight/tests/latest/recordings/test_hdinsight_update_system_assigned.yaml
  src/azure-cli/azure/cli/command_modules/hdinsight/tests/latest/recordings/test_hdinsight_update_user_assigned.yaml
  src/azure-cli/azure/cli/command_modules/hdinsight/tests/latest/recordings/test_hdinsight_usage.yaml
  src/azure-cli/azure/cli/command_modules/hdinsight/tests/latest/test_hdinsight_commands.py
  src/azure-cli/azure/cli/command_modules/hdinsight/util.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Owners: @kairu-ms, @aim-for-better

Add support for setting key value revision retention period
  src/azure-cli/azure/cli/command_modules/appconfig/_params.py
  src/azure-cli/azure/cli/command_modules/appconfig/_validators.py
  src/azure-cli/azure/cli/command_modules/appconfig/custom.py
  src/azure-cli/azure/cli/command_modules/appconfig/tests/latest/recordings/test_appconfig_key_value_revision_retention_days.yaml
  src/azure-cli/azure/cli/command_modules/appconfig/tests/latest/recordings/test_azconfig_local_auth.yaml
  src/azure-cli/azure/cli/command_modules/appconfig/tests/latest/recordings/test_azconfig_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/appconfig/tests/latest/recordings/test_azconfig_public_network_access.yaml
  src/azure-cli/azure/cli/command_modules/appconfig/tests/latest/test_appconfig_mgmt_commands.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Owners: @zhoxing-ms, @jsntcy, @yanzhudd, @ChristineWanjau, @albertofori, @avanigupta

Add help text
  src/azure-cli/azure/cli/command_modules/appconfig/_help.py
Owners: @zhoxing-ms, @jsntcy, @yanzhudd, @ChristineWanjau, @albertofori, @avanigupta

Update src/azure-cli/azure/cli/command_modules/appconfig/custom.py
  src/azure-cli/azure/cli/command_modules/appconfig/custom.py
Owners: @zhoxing-ms, @jsntcy, @yanzhudd, @ChristineWanjau, @albertofori, @avanigupta

typo
  src/azure-cli/azure/cli/command_modules/appconfig/custom.py
Owners: @zhoxing-ms, @jsntcy, @yanzhudd, @ChristineWanjau, @albertofori, @avanigupta

change cloud endpoint
  src/azure-cli/azure/cli/command_modules/cdn/custom/custom_afdx.py
  src/azure-cli/azure/cli/command_modules/cdn/tests/latest/recordings/test_afd_origin_group_disable_probe.yaml
Owners: @jsntcy, @kairu-ms, @wangzelin007, @necusjz, @t-bzhan

get_msal_token
  src/azure-cli-core/azure/cli/core/_profile.py
  src/azure-cli-core/azure/cli/core/tests/test_profile.py
Owners: @jiasli, @evelyn-ys, @bebound, @jsntcy, @kairu-ms, @zhoxing-ms, @calvinhzy, @necusjz

style fix
  src/azure-cli/azure/cli/command_modules/appconfig/custom.py
Owners: @zhoxing-ms, @jsntcy, @yanzhudd, @ChristineWanjau, @albertofori, @avanigupta

Unblock test failures
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/recordings/test_create_deployment_stack_resource_group.yaml
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/recordings/test_create_deployment_stack_subscription.yaml
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/test_resource.py
Owners: @zhoxing-ms, @jsntcy, @yanzhudd
