Repository Azure/azure-cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kairu-ms, @jiasli, @jsntcy, @dbradish-microsoft, @evelyn-ys, @zhoxing-ms, @northtyphoon, @rosanch, @zqingqing1, @gtracer, @xizhamsft, @andyliuliming, @fumingzhang, @Prasanna-Padmanabhan, @kevinhillinger, @jonlester, @shenmuxiaosen, @avanigupta, @panchagnula, @mjudeikis, @jim-minter, @dragonfly91, @akshayneema, @bgklein, @gingi, @dpwatrous, @paterasMSFT, @AlexanderYukhanov, @sandeepnl, @dmakwana, @kristynhamasaki, @akharit, @rahuldutta90, @temandr, @binuj, @VidyaKukke, @v-ajnava, @aim-for-better, @digimaun, @khannarheams, @cheggert, @arde0708, @DaeunYim, @huangbolun, @QingChenmsft, @jaredmoo, @calvinhzy, @idear1203, @zesluo

.github/CODEOWNERS:

# See for instructions on this file https://help.github.com/articles/about-codeowners/

*help.py @kairu-ms @jiasli @jsntcy
*help.yaml @kairu-ms @jiasli @jsntcy
*help.yml @kairu-ms @jiasli @jsntcy

/linter_exclusions.yml @jsntcy @kairu-ms

/doc/ @jiasli @kairu-ms @jsntcy @dbradish-microsoft
/tools/ @kairu-ms @jiasli
/scripts/ @kairu-ms @jiasli
/scripts/live_test @kairu-ms
/src/azure-cli-testsdk/ @jsntcy @jiasli @kairu-ms

/src/azure-cli-core/ @jiasli @evelyn-ys @jsntcy @kairu-ms @zhoxing-ms
/src/azure-cli-core/azure/cli/core/_profile.py @jiasli @evelyn-ys
/src/azure-cli-core/azure/cli/core/adal_authentication.py @jiasli @evelyn-ys
/src/azure-cli-core/azure/cli/core/extension/ @jsntcy @kairu-ms
/src/azure-cli-core/azure/cli/core/msal_authentication.py @jiasli @evelyn-ys
/src/azure-cli-core/azure/cli/core/style.py @jiasli @evelyn-ys @zhoxing-ms

/src/azure-cli/azure/cli/command_modules/acr/ @zhoxing-ms @northtyphoon @rosanch @jsntcy
/src/azure-cli/azure/cli/command_modules/acs/ @zhoxing-ms @zqingqing1 @gtracer @xizhamsft @andyliuliming @fumingzhang @jsntcy
/src/azure-cli/azure/cli/command_modules/advisor/ @Prasanna-Padmanabhan
/src/azure-cli/azure/cli/command_modules/apim/ @kevinhillinger @jonlester
/src/azure-cli/azure/cli/command_modules/appconfig/ @shenmuxiaosen @avanigupta @zhoxing-ms @jsntcy
/src/azure-cli/azure/cli/command_modules/appservice/ @panchagnula @jsntcy @zhoxing-ms
/src/azure-cli/azure/cli/command_modules/aro/ @mjudeikis @jim-minter
/src/azure-cli/azure/cli/command_modules/backup/ @dragonfly91 @zhoxing-ms @akshayneema @jsntcy
/src/azure-cli/azure/cli/command_modules/batch/ @bgklein @gingi @dpwatrous @paterasMSFT @zhoxing-ms @jsntcy
/src/azure-cli/azure/cli/command_modules/batchai/ @AlexanderYukhanov
/src/azure-cli/azure/cli/command_modules/cloud/ @jiasli @evelyn-ys
/src/azure-cli/azure/cli/command_modules/consumption/ @sandeepnl
/src/azure-cli/azure/cli/command_modules/container/ @zhoxing-ms @jsntcy
/src/azure-cli/azure/cli/command_modules/cosmosdb/ @dmakwana @kristynhamasaki @evelyn-ys
/src/azure-cli/azure/cli/command_modules/databoxedge/ @evelyn-ys
/src/azure-cli/azure/cli/command_modules/dls/ @akharit @rahuldutta90 @jsntcy
/src/azure-cli/azure/cli/command_modules/dms/ @temandr @binuj
/src/azure-cli/azure/cli/command_modules/eventgrid/ @evelyn-ys @VidyaKukke
/src/azure-cli/azure/cli/command_modules/eventhubs/ @v-ajnava
/src/azure-cli/azure/cli/command_modules/extension/ @jsntcy @kairu-ms
/src/azure-cli/azure/cli/command_modules/feedback/ @jiasli @kairu-ms
/src/azure-cli/azure/cli/command_modules/hdinsight/ @aim-for-better @kairu-ms
/src/azure-cli/azure/cli/command_modules/iot/ @digimaun @zhoxing-ms
/src/azure-cli/azure/cli/command_modules/keyvault/ @evelyn-ys @jiasli
/src/azure-cli/azure/cli/command_modules/monitor/ @jsntcy @kairu-ms
/src/azure-cli/azure/cli/command_modules/natgateway/ @khannarheams @jsntcy @kairu-ms
/src/azure-cli/azure/cli/command_modules/network/ @jsntcy @kairu-ms
/src/azure-cli/azure/cli/command_modules/policyinsights/ @cheggert
/src/azure-cli/azure/cli/command_modules/privatedns/ @jsntcy @kairu-ms
/src/azure-cli/azure/cli/command_modules/profile/ @jiasli @evelyn-ys
/src/azure-cli/azure/cli/command_modules/rdbms/ @arde0708 @evelyn-ys @DaeunYim
/src/azure-cli/azure/cli/command_modules/resource/ @zhoxing-ms @jsntcy
/src/azure-cli/azure/cli/command_modules/role/ @jiasli @evelyn-ys
/src/azure-cli/azure/cli/command_modules/search/ @huangbolun @kairu-ms
/src/azure-cli/azure/cli/command_modules/servicebus/ @v-ajnava @zhoxing-ms @jsntcy
/src/azure-cli/azure/cli/command_modules/servicefabric/ @QingChenmsft @zhoxing-ms @jsntcy
/src/azure-cli/azure/cli/command_modules/sql/ @jaredmoo @evelyn-ys
/src/azure-cli/azure/cli/command_modules/storage/ @jsntcy @zhoxing-ms @evelyn-ys @calvinhzy
/src/azure-cli/azure/cli/command_modules/synapse/ @jsntcy @idear1203 @zesluo @evelyn-ys
/src/azure-cli/azure/cli/command_modules/util/ @jiasli @zhoxing-ms @evelyn-ys
/src/azure-cli/azure/cli/command_modules/vm/ @zhoxing-ms @jsntcy

fix dependencies for multiple installations (#19792)
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Owners: none

fix dependencies for multiple installations (#19792)
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Owners: none

test case running with recordings
  src/azure-cli/azure/cli/command_modules/dms/scenario_inputs.py
  src/azure-cli/azure/cli/command_modules/dms/tests/latest/recordings/test_project_commands.yaml
  src/azure-cli/azure/cli/command_modules/dms/tests/latest/recordings/test_service_commands.yaml
  src/azure-cli/azure/cli/command_modules/dms/tests/latest/recordings/test_task_commands.yaml
  src/azure-cli/azure/cli/command_modules/dms/tests/latest/test_service_scenarios.py
Owners: @temandr, @binuj

Fixed CLI styling error
  src/azure-cli/azure/cli/command_modules/resource/custom.py
Owners: @zhoxing-ms, @jsntcy

[ARM] `az ts create`: Simplify overwrite confirmation message (#19790)
  src/azure-cli/azure/cli/command_modules/resource/custom.py
Owners: @zhoxing-ms, @jsntcy

[ARM] `az ts create`: Simplify overwrite confirmation message (#19790)
  src/azure-cli/azure/cli/command_modules/resource/custom.py
Owners: @zhoxing-ms, @jsntcy

{Packaging} Set `system_site_packages: false` in Homebrew formula (#19663)
  scripts/release/homebrew/docker/formula_template.txt
Owners: @kairu-ms, @jiasli

{Packaging} Set `system_site_packages: false` in Homebrew formula (#19663)
  scripts/release/homebrew/docker/formula_template.txt
Owners: @kairu-ms, @jiasli
