Repository Azure/azure-cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sptramer, @troydai, @djyou, @rjtsdl, @Prasanna-Padmanabhan, @yugangw-msft, @dragonfly91, @annatisch, @AlexanderYukhanov, @tjprescott, @dmakwana, @yolo3301, @sandeepnl, @kalyanaj, @williexu, @bulentelmaci, @QingChenmsft, @jaredmoo, @v-ajnava

.github/CODEOWNERS:

# See for instructions on this file https://help.github.com/articles/about-codeowners/

*help.py @sptramer

/tools/ @troydai
/scripts/ @troydai
/src/azure-cli-testsdk/ @troydai
/src/command_modules/azure-cli-acr/ @djyou
/src/command_modules/azure-cli-acs/ @rjtsdl
/src/command_modules/azure-cli-advisor/ @Prasanna-Padmanabhan
/src/command_modules/azure-cli-appservice/ @yugangw-msft
/src/command_modules/azure-cli-backup/ @dragonfly91
/src/command_modules/azure-cli-batch/ @annatisch 
/src/command_modules/azure-cli-batchai/ @AlexanderYukhanov
/src/command_modules/azure-cli-cdn/ @tjprescott
/src/command_modules/azure-cli-cosmosdb/ @dmakwana
/src/command_modules/azure-cli-cloud/ @yugangw-msft
/src/command_modules/azure-cli-container/ @yolo3301
/src/command_modules/azure-cli-consumption/ @sandeepnl
/src/command_modules/azure-cli-eventgrid/ @kalyanaj
/src/command_modules/azure-cli-extension/ @williexu
/src/command_modules/azure-cli-keyvault/ @tjprescott
/src/command_modules/azure-cli-monitor/ @troydai
/src/command_modules/azure-cli-network/ @tjprescott
/src/command_modules/azure-cli-policyinsights/ @bulentelmaci
/src/command_modules/azure-cli-profile/ @yugangw-msft
/src/command_modules/azure-cli-storage/ @troydai
/src/command_modules/azure-cli-servicefabric/ @QingChenmsft
/src/command_modules/azure-cli-sql/ @jaredmoo
/src/command_modules/azure-cli-vm/ @yugangw-msft
/src/command_modules/azure-cli-eventhubs/ @v-ajnava
/src/command_modules/azure-cli-servicebus/ @v-ajnava

pin pylint at 1.9.2
  scripts/ci/test_static.sh
  tools/setup.py
Owners: @troydai

Allow SemVer APIVersion
  src/azure-cli-core/azure/cli/core/profiles/_shared.py
  src/azure-cli-core/azure/cli/core/tests/test_api_profiles.py
Owners: none

Azure Stack: add authorization RP
  privates/azure_common-1.1.12-py2.py3-none-any.whl
  privates/azure_mgmt_authorization-0.50.0-py2.py3-none-any.whl
  src/azure-cli-core/HISTORY.rst
  src/azure-cli-core/azure/cli/core/commands/arm.py
  src/azure-cli-core/azure/cli/core/profiles/_shared.py
  src/command_modules/azure-cli-acs/HISTORY.rst
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/_client_factory.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/custom.py
  src/command_modules/azure-cli-acs/setup.py
  src/command_modules/azure-cli-ams/HISTORY.rst
  src/command_modules/azure-cli-ams/azure/cli/command_modules/ams/_client_factory.py
  src/command_modules/azure-cli-ams/azure/cli/command_modules/ams/operations/sp.py
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/_client_factory.py
  src/command_modules/azure-cli-resource/setup.py
  src/command_modules/azure-cli-role/HISTORY.rst
  src/command_modules/azure-cli-role/azure/cli/command_modules/role/_client_factory.py
  src/command_modules/azure-cli-role/azure/cli/command_modules/role/commands.py
  src/command_modules/azure-cli-role/azure/cli/command_modules/role/custom.py
  src/command_modules/azure-cli-role/setup.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_validators.py
  src/command_modules/azure-cli-vm/setup.py
Owners: @rjtsdl, @yugangw-msft

minor fixes
  privates/azure_common-1.1.12-py2.py3-none-any.whl
  privates/azure_mgmt_authorization-0.50.0-py2.py3-none-any.whl
  src/azure-cli-core/azure/cli/core/profiles/_shared.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/_client_factory.py
  src/command_modules/azure-cli-role/azure/cli/command_modules/role/custom.py
Owners: @rjtsdl

version update
  src/command_modules/azure-cli-resource/HISTORY.rst
Owners: none

fix lint error
  src/azure-cli-core/azure/cli/core/commands/arm.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/_client_factory.py
Owners: @rjtsdl

fix bugs on getting model types
  src/azure-cli-core/azure/cli/core/commands/arm.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/custom.py
  src/command_modules/azure-cli-ams/azure/cli/command_modules/ams/operations/sp.py
  src/command_modules/azure-cli-role/azure/cli/command_modules/role/custom.py
Owners: @rjtsdl

prepare when permission is not available
  src/command_modules/azure-cli-role/azure/cli/command_modules/role/custom.py
Owners: none

Fixes for role commands on 2017-03-09-profile
  src/command_modules/azure-cli-role/azure/cli/command_modules/role/__init__.py
  src/command_modules/azure-cli-role/azure/cli/command_modules/role/custom.py
Owners: none

version updates for cli core, acs and role
  src/azure-cli-core/HISTORY.rst
  src/command_modules/azure-cli-acs/HISTORY.rst
  src/command_modules/azure-cli-resource/HISTORY.rst
  src/command_modules/azure-cli-role/HISTORY.rst
  src/command_modules/azure-cli-role/setup.py
Owners: @rjtsdl

Changing versions for vm and ams modules
  src/command_modules/azure-cli-ams/HISTORY.rst
  src/command_modules/azure-cli-ams/setup.py
  src/command_modules/azure-cli-vm/HISTORY.rst
  src/command_modules/azure-cli-vm/setup.py
Owners: @yugangw-msft

Adding whitespace
  src/azure-cli-core/HISTORY.rst
  src/command_modules/azure-cli-acs/HISTORY.rst
Owners: @rjtsdl

Incrememting versions for the cli core and cli-acs for the upstream changes
  src/azure-cli-core/HISTORY.rst
  src/azure-cli-core/azure/cli/core/__init__.py
  src/azure-cli-core/setup.py
  src/command_modules/azure-cli-acs/HISTORY.rst
  src/command_modules/azure-cli-acs/setup.py
Owners: @rjtsdl

pin pylint at 1.9.2 (#6809)
  scripts/ci/test_static.sh
  tools/setup.py
Owners: @troydai

pin pylint at 1.9.2 (#6809)
  scripts/ci/test_static.sh
  tools/setup.py
Owners: @troydai

PEP8
  src/azure-cli-core/azure/cli/core/profiles/_shared.py
Owners: none

Fixed the grammar of a warning. (#6803)
  src/azure-cli-core/azure/cli/core/_profile.py
Owners: none

Fixed the grammar of a warning. (#6803)
  src/azure-cli-core/azure/cli/core/_profile.py
Owners: none

Fixed live test failure in test_sql_subscription_usages (#6804)
  src/command_modules/azure-cli-sql/azure/cli/command_modules/sql/tests/latest/recordings/test_sql_subscription_usages.yaml
  src/command_modules/azure-cli-sql/azure/cli/command_modules/sql/tests/latest/test_sql_commands.py
Owners: @jaredmoo

Fixed live test failure in test_sql_subscription_usages (#6804)
  src/command_modules/azure-cli-sql/azure/cli/command_modules/sql/tests/latest/recordings/test_sql_subscription_usages.yaml
  src/command_modules/azure-cli-sql/azure/cli/command_modules/sql/tests/latest/test_sql_commands.py
Owners: @jaredmoo

Skip managed instance live tests
  src/command_modules/azure-cli-sql/azure/cli/command_modules/sql/tests/latest/test_sql_commands.py
Owners: @jaredmoo

Fixed missing import
  src/command_modules/azure-cli-sql/azure/cli/command_modules/sql/tests/latest/test_sql_commands.py
Owners: @jaredmoo

Fixed live test failure in test_sql_elastic_pools_mgmt
  src/command_modules/azure-cli-sql/azure/cli/command_modules/sql/tests/latest/recordings/test_sql_elastic_pools_mgmt.yaml
  src/command_modules/azure-cli-sql/azure/cli/command_modules/sql/tests/latest/test_sql_commands.py
Owners: @jaredmoo

Skip managed instance live tests (#6806)
  src/command_modules/azure-cli-sql/azure/cli/command_modules/sql/tests/latest/test_sql_commands.py
Owners: @jaredmoo

Skip managed instance live tests (#6806)
  src/command_modules/azure-cli-sql/azure/cli/command_modules/sql/tests/latest/test_sql_commands.py
Owners: @jaredmoo

updated test and fix liint errors
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/_client_factory.py
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/commands.py
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_alias.yaml
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_migration.yaml
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_namespace.yaml
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_queue.yaml
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_rules.yaml
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_subscription.yaml
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_topic.yaml
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/tests/latest/test_servicebus_commands.py
Owners: @v-ajnava

updated history and help
  src/command_modules/azure-cli-servicebus/HISTORY.rst
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/_help.py
Owners: @v-ajnava

added scenario test for aks monitoring add-on
  src/azure-cli-testsdk/azure/cli/testsdk/checkers.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_default_service_with_monitoring_addon.yaml
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
Owners: @troydai, @rjtsdl

Fix lint error.
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/custom.py
Owners: none

[ARM] Allow deployment create with `--parameters {}` (#6790)
  src/command_modules/azure-cli-resource/HISTORY.rst
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/custom.py
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/tests/latest/test_resource_custom.py
Owners: none

[ARM] Allow deployment create with `--parameters {}` (#6790)
  src/command_modules/azure-cli-resource/HISTORY.rst
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/custom.py
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/tests/latest/test_resource_custom.py
Owners: none

Move _load_subscriptions from profile to core
  src/azure-cli-core/azure/cli/core/_profile.py
  src/azure-cli-core/azure/cli/core/api.py
  src/command_modules/azure-cli-profile/HISTORY.rst
  src/command_modules/azure-cli-profile/azure/cli/command_modules/profile/_completers.py
  src/command_modules/azure-cli-profile/azure/cli/command_modules/profile/custom.py
  src/command_modules/azure-cli-profile/azure/cli/command_modules/profile/tests/latest/test_profile_custom.py
  src/command_modules/azure-cli-profile/setup.py
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/_completers.py
Owners: @yugangw-msft

Move _load_subscriptions from profile to core
  src/azure-cli-core/azure/cli/core/_profile.py
  src/azure-cli-core/azure/cli/core/api.py
  src/command_modules/azure-cli-profile/HISTORY.rst
  src/command_modules/azure-cli-profile/azure/cli/command_modules/profile/_completers.py
  src/command_modules/azure-cli-profile/azure/cli/command_modules/profile/custom.py
  src/command_modules/azure-cli-profile/azure/cli/command_modules/profile/tests/latest/test_profile_custom.py
  src/command_modules/azure-cli-profile/setup.py
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/_completers.py
Owners: @yugangw-msft

Move get_subscription_id_list into Core
  src/azure-cli-core/azure/cli/core/_completers.py
  src/azure-cli-core/azure/cli/core/api.py
  src/azure-cli-core/azure/cli/core/commands/arm.py
  src/command_modules/azure-cli-profile/azure/cli/command_modules/profile/__init__.py
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/_completers.py
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/_params.py
Owners: @yugangw-msft

Move get_subscription_id_list into Core
  src/azure-cli-core/azure/cli/core/_completers.py
  src/azure-cli-core/azure/cli/core/api.py
  src/azure-cli-core/azure/cli/core/commands/arm.py
  src/command_modules/azure-cli-profile/azure/cli/command_modules/profile/__init__.py
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/_completers.py
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/_params.py
Owners: @yugangw-msft

role assignment: bug fix in output to handle when the role could be missing
  src/command_modules/azure-cli-role/HISTORY.rst
  src/command_modules/azure-cli-role/azure/cli/command_modules/role/custom.py
  src/command_modules/azure-cli-role/setup.py
Owners: none

linter error fix
  src/command_modules/azure-cli-role/HISTORY.rst
Owners: none

enable dns mult-api version support
  src/azure-cli-core/azure/cli/core/profiles/_shared.py
  src/command_modules/azure-cli-network/HISTORY.rst
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_client_factory.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/commands.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/custom.py
  src/command_modules/azure-cli-network/setup.py
Owners: @tjprescott

address classic admin backfill
  src/command_modules/azure-cli-role/azure/cli/command_modules/role/custom.py
Owners: none

use multiapi 0.2.2
  src/command_modules/azure-cli-storage/setup.py
  src/command_modules/azure-cli-vm/setup.py
Owners: @troydai, @yugangw-msft
