Repository Azure/azure-cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sptramer, @Juliehzl, @zikalino, @jiasli, @djyou, @rjtsdl, @Prasanna-Padmanabhan, @qwordy, @dragonfly91, @bgklein, @AlexanderYukhanov, @dmakwana, @samkreter, @sandeepnl, @lewu-msft, @kalyanaj, @MyronFanQiu, @khannarheams, @cheggert, @QingChenmsft, @jaredmoo, @v-ajnava, @kevinhillinger, @jonlester

Add suppression for false alarm in test_storage_url_helpers.py
  CredScanSuppressions.json
Owners: none

Temporary suppress certs file in src\azure-cli\azure\cli\command_modules\network\tests\
  CredScanSuppressions.json
Owners: none

Temporary suppress certs file in src\azure-cli\azure\cli\command_modules\keyvault\tests\
  CredScanSuppressions.json
Owners: none

Temporary suppress certs for ams, appservice and core
  CredScanSuppressions.json
Owners: none

Add suppression for test_keyvault_commands.py
  CredScanSuppressions.json
Owners: none

Add supression for hard code accessToken in src\azure-cli\azure\cli\command_modules\ams\tests\latest\test_ams_live_event_scenarios.py
  CredScanSuppressions.json
Owners: none

Add suppression for hard code password for src\azure-cli\azure\cli\command_modules\appservice\custom.py
  CredScanSuppressions.json
Owners: none

Add suppression for hard code password in test_container_commands.py
  CredScanSuppressions.json
Owners: none

Typo
  CredScanSuppressions.json
Owners: none

Add suppression for admin user name in test_vm_defaults.py
  CredScanSuppressions.json
Owners: none

Suppress unknown JSON files contains password
  CredScanSuppressions.json
Owners: none

English grammer in deployment warning
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
Owners: @qwordy

Reorder Job CredScan
  azure-pipelines.yml
Owners: none

Test file commited filter to CredScan
  azure-pipelines.yml
Owners: none

Remove scan files filter
  azure-pipelines.yml
Owners: none

add AdalAuthenticationWrapper to support azure.core
  src/azure-cli-core/azure/cli/core/commands/client_factory.py
Owners: @jiasli

disk-encryption-set create/show
  src/azure-cli/azure/cli/command_modules/vm/_help.py
  src/azure-cli/azure/cli/command_modules/vm/_params.py
  src/azure-cli/azure/cli/command_modules/vm/commands.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_disk_encryption_set.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Owners: @qwordy

Replace ambiguous password
  src/azure-cli/azure/cli/command_modules/servicefabric/_help.py
Owners: @QingChenmsft

Add CredScan job to CI (#11353)
  CredScanSuppressions.json
  azure-pipelines.yml
  src/azure-cli/azure/cli/command_modules/servicefabric/_help.py
Owners: @QingChenmsft

Add CredScan job to CI (#11353)
  CredScanSuppressions.json
  azure-pipelines.yml
  src/azure-cli/azure/cli/command_modules/servicefabric/_help.py
Owners: @QingChenmsft

remove python 3.4 support
  src/azure-cli-command_modules-nspkg/setup.py
  src/azure-cli-core/setup.py
  src/azure-cli-nspkg/setup.py
  src/azure-cli-telemetry/setup.py
  src/azure-cli-testsdk/setup.py
  src/azure-cli/setup.py
Owners: @jiasli, @zikalino

disk create: add disk encryption set support
  src/azure-cli/azure/cli/command_modules/vm/_params.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_disk_encryption_set.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Owners: @qwordy

add subscriptionTenantId
  src/azure-cli-core/azure/cli/core/_profile.py
  src/azure-cli-core/azure/cli/core/cloud.py
  src/azure-cli-core/azure/cli/core/profiles/_shared.py
  src/azure-cli-core/azure/cli/core/tests/test_profile.py
  src/azure-cli-core/setup.py
  src/azure-cli/azure/cli/command_modules/profile/__init__.py
  src/azure-cli/azure/cli/command_modules/profile/_format.py
  src/azure-cli/azure/cli/command_modules/profile/custom.py
  src/azure-cli/azure/cli/command_modules/profile/tests/latest/test_profile_custom.py
  src/azure-cli/requirements.py2.Darwin.txt
  src/azure-cli/requirements.py2.Linux.txt
  src/azure-cli/requirements.py2.windows.txt
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Owners: @jiasli

more updates for removing python 3.4
  doc/command_guidelines.md
  scripts/ci/build.sh
  tools/setup.py
Owners: @zikalino

update history
  src/azure-cli/HISTORY.rst
Owners: none

Test to add unittest Job to ADO
  .travis.yml
  azure-pipelines.yml
  src/azure-cli-core/tox.ini
  src/azure-cli-telemetry/tox.ini
Owners: @jiasli

Move Job: Integration for profiles to ADO
  .travis.yml
  azure-pipelines.yml
Owners: none

Move Job: Load Extensions to ADO
  .travis.yml
  azure-pipelines.yml
Owners: none

Test PR on master
  .travis.yml
  azure-pipelines.yml
Owners: none

Test PR on master
  .travis.yml
  azure-pipelines.yml
Owners: none

Test PR on master
  azure-pipelines.yml
Owners: none

Test PR on master
  azure-pipelines.yml
Owners: none

Test PR on master
  azure-pipelines.yml
Owners: none

Move Job: Reject PRs to master to ADO
  azure-pipelines.yml
Owners: none

Remove scripts/ci/reject_master_prs.sh
  .travis.yml
  scripts/ci/reject_master_prs.sh
Owners: @zikalino

Test to reduce lines
  azure-pipelines.yml
Owners: none

Test to reduce lines
  azure-pipelines.yml
Owners: none

Test to reduce lines
  azure-pipelines.yml
Owners: none

Test to reduce lines
  azure-pipelines.yml
Owners: none

Temporaty remove IntegrationTestAgainstProfiles on Python 3.8
  azure-pipelines.yml
Owners: none

.github/CODEOWNERS:

# See for instructions on this file https://help.github.com/articles/about-codeowners/

*help.py @sptramer @Juliehzl
*help.yaml @sptramer @Juliehzl
*help.yml  @sptramer @Juliehzl

/tools/ @zikalino
/scripts/ @zikalino
/src/azure-cli-testsdk/ @zikalino
/src/azure-cli-core/ @jiasli
/src/azure-cli/azure/cli/command_modules/acr/ @djyou
/src/azure-cli/azure/cli/command_modules/acs/ @rjtsdl
/src/azure-cli/azure/cli/command_modules/advisor/ @Prasanna-Padmanabhan
/src/azure-cli/azure/cli/command_modules/appservice/ @qwordy
/src/azure-cli/azure/cli/command_modules/backup/ @dragonfly91
/src/azure-cli/azure/cli/command_modules/batch/ @bgklein
/src/azure-cli/azure/cli/command_modules/batchai/ @AlexanderYukhanov
/src/azure-cli/azure/cli/command_modules/cosmosdb/ @dmakwana
/src/azure-cli/azure/cli/command_modules/cloud/ @jiasli
/src/azure-cli/azure/cli/command_modules/container/ @samkreter
/src/azure-cli/azure/cli/command_modules/consumption/ @sandeepnl
/src/azure-cli/azure/cli/command_modules/dls/ @lewu-msft
/src/azure-cli/azure/cli/command_modules/eventgrid/ @kalyanaj
/src/azure-cli/azure/cli/command_modules/extension/ @zikalino
/src/azure-cli/azure/cli/command_modules/keyvault/ @jiasli
/src/azure-cli/azure/cli/command_modules/monitor/ @MyronFanQiu
/src/azure-cli/azure/cli/command_modules/natgateway/ @khannarheams
/src/azure-cli/azure/cli/command_modules/network/ @MyronFanQiu
/src/azure-cli/azure/cli/command_modules/policyinsights/ @cheggert
/src/azure-cli/azure/cli/command_modules/profile/ @jiasli
/src/azure-cli/azure/cli/command_modules/resource/ @Juliehzl
/src/azure-cli/azure/cli/command_modules/role/ @jiasli
/src/azure-cli/azure/cli/command_modules/storage/ @Juliehzl
/src/azure-cli/azure/cli/command_modules/servicefabric/ @QingChenmsft
/src/azure-cli/azure/cli/command_modules/sql/ @jaredmoo
/src/azure-cli/azure/cli/command_modules/vm/ @qwordy
/src/azure-cli/azure/cli/command_modules/eventhubs/ @v-ajnava
/src/azure-cli/azure/cli/command_modules/servicebus/ @v-ajnava
/src/azure-cli/azure/cli/command_modules/apim/ @kevinhillinger @jonlester
