Repository Azure/azure-cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sptramer, @troydai, @djyou, @rjtsdl, @Prasanna-Padmanabhan, @yugangw-msft, @dragonfly91, @annatisch, @AlexanderYukhanov, @tjprescott, @dmakwana, @yolo3301, @sandeepnl, @kalyanaj, @williexu, @bulentelmaci, @QingChenmsft, @jaredmoo, @v-ajnava

support StandardSSD_LRS
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_params.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_validators.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_disk_storage_sku.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Owners: @yugangw-msft

add recordings
  src/command_modules/azure-cli-vm/HISTORY.rst
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/commands.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/custom.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_availset.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_asg.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Owners: @yugangw-msft

updated review comments
  src/command_modules/azure-cli-servicebus/HISTORY.rst
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/_help.py
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/_params.py
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/custom.py
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_migration.yaml
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_namespace.yaml
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_queue.yaml
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_rules.yaml
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_subscription.yaml
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_topic.yaml
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/tests/latest/test_servicebus_commands.py
Owners: @v-ajnava

Fixed typo "detatch" to "detach"
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_help.py
Owners: @yugangw-msft

Fixed typo "unamanged" to "unmanaged"
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_help.py
Owners: @yugangw-msft

Fixed typo "detatch" to "detach" (#6873)
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_help.py
Owners: @yugangw-msft

Fixed typo "detatch" to "detach" (#6873)
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_help.py
Owners: @yugangw-msft

Fixed typo "unamanged" to "unmanaged" (#6874)
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_help.py
Owners: @yugangw-msft

Fixed typo "unamanged" to "unmanaged" (#6874)
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_help.py
Owners: @yugangw-msft

corrected help
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/_help.py
Owners: @v-ajnava

fix for integration
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/_help.py
Owners: @v-ajnava

vm/vmss: support for StandardSSD storage sku, Azure Security Group, list av-set by subscriptions. (#6868)
  src/command_modules/azure-cli-vm/HISTORY.rst
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_params.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_template_builder.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_validators.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/commands.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/custom.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_availset.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_disk_storage_sku.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_asg.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Owners: @yugangw-msft

vm/vmss: support for StandardSSD storage sku, Azure Security Group, list av-set by subscriptions. (#6868)
  src/command_modules/azure-cli-vm/HISTORY.rst
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_params.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_template_builder.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_validators.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/commands.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/custom.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_availset.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_disk_storage_sku.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_asg.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Owners: @yugangw-msft

validate_max_pods must calculate min # of pods
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/_validators.py
Owners: @rjtsdl

try - fix for integration error of unicode char
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/_help.py
Owners: @v-ajnava

lint fix
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/_help.py
Owners: @v-ajnava

[AKS] handle [Ctrl+C] gracefully in "az aks browse"
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/custom.py
Owners: @rjtsdl

Update HISTORY.rst
  src/command_modules/azure-cli-acs/HISTORY.rst
Owners: @rjtsdl

integration fix
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/_help.py
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/_params.py
Owners: @v-ajnava

Move azure-mgmt-msi to 0.2.0
  src/command_modules/azure-cli-vm/setup.py
Owners: @yugangw-msft

Move azure-mgmt-msi to 0.2.0 (#6880)
  src/command_modules/azure-cli-vm/setup.py
Owners: @yugangw-msft

Move azure-mgmt-msi to 0.2.0 (#6880)
  src/command_modules/azure-cli-vm/setup.py
Owners: @yugangw-msft

latest recording for migration
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_migration.yaml
Owners: @v-ajnava

Add example for az network local-gateway wai
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_help.py
Owners: @tjprescott

test recording - localy works fine
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_migration.yaml
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/tests/latest/test_servicebus_commands.py
Owners: @v-ajnava

Add Ddos-Protection Examples
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_help.py
Owners: @tjprescott

use KV MGMT multi-api version
  src/command_modules/azure-cli-batch/azure/cli/command_modules/batch/_validators.py
  src/command_modules/azure-cli-keyvault/azure/cli/command_modules/keyvault/_command_type.py
  src/command_modules/azure-cli-keyvault/azure/cli/command_modules/keyvault/_params.py
  src/command_modules/azure-cli-keyvault/azure/cli/command_modules/keyvault/_validators.py
  src/command_modules/azure-cli-keyvault/azure/cli/command_modules/keyvault/commands.py
  src/command_modules/azure-cli-keyvault/azure/cli/command_modules/keyvault/custom.py
  src/command_modules/azure-cli-servicefabric/azure/cli/command_modules/servicefabric/_client_factory.py
  src/command_modules/azure-cli-servicefabric/azure/cli/command_modules/servicefabric/custom.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_validators.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/custom.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/disk_encryption.py
Owners: @annatisch, @tjprescott, @QingChenmsft, @yugangw-msft

updated params for scope and removed exception_handler for show cmd
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/_params.py
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/commands.py
Owners: @v-ajnava

shorten to --dead-letter-on-filter-exceptions
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/_params.py
Owners: @v-ajnava

Update according to commands review.
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/__init__.py
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/_params.py
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/commands.py
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/tests/latest/test_admin_key.py
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/tests/latest/test_query_key.py
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/tests/latest/test_service.py
Owners: none

recorded test
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_migration.yaml
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/tests/latest/test_servicebus_commands.py
Owners: @v-ajnava

updated history.rst with shorter name
  src/command_modules/azure-cli-servicebus/HISTORY.rst
Owners: @v-ajnava

Add Azure Search CLI Commands. (#6856)
  azure-cli2017.pyproj
  doc/sphinx/azhelpgen/doc_source_map.json
  src/command_modules/azure-cli-search/HISTORY.rst
  src/command_modules/azure-cli-search/MANIFEST.in
  src/command_modules/azure-cli-search/README.rst
  src/command_modules/azure-cli-search/azure/__init__.py
  src/command_modules/azure-cli-search/azure/cli/__init__.py
  src/command_modules/azure-cli-search/azure/cli/command_modules/__init__.py
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/__init__.py
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/_client_factory.py
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/_help.py
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/_params.py
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/commands.py
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/custom.py
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/tests/__init__.py
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/tests/latest/__init__.py
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/tests/latest/recordings/test_admin_key_show_renew.yaml
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/tests/latest/recordings/test_query_key_create_delete_list.yaml
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/tests/latest/recordings/test_service_create_delete_list.yaml
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/tests/latest/recordings/test_service_create_delete_show.yaml
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/tests/latest/recordings/test_service_create_multi_partition.yaml
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/tests/latest/recordings/test_service_create_multi_replica.yaml
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/tests/latest/recordings/test_service_create_skus.yaml
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/tests/latest/recordings/test_service_update.yaml
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/tests/latest/test_admin_key.py
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/tests/latest/test_query_key.py
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/tests/latest/test_service.py
  src/command_modules/azure-cli-search/azure_bdist_wheel.py
  src/command_modules/azure-cli-search/setup.cfg
  src/command_modules/azure-cli-search/setup.py
Owners: @sptramer

Add Azure Search CLI Commands. (#6856)
  azure-cli2017.pyproj
  doc/sphinx/azhelpgen/doc_source_map.json
  src/command_modules/azure-cli-search/HISTORY.rst
  src/command_modules/azure-cli-search/MANIFEST.in
  src/command_modules/azure-cli-search/README.rst
  src/command_modules/azure-cli-search/azure/__init__.py
  src/command_modules/azure-cli-search/azure/cli/__init__.py
  src/command_modules/azure-cli-search/azure/cli/command_modules/__init__.py
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/__init__.py
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/_client_factory.py
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/_help.py
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/_params.py
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/commands.py
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/custom.py
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/tests/__init__.py
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/tests/latest/__init__.py
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/tests/latest/recordings/test_admin_key_show_renew.yaml
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/tests/latest/recordings/test_query_key_create_delete_list.yaml
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/tests/latest/recordings/test_service_create_delete_list.yaml
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/tests/latest/recordings/test_service_create_delete_show.yaml
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/tests/latest/recordings/test_service_create_multi_partition.yaml
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/tests/latest/recordings/test_service_create_multi_replica.yaml
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/tests/latest/recordings/test_service_create_skus.yaml
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/tests/latest/recordings/test_service_update.yaml
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/tests/latest/test_admin_key.py
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/tests/latest/test_query_key.py
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/tests/latest/test_service.py
  src/command_modules/azure-cli-search/azure_bdist_wheel.py
  src/command_modules/azure-cli-search/setup.cfg
  src/command_modules/azure-cli-search/setup.py
Owners: @sptramer

[AKS] handle [Ctrl+C] gracefully in "az aks browse" (#6877)
  src/command_modules/azure-cli-acs/HISTORY.rst
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/custom.py
Owners: @rjtsdl

[AKS] handle [Ctrl+C] gracefully in "az aks browse" (#6877)
  src/command_modules/azure-cli-acs/HISTORY.rst
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/custom.py
Owners: @rjtsdl

[AKS] properly deprecate "az aks create --enable-rbac" argument
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/_help.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/_params.py
Owners: @rjtsdl

Revise Azure CLI Core version to 2.0.43.
  src/azure-cli-core/HISTORY.rst
  src/azure-cli-core/azure/cli/core/__init__.py
  src/azure-cli-core/setup.py
Owners: none

Update doc for SP role assignment include_groups
  src/command_modules/azure-cli-ams/azure/cli/command_modules/ams/operations/sp.py
  src/command_modules/azure-cli-role/azure/cli/command_modules/role/custom.py
Owners: none

Revise Azure CLI Core version to 2.0.43. (#6890)
  src/azure-cli-core/HISTORY.rst
  src/azure-cli-core/azure/cli/core/__init__.py
  src/azure-cli-core/setup.py
Owners: none

.github/CODEOWNERS:

# See for instructions on this file https://help.github.com/articles/about-codeowners/

*help.py @sptramer

/tools/ @troydai
/scripts/ @troydai
/src/azure-cli-testsdk/ @troydai
/src/command_modules/azure-cli-acr/ @djyou
/src/command_modules/azure-cli-acs/ @rjtsdl
/src/command_modules/azure-cli-advisor/ @Prasanna-Padmanabhan
/src/command_modules/azure-cli-appservice/ @yugangw-msft
/src/command_modules/azure-cli-backup/ @dragonfly91
/src/command_modules/azure-cli-batch/ @annatisch 
/src/command_modules/azure-cli-batchai/ @AlexanderYukhanov
/src/command_modules/azure-cli-cdn/ @tjprescott
/src/command_modules/azure-cli-cosmosdb/ @dmakwana
/src/command_modules/azure-cli-cloud/ @yugangw-msft
/src/command_modules/azure-cli-container/ @yolo3301
/src/command_modules/azure-cli-consumption/ @sandeepnl
/src/command_modules/azure-cli-eventgrid/ @kalyanaj
/src/command_modules/azure-cli-extension/ @williexu
/src/command_modules/azure-cli-keyvault/ @tjprescott
/src/command_modules/azure-cli-monitor/ @troydai
/src/command_modules/azure-cli-network/ @tjprescott
/src/command_modules/azure-cli-policyinsights/ @bulentelmaci
/src/command_modules/azure-cli-profile/ @yugangw-msft
/src/command_modules/azure-cli-storage/ @troydai
/src/command_modules/azure-cli-servicefabric/ @QingChenmsft
/src/command_modules/azure-cli-sql/ @jaredmoo
/src/command_modules/azure-cli-vm/ @yugangw-msft
/src/command_modules/azure-cli-eventhubs/ @v-ajnava
/src/command_modules/azure-cli-servicebus/ @v-ajnava
