Repository Azure/azure-cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sptramer, @troydai, @djyou, @rjtsdl, @Prasanna-Padmanabhan, @yugangw-msft, @dragonfly91, @annatisch, @AlexanderYukhanov, @tjprescott, @dmakwana, @yolo3301, @sandeepnl, @kalyanaj, @williexu, @bulentelmaci, @QingChenmsft, @jaredmoo, @v-ajnava

.github/CODEOWNERS:

# See for instructions on this file https://help.github.com/articles/about-codeowners/

*help.py @sptramer

/tools/ @troydai
/scripts/ @troydai
/src/azure-cli-testsdk/ @troydai
/src/command_modules/azure-cli-acr/ @djyou
/src/command_modules/azure-cli-acs/ @rjtsdl
/src/command_modules/azure-cli-advisor/ @Prasanna-Padmanabhan
/src/command_modules/azure-cli-appservice/ @yugangw-msft
/src/command_modules/azure-cli-backup/ @dragonfly91
/src/command_modules/azure-cli-batch/ @annatisch 
/src/command_modules/azure-cli-batchai/ @AlexanderYukhanov
/src/command_modules/azure-cli-cdn/ @tjprescott
/src/command_modules/azure-cli-cosmosdb/ @dmakwana
/src/command_modules/azure-cli-cloud/ @yugangw-msft
/src/command_modules/azure-cli-container/ @yolo3301
/src/command_modules/azure-cli-consumption/ @sandeepnl
/src/command_modules/azure-cli-eventgrid/ @kalyanaj
/src/command_modules/azure-cli-extension/ @williexu
/src/command_modules/azure-cli-keyvault/ @tjprescott
/src/command_modules/azure-cli-monitor/ @troydai
/src/command_modules/azure-cli-network/ @tjprescott
/src/command_modules/azure-cli-policyinsights/ @bulentelmaci
/src/command_modules/azure-cli-profile/ @yugangw-msft
/src/command_modules/azure-cli-storage/ @troydai
/src/command_modules/azure-cli-servicefabric/ @QingChenmsft
/src/command_modules/azure-cli-sql/ @jaredmoo
/src/command_modules/azure-cli-vm/ @yugangw-msft
/src/command_modules/azure-cli-eventhubs/ @v-ajnava
/src/command_modules/azure-cli-servicebus/ @v-ajnava

Add `--force-string` option to generic update
  src/azure-cli-core/HISTORY.rst
  src/azure-cli-core/azure/cli/core/commands/arm.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_vnet.yaml
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/commands.py
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/custom.py
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/tests/latest/recordings/test_resource_group.yaml
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/tests/latest/test_resource.py
Owners: @tjprescott

vm: fix wrong timestamps on creating sas token in vm diagnostics samples (#6755)
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_help.py
Owners: @yugangw-msft

vm: fix wrong timestamps on creating sas token in vm diagnostics samples (#6755)
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_help.py
Owners: @yugangw-msft

Fix AMS test
  src/command_modules/azure-cli-ams/azure/cli/command_modules/ams/_format.py
  src/command_modules/azure-cli-ams/azure/cli/command_modules/ams/tests/latest/recordings/test_ams_sp_create_reset.yaml
  src/command_modules/azure-cli-ams/azure/cli/command_modules/ams/tests/latest/test_ams.py
Owners: none

Fix two RDBMS tests
  src/command_modules/azure-cli-rdbms/azure/cli/command_modules/rdbms/tests/latest/test_rdbms_commands.py
Owners: none

Add __init__.py to ams and rdbms test module
  src/command_modules/azure-cli-ams/azure/cli/command_modules/ams/tests/latest/__init__.py
  src/command_modules/azure-cli-rdbms/azure/cli/command_modules/rdbms/tests/latest/__init__.py
Owners: none

Fix tests (#6736)
  src/command_modules/azure-cli-ams/azure/cli/command_modules/ams/tests/latest/__init__.py
  src/command_modules/azure-cli-ams/azure/cli/command_modules/ams/tests/latest/recordings/test_ams_sp_create_reset.yaml
  src/command_modules/azure-cli-ams/azure/cli/command_modules/ams/tests/latest/test_ams.py
  src/command_modules/azure-cli-rdbms/azure/cli/command_modules/rdbms/tests/latest/__init__.py
  src/command_modules/azure-cli-rdbms/azure/cli/command_modules/rdbms/tests/latest/test_rdbms_commands.py
Owners: none

Fix tests (#6736)
  src/command_modules/azure-cli-ams/azure/cli/command_modules/ams/tests/latest/__init__.py
  src/command_modules/azure-cli-ams/azure/cli/command_modules/ams/tests/latest/recordings/test_ams_sp_create_reset.yaml
  src/command_modules/azure-cli-ams/azure/cli/command_modules/ams/tests/latest/test_ams.py
  src/command_modules/azure-cli-rdbms/azure/cli/command_modules/rdbms/tests/latest/__init__.py
  src/command_modules/azure-cli-rdbms/azure/cli/command_modules/rdbms/tests/latest/test_rdbms_commands.py
Owners: none

Fixed test failure.
  src/command_modules/azure-cli-sql/azure/cli/command_modules/sql/_params.py
Owners: @jaredmoo

Inaccurate comment
  src/command_modules/azure-cli-sql/azure/cli/command_modules/sql/_params.py
Owners: @jaredmoo

Added completer as standard and improved comments
  src/command_modules/azure-cli-sql/azure/cli/command_modules/sql/_params.py
Owners: @jaredmoo

Add OnErrorDeployment properties
  src/command_modules/azure-cli-resource/HISTORY.rst
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/_params.py
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/_validators.py
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/commands.py
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/custom.py
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/tests/latest/recordings/test_group_on_error_deployment_lastsuccessful.yaml
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/tests/latest/recordings/test_group_on_error_deployment_specificdeployment.yaml
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/tests/latest/recordings/test_group_on_error_deployment_specificdeployment_implicit.yaml
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/tests/latest/test_resource.py
Owners: none

Fix Travis prechecks
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/_validators.py
  src/command_modules/azure-cli-resource/setup.py
Owners: none

Remove trailing whitespace
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/_validators.py
Owners: none

Add extra whiteline
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/_validators.py
Owners: none

More style changes
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/custom.py
Owners: none

Remove whitespace
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/custom.py
Owners: none

address review feedback
  src/command_modules/azure-cli-vm/HISTORY.rst
  src/command_modules/azure-cli-vm/setup.py
Owners: @yugangw-msft

Configure default sql server (#6742)
  src/command_modules/azure-cli-sql/HISTORY.rst
  src/command_modules/azure-cli-sql/azure/cli/command_modules/sql/_params.py
Owners: @jaredmoo

Configure default sql server (#6742)
  src/command_modules/azure-cli-sql/HISTORY.rst
  src/command_modules/azure-cli-sql/azure/cli/command_modules/sql/_params.py
Owners: @jaredmoo

Remove explicit versioning informaton in help and supplementary materials. (#6762)
  .snapcraft.yaml
  Dockerfile
  README.md
  build_scripts/debian/dir_creator.sh
  build_scripts/rpm/azure-cli.spec
  cli_license_terms.md
  doc/authoring_command_modules/authoring_commands.md
  doc/azure2az_commands.rst
  doc/classic_cli_migration.md
  src/azure-cli/README.rst
Owners: none

Remove explicit versioning informaton in help and supplementary materials. (#6762)
  .snapcraft.yaml
  Dockerfile
  README.md
  build_scripts/debian/dir_creator.sh
  build_scripts/rpm/azure-cli.spec
  cli_license_terms.md
  doc/authoring_command_modules/authoring_commands.md
  doc/azure2az_commands.rst
  doc/classic_cli_migration.md
  src/azure-cli/README.rst
Owners: none

vmss create: update default instance size to Standard_DS1_v2 (#6758)
  src/command_modules/azure-cli-vm/HISTORY.rst
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_params.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_validators.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_create_and_modify.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
  src/command_modules/azure-cli-vm/setup.py
Owners: @yugangw-msft

vmss create: update default instance size to Standard_DS1_v2 (#6758)
  src/command_modules/azure-cli-vm/HISTORY.rst
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_params.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_validators.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_create_and_modify.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
  src/command_modules/azure-cli-vm/setup.py
Owners: @yugangw-msft

Fix lines too large
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/_validators.py
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/custom.py
Owners: none

added custom_command arg to each generic cmd registering method
  src/azure-cli-core/azure/cli/core/commands/__init__.py
Owners: none

added custom flag for generic commands
  src/azure-cli-core/azure/cli/core/commands/__init__.py
  src/azure-cli-core/azure/cli/core/commands/arm.py
Owners: none

check for 'client' as a client_arg_name
  src/azure-cli-core/azure/cli/core/commands/arm.py
Owners: none

fixed failing tests since show will now fail on missing resources
  src/azure-cli-core/azure/cli/core/commands/arm.py
  src/command_modules/azure-cli-cdn/azure/cli/command_modules/cdn/tests/latest/test_profile_scenarios.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/test_dns_commands.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Owners: @tjprescott, @yugangw-msft

added description loader for generic_show
  src/azure-cli-core/azure/cli/core/commands/arm.py
Owners: none

converted all custom show commands
  src/command_modules/azure-cli-advisor/azure/cli/command_modules/advisor/commands.py
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/commands.py
  src/command_modules/azure-cli-billing/azure/cli/command_modules/billing/commands.py
  src/command_modules/azure-cli-consumption/azure/cli/command_modules/consumption/commands.py
  src/command_modules/azure-cli-container/azure/cli/command_modules/container/commands.py
  src/command_modules/azure-cli-eventgrid/azure/cli/command_modules/eventgrid/commands.py
  src/command_modules/azure-cli-iot/azure/cli/command_modules/iot/commands.py
  src/command_modules/azure-cli-lab/azure/cli/command_modules/lab/commands.py
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/commands.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/commands.py
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/commands.py
  src/command_modules/azure-cli-role/azure/cli/command_modules/role/commands.py
  src/command_modules/azure-cli-sql/azure/cli/command_modules/sql/commands.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/commands.py
Owners: @Prasanna-Padmanabhan, @yugangw-msft, @sandeepnl, @yolo3301, @kalyanaj, @troydai, @tjprescott, @jaredmoo

add custom flag to resolve_operations hidden method
  src/azure-cli-core/azure/cli/core/commands/__init__.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/commands.py
Owners: @rjtsdl

bug fix for 'cmd' in command signature
  src/azure-cli-core/azure/cli/core/commands/arm.py
Owners: none

added catch for sys.exit in test base
  src/azure-cli-testsdk/azure/cli/testsdk/base.py
Owners: @troydai

convert show commands registered with 'command()'
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/commands.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/commands.py
  src/command_modules/azure-cli-ams/azure/cli/command_modules/ams/commands.py
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/commands.py
  src/command_modules/azure-cli-backup/azure/cli/command_modules/backup/commands.py
  src/command_modules/azure-cli-batch/azure/cli/command_modules/batch/commands.py
  src/command_modules/azure-cli-batchai/azure/cli/command_modules/batchai/commands.py
  src/command_modules/azure-cli-billing/azure/cli/command_modules/billing/commands.py
  src/command_modules/azure-cli-cdn/azure/cli/command_modules/cdn/commands.py
  src/command_modules/azure-cli-cloud/azure/cli/command_modules/cloud/__init__.py
  src/command_modules/azure-cli-cognitiveservices/azure/cli/command_modules/cognitiveservices/commands.py
  src/command_modules/azure-cli-cosmosdb/azure/cli/command_modules/cosmosdb/commands.py
  src/command_modules/azure-cli-dla/azure/cli/command_modules/dla/commands.py
  src/command_modules/azure-cli-dls/azure/cli/command_modules/dls/commands.py
  src/command_modules/azure-cli-dms/azure/cli/command_modules/dms/commands.py
  src/command_modules/azure-cli-eventgrid/azure/cli/command_modules/eventgrid/commands.py
  src/command_modules/azure-cli-eventhubs/azure/cli/command_modules/eventhubs/commands.py
  src/command_modules/azure-cli-extension/azure/cli/command_modules/extension/__init__.py
  src/command_modules/azure-cli-keyvault/azure/cli/command_modules/keyvault/commands.py
  src/command_modules/azure-cli-lab/azure/cli/command_modules/lab/commands.py
  src/command_modules/azure-cli-maps/azure/cli/command_modules/maps/commands.py
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/commands.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/commands.py
  src/command_modules/azure-cli-profile/azure/cli/command_modules/profile/__init__.py
  src/command_modules/azure-cli-rdbms/azure/cli/command_modules/rdbms/commands.py
  src/command_modules/azure-cli-redis/azure/cli/command_modules/redis/commands.py
  src/command_modules/azure-cli-reservations/azure/cli/command_modules/reservations/commands.py
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/commands.py
  src/command_modules/azure-cli-role/azure/cli/command_modules/role/commands.py
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/commands.py
  src/command_modules/azure-cli-servicefabric/azure/cli/command_modules/servicefabric/commands.py
  src/command_modules/azure-cli-sql/azure/cli/command_modules/sql/commands.py
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/operations/table.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/commands.py
Owners: @djyou, @rjtsdl, @yugangw-msft, @dragonfly91, @annatisch, @AlexanderYukhanov, @tjprescott, @dmakwana, @kalyanaj, @v-ajnava, @williexu, @troydai, @QingChenmsft, @jaredmoo

bump versions
  src/command_modules/azure-cli-maps/HISTORY.rst
  src/command_modules/azure-cli-maps/setup.py
Owners: none

removed exception_handler=empty_on_404 for commands using generic_show
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/commands.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/commands.py
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/commands.py
  src/command_modules/azure-cli-container/azure/cli/command_modules/container/commands.py
  src/command_modules/azure-cli-eventhubs/azure/cli/command_modules/eventhubs/commands.py
  src/command_modules/azure-cli-keyvault/azure/cli/command_modules/keyvault/commands.py
  src/command_modules/azure-cli-maps/azure/cli/command_modules/maps/commands.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/commands.py
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/commands.py
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/commands.py
  src/command_modules/azure-cli-servicefabric/azure/cli/command_modules/servicefabric/commands.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/commands.py
Owners: @djyou, @rjtsdl, @yugangw-msft, @yolo3301, @v-ajnava, @tjprescott, @QingChenmsft

fix style
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/commands.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/commands.py
  src/command_modules/azure-cli-container/azure/cli/command_modules/container/commands.py
  src/command_modules/azure-cli-keyvault/azure/cli/command_modules/keyvault/commands.py
  src/command_modules/azure-cli-maps/azure/cli/command_modules/maps/commands.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/commands.py
  src/command_modules/azure-cli-servicefabric/azure/cli/command_modules/servicefabric/commands.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/commands.py
Owners: @djyou, @rjtsdl, @yolo3301, @tjprescott, @QingChenmsft, @yugangw-msft

billing history version bump
  src/command_modules/azure-cli-billing/setup.py
Owners: none

pep8
  src/command_modules/azure-cli-iot/azure/cli/command_modules/iot/commands.py
  src/command_modules/azure-cli-sql/azure/cli/command_modules/sql/commands.py
Owners: @jaredmoo
