Repository Azure/azure-cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sptramer, @troydai, @djyou, @rjtsdl, @Prasanna-Padmanabhan, @yugangw-msft, @dragonfly91, @annatisch, @AlexanderYukhanov, @tjprescott, @dmakwana, @yolo3301, @sandeepnl, @kalyanaj, @williexu, @bulentelmaci, @QingChenmsft, @jaredmoo, @v-ajnava

.github/CODEOWNERS:

# See for instructions on this file https://help.github.com/articles/about-codeowners/

*help.py @sptramer

/tools/ @troydai
/scripts/ @troydai
/src/azure-cli-testsdk/ @troydai
/src/command_modules/azure-cli-acr/ @djyou
/src/command_modules/azure-cli-acs/ @rjtsdl
/src/command_modules/azure-cli-advisor/ @Prasanna-Padmanabhan
/src/command_modules/azure-cli-appservice/ @yugangw-msft
/src/command_modules/azure-cli-backup/ @dragonfly91
/src/command_modules/azure-cli-batch/ @annatisch 
/src/command_modules/azure-cli-batchai/ @AlexanderYukhanov
/src/command_modules/azure-cli-cdn/ @tjprescott
/src/command_modules/azure-cli-cosmosdb/ @dmakwana
/src/command_modules/azure-cli-cloud/ @yugangw-msft
/src/command_modules/azure-cli-container/ @yolo3301
/src/command_modules/azure-cli-consumption/ @sandeepnl
/src/command_modules/azure-cli-eventgrid/ @kalyanaj
/src/command_modules/azure-cli-extension/ @williexu
/src/command_modules/azure-cli-keyvault/ @tjprescott
/src/command_modules/azure-cli-monitor/ @troydai
/src/command_modules/azure-cli-network/ @tjprescott
/src/command_modules/azure-cli-policyinsights/ @bulentelmaci
/src/command_modules/azure-cli-profile/ @yugangw-msft
/src/command_modules/azure-cli-storage/ @troydai
/src/command_modules/azure-cli-servicefabric/ @QingChenmsft
/src/command_modules/azure-cli-sql/ @jaredmoo
/src/command_modules/azure-cli-vm/ @yugangw-msft
/src/command_modules/azure-cli-eventhubs/ @v-ajnava
/src/command_modules/azure-cli-servicebus/ @v-ajnava

fixed parser bug assuming value parsed is part of command
  src/azure-cli-core/azure/cli/core/parser.py
Owners: none

Deleting imported
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/custom.py
Owners: @rjtsdl

Cleanup
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/_params.py
Owners: @djyou

Update with the offical package.
  privates/azure_mgmt_resource-2.0.0rc2-py2.py3-none-any.whl
  src/command_modules/azure-cli-acr/setup.py
  src/command_modules/azure-cli-monitor/setup.py
  src/command_modules/azure-cli-network/setup.py
  src/command_modules/azure-cli-resource/setup.py
  src/command_modules/azure-cli-vm/setup.py
Owners: @djyou, @troydai, @tjprescott, @yugangw-msft

Resolve comments. Fix test failures.
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/_help.py
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/_params.py
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/custom.py
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/tests/latest/recordings/test_list_managementgroups.yaml
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/tests/latest/recordings/test_managedappdef.yaml
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/tests/latest/recordings/test_managedappdef_inline.yaml
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/tests/latest/recordings/test_resource_policy.yaml
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/tests/latest/recordings/test_subscription_level_deployment.yaml
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/tests/latest/test_resource.py
Owners: @sptramer

Bump azure-cli-monitor version.
  src/command_modules/azure-cli-monitor/HISTORY.rst
  src/command_modules/azure-cli-monitor/setup.py
Owners: @troydai

Fix format.
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/custom.py
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/tests/latest/test_resource.py
Owners: none

Consistently use the same version models
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/_utils.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/custom.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/replication.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/tests/latest/test_acr_commands_mock.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/webhook.py
Owners: @djyou

update setup.py and history files.
  src/azure-cli-core/HISTORY.rst
  src/command_modules/azure-cli-resource/HISTORY.rst
  src/command_modules/azure-cli-resource/setup.py
  src/command_modules/azure-cli-vm/HISTORY.rst
  src/command_modules/azure-cli-vm/setup.py
Owners: @yugangw-msft

revert some version changes.
  src/azure-cli-core/setup.py
  src/command_modules/azure-cli-acr/HISTORY.rst
  src/command_modules/azure-cli-acr/setup.py
  src/command_modules/azure-cli-network/setup.py
  src/command_modules/azure-cli-resource/HISTORY.rst
  src/command_modules/azure-cli-resource/setup.py
  src/command_modules/azure-cli-vm/HISTORY.rst
  src/command_modules/azure-cli-vm/setup.py
Owners: @djyou, @tjprescott, @yugangw-msft

bump the package versions.
  src/azure-cli-core/setup.py
  src/command_modules/azure-cli-acr/HISTORY.rst
  src/command_modules/azure-cli-acr/setup.py
  src/command_modules/azure-cli-network/HISTORY.rst
  src/command_modules/azure-cli-network/setup.py
  src/command_modules/azure-cli-resource/HISTORY.rst
  src/command_modules/azure-cli-resource/setup.py
  src/command_modules/azure-cli-vm/HISTORY.rst
  src/command_modules/azure-cli-vm/setup.py
Owners: @djyou, @tjprescott, @yugangw-msft

Removed help entries.
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/_help.py
Owners: @sptramer

Fix format.
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/custom.py
Owners: none

fix network version.
  src/command_modules/azure-cli-network/HISTORY.rst
  src/command_modules/azure-cli-network/setup.py
Owners: @tjprescott

resolve conflict.
  src/command_modules/azure-cli-acr/HISTORY.rst
Owners: @djyou

[ACR] Allow case insensitive enum values (#6632)
  src/command_modules/azure-cli-acr/HISTORY.rst
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/_constants.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/_params.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/_utils.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/custom.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/replication.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/tests/latest/test_acr_commands_mock.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/webhook.py
Owners: @djyou

[ACR] Allow case insensitive enum values (#6632)
  src/command_modules/azure-cli-acr/HISTORY.rst
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/_constants.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/_params.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/_utils.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/custom.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/replication.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/tests/latest/test_acr_commands_mock.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/webhook.py
Owners: @djyou

Add top and orderby parameters for show-manifests
  src/command_modules/azure-cli-acr/HISTORY.rst
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/_docker_utils.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/_help.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/_params.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/_utils.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/credential.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/repository.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/tests/latest/test_acr_commands_mock.py
Owners: @djyou

fix format
  src/command_modules/azure-cli-rdbms/azure/cli/command_modules/rdbms/_params.py
Owners: none

Add VNET operations for PostgreSQL and MySQL (#6596)
  src/command_modules/azure-cli-rdbms/HISTORY.rst
  src/command_modules/azure-cli-rdbms/azure/cli/command_modules/rdbms/__init__.py
  src/command_modules/azure-cli-rdbms/azure/cli/command_modules/rdbms/_client_factory.py
  src/command_modules/azure-cli-rdbms/azure/cli/command_modules/rdbms/_help.py
  src/command_modules/azure-cli-rdbms/azure/cli/command_modules/rdbms/_params.py
  src/command_modules/azure-cli-rdbms/azure/cli/command_modules/rdbms/commands.py
  src/command_modules/azure-cli-rdbms/azure/cli/command_modules/rdbms/custom.py
  src/command_modules/azure-cli-rdbms/azure/cli/command_modules/rdbms/tests/latest/recordings/test_mysql_proxy_resources_mgmt.yaml
  src/command_modules/azure-cli-rdbms/azure/cli/command_modules/rdbms/tests/latest/recordings/test_mysql_server_mgmt.yaml
  src/command_modules/azure-cli-rdbms/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_proxy_resources_mgmt.yaml
  src/command_modules/azure-cli-rdbms/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_server_mgmt.yaml
  src/command_modules/azure-cli-rdbms/azure/cli/command_modules/rdbms/tests/latest/test_rdbms_commands.py
  src/command_modules/azure-cli-rdbms/setup.py
Owners: @sptramer

Add VNET operations for PostgreSQL and MySQL (#6596)
  src/command_modules/azure-cli-rdbms/HISTORY.rst
  src/command_modules/azure-cli-rdbms/azure/cli/command_modules/rdbms/__init__.py
  src/command_modules/azure-cli-rdbms/azure/cli/command_modules/rdbms/_client_factory.py
  src/command_modules/azure-cli-rdbms/azure/cli/command_modules/rdbms/_help.py
  src/command_modules/azure-cli-rdbms/azure/cli/command_modules/rdbms/_params.py
  src/command_modules/azure-cli-rdbms/azure/cli/command_modules/rdbms/commands.py
  src/command_modules/azure-cli-rdbms/azure/cli/command_modules/rdbms/custom.py
  src/command_modules/azure-cli-rdbms/azure/cli/command_modules/rdbms/tests/latest/recordings/test_mysql_proxy_resources_mgmt.yaml
  src/command_modules/azure-cli-rdbms/azure/cli/command_modules/rdbms/tests/latest/recordings/test_mysql_server_mgmt.yaml
  src/command_modules/azure-cli-rdbms/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_proxy_resources_mgmt.yaml
  src/command_modules/azure-cli-rdbms/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_server_mgmt.yaml
  src/command_modules/azure-cli-rdbms/azure/cli/command_modules/rdbms/tests/latest/test_rdbms_commands.py
  src/command_modules/azure-cli-rdbms/setup.py
Owners: @sptramer

address feedback
  src/azure-cli-core/azure/cli/core/parser.py
Owners: none

Fix incorrect sub id in error messages (#6611)
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/_utils.py
Owners: @djyou

Fix incorrect sub id in error messages (#6611)
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/_utils.py
Owners: @djyou

BatchAI. Removed documentation change from HISTORY
  src/command_modules/azure-cli-batchai/HISTORY.rst
Owners: @AlexanderYukhanov

Standardize action verbs in command module descriptions. (#6583)
  src/command_modules/azure-cli-backup/HISTORY.rst
  src/command_modules/azure-cli-backup/azure/cli/command_modules/backup/_help.py
  src/command_modules/azure-cli-backup/setup.py
  src/command_modules/azure-cli-configure/HISTORY.rst
  src/command_modules/azure-cli-configure/azure/cli/command_modules/configure/_help.py
  src/command_modules/azure-cli-configure/setup.py
  src/command_modules/azure-cli-feedback/HISTORY.rst
  src/command_modules/azure-cli-feedback/azure/cli/command_modules/feedback/_help.py
  src/command_modules/azure-cli-feedback/setup.py
  src/command_modules/azure-cli-keyvault/HISTORY.rst
  src/command_modules/azure-cli-keyvault/azure/cli/command_modules/keyvault/_help.py
  src/command_modules/azure-cli-keyvault/setup.py
  src/command_modules/azure-cli-redis/HISTORY.rst
  src/command_modules/azure-cli-redis/azure/cli/command_modules/redis/_help.py
  src/command_modules/azure-cli-redis/setup.py
  src/command_modules/azure-cli-vm/HISTORY.rst
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_help.py
  src/command_modules/azure-cli-vm/setup.py
Owners: @dragonfly91, @sptramer, @tjprescott, @yugangw-msft

Standardize action verbs in command module descriptions. (#6583)
  src/command_modules/azure-cli-backup/HISTORY.rst
  src/command_modules/azure-cli-backup/azure/cli/command_modules/backup/_help.py
  src/command_modules/azure-cli-backup/setup.py
  src/command_modules/azure-cli-configure/HISTORY.rst
  src/command_modules/azure-cli-configure/azure/cli/command_modules/configure/_help.py
  src/command_modules/azure-cli-configure/setup.py
  src/command_modules/azure-cli-feedback/HISTORY.rst
  src/command_modules/azure-cli-feedback/azure/cli/command_modules/feedback/_help.py
  src/command_modules/azure-cli-feedback/setup.py
  src/command_modules/azure-cli-keyvault/HISTORY.rst
  src/command_modules/azure-cli-keyvault/azure/cli/command_modules/keyvault/_help.py
  src/command_modules/azure-cli-keyvault/setup.py
  src/command_modules/azure-cli-redis/HISTORY.rst
  src/command_modules/azure-cli-redis/azure/cli/command_modules/redis/_help.py
  src/command_modules/azure-cli-redis/setup.py
  src/command_modules/azure-cli-vm/HISTORY.rst
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_help.py
  src/command_modules/azure-cli-vm/setup.py
Owners: @dragonfly91, @sptramer, @tjprescott, @yugangw-msft

Update _help.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/_help.py
Owners: @rjtsdl

Update HISTORY.rst
  src/command_modules/azure-cli-acs/HISTORY.rst
Owners: @rjtsdl

Add top and orderby parameters for show-manifests (#6631)
  src/command_modules/azure-cli-acr/HISTORY.rst
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/_docker_utils.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/_help.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/_params.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/_utils.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/credential.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/repository.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/tests/latest/test_acr_commands_mock.py
Owners: @djyou

Add top and orderby parameters for show-manifests (#6631)
  src/command_modules/azure-cli-acr/HISTORY.rst
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/_docker_utils.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/_help.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/_params.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/_utils.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/credential.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/repository.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/tests/latest/test_acr_commands_mock.py
Owners: @djyou

Support specific port for k8s dashboard (#6600)
  src/command_modules/azure-cli-acs/HISTORY.rst
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/_help.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/custom.py
  src/command_modules/azure-cli-acs/setup.py
Owners: @rjtsdl

Support specific port for k8s dashboard (#6600)
  src/command_modules/azure-cli-acs/HISTORY.rst
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/_help.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/custom.py
  src/command_modules/azure-cli-acs/setup.py
Owners: @rjtsdl

Add sql server & firewall-rule examples (#6403)
  src/command_modules/azure-cli-sql/azure/cli/command_modules/sql/_help.py
  src/command_modules/azure-cli-sql/azure/cli/command_modules/sql/commands.py
Owners: @jaredmoo

Add sql server & firewall-rule examples (#6403)
  src/command_modules/azure-cli-sql/azure/cli/command_modules/sql/_help.py
  src/command_modules/azure-cli-sql/azure/cli/command_modules/sql/commands.py
Owners: @jaredmoo

Update HISTORY.rst
  src/command_modules/azure-cli-acs/HISTORY.rst
Owners: @rjtsdl

fixing sdk breaking changes
  src/command_modules/azure-cli-container/azure/cli/command_modules/container/_client_factory.py
  src/command_modules/azure-cli-container/azure/cli/command_modules/container/commands.py
  src/command_modules/azure-cli-container/azure/cli/command_modules/container/custom.py
  src/command_modules/azure-cli-container/setup.py
Owners: @yolo3301

Update _help.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/_help.py
Owners: @rjtsdl

Adding --no-wait functionality
  src/command_modules/azure-cli-container/azure/cli/command_modules/container/commands.py
  src/command_modules/azure-cli-container/azure/cli/command_modules/container/custom.py
Owners: @yolo3301

trim pyc from pip
  build_scripts/windows/scripts/build.cmd
Owners: none
