Repository Azure/azure-cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kairu-ms, @jiasli, @jsntcy, @zhoxing-ms, @wangzelin007, @calvinhzy, @bebound, @evelyn-ys, @necusjz, @northtyphoon, @rosanch, @yanzhudd, @zqingqing1, @gtracer, @xizhamsft, @andyliuliming, @fumingzhang, @Prasanna-Padmanabhan, @kevinhillinger, @jonlester, @albertofori, @avanigupta, @panchagnula, @bennerv, @hawkowl, @jewzaam, @rogbas, @dragonfly91, @akshayneema, @bgklein, @gingi, @dpwatrous, @paterasMSFT, @AlexanderYukhanov, @jiaxuwu2021, @luhan2017, @t-bzhan, @sandeepnl, @joseph-porter, @dmakwana, @kristynhamasaki, @akharit, @rahuldutta90, @temandr, @binuj, @VidyaKukke, @v-ajnava, @aim-for-better, @digimaun, @honghr, @khannarheams, @cheggert, @arde0708, @DaeunYim, @alanenriqueo, @huangbolun, @yungezz, @houk-ms, @xfz11, @QingChenmsft, @jaredmoo, @idear1203, @zesluo, @Drewm3, @TravisCragg-MSFT, @nikhilpatel909, @sandeepraichura, @hilaryw29, @GabstaMSFT, @ramankumarlive, @ushnaarshadkhan, @ruslany, @sanchitmehta, @ebencarek, @JennyLawrance, @howang-ms, @vinisoto, @chinadragon0515, @vturecek, @torosent, @pagariyaalok, @Juliehzl, @jijohn14, @Greedygre

[ACR] `az acr token create`: Fix random order of repo valid actions and gateway valid actions in the help message (#27263)
  src/azure-cli/azure/cli/command_modules/acr/_params.py
Owners: @zhoxing-ms, @northtyphoon, @rosanch, @jsntcy, @yanzhudd

add update migration
  src/azure-cli/azure/cli/command_modules/monitor/_params.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/autoscale/_update.py
  src/azure-cli/azure/cli/command_modules/monitor/commands.py
  src/azure-cli/azure/cli/command_modules/monitor/operations/autoscale_settings.py
Owners: @jsntcy, @kairu-ms, @necusjz

update yaml and remove unused code
  src/azure-cli/azure/cli/command_modules/monitor/_autoscale_util.py
  src/azure-cli/azure/cli/command_modules/monitor/_help.py
  src/azure-cli/azure/cli/command_modules/monitor/_params.py
  src/azure-cli/azure/cli/command_modules/monitor/operations/autoscale_settings.py
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_autoscale_refined.yaml
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/test_monitor_autoscale.py
Owners: @jsntcy, @kairu-ms, @necusjz

fix name get
  src/azure-cli/azure/cli/command_modules/monitor/operations/autoscale_settings.py
Owners: @jsntcy, @kairu-ms, @necusjz

Final change to preparers?
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/preparers.py
Owners: @dragonfly91, @zhoxing-ms, @akshayneema, @jsntcy, @yanzhudd

Add warning mesaage for Basic removal in 'az vm create'
  src/azure-cli/azure/cli/command_modules/vm/custom.py
Owners: @zhoxing-ms, @jsntcy, @wangzelin007, @yanzhudd, @Drewm3, @TravisCragg-MSFT, @nikhilpatel909, @sandeepraichura, @hilaryw29, @GabstaMSFT, @ramankumarlive, @ushnaarshadkhan

All tests passing
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_archive.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_crr.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_disk_exclusion.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_identity.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_restore.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_vault.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_hana_archive.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_hana_container.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_hana_item.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_hana_policy.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_hana_protectable_item.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_hana_protection.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_hana_restore.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_hana_rp.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_sql_archive.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_sql_auto_protection.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_sql_container.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_sql_crr.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_sql_item.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_sql_policy.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_sql_protectable_item.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_sql_protection.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_sql_restore.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_sql_restore_as_files.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_sql_rp.yaml
Owners: @dragonfly91, @zhoxing-ms, @akshayneema, @jsntcy, @yanzhudd

AFS passing
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_backup_restore.yaml
Owners: @dragonfly91, @zhoxing-ms, @akshayneema, @jsntcy, @yanzhudd

Style fix
  src/azure-cli/azure/cli/command_modules/backup/custom.py
Owners: @dragonfly91, @zhoxing-ms, @akshayneema, @jsntcy, @yanzhudd

return expires_on from get-access-token
  src/azure-cli/azure/cli/command_modules/profile/custom.py
Owners: @jiasli, @evelyn-ys, @calvinhzy

[MySQL] `az mysql flexible-server replica create`: Add new parameters to support replica creation (#27386)
  src/azure-cli/azure/cli/command_modules/mysql/_params.py
  src/azure-cli/azure/cli/command_modules/mysql/custom.py
Owners: @honghr, @evelyn-ys

move to resource
  src/azure-cli/azure/cli/command_modules/profile/__init__.py
  src/azure-cli/azure/cli/command_modules/profile/tests/latest/test_profile.py
  src/azure-cli/azure/cli/command_modules/resource/__init__.py
  src/azure-cli/azure/cli/command_modules/resource/aaz/__init__.py
  src/azure-cli/azure/cli/command_modules/resource/aaz/latest/__init__.py
  src/azure-cli/azure/cli/command_modules/resource/aaz/latest/account/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/resource/aaz/latest/account/__init__.py
  src/azure-cli/azure/cli/command_modules/resource/aaz/latest/account/_list_locations.py
  src/azure-cli/azure/cli/command_modules/resource/aaz/profile_2018_03_01_hybrid/__init__.py
  src/azure-cli/azure/cli/command_modules/resource/aaz/profile_2018_03_01_hybrid/account/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/resource/aaz/profile_2018_03_01_hybrid/account/__init__.py
  src/azure-cli/azure/cli/command_modules/resource/aaz/profile_2018_03_01_hybrid/account/_list_locations.py
  src/azure-cli/azure/cli/command_modules/resource/aaz/profile_2019_03_01_hybrid/__init__.py
  src/azure-cli/azure/cli/command_modules/resource/aaz/profile_2019_03_01_hybrid/account/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/resource/aaz/profile_2019_03_01_hybrid/account/__init__.py
  src/azure-cli/azure/cli/command_modules/resource/aaz/profile_2019_03_01_hybrid/account/_list_locations.py
  src/azure-cli/azure/cli/command_modules/resource/aaz/profile_2020_09_01_hybrid/__init__.py
  src/azure-cli/azure/cli/command_modules/resource/aaz/profile_2020_09_01_hybrid/account/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/resource/aaz/profile_2020_09_01_hybrid/account/__init__.py
  src/azure-cli/azure/cli/command_modules/resource/aaz/profile_2020_09_01_hybrid/account/_list_locations.py
  src/azure-cli/azure/cli/command_modules/resource/linter_exclusions.yml
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/recordings/test_list_locations.yaml
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/test_resource.py
Owners: @jiasli, @evelyn-ys, @calvinhzy, @zhoxing-ms, @jsntcy, @yanzhudd

fix test case for auth
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/recordings/test_containerapp_auth_e2e.yaml
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/recordings/test_containerapp_auth_facebook_e2e.yaml
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/recordings/test_containerapp_auth_github_e2e.yaml
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/recordings/test_containerapp_auth_openid_connect_e2e.yaml
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/test_containerapp_auth_commands.py
Owners: @ruslany, @sanchitmehta, @ebencarek, @JennyLawrance, @howang-ms, @vinisoto, @chinadragon0515, @vturecek, @torosent, @pagariyaalok, @Juliehzl, @jijohn14, @Greedygre

fix test
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/recordings/test_containerapp_auth_github_e2e.yaml
Owners: @ruslany, @sanchitmehta, @ebencarek, @JennyLawrance, @howang-ms, @vinisoto, @chinadragon0515, @vturecek, @torosent, @pagariyaalok, @Juliehzl, @jijohn14, @Greedygre

Updated recoveryservices SDK version
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
Owners: none

Revert "{Mysql} az mysql flexible-server import create: Add firewall rule migration from single to flex (#27370)"
  src/azure-cli/azure/cli/command_modules/mysql/_client_factory.py
  src/azure-cli/azure/cli/command_modules/mysql/_util.py
  src/azure-cli/azure/cli/command_modules/mysql/custom.py
  src/azure-cli/azure/cli/command_modules/mysql/tests/latest/recordings/test_mysql_flexible_server_import_create.yaml
Owners: @honghr, @evelyn-ys

resolve pylint failures
  src/azure-cli/azure/cli/command_modules/backup/custom.py
Owners: @dragonfly91, @zhoxing-ms, @akshayneema, @jsntcy, @yanzhudd

also add new SDK in setup.py
  src/azure-cli/setup.py
Owners: none

Add msg in 'az vm create'
  src/azure-cli/azure/cli/command_modules/vm/custom.py
Owners: @zhoxing-ms, @jsntcy, @wangzelin007, @yanzhudd, @Drewm3, @TravisCragg-MSFT, @nikhilpatel909, @sandeepraichura, @hilaryw29, @GabstaMSFT, @ramankumarlive, @ushnaarshadkhan

Change msg in 'az vm create'
  src/azure-cli/azure/cli/command_modules/vm/custom.py
Owners: @zhoxing-ms, @jsntcy, @wangzelin007, @yanzhudd, @Drewm3, @TravisCragg-MSFT, @nikhilpatel909, @sandeepraichura, @hilaryw29, @GabstaMSFT, @ramankumarlive, @ushnaarshadkhan

Fixed linter and final styling issues
  src/azure-cli/azure/cli/command_modules/backup/_help.py
  src/azure-cli/azure/cli/command_modules/backup/custom.py
Owners: @dragonfly91, @zhoxing-ms, @akshayneema, @jsntcy, @yanzhudd

{containerapp} `az containerapp auth`: Fix test case (#27412)
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/recordings/test_containerapp_auth_e2e.yaml
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/recordings/test_containerapp_auth_facebook_e2e.yaml
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/recordings/test_containerapp_auth_github_e2e.yaml
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/recordings/test_containerapp_auth_openid_connect_e2e.yaml
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/test_containerapp_auth_commands.py
Owners: @ruslany, @sanchitmehta, @ebencarek, @JennyLawrance, @howang-ms, @vinisoto, @chinadragon0515, @vturecek, @torosent, @pagariyaalok, @Juliehzl, @jijohn14, @Greedygre

u
  src/azure-cli/azure/cli/command_modules/mysql/custom.py
Owners: @honghr, @evelyn-ys

.github/CODEOWNERS:

# See for instructions on this file https://help.github.com/articles/about-codeowners/

*help.py @kairu-ms @jiasli @jsntcy
*help.yaml @kairu-ms @jiasli @jsntcy
*help.yml @kairu-ms @jiasli @jsntcy

/linter_exclusions.yml @jsntcy @kairu-ms @zhoxing-ms

/doc/ @jiasli @kairu-ms @jsntcy
/tools/ @kairu-ms @jiasli @wangzelin007 @calvinhzy
/scripts/ @kairu-ms @jiasli @wangzelin007 @calvinhzy @bebound
/scripts/live_test @kairu-ms @wangzelin007
/src/azure-cli-testsdk/ @jsntcy @jiasli @kairu-ms @wangzelin007

/src/azure-cli-core/ @jiasli @evelyn-ys @jsntcy @kairu-ms @zhoxing-ms @calvinhzy @necusjz
/src/azure-cli-core/azure/cli/core/_profile.py @jiasli @evelyn-ys @calvinhzy
/src/azure-cli-core/azure/cli/core/auth/ @jiasli @evelyn-ys @calvinhzy
/src/azure-cli-core/azure/cli/core/extension/ @jsntcy @kairu-ms
/src/azure-cli-core/azure/cli/core/style.py @jiasli @evelyn-ys @zhoxing-ms
/src/azure-cli-core/azure/cli/core/aaz/ @kairu-ms @necusjz @calvinhzy @jsntcy

/src/azure-cli/azure/cli/command_modules/acr/ @zhoxing-ms @northtyphoon @rosanch @jsntcy @yanzhudd
/src/azure-cli/azure/cli/command_modules/acs/ @zhoxing-ms @zqingqing1 @gtracer @xizhamsft @andyliuliming @fumingzhang @jsntcy @yanzhudd
/src/azure-cli/azure/cli/command_modules/advisor/ @Prasanna-Padmanabhan
/src/azure-cli/azure/cli/command_modules/apim/ @kevinhillinger @jonlester
/src/azure-cli/azure/cli/command_modules/appconfig/ @albertofori @avanigupta @zhoxing-ms @jsntcy @yanzhudd
/src/azure-cli/azure/cli/command_modules/appservice/ @panchagnula @jsntcy @zhoxing-ms @yanzhudd
/src/azure-cli/azure/cli/command_modules/aro/ @bennerv @hawkowl @jewzaam @rogbas
/src/azure-cli/azure/cli/command_modules/backup/ @dragonfly91 @zhoxing-ms @akshayneema @jsntcy @yanzhudd
/src/azure-cli/azure/cli/command_modules/batch/ @bgklein @gingi @dpwatrous @paterasMSFT @zhoxing-ms @jsntcy @yanzhudd
/src/azure-cli/azure/cli/command_modules/batchai/ @AlexanderYukhanov
/src/azure-cli/azure/cli/command_modules/botservice/ @jiaxuwu2021 @luhan2017
/src/azure-cli/azure/cli/command_modules/cdn/ @jsntcy @kairu-ms @wangzelin007 @necusjz @t-bzhan
/src/azure-cli/azure/cli/command_modules/cloud/ @jiasli @evelyn-ys
/src/azure-cli/azure/cli/command_modules/consumption/ @sandeepnl
/src/azure-cli/azure/cli/command_modules/container/ @joseph-porter
/src/azure-cli/azure/cli/command_modules/cosmosdb/ @dmakwana @kristynhamasaki @evelyn-ys @calvinhzy
/src/azure-cli/azure/cli/command_modules/databoxedge/ @evelyn-ys
/src/azure-cli/azure/cli/command_modules/dls/ @akharit @rahuldutta90 @jsntcy
/src/azure-cli/azure/cli/command_modules/dms/ @temandr @binuj
/src/azure-cli/azure/cli/command_modules/eventgrid/ @evelyn-ys @VidyaKukke
/src/azure-cli/azure/cli/command_modules/eventhubs/ @v-ajnava
/src/azure-cli/azure/cli/command_modules/extension/ @jsntcy @kairu-ms
/src/azure-cli/azure/cli/command_modules/feedback/ @jiasli @kairu-ms
/src/azure-cli/azure/cli/command_modules/hdinsight/ @aim-for-better @kairu-ms
/src/azure-cli/azure/cli/command_modules/identity/ @zhoxing-ms @jiasli @yanzhudd
/src/azure-cli/azure/cli/command_modules/iot/ @digimaun @zhoxing-ms @yanzhudd
/src/azure-cli/azure/cli/command_modules/keyvault/ @evelyn-ys @jiasli @calvinhzy
/src/azure-cli/azure/cli/command_modules/monitor/ @jsntcy @kairu-ms @necusjz
/src/azure-cli/azure/cli/command_modules/mysql/ @honghr @evelyn-ys
/src/azure-cli/azure/cli/command_modules/natgateway/ @khannarheams @jsntcy @kairu-ms @necusjz
/src/azure-cli/azure/cli/command_modules/network/ @jsntcy @kairu-ms @wangzelin007 @necusjz
/src/azure-cli/azure/cli/command_modules/policyinsights/ @cheggert
/src/azure-cli/azure/cli/command_modules/privatedns/ @jsntcy @kairu-ms @necusjz
/src/azure-cli/azure/cli/command_modules/profile/ @jiasli @evelyn-ys @calvinhzy
/src/azure-cli/azure/cli/command_modules/rdbms/ @arde0708 @evelyn-ys @DaeunYim @calvinhzy @alanenriqueo
/src/azure-cli/azure/cli/command_modules/resource/ @zhoxing-ms @jsntcy @yanzhudd
/src/azure-cli/azure/cli/command_modules/role/ @jiasli @evelyn-ys @calvinhzy
/src/azure-cli/azure/cli/command_modules/search/ @huangbolun @kairu-ms
/src/azure-cli/azure/cli/command_modules/servicebus/ @v-ajnava @zhoxing-ms @jsntcy @evelyn-ys
/src/azure-cli/azure/cli/command_modules/serviceconnector/ @yungezz @houk-ms @xfz11 @yanzhudd @kairu-ms
/src/azure-cli/azure/cli/command_modules/servicefabric/ @QingChenmsft @zhoxing-ms @jsntcy @yanzhudd
/src/azure-cli/azure/cli/command_modules/sql/ @jaredmoo @evelyn-ys @calvinhzy
/src/azure-cli/azure/cli/command_modules/storage/ @jsntcy @zhoxing-ms @evelyn-ys @calvinhzy
/src/azure-cli/azure/cli/command_modules/synapse/ @jsntcy @idear1203 @zesluo @evelyn-ys
/src/azure-cli/azure/cli/command_modules/util/ @jiasli @zhoxing-ms @evelyn-ys
/src/azure-cli/azure/cli/command_modules/vm/ @zhoxing-ms @jsntcy @wangzelin007 @yanzhudd @Drewm3 @TravisCragg-MSFT @nikhilpatel909 @sandeepraichura @hilaryw29 @GabstaMSFT @ramankumarlive @ushnaarshadkhan
/src/azure-cli/azure/cli/command_modules/containerapp/ @ruslany @sanchitmehta @ebencarek @JennyLawrance @howang-ms @vinisoto @chinadragon0515 @vturecek @torosent @pagariyaalok @Juliehzl @jijohn14 @Greedygre
