Repository Azure/azure-cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kairu-ms, @jiasli, @jsntcy, @dbradish-microsoft, @evelyn-ys, @zhoxing-ms, @northtyphoon, @rosanch, @zqingqing1, @gtracer, @xizhamsft, @andyliuliming, @fumingzhang, @Prasanna-Padmanabhan, @kevinhillinger, @jonlester, @shenmuxiaosen, @avanigupta, @panchagnula, @mjudeikis, @jim-minter, @dragonfly91, @akshayneema, @bgklein, @gingi, @dpwatrous, @paterasMSFT, @AlexanderYukhanov, @sandeepnl, @dmakwana, @kristynhamasaki, @akharit, @rahuldutta90, @temandr, @binuj, @VidyaKukke, @v-ajnava, @aim-for-better, @digimaun, @khannarheams, @cheggert, @arde0708, @DaeunYim, @huangbolun, @QingChenmsft, @jaredmoo, @calvinhzy, @idear1203, @zesluo

.github/CODEOWNERS:

# See for instructions on this file https://help.github.com/articles/about-codeowners/

*help.py @kairu-ms @jiasli @jsntcy
*help.yaml @kairu-ms @jiasli @jsntcy
*help.yml @kairu-ms @jiasli @jsntcy

/linter_exclusions.yml @jsntcy @kairu-ms

/doc/ @jiasli @kairu-ms @jsntcy @dbradish-microsoft
/tools/ @kairu-ms @jiasli
/scripts/ @kairu-ms @jiasli
/scripts/live_test @kairu-ms
/src/azure-cli-testsdk/ @jsntcy @jiasli @kairu-ms

/src/azure-cli-core/ @jiasli @evelyn-ys @jsntcy @kairu-ms @zhoxing-ms
/src/azure-cli-core/azure/cli/core/_profile.py @jiasli @evelyn-ys
/src/azure-cli-core/azure/cli/core/adal_authentication.py @jiasli @evelyn-ys
/src/azure-cli-core/azure/cli/core/extension/ @jsntcy @kairu-ms
/src/azure-cli-core/azure/cli/core/msal_authentication.py @jiasli @evelyn-ys
/src/azure-cli-core/azure/cli/core/style.py @jiasli @evelyn-ys @zhoxing-ms

/src/azure-cli/azure/cli/command_modules/acr/ @zhoxing-ms @northtyphoon @rosanch @jsntcy
/src/azure-cli/azure/cli/command_modules/acs/ @zhoxing-ms @zqingqing1 @gtracer @xizhamsft @andyliuliming @fumingzhang @jsntcy
/src/azure-cli/azure/cli/command_modules/advisor/ @Prasanna-Padmanabhan
/src/azure-cli/azure/cli/command_modules/apim/ @kevinhillinger @jonlester
/src/azure-cli/azure/cli/command_modules/appconfig/ @shenmuxiaosen @avanigupta @zhoxing-ms @jsntcy
/src/azure-cli/azure/cli/command_modules/appservice/ @panchagnula @jsntcy @zhoxing-ms
/src/azure-cli/azure/cli/command_modules/aro/ @mjudeikis @jim-minter
/src/azure-cli/azure/cli/command_modules/backup/ @dragonfly91 @zhoxing-ms @akshayneema @jsntcy
/src/azure-cli/azure/cli/command_modules/batch/ @bgklein @gingi @dpwatrous @paterasMSFT @zhoxing-ms @jsntcy
/src/azure-cli/azure/cli/command_modules/batchai/ @AlexanderYukhanov
/src/azure-cli/azure/cli/command_modules/cloud/ @jiasli @evelyn-ys
/src/azure-cli/azure/cli/command_modules/consumption/ @sandeepnl
/src/azure-cli/azure/cli/command_modules/container/ @zhoxing-ms @jsntcy
/src/azure-cli/azure/cli/command_modules/cosmosdb/ @dmakwana @kristynhamasaki @evelyn-ys
/src/azure-cli/azure/cli/command_modules/databoxedge/ @evelyn-ys
/src/azure-cli/azure/cli/command_modules/dls/ @akharit @rahuldutta90 @jsntcy
/src/azure-cli/azure/cli/command_modules/dms/ @temandr @binuj
/src/azure-cli/azure/cli/command_modules/eventgrid/ @evelyn-ys @VidyaKukke
/src/azure-cli/azure/cli/command_modules/eventhubs/ @v-ajnava
/src/azure-cli/azure/cli/command_modules/extension/ @jsntcy @kairu-ms
/src/azure-cli/azure/cli/command_modules/feedback/ @jiasli @kairu-ms
/src/azure-cli/azure/cli/command_modules/hdinsight/ @aim-for-better @kairu-ms
/src/azure-cli/azure/cli/command_modules/iot/ @digimaun @zhoxing-ms
/src/azure-cli/azure/cli/command_modules/keyvault/ @evelyn-ys @jiasli
/src/azure-cli/azure/cli/command_modules/monitor/ @jsntcy @kairu-ms
/src/azure-cli/azure/cli/command_modules/natgateway/ @khannarheams @jsntcy @kairu-ms
/src/azure-cli/azure/cli/command_modules/network/ @jsntcy @kairu-ms
/src/azure-cli/azure/cli/command_modules/policyinsights/ @cheggert
/src/azure-cli/azure/cli/command_modules/privatedns/ @jsntcy @kairu-ms
/src/azure-cli/azure/cli/command_modules/profile/ @jiasli @evelyn-ys
/src/azure-cli/azure/cli/command_modules/rdbms/ @arde0708 @evelyn-ys @DaeunYim
/src/azure-cli/azure/cli/command_modules/resource/ @zhoxing-ms @jsntcy
/src/azure-cli/azure/cli/command_modules/role/ @jiasli @evelyn-ys
/src/azure-cli/azure/cli/command_modules/search/ @huangbolun @kairu-ms
/src/azure-cli/azure/cli/command_modules/servicebus/ @v-ajnava @zhoxing-ms @jsntcy
/src/azure-cli/azure/cli/command_modules/servicefabric/ @QingChenmsft @zhoxing-ms @jsntcy
/src/azure-cli/azure/cli/command_modules/sql/ @jaredmoo @evelyn-ys
/src/azure-cli/azure/cli/command_modules/storage/ @jsntcy @zhoxing-ms @evelyn-ys @calvinhzy
/src/azure-cli/azure/cli/command_modules/synapse/ @jsntcy @idear1203 @zesluo @evelyn-ys
/src/azure-cli/azure/cli/command_modules/util/ @jiasli @zhoxing-ms @evelyn-ys
/src/azure-cli/azure/cli/command_modules/vm/ @zhoxing-ms @jsntcy

commented test_backup_crr
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/test_backup_commands.py
Owners: @dragonfly91, @zhoxing-ms, @akshayneema, @jsntcy

{Network} Rename args of custom ip status (#19740)
  src/azure-cli/azure/cli/command_modules/network/_params.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Owners: @jsntcy, @kairu-ms

{Network} Rename args of custom ip status (#19740)
  src/azure-cli/azure/cli/command_modules/network/_params.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Owners: @jsntcy, @kairu-ms

fix failed tests
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_private_endpoint_connection_aml.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_private_link_resource_aml.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_private_endpoint_commands.py
Owners: @jsntcy, @kairu-ms

[Network] `az network private-endpoint-connection`: support `Microsoft.MachineLearningServices/workspaces` (#19729)
  src/azure-cli/azure/cli/command_modules/network/private_link_resource_and_endpoint_connections/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_private_endpoint_connection_aml.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_private_link_resource_aml.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_private_endpoint_commands.py
Owners: @jsntcy, @kairu-ms

[Network] `az network private-endpoint-connection`: support `Microsoft.MachineLearningServices/workspaces` (#19729)
  src/azure-cli/azure/cli/command_modules/network/private_link_resource_and_endpoint_connections/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_private_endpoint_connection_aml.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_private_link_resource_aml.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_private_endpoint_commands.py
Owners: @jsntcy, @kairu-ms

Fix api-version in yaml
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/recordings/test_tag_update_by_patch.yaml
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/test_resource.py
Owners: @zhoxing-ms, @jsntcy

Fix api-version in yaml (#19745)
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/recordings/test_tag_update_by_patch.yaml
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/test_resource.py
Owners: @zhoxing-ms, @jsntcy

Fix api-version in yaml (#19745)
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/recordings/test_tag_update_by_patch.yaml
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/test_resource.py
Owners: @zhoxing-ms, @jsntcy

keyvault SKR
  src/azure-cli/azure/cli/command_modules/keyvault/_params.py
  src/azure-cli/azure/cli/command_modules/keyvault/_transformers.py
  src/azure-cli/azure/cli/command_modules/keyvault/_validators.py
  src/azure-cli/azure/cli/command_modules/keyvault/commands.py
  src/azure-cli/azure/cli/command_modules/keyvault/custom.py
Owners: @evelyn-ys, @jiasli

[Compute] `az sig image-version`: Add new parameter `--replication-mode` to support setting replication mode (#19580)
  src/azure-cli-core/azure/cli/core/profiles/_shared.py
  src/azure-cli/azure/cli/command_modules/vm/_params.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_create_vm_with_shared_gallery_image.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_gallery_e2e.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_gallery_image_version_vhd.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_gallery_specialized.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_image_build_shared_image.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_replication_mode.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_shared_gallery.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_specialized_image.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_disk_max_shares_etc.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Owners: @jiasli, @evelyn-ys, @jsntcy, @kairu-ms, @zhoxing-ms

[Compute] `az sig image-version`: Add new parameter `--replication-mode` to support setting replication mode (#19580)
  src/azure-cli-core/azure/cli/core/profiles/_shared.py
  src/azure-cli/azure/cli/command_modules/vm/_params.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_create_vm_with_shared_gallery_image.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_gallery_e2e.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_gallery_image_version_vhd.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_gallery_specialized.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_image_build_shared_image.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_replication_mode.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_shared_gallery.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_specialized_image.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_disk_max_shares_etc.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Owners: @jiasli, @evelyn-ys, @jsntcy, @kairu-ms, @zhoxing-ms

[App Service] `az logicapp start/restart/stop`: Add new commands for logicapp (#19613)
  src/azure-cli/azure/cli/command_modules/appservice/commands.py
  src/azure-cli/azure/cli/command_modules/appservice/logicapp/_help.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_logicapp_e2e.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_logicapp_on_linux.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_logicapp_windows.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_logicapp_commands.py
Owners: @panchagnula, @jsntcy, @zhoxing-ms

[App Service] `az logicapp start/restart/stop`: Add new commands for logicapp (#19613)
  src/azure-cli/azure/cli/command_modules/appservice/commands.py
  src/azure-cli/azure/cli/command_modules/appservice/logicapp/_help.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_logicapp_e2e.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_logicapp_on_linux.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_logicapp_windows.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_logicapp_commands.py
Owners: @panchagnula, @jsntcy, @zhoxing-ms

[App Service] `az webapp config storage-account`: Update parameter descriptions (#19646)
  src/azure-cli/azure/cli/command_modules/appservice/_params.py
Owners: @panchagnula, @jsntcy, @zhoxing-ms

[App Service] `az webapp config storage-account`: Update parameter descriptions (#19646)
  src/azure-cli/azure/cli/command_modules/appservice/_params.py
Owners: @panchagnula, @jsntcy, @zhoxing-ms

Finished writing all ITs but need to test, get & creates are currently down
  src/azure-cli/azure/cli/command_modules/resource/custom.py
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/test_resource.py
  src/azure-cli/setup.py
Owners: @zhoxing-ms, @jsntcy

fix for failing test and CLI style
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/recordings/test_tag_update_by_patch.yaml
  src/azure-cli/azure/cli/command_modules/servicebus/commands.py
  src/azure-cli/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_privateendpoint.yaml
  src/azure-cli/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_rules.yaml
  src/azure-cli/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_topic.yaml
Owners: @zhoxing-ms, @jsntcy, @v-ajnava

faied test re-recorded
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_private_endpoint_connection_service_bus.yaml
Owners: @jsntcy, @kairu-ms

all test cases are passing
  src/azure-cli/azure/cli/command_modules/dms/custom.py
  src/azure-cli/azure/cli/command_modules/dms/tests/latest/test_service_scenarios.py
Owners: @temandr, @binuj

adding connected registry cli testing
  src/azure-cli/azure/cli/command_modules/acr/_params.py
  src/azure-cli/azure/cli/command_modules/acr/connected_registry.py
  src/azure-cli/azure/cli/command_modules/acr/tests/latest/recordings/test_acr_connectedregistry.yaml
  src/azure-cli/azure/cli/command_modules/acr/tests/latest/test_acr_connectedregistry_commands.py
Owners: @zhoxing-ms, @northtyphoon, @rosanch, @jsntcy

All IT passed except for ss sub delete and sub create
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/test_resource.py
Owners: @zhoxing-ms, @jsntcy

validation added
  .vscode/launch.json
  src/azure-cli/azure/cli/command_modules/dms/_help.py
  src/azure-cli/azure/cli/command_modules/dms/custom.py
  src/azure-cli/azure/cli/command_modules/dms/scenario_inputs.py
  src/azure-cli/azure/cli/command_modules/dms/tests/latest/test_service_scenarios.py
Owners: @temandr, @binuj

{App Service} Change help text for az webapp config set
  src/azure-cli/azure/cli/command_modules/appservice/_params.py
Owners: @panchagnula, @jsntcy, @zhoxing-ms

allow overriding docker image name during slot creation if specifying a configuration source
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
Owners: @panchagnula, @jsntcy, @zhoxing-ms

pylint fixes
  src/azure-cli/azure/cli/command_modules/acr/_help.py
  src/azure-cli/azure/cli/command_modules/acr/commands.py
  src/azure-cli/azure/cli/command_modules/acr/connected_registry.py
Owners: @zhoxing-ms, @northtyphoon, @rosanch, @jsntcy

added test for validation
  src/azure-cli/azure/cli/command_modules/dms/tests/latest/test_service_scenarios.py
Owners: @temandr, @binuj

Added bicep file functionality
  src/azure-cli/azure/cli/command_modules/resource/custom.py
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/test_resource.py
Owners: @zhoxing-ms, @jsntcy

style errors
  src/azure-cli/azure/cli/command_modules/dms/_help.py
  src/azure-cli/azure/cli/command_modules/dms/scenario_inputs.py
Owners: @temandr, @binuj

georestore
  src/azure-cli/azure/cli/command_modules/rdbms/_flexible_server_util.py
  src/azure-cli/azure/cli/command_modules/rdbms/_params.py
  src/azure-cli/azure/cli/command_modules/rdbms/flexible_server_commands.py
  src/azure-cli/azure/cli/command_modules/rdbms/flexible_server_custom_mysql.py
  src/azure-cli/azure/cli/command_modules/rdbms/flexible_server_virtual_network.py
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_mysql_flexible_server_georestore_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/test_rdbms_flexible_commands.py
  src/azure-cli/azure/cli/command_modules/rdbms/validators.py
Owners: @arde0708, @evelyn-ys, @DaeunYim

added history changes
  .vscode/launch.json
  src/azure-cli/HISTORY.rst
Owners: none

geo restore
  src/azure-cli/azure/cli/command_modules/rdbms/flexible_server_custom_mysql.py
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_mysql_flexible_server_georestore_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/test_rdbms_flexible_commands.py
  src/azure-cli/azure/cli/command_modules/rdbms/validators.py
Owners: @arde0708, @evelyn-ys, @DaeunYim

removing preview tag for MySQL
  src/azure-cli/azure/cli/command_modules/rdbms/flexible_server_commands.py
Owners: @arde0708, @evelyn-ys, @DaeunYim

replica validator update
  eastus2.json
  src/azure-cli/azure/cli/command_modules/rdbms/flexible_server_custom_mysql.py
  src/azure-cli/azure/cli/command_modules/rdbms/validators.py
Owners: @arde0708, @evelyn-ys, @DaeunYim

Adding recording
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_private_endpoint_connection_web.yaml
Owners: @jsntcy, @kairu-ms

Clean-up template spec create confirmation message
  src/azure-cli/azure/cli/command_modules/resource/custom.py
Owners: @zhoxing-ms, @jsntcy

fix dependencies for multiple installations
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Owners: none

allow overriding docker registry user/pw on slot create
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
Owners: @panchagnula, @jsntcy, @zhoxing-ms

pylint fixes
  src/azure-cli/azure/cli/command_modules/acr/commands.py
Owners: @zhoxing-ms, @northtyphoon, @rosanch, @jsntcy

test record fix
  src/azure-cli/azure/cli/command_modules/acr/tests/latest/recordings/test_acr_connectedregistry.yaml
Owners: @zhoxing-ms, @northtyphoon, @rosanch, @jsntcy
