Repository Azure/azure-cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sptramer, @troydai, @djyou, @rjtsdl, @Prasanna-Padmanabhan, @yugangw-msft, @dragonfly91, @annatisch, @AlexanderYukhanov, @tjprescott, @dmakwana, @yolo3301, @sandeepnl, @kalyanaj, @williexu, @bulentelmaci, @QingChenmsft, @jaredmoo, @v-ajnava

.github/CODEOWNERS:

# See for instructions on this file https://help.github.com/articles/about-codeowners/

*help.py @sptramer

/tools/ @troydai
/scripts/ @troydai
/src/azure-cli-testsdk/ @troydai
/src/command_modules/azure-cli-acr/ @djyou
/src/command_modules/azure-cli-acs/ @rjtsdl
/src/command_modules/azure-cli-advisor/ @Prasanna-Padmanabhan
/src/command_modules/azure-cli-appservice/ @yugangw-msft
/src/command_modules/azure-cli-backup/ @dragonfly91
/src/command_modules/azure-cli-batch/ @annatisch 
/src/command_modules/azure-cli-batchai/ @AlexanderYukhanov
/src/command_modules/azure-cli-cdn/ @tjprescott
/src/command_modules/azure-cli-cosmosdb/ @dmakwana
/src/command_modules/azure-cli-cloud/ @yugangw-msft
/src/command_modules/azure-cli-container/ @yolo3301
/src/command_modules/azure-cli-consumption/ @sandeepnl
/src/command_modules/azure-cli-eventgrid/ @kalyanaj
/src/command_modules/azure-cli-extension/ @williexu
/src/command_modules/azure-cli-keyvault/ @tjprescott
/src/command_modules/azure-cli-monitor/ @troydai
/src/command_modules/azure-cli-network/ @tjprescott
/src/command_modules/azure-cli-policyinsights/ @bulentelmaci
/src/command_modules/azure-cli-profile/ @yugangw-msft
/src/command_modules/azure-cli-storage/ @troydai
/src/command_modules/azure-cli-servicefabric/ @QingChenmsft
/src/command_modules/azure-cli-sql/ @jaredmoo
/src/command_modules/azure-cli-vm/ @yugangw-msft
/src/command_modules/azure-cli-eventhubs/ @v-ajnava
/src/command_modules/azure-cli-servicebus/ @v-ajnava

Fix MSI for msrestazure 0.4.34
  src/azure-cli-core/azure/cli/core/_profile.py
Owners: none

Fix test
  src/azure-cli-core/azure/cli/core/tests/test_profile.py
Owners: none

Temporarily disable automation on 2.7
  .travis.yml
Owners: none

Remove output surpress in automation
  .travis.yml
  tools/automation/tests/main.py
Owners: @troydai

Temporarily disable automation on 2.7 (#6709)
  .travis.yml
  tools/automation/tests/main.py
Owners: @troydai

Temporarily disable automation on 2.7 (#6709)
  .travis.yml
  tools/automation/tests/main.py
Owners: @troydai

[AKS] error if --max-pods is less than 5
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/_params.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/_validators.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_bad_inputs.yaml
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
Owners: @rjtsdl

Update HISTORY.rst
  src/command_modules/azure-cli-acs/HISTORY.rst
  src/command_modules/azure-cli-acs/setup.py
Owners: @rjtsdl

Fix MSI for msrestazure 0.4.34 (#6705)
  src/azure-cli-core/azure/cli/core/_profile.py
  src/azure-cli-core/azure/cli/core/tests/test_profile.py
Owners: none

Fix MSI for msrestazure 0.4.34 (#6705)
  src/azure-cli-core/azure/cli/core/_profile.py
  src/azure-cli-core/azure/cli/core/tests/test_profile.py
Owners: none

Test for copying into pool in different RG
  src/command_modules/azure-cli-sql/azure/cli/command_modules/sql/tests/latest/recordings/test_sql_db_copy.yaml
  src/command_modules/azure-cli-sql/azure/cli/command_modules/sql/tests/latest/test_sql_commands.py
Owners: @jaredmoo

fix style errors
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_validators.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_vm_utils.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/disk_encryption.py
Owners: @yugangw-msft

Upgrade paramiko to 2.4.1
  .gitignore
  Pipfile
  requirements.txt
Owners: none

fixed browser support for az login in py2
  src/azure-cli-core/azure/cli/core/util.py
Owners: none

disable too many lines pylint
  src/azure-cli-core/azure/cli/core/commands/arm.py
Owners: none

style and history
  src/azure-cli-core/HISTORY.rst
  src/azure-cli-core/azure/cli/core/commands/__init__.py
Owners: none

consolidated code
  src/azure-cli-core/azure/cli/core/commands/arm.py
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_account_show_exit_codes.yaml
Owners: @troydai

added tests for exit codes of storage account show
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/test_storage_account_scenarios.py
Owners: @troydai

pass args to factory
  src/azure-cli-core/azure/cli/core/commands/arm.py
Owners: none

added generic show method
  src/azure-cli-core/azure/cli/core/commands/__init__.py
  src/azure-cli-core/azure/cli/core/commands/arm.py
Owners: none

added exit code docs
  README.md
Owners: none

updated command guidelines for show
  doc/command_guidelines.md
Owners: none

use generic_show_command for storage account show as example
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/commands.py
Owners: @troydai

exit with 3 if show gives back 404
  src/azure-cli-core/HISTORY.rst
  src/azure-cli-core/azure/cli/core/commands/arm.py
Owners: none

update arm api-version
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_account_show_exit_codes.yaml
Owners: @troydai

Fix and cleanup params
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/_docker_utils.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/_params.py
Owners: @djyou

Generic show method for registering commands. (#6489)
  README.md
  doc/command_guidelines.md
  src/azure-cli-core/HISTORY.rst
  src/azure-cli-core/azure/cli/core/commands/__init__.py
  src/azure-cli-core/azure/cli/core/commands/arm.py
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/commands.py
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_account_show_exit_codes.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/test_storage_account_scenarios.py
Owners: @troydai

Generic show method for registering commands. (#6489)
  README.md
  doc/command_guidelines.md
  src/azure-cli-core/HISTORY.rst
  src/azure-cli-core/azure/cli/core/commands/__init__.py
  src/azure-cli-core/azure/cli/core/commands/arm.py
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/commands.py
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_account_show_exit_codes.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/test_storage_account_scenarios.py
Owners: @troydai

Use dest server & rg name to create pool id.
  src/command_modules/azure-cli-sql/azure/cli/command_modules/sql/_params.py
  src/command_modules/azure-cli-sql/azure/cli/command_modules/sql/_validators.py
  src/command_modules/azure-cli-sql/azure/cli/command_modules/sql/custom.py
  src/command_modules/azure-cli-sql/azure/cli/command_modules/sql/tests/latest/recordings/test_sql_db_copy.yaml
  src/command_modules/azure-cli-sql/azure/cli/command_modules/sql/tests/latest/recordings/test_sql_db_replica_mgmt.yaml
  src/command_modules/azure-cli-sql/azure/cli/command_modules/sql/tests/latest/test_sql_commands.py
Owners: @jaredmoo

Re-record scenario tests
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_bad_inputs.yaml
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_default_service.yaml
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_service_no_wait.yaml
Owners: @rjtsdl

Added release note
  src/command_modules/azure-cli-sql/HISTORY.rst
Owners: @jaredmoo

address review comments
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/_docker_utils.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/_params.py
Owners: @djyou

Minor
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/_params.py
Owners: @djyou

Another try at recording scenario tests
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_bad_inputs.yaml
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
Owners: @rjtsdl

Upgrade paramiko to 2.4.1 (#6711)
  .gitignore
  Pipfile
  requirements.txt
Owners: none

Upgrade paramiko to 2.4.1 (#6711)
  .gitignore
  Pipfile
  requirements.txt
Owners: none

Add Dockerfile.spot
  Dockerfile.spot
Owners: none

fixed browser support for az login in py2 (#6708)
  src/azure-cli-core/azure/cli/core/util.py
Owners: none

fixed browser support for az login in py2 (#6708)
  src/azure-cli-core/azure/cli/core/util.py
Owners: none

test: add coverage for recent login bug found on py2
  src/azure-cli-core/azure/cli/core/tests/test_util.py
Owners: none
