Repository Azure/azure-cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sptramer, @Juliehzl, @zikalino, @jiasli, @djyou, @rjtsdl, @Prasanna-Padmanabhan, @qwordy, @dragonfly91, @bgklein, @AlexanderYukhanov, @dmakwana, @samkreter, @sandeepnl, @lewu-msft, @kalyanaj, @MyronFanQiu, @khannarheams, @cheggert, @QingChenmsft, @jaredmoo, @v-ajnava, @kevinhillinger, @jonlester

.github/CODEOWNERS:

# See for instructions on this file https://help.github.com/articles/about-codeowners/

*help.py @sptramer @Juliehzl
*help.yaml @sptramer @Juliehzl
*help.yml  @sptramer @Juliehzl

/tools/ @zikalino
/scripts/ @zikalino
/src/azure-cli-testsdk/ @zikalino
/src/azure-cli-core/ @jiasli
/src/azure-cli/azure/cli/command_modules/acr/ @djyou
/src/azure-cli/azure/cli/command_modules/acs/ @rjtsdl
/src/azure-cli/azure/cli/command_modules/advisor/ @Prasanna-Padmanabhan
/src/azure-cli/azure/cli/command_modules/appservice/ @qwordy
/src/azure-cli/azure/cli/command_modules/backup/ @dragonfly91
/src/azure-cli/azure/cli/command_modules/batch/ @bgklein
/src/azure-cli/azure/cli/command_modules/batchai/ @AlexanderYukhanov
/src/azure-cli/azure/cli/command_modules/cosmosdb/ @dmakwana
/src/azure-cli/azure/cli/command_modules/cloud/ @jiasli
/src/azure-cli/azure/cli/command_modules/container/ @samkreter
/src/azure-cli/azure/cli/command_modules/consumption/ @sandeepnl
/src/azure-cli/azure/cli/command_modules/dls/ @lewu-msft
/src/azure-cli/azure/cli/command_modules/eventgrid/ @kalyanaj
/src/azure-cli/azure/cli/command_modules/extension/ @zikalino
/src/azure-cli/azure/cli/command_modules/keyvault/ @jiasli
/src/azure-cli/azure/cli/command_modules/monitor/ @MyronFanQiu
/src/azure-cli/azure/cli/command_modules/natgateway/ @khannarheams
/src/azure-cli/azure/cli/command_modules/network/ @MyronFanQiu
/src/azure-cli/azure/cli/command_modules/policyinsights/ @cheggert
/src/azure-cli/azure/cli/command_modules/profile/ @jiasli
/src/azure-cli/azure/cli/command_modules/resource/ @Juliehzl
/src/azure-cli/azure/cli/command_modules/role/ @jiasli
/src/azure-cli/azure/cli/command_modules/storage/ @Juliehzl
/src/azure-cli/azure/cli/command_modules/servicefabric/ @QingChenmsft
/src/azure-cli/azure/cli/command_modules/sql/ @jaredmoo
/src/azure-cli/azure/cli/command_modules/vm/ @qwordy
/src/azure-cli/azure/cli/command_modules/eventhubs/ @v-ajnava
/src/azure-cli/azure/cli/command_modules/servicebus/ @v-ajnava
/src/azure-cli/azure/cli/command_modules/apim/ @kevinhillinger @jonlester

Temporaty remove TestExtensionsLoading on Python 2.7, 3.8
  azure-pipelines.yml
Owners: none

Don't add label for bug template as there are false reports for bugs
  .github/ISSUE_TEMPLATE/Bug_report.md
Owners: none

Move job RefDocVerify to ADO
  azure-pipelines.yml
Owners: none

expose get_token in AdalAuthentication to support both azure core and msrest
  src/azure-cli-core/azure/cli/core/adal_authentication.py
  src/azure-cli-core/azure/cli/core/commands/client_factory.py
Owners: @jiasli

Update test
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_disk_encryption_set.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Owners: @qwordy

fix style error
  src/azure-cli-core/azure/cli/core/adal_authentication.py
  src/azure-cli-core/azure/cli/core/commands/client_factory.py
Owners: @jiasli

[TestSDK] Add case_sensitive option for checks
  src/azure-cli-testsdk/azure/cli/testsdk/base.py
  src/azure-cli-testsdk/azure/cli/testsdk/checkers.py
Owners: @zikalino

update help message
  src/azure-cli/azure/cli/command_modules/network/_params.py
Owners: @MyronFanQiu

Update help message for misleading option of --registration-vnes in dns zone
  src/azure-cli/azure/cli/command_modules/network/_params.py
Owners: @MyronFanQiu

Remove waste code
  src/azure-cli-testsdk/azure/cli/testsdk/base.py
Owners: @zikalino

Using correct restore request object
  src/azure-cli/azure/cli/command_modules/backup/custom_wl.py
Owners: @dragonfly91
