Repository Azure/azure-cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sptramer, @troydai, @djyou, @rjtsdl, @Prasanna-Padmanabhan, @yugangw-msft, @dragonfly91, @annatisch, @AlexanderYukhanov, @tjprescott, @dmakwana, @yolo3301, @sandeepnl, @kalyanaj, @williexu, @bulentelmaci, @QingChenmsft, @jaredmoo, @v-ajnava

.github/CODEOWNERS:

# See for instructions on this file https://help.github.com/articles/about-codeowners/

*help.py @sptramer

/tools/ @troydai
/scripts/ @troydai
/src/azure-cli-testsdk/ @troydai
/src/command_modules/azure-cli-acr/ @djyou
/src/command_modules/azure-cli-acs/ @rjtsdl
/src/command_modules/azure-cli-advisor/ @Prasanna-Padmanabhan
/src/command_modules/azure-cli-appservice/ @yugangw-msft
/src/command_modules/azure-cli-backup/ @dragonfly91
/src/command_modules/azure-cli-batch/ @annatisch 
/src/command_modules/azure-cli-batchai/ @AlexanderYukhanov
/src/command_modules/azure-cli-cdn/ @tjprescott
/src/command_modules/azure-cli-cosmosdb/ @dmakwana
/src/command_modules/azure-cli-cloud/ @yugangw-msft
/src/command_modules/azure-cli-container/ @yolo3301
/src/command_modules/azure-cli-consumption/ @sandeepnl
/src/command_modules/azure-cli-eventgrid/ @kalyanaj
/src/command_modules/azure-cli-extension/ @williexu
/src/command_modules/azure-cli-keyvault/ @tjprescott
/src/command_modules/azure-cli-monitor/ @troydai
/src/command_modules/azure-cli-network/ @tjprescott
/src/command_modules/azure-cli-policyinsights/ @bulentelmaci
/src/command_modules/azure-cli-profile/ @yugangw-msft
/src/command_modules/azure-cli-storage/ @troydai
/src/command_modules/azure-cli-servicefabric/ @QingChenmsft
/src/command_modules/azure-cli-sql/ @jaredmoo
/src/command_modules/azure-cli-vm/ @yugangw-msft
/src/command_modules/azure-cli-eventhubs/ @v-ajnava
/src/command_modules/azure-cli-servicebus/ @v-ajnava

Add Dockerfile.spot (#6716)
  Dockerfile.spot
Owners: none

Add Dockerfile.spot (#6716)
  Dockerfile.spot
Owners: none

Closes #6720. (#6735)
  src/command_modules/azure-cli-resource/HISTORY.rst
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/commands.py
Owners: none

Closes #6720. (#6735)
  src/command_modules/azure-cli-resource/HISTORY.rst
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/commands.py
Owners: none

fixing indention for func params
  src/command_modules/azure-cli-container/azure/cli/command_modules/container/custom.py
Owners: @yolo3301

Add table formatter for sql server
  src/command_modules/azure-cli-sql/azure/cli/command_modules/sql/_format.py
  src/command_modules/azure-cli-sql/azure/cli/command_modules/sql/commands.py
Owners: @jaredmoo

Add table formatter to db & elastic-pool create/update
  src/command_modules/azure-cli-sql/azure/cli/command_modules/sql/commands.py
Owners: @jaredmoo

Add firewall-rule table formatter
  src/command_modules/azure-cli-sql/azure/cli/command_modules/sql/_format.py
  src/command_modules/azure-cli-sql/azure/cli/command_modules/sql/commands.py
Owners: @jaredmoo

Add _apply_format func to easily reuse table formatters
  src/command_modules/azure-cli-sql/azure/cli/command_modules/sql/_format.py
  src/command_modules/azure-cli-sql/azure/cli/command_modules/sql/commands.py
Owners: @jaredmoo

Add usage table formatter
  src/command_modules/azure-cli-sql/azure/cli/command_modules/sql/_format.py
  src/command_modules/azure-cli-sql/azure/cli/command_modules/sql/commands.py
Owners: @jaredmoo

Added history
  src/command_modules/azure-cli-sql/HISTORY.rst
Owners: @jaredmoo

remove trailing spaces
  src/command_modules/azure-cli-cognitiveservices/azure/cli/command_modules/cognitiveservices/_help.py
Owners: @sptramer

cognitive services examples (#6577)
  src/command_modules/azure-cli-cognitiveservices/azure/cli/command_modules/cognitiveservices/_help.py
Owners: @sptramer

cognitive services examples (#6577)
  src/command_modules/azure-cli-cognitiveservices/azure/cli/command_modules/cognitiveservices/_help.py
Owners: @sptramer

Allow configuring default sql server.
  src/command_modules/azure-cli-sql/azure/cli/command_modules/sql/_params.py
Owners: @jaredmoo

Added history entry
  src/command_modules/azure-cli-sql/HISTORY.rst
Owners: @jaredmoo

fix the wrong help
  src/command_modules/azure-cli-eventhubs/azure/cli/command_modules/eventhubs/_help.py
Owners: @v-ajnava

Fixing Output Error When Creating From Yaml File - Container Instances (#6734)
  src/command_modules/azure-cli-container/HISTORY.rst
  src/command_modules/azure-cli-container/azure/cli/command_modules/container/custom.py
  src/command_modules/azure-cli-container/setup.py
Owners: @yolo3301

Fixing Output Error When Creating From Yaml File - Container Instances (#6734)
  src/command_modules/azure-cli-container/HISTORY.rst
  src/command_modules/azure-cli-container/azure/cli/command_modules/container/custom.py
  src/command_modules/azure-cli-container/setup.py
Owners: @yolo3301

fix the wrong help (#6675)
  src/command_modules/azure-cli-eventhubs/azure/cli/command_modules/eventhubs/_help.py
Owners: @v-ajnava

fix the wrong help (#6675)
  src/command_modules/azure-cli-eventhubs/azure/cli/command_modules/eventhubs/_help.py
Owners: @v-ajnava

Add automation on 2.7 back to CI (#6726)
  src/azure-cli-core/HISTORY.rst
  src/azure-cli-core/azure/cli/core/commands/arm.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_vnet.yaml
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/commands.py
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/custom.py
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/tests/latest/recordings/test_resource_group.yaml
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/tests/latest/test_resource.py
Owners: @tjprescott

Add table formatters for sql server and firewall-rule commands (#6741)
  src/command_modules/azure-cli-sql/HISTORY.rst
  src/command_modules/azure-cli-sql/azure/cli/command_modules/sql/_format.py
  src/command_modules/azure-cli-sql/azure/cli/command_modules/sql/commands.py
Owners: @jaredmoo

Add table formatters for sql server and firewall-rule commands (#6741)
  src/command_modules/azure-cli-sql/HISTORY.rst
  src/command_modules/azure-cli-sql/azure/cli/command_modules/sql/_format.py
  src/command_modules/azure-cli-sql/azure/cli/command_modules/sql/commands.py
Owners: @jaredmoo

vm: fix wrong timestamps on creating sas token in vm diagnostics samples
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_help.py
Owners: @yugangw-msft

vmss create: update default instance size to Standard_DS1_v2
  src/command_modules/azure-cli-vm/HISTORY.rst
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_params.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_validators.py
Owners: @yugangw-msft

Create load balancer: argument "--vnet-name"
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_help.py
Owners: @tjprescott

Add repository show/update commands and detail flag
  src/command_modules/azure-cli-acr/HISTORY.rst
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/_help.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/_params.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/commands.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/repository.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/tests/latest/test_acr_commands_mock.py
Owners: @djyou

allow premiumv2 skus
  src/command_modules/azure-cli-appservice/HISTORY.rst
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/custom.py
  src/command_modules/azure-cli-appservice/setup.py
Owners: @yugangw-msft

add test
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_create_and_modify.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Owners: @yugangw-msft

Remove requirement for username and password for non dockerhub repositories
  src/command_modules/azure-cli-container/HISTORY.rst
  src/command_modules/azure-cli-container/azure/cli/command_modules/container/custom.py
Owners: @yolo3301

fixing linter problems
  src/command_modules/azure-cli-container/azure/cli/command_modules/container/custom.py
Owners: @yolo3301

allow premiumv2 skus (#6757)
  src/command_modules/azure-cli-appservice/HISTORY.rst
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/custom.py
  src/command_modules/azure-cli-appservice/setup.py
Owners: @yugangw-msft

allow premiumv2 skus (#6757)
  src/command_modules/azure-cli-appservice/HISTORY.rst
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/custom.py
  src/command_modules/azure-cli-appservice/setup.py
Owners: @yugangw-msft

Improve arg descriptions
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/_params.py
Owners: @djyou

Better Non Dockerhub Registry Access - Container Instances (#6759)
  src/command_modules/azure-cli-container/HISTORY.rst
  src/command_modules/azure-cli-container/azure/cli/command_modules/container/custom.py
Owners: @yolo3301

Better Non Dockerhub Registry Access - Container Instances (#6759)
  src/command_modules/azure-cli-container/HISTORY.rst
  src/command_modules/azure-cli-container/azure/cli/command_modules/container/custom.py
Owners: @yolo3301

[ACR] Add attributes commands and detail flag under acr repository group (#6738)
  src/command_modules/azure-cli-acr/HISTORY.rst
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/_help.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/_params.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/commands.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/repository.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/tests/latest/test_acr_commands_mock.py
Owners: @djyou

[ACR] Add attributes commands and detail flag under acr repository group (#6738)
  src/command_modules/azure-cli-acr/HISTORY.rst
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/_help.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/_params.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/commands.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/repository.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/tests/latest/test_acr_commands_mock.py
Owners: @djyou

Add `--force-string` option to generic update
  src/azure-cli-core/HISTORY.rst
  src/azure-cli-core/azure/cli/core/commands/arm.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_vnet.yaml
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/commands.py
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/custom.py
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/tests/latest/recordings/test_resource_group.yaml
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/tests/latest/test_resource.py
Owners: @tjprescott
