Repository Azure/azure-cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sptramer, @troydai, @djyou, @rjtsdl, @Prasanna-Padmanabhan, @yugangw-msft, @dragonfly91, @annatisch, @AlexanderYukhanov, @tjprescott, @dmakwana, @yolo3301, @sandeepnl, @kalyanaj, @williexu, @bulentelmaci, @QingChenmsft, @jaredmoo, @v-ajnava

.github/CODEOWNERS:

# See for instructions on this file https://help.github.com/articles/about-codeowners/

*help.py @sptramer

/tools/ @troydai
/scripts/ @troydai
/src/azure-cli-testsdk/ @troydai
/src/command_modules/azure-cli-acr/ @djyou
/src/command_modules/azure-cli-acs/ @rjtsdl
/src/command_modules/azure-cli-advisor/ @Prasanna-Padmanabhan
/src/command_modules/azure-cli-appservice/ @yugangw-msft
/src/command_modules/azure-cli-backup/ @dragonfly91
/src/command_modules/azure-cli-batch/ @annatisch 
/src/command_modules/azure-cli-batchai/ @AlexanderYukhanov
/src/command_modules/azure-cli-cdn/ @tjprescott
/src/command_modules/azure-cli-cosmosdb/ @dmakwana
/src/command_modules/azure-cli-cloud/ @yugangw-msft
/src/command_modules/azure-cli-container/ @yolo3301
/src/command_modules/azure-cli-consumption/ @sandeepnl
/src/command_modules/azure-cli-eventgrid/ @kalyanaj
/src/command_modules/azure-cli-extension/ @williexu
/src/command_modules/azure-cli-keyvault/ @tjprescott
/src/command_modules/azure-cli-monitor/ @troydai
/src/command_modules/azure-cli-network/ @tjprescott
/src/command_modules/azure-cli-policyinsights/ @bulentelmaci
/src/command_modules/azure-cli-profile/ @yugangw-msft
/src/command_modules/azure-cli-storage/ @troydai
/src/command_modules/azure-cli-servicefabric/ @QingChenmsft
/src/command_modules/azure-cli-sql/ @jaredmoo
/src/command_modules/azure-cli-vm/ @yugangw-msft
/src/command_modules/azure-cli-eventhubs/ @v-ajnava
/src/command_modules/azure-cli-servicebus/ @v-ajnava

version bump
  src/command_modules/azure-cli-storage/HISTORY.rst
  src/command_modules/azure-cli-storage/setup.py
  src/command_modules/azure-cli-vm/HISTORY.rst
  src/command_modules/azure-cli-vm/setup.py
Owners: @troydai, @yugangw-msft

history edit
  src/command_modules/azure-cli-storage/HISTORY.rst
Owners: @troydai

use multiapi 0.2.2 (#6822)
  src/command_modules/azure-cli-storage/HISTORY.rst
  src/command_modules/azure-cli-storage/setup.py
  src/command_modules/azure-cli-vm/HISTORY.rst
  src/command_modules/azure-cli-vm/setup.py
Owners: @troydai, @yugangw-msft

use multiapi 0.2.2 (#6822)
  src/command_modules/azure-cli-storage/HISTORY.rst
  src/command_modules/azure-cli-storage/setup.py
  src/command_modules/azure-cli-vm/HISTORY.rst
  src/command_modules/azure-cli-vm/setup.py
Owners: @troydai, @yugangw-msft

build issues fixed
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/commands.py
Owners: @tjprescott

build issues fixed
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/commands.py
Owners: @tjprescott

Do not require --log-analytics-workspace-key when passing in the name or ID
  src/command_modules/azure-cli-container/HISTORY.rst
  src/command_modules/azure-cli-container/README.rst
  src/command_modules/azure-cli-container/azure/cli/command_modules/container/_params.py
  src/command_modules/azure-cli-container/azure/cli/command_modules/container/custom.py
  src/command_modules/azure-cli-container/setup.py
Owners: @yolo3301

converted storage/keyvault data-plane show commands
  src/azure-cli-core/azure/cli/core/commands/arm.py
  src/command_modules/azure-cli-keyvault/HISTORY.rst
  src/command_modules/azure-cli-keyvault/azure/cli/command_modules/keyvault/_command_type.py
  src/command_modules/azure-cli-keyvault/setup.py
  src/command_modules/azure-cli-storage/HISTORY.rst
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/__init__.py
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/commands.py
Owners: @tjprescott, @troydai

adjusted tests
  src/command_modules/azure-cli-keyvault/azure/cli/command_modules/keyvault/tests/latest/test_keyvault_commands.py
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/test_storage_table_scenarios.py
Owners: @tjprescott, @troydai

feedback
  src/command_modules/azure-cli-keyvault/azure/cli/command_modules/keyvault/tests/latest/test_keyvault_commands.py
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/test_storage_table_scenarios.py
Owners: @tjprescott, @troydai

fixed build static check issues
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/custom.py
Owners: @tjprescott

fixed too many nested blocks issue
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/custom.py
Owners: @tjprescott

Converted storage/keyvault data-plane show commands (#6792)
  src/azure-cli-core/azure/cli/core/commands/arm.py
  src/command_modules/azure-cli-keyvault/HISTORY.rst
  src/command_modules/azure-cli-keyvault/azure/cli/command_modules/keyvault/_command_type.py
  src/command_modules/azure-cli-keyvault/azure/cli/command_modules/keyvault/tests/latest/test_keyvault_commands.py
  src/command_modules/azure-cli-keyvault/setup.py
  src/command_modules/azure-cli-storage/HISTORY.rst
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/__init__.py
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/commands.py
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/test_storage_table_scenarios.py
Owners: @tjprescott, @troydai

Converted storage/keyvault data-plane show commands (#6792)
  src/azure-cli-core/azure/cli/core/commands/arm.py
  src/command_modules/azure-cli-keyvault/HISTORY.rst
  src/command_modules/azure-cli-keyvault/azure/cli/command_modules/keyvault/_command_type.py
  src/command_modules/azure-cli-keyvault/azure/cli/command_modules/keyvault/tests/latest/test_keyvault_commands.py
  src/command_modules/azure-cli-keyvault/setup.py
  src/command_modules/azure-cli-storage/HISTORY.rst
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/__init__.py
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/commands.py
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/test_storage_table_scenarios.py
Owners: @tjprescott, @troydai

fixed duplicate Zone definition issue
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/custom.py
Owners: @tjprescott

fixed caa show comment issue
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/commands.py
Owners: @tjprescott

addressed PR comments
  src/command_modules/azure-cli-network/HISTORY.rst
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/commands.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/custom.py
Owners: @tjprescott

remove get_api_version from network custom file
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/custom.py
Owners: @tjprescott

fixed pr feedback related to styling
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/custom.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/tests/latest/test_custom.py
Owners: @rjtsdl

Add 4 additional commands for build
  src/command_modules/azure-cli-acr/HISTORY.rst
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/_help.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/_params.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/build_task.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/commands.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/tests/latest/recordings/test_acr_create_build_task.yaml
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/tests/latest/test_acr_commands.py
Owners: @djyou

remove blank lines
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/tests/latest/test_acr_commands.py
Owners: @djyou

Fixing failing role tests
  src/command_modules/azure-cli-role/azure/cli/command_modules/role/custom.py
  src/command_modules/azure-cli-role/azure/cli/command_modules/role/tests/latest/test_role.py
  src/command_modules/azure-cli-vm/HISTORY.rst
Owners: @yugangw-msft

role assignment: bug fix in output to handle when the role could be missing (#6820)
  src/command_modules/azure-cli-role/HISTORY.rst
  src/command_modules/azure-cli-role/azure/cli/command_modules/role/custom.py
  src/command_modules/azure-cli-role/setup.py
Owners: none

role assignment: bug fix in output to handle when the role could be missing (#6820)
  src/command_modules/azure-cli-role/HISTORY.rst
  src/command_modules/azure-cli-role/azure/cli/command_modules/role/custom.py
  src/command_modules/azure-cli-role/setup.py
Owners: none

azure-cli-vm version updates
  src/command_modules/azure-cli-vm/HISTORY.rst
  src/command_modules/azure-cli-vm/setup.py
Owners: @yugangw-msft

Check if PublicIpAddressSkuName is not empty before using it
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_validators.py
Owners: @yugangw-msft

Fix flake
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/profile_2017_03_09/test_vm_commands.py
Owners: @yugangw-msft

Remove unsupported test case
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/profile_2017_03_09/recordings/test_vm_create_custom_ip.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/profile_2017_03_09/test_vm_commands.py
Owners: @yugangw-msft

Fix test issue
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/profile_2017_03_09/test_vm_commands.py
Owners: @yugangw-msft

Remove build and publish commands from azdev
  tools/automation/__main__.py
  tools/automation/clibuild/__init__.py
  tools/automation/clipublish/__init__.py
Owners: @troydai

resolving another version conflict
  src/command_modules/azure-cli-role/HISTORY.rst
  src/command_modules/azure-cli-role/setup.py
  src/command_modules/azure-cli-vm/HISTORY.rst
Owners: @yugangw-msft

CR comments
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/_params.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/build_task.py
  src/command_modules/azure-cli-acr/setup.py
Owners: @djyou

remove whitespaces
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/build_task.py
Owners: @djyou

fix acs test_update_addons test failure
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/tests/latest/test_custom.py
Owners: @rjtsdl

skip newly added test temporarily
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_default_service_with_monitoring_addon.yaml
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
Owners: @rjtsdl

Workaround
  src/command_modules/azure-cli-role/HISTORY.rst
  src/command_modules/azure-cli-role/azure/cli/command_modules/role/custom.py
  src/command_modules/azure-cli-role/setup.py
Owners: none

Optimistic parsing
  src/azure-cli-core/azure/cli/core/profiles/_shared.py
Owners: none

Update test.
  src/command_modules/azure-cli-role/azure/cli/command_modules/role/custom.py
  src/command_modules/azure-cli-role/azure/cli/command_modules/role/tests/latest/test_role_commands_thru_mock.py
Owners: none

[RBAC] Fix `ad app update` (#6836)
  src/command_modules/azure-cli-role/HISTORY.rst
  src/command_modules/azure-cli-role/azure/cli/command_modules/role/custom.py
  src/command_modules/azure-cli-role/azure/cli/command_modules/role/tests/latest/test_role_commands_thru_mock.py
  src/command_modules/azure-cli-role/setup.py
Owners: none

[RBAC] Fix `ad app update` (#6836)
  src/command_modules/azure-cli-role/HISTORY.rst
  src/command_modules/azure-cli-role/azure/cli/command_modules/role/custom.py
  src/command_modules/azure-cli-role/azure/cli/command_modules/role/tests/latest/test_role_commands_thru_mock.py
  src/command_modules/azure-cli-role/setup.py
Owners: none
