Repository Azure/azure-cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sptramer, @troydai, @djyou, @rjtsdl, @Prasanna-Padmanabhan, @yugangw-msft, @dragonfly91, @annatisch, @AlexanderYukhanov, @tjprescott, @dmakwana, @yolo3301, @sandeepnl, @kalyanaj, @williexu, @bulentelmaci, @QingChenmsft, @jaredmoo, @v-ajnava

.github/CODEOWNERS:

# See for instructions on this file https://help.github.com/articles/about-codeowners/

*help.py @sptramer

/tools/ @troydai
/scripts/ @troydai
/src/azure-cli-testsdk/ @troydai
/src/command_modules/azure-cli-acr/ @djyou
/src/command_modules/azure-cli-acs/ @rjtsdl
/src/command_modules/azure-cli-advisor/ @Prasanna-Padmanabhan
/src/command_modules/azure-cli-appservice/ @yugangw-msft
/src/command_modules/azure-cli-backup/ @dragonfly91
/src/command_modules/azure-cli-batch/ @annatisch 
/src/command_modules/azure-cli-batchai/ @AlexanderYukhanov
/src/command_modules/azure-cli-cdn/ @tjprescott
/src/command_modules/azure-cli-cosmosdb/ @dmakwana
/src/command_modules/azure-cli-cloud/ @yugangw-msft
/src/command_modules/azure-cli-container/ @yolo3301
/src/command_modules/azure-cli-consumption/ @sandeepnl
/src/command_modules/azure-cli-eventgrid/ @kalyanaj
/src/command_modules/azure-cli-extension/ @williexu
/src/command_modules/azure-cli-keyvault/ @tjprescott
/src/command_modules/azure-cli-monitor/ @troydai
/src/command_modules/azure-cli-network/ @tjprescott
/src/command_modules/azure-cli-policyinsights/ @bulentelmaci
/src/command_modules/azure-cli-profile/ @yugangw-msft
/src/command_modules/azure-cli-storage/ @troydai
/src/command_modules/azure-cli-servicefabric/ @QingChenmsft
/src/command_modules/azure-cli-sql/ @jaredmoo
/src/command_modules/azure-cli-vm/ @yugangw-msft
/src/command_modules/azure-cli-eventhubs/ @v-ajnava
/src/command_modules/azure-cli-servicebus/ @v-ajnava

fix doc to display show_command
  doc/command_guidelines.md
Owners: none

PR feedback
  src/azure-cli-core/azure/cli/core/profiles/_shared.py
  src/azure-cli-core/azure/cli/core/tests/test_api_profiles.py
Owners: none

fix doc to display show_command (#6860)
  doc/command_guidelines.md
Owners: none

fix doc to display show_command (#6860)
  doc/command_guidelines.md
Owners: none

update recording
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_diagnostics_extension_install.yaml
Owners: @yugangw-msft

update history
  src/command_modules/azure-cli-acr/HISTORY.rst
  src/command_modules/azure-cli-acr/setup.py
  src/command_modules/azure-cli-monitor/HISTORY.rst
  src/command_modules/azure-cli-monitor/setup.py
Owners: @djyou, @troydai

update test recording
  src/command_modules/azure-cli-backup/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_container.yaml
  src/command_modules/azure-cli-backup/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_item.yaml
  src/command_modules/azure-cli-backup/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_job.yaml
  src/command_modules/azure-cli-backup/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_policy.yaml
  src/command_modules/azure-cli-backup/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_protection.yaml
  src/command_modules/azure-cli-backup/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_restore.yaml
  src/command_modules/azure-cli-backup/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_rp.yaml
  src/command_modules/azure-cli-backup/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_scenario.yaml
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/tests/latest/recordings/test_metric_alert_basic_scenarios.yaml
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_autoscale_basic.yaml
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_autoscale_fixed.yaml
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_autoscale_recurring.yaml
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_autoscale_rules.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_nic_convenience_commands.yaml
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/tests/latest/recordings/test_invoke_action.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_list_compute_skus_table_output.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_disk_create_zones.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_generic_update.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_managed_disk.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_run_command_with_parameters.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_set_os_disk_size.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Owners: @dragonfly91, @troydai, @tjprescott, @yugangw-msft

fix recordings
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_autoscale_recurring.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_create_with_market_place_image.yaml
Owners: @troydai, @yugangw-msft

dummy commit
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/tests/latest/test_acr_commands.py
Owners: @djyou

update to GA version
  src/command_modules/azure-cli-acr/setup.py
  src/command_modules/azure-cli-monitor/setup.py
  src/command_modules/azure-cli-network/setup.py
  src/command_modules/azure-cli-resource/setup.py
  src/command_modules/azure-cli-vm/setup.py
Owners: @djyou, @troydai, @tjprescott, @yugangw-msft

Add Azure Search CLI.
  azure-cli2017.pyproj
  doc/sphinx/azhelpgen/doc_source_map.json
  src/command_modules/azure-cli-search/HISTORY.rst
  src/command_modules/azure-cli-search/MANIFEST.in
  src/command_modules/azure-cli-search/README.rst
  src/command_modules/azure-cli-search/azure/__init__.py
  src/command_modules/azure-cli-search/azure/cli/__init__.py
  src/command_modules/azure-cli-search/azure/cli/command_modules/__init__.py
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/__init__.py
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/_client_factory.py
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/_help.py
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/_params.py
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/commands.py
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/custom.py
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/tests/__init__.py
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/tests/latest/__init__.py
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/tests/latest/recordings/test_adminkeys_show_renew.yaml
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/tests/latest/recordings/test_querykeys_create_delete_list.yaml
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/tests/latest/recordings/test_services_create_delete_list.yaml
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/tests/latest/recordings/test_services_create_delete_show.yaml
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/tests/latest/recordings/test_services_create_multi_partition.yaml
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/tests/latest/recordings/test_services_create_multi_replica.yaml
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/tests/latest/recordings/test_services_create_skus.yaml
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/tests/latest/recordings/test_services_update.yaml
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/tests/latest/test_adminkeys.py
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/tests/latest/test_querykeys.py
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/tests/latest/test_services.py
  src/command_modules/azure-cli-search/azure_bdist_wheel.py
  src/command_modules/azure-cli-search/setup.cfg
  src/command_modules/azure-cli-search/setup.py
Owners: @sptramer

Update as reviewer requested.
  azure-cli2017.pyproj
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/_help.py
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/_params.py
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/commands.py
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/custom.py
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/tests/latest/recordings/test_admin_key_show_renew.yaml
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/tests/latest/recordings/test_query_key_create_delete_list.yaml
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/tests/latest/recordings/test_service_create_delete_list.yaml
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/tests/latest/recordings/test_service_create_delete_show.yaml
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/tests/latest/recordings/test_service_create_multi_partition.yaml
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/tests/latest/recordings/test_service_create_multi_replica.yaml
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/tests/latest/recordings/test_service_create_skus.yaml
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/tests/latest/recordings/test_service_update.yaml
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/tests/latest/recordings/test_services_update.yaml
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/tests/latest/test_admin_key.py
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/tests/latest/test_query_key.py
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/tests/latest/test_service.py
Owners: @sptramer

fix to get the workspace location rather the location of rg
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/custom.py
Owners: @rjtsdl

fix the test failure
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/tests/latest/test_custom.py
Owners: @rjtsdl

adjust recordings
  privates/azure_mgmt_compute-4.0.0rc3-py2.py3-none-any.whl
  privates/azure_mgmt_resource-2.0.0rc3-py2.py3-none-any.whl
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/custom.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_create_with_market_place_image.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_custom_image.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_generalize.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_lb_integration.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_run_command_e2e.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_run_command_with_parameters.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Owners: @yugangw-msft

fix invalid version updates
  src/command_modules/azure-cli-acr/HISTORY.rst
  src/command_modules/azure-cli-acr/setup.py
Owners: @djyou

import missing live_only attribute
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
Owners: @rjtsdl

new recorded test file
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_bad_inputs.yaml
Owners: @rjtsdl

trim the whitespace chars and trailing / chars in workspace_resource_id
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/custom.py
Owners: @rjtsdl

add the workspace_resource_id trimming logic for aks create also
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/custom.py
Owners: @rjtsdl

adding default workspace support for aks monitoring (#6782)
  src/azure-cli-testsdk/azure/cli/testsdk/checkers.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/_client_factory.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/_help.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/custom.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_bad_inputs.yaml
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_default_service_with_monitoring_addon.yaml
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/tests/latest/test_custom.py
Owners: @troydai, @rjtsdl

adding default workspace support for aks monitoring (#6782)
  src/azure-cli-testsdk/azure/cli/testsdk/checkers.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/_client_factory.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/_help.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/custom.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_bad_inputs.yaml
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_default_service_with_monitoring_addon.yaml
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/tests/latest/test_custom.py
Owners: @troydai, @rjtsdl

Add 4 additional commands for ACR build (#6832)
  src/command_modules/azure-cli-acr/HISTORY.rst
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/_help.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/_params.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/build_task.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/commands.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/tests/latest/recordings/test_acr_create_build_task.yaml
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/tests/latest/test_acr_commands.py
Owners: @djyou

Add 4 additional commands for ACR build (#6832)
  src/command_modules/azure-cli-acr/HISTORY.rst
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/_help.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/_params.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/build_task.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/commands.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/tests/latest/recordings/test_acr_create_build_task.yaml
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/tests/latest/test_acr_commands.py
Owners: @djyou

initial changes to consume multi api-version KV data and mgmnt SDK
  azure-cli.pyproj
  src/azure-cli-core/azure/cli/core/profiles/_shared.py
  src/command_modules/azure-cli-batch/setup.py
  src/command_modules/azure-cli-keyvault/azure/cli/command_modules/keyvault/__init__.py
  src/command_modules/azure-cli-keyvault/azure/cli/command_modules/keyvault/_client_factory.py
  src/command_modules/azure-cli-keyvault/azure/cli/command_modules/keyvault/_command_type.py
  src/command_modules/azure-cli-keyvault/azure/cli/command_modules/keyvault/_completers.py
  src/command_modules/azure-cli-keyvault/azure/cli/command_modules/keyvault/_params.py
  src/command_modules/azure-cli-keyvault/azure/cli/command_modules/keyvault/commands.py
  src/command_modules/azure-cli-keyvault/azure/cli/command_modules/keyvault/custom.py
  src/command_modules/azure-cli-keyvault/setup.py
  src/command_modules/azure-cli-role/azure/cli/command_modules/role/custom.py
  src/command_modules/azure-cli-role/setup.py
  src/command_modules/azure-cli-servicefabric/azure/cli/command_modules/servicefabric/custom.py
  src/command_modules/azure-cli-servicefabric/setup.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_vm_utils.py
  src/command_modules/azure-cli-vm/setup.py
Owners: @annatisch, @tjprescott, @QingChenmsft, @yugangw-msft

update with review comments
  src/command_modules/azure-cli-servicebus/HISTORY.rst
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/_help.py
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/_params.py
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/commands.py
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/custom.py
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/tests/latest/test_servicebus_commands.py
Owners: @v-ajnava

removed commented out part in network commands file
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/commands.py
Owners: @tjprescott

updated setup.py in network command module
  src/command_modules/azure-cli-network/setup.py
Owners: @tjprescott

Allow SemVer APIVersion (#6808)
  src/azure-cli-core/azure/cli/core/profiles/_shared.py
  src/azure-cli-core/azure/cli/core/tests/test_api_profiles.py
Owners: none

Allow SemVer APIVersion (#6808)
  src/azure-cli-core/azure/cli/core/profiles/_shared.py
  src/azure-cli-core/azure/cli/core/tests/test_api_profiles.py
Owners: none

fixed azure-cli-acr history and setup version
  src/command_modules/azure-cli-acr/HISTORY.rst
  src/command_modules/azure-cli-acr/setup.py
Owners: @djyou

Add DNS multi api-version support (#6824)
  src/azure-cli-core/azure/cli/core/profiles/_shared.py
  src/command_modules/azure-cli-acr/HISTORY.rst
  src/command_modules/azure-cli-acr/setup.py
  src/command_modules/azure-cli-network/HISTORY.rst
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_client_factory.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/commands.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/custom.py
  src/command_modules/azure-cli-network/setup.py
Owners: @djyou, @tjprescott

Add DNS multi api-version support (#6824)
  src/azure-cli-core/azure/cli/core/profiles/_shared.py
  src/command_modules/azure-cli-acr/HISTORY.rst
  src/command_modules/azure-cli-acr/setup.py
  src/command_modules/azure-cli-network/HISTORY.rst
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_client_factory.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/commands.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/custom.py
  src/command_modules/azure-cli-network/setup.py
Owners: @djyou, @tjprescott

minor bug fixes: typo, invalid samples
  src/azure-cli-core/azure/cli/core/profiles/_shared.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_help.py
Owners: @yugangw-msft

Update _validators.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/_validators.py
Owners: @rjtsdl

Update _validators.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/_validators.py
Owners: @rjtsdl

minor bug fixes: typo, invalid samples (#6869)
  src/azure-cli-core/azure/cli/core/profiles/_shared.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_help.py
Owners: @yugangw-msft

minor bug fixes: typo, invalid samples (#6869)
  src/azure-cli-core/azure/cli/core/profiles/_shared.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_help.py
Owners: @yugangw-msft

vmss create: support Application Security Groups
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_params.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_template_builder.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_validators.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/custom.py
Owners: @yugangw-msft

update history
  src/command_modules/azure-cli-vm/HISTORY.rst
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_params.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_template_builder.py
Owners: @yugangw-msft
