Repository Azure/azure-cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sptramer, @troydai, @djyou, @rjtsdl, @Prasanna-Padmanabhan, @yugangw-msft, @dragonfly91, @annatisch, @AlexanderYukhanov, @tjprescott, @dmakwana, @yolo3301, @sandeepnl, @kalyanaj, @williexu, @bulentelmaci, @QingChenmsft, @jaredmoo, @v-ajnava

.github/CODEOWNERS:

# See for instructions on this file https://help.github.com/articles/about-codeowners/

*help.py @sptramer

/tools/ @troydai
/scripts/ @troydai
/src/azure-cli-testsdk/ @troydai
/src/command_modules/azure-cli-acr/ @djyou
/src/command_modules/azure-cli-acs/ @rjtsdl
/src/command_modules/azure-cli-advisor/ @Prasanna-Padmanabhan
/src/command_modules/azure-cli-appservice/ @yugangw-msft
/src/command_modules/azure-cli-backup/ @dragonfly91
/src/command_modules/azure-cli-batch/ @annatisch 
/src/command_modules/azure-cli-batchai/ @AlexanderYukhanov
/src/command_modules/azure-cli-cdn/ @tjprescott
/src/command_modules/azure-cli-cosmosdb/ @dmakwana
/src/command_modules/azure-cli-cloud/ @yugangw-msft
/src/command_modules/azure-cli-container/ @yolo3301
/src/command_modules/azure-cli-consumption/ @sandeepnl
/src/command_modules/azure-cli-eventgrid/ @kalyanaj
/src/command_modules/azure-cli-extension/ @williexu
/src/command_modules/azure-cli-keyvault/ @tjprescott
/src/command_modules/azure-cli-monitor/ @troydai
/src/command_modules/azure-cli-network/ @tjprescott
/src/command_modules/azure-cli-policyinsights/ @bulentelmaci
/src/command_modules/azure-cli-profile/ @yugangw-msft
/src/command_modules/azure-cli-storage/ @troydai
/src/command_modules/azure-cli-servicefabric/ @QingChenmsft
/src/command_modules/azure-cli-sql/ @jaredmoo
/src/command_modules/azure-cli-vm/ @yugangw-msft
/src/command_modules/azure-cli-eventhubs/ @v-ajnava
/src/command_modules/azure-cli-servicebus/ @v-ajnava

use get_by_id since existence_by_id doesn't work and added poller to monitor the ws creation
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/custom.py
Owners: @rjtsdl

review changes
  src/command_modules/azure-cli-relay/azure/cli/command_modules/relay/commands.py
Owners: none

fix the help and fix args of _handle_addons_args function
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/_help.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/custom.py
Owners: @rjtsdl

fix test and respond to PR comments
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_validators.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/custom.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/test_custom_vm_commands.py
Owners: @yugangw-msft

Remove empty service fabric tests folder
  src/command_modules/azure-cli-servicefabric/azure/cli/command_modules/servicefabric/tests/__init__.py
  src/command_modules/azure-cli-servicefabric/azure/cli/command_modules/servicefabric/tests/latest/__init__.py
Owners: @QingChenmsft

fixing pylint and pep8 issues
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/custom.py
Owners: @rjtsdl

[ADLS] integrate virtual network rule to account mgmt
  src/command_modules/azure-cli-dls/HISTORY.rst
  src/command_modules/azure-cli-dls/azure/cli/command_modules/dls/_client_factory.py
  src/command_modules/azure-cli-dls/azure/cli/command_modules/dls/_help.py
  src/command_modules/azure-cli-dls/azure/cli/command_modules/dls/_validators.py
  src/command_modules/azure-cli-dls/azure/cli/command_modules/dls/commands.py
  src/command_modules/azure-cli-dls/azure/cli/command_modules/dls/custom.py
  src/command_modules/azure-cli-dls/azure/cli/command_modules/dls/tests/latest/recordings/test_dls_account_mgmt.yaml
  src/command_modules/azure-cli-dls/azure/cli/command_modules/dls/tests/latest/recordings/test_dls_file_access_mgmt.yaml
  src/command_modules/azure-cli-dls/azure/cli/command_modules/dls/tests/latest/test_dls_commands.py
Owners: @sptramer

fix help for the changes
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/_help.py
Owners: @rjtsdl

Add version constraint of paramiko
  src/azure-cli-core/setup.py
  src/command_modules/azure-cli-acs/setup.py
Owners: @rjtsdl

vm test: adjust tests around show commands
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_create_progress.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_msi.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_msi.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Owners: @yugangw-msft

fix lint error
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Owners: @yugangw-msft

Remove empty service fabric tests folder (#6783)
  src/command_modules/azure-cli-servicefabric/azure/cli/command_modules/servicefabric/tests/__init__.py
  src/command_modules/azure-cli-servicefabric/azure/cli/command_modules/servicefabric/tests/latest/__init__.py
Owners: @QingChenmsft

Remove empty service fabric tests folder (#6783)
  src/command_modules/azure-cli-servicefabric/azure/cli/command_modules/servicefabric/tests/__init__.py
  src/command_modules/azure-cli-servicefabric/azure/cli/command_modules/servicefabric/tests/latest/__init__.py
Owners: @QingChenmsft

vm test: fix live test failures (#6786)
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_create_progress.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_msi.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_msi.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Owners: @yugangw-msft

vm test: fix live test failures (#6786)
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_create_progress.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_msi.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_msi.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Owners: @yugangw-msft

Bump CLI and ACS module version
  src/azure-cli-core/HISTORY.rst
  src/azure-cli-core/azure/cli/core/__init__.py
  src/azure-cli-core/setup.py
  src/azure-cli/HISTORY.rst
  src/azure-cli/azure/cli/__init__.py
  src/azure-cli/setup.py
  src/command_modules/azure-cli-acs/HISTORY.rst
  src/command_modules/azure-cli-acs/setup.py
Owners: @rjtsdl

Add version constraint of paramiko (#6789)
  src/azure-cli-core/HISTORY.rst
  src/azure-cli-core/azure/cli/core/__init__.py
  src/azure-cli-core/setup.py
  src/azure-cli/HISTORY.rst
  src/azure-cli/azure/cli/__init__.py
  src/azure-cli/setup.py
  src/command_modules/azure-cli-acs/HISTORY.rst
  src/command_modules/azure-cli-acs/setup.py
Owners: @rjtsdl

Add version constraint of paramiko (#6789)
  src/azure-cli-core/HISTORY.rst
  src/azure-cli-core/azure/cli/core/__init__.py
  src/azure-cli-core/setup.py
  src/azure-cli/HISTORY.rst
  src/azure-cli/azure/cli/__init__.py
  src/azure-cli/setup.py
  src/command_modules/azure-cli-acs/HISTORY.rst
  src/command_modules/azure-cli-acs/setup.py
Owners: @rjtsdl

Pin PyYAML version to 3.13 instead of 4.2b
  requirements.txt
  src/azure-cli-core/setup.py
  src/command_modules/azure-cli-container/HISTORY.rst
  src/command_modules/azure-cli-container/setup.py
  src/command_modules/azure-cli-interactive/HISTORY.rst
  src/command_modules/azure-cli-interactive/setup.py
  tools/setup.py
Owners: @yolo3301, @troydai

Pin PyYAML version to 3.13 instead of 4.2b (#6788)
  requirements.txt
  src/azure-cli-core/setup.py
  src/command_modules/azure-cli-container/HISTORY.rst
  src/command_modules/azure-cli-container/setup.py
  src/command_modules/azure-cli-interactive/HISTORY.rst
  src/command_modules/azure-cli-interactive/setup.py
  tools/setup.py
Owners: @yolo3301, @troydai

Pin PyYAML version to 3.13 instead of 4.2b (#6788)
  requirements.txt
  src/azure-cli-core/setup.py
  src/command_modules/azure-cli-container/HISTORY.rst
  src/command_modules/azure-cli-container/setup.py
  src/command_modules/azure-cli-interactive/HISTORY.rst
  src/command_modules/azure-cli-interactive/setup.py
  tools/setup.py
Owners: @yolo3301, @troydai

Fix #6787.
  src/command_modules/azure-cli-resource/HISTORY.rst
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/custom.py
  src/command_modules/azure-cli-resource/setup.py
Owners: none

Update PyYAML dependency
  src/command_modules/azure-cli-acs/setup.py
Owners: @rjtsdl

fixed pr feedback
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/_help.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/custom.py
Owners: @rjtsdl

Remove unused import
  src/command_modules/azure-cli-keyvault/azure/cli/command_modules/keyvault/commands.py
Owners: @tjprescott

Remove unused import
  src/command_modules/azure-cli-keyvault/azure/cli/command_modules/keyvault/commands.py
Owners: @tjprescott

Update .travis.yml to run 2017-03-09 profile only
  .travis.yml
Owners: none

Fix conflict issue
  src/azure-cli-core/HISTORY.rst
Owners: none

Fix implemenation and add unittest.
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/custom.py
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/tests/latest/test_resource_custom.py
Owners: none

Update PyYAML dependency (#6791)
  src/command_modules/azure-cli-acs/setup.py
Owners: @rjtsdl

Update PyYAML dependency (#6791)
  src/command_modules/azure-cli-acs/setup.py
Owners: @rjtsdl

Break cycular depdencies between core and testsdk
  src/azure-cli-core/azure/cli/core/mock.py
  src/azure-cli-core/azure/cli/core/tests/test_api_profiles.py
  src/azure-cli-core/azure/cli/core/tests/test_application.py
  src/azure-cli-core/azure/cli/core/tests/test_cloud.py
  src/azure-cli-core/azure/cli/core/tests/test_command_registration.py
  src/azure-cli-core/azure/cli/core/tests/test_command_with_configured_defaults.py
  src/azure-cli-core/azure/cli/core/tests/test_generic_update.py
  src/azure-cli-core/azure/cli/core/tests/test_help.py
  src/azure-cli-core/azure/cli/core/tests/test_parser.py
  src/azure-cli-core/azure/cli/core/tests/test_profile.py
  src/azure-cli-testsdk/HISTORY.rst
  src/azure-cli-testsdk/azure/cli/testsdk/__init__.py
  src/azure-cli-testsdk/azure/cli/testsdk/base.py
  src/azure-cli-testsdk/azure/cli/testsdk/decorators.py
  src/azure-cli-testsdk/azure/cli/testsdk/preparers.py
  src/azure-cli-testsdk/azure/cli/testsdk/reverse_dependency.py
  src/azure-cli-testsdk/azure/cli/testsdk/utilities.py
  src/azure-cli-testsdk/setup.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/tests/latest/test_acr_commands_mock.py
  src/command_modules/azure-cli-backup/azure/cli/command_modules/backup/tests/latest/preparers.py
  src/command_modules/azure-cli-batch/azure/cli/command_modules/batch/tests/latest/batch_preparers.py
  src/command_modules/azure-cli-batch/azure/cli/command_modules/batch/tests/latest/test_batch_mgmt_commands.py
  src/command_modules/azure-cli-batchai/azure/cli/command_modules/batchai/tests/latest/test_batchai_custom.py
  src/command_modules/azure-cli-find/azure/cli/command_modules/find/tests/latest/test_find.py
  src/command_modules/azure-cli-interactive/azure/cli/command_modules/interactive/tests/latest/test_completion.py
  src/command_modules/azure-cli-interactive/azure/cli/command_modules/interactive/tests/latest/test_feedback.py
  src/command_modules/azure-cli-interactive/azure/cli/command_modules/interactive/tests/latest/test_query_injection.py
  src/command_modules/azure-cli-interactive/azure/cli/command_modules/interactive/tests/latest/test_tree.py
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/tests/latest/test_monitor_unittest.py
  src/command_modules/azure-cli-profile/azure/cli/command_modules/profile/tests/latest/test_profile_custom.py
  src/command_modules/azure-cli-rdbms/azure/cli/command_modules/rdbms/tests/latest/test_rdbms_commands.py
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/tests/2017_03_09_profile/test_api_check.py
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/tests/latest/test_api_check.py
  src/command_modules/azure-cli-role/azure/cli/command_modules/role/tests/latest/test_role_commands_thru_mock.py
  src/command_modules/azure-cli-sql/azure/cli/command_modules/sql/tests/latest/test_sql_commands.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/test_custom_vm_commands.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/test_vm_actions.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/test_vm_defaults.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/test_vm_image.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/test_vm_parameters.py
Owners: @sptramer, @troydai, @djyou, @dragonfly91, @annatisch, @AlexanderYukhanov, @yugangw-msft, @jaredmoo

Update .travis.yml to run 2017-03-09 profile only
  .travis.yml
Owners: none

Updates to dns tests
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/profile_2017_03_09/test_network_commands.py
Owners: @tjprescott

Break cycular depdencies between core and testsdk (#6793)
  src/azure-cli-core/azure/cli/core/mock.py
  src/azure-cli-core/azure/cli/core/tests/test_api_profiles.py
  src/azure-cli-core/azure/cli/core/tests/test_application.py
  src/azure-cli-core/azure/cli/core/tests/test_cloud.py
  src/azure-cli-core/azure/cli/core/tests/test_command_registration.py
  src/azure-cli-core/azure/cli/core/tests/test_command_with_configured_defaults.py
  src/azure-cli-core/azure/cli/core/tests/test_generic_update.py
  src/azure-cli-core/azure/cli/core/tests/test_help.py
  src/azure-cli-core/azure/cli/core/tests/test_parser.py
  src/azure-cli-core/azure/cli/core/tests/test_profile.py
  src/azure-cli-testsdk/HISTORY.rst
  src/azure-cli-testsdk/azure/cli/testsdk/__init__.py
  src/azure-cli-testsdk/azure/cli/testsdk/base.py
  src/azure-cli-testsdk/azure/cli/testsdk/decorators.py
  src/azure-cli-testsdk/azure/cli/testsdk/preparers.py
  src/azure-cli-testsdk/azure/cli/testsdk/reverse_dependency.py
  src/azure-cli-testsdk/azure/cli/testsdk/utilities.py
  src/azure-cli-testsdk/setup.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/tests/latest/test_acr_commands_mock.py
  src/command_modules/azure-cli-backup/azure/cli/command_modules/backup/tests/latest/preparers.py
  src/command_modules/azure-cli-batch/azure/cli/command_modules/batch/tests/latest/batch_preparers.py
  src/command_modules/azure-cli-batch/azure/cli/command_modules/batch/tests/latest/test_batch_mgmt_commands.py
  src/command_modules/azure-cli-batchai/azure/cli/command_modules/batchai/tests/latest/test_batchai_custom.py
  src/command_modules/azure-cli-find/azure/cli/command_modules/find/tests/latest/test_find.py
  src/command_modules/azure-cli-interactive/azure/cli/command_modules/interactive/tests/latest/test_completion.py
  src/command_modules/azure-cli-interactive/azure/cli/command_modules/interactive/tests/latest/test_feedback.py
  src/command_modules/azure-cli-interactive/azure/cli/command_modules/interactive/tests/latest/test_query_injection.py
  src/command_modules/azure-cli-interactive/azure/cli/command_modules/interactive/tests/latest/test_tree.py
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/tests/latest/test_monitor_unittest.py
  src/command_modules/azure-cli-profile/azure/cli/command_modules/profile/tests/latest/test_profile_custom.py
  src/command_modules/azure-cli-rdbms/azure/cli/command_modules/rdbms/tests/latest/test_rdbms_commands.py
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/tests/2017_03_09_profile/test_api_check.py
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/tests/latest/test_api_check.py
  src/command_modules/azure-cli-role/azure/cli/command_modules/role/tests/latest/test_role_commands_thru_mock.py
  src/command_modules/azure-cli-sql/azure/cli/command_modules/sql/tests/latest/test_sql_commands.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/test_custom_vm_commands.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/test_vm_actions.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/test_vm_defaults.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/test_vm_image.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/test_vm_parameters.py
Owners: @sptramer, @troydai, @djyou, @dragonfly91, @annatisch, @AlexanderYukhanov, @yugangw-msft, @jaredmoo

Break cycular depdencies between core and testsdk (#6793)
  src/azure-cli-core/azure/cli/core/mock.py
  src/azure-cli-core/azure/cli/core/tests/test_api_profiles.py
  src/azure-cli-core/azure/cli/core/tests/test_application.py
  src/azure-cli-core/azure/cli/core/tests/test_cloud.py
  src/azure-cli-core/azure/cli/core/tests/test_command_registration.py
  src/azure-cli-core/azure/cli/core/tests/test_command_with_configured_defaults.py
  src/azure-cli-core/azure/cli/core/tests/test_generic_update.py
  src/azure-cli-core/azure/cli/core/tests/test_help.py
  src/azure-cli-core/azure/cli/core/tests/test_parser.py
  src/azure-cli-core/azure/cli/core/tests/test_profile.py
  src/azure-cli-testsdk/HISTORY.rst
  src/azure-cli-testsdk/azure/cli/testsdk/__init__.py
  src/azure-cli-testsdk/azure/cli/testsdk/base.py
  src/azure-cli-testsdk/azure/cli/testsdk/decorators.py
  src/azure-cli-testsdk/azure/cli/testsdk/preparers.py
  src/azure-cli-testsdk/azure/cli/testsdk/reverse_dependency.py
  src/azure-cli-testsdk/azure/cli/testsdk/utilities.py
  src/azure-cli-testsdk/setup.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/tests/latest/test_acr_commands_mock.py
  src/command_modules/azure-cli-backup/azure/cli/command_modules/backup/tests/latest/preparers.py
  src/command_modules/azure-cli-batch/azure/cli/command_modules/batch/tests/latest/batch_preparers.py
  src/command_modules/azure-cli-batch/azure/cli/command_modules/batch/tests/latest/test_batch_mgmt_commands.py
  src/command_modules/azure-cli-batchai/azure/cli/command_modules/batchai/tests/latest/test_batchai_custom.py
  src/command_modules/azure-cli-find/azure/cli/command_modules/find/tests/latest/test_find.py
  src/command_modules/azure-cli-interactive/azure/cli/command_modules/interactive/tests/latest/test_completion.py
  src/command_modules/azure-cli-interactive/azure/cli/command_modules/interactive/tests/latest/test_feedback.py
  src/command_modules/azure-cli-interactive/azure/cli/command_modules/interactive/tests/latest/test_query_injection.py
  src/command_modules/azure-cli-interactive/azure/cli/command_modules/interactive/tests/latest/test_tree.py
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/tests/latest/test_monitor_unittest.py
  src/command_modules/azure-cli-profile/azure/cli/command_modules/profile/tests/latest/test_profile_custom.py
  src/command_modules/azure-cli-rdbms/azure/cli/command_modules/rdbms/tests/latest/test_rdbms_commands.py
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/tests/2017_03_09_profile/test_api_check.py
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/tests/latest/test_api_check.py
  src/command_modules/azure-cli-role/azure/cli/command_modules/role/tests/latest/test_role_commands_thru_mock.py
  src/command_modules/azure-cli-sql/azure/cli/command_modules/sql/tests/latest/test_sql_commands.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/test_custom_vm_commands.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/test_vm_actions.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/test_vm_defaults.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/test_vm_image.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/test_vm_parameters.py
Owners: @sptramer, @troydai, @djyou, @dragonfly91, @annatisch, @AlexanderYukhanov, @yugangw-msft, @jaredmoo

Fixed the grammar of a warning.
  src/azure-cli-core/azure/cli/core/_profile.py
Owners: none

Added Migration cmdlets, a queue and subscription property
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/_client_factory.py
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/_help.py
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/_params.py
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/_validators.py
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/commands.py
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/custom.py
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_alias.yaml
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_migration.yaml
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_namespace.yaml
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_queue.yaml
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_rules.yaml
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_subscription.yaml
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_topic.yaml
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/tests/latest/test_servicebus_commands.py
  src/command_modules/azure-cli-servicebus/setup.py
Owners: @v-ajnava

Initial commit
  src/azure-cli-core/azure/cli/core/cloud.py
  src/command_modules/azure-cli-loganalytics/HISTORY.rst
  src/command_modules/azure-cli-loganalytics/README.rst
  src/command_modules/azure-cli-loganalytics/azure/__init__.py
  src/command_modules/azure-cli-loganalytics/azure/cli/__init__.py
  src/command_modules/azure-cli-loganalytics/azure/cli/command_modules/__init__.py
  src/command_modules/azure-cli-loganalytics/azure/cli/command_modules/loganalytics/__init__.py
  src/command_modules/azure-cli-loganalytics/azure/cli/command_modules/loganalytics/_client_factory.py
  src/command_modules/azure-cli-loganalytics/azure/cli/command_modules/loganalytics/_help.py
  src/command_modules/azure-cli-loganalytics/azure/cli/command_modules/loganalytics/_params.py
  src/command_modules/azure-cli-loganalytics/azure/cli/command_modules/loganalytics/commands.py
  src/command_modules/azure-cli-loganalytics/azure/cli/command_modules/loganalytics/custom.py
  src/command_modules/azure-cli-loganalytics/azure/cli/command_modules/loganalytics/tests/__init__.py
  src/command_modules/azure-cli-loganalytics/azure/cli/command_modules/loganalytics/tests/latest/__init__.py
  src/command_modules/azure-cli-loganalytics/azure/cli/command_modules/loganalytics/tests/latest/recordings/test_query.yaml
  src/command_modules/azure-cli-loganalytics/azure/cli/command_modules/loganalytics/tests/latest/test_loganalytics_commands.py
  src/command_modules/azure-cli-loganalytics/azure_bdist_wheel.py
  src/command_modules/azure-cli-loganalytics/setup.cfg
  src/command_modules/azure-cli-loganalytics/setup.py
Owners: @sptramer

minor fixes
  src/command_modules/azure-cli-loganalytics/azure/cli/command_modules/loganalytics/__init__.py
  src/command_modules/azure-cli-loganalytics/azure/cli/command_modules/loganalytics/_params.py
  src/command_modules/azure-cli-loganalytics/azure/cli/command_modules/loganalytics/commands.py
  src/command_modules/azure-cli-loganalytics/azure/cli/command_modules/loganalytics/custom.py
  src/command_modules/azure-cli-loganalytics/azure/cli/command_modules/loganalytics/tests/latest/test_loganalytics_commands.py
Owners: none
