Repository Azure/azure-cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sptramer, @troydai, @djyou, @rjtsdl, @Prasanna-Padmanabhan, @yugangw-msft, @dragonfly91, @annatisch, @AlexanderYukhanov, @tjprescott, @dmakwana, @yolo3301, @sandeepnl, @kalyanaj, @williexu, @bulentelmaci, @QingChenmsft, @jaredmoo, @v-ajnava

.github/CODEOWNERS:

# See for instructions on this file https://help.github.com/articles/about-codeowners/

*help.py @sptramer

/tools/ @troydai
/scripts/ @troydai
/src/azure-cli-testsdk/ @troydai
/src/command_modules/azure-cli-acr/ @djyou
/src/command_modules/azure-cli-acs/ @rjtsdl
/src/command_modules/azure-cli-advisor/ @Prasanna-Padmanabhan
/src/command_modules/azure-cli-appservice/ @yugangw-msft
/src/command_modules/azure-cli-backup/ @dragonfly91
/src/command_modules/azure-cli-batch/ @annatisch 
/src/command_modules/azure-cli-batchai/ @AlexanderYukhanov
/src/command_modules/azure-cli-cdn/ @tjprescott
/src/command_modules/azure-cli-cosmosdb/ @dmakwana
/src/command_modules/azure-cli-cloud/ @yugangw-msft
/src/command_modules/azure-cli-container/ @yolo3301
/src/command_modules/azure-cli-consumption/ @sandeepnl
/src/command_modules/azure-cli-eventgrid/ @kalyanaj
/src/command_modules/azure-cli-extension/ @williexu
/src/command_modules/azure-cli-keyvault/ @tjprescott
/src/command_modules/azure-cli-monitor/ @troydai
/src/command_modules/azure-cli-network/ @tjprescott
/src/command_modules/azure-cli-policyinsights/ @bulentelmaci
/src/command_modules/azure-cli-profile/ @yugangw-msft
/src/command_modules/azure-cli-storage/ @troydai
/src/command_modules/azure-cli-servicefabric/ @QingChenmsft
/src/command_modules/azure-cli-sql/ @jaredmoo
/src/command_modules/azure-cli-vm/ @yugangw-msft
/src/command_modules/azure-cli-eventhubs/ @v-ajnava
/src/command_modules/azure-cli-servicebus/ @v-ajnava

added extension summaries to docs
  doc/extensions/README.md
  doc/extensions/extension_summary_guidelines.md
Owners: none

added extension summaries to docs (#6610)
  doc/extensions/README.md
  doc/extensions/extension_summary_guidelines.md
Owners: none

added extension summaries to docs (#6610)
  doc/extensions/README.md
  doc/extensions/extension_summary_guidelines.md
Owners: none

adjust code for ie
  src/azure-cli-core/azure/cli/core/_profile.py
Owners: none

Addressing Review comments and some other fixes
  src/command_modules/azure-cli-rdbms/HISTORY.rst
  src/command_modules/azure-cli-rdbms/azure/cli/command_modules/rdbms/_params.py
  src/command_modules/azure-cli-rdbms/azure/cli/command_modules/rdbms/commands.py
  src/command_modules/azure-cli-rdbms/azure/cli/command_modules/rdbms/tests/latest/recordings/test_mysql_proxy_resources_mgmt.yaml
  src/command_modules/azure-cli-rdbms/azure/cli/command_modules/rdbms/tests/latest/recordings/test_mysql_server_mgmt.yaml
  src/command_modules/azure-cli-rdbms/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_proxy_resources_mgmt.yaml
  src/command_modules/azure-cli-rdbms/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_server_mgmt.yaml
  src/command_modules/azure-cli-rdbms/azure/cli/command_modules/rdbms/tests/latest/test_rdbms_commands.py
Owners: none

Removed confirmation for delete per Review.
  src/command_modules/azure-cli-rdbms/azure/cli/command_modules/rdbms/commands.py
Owners: none

leverage tile in the browser
  src/azure-cli-core/azure/cli/core/_profile.py
Owners: none

fix flake8 formatting
  src/command_modules/azure-cli-rdbms/azure/cli/command_modules/rdbms/tests/latest/test_rdbms_commands.py
Owners: none

add a warning before discover subscriptions which would take a while
  src/azure-cli-core/azure/cli/core/_profile.py
Owners: none

Update HISTORY.rst
  src/command_modules/azure-cli-acs/HISTORY.rst
Owners: @rjtsdl

Version bumps.
  src/command_modules/azure-cli-backup/setup.py
  src/command_modules/azure-cli-configure/setup.py
  src/command_modules/azure-cli-feedback/setup.py
  src/command_modules/azure-cli-keyvault/setup.py
  src/command_modules/azure-cli-redis/setup.py
  src/command_modules/azure-cli-vm/setup.py
Owners: @dragonfly91, @tjprescott, @yugangw-msft

Updated history for command module definition updates.
  src/command_modules/azure-cli-backup/HISTORY.rst
  src/command_modules/azure-cli-configure/HISTORY.rst
  src/command_modules/azure-cli-feedback/HISTORY.rst
  src/command_modules/azure-cli-keyvault/HISTORY.rst
  src/command_modules/azure-cli-redis/HISTORY.rst
  src/command_modules/azure-cli-vm/HISTORY.rst
Owners: @dragonfly91, @tjprescott, @yugangw-msft

error polish
  src/azure-cli-core/azure/cli/core/_profile.py
Owners: none

Slightly improve help messages for image delete commands
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/_help.py
Owners: @djyou

minor
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/_help.py
Owners: @djyou

BatchAI. Updated HISTORY.rst
  src/command_modules/azure-cli-batchai/HISTORY.rst
Owners: @AlexanderYukhanov

updating test recording
  src/command_modules/azure-cli-reservations/azure/cli/command_modules/reservations/tests/latest/recordings/test_get_reservation.yaml
  src/command_modules/azure-cli-reservations/azure/cli/command_modules/reservations/tests/latest/recordings/test_list_reservation_history.yaml
Owners: none

login: use browser for interactive login (#6593)
  src/azure-cli-core/HISTORY.rst
  src/azure-cli-core/azure/cli/core/_profile.py
  src/azure-cli-core/azure/cli/core/auth_landing_pages/fail.html
  src/azure-cli-core/azure/cli/core/auth_landing_pages/ok.html
  src/azure-cli-core/azure/cli/core/tests/test_profile.py
  src/azure-cli-core/azure/cli/core/util.py
  src/azure-cli-core/setup.py
  src/command_modules/azure-cli-appservice/HISTORY.rst
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/custom.py
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/tests/latest/test_webapp_commands_thru_mock.py
  src/command_modules/azure-cli-appservice/setup.py
  src/command_modules/azure-cli-profile/HISTORY.rst
  src/command_modules/azure-cli-profile/azure/cli/command_modules/profile/__init__.py
  src/command_modules/azure-cli-profile/azure/cli/command_modules/profile/custom.py
  src/command_modules/azure-cli-profile/setup.py
Owners: @yugangw-msft

login: use browser for interactive login (#6593)
  src/azure-cli-core/HISTORY.rst
  src/azure-cli-core/azure/cli/core/_profile.py
  src/azure-cli-core/azure/cli/core/auth_landing_pages/fail.html
  src/azure-cli-core/azure/cli/core/auth_landing_pages/ok.html
  src/azure-cli-core/azure/cli/core/tests/test_profile.py
  src/azure-cli-core/azure/cli/core/util.py
  src/azure-cli-core/setup.py
  src/command_modules/azure-cli-appservice/HISTORY.rst
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/custom.py
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/tests/latest/test_webapp_commands_thru_mock.py
  src/command_modules/azure-cli-appservice/setup.py
  src/command_modules/azure-cli-profile/HISTORY.rst
  src/command_modules/azure-cli-profile/azure/cli/command_modules/profile/__init__.py
  src/command_modules/azure-cli-profile/azure/cli/command_modules/profile/custom.py
  src/command_modules/azure-cli-profile/setup.py
Owners: @yugangw-msft

updated all test recordings against python sdk 0.2.1
  src/command_modules/azure-cli-reservations/azure/cli/command_modules/reservations/tests/latest/recordings/test_get_applied_reservation_order_ids.yaml
  src/command_modules/azure-cli-reservations/azure/cli/command_modules/reservations/tests/latest/recordings/test_get_catalog.yaml
  src/command_modules/azure-cli-reservations/azure/cli/command_modules/reservations/tests/latest/recordings/test_get_reservation.yaml
  src/command_modules/azure-cli-reservations/azure/cli/command_modules/reservations/tests/latest/recordings/test_get_reservation_order.yaml
  src/command_modules/azure-cli-reservations/azure/cli/command_modules/reservations/tests/latest/recordings/test_list_reservation.yaml
  src/command_modules/azure-cli-reservations/azure/cli/command_modules/reservations/tests/latest/recordings/test_list_reservation_history.yaml
  src/command_modules/azure-cli-reservations/azure/cli/command_modules/reservations/tests/latest/recordings/test_list_reservation_order.yaml
  src/command_modules/azure-cli-reservations/azure/cli/command_modules/reservations/tests/latest/recordings/test_split_and_merge.yaml
  src/command_modules/azure-cli-reservations/azure/cli/command_modules/reservations/tests/latest/recordings/test_update_reservation.yaml
  src/command_modules/azure-cli-reservations/azure/cli/command_modules/reservations/tests/latest/test_reservations_commands.py
Owners: none

Fix incorrect sub id in error messages
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/_utils.py
Owners: @djyou

changing history to minor fixes
  src/command_modules/azure-cli-reservations/HISTORY.rst
Owners: none

Update Windows Build Script
  build_scripts/windows/azure-cli.wixproj
  build_scripts/windows/scripts/build.cmd
Owners: none

Update Windows Build Script
  build_scripts/windows/azure-cli.wixproj
  build_scripts/windows/scripts/build.cmd
Owners: none

setup: skip trimming .py files on pip
  build_scripts/windows/scripts/build.cmd
Owners: none

update log
  build_scripts/windows/scripts/build.cmd
Owners: none

Remove type specification in the help text
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/_help.py
Owners: @rjtsdl

Update to history.
  src/command_modules/azure-cli-configure/HISTORY.rst
  src/command_modules/azure-cli-keyvault/HISTORY.rst
  src/command_modules/azure-cli-redis/HISTORY.rst
  src/command_modules/azure-cli-vm/HISTORY.rst
Owners: @tjprescott, @yugangw-msft

Automatically provide credentials for container creation from ACR
  src/command_modules/azure-cli-container/azure/cli/command_modules/container/custom.py
Owners: @yolo3301

Bump CLI version
  src/azure-cli-core/HISTORY.rst
  src/azure-cli-core/azure/cli/core/__init__.py
  src/azure-cli-core/setup.py
  src/azure-cli/HISTORY.rst
  src/azure-cli/azure/cli/__init__.py
  src/azure-cli/setup.py
Owners: none

Bump CLI version
  src/azure-cli-core/HISTORY.rst
  src/azure-cli-core/azure/cli/core/__init__.py
  src/azure-cli-core/setup.py
  src/azure-cli/HISTORY.rst
  src/azure-cli/azure/cli/__init__.py
  src/azure-cli/setup.py
Owners: none

Reservations RP: updating to python sdk 0.2.1 (#6586)
  src/command_modules/azure-cli-reservations/HISTORY.rst
  src/command_modules/azure-cli-reservations/azure/cli/command_modules/reservations/tests/latest/recordings/test_get_applied_reservation_order_ids.yaml
  src/command_modules/azure-cli-reservations/azure/cli/command_modules/reservations/tests/latest/recordings/test_get_catalog.yaml
  src/command_modules/azure-cli-reservations/azure/cli/command_modules/reservations/tests/latest/recordings/test_get_reservation.yaml
  src/command_modules/azure-cli-reservations/azure/cli/command_modules/reservations/tests/latest/recordings/test_get_reservation_order.yaml
  src/command_modules/azure-cli-reservations/azure/cli/command_modules/reservations/tests/latest/recordings/test_list_reservation.yaml
  src/command_modules/azure-cli-reservations/azure/cli/command_modules/reservations/tests/latest/recordings/test_list_reservation_history.yaml
  src/command_modules/azure-cli-reservations/azure/cli/command_modules/reservations/tests/latest/recordings/test_list_reservation_order.yaml
  src/command_modules/azure-cli-reservations/azure/cli/command_modules/reservations/tests/latest/recordings/test_split_and_merge.yaml
  src/command_modules/azure-cli-reservations/azure/cli/command_modules/reservations/tests/latest/recordings/test_update_reservation.yaml
  src/command_modules/azure-cli-reservations/azure/cli/command_modules/reservations/tests/latest/test_reservations_commands.py
  src/command_modules/azure-cli-reservations/setup.py
Owners: none

Reservations RP: updating to python sdk 0.2.1 (#6586)
  src/command_modules/azure-cli-reservations/HISTORY.rst
  src/command_modules/azure-cli-reservations/azure/cli/command_modules/reservations/tests/latest/recordings/test_get_applied_reservation_order_ids.yaml
  src/command_modules/azure-cli-reservations/azure/cli/command_modules/reservations/tests/latest/recordings/test_get_catalog.yaml
  src/command_modules/azure-cli-reservations/azure/cli/command_modules/reservations/tests/latest/recordings/test_get_reservation.yaml
  src/command_modules/azure-cli-reservations/azure/cli/command_modules/reservations/tests/latest/recordings/test_get_reservation_order.yaml
  src/command_modules/azure-cli-reservations/azure/cli/command_modules/reservations/tests/latest/recordings/test_list_reservation.yaml
  src/command_modules/azure-cli-reservations/azure/cli/command_modules/reservations/tests/latest/recordings/test_list_reservation_history.yaml
  src/command_modules/azure-cli-reservations/azure/cli/command_modules/reservations/tests/latest/recordings/test_list_reservation_order.yaml
  src/command_modules/azure-cli-reservations/azure/cli/command_modules/reservations/tests/latest/recordings/test_split_and_merge.yaml
  src/command_modules/azure-cli-reservations/azure/cli/command_modules/reservations/tests/latest/recordings/test_update_reservation.yaml
  src/command_modules/azure-cli-reservations/azure/cli/command_modules/reservations/tests/latest/test_reservations_commands.py
  src/command_modules/azure-cli-reservations/setup.py
Owners: none

Extension list-available will only list extensions available for CLI version (#6585)
  src/azure-cli-core/azure/cli/core/extension.py
  src/command_modules/azure-cli-extension/HISTORY.rst
  src/command_modules/azure-cli-extension/azure/cli/command_modules/extension/custom.py
  src/command_modules/azure-cli-extension/azure/cli/command_modules/extension/tests/latest/test_extension_commands.py
  src/command_modules/azure-cli-extension/setup.py
Owners: @williexu

Extension list-available will only list extensions available for CLI version (#6585)
  src/azure-cli-core/azure/cli/core/extension.py
  src/command_modules/azure-cli-extension/HISTORY.rst
  src/command_modules/azure-cli-extension/azure/cli/command_modules/extension/custom.py
  src/command_modules/azure-cli-extension/azure/cli/command_modules/extension/tests/latest/test_extension_commands.py
  src/command_modules/azure-cli-extension/setup.py
Owners: @williexu

[ACR] Slightly improve help messages for image delete commands (#6619)
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/_help.py
Owners: @djyou

[ACR] Slightly improve help messages for image delete commands (#6619)
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/_help.py
Owners: @djyou

Allow case insensitive enum values
  src/command_modules/azure-cli-acr/HISTORY.rst
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/_constants.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/_params.py
Owners: @djyou

BatchAI. Fixed documentation for setup-task
  src/command_modules/azure-cli-batchai/azure/cli/command_modules/batchai/_help.py
  src/command_modules/azure-cli-batchai/azure/cli/command_modules/batchai/_params.py
Owners: @AlexanderYukhanov

BatchAI. Updated HISTORY.rst
  src/command_modules/azure-cli-batchai/HISTORY.rst
Owners: @AlexanderYukhanov
