Repository Azure/azure-cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sptramer, @troydai, @djyou, @rjtsdl, @Prasanna-Padmanabhan, @yugangw-msft, @dragonfly91, @annatisch, @AlexanderYukhanov, @tjprescott, @dmakwana, @yolo3301, @sandeepnl, @kalyanaj, @williexu, @bulentelmaci, @QingChenmsft, @jaredmoo, @v-ajnava

Remove explicit versioning informaton in help and supplementary materials.
  .snapcraft.yaml
  Dockerfile
  README.md
  build_scripts/debian/dir_creator.sh
  build_scripts/rpm/azure-cli.spec
  cli_license_terms.md
  doc/authoring_command_modules/authoring_commands.md
  doc/azure2az_commands.rst
  doc/classic_cli_migration.md
  src/azure-cli/README.rst
Owners: none

Added support for windows container via nanoserver (#6070)
  Dockerfile.nanoserver
Owners: none

Added support for windows container via nanoserver (#6070)
  Dockerfile.nanoserver
Owners: none

Update with the offical package.
  privates/azure_mgmt_resource-2.0.0rc2-py2.py3-none-any.whl
  src/command_modules/azure-cli-acr/setup.py
  src/command_modules/azure-cli-monitor/setup.py
  src/command_modules/azure-cli-network/setup.py
  src/command_modules/azure-cli-resource/setup.py
  src/command_modules/azure-cli-vm/setup.py
Owners: @djyou, @troydai, @tjprescott, @yugangw-msft

update setup.py and history files.
  src/azure-cli-core/HISTORY.rst
  src/command_modules/azure-cli-resource/HISTORY.rst
  src/command_modules/azure-cli-resource/setup.py
Owners: none

revert some version changes.
  src/azure-cli-core/setup.py
  src/command_modules/azure-cli-acr/HISTORY.rst
  src/command_modules/azure-cli-acr/setup.py
  src/command_modules/azure-cli-network/setup.py
  src/command_modules/azure-cli-resource/HISTORY.rst
  src/command_modules/azure-cli-resource/setup.py
  src/command_modules/azure-cli-vm/setup.py
Owners: @djyou, @tjprescott, @yugangw-msft

Resolve comments. Fix test failures.
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/_help.py
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/_params.py
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/custom.py
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/tests/latest/recordings/test_list_managementgroups.yaml
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/tests/latest/recordings/test_managedappdef.yaml
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/tests/latest/recordings/test_managedappdef_inline.yaml
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/tests/latest/recordings/test_resource_policy.yaml
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/tests/latest/recordings/test_subscription_level_deployment.yaml
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/tests/latest/test_resource.py
Owners: @sptramer

bump the package versions.
  src/azure-cli-core/setup.py
  src/command_modules/azure-cli-acr/HISTORY.rst
  src/command_modules/azure-cli-acr/setup.py
  src/command_modules/azure-cli-network/HISTORY.rst
  src/command_modules/azure-cli-network/setup.py
  src/command_modules/azure-cli-resource/HISTORY.rst
  src/command_modules/azure-cli-resource/setup.py
  src/command_modules/azure-cli-vm/setup.py
Owners: @djyou, @tjprescott, @yugangw-msft

Fix format.
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/custom.py
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/tests/latest/test_resource.py
Owners: none

Bump azure-cli-monitor version.
  src/command_modules/azure-cli-monitor/HISTORY.rst
  src/command_modules/azure-cli-monitor/setup.py
Owners: @troydai

Fix format.
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/custom.py
Owners: none

remove trailing whitespaces.
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/custom.py
Owners: none

Removed help entries.
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/_help.py
Owners: @sptramer

fix network version.
  src/command_modules/azure-cli-network/HISTORY.rst
  src/command_modules/azure-cli-network/setup.py
Owners: @tjprescott

resolve conflict.
  src/command_modules/azure-cli-acr/HISTORY.rst
Owners: @djyou

fix test_profile.py.
  src/azure-cli-core/azure/cli/core/tests/test_profile.py
Owners: none

fix.
  src/command_modules/azure-cli-acr/HISTORY.rst
Owners: @djyou

replace the rest of "2017-05-10"
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/tests/latest/recordings/test_acr_create_build_task.yaml
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/tests/latest/recordings/test_acr_create_replication.yaml
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/tests/latest/recordings/test_acr_create_webhook.yaml
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/tests/latest/recordings/test_acr_create_with_existing_storage.yaml
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/tests/latest/recordings/test_acr_create_with_new_storage.yaml
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/tests/latest/recordings/test_acr_image_import.yaml
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/tests/latest/recordings/test_acr_integration.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_address_pool.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_auth_cert.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_frontend_ip_private.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_frontend_ip_public.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_frontend_port.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_http_listener.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_http_settings.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_probe.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_rule.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_no_wait.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_redirect_config.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_waf_config.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_with_defaults.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_with_existing_subnet.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_with_private_ip.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_with_public_ip.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_lb.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_lb_address_pool.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_lb_nat_pools.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_lb_nat_rules.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_lb_probes.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_lb_rules.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_lb_sku.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_lb_zone.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_load_balancer_ip_config.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_nic.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_nic_subresources.yaml
  src/command_modules/azure-cli-sql/azure/cli/command_modules/sql/tests/latest/recordings/test_sql_db_security_mgmt.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_lb_integration.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_create_existing_ids_options.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_existing_lb.yaml
Owners: @djyou, @yugangw-msft, @tjprescott, @jaredmoo

[AKS] default RBAC to true and deprecate "--enable-rbac" argument
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/_help.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/_params.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/custom.py
Owners: @rjtsdl

Update HISTORY.rst
  src/command_modules/azure-cli-acs/HISTORY.rst
Owners: @rjtsdl

not all VMSS autoscale settings has notifications, we need to verify before iteration to avoid StopIteration exception
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/operations/autoscale_settings.py
Owners: @troydai

Introduce azure.cli.core.api to provide unified interfaces module
  src/azure-cli-core/azure/cli/core/api.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/custom.py
  src/command_modules/azure-cli-find/HISTORY.rst
  src/command_modules/azure-cli-find/azure/cli/command_modules/find/custom.py
  src/command_modules/azure-cli-find/setup.py
  src/command_modules/azure-cli-interactive/HISTORY.rst
  src/command_modules/azure-cli-interactive/azure/cli/command_modules/interactive/azclishell/app.py
  src/command_modules/azure-cli-interactive/setup.py
Owners: @rjtsdl

Setup: skip trimming .py files on pip (#6625)
  build_scripts/windows/scripts/build.cmd
Owners: none

Setup: skip trimming .py files on pip (#6625)
  build_scripts/windows/scripts/build.cmd
Owners: none

Setup: skip trimming .py files on pip (#6625)
  build_scripts/windows/scripts/build.cmd
Owners: none

Setup: skip trimming .py files on pip (#6625)
  build_scripts/windows/scripts/build.cmd
Owners: none

Update _help.py in ACS module (#6646)
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/_help.py
Owners: @rjtsdl

Update _help.py in ACS module (#6646)
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/_help.py
Owners: @rjtsdl

Point out that enabling RBAC by default breaks with previous behavior
  src/command_modules/azure-cli-acs/HISTORY.rst
Owners: @rjtsdl

BatchAI. Fix table output for node list and minor fixes in descriptions (#6597)
  src/command_modules/azure-cli-batchai/HISTORY.rst
  src/command_modules/azure-cli-batchai/azure/cli/command_modules/batchai/_format.py
  src/command_modules/azure-cli-batchai/azure/cli/command_modules/batchai/_help.py
  src/command_modules/azure-cli-batchai/azure/cli/command_modules/batchai/_params.py
  src/command_modules/azure-cli-batchai/setup.py
Owners: @AlexanderYukhanov

BatchAI. Fix table output for node list and minor fixes in descriptions (#6597)
  src/command_modules/azure-cli-batchai/HISTORY.rst
  src/command_modules/azure-cli-batchai/azure/cli/command_modules/batchai/_format.py
  src/command_modules/azure-cli-batchai/azure/cli/command_modules/batchai/_help.py
  src/command_modules/azure-cli-batchai/azure/cli/command_modules/batchai/_params.py
  src/command_modules/azure-cli-batchai/setup.py
Owners: @AlexanderYukhanov

Update autoscale_settings.py
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/operations/autoscale_settings.py
Owners: @troydai

vmss: remove a workaround for VMSS patch service bug
  src/command_modules/azure-cli-vm/HISTORY.rst
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/custom.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_explicit_msi.yaml
Owners: @yugangw-msft

adding log analytics integrations
  src/command_modules/azure-cli-container/azure/cli/command_modules/container/_client_factory.py
  src/command_modules/azure-cli-container/azure/cli/command_modules/container/_params.py
  src/command_modules/azure-cli-container/azure/cli/command_modules/container/commands.py
  src/command_modules/azure-cli-container/azure/cli/command_modules/container/custom.py
  src/command_modules/azure-cli-container/setup.py
Owners: @yolo3301

Update autoscale_settings.py
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/operations/autoscale_settings.py
Owners: @troydai

testing for parser spellcheck
  src/azure-cli-core/azure/cli/core/tests/test_parser.py
Owners: none

fixes to spellchecker test
  src/azure-cli-core/azure/cli/core/tests/test_parser.py
Owners: none

upadting documentation and history release
  src/command_modules/azure-cli-container/HISTORY.rst
  src/command_modules/azure-cli-container/README.rst
  src/command_modules/azure-cli-container/azure/cli/command_modules/container/_client_factory.py
  src/command_modules/azure-cli-container/azure/cli/command_modules/container/_help.py
  src/command_modules/azure-cli-container/azure/cli/command_modules/container/custom.py
  src/command_modules/azure-cli-container/setup.py
Owners: @yolo3301

msg edit in test
  src/azure-cli-core/azure/cli/core/tests/test_parser.py
Owners: none

Add acr login server suffix to cloud config
  src/azure-cli-core/azure/cli/core/cloud.py
  src/command_modules/azure-cli-cloud/HISTORY.rst
  src/command_modules/azure-cli-cloud/azure/cli/command_modules/cloud/__init__.py
  src/command_modules/azure-cli-cloud/azure/cli/command_modules/cloud/custom.py
  src/command_modules/azure-cli-cloud/setup.py
Owners: @yugangw-msft

.github/CODEOWNERS:

# See for instructions on this file https://help.github.com/articles/about-codeowners/

*help.py @sptramer

/tools/ @troydai
/scripts/ @troydai
/src/azure-cli-testsdk/ @troydai
/src/command_modules/azure-cli-acr/ @djyou
/src/command_modules/azure-cli-acs/ @rjtsdl
/src/command_modules/azure-cli-advisor/ @Prasanna-Padmanabhan
/src/command_modules/azure-cli-appservice/ @yugangw-msft
/src/command_modules/azure-cli-backup/ @dragonfly91
/src/command_modules/azure-cli-batch/ @annatisch 
/src/command_modules/azure-cli-batchai/ @AlexanderYukhanov
/src/command_modules/azure-cli-cdn/ @tjprescott
/src/command_modules/azure-cli-cosmosdb/ @dmakwana
/src/command_modules/azure-cli-cloud/ @yugangw-msft
/src/command_modules/azure-cli-container/ @yolo3301
/src/command_modules/azure-cli-consumption/ @sandeepnl
/src/command_modules/azure-cli-eventgrid/ @kalyanaj
/src/command_modules/azure-cli-extension/ @williexu
/src/command_modules/azure-cli-keyvault/ @tjprescott
/src/command_modules/azure-cli-monitor/ @troydai
/src/command_modules/azure-cli-network/ @tjprescott
/src/command_modules/azure-cli-policyinsights/ @bulentelmaci
/src/command_modules/azure-cli-profile/ @yugangw-msft
/src/command_modules/azure-cli-storage/ @troydai
/src/command_modules/azure-cli-servicefabric/ @QingChenmsft
/src/command_modules/azure-cli-sql/ @jaredmoo
/src/command_modules/azure-cli-vm/ @yugangw-msft
/src/command_modules/azure-cli-eventhubs/ @v-ajnava
/src/command_modules/azure-cli-servicebus/ @v-ajnava
