Repository Azure/azure-cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @haroldrandom, @MyronFanQiu, @fengzhou-msft, @bim-msft, @jiasli, @Juliehzl, @arrownj, @jsntcy, @djyou, @rjtsdl, @Prasanna-Padmanabhan, @shenmuxiaosen, @avanigupta, @qwordy, @dragonfly91, @bgklein, @AlexanderYukhanov, @dmakwana, @zhoxing-ms, @sandeepnl, @lewu-msft, @khannarheams, @cheggert, @QingChenmsft, @jaredmoo, @v-ajnava, @kevinhillinger, @jonlester, @digimaun, @mjudeikis, @jim-minter

Revert "Delete test_sql_server_security_mgmt.yaml"
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/recordings/test_sql_server_security_mgmt.yaml
Owners: @jaredmoo, @Juliehzl

update sql db audit test, fixing sql server audit test
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/recordings/test_sql_db_security_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/recordings/test_sql_server_security_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/test_sql_commands.py
Owners: @jaredmoo, @Juliehzl

Update sample_policy_set.json
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/sample_policy_set.json
Owners: @Juliehzl, @zhoxing-ms

Update sample_policy_set_parameterized.json
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/sample_policy_set_parameterized.json
Owners: @Juliehzl, @zhoxing-ms

WIP: Activate env
  .azure-pipelines/templates/azdev_setup.yml
Owners: none

Revert commit, wrong branch
  .azure-pipelines/templates/azdev_setup.yml
Owners: none

WIP: Activate env
  .azure-pipelines/templates/azdev_setup.yml
Owners: none

WIP: Source
  .azure-pipelines/templates/azdev_setup.yml
  azure-pipelines.yml
Owners: none

Test install of -r
  .azure-pipelines/templates/azdev_setup.yml
Owners: none

Add special CLI name.
  src/azure-cli-core/azure/cli/core/__init__.py
Owners: @jiasli, @Juliehzl, @haroldrandom, @fengzhou-msft, @arrownj, @MyronFanQiu, @jsntcy

WIP: put back to normal
  .azure-pipelines/templates/azdev_setup.yml
Owners: none

WIP: Fix config test
  src/azure-cli/azure/cli/command_modules/config/tests/latest/test_config.py
Owners: none

Typo
  src/azure-cli/azure/cli/command_modules/config/tests/latest/test_config.py
Owners: none

WIP: Use Os.join on config
  src/azure-cli/azure/cli/command_modules/config/tests/latest/test_config.py
Owners: none

{AppService} make webapp name local context value readable for cupertino
  src/azure-cli/azure/cli/command_modules/appservice/_params.py
Owners: @qwordy, @Juliehzl

.github/CODEOWNERS:

# See for instructions on this file https://help.github.com/articles/about-codeowners/

*help.py @haroldrandom
*help.yaml @haroldrandom
*help.yml  @haroldrandom

/linter_exclusions.yml @MyronFanQiu @haroldrandom

/tools/ @haroldrandom @fengzhou-msft
/scripts/ @haroldrandom @fengzhou-msft
/src/azure-cli-testsdk/ @bim-msft @MyronFanQiu @haroldrandom
/src/azure-cli-core/ @jiasli @Juliehzl @haroldrandom @fengzhou-msft @arrownj @MyronFanQiu @jsntcy
/src/azure-cli/azure/cli/command_modules/acr/ @djyou @fengzhou-msft
/src/azure-cli/azure/cli/command_modules/acs/ @rjtsdl @arrownj
/src/azure-cli/azure/cli/command_modules/advisor/ @Prasanna-Padmanabhan
/src/azure-cli/azure/cli/command_modules/appconfig/ @shenmuxiaosen @avanigupta @bim-msft
/src/azure-cli/azure/cli/command_modules/appservice/ @qwordy @Juliehzl
/src/azure-cli/azure/cli/command_modules/backup/ @dragonfly91 @fengzhou-msft
/src/azure-cli/azure/cli/command_modules/batch/ @bgklein
/src/azure-cli/azure/cli/command_modules/batchai/ @AlexanderYukhanov
/src/azure-cli/azure/cli/command_modules/cosmosdb/ @dmakwana
/src/azure-cli/azure/cli/command_modules/cloud/ @jiasli @fengzhou-msft
/src/azure-cli/azure/cli/command_modules/container/ @zhoxing-ms
/src/azure-cli/azure/cli/command_modules/consumption/ @sandeepnl
/src/azure-cli/azure/cli/command_modules/dls/ @lewu-msft
/src/azure-cli/azure/cli/command_modules/extension/ @fengzhou-msft @haroldrandom
/src/azure-cli/azure/cli/command_modules/keyvault/ @bim-msft @fengzhou-msft
/src/azure-cli/azure/cli/command_modules/monitor/ @MyronFanQiu @jsntcy
/src/azure-cli/azure/cli/command_modules/natgateway/ @khannarheams @MyronFanQiu @haroldrandom
/src/azure-cli/azure/cli/command_modules/network/ @MyronFanQiu @haroldrandom
/src/azure-cli/azure/cli/command_modules/privatedns/ @MyronFanQiu @haroldrandom
/src/azure-cli/azure/cli/command_modules/policyinsights/ @cheggert
/src/azure-cli/azure/cli/command_modules/profile/ @jiasli @arrownj
/src/azure-cli/azure/cli/command_modules/resource/ @Juliehzl @zhoxing-ms
/src/azure-cli/azure/cli/command_modules/role/ @jiasli @arrownj
/src/azure-cli/azure/cli/command_modules/storage/ @Juliehzl @jsntcy @zhoxing-ms
/src/azure-cli/azure/cli/command_modules/servicefabric/ @QingChenmsft @qwordy
/src/azure-cli/azure/cli/command_modules/sql/ @jaredmoo @Juliehzl
/src/azure-cli/azure/cli/command_modules/vm/ @qwordy @arrownj
/src/azure-cli/azure/cli/command_modules/eventhubs/ @v-ajnava
/src/azure-cli/azure/cli/command_modules/servicebus/ @v-ajnava @fengzhou-msft
/src/azure-cli/azure/cli/command_modules/apim/ @kevinhillinger @jonlester
/src/azure-cli/azure/cli/command_modules/iot/ @digimaun
/src/azure-cli/azure/cli/command_modules/aro/ @mjudeikis @jim-minter
/src/azure-cli/azure/cli/command_modules/util/ @jiasli @Juliehzl @zhoxing-ms
