Repository Azure/azure-cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sptramer, @tjprescott, @djyou, @rjtsdl, @Prasanna-Padmanabhan, @yugangw-msft, @dragonfly91, @bgklein, @AlexanderYukhanov, @dmakwana, @samkreter, @sandeepnl, @lewu-msft, @kalyanaj, @williexu, @cheggert, @QingChenmsft, @jaredmoo, @v-ajnava

addressed review comment
  src/command_modules/azure-cli-appservice/HISTORY.rst
Owners: @yugangw-msft

bug: fix bogus error on switching clouds
  src/azure-cli-core/azure/cli/core/_profile.py
  src/azure-cli-core/azure/cli/core/cloud.py
Owners: none

ensure ctx updated with right cloud
  src/azure-cli-core/HISTORY.rst
  src/azure-cli-core/azure/cli/core/_profile.py
  src/azure-cli-core/azure/cli/core/cloud.py
Owners: none

Handle az and pipes in command parameters.
  tools/automation/cli_linter/rules/help_rules.py
Owners: @tjprescott

updating add functions to work with backend change
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/custom.py
Owners: @yugangw-msft

Responding to feedback
  .travis.yml
  scripts/ci/reject_master_prs.sh
Owners: @tjprescott

[AKS] handle older kubectl versions in "az aks browse"
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/custom.py
Owners: @rjtsdl

Update HISTORY.rst and module version
  src/command_modules/azure-cli-acs/HISTORY.rst
  src/command_modules/azure-cli-acs/setup.py
Owners: @rjtsdl

.github/CODEOWNERS:

# See for instructions on this file https://help.github.com/articles/about-codeowners/

*help.py @sptramer

/tools/ @tjprescott
/scripts/ @tjprescott
/src/azure-cli-testsdk/ @tjprescott
/src/command_modules/azure-cli-acr/ @djyou
/src/command_modules/azure-cli-acs/ @rjtsdl
/src/command_modules/azure-cli-advisor/ @Prasanna-Padmanabhan
/src/command_modules/azure-cli-appservice/ @yugangw-msft
/src/command_modules/azure-cli-backup/ @dragonfly91
/src/command_modules/azure-cli-batch/ @bgklein
/src/command_modules/azure-cli-batchai/ @AlexanderYukhanov
/src/command_modules/azure-cli-cdn/ @tjprescott
/src/command_modules/azure-cli-cosmosdb/ @dmakwana
/src/command_modules/azure-cli-cloud/ @yugangw-msft
/src/command_modules/azure-cli-container/ @samkreter
/src/command_modules/azure-cli-consumption/ @sandeepnl
/src/command_modules/azure-cli-dls/ @lewu-msft
/src/command_modules/azure-cli-eventgrid/ @kalyanaj
/src/command_modules/azure-cli-extension/ @williexu
/src/command_modules/azure-cli-keyvault/ @tjprescott
/src/command_modules/azure-cli-monitor/ @tjprescott
/src/command_modules/azure-cli-network/ @tjprescott
/src/command_modules/azure-cli-policyinsights/ @cheggert
/src/command_modules/azure-cli-profile/ @yugangw-msft
/src/command_modules/azure-cli-storage/ @williexu
/src/command_modules/azure-cli-servicefabric/ @QingChenmsft
/src/command_modules/azure-cli-sql/ @jaredmoo
/src/command_modules/azure-cli-vm/ @yugangw-msft
/src/command_modules/azure-cli-eventhubs/ @v-ajnava
/src/command_modules/azure-cli-servicebus/ @v-ajnava
