Repository Azure/azure-cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sptramer, @troydai, @djyou, @rjtsdl, @Prasanna-Padmanabhan, @yugangw-msft, @dragonfly91, @annatisch, @AlexanderYukhanov, @tjprescott, @dmakwana, @yolo3301, @sandeepnl, @kalyanaj, @williexu, @bulentelmaci, @QingChenmsft, @jaredmoo, @v-ajnava

.github/CODEOWNERS:

# See for instructions on this file https://help.github.com/articles/about-codeowners/

*help.py @sptramer

/tools/ @troydai
/scripts/ @troydai
/src/azure-cli-testsdk/ @troydai
/src/command_modules/azure-cli-acr/ @djyou
/src/command_modules/azure-cli-acs/ @rjtsdl
/src/command_modules/azure-cli-advisor/ @Prasanna-Padmanabhan
/src/command_modules/azure-cli-appservice/ @yugangw-msft
/src/command_modules/azure-cli-backup/ @dragonfly91
/src/command_modules/azure-cli-batch/ @annatisch 
/src/command_modules/azure-cli-batchai/ @AlexanderYukhanov
/src/command_modules/azure-cli-cdn/ @tjprescott
/src/command_modules/azure-cli-cosmosdb/ @dmakwana
/src/command_modules/azure-cli-cloud/ @yugangw-msft
/src/command_modules/azure-cli-container/ @yolo3301
/src/command_modules/azure-cli-consumption/ @sandeepnl
/src/command_modules/azure-cli-eventgrid/ @kalyanaj
/src/command_modules/azure-cli-extension/ @williexu
/src/command_modules/azure-cli-keyvault/ @tjprescott
/src/command_modules/azure-cli-monitor/ @troydai
/src/command_modules/azure-cli-network/ @tjprescott
/src/command_modules/azure-cli-policyinsights/ @bulentelmaci
/src/command_modules/azure-cli-profile/ @yugangw-msft
/src/command_modules/azure-cli-storage/ @troydai
/src/command_modules/azure-cli-servicefabric/ @QingChenmsft
/src/command_modules/azure-cli-sql/ @jaredmoo
/src/command_modules/azure-cli-vm/ @yugangw-msft
/src/command_modules/azure-cli-eventhubs/ @v-ajnava
/src/command_modules/azure-cli-servicebus/ @v-ajnava

Do not require --log-analytics-workspace-key when passing in the name or ID (#6825)
  src/command_modules/azure-cli-container/HISTORY.rst
  src/command_modules/azure-cli-container/README.rst
  src/command_modules/azure-cli-container/azure/cli/command_modules/container/_params.py
  src/command_modules/azure-cli-container/azure/cli/command_modules/container/custom.py
  src/command_modules/azure-cli-container/setup.py
Owners: @yolo3301

Do not require --log-analytics-workspace-key when passing in the name or ID (#6825)
  src/command_modules/azure-cli-container/HISTORY.rst
  src/command_modules/azure-cli-container/README.rst
  src/command_modules/azure-cli-container/azure/cli/command_modules/container/_params.py
  src/command_modules/azure-cli-container/azure/cli/command_modules/container/custom.py
  src/command_modules/azure-cli-container/setup.py
Owners: @yolo3301

Closes #6779.
  src/command_modules/azure-cli-servicebus/HISTORY.rst
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/_help.py
  src/command_modules/azure-cli-servicebus/setup.py
Owners: @v-ajnava

Closes #6756
  src/command_modules/azure-cli-network/HISTORY.rst
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_help.py
  src/command_modules/azure-cli-network/setup.py
Owners: @tjprescott

Closes #6732.
  src/command_modules/azure-cli-vm/HISTORY.rst
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_help.py
Owners: @yugangw-msft

Fix arg help typo in vm image --urn
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_params.py
Owners: @yugangw-msft

Fix arg help typo in vm image --urn (#6844)
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_params.py
Owners: @yugangw-msft

Fix arg help typo in vm image --urn (#6844)
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_params.py
Owners: @yugangw-msft

Fix bug when show AAD token in cloudshell
  src/command_modules/azure-cli-batch/HISTORY.rst
  src/command_modules/azure-cli-batch/azure/cli/command_modules/batch/custom.py
  src/command_modules/azure-cli-batch/setup.py
Owners: @annatisch

CR comments and CI fix
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/_params.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/build_task.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/tests/latest/recordings/test_acr_create_build_task.yaml
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/tests/latest/test_acr_commands.py
Owners: @djyou

replace failing url with direct sotrage blob url
  src/command_modules/azure-cli-extension/azure/cli/command_modules/extension/_index.py
Owners: @williexu

Consolidate help fix PRs (#6843)
  src/command_modules/azure-cli-network/HISTORY.rst
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_help.py
  src/command_modules/azure-cli-network/setup.py
  src/command_modules/azure-cli-servicebus/HISTORY.rst
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/_help.py
  src/command_modules/azure-cli-servicebus/setup.py
  src/command_modules/azure-cli-vm/HISTORY.rst
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_help.py
Owners: @tjprescott, @v-ajnava, @yugangw-msft

Consolidate help fix PRs (#6843)
  src/command_modules/azure-cli-network/HISTORY.rst
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_help.py
  src/command_modules/azure-cli-network/setup.py
  src/command_modules/azure-cli-servicebus/HISTORY.rst
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/_help.py
  src/command_modules/azure-cli-servicebus/setup.py
  src/command_modules/azure-cli-vm/HISTORY.rst
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_help.py
Owners: @tjprescott, @v-ajnava, @yugangw-msft

version bump
  src/command_modules/azure-cli-extension/HISTORY.rst
  src/command_modules/azure-cli-extension/setup.py
Owners: @williexu

replace failing url with direct storage blob url (#6848)
  src/command_modules/azure-cli-extension/HISTORY.rst
  src/command_modules/azure-cli-extension/azure/cli/command_modules/extension/_index.py
  src/command_modules/azure-cli-extension/setup.py
Owners: @williexu

replace failing url with direct storage blob url (#6848)
  src/command_modules/azure-cli-extension/HISTORY.rst
  src/command_modules/azure-cli-extension/azure/cli/command_modules/extension/_index.py
  src/command_modules/azure-cli-extension/setup.py
Owners: @williexu

Fix bug when show AAD token in cloudshell (#6846)
  src/command_modules/azure-cli-batch/HISTORY.rst
  src/command_modules/azure-cli-batch/azure/cli/command_modules/batch/custom.py
  src/command_modules/azure-cli-batch/setup.py
Owners: @annatisch

Fix bug when show AAD token in cloudshell (#6846)
  src/command_modules/azure-cli-batch/HISTORY.rst
  src/command_modules/azure-cli-batch/azure/cli/command_modules/batch/custom.py
  src/command_modules/azure-cli-batch/setup.py
Owners: @annatisch

Fix issue with profile display
  azure-cli2017.pyproj
  src/azure-cli-core/azure/cli/core/commands/__init__.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/__init__.py
  src/command_modules/azure-cli-appservice/HISTORY.rst
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/__init__.py
  src/command_modules/azure-cli-appservice/setup.py
  src/command_modules/azure-cli-batch/HISTORY.rst
  src/command_modules/azure-cli-batch/azure/cli/command_modules/batch/__init__.py
  src/command_modules/azure-cli-batch/setup.py
  src/command_modules/azure-cli-maps/HISTORY.rst
  src/command_modules/azure-cli-maps/azure/cli/command_modules/maps/__init__.py
  src/command_modules/azure-cli-maps/setup.py
  src/command_modules/azure-cli-reservations/HISTORY.rst
  src/command_modules/azure-cli-reservations/azure/cli/command_modules/reservations/__init__.py
  src/command_modules/azure-cli-reservations/setup.py
  src/command_modules/azure-cli-sql/HISTORY.rst
  src/command_modules/azure-cli-sql/azure/cli/command_modules/sql/__init__.py
  src/command_modules/azure-cli-sql/setup.py
Owners: @rjtsdl, @yugangw-msft, @annatisch, @jaredmoo

fix CI
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/build_task.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/tests/latest/recordings/test_acr_create_build_task.yaml
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/tests/latest/test_acr_commands.py
Owners: @djyou

removing privates, addressing cr comments
  privates/azure_common-1.1.12-py2.py3-none-any.whl
  privates/azure_mgmt_authorization-0.50.0-py2.py3-none-any.whl
  src/command_modules/azure-cli-ams/HISTORY.rst
  src/command_modules/azure-cli-resource/HISTORY.rst
  src/command_modules/azure-cli-role/HISTORY.rst
  src/command_modules/azure-cli-role/azure/cli/command_modules/role/commands.py
  src/command_modules/azure-cli-role/azure/cli/command_modules/role/custom.py
Owners: none

randmoize and shorten the arm deployment name
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/custom.py
Owners: @rjtsdl

fix error message
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/custom.py
Owners: @rjtsdl

Fix issue with profile display
  azure-cli2017.pyproj
  src/azure-cli-core/azure/cli/core/commands/__init__.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/__init__.py
  src/command_modules/azure-cli-appservice/HISTORY.rst
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/__init__.py
  src/command_modules/azure-cli-appservice/setup.py
  src/command_modules/azure-cli-batch/HISTORY.rst
  src/command_modules/azure-cli-batch/azure/cli/command_modules/batch/__init__.py
  src/command_modules/azure-cli-batch/setup.py
  src/command_modules/azure-cli-maps/HISTORY.rst
  src/command_modules/azure-cli-maps/azure/cli/command_modules/maps/__init__.py
  src/command_modules/azure-cli-maps/setup.py
  src/command_modules/azure-cli-reservations/HISTORY.rst
  src/command_modules/azure-cli-reservations/azure/cli/command_modules/reservations/__init__.py
  src/command_modules/azure-cli-reservations/setup.py
  src/command_modules/azure-cli-sql/HISTORY.rst
  src/command_modules/azure-cli-sql/azure/cli/command_modules/sql/__init__.py
  src/command_modules/azure-cli-sql/setup.py
Owners: @rjtsdl, @yugangw-msft, @annatisch, @jaredmoo

Fix issue with profile display (#6849)
  azure-cli2017.pyproj
  src/azure-cli-core/azure/cli/core/commands/__init__.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/__init__.py
  src/command_modules/azure-cli-appservice/HISTORY.rst
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/__init__.py
  src/command_modules/azure-cli-appservice/setup.py
  src/command_modules/azure-cli-batch/HISTORY.rst
  src/command_modules/azure-cli-batch/azure/cli/command_modules/batch/__init__.py
  src/command_modules/azure-cli-batch/setup.py
  src/command_modules/azure-cli-maps/HISTORY.rst
  src/command_modules/azure-cli-maps/azure/cli/command_modules/maps/__init__.py
  src/command_modules/azure-cli-maps/setup.py
  src/command_modules/azure-cli-reservations/HISTORY.rst
  src/command_modules/azure-cli-reservations/azure/cli/command_modules/reservations/__init__.py
  src/command_modules/azure-cli-reservations/setup.py
  src/command_modules/azure-cli-sql/HISTORY.rst
  src/command_modules/azure-cli-sql/azure/cli/command_modules/sql/__init__.py
  src/command_modules/azure-cli-sql/setup.py
Owners: @rjtsdl, @yugangw-msft, @annatisch, @jaredmoo

Fix issue with profile display (#6849)
  azure-cli2017.pyproj
  src/azure-cli-core/azure/cli/core/commands/__init__.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/__init__.py
  src/command_modules/azure-cli-appservice/HISTORY.rst
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/__init__.py
  src/command_modules/azure-cli-appservice/setup.py
  src/command_modules/azure-cli-batch/HISTORY.rst
  src/command_modules/azure-cli-batch/azure/cli/command_modules/batch/__init__.py
  src/command_modules/azure-cli-batch/setup.py
  src/command_modules/azure-cli-maps/HISTORY.rst
  src/command_modules/azure-cli-maps/azure/cli/command_modules/maps/__init__.py
  src/command_modules/azure-cli-maps/setup.py
  src/command_modules/azure-cli-reservations/HISTORY.rst
  src/command_modules/azure-cli-reservations/azure/cli/command_modules/reservations/__init__.py
  src/command_modules/azure-cli-reservations/setup.py
  src/command_modules/azure-cli-sql/HISTORY.rst
  src/command_modules/azure-cli-sql/azure/cli/command_modules/sql/__init__.py
  src/command_modules/azure-cli-sql/setup.py
Owners: @rjtsdl, @yugangw-msft, @annatisch, @jaredmoo

Remove build and publish commands from azdev (#6835)
  tools/automation/__main__.py
  tools/automation/clibuild/__init__.py
  tools/automation/clipublish/__init__.py
Owners: @troydai

Remove build and publish commands from azdev (#6835)
  tools/automation/__main__.py
  tools/automation/clibuild/__init__.py
  tools/automation/clipublish/__init__.py
Owners: @troydai

fix merge conflicts
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
Owners: @rjtsdl

adding retry logic and use aka.ms url
  src/command_modules/azure-cli-extension/azure/cli/command_modules/extension/_index.py
Owners: @williexu

resolving conflicts in the history files
  src/command_modules/azure-cli-role/HISTORY.rst
  src/command_modules/azure-cli-role/azure/cli/command_modules/role/custom.py
  src/command_modules/azure-cli-vm/HISTORY.rst
Owners: @yugangw-msft

Add dependency check to CI
  .gitignore
  .travis.yml
  scripts/ci/test_integration.sh
  scripts/dependency/check.sh
  scripts/dependency/requirements.Darwin.external.txt
  scripts/dependency/requirements.Linux.external.txt
  src/__init__.py
  src/command_modules/__init__.py
  tools/automation/verify/__init__.py
  tools/automation/verify/verify_dependencies.py
Owners: @troydai

static_check
  src/command_modules/azure-cli-extension/azure/cli/command_modules/extension/_index.py
Owners: @williexu

Adding retry logic and use aka.ms url (#6857)
  src/command_modules/azure-cli-extension/azure/cli/command_modules/extension/_index.py
Owners: @williexu

Adding retry logic and use aka.ms url (#6857)
  src/command_modules/azure-cli-extension/azure/cli/command_modules/extension/_index.py
Owners: @williexu

Addressing review comments
  src/azure-cli-core/HISTORY.rst
  src/command_modules/azure-cli-resource/HISTORY.rst
  src/command_modules/azure-cli-role/azure/cli/command_modules/role/custom.py
Owners: none

Add dependency check to CI (#6828)
  .gitignore
  .travis.yml
  scripts/ci/test_integration.sh
  scripts/dependency/check.sh
  scripts/dependency/requirements.Darwin.external.txt
  scripts/dependency/requirements.Linux.external.txt
  src/__init__.py
  src/command_modules/__init__.py
  tools/automation/verify/__init__.py
  tools/automation/verify/verify_dependencies.py
Owners: @troydai

Add dependency check to CI (#6828)
  .gitignore
  .travis.yml
  scripts/ci/test_integration.sh
  scripts/dependency/check.sh
  scripts/dependency/requirements.Darwin.external.txt
  scripts/dependency/requirements.Linux.external.txt
  src/__init__.py
  src/command_modules/__init__.py
  tools/automation/verify/__init__.py
  tools/automation/verify/verify_dependencies.py
Owners: @troydai

Consuming Multi api Authorization package for stack profile 2017-03-09-profile (#6781)
  src/azure-cli-core/HISTORY.rst
  src/azure-cli-core/azure/cli/core/__init__.py
  src/azure-cli-core/azure/cli/core/commands/arm.py
  src/azure-cli-core/azure/cli/core/profiles/_shared.py
  src/azure-cli-core/setup.py
  src/command_modules/azure-cli-acs/HISTORY.rst
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/_client_factory.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/custom.py
  src/command_modules/azure-cli-acs/setup.py
  src/command_modules/azure-cli-ams/HISTORY.rst
  src/command_modules/azure-cli-ams/azure/cli/command_modules/ams/_client_factory.py
  src/command_modules/azure-cli-ams/azure/cli/command_modules/ams/operations/sp.py
  src/command_modules/azure-cli-ams/setup.py
  src/command_modules/azure-cli-resource/HISTORY.rst
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/_client_factory.py
  src/command_modules/azure-cli-resource/setup.py
  src/command_modules/azure-cli-role/HISTORY.rst
  src/command_modules/azure-cli-role/azure/cli/command_modules/role/__init__.py
  src/command_modules/azure-cli-role/azure/cli/command_modules/role/_client_factory.py
  src/command_modules/azure-cli-role/azure/cli/command_modules/role/commands.py
  src/command_modules/azure-cli-role/azure/cli/command_modules/role/custom.py
  src/command_modules/azure-cli-role/azure/cli/command_modules/role/tests/latest/test_role.py
  src/command_modules/azure-cli-role/setup.py
  src/command_modules/azure-cli-vm/HISTORY.rst
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_validators.py
  src/command_modules/azure-cli-vm/setup.py
Owners: @rjtsdl, @yugangw-msft

Consuming Multi api Authorization package for stack profile 2017-03-09-profile (#6781)
  src/azure-cli-core/HISTORY.rst
  src/azure-cli-core/azure/cli/core/__init__.py
  src/azure-cli-core/azure/cli/core/commands/arm.py
  src/azure-cli-core/azure/cli/core/profiles/_shared.py
  src/azure-cli-core/setup.py
  src/command_modules/azure-cli-acs/HISTORY.rst
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/_client_factory.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/custom.py
  src/command_modules/azure-cli-acs/setup.py
  src/command_modules/azure-cli-ams/HISTORY.rst
  src/command_modules/azure-cli-ams/azure/cli/command_modules/ams/_client_factory.py
  src/command_modules/azure-cli-ams/azure/cli/command_modules/ams/operations/sp.py
  src/command_modules/azure-cli-ams/setup.py
  src/command_modules/azure-cli-resource/HISTORY.rst
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/_client_factory.py
  src/command_modules/azure-cli-resource/setup.py
  src/command_modules/azure-cli-role/HISTORY.rst
  src/command_modules/azure-cli-role/azure/cli/command_modules/role/__init__.py
  src/command_modules/azure-cli-role/azure/cli/command_modules/role/_client_factory.py
  src/command_modules/azure-cli-role/azure/cli/command_modules/role/commands.py
  src/command_modules/azure-cli-role/azure/cli/command_modules/role/custom.py
  src/command_modules/azure-cli-role/azure/cli/command_modules/role/tests/latest/test_role.py
  src/command_modules/azure-cli-role/setup.py
  src/command_modules/azure-cli-vm/HISTORY.rst
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_validators.py
  src/command_modules/azure-cli-vm/setup.py
Owners: @rjtsdl, @yugangw-msft
