Repository Azure/azure-cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sptramer, @troydai, @djyou, @rjtsdl, @Prasanna-Padmanabhan, @yugangw-msft, @dragonfly91, @annatisch, @AlexanderYukhanov, @tjprescott, @dmakwana, @yolo3301, @sandeepnl, @kalyanaj, @williexu, @bulentelmaci, @QingChenmsft, @jaredmoo, @v-ajnava

Update HISTORY.rst and bump version number
  src/command_modules/azure-cli-acs/HISTORY.rst
Owners: @rjtsdl

Rename commands to "enable-" and "disable-addons".
  src/command_modules/azure-cli-acs/HISTORY.rst
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/_help.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/_params.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/commands.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/custom.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
Owners: @rjtsdl

Fix assert type in new addons test.
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/tests/latest/test_custom.py
Owners: @rjtsdl

Refactor resource group name lookups
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/custom.py
Owners: @rjtsdl

[AKS] deploy ContainerInsights solution when enabling monitoring addon
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/custom.py
Owners: @rjtsdl

Set config to null when disabling an addon
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/custom.py
Owners: @rjtsdl

Fix linter errors that `azdev style` didn't report. (Why not?)
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/custom.py
Owners: @rjtsdl

Fix test in a way that works for both py27 and py36
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/tests/latest/test_custom.py
Owners: @rjtsdl

Add tests to cover addons
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/tests/latest/test_custom.py
Owners: @rjtsdl

re-record tests
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_default_service.yaml
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_service_no_wait.yaml
Owners: @rjtsdl

updating tests and recordings
  src/command_modules/azure-cli-container/azure/cli/command_modules/container/tests/latest/recordings/test_container_create.yaml
  src/command_modules/azure-cli-container/azure/cli/command_modules/container/tests/latest/recordings/test_container_create_with_acr.yaml
  src/command_modules/azure-cli-container/azure/cli/command_modules/container/tests/latest/recordings/test_container_git_repo_volume_mount.yaml
  src/command_modules/azure-cli-container/azure/cli/command_modules/container/tests/latest/test_container_commands.py
Owners: @yolo3301

Stable Python SDK Release and Log Analytics Support (#6650)
  src/command_modules/azure-cli-container/HISTORY.rst
  src/command_modules/azure-cli-container/README.rst
  src/command_modules/azure-cli-container/azure/cli/command_modules/container/_client_factory.py
  src/command_modules/azure-cli-container/azure/cli/command_modules/container/_help.py
  src/command_modules/azure-cli-container/azure/cli/command_modules/container/_params.py
  src/command_modules/azure-cli-container/azure/cli/command_modules/container/commands.py
  src/command_modules/azure-cli-container/azure/cli/command_modules/container/custom.py
  src/command_modules/azure-cli-container/azure/cli/command_modules/container/tests/latest/recordings/test_container_create.yaml
  src/command_modules/azure-cli-container/azure/cli/command_modules/container/tests/latest/recordings/test_container_create_with_acr.yaml
  src/command_modules/azure-cli-container/azure/cli/command_modules/container/tests/latest/recordings/test_container_git_repo_volume_mount.yaml
  src/command_modules/azure-cli-container/azure/cli/command_modules/container/tests/latest/test_container_commands.py
  src/command_modules/azure-cli-container/setup.py
Owners: @yolo3301

Stable Python SDK Release and Log Analytics Support (#6650)
  src/command_modules/azure-cli-container/HISTORY.rst
  src/command_modules/azure-cli-container/README.rst
  src/command_modules/azure-cli-container/azure/cli/command_modules/container/_client_factory.py
  src/command_modules/azure-cli-container/azure/cli/command_modules/container/_help.py
  src/command_modules/azure-cli-container/azure/cli/command_modules/container/_params.py
  src/command_modules/azure-cli-container/azure/cli/command_modules/container/commands.py
  src/command_modules/azure-cli-container/azure/cli/command_modules/container/custom.py
  src/command_modules/azure-cli-container/azure/cli/command_modules/container/tests/latest/recordings/test_container_create.yaml
  src/command_modules/azure-cli-container/azure/cli/command_modules/container/tests/latest/recordings/test_container_create_with_acr.yaml
  src/command_modules/azure-cli-container/azure/cli/command_modules/container/tests/latest/recordings/test_container_git_repo_volume_mount.yaml
  src/command_modules/azure-cli-container/azure/cli/command_modules/container/tests/latest/test_container_commands.py
  src/command_modules/azure-cli-container/setup.py
Owners: @yolo3301

login: bug fixes towards the new browser based login flow (#6653)
  src/azure-cli-core/azure/cli/core/_profile.py
  src/azure-cli-core/azure/cli/core/tests/test_profile.py
Owners: none

login: bug fixes towards the new browser based login flow (#6653)
  src/azure-cli-core/azure/cli/core/_profile.py
  src/azure-cli-core/azure/cli/core/tests/test_profile.py
Owners: none

[Maps] Add Premium SKU support (P1)
  src/command_modules/azure-cli-maps/HISTORY.rst
  src/command_modules/azure-cli-maps/azure/cli/command_modules/maps/_help.py
  src/command_modules/azure-cli-maps/azure/cli/command_modules/maps/_params.py
  src/command_modules/azure-cli-maps/setup.py
Owners: @sptramer

[Maps] Update test
  src/command_modules/azure-cli-maps/azure/cli/command_modules/maps/tests/latest/recordings/test_create_maps_account.yaml
  src/command_modules/azure-cli-maps/azure/cli/command_modules/maps/tests/latest/test_maps_commands.py
Owners: none

[AKS] add enable-addons and disable-addons commands (#6618)
  src/command_modules/azure-cli-acs/HISTORY.rst
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/_help.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/_params.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/commands.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/custom.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_default_service.yaml
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_service_no_wait.yaml
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/tests/latest/test_custom.py
Owners: @rjtsdl

[AKS] add enable-addons and disable-addons commands (#6618)
  src/command_modules/azure-cli-acs/HISTORY.rst
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/_help.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/_params.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/commands.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/custom.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_default_service.yaml
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_service_no_wait.yaml
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/tests/latest/test_custom.py
Owners: @rjtsdl

[Cloud/ACR]Add acr login server suffix to cloud config (#6633)
  src/azure-cli-core/azure/cli/core/cloud.py
  src/azure-cli-core/azure/cli/core/tests/test_cloud.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/_docker_utils.py
  src/command_modules/azure-cli-cloud/HISTORY.rst
  src/command_modules/azure-cli-cloud/azure/cli/command_modules/cloud/__init__.py
  src/command_modules/azure-cli-cloud/azure/cli/command_modules/cloud/custom.py
  src/command_modules/azure-cli-cloud/setup.py
Owners: @djyou, @yugangw-msft

[Cloud/ACR]Add acr login server suffix to cloud config (#6633)
  src/azure-cli-core/azure/cli/core/cloud.py
  src/azure-cli-core/azure/cli/core/tests/test_cloud.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/_docker_utils.py
  src/command_modules/azure-cli-cloud/HISTORY.rst
  src/command_modules/azure-cli-cloud/azure/cli/command_modules/cloud/__init__.py
  src/command_modules/azure-cli-cloud/azure/cli/command_modules/cloud/custom.py
  src/command_modules/azure-cli-cloud/setup.py
Owners: @djyou, @yugangw-msft

requested change
  src/command_modules/azure-cli-cognitiveservices/azure/cli/command_modules/cognitiveservices/_help.py
Owners: @sptramer

Add os type parameter to build command
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/_constants.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/_params.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/build.py
Owners: @djyou

Fixing whitespace errors
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/build.py
Owners: @djyou

Remove the unused import
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/build.py
Owners: @djyou

Fix subscription_level_deployment test.
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/tests/latest/recordings/test_subscription_level_deployment.yaml
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/tests/latest/subscription_level_parameters.json
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/tests/latest/subscription_level_template.json
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/tests/latest/test_resource.py
Owners: none

Removing the supported OS types and other comments from PR are addressed
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/_constants.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/_params.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/build.py
Owners: @djyou

identity: support removing system assigned identity
  src/command_modules/azure-cli-vm/HISTORY.rst
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_help.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_params.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_validators.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/custom.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_explicit_msi.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_msi.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_msi.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Owners: @yugangw-msft

[Maps] Prevent SKU switching/update to an existent account
  src/command_modules/azure-cli-maps/azure/cli/command_modules/maps/_params.py
  src/command_modules/azure-cli-maps/azure/cli/command_modules/maps/custom.py
  src/command_modules/azure-cli-maps/azure/cli/command_modules/maps/tests/latest/test_maps_commands.py
Owners: none

[Maps] Adding tests for Premium SKU
  src/command_modules/azure-cli-maps/azure/cli/command_modules/maps/tests/latest/recordings/test_create_maps_account.yaml
  src/command_modules/azure-cli-maps/azure/cli/command_modules/maps/tests/latest/test_maps_commands.py
Owners: none

Pin PyYaml version to 3.12
  requirements.txt
  src/azure-cli-core/setup.py
  src/command_modules/azure-cli-acs/setup.py
  src/command_modules/azure-cli-container/setup.py
  tools/setup.py
Owners: @rjtsdl, @yolo3301, @troydai

MSI feature disabling msi and removing preview
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/_help.py
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/custom.py
Owners: @yugangw-msft

Adding az webapp identity remove command
  src/command_modules/azure-cli-appservice/HISTORY.rst
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/_help.py
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/_params.py
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/commands.py
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/custom.py
Owners: @yugangw-msft

updating history
  src/command_modules/azure-cli-appservice/HISTORY.rst
Owners: @yugangw-msft

Pylint Style fixes
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/custom.py
Owners: @yugangw-msft

Pin PyYaml version to 3.12 (#6672)
  requirements.txt
  src/azure-cli-core/setup.py
  src/command_modules/azure-cli-acs/setup.py
  src/command_modules/azure-cli-container/setup.py
  tools/setup.py
Owners: @rjtsdl, @yolo3301, @troydai

Pin PyYaml version to 3.12 (#6672)
  requirements.txt
  src/azure-cli-core/setup.py
  src/command_modules/azure-cli-acs/setup.py
  src/command_modules/azure-cli-container/setup.py
  tools/setup.py
Owners: @rjtsdl, @yolo3301, @troydai

setup: ensure trim pyc except pip
  build_scripts/windows/scripts/build.cmd
Owners: none

StylesFixes & other
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/commands.py
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_assign_system_identity.yaml
Owners: @yugangw-msft

address review feedback
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_validators.py
Owners: @yugangw-msft

.github/CODEOWNERS:

# See for instructions on this file https://help.github.com/articles/about-codeowners/

*help.py @sptramer

/tools/ @troydai
/scripts/ @troydai
/src/azure-cli-testsdk/ @troydai
/src/command_modules/azure-cli-acr/ @djyou
/src/command_modules/azure-cli-acs/ @rjtsdl
/src/command_modules/azure-cli-advisor/ @Prasanna-Padmanabhan
/src/command_modules/azure-cli-appservice/ @yugangw-msft
/src/command_modules/azure-cli-backup/ @dragonfly91
/src/command_modules/azure-cli-batch/ @annatisch 
/src/command_modules/azure-cli-batchai/ @AlexanderYukhanov
/src/command_modules/azure-cli-cdn/ @tjprescott
/src/command_modules/azure-cli-cosmosdb/ @dmakwana
/src/command_modules/azure-cli-cloud/ @yugangw-msft
/src/command_modules/azure-cli-container/ @yolo3301
/src/command_modules/azure-cli-consumption/ @sandeepnl
/src/command_modules/azure-cli-eventgrid/ @kalyanaj
/src/command_modules/azure-cli-extension/ @williexu
/src/command_modules/azure-cli-keyvault/ @tjprescott
/src/command_modules/azure-cli-monitor/ @troydai
/src/command_modules/azure-cli-network/ @tjprescott
/src/command_modules/azure-cli-policyinsights/ @bulentelmaci
/src/command_modules/azure-cli-profile/ @yugangw-msft
/src/command_modules/azure-cli-storage/ @troydai
/src/command_modules/azure-cli-servicefabric/ @QingChenmsft
/src/command_modules/azure-cli-sql/ @jaredmoo
/src/command_modules/azure-cli-vm/ @yugangw-msft
/src/command_modules/azure-cli-eventhubs/ @v-ajnava
/src/command_modules/azure-cli-servicebus/ @v-ajnava
