Repository Azure/azure-cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sptramer, @troydai, @djyou, @rjtsdl, @Prasanna-Padmanabhan, @yugangw-msft, @dragonfly91, @annatisch, @AlexanderYukhanov, @tjprescott, @dmakwana, @yolo3301, @sandeepnl, @kalyanaj, @williexu, @bulentelmaci, @QingChenmsft, @jaredmoo, @v-ajnava

.github/CODEOWNERS:

# See for instructions on this file https://help.github.com/articles/about-codeowners/

*help.py @sptramer

/tools/ @troydai
/scripts/ @troydai
/src/azure-cli-testsdk/ @troydai
/src/command_modules/azure-cli-acr/ @djyou
/src/command_modules/azure-cli-acs/ @rjtsdl
/src/command_modules/azure-cli-advisor/ @Prasanna-Padmanabhan
/src/command_modules/azure-cli-appservice/ @yugangw-msft
/src/command_modules/azure-cli-backup/ @dragonfly91
/src/command_modules/azure-cli-batch/ @annatisch 
/src/command_modules/azure-cli-batchai/ @AlexanderYukhanov
/src/command_modules/azure-cli-cdn/ @tjprescott
/src/command_modules/azure-cli-cosmosdb/ @dmakwana
/src/command_modules/azure-cli-cloud/ @yugangw-msft
/src/command_modules/azure-cli-container/ @yolo3301
/src/command_modules/azure-cli-consumption/ @sandeepnl
/src/command_modules/azure-cli-eventgrid/ @kalyanaj
/src/command_modules/azure-cli-extension/ @williexu
/src/command_modules/azure-cli-keyvault/ @tjprescott
/src/command_modules/azure-cli-monitor/ @troydai
/src/command_modules/azure-cli-network/ @tjprescott
/src/command_modules/azure-cli-policyinsights/ @bulentelmaci
/src/command_modules/azure-cli-profile/ @yugangw-msft
/src/command_modules/azure-cli-storage/ @troydai
/src/command_modules/azure-cli-servicefabric/ @QingChenmsft
/src/command_modules/azure-cli-sql/ @jaredmoo
/src/command_modules/azure-cli-vm/ @yugangw-msft
/src/command_modules/azure-cli-eventhubs/ @v-ajnava
/src/command_modules/azure-cli-servicebus/ @v-ajnava

Update _help.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/_help.py
Owners: @rjtsdl

Bump core version to 2.0.39
  src/azure-cli-core/HISTORY.rst
  src/azure-cli-core/azure/cli/core/__init__.py
  src/azure-cli-core/setup.py
  src/azure-cli/HISTORY.rst
  src/azure-cli/azure/cli/__init__.py
  src/azure-cli/setup.py
Owners: none

Update setup.py
  src/command_modules/azure-cli-acs/setup.py
Owners: @rjtsdl

Update _help.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/_help.py
Owners: @rjtsdl

review feedback
  src/command_modules/azure-cli-extension/HISTORY.rst
  src/command_modules/azure-cli-extension/azure/cli/command_modules/extension/custom.py
  src/command_modules/azure-cli-extension/setup.py
Owners: @williexu

Update HISTORY.rst
  src/command_modules/azure-cli-acs/HISTORY.rst
Owners: @rjtsdl

Update setup.py
  src/command_modules/azure-cli-acs/setup.py
Owners: @rjtsdl

Bump core version to 2.0.39 (#6590)
  src/azure-cli-core/HISTORY.rst
  src/azure-cli-core/azure/cli/core/__init__.py
  src/azure-cli-core/setup.py
  src/azure-cli/HISTORY.rst
  src/azure-cli/azure/cli/__init__.py
  src/azure-cli/setup.py
Owners: none

Bump core version to 2.0.39 (#6590)
  src/azure-cli-core/HISTORY.rst
  src/azure-cli-core/azure/cli/core/__init__.py
  src/azure-cli-core/setup.py
  src/azure-cli/HISTORY.rst
  src/azure-cli/azure/cli/__init__.py
  src/azure-cli/setup.py
Owners: none

[ACR] Add build status polling, improve build logs. (#6578)
  src/command_modules/azure-cli-acr/HISTORY.rst
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/_build_polling.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/_params.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/build.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/build_task.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/tests/latest/recordings/test_acr_create_build_task.yaml
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/tests/latest/test_acr_commands.py
  src/command_modules/azure-cli-acr/setup.py
Owners: @djyou

[ACR] Add build status polling, improve build logs. (#6578)
  src/command_modules/azure-cli-acr/HISTORY.rst
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/_build_polling.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/_params.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/build.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/build_task.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/tests/latest/recordings/test_acr_create_build_task.yaml
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/tests/latest/test_acr_commands.py
  src/command_modules/azure-cli-acr/setup.py
Owners: @djyou

Add top and orderby parameters for show-manifests
  src/command_modules/azure-cli-acr/HISTORY.rst
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/_help.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/_params.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/repository.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/tests/latest/test_acr_commands_mock.py
Owners: @djyou

code polish
  src/azure-cli-core/azure/cli/core/_profile.py
Owners: none

login: use authorization code flow for interactive login
  src/azure-cli-core/azure/cli/core/_profile.py
  src/azure-cli-core/azure/cli/core/login_fail.html
  src/azure-cli-core/azure/cli/core/login_ok.html
  src/azure-cli-core/azure/cli/core/util.py
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/custom.py
  src/command_modules/azure-cli-profile/azure/cli/command_modules/profile/__init__.py
  src/command_modules/azure-cli-profile/azure/cli/command_modules/profile/custom.py
Owners: @yugangw-msft

update doc
  src/azure-cli-core/HISTORY.rst
  src/azure-cli-core/azure/cli/core/login_fail.html
  src/azure-cli-core/azure/cli/core/login_ok.html
  src/command_modules/azure-cli-profile/HISTORY.rst
Owners: @yugangw-msft

add tests
  src/azure-cli-core/azure/cli/core/_profile.py
  src/azure-cli-core/azure/cli/core/login_fail.html
  src/azure-cli-core/azure/cli/core/login_ok.html
  src/azure-cli-core/azure/cli/core/tests/test_profile.py
Owners: none

update history
  src/azure-cli-core/HISTORY.rst
  src/command_modules/azure-cli-appservice/HISTORY.rst
  src/command_modules/azure-cli-appservice/setup.py
  src/command_modules/azure-cli-profile/HISTORY.rst
  src/command_modules/azure-cli-profile/setup.py
Owners: @yugangw-msft

allows linter to fileter extensions
  tools/automation/cli_linter/__init__.py
  tools/automation/cli_linter/linter.py
  tools/automation/cli_linter/util.py
Owners: @troydai

update landing page
  src/azure-cli-core/azure/cli/core/_profile.py
  src/azure-cli-core/azure/cli/core/tests/test_profile.py
Owners: none

corrected docker run sample in label
  Dockerfile.nanoserver
Owners: none

Add VNET operations for PostgreSQL and MySQL
  src/command_modules/azure-cli-rdbms/HISTORY.rst
  src/command_modules/azure-cli-rdbms/azure/cli/command_modules/rdbms/__init__.py
  src/command_modules/azure-cli-rdbms/azure/cli/command_modules/rdbms/_client_factory.py
  src/command_modules/azure-cli-rdbms/azure/cli/command_modules/rdbms/_help.py
  src/command_modules/azure-cli-rdbms/azure/cli/command_modules/rdbms/_params.py
  src/command_modules/azure-cli-rdbms/azure/cli/command_modules/rdbms/commands.py
  src/command_modules/azure-cli-rdbms/azure/cli/command_modules/rdbms/custom.py
  src/command_modules/azure-cli-rdbms/azure/cli/command_modules/rdbms/tests/latest/recordings/test_mysql_proxy_resources_mgmt.yaml
  src/command_modules/azure-cli-rdbms/azure/cli/command_modules/rdbms/tests/latest/recordings/test_mysql_server_mgmt.yaml
  src/command_modules/azure-cli-rdbms/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_proxy_resources_mgmt.yaml
  src/command_modules/azure-cli-rdbms/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_server_mgmt.yaml
  src/command_modules/azure-cli-rdbms/azure/cli/command_modules/rdbms/tests/latest/test_rdbms_commands.py
  src/command_modules/azure-cli-rdbms/setup.py
Owners: @sptramer

BatchAI. Fix table output for node list
  src/command_modules/azure-cli-batchai/azure/cli/command_modules/batchai/_format.py
Owners: @AlexanderYukhanov

Fixing Flake8
  src/command_modules/azure-cli-rdbms/azure/cli/command_modules/rdbms/_help.py
  src/command_modules/azure-cli-rdbms/azure/cli/command_modules/rdbms/_params.py
  src/command_modules/azure-cli-rdbms/azure/cli/command_modules/rdbms/custom.py
  src/command_modules/azure-cli-rdbms/setup.py
Owners: @sptramer

BatchAI. Bumping the version
  src/command_modules/azure-cli-batchai/setup.py
Owners: @AlexanderYukhanov

Support specific port for k8s dashboard
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/_help.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/custom.py
Owners: @rjtsdl

Change history and version number
  src/command_modules/azure-cli-acs/HISTORY.rst
  src/command_modules/azure-cli-acs/setup.py
Owners: @rjtsdl

fix unit test
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/tests/latest/test_webapp_commands_thru_mock.py
Owners: @yugangw-msft

Fix #6602.
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/zone_files/zone4.txt
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/zone_file/parse_zone_file.py
Owners: @tjprescott

minor core fixes for extension command source
  src/azure-cli-core/azure/cli/core/__init__.py
  src/azure-cli-core/azure/cli/core/_help.py
  src/azure-cli-core/azure/cli/core/commands/__init__.py
  src/azure-cli-core/azure/cli/core/parser.py
Owners: @sptramer

added tests for inclusions
  tools/automation/cli_linter/__init__.py
  tools/automation/cli_linter/util.py
  tools/automation/tests/__init__.py
Owners: @troydai

address review feedback
  src/azure-cli-core/azure/cli/core/_profile.py
  src/azure-cli-core/azure/cli/core/auth_landing_pages/fail.html
  src/azure-cli-core/azure/cli/core/auth_landing_pages/ok.html
  src/azure-cli-core/setup.py
  src/command_modules/azure-cli-profile/azure/cli/command_modules/profile/__init__.py
Owners: @yugangw-msft

Bump network version.
  src/command_modules/azure-cli-network/HISTORY.rst
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_dns_zone2_import.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/test_dns_commands.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/zone_files/zone2.txt
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/zone_files/zone2.txt_export.txt
  src/command_modules/azure-cli-network/setup.py
Owners: @tjprescott

fix typo
  src/command_modules/azure-cli-profile/azure/cli/command_modules/profile/__init__.py
Owners: @yugangw-msft

added tests for linter
  tools/automation/cli_linter/linter.py
  tools/automation/cli_linter/tests/linter_exclusions.yml
  tools/automation/cli_linter/tests/test_linter.py
  tools/automation/tests/__init__.py
Owners: @troydai

[Network] Fix case sensitivity in DNS zone import. (#6603)
  src/command_modules/azure-cli-network/HISTORY.rst
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_dns_zone2_import.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/test_dns_commands.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/zone_files/zone2.txt
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/zone_files/zone2.txt_export.txt
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/zone_files/zone4.txt
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/zone_file/parse_zone_file.py
  src/command_modules/azure-cli-network/setup.py
Owners: @tjprescott

[Network] Fix case sensitivity in DNS zone import. (#6603)
  src/command_modules/azure-cli-network/HISTORY.rst
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_dns_zone2_import.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/test_dns_commands.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/zone_files/zone2.txt
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/zone_files/zone2.txt_export.txt
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/zone_files/zone4.txt
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/zone_file/parse_zone_file.py
  src/command_modules/azure-cli-network/setup.py
Owners: @tjprescott

Review comments and rebase
  src/command_modules/azure-cli-rdbms/azure/cli/command_modules/rdbms/_params.py
  src/command_modules/azure-cli-rdbms/azure/cli/command_modules/rdbms/tests/latest/test_rdbms_commands.py
Owners: none

Revert "Review comments and rebase"
  src/command_modules/azure-cli-rdbms/azure/cli/command_modules/rdbms/_params.py
  src/command_modules/azure-cli-rdbms/azure/cli/command_modules/rdbms/tests/latest/test_rdbms_commands.py
Owners: none

Support for extension filtering when running linter (#6604)
  src/azure-cli-core/azure/cli/core/__init__.py
  src/azure-cli-core/azure/cli/core/_help.py
  src/azure-cli-core/azure/cli/core/commands/__init__.py
  src/azure-cli-core/azure/cli/core/parser.py
  tools/automation/cli_linter/__init__.py
  tools/automation/cli_linter/linter.py
  tools/automation/cli_linter/tests/linter_exclusions.yml
  tools/automation/cli_linter/tests/test_linter.py
  tools/automation/cli_linter/util.py
  tools/automation/tests/__init__.py
Owners: @sptramer, @troydai

Support for extension filtering when running linter (#6604)
  src/azure-cli-core/azure/cli/core/__init__.py
  src/azure-cli-core/azure/cli/core/_help.py
  src/azure-cli-core/azure/cli/core/commands/__init__.py
  src/azure-cli-core/azure/cli/core/parser.py
  tools/automation/cli_linter/__init__.py
  tools/automation/cli_linter/linter.py
  tools/automation/cli_linter/tests/linter_exclusions.yml
  tools/automation/cli_linter/tests/test_linter.py
  tools/automation/cli_linter/util.py
  tools/automation/tests/__init__.py
Owners: @sptramer, @troydai
