Repository Azure/azure-cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kairu-ms, @jiasli, @jsntcy, @zhoxing-ms, @wangzelin007, @calvinhzy, @bebound, @evelyn-ys, @necusjz, @northtyphoon, @rosanch, @yanzhudd, @zqingqing1, @gtracer, @xizhamsft, @andyliuliming, @fumingzhang, @Prasanna-Padmanabhan, @kevinhillinger, @jonlester, @albertofori, @avanigupta, @panchagnula, @bennerv, @hawkowl, @jewzaam, @rogbas, @dragonfly91, @akshayneema, @bgklein, @gingi, @dpwatrous, @paterasMSFT, @AlexanderYukhanov, @jiaxuwu2021, @luhan2017, @t-bzhan, @sandeepnl, @joseph-porter, @dmakwana, @kristynhamasaki, @akharit, @rahuldutta90, @temandr, @binuj, @VidyaKukke, @v-ajnava, @aim-for-better, @digimaun, @honghr, @khannarheams, @cheggert, @arde0708, @DaeunYim, @alanenriqueo, @huangbolun, @yungezz, @houk-ms, @xfz11, @QingChenmsft, @jaredmoo, @idear1203, @zesluo, @Drewm3, @TravisCragg-MSFT, @nikhilpatel909, @sandeepraichura, @hilaryw29, @GabstaMSFT, @ramankumarlive, @ushnaarshadkhan, @ruslany, @sanchitmehta, @ebencarek, @JennyLawrance, @howang-ms, @vinisoto, @chinadragon0515, @vturecek, @torosent, @pagariyaalok, @Juliehzl, @jijohn14, @Greedygre

Use 3.11 in CodegenCoverage
  azure-pipelines.yml
Owners: none

burst capacity stable api changes
  src/azure-cli/azure/cli/command_modules/cosmosdb/_help.py
  src/azure-cli/azure/cli/command_modules/cosmosdb/_params.py
  src/azure-cli/azure/cli/command_modules/cosmosdb/custom.py
  src/azure-cli/azure/cli/command_modules/cosmosdb/tests/latest/test_cosmosdb-burst-capacity-scenario.py
Owners: @dmakwana, @kristynhamasaki, @evelyn-ys, @calvinhzy

remove unused arguments
  src/azure-cli/azure/cli/command_modules/containerapp/_params.py
Owners: @ruslany, @sanchitmehta, @ebencarek, @JennyLawrance, @howang-ms, @vinisoto, @chinadragon0515, @vturecek, @torosent, @pagariyaalok, @Juliehzl, @jijohn14, @Greedygre

Add removal msg in 'az vmss create'
  src/azure-cli/azure/cli/command_modules/vm/custom.py
Owners: @zhoxing-ms, @jsntcy, @wangzelin007, @yanzhudd, @Drewm3, @TravisCragg-MSFT, @nikhilpatel909, @sandeepraichura, @hilaryw29, @GabstaMSFT, @ramankumarlive, @ushnaarshadkhan

network public-ip create
  src/azure-cli/azure/cli/command_modules/network/custom.py
Owners: @jsntcy, @kairu-ms, @wangzelin007, @necusjz

network lb create
  src/azure-cli/azure/cli/command_modules/network/custom.py
Owners: @jsntcy, @kairu-ms, @wangzelin007, @necusjz

fix link in error message
  src/azure-cli/azure/cli/command_modules/containerapp/custom.py
Owners: @ruslany, @sanchitmehta, @ebencarek, @JennyLawrance, @howang-ms, @vinisoto, @chinadragon0515, @vturecek, @torosent, @pagariyaalok, @Juliehzl, @jijohn14, @Greedygre

[App Service] az functionapp create: Enable distributed tracing for non consumption apps (#27350)
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_on_linux_app_service_java.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_on_linux_app_service_java_with_runtime_version.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_windows_runtime_java.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_with_default_distributed_tracing.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_without_default_distributed_tracing.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_functionapp_commands.py
Owners: @panchagnula, @jsntcy, @zhoxing-ms, @yanzhudd

{AKS} az aks addon enable: Update help message (#27342)
  src/azure-cli/azure/cli/command_modules/acs/_help.py
Owners: @zhoxing-ms, @zqingqing1, @gtracer, @xizhamsft, @andyliuliming, @fumingzhang, @jsntcy, @yanzhudd

fixed typo on _params.py
  src/azure-cli/azure/cli/command_modules/cosmosdb/_params.py
Owners: @dmakwana, @kristynhamasaki, @evelyn-ys, @calvinhzy

list locations
  src/azure-cli/azure/cli/command_modules/profile/__init__.py
  src/azure-cli/azure/cli/command_modules/profile/aaz/__init__.py
  src/azure-cli/azure/cli/command_modules/profile/aaz/latest/__init__.py
  src/azure-cli/azure/cli/command_modules/profile/aaz/latest/account/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/profile/aaz/latest/account/__init__.py
  src/azure-cli/azure/cli/command_modules/profile/aaz/latest/account/_list_locations.py
  src/azure-cli/azure/cli/command_modules/profile/tests/latest/recordings/test_list_locations.yaml
  src/azure-cli/azure/cli/command_modules/profile/tests/latest/test_profile.py
Owners: @jiasli, @evelyn-ys, @calvinhzy

moved the requirement for output code blocks to conceptual content
  doc/reference_doc_guidelines.md
Owners: @jiasli, @kairu-ms, @jsntcy

stashed changes
  src/azure-cli/azure/cli/command_modules/acs/_help.py
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/_validators.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/managed_cluster_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_managed_cluster_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_validators.py
Owners: @zhoxing-ms, @zqingqing1, @gtracer, @xizhamsft, @andyliuliming, @fumingzhang, @jsntcy, @yanzhudd

removed extra spaces and /en-us/ from links
  doc/reference_doc_guidelines.md
Owners: @jiasli, @kairu-ms, @jsntcy

removed view=azure-cli-latest from links
  doc/reference_doc_guidelines.md
Owners: @jiasli, @kairu-ms, @jsntcy

fixed heading levels
  doc/reference_doc_guidelines.md
Owners: @jiasli, @kairu-ms, @jsntcy

[Service Connector] `az spring connection`: Add deprecated message for `--deployment` breaking change (#27384)
  src/azure-cli/azure/cli/command_modules/serviceconnector/_params.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/_resource_config.py
Owners: @yungezz, @houk-ms, @xfz11, @yanzhudd, @kairu-ms

Fix private endpoint related tests
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_private_endpoint_commands.py
Owners: @jsntcy, @kairu-ms, @wangzelin007, @necusjz

linter
  src/azure-cli/azure/cli/command_modules/profile/linter_exclusions.yml
  src/azure-cli/azure/cli/command_modules/profile/tests/latest/recordings/test_account_show.yaml
Owners: @jiasli, @evelyn-ys, @calvinhzy

update
  src/azure-cli/azure/cli/command_modules/storage/tests/hybrid_2018_03_01/recordings/test_list_locations.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/hybrid_2019_03_01/recordings/test_list_locations.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/hybrid_2020_09_01/recordings/test_list_locations.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_list_locations.yaml
Owners: @jsntcy, @zhoxing-ms, @evelyn-ys, @calvinhzy

[containerapp] `az containerapp env dapr-component create`: Fix the sample link for `--yaml` parameter (#27393)
  src/azure-cli/azure/cli/command_modules/containerapp/_params.py
  src/azure-cli/azure/cli/command_modules/containerapp/custom.py
Owners: @ruslany, @sanchitmehta, @ebencarek, @JennyLawrance, @howang-ms, @vinisoto, @chinadragon0515, @vturecek, @torosent, @pagariyaalok, @Juliehzl, @jijohn14, @Greedygre

update
  src/azure-cli/azure/cli/command_modules/profile/aaz/profile_2018_03_01_hybrid/__init__.py
  src/azure-cli/azure/cli/command_modules/profile/aaz/profile_2018_03_01_hybrid/account/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/profile/aaz/profile_2018_03_01_hybrid/account/__init__.py
  src/azure-cli/azure/cli/command_modules/profile/aaz/profile_2018_03_01_hybrid/account/_list_locations.py
  src/azure-cli/azure/cli/command_modules/profile/aaz/profile_2019_03_01_hybrid/__init__.py
  src/azure-cli/azure/cli/command_modules/profile/aaz/profile_2019_03_01_hybrid/account/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/profile/aaz/profile_2019_03_01_hybrid/account/__init__.py
  src/azure-cli/azure/cli/command_modules/profile/aaz/profile_2019_03_01_hybrid/account/_list_locations.py
  src/azure-cli/azure/cli/command_modules/profile/aaz/profile_2020_09_01_hybrid/__init__.py
  src/azure-cli/azure/cli/command_modules/profile/aaz/profile_2020_09_01_hybrid/account/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/profile/aaz/profile_2020_09_01_hybrid/account/__init__.py
  src/azure-cli/azure/cli/command_modules/profile/aaz/profile_2020_09_01_hybrid/account/_list_locations.py
Owners: @jiasli, @evelyn-ys, @calvinhzy

update
  src/azure-cli/azure/cli/command_modules/profile/aaz/profile_2018_03_01_hybrid/account/_list_locations.py
  src/azure-cli/azure/cli/command_modules/profile/aaz/profile_2019_03_01_hybrid/account/_list_locations.py
  src/azure-cli/azure/cli/command_modules/profile/aaz/profile_2020_09_01_hybrid/account/_list_locations.py
  src/azure-cli/azure/cli/command_modules/storage/tests/hybrid_2018_03_01/recordings/test_list_locations.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/hybrid_2019_03_01/recordings/test_list_locations.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/hybrid_2020_09_01/recordings/test_list_locations.yaml
Owners: @jiasli, @evelyn-ys, @calvinhzy, @jsntcy, @zhoxing-ms

Remove breaking changes
  src/azure-cli/azure/cli/command_modules/cosmosdb/aaz/latest/cosmosdb/postgres/cluster/_create.py
  src/azure-cli/azure/cli/command_modules/cosmosdb/aaz/latest/cosmosdb/postgres/cluster/_update.py
Owners: @dmakwana, @kristynhamasaki, @evelyn-ys, @calvinhzy

Update resourceManagement.yml
  .github/policies/resourceManagement.yml
Owners: none

User mariner 2.0 in name
  azure-pipelines.yml
Owners: none

Remove breaking changes, update tests
  src/azure-cli/azure/cli/command_modules/cosmosdb/aaz/latest/cosmosdb/postgres/cluster/_create.py
  src/azure-cli/azure/cli/command_modules/cosmosdb/aaz/latest/cosmosdb/postgres/cluster/_update.py
  src/azure-cli/azure/cli/command_modules/cosmosdb/tests/latest/recordings/test_cosmosdb_postgres_create_cluster.yaml
  src/azure-cli/azure/cli/command_modules/cosmosdb/tests/latest/recordings/test_cosmosdb_postgres_create_cluster_with_configurations.yaml
  src/azure-cli/azure/cli/command_modules/cosmosdb/tests/latest/recordings/test_cosmosdb_postgres_create_cluster_with_firewall_rules.yaml
  src/azure-cli/azure/cli/command_modules/cosmosdb/tests/latest/recordings/test_cosmosdb_postgres_create_cluster_with_roles.yaml
  src/azure-cli/azure/cli/command_modules/cosmosdb/tests/latest/test_cosmosdb_postgres_scenario.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_private_endpoint_commands.py
Owners: @dmakwana, @kristynhamasaki, @evelyn-ys, @calvinhzy, @jsntcy, @kairu-ms, @wangzelin007, @necusjz

Update property to avoid breaking change warning
  src/azure-cli/azure/cli/command_modules/cosmosdb/aaz/latest/cosmosdb/postgres/cluster/_create.py
  src/azure-cli/azure/cli/command_modules/cosmosdb/aaz/latest/cosmosdb/postgres/cluster/_update.py
Owners: @dmakwana, @kristynhamasaki, @evelyn-ys, @calvinhzy

update
  src/azure-cli/azure/cli/command_modules/profile/tests/latest/recordings/test_list_locations.yaml
  src/azure-cli/azure/cli/command_modules/profile/tests/latest/test_profile.py
Owners: @jiasli, @evelyn-ys, @calvinhzy

Partial tests, temp workaround for ECY vault delete issue
  src/azure-cli/azure/cli/command_modules/backup/custom_help.py
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/preparers.py
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_backup_container.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_backup_item.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_backup_policy.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_backup_protection.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_backup_restore.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_backup_rp.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_backup_scenario.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_unregister_container.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_container.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_policy.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_protection.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/test_backup_commands.py
Owners: @dragonfly91, @zhoxing-ms, @akshayneema, @jsntcy, @yanzhudd

Replacing client GET call with vault list and filtering
  src/azure-cli/azure/cli/command_modules/backup/custom_common.py
Owners: @dragonfly91, @zhoxing-ms, @akshayneema, @jsntcy, @yanzhudd

Adding information about private build
  src/azure-cli/azure/cli/command_modules/backup/_help.py
Owners: @dragonfly91, @zhoxing-ms, @akshayneema, @jsntcy, @yanzhudd

Workaround for async delete (new)
  src/azure-cli/azure/cli/command_modules/backup/custom.py
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/preparers.py
Owners: @dragonfly91, @zhoxing-ms, @akshayneema, @jsntcy, @yanzhudd

More tests, without restore, disk exclusion, archive
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_encryption.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_item.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_job.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_restore_when_storage_in_different_rg.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_rg_mapping.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_rp.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_scenario.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_softdelete.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_vault.yaml
Owners: @dragonfly91, @zhoxing-ms, @akshayneema, @jsntcy, @yanzhudd

{ACR} Remove incorrect examples from the documentation (#27248)
  src/azure-cli/azure/cli/command_modules/acr/_help.py
Owners: @zhoxing-ms, @northtyphoon, @rosanch, @jsntcy, @yanzhudd

add recording
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_update_upgrade_settings.yaml
Owners: @zhoxing-ms, @zqingqing1, @gtracer, @xizhamsft, @andyliuliming, @fumingzhang, @jsntcy, @yanzhudd

fix lint
  src/azure-cli/azure/cli/command_modules/acs/_validators.py
Owners: @zhoxing-ms, @zqingqing1, @gtracer, @xizhamsft, @andyliuliming, @fumingzhang, @jsntcy, @yanzhudd

Create workspace-based app insights components
  src/azure-cli/azure/cli/command_modules/appservice/_create_util.py
  src/azure-cli/azure/cli/command_modules/appservice/_params.py
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_assign_user_identity.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_create_default_rg_and_workspace.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_existing_default_rg.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_existing_workspace.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_remove_identity.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_functionapp_commands.py
Owners: @panchagnula, @jsntcy, @zhoxing-ms, @yanzhudd

fix new line
  src/azure-cli/azure/cli/command_modules/acs/_validators.py
Owners: @zhoxing-ms, @zqingqing1, @gtracer, @xizhamsft, @andyliuliming, @fumingzhang, @jsntcy, @yanzhudd

new line
  src/azure-cli/azure/cli/command_modules/acs/_validators.py
Owners: @zhoxing-ms, @zqingqing1, @gtracer, @xizhamsft, @andyliuliming, @fumingzhang, @jsntcy, @yanzhudd

.github/CODEOWNERS:

# See for instructions on this file https://help.github.com/articles/about-codeowners/

*help.py @kairu-ms @jiasli @jsntcy
*help.yaml @kairu-ms @jiasli @jsntcy
*help.yml @kairu-ms @jiasli @jsntcy

/linter_exclusions.yml @jsntcy @kairu-ms @zhoxing-ms

/doc/ @jiasli @kairu-ms @jsntcy
/tools/ @kairu-ms @jiasli @wangzelin007 @calvinhzy
/scripts/ @kairu-ms @jiasli @wangzelin007 @calvinhzy @bebound
/scripts/live_test @kairu-ms @wangzelin007
/src/azure-cli-testsdk/ @jsntcy @jiasli @kairu-ms @wangzelin007

/src/azure-cli-core/ @jiasli @evelyn-ys @jsntcy @kairu-ms @zhoxing-ms @calvinhzy @necusjz
/src/azure-cli-core/azure/cli/core/_profile.py @jiasli @evelyn-ys @calvinhzy
/src/azure-cli-core/azure/cli/core/auth/ @jiasli @evelyn-ys @calvinhzy
/src/azure-cli-core/azure/cli/core/extension/ @jsntcy @kairu-ms
/src/azure-cli-core/azure/cli/core/style.py @jiasli @evelyn-ys @zhoxing-ms
/src/azure-cli-core/azure/cli/core/aaz/ @kairu-ms @necusjz @calvinhzy @jsntcy

/src/azure-cli/azure/cli/command_modules/acr/ @zhoxing-ms @northtyphoon @rosanch @jsntcy @yanzhudd
/src/azure-cli/azure/cli/command_modules/acs/ @zhoxing-ms @zqingqing1 @gtracer @xizhamsft @andyliuliming @fumingzhang @jsntcy @yanzhudd
/src/azure-cli/azure/cli/command_modules/advisor/ @Prasanna-Padmanabhan
/src/azure-cli/azure/cli/command_modules/apim/ @kevinhillinger @jonlester
/src/azure-cli/azure/cli/command_modules/appconfig/ @albertofori @avanigupta @zhoxing-ms @jsntcy @yanzhudd
/src/azure-cli/azure/cli/command_modules/appservice/ @panchagnula @jsntcy @zhoxing-ms @yanzhudd
/src/azure-cli/azure/cli/command_modules/aro/ @bennerv @hawkowl @jewzaam @rogbas
/src/azure-cli/azure/cli/command_modules/backup/ @dragonfly91 @zhoxing-ms @akshayneema @jsntcy @yanzhudd
/src/azure-cli/azure/cli/command_modules/batch/ @bgklein @gingi @dpwatrous @paterasMSFT @zhoxing-ms @jsntcy @yanzhudd
/src/azure-cli/azure/cli/command_modules/batchai/ @AlexanderYukhanov
/src/azure-cli/azure/cli/command_modules/botservice/ @jiaxuwu2021 @luhan2017
/src/azure-cli/azure/cli/command_modules/cdn/ @jsntcy @kairu-ms @wangzelin007 @necusjz @t-bzhan
/src/azure-cli/azure/cli/command_modules/cloud/ @jiasli @evelyn-ys
/src/azure-cli/azure/cli/command_modules/consumption/ @sandeepnl
/src/azure-cli/azure/cli/command_modules/container/ @joseph-porter
/src/azure-cli/azure/cli/command_modules/cosmosdb/ @dmakwana @kristynhamasaki @evelyn-ys @calvinhzy
/src/azure-cli/azure/cli/command_modules/databoxedge/ @evelyn-ys
/src/azure-cli/azure/cli/command_modules/dls/ @akharit @rahuldutta90 @jsntcy
/src/azure-cli/azure/cli/command_modules/dms/ @temandr @binuj
/src/azure-cli/azure/cli/command_modules/eventgrid/ @evelyn-ys @VidyaKukke
/src/azure-cli/azure/cli/command_modules/eventhubs/ @v-ajnava
/src/azure-cli/azure/cli/command_modules/extension/ @jsntcy @kairu-ms
/src/azure-cli/azure/cli/command_modules/feedback/ @jiasli @kairu-ms
/src/azure-cli/azure/cli/command_modules/hdinsight/ @aim-for-better @kairu-ms
/src/azure-cli/azure/cli/command_modules/identity/ @zhoxing-ms @jiasli @yanzhudd
/src/azure-cli/azure/cli/command_modules/iot/ @digimaun @zhoxing-ms @yanzhudd
/src/azure-cli/azure/cli/command_modules/keyvault/ @evelyn-ys @jiasli @calvinhzy
/src/azure-cli/azure/cli/command_modules/monitor/ @jsntcy @kairu-ms @necusjz
/src/azure-cli/azure/cli/command_modules/mysql/ @honghr @evelyn-ys
/src/azure-cli/azure/cli/command_modules/natgateway/ @khannarheams @jsntcy @kairu-ms @necusjz
/src/azure-cli/azure/cli/command_modules/network/ @jsntcy @kairu-ms @wangzelin007 @necusjz
/src/azure-cli/azure/cli/command_modules/policyinsights/ @cheggert
/src/azure-cli/azure/cli/command_modules/privatedns/ @jsntcy @kairu-ms @necusjz
/src/azure-cli/azure/cli/command_modules/profile/ @jiasli @evelyn-ys @calvinhzy
/src/azure-cli/azure/cli/command_modules/rdbms/ @arde0708 @evelyn-ys @DaeunYim @calvinhzy @alanenriqueo
/src/azure-cli/azure/cli/command_modules/resource/ @zhoxing-ms @jsntcy @yanzhudd
/src/azure-cli/azure/cli/command_modules/role/ @jiasli @evelyn-ys @calvinhzy
/src/azure-cli/azure/cli/command_modules/search/ @huangbolun @kairu-ms
/src/azure-cli/azure/cli/command_modules/servicebus/ @v-ajnava @zhoxing-ms @jsntcy @evelyn-ys
/src/azure-cli/azure/cli/command_modules/serviceconnector/ @yungezz @houk-ms @xfz11 @yanzhudd @kairu-ms
/src/azure-cli/azure/cli/command_modules/servicefabric/ @QingChenmsft @zhoxing-ms @jsntcy @yanzhudd
/src/azure-cli/azure/cli/command_modules/sql/ @jaredmoo @evelyn-ys @calvinhzy
/src/azure-cli/azure/cli/command_modules/storage/ @jsntcy @zhoxing-ms @evelyn-ys @calvinhzy
/src/azure-cli/azure/cli/command_modules/synapse/ @jsntcy @idear1203 @zesluo @evelyn-ys
/src/azure-cli/azure/cli/command_modules/util/ @jiasli @zhoxing-ms @evelyn-ys
/src/azure-cli/azure/cli/command_modules/vm/ @zhoxing-ms @jsntcy @wangzelin007 @yanzhudd @Drewm3 @TravisCragg-MSFT @nikhilpatel909 @sandeepraichura @hilaryw29 @GabstaMSFT @ramankumarlive @ushnaarshadkhan
/src/azure-cli/azure/cli/command_modules/containerapp/ @ruslany @sanchitmehta @ebencarek @JennyLawrance @howang-ms @vinisoto @chinadragon0515 @vturecek @torosent @pagariyaalok @Juliehzl @jijohn14 @Greedygre
