Repository Azure/azure-cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sptramer, @troydai, @djyou, @rjtsdl, @Prasanna-Padmanabhan, @yugangw-msft, @dragonfly91, @annatisch, @AlexanderYukhanov, @tjprescott, @dmakwana, @yolo3301, @sandeepnl, @kalyanaj, @williexu, @bulentelmaci, @QingChenmsft, @jaredmoo, @v-ajnava

fixing HISTORY.rst release notes
  src/command_modules/azure-cli-keyvault/HISTORY.rst
Owners: @tjprescott

fix linter error
  src/azure-cli-core/azure/cli/core/util.py
Owners: none

Code review feedback.
  src/command_modules/azure-cli-resource/HISTORY.rst
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/_help.py
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/commands.py
Owners: @sptramer

Add `--no-wait` support to various commands (#6684)
  .travis.yml
  src/command_modules/azure-cli-network/HISTORY.rst
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_format.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_help.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/commands.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/custom.py
  src/command_modules/azure-cli-resource/HISTORY.rst
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/_help.py
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/commands.py
  src/command_modules/azure-cli-vm/HISTORY.rst
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_help.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/commands.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/custom.py
Owners: @tjprescott, @sptramer, @yugangw-msft

Add `--no-wait` support to various commands (#6684)
  .travis.yml
  src/command_modules/azure-cli-network/HISTORY.rst
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_format.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_help.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/commands.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/custom.py
  src/command_modules/azure-cli-resource/HISTORY.rst
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/_help.py
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/commands.py
  src/command_modules/azure-cli-vm/HISTORY.rst
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_help.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/commands.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/custom.py
Owners: @tjprescott, @sptramer, @yugangw-msft

Add OS type parameter to build command (#6634)
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/_params.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/build.py
Owners: @djyou

Add OS type parameter to build command (#6634)
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/_params.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/build.py
Owners: @djyou

Update test recordings
  src/command_modules/azure-cli-keyvault/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_pending_certificate.yaml
  src/command_modules/azure-cli-keyvault/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_secret.yaml
  src/command_modules/azure-cli-keyvault/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_softdelete.yaml
  src/command_modules/azure-cli-keyvault/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_storage_account.yaml
  src/command_modules/azure-cli-role/azure/cli/command_modules/role/tests/latest/recordings/test_create_for_rbac_with_existing_kv_cert.yaml
  src/command_modules/azure-cli-role/azure/cli/command_modules/role/tests/latest/recordings/test_create_for_rbac_with_new_kv_cert.yaml
  src/command_modules/azure-cli-sql/azure/cli/command_modules/sql/tests/latest/recordings/test_sql_tdebyok.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_customer_managed_key.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_account_service_endpoints.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_create_linux_secrets.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_secret_e2e_test.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_create_linux_secrets.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_disk_encryption_e2e.yaml
Owners: @tjprescott, @jaredmoo, @troydai, @yugangw-msft

Update recording
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_create_windows_secrets.yaml
Owners: @yugangw-msft

login: support browser based login in WSL bash window (#6689)
  src/azure-cli-core/HISTORY.rst
  src/azure-cli-core/azure/cli/core/_profile.py
  src/azure-cli-core/azure/cli/core/util.py
Owners: none

login: support browser based login in WSL bash window (#6689)
  src/azure-cli-core/HISTORY.rst
  src/azure-cli-core/azure/cli/core/_profile.py
  src/azure-cli-core/azure/cli/core/util.py
Owners: none

updaste recordings
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_disk_encryption_e2e.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_disk_encryption_e2e.yaml
Owners: @yugangw-msft

updates for PR feedback
  src/command_modules/azure-cli-keyvault/azure/cli/command_modules/keyvault/__init__.py
  src/command_modules/azure-cli-keyvault/azure/cli/command_modules/keyvault/_help.py
  src/command_modules/azure-cli-keyvault/azure/cli/command_modules/keyvault/tests/latest/mydomain.test.encrypted.pem
Owners: @tjprescott

vm: fix live test failures on using custom images
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_custom_image.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_create_with_market_place_image.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Owners: @yugangw-msft

remove useless comment
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Owners: @yugangw-msft

rerecording keyvault tests
  src/command_modules/azure-cli-keyvault/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_certificate_contacts.yaml
  src/command_modules/azure-cli-keyvault/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_certificate_crud.yaml
  src/command_modules/azure-cli-keyvault/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_certificate_download.yaml
  src/command_modules/azure-cli-keyvault/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_certificate_get_default_policy.yaml
  src/command_modules/azure-cli-keyvault/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_certificate_import.yaml
  src/command_modules/azure-cli-keyvault/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_certificate_issuers.yaml
  src/command_modules/azure-cli-keyvault/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_key.yaml
  src/command_modules/azure-cli-keyvault/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_mgmt.yaml
  src/command_modules/azure-cli-keyvault/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_pending_certificate.yaml
  src/command_modules/azure-cli-keyvault/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_secret.yaml
  src/command_modules/azure-cli-keyvault/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_softdelete.yaml
  src/command_modules/azure-cli-keyvault/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_storage_account.yaml
  src/command_modules/azure-cli-keyvault/azure/cli/command_modules/keyvault/tests/latest/test_keyvault_commands.py
Owners: @tjprescott

fix linter error
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Owners: @yugangw-msft

suppres rdbms vnet extension
  src/command_modules/azure-cli-rdbms/azure/cli/command_modules/rdbms/__init__.py
Owners: none

rerecording keyvault tests after merge of dev
  src/command_modules/azure-cli-keyvault/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_certificate_contacts.yaml
  src/command_modules/azure-cli-keyvault/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_certificate_crud.yaml
  src/command_modules/azure-cli-keyvault/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_certificate_download.yaml
  src/command_modules/azure-cli-keyvault/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_certificate_get_default_policy.yaml
  src/command_modules/azure-cli-keyvault/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_certificate_import.yaml
  src/command_modules/azure-cli-keyvault/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_certificate_issuers.yaml
  src/command_modules/azure-cli-keyvault/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_key.yaml
  src/command_modules/azure-cli-keyvault/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_mgmt.yaml
  src/command_modules/azure-cli-keyvault/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_pending_certificate.yaml
  src/command_modules/azure-cli-keyvault/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_secret.yaml
  src/command_modules/azure-cli-keyvault/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_softdelete.yaml
  src/command_modules/azure-cli-keyvault/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_storage_account.yaml
Owners: @tjprescott

Adding Azure Relay CLI support
  src/command_modules/azure-cli-relay/HISTORY.rst
  src/command_modules/azure-cli-relay/MANIFEST.in
  src/command_modules/azure-cli-relay/README.rst
  src/command_modules/azure-cli-relay/azure/__init__.py
  src/command_modules/azure-cli-relay/azure/cli/__init__.py
  src/command_modules/azure-cli-relay/azure/cli/command_modules/__init__.py
  src/command_modules/azure-cli-relay/azure/cli/command_modules/relay/__init__.py
  src/command_modules/azure-cli-relay/azure/cli/command_modules/relay/_client_factory.py
  src/command_modules/azure-cli-relay/azure/cli/command_modules/relay/_completers.py
  src/command_modules/azure-cli-relay/azure/cli/command_modules/relay/_help.py
  src/command_modules/azure-cli-relay/azure/cli/command_modules/relay/_params.py
  src/command_modules/azure-cli-relay/azure/cli/command_modules/relay/_utils.py
  src/command_modules/azure-cli-relay/azure/cli/command_modules/relay/_validators.py
  src/command_modules/azure-cli-relay/azure/cli/command_modules/relay/commands.py
  src/command_modules/azure-cli-relay/azure/cli/command_modules/relay/custom.py
  src/command_modules/azure-cli-relay/azure/cli/command_modules/relay/tests/__init__.py
  src/command_modules/azure-cli-relay/azure/cli/command_modules/relay/tests/latest/__init__.py
  src/command_modules/azure-cli-relay/azure/cli/command_modules/relay/tests/latest/recordings/test_relay_hyco.yaml
  src/command_modules/azure-cli-relay/azure/cli/command_modules/relay/tests/latest/recordings/test_relay_namespace.yaml
  src/command_modules/azure-cli-relay/azure/cli/command_modules/relay/tests/latest/recordings/test_relay_wcfrelay.yaml
  src/command_modules/azure-cli-relay/azure/cli/command_modules/relay/tests/latest/test_relay_commands.py
  src/command_modules/azure-cli-relay/azure_bdist_wheel.py
  src/command_modules/azure-cli-relay/setup.cfg
  src/command_modules/azure-cli-relay/setup.py
Owners: @sptramer

[AKS] handle monitoring solution through its subscription ID (#6680)
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/_client_factory.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/custom.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/tests/latest/test_custom.py
Owners: @rjtsdl

[AKS] handle monitoring solution through its subscription ID (#6680)
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/_client_factory.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/custom.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/tests/latest/test_custom.py
Owners: @rjtsdl

[AKS] handle monitoring solution through its subscription ID (#6680)
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/_client_factory.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/custom.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/tests/latest/test_custom.py
Owners: @rjtsdl

[AKS] handle monitoring solution through its subscription ID (#6680)
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/_client_factory.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/custom.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/tests/latest/test_custom.py
Owners: @rjtsdl

Increase Travis automation timeout threshold
  .travis.yml
Owners: none

Increase Travis automation timeout threshold
  .travis.yml
Owners: none

Bump version to 2.0.41
  src/azure-cli-core/HISTORY.rst
  src/azure-cli-core/azure/cli/core/__init__.py
  src/azure-cli-core/setup.py
  src/azure-cli/HISTORY.rst
  src/azure-cli/azure/cli/__init__.py
  src/azure-cli/setup.py
Owners: none

Bump version to 2.0.41
  src/azure-cli-core/HISTORY.rst
  src/azure-cli-core/azure/cli/core/__init__.py
  src/azure-cli-core/setup.py
  src/azure-cli/HISTORY.rst
  src/azure-cli/azure/cli/__init__.py
  src/azure-cli/setup.py
Owners: none

Azure Relay CLI commands and tests
  doc/sphinx/azhelpgen/doc_source_map.json
  src/command_modules/azure-cli-relay/azure/cli/command_modules/relay/__init__.py
  src/command_modules/azure-cli-relay/azure/cli/command_modules/relay/_help.py
  src/command_modules/azure-cli-relay/azure/cli/command_modules/relay/_params.py
  src/command_modules/azure-cli-relay/azure/cli/command_modules/relay/_validators.py
  src/command_modules/azure-cli-relay/azure/cli/command_modules/relay/custom.py
  src/command_modules/azure-cli-relay/azure/cli/command_modules/relay/tests/latest/recordings/test_relay_hyco.yaml
  src/command_modules/azure-cli-relay/azure/cli/command_modules/relay/tests/latest/recordings/test_relay_namespace.yaml
  src/command_modules/azure-cli-relay/azure/cli/command_modules/relay/tests/latest/recordings/test_relay_wcfrelay.yaml
Owners: @sptramer

suppres rdbms vnet extension (#6694)
  src/command_modules/azure-cli-rdbms/azure/cli/command_modules/rdbms/__init__.py
Owners: none

suppres rdbms vnet extension (#6694)
  src/command_modules/azure-cli-rdbms/azure/cli/command_modules/rdbms/__init__.py
Owners: none

Upgrade PyYAML to 4.2b4
  requirements.txt
  src/azure-cli-core/HISTORY.rst
  src/azure-cli-core/setup.py
  src/command_modules/azure-cli-acs/HISTORY.rst
  src/command_modules/azure-cli-acs/setup.py
  src/command_modules/azure-cli-container/HISTORY.rst
  src/command_modules/azure-cli-container/setup.py
  src/command_modules/azure-cli-interactive/HISTORY.rst
  src/command_modules/azure-cli-interactive/setup.py
  tools/setup.py
Owners: @rjtsdl, @yolo3301, @troydai

Upgrade PyYAML to 4.2b4
  requirements.txt
  src/azure-cli-core/HISTORY.rst
  src/azure-cli-core/setup.py
  src/command_modules/azure-cli-acs/HISTORY.rst
  src/command_modules/azure-cli-acs/setup.py
  src/command_modules/azure-cli-container/HISTORY.rst
  src/command_modules/azure-cli-container/setup.py
  src/command_modules/azure-cli-interactive/HISTORY.rst
  src/command_modules/azure-cli-interactive/setup.py
  tools/setup.py
Owners: @rjtsdl, @yolo3301, @troydai

add parameter validation
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_validators.py
Owners: @yugangw-msft

align params to those of az vm encryption enable
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_params.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_validators.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_vm_utils.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/custom.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/disk_encryption.py
Owners: @yugangw-msft

fix typo
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_template_builder.py
Owners: @yugangw-msft

add DEK stuff
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_params.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_template_builder.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/custom.py
Owners: @yugangw-msft

add to HISTORY.rst
  src/command_modules/azure-cli-vm/HISTORY.rst
Owners: @yugangw-msft

recordings for all storage tests
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_create_account_sas.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_create_storage_account.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_create_storage_account_v2.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_create_storage_account_with_assigned_identity.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_customer_managed_key.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_list_locations.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_list_storage_accounts.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_logging_operations.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_metrics_operations.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_renew_account_key.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_show_usage.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_account_service_endpoints.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_blob_append.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_blob_container_operations.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_blob_incremental_copy.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_blob_lease_operations.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_blob_metadata_operations.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_blob_snapshot_operations.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_blob_socket_timeout.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_blob_soft_delete.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_blob_upload_midsize_file.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_blob_upload_small_file.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_container_acl_scenarios.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_cors_scenario.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_create_default_sku.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_file_copy_scenario.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_file_main_scenario.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_queue_general_scenario.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_share_acl_scenarios.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_table_main_scenario.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_update_storage_account_with_assigned_identity.yaml
Owners: @troydai

update to new multiapi sdk
  src/azure-cli-core/azure/cli/core/profiles/_shared.py
  src/command_modules/azure-cli-storage/setup.py
  src/command_modules/azure-cli-vm/setup.py
Owners: @troydai, @yugangw-msft

.github/CODEOWNERS:

# See for instructions on this file https://help.github.com/articles/about-codeowners/

*help.py @sptramer

/tools/ @troydai
/scripts/ @troydai
/src/azure-cli-testsdk/ @troydai
/src/command_modules/azure-cli-acr/ @djyou
/src/command_modules/azure-cli-acs/ @rjtsdl
/src/command_modules/azure-cli-advisor/ @Prasanna-Padmanabhan
/src/command_modules/azure-cli-appservice/ @yugangw-msft
/src/command_modules/azure-cli-backup/ @dragonfly91
/src/command_modules/azure-cli-batch/ @annatisch 
/src/command_modules/azure-cli-batchai/ @AlexanderYukhanov
/src/command_modules/azure-cli-cdn/ @tjprescott
/src/command_modules/azure-cli-cosmosdb/ @dmakwana
/src/command_modules/azure-cli-cloud/ @yugangw-msft
/src/command_modules/azure-cli-container/ @yolo3301
/src/command_modules/azure-cli-consumption/ @sandeepnl
/src/command_modules/azure-cli-eventgrid/ @kalyanaj
/src/command_modules/azure-cli-extension/ @williexu
/src/command_modules/azure-cli-keyvault/ @tjprescott
/src/command_modules/azure-cli-monitor/ @troydai
/src/command_modules/azure-cli-network/ @tjprescott
/src/command_modules/azure-cli-policyinsights/ @bulentelmaci
/src/command_modules/azure-cli-profile/ @yugangw-msft
/src/command_modules/azure-cli-storage/ @troydai
/src/command_modules/azure-cli-servicefabric/ @QingChenmsft
/src/command_modules/azure-cli-sql/ @jaredmoo
/src/command_modules/azure-cli-vm/ @yugangw-msft
/src/command_modules/azure-cli-eventhubs/ @v-ajnava
/src/command_modules/azure-cli-servicebus/ @v-ajnava
