Repository Azure/azure-cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sptramer, @troydai, @djyou, @rjtsdl, @Prasanna-Padmanabhan, @yugangw-msft, @dragonfly91, @annatisch, @AlexanderYukhanov, @tjprescott, @dmakwana, @yolo3301, @sandeepnl, @kalyanaj, @williexu, @bulentelmaci, @QingChenmsft, @jaredmoo, @v-ajnava

Reloading the module instead of deleting the imported module
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/custom.py
Owners: @rjtsdl

Add a helper method to get acr suffix in a cloud
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/_docker_utils.py
Owners: @djyou

assertCountEqual not in python2
  src/azure-cli-core/azure/cli/core/tests/test_parser.py
Owners: none

Fix #6654.
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_params.py
Owners: @tjprescott

Introduce azure.cli.core.api to provide unified interfaces module (#6592)
  src/azure-cli-core/azure/cli/core/api.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/custom.py
  src/command_modules/azure-cli-find/HISTORY.rst
  src/command_modules/azure-cli-find/azure/cli/command_modules/find/custom.py
  src/command_modules/azure-cli-find/setup.py
  src/command_modules/azure-cli-interactive/HISTORY.rst
  src/command_modules/azure-cli-interactive/azure/cli/command_modules/interactive/azclishell/app.py
  src/command_modules/azure-cli-interactive/setup.py
Owners: @rjtsdl

Introduce azure.cli.core.api to provide unified interfaces module (#6592)
  src/azure-cli-core/azure/cli/core/api.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/custom.py
  src/command_modules/azure-cli-find/HISTORY.rst
  src/command_modules/azure-cli-find/azure/cli/command_modules/find/custom.py
  src/command_modules/azure-cli-find/setup.py
  src/command_modules/azure-cli-interactive/HISTORY.rst
  src/command_modules/azure-cli-interactive/azure/cli/command_modules/interactive/azclishell/app.py
  src/command_modules/azure-cli-interactive/setup.py
Owners: @rjtsdl

Fixed parser bug assuming value parsed is part of command (#6636)
  src/azure-cli-core/azure/cli/core/parser.py
  src/azure-cli-core/azure/cli/core/tests/test_parser.py
Owners: none

Fixed parser bug assuming value parsed is part of command (#6636)
  src/azure-cli-core/azure/cli/core/parser.py
  src/azure-cli-core/azure/cli/core/tests/test_parser.py
Owners: none

check notifications before enumeration (#6649)
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/operations/autoscale_settings.py
Owners: @troydai

check notifications before enumeration (#6649)
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/operations/autoscale_settings.py
Owners: @troydai

[AKS] default RBAC to true and deprecate "--enable-rbac" argument (#6648)
  src/command_modules/azure-cli-acs/HISTORY.rst
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/_help.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/_params.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/custom.py
Owners: @rjtsdl

[AKS] default RBAC to true and deprecate "--enable-rbac" argument (#6648)
  src/command_modules/azure-cli-acs/HISTORY.rst
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/_help.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/_params.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/custom.py
Owners: @rjtsdl

wip
  src/azure-cli-core/azure/cli/core/_profile.py
Owners: none

emit a warning for transitioning to the new experience
  src/azure-cli-core/azure/cli/core/_profile.py
Owners: none

fix a login flow error
  src/azure-cli-core/azure/cli/core/_profile.py
Owners: none

check in private version of adal
  privates/adal-1.0.2-py2.py3-none-any.whl
Owners: none

handle /favicon.ico
  src/azure-cli-core/azure/cli/core/_profile.py
Owners: none

ignore IE favicon.ico request
  src/azure-cli-core/azure/cli/core/_profile.py
Owners: none

adjust test
  src/azure-cli-core/azure/cli/core/tests/test_profile.py
Owners: none

vmss: remove a workaround for VMSS patch service bug (#6635)
  src/command_modules/azure-cli-vm/HISTORY.rst
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/custom.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_explicit_msi.yaml
Owners: @yugangw-msft

vmss: remove a workaround for VMSS patch service bug (#6635)
  src/command_modules/azure-cli-vm/HISTORY.rst
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/custom.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_explicit_msi.yaml
Owners: @yugangw-msft

Add tests, fix formatting
  src/azure-cli-core/azure/cli/core/tests/test_cloud.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/_docker_utils.py
Owners: @djyou

fix lint error
  src/azure-cli-core/azure/cli/core/_profile.py
  src/azure-cli-core/azure/cli/core/tests/test_profile.py
Owners: none

CR
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/custom.py
Owners: @rjtsdl

Fixed live test failure in test_sql_subscription_usages
  src/command_modules/azure-cli-sql/azure/cli/command_modules/sql/tests/latest/recordings/test_sql_subscription_usages.yaml
  src/command_modules/azure-cli-sql/azure/cli/command_modules/sql/tests/latest/test_sql_commands.py
Owners: @jaredmoo

[AKS] Use the latest helm chart to install VK
  src/command_modules/azure-cli-acs/HISTORY.rst
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/_params.py
Owners: @rjtsdl

Update
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/custom.py
Owners: @rjtsdl

switch from private to public adal
  privates/adal-1.0.2-py2.py3-none-any.whl
Owners: none

removing id field from log analytics to meet conformance
  src/command_modules/azure-cli-container/HISTORY.rst
  src/command_modules/azure-cli-container/README.rst
  src/command_modules/azure-cli-container/azure/cli/command_modules/container/_help.py
  src/command_modules/azure-cli-container/azure/cli/command_modules/container/_params.py
  src/command_modules/azure-cli-container/azure/cli/command_modules/container/custom.py
Owners: @yolo3301

[AKS] Use the latest helm chart to install VK (#6662)
  src/command_modules/azure-cli-acs/HISTORY.rst
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/_params.py
Owners: @rjtsdl

[AKS] Use the latest helm chart to install VK (#6662)
  src/command_modules/azure-cli-acs/HISTORY.rst
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/_params.py
Owners: @rjtsdl

Reload module when we use --update option (#6639)
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/custom.py
Owners: @rjtsdl

Reload module when we use --update option (#6639)
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/custom.py
Owners: @rjtsdl

Fix #6654. (#6656)
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_params.py
Owners: @tjprescott

Fix #6654. (#6656)
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_params.py
Owners: @tjprescott

add test
  src/azure-cli-core/azure/cli/core/tests/test_profile.py
Owners: none

revising help text to reflect current cli functionality
  src/command_modules/azure-cli-container/README.rst
  src/command_modules/azure-cli-container/azure/cli/command_modules/container/_params.py
  src/command_modules/azure-cli-container/azure/cli/command_modules/container/custom.py
Owners: @yolo3301

[AKS] add install-addons and remove-addons commands
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/_help.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/_params.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/commands.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/custom.py
Owners: @rjtsdl

Implement addons commands logic
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/custom.py
Owners: @rjtsdl

Fix "line too long" errors and add better error message
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/custom.py
Owners: @rjtsdl

.github/CODEOWNERS:

# See for instructions on this file https://help.github.com/articles/about-codeowners/

*help.py @sptramer

/tools/ @troydai
/scripts/ @troydai
/src/azure-cli-testsdk/ @troydai
/src/command_modules/azure-cli-acr/ @djyou
/src/command_modules/azure-cli-acs/ @rjtsdl
/src/command_modules/azure-cli-advisor/ @Prasanna-Padmanabhan
/src/command_modules/azure-cli-appservice/ @yugangw-msft
/src/command_modules/azure-cli-backup/ @dragonfly91
/src/command_modules/azure-cli-batch/ @annatisch 
/src/command_modules/azure-cli-batchai/ @AlexanderYukhanov
/src/command_modules/azure-cli-cdn/ @tjprescott
/src/command_modules/azure-cli-cosmosdb/ @dmakwana
/src/command_modules/azure-cli-cloud/ @yugangw-msft
/src/command_modules/azure-cli-container/ @yolo3301
/src/command_modules/azure-cli-consumption/ @sandeepnl
/src/command_modules/azure-cli-eventgrid/ @kalyanaj
/src/command_modules/azure-cli-extension/ @williexu
/src/command_modules/azure-cli-keyvault/ @tjprescott
/src/command_modules/azure-cli-monitor/ @troydai
/src/command_modules/azure-cli-network/ @tjprescott
/src/command_modules/azure-cli-policyinsights/ @bulentelmaci
/src/command_modules/azure-cli-profile/ @yugangw-msft
/src/command_modules/azure-cli-storage/ @troydai
/src/command_modules/azure-cli-servicefabric/ @QingChenmsft
/src/command_modules/azure-cli-sql/ @jaredmoo
/src/command_modules/azure-cli-vm/ @yugangw-msft
/src/command_modules/azure-cli-eventhubs/ @v-ajnava
/src/command_modules/azure-cli-servicebus/ @v-ajnava
