Repository Azure/azure-cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sptramer, @troydai, @djyou, @rjtsdl, @Prasanna-Padmanabhan, @yugangw-msft, @dragonfly91, @annatisch, @AlexanderYukhanov, @tjprescott, @dmakwana, @yolo3301, @sandeepnl, @kalyanaj, @williexu, @bulentelmaci, @QingChenmsft, @jaredmoo, @v-ajnava

.github/CODEOWNERS:

# See for instructions on this file https://help.github.com/articles/about-codeowners/

*help.py @sptramer

/tools/ @troydai
/scripts/ @troydai
/src/azure-cli-testsdk/ @troydai
/src/command_modules/azure-cli-acr/ @djyou
/src/command_modules/azure-cli-acs/ @rjtsdl
/src/command_modules/azure-cli-advisor/ @Prasanna-Padmanabhan
/src/command_modules/azure-cli-appservice/ @yugangw-msft
/src/command_modules/azure-cli-backup/ @dragonfly91
/src/command_modules/azure-cli-batch/ @annatisch 
/src/command_modules/azure-cli-batchai/ @AlexanderYukhanov
/src/command_modules/azure-cli-cdn/ @tjprescott
/src/command_modules/azure-cli-cosmosdb/ @dmakwana
/src/command_modules/azure-cli-cloud/ @yugangw-msft
/src/command_modules/azure-cli-container/ @yolo3301
/src/command_modules/azure-cli-consumption/ @sandeepnl
/src/command_modules/azure-cli-eventgrid/ @kalyanaj
/src/command_modules/azure-cli-extension/ @williexu
/src/command_modules/azure-cli-keyvault/ @tjprescott
/src/command_modules/azure-cli-monitor/ @troydai
/src/command_modules/azure-cli-network/ @tjprescott
/src/command_modules/azure-cli-policyinsights/ @bulentelmaci
/src/command_modules/azure-cli-profile/ @yugangw-msft
/src/command_modules/azure-cli-storage/ @troydai
/src/command_modules/azure-cli-servicefabric/ @QingChenmsft
/src/command_modules/azure-cli-sql/ @jaredmoo
/src/command_modules/azure-cli-vm/ @yugangw-msft
/src/command_modules/azure-cli-eventhubs/ @v-ajnava
/src/command_modules/azure-cli-servicebus/ @v-ajnava

Revise Azure CLI Core version to 2.0.43. (#6890)
  src/azure-cli-core/HISTORY.rst
  src/azure-cli-core/azure/cli/core/__init__.py
  src/azure-cli-core/setup.py
Owners: none

Service Bus: Added new cmdlet for Migration and added few properties (#6810)
  src/command_modules/azure-cli-servicebus/HISTORY.rst
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/_client_factory.py
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/_help.py
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/_params.py
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/_validators.py
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/commands.py
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/custom.py
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_alias.yaml
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_migration.yaml
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_namespace.yaml
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_queue.yaml
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_rules.yaml
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_subscription.yaml
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_topic.yaml
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/tests/latest/test_servicebus_commands.py
  src/command_modules/azure-cli-servicebus/setup.py
Owners: @v-ajnava

Service Bus: Added new cmdlet for Migration and added few properties (#6810)
  src/command_modules/azure-cli-servicebus/HISTORY.rst
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/_client_factory.py
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/_help.py
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/_params.py
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/_validators.py
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/commands.py
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/custom.py
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_alias.yaml
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_migration.yaml
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_namespace.yaml
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_queue.yaml
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_rules.yaml
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_subscription.yaml
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_topic.yaml
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/tests/latest/test_servicebus_commands.py
  src/command_modules/azure-cli-servicebus/setup.py
Owners: @v-ajnava

update help for --partition-count of Eventhub
  src/command_modules/azure-cli-eventhubs/azure/cli/command_modules/eventhubs/_params.py
Owners: @v-ajnava

updated histroy
  src/command_modules/azure-cli-eventhubs/HISTORY.rst
Owners: @v-ajnava

updated setup with new version
  src/command_modules/azure-cli-eventhubs/setup.py
Owners: @v-ajnava

Added an example for local-gateway and 5 for ddos-protection (#6883)
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_help.py
Owners: @tjprescott

Added an example for local-gateway and 5 for ddos-protection (#6883)
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_help.py
Owners: @tjprescott

updated help and made liveonly servicebus migration test
  src/command_modules/azure-cli-eventhubs/azure/cli/command_modules/eventhubs/_params.py
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/tests/latest/test_servicebus_commands.py
Owners: @v-ajnava

[AKS] properly deprecate "az aks create --enable-rbac" argument (#6889)
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/_help.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/_params.py
Owners: @rjtsdl

[AKS] properly deprecate "az aks create --enable-rbac" argument (#6889)
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/_help.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/_params.py
Owners: @rjtsdl

EventHub: updated help for the parameter --partition-count of eventhub (#6892)
  src/command_modules/azure-cli-eventhubs/HISTORY.rst
  src/command_modules/azure-cli-eventhubs/azure/cli/command_modules/eventhubs/_params.py
  src/command_modules/azure-cli-eventhubs/setup.py
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/tests/latest/test_servicebus_commands.py
Owners: @v-ajnava

EventHub: updated help for the parameter --partition-count of eventhub (#6892)
  src/command_modules/azure-cli-eventhubs/HISTORY.rst
  src/command_modules/azure-cli-eventhubs/azure/cli/command_modules/eventhubs/_params.py
  src/command_modules/azure-cli-eventhubs/setup.py
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/tests/latest/test_servicebus_commands.py
Owners: @v-ajnava

[ACS] validate_max_pods must calculate min # of pods (#6879)
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/_validators.py
Owners: @rjtsdl

[ACS] validate_max_pods must calculate min # of pods (#6879)
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/_validators.py
Owners: @rjtsdl

Update doc for SP role assignment include_groups (#6891)
  src/command_modules/azure-cli-ams/azure/cli/command_modules/ams/operations/sp.py
  src/command_modules/azure-cli-role/azure/cli/command_modules/role/custom.py
Owners: none

Update doc for SP role assignment include_groups (#6891)
  src/command_modules/azure-cli-ams/azure/cli/command_modules/ams/operations/sp.py
  src/command_modules/azure-cli-role/azure/cli/command_modules/role/custom.py
Owners: none

Update release scripts
  build_scripts/debian/README.md
  build_scripts/debian/build.sh
  build_scripts/docker/README.md
  build_scripts/homebrew/README.md
  build_scripts/homebrew/formula-generate.py
  build_scripts/pypi/README.md
  build_scripts/pypi/build.py
  scripts/release/debian/README.md
  scripts/release/debian/build.sh
  scripts/release/debian/prepare.sh
  scripts/release/pypi/build.sh
  scripts/release/rpm/README.md
  scripts/release/rpm/azure-cli.spec
  scripts/release/rpm/build.sh
Owners: @troydai

Update release scripts
  build_scripts/debian/README.md
  build_scripts/debian/build.sh
  build_scripts/docker/README.md
  build_scripts/homebrew/README.md
  build_scripts/homebrew/formula-generate.py
  build_scripts/pypi/README.md
  build_scripts/pypi/build.py
  scripts/release/debian/README.md
  scripts/release/debian/build.sh
  scripts/release/debian/prepare.sh
  scripts/release/pypi/build.sh
  scripts/release/rpm/README.md
  scripts/release/rpm/azure-cli.spec
  scripts/release/rpm/build.sh
Owners: @troydai

[batchai] logger: specify 'group' resource type
  src/command_modules/azure-cli-batchai/azure/cli/command_modules/batchai/custom.py
Owners: @AlexanderYukhanov

Test ADAL msrestazure versionned 0.5.0
  privates/msrestazure-0.5.0-py2.py3-none-any.whl
Owners: none

use multi-api kv in sf and batch modules
  src/command_modules/azure-cli-batch/azure/cli/command_modules/batch/tests/latest/test_batch_mgmt_commands.py
  src/command_modules/azure-cli-keyvault/azure/cli/command_modules/keyvault/_params.py
  src/command_modules/azure-cli-keyvault/azure/cli/command_modules/keyvault/commands.py
  src/command_modules/azure-cli-servicefabric/azure/cli/command_modules/servicefabric/custom.py
Owners: @annatisch, @tjprescott, @QingChenmsft

run-command: bug fix so it doesn't show up under stack profile
  src/command_modules/azure-cli-vm/HISTORY.rst
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/commands.py
  src/command_modules/azure-cli-vm/setup.py
Owners: @yugangw-msft
