Repository Azure/azure-cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sptramer, @Juliehzl, @zikalino, @jiasli, @djyou, @rjtsdl, @Prasanna-Padmanabhan, @qwordy, @dragonfly91, @bgklein, @AlexanderYukhanov, @dmakwana, @samkreter, @sandeepnl, @lewu-msft, @kalyanaj, @MyronFanQiu, @khannarheams, @cheggert, @QingChenmsft, @jaredmoo, @v-ajnava, @kevinhillinger, @jonlester

.github/CODEOWNERS:

# See for instructions on this file https://help.github.com/articles/about-codeowners/

*help.py @sptramer @Juliehzl
*help.yaml @sptramer @Juliehzl
*help.yml  @sptramer @Juliehzl

/tools/ @zikalino
/scripts/ @zikalino
/src/azure-cli-testsdk/ @zikalino
/src/azure-cli-core/ @jiasli
/src/azure-cli/azure/cli/command_modules/acr/ @djyou
/src/azure-cli/azure/cli/command_modules/acs/ @rjtsdl
/src/azure-cli/azure/cli/command_modules/advisor/ @Prasanna-Padmanabhan
/src/azure-cli/azure/cli/command_modules/appservice/ @qwordy
/src/azure-cli/azure/cli/command_modules/backup/ @dragonfly91
/src/azure-cli/azure/cli/command_modules/batch/ @bgklein
/src/azure-cli/azure/cli/command_modules/batchai/ @AlexanderYukhanov
/src/azure-cli/azure/cli/command_modules/cosmosdb/ @dmakwana
/src/azure-cli/azure/cli/command_modules/cloud/ @jiasli
/src/azure-cli/azure/cli/command_modules/container/ @samkreter
/src/azure-cli/azure/cli/command_modules/consumption/ @sandeepnl
/src/azure-cli/azure/cli/command_modules/dls/ @lewu-msft
/src/azure-cli/azure/cli/command_modules/eventgrid/ @kalyanaj
/src/azure-cli/azure/cli/command_modules/extension/ @zikalino
/src/azure-cli/azure/cli/command_modules/keyvault/ @jiasli
/src/azure-cli/azure/cli/command_modules/monitor/ @MyronFanQiu
/src/azure-cli/azure/cli/command_modules/natgateway/ @khannarheams
/src/azure-cli/azure/cli/command_modules/network/ @MyronFanQiu
/src/azure-cli/azure/cli/command_modules/policyinsights/ @cheggert
/src/azure-cli/azure/cli/command_modules/profile/ @jiasli
/src/azure-cli/azure/cli/command_modules/resource/ @Juliehzl
/src/azure-cli/azure/cli/command_modules/role/ @jiasli
/src/azure-cli/azure/cli/command_modules/storage/ @Juliehzl
/src/azure-cli/azure/cli/command_modules/servicefabric/ @QingChenmsft
/src/azure-cli/azure/cli/command_modules/sql/ @jaredmoo
/src/azure-cli/azure/cli/command_modules/vm/ @qwordy
/src/azure-cli/azure/cli/command_modules/eventhubs/ @v-ajnava
/src/azure-cli/azure/cli/command_modules/servicebus/ @v-ajnava
/src/azure-cli/azure/cli/command_modules/apim/ @kevinhillinger @jonlester

Feature export scenario updates
  src/azure-cli/azure/cli/command_modules/appconfig/_params.py
  src/azure-cli/azure/cli/command_modules/appconfig/keyvalue.py
Owners: none

remove preview flag
  src/azure-cli/azure/cli/command_modules/storage/_params.py
Owners: @Juliehzl

update history
  src/azure-cli/HISTORY.rst
Owners: none

remove preview in revoke-delegation-keys
  src/azure-cli/azure/cli/command_modules/storage/commands.py
Owners: @Juliehzl

remove preview in blob generate-sas
  src/azure-cli/azure/cli/command_modules/storage/_params.py
Owners: @Juliehzl

remove preview in container generate-sas
  src/azure-cli/azure/cli/command_modules/storage/_params.py
Owners: @Juliehzl

update history
  src/azure-cli/HISTORY.rst
Owners: none

add --scale-in-policy to update command
  src/azure-cli/HISTORY.rst
  src/azure-cli/azure/cli/command_modules/vm/_params.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_scale_in_policy.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Owners: @qwordy

[Storage] GA Release User Delegation SAS token Support (#11408)
  src/azure-cli/HISTORY.rst
  src/azure-cli/azure/cli/command_modules/storage/_params.py
  src/azure-cli/azure/cli/command_modules/storage/commands.py
Owners: @Juliehzl

[Storage] GA Release User Delegation SAS token Support (#11408)
  src/azure-cli/HISTORY.rst
  src/azure-cli/azure/cli/command_modules/storage/_params.py
  src/azure-cli/azure/cli/command_modules/storage/commands.py
Owners: @Juliehzl

cross many and many tenants
  src/azure-cli-core/azure/cli/core/_profile.py
  src/azure-cli-core/azure/cli/core/commands/client_factory.py
  src/azure-cli/azure/cli/command_modules/resource/_params.py
  src/azure-cli/azure/cli/command_modules/resource/custom.py
Owners: @jiasli, @Juliehzl

[Storage] GA Release LFS (#11407)
  src/azure-cli/HISTORY.rst
  src/azure-cli/azure/cli/command_modules/storage/_params.py
Owners: @Juliehzl

[Storage] GA Release LFS (#11407)
  src/azure-cli/HISTORY.rst
  src/azure-cli/azure/cli/command_modules/storage/_params.py
Owners: @Juliehzl

[Compute] vm/vmss create: Update --priority help text (#11394)
  src/azure-cli/azure/cli/command_modules/vm/_params.py
Owners: @qwordy

[Compute] vm/vmss create: Update --priority help text (#11394)
  src/azure-cli/azure/cli/command_modules/vm/_params.py
Owners: @qwordy

[Compute] vmss create/update: Add --scale-in-policy (#11393)
  src/azure-cli/HISTORY.rst
  src/azure-cli/azure/cli/command_modules/vm/_params.py
  src/azure-cli/azure/cli/command_modules/vm/_template_builder.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_scale_in_policy.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Owners: @qwordy

[Compute] vmss create/update: Add --scale-in-policy (#11393)
  src/azure-cli/HISTORY.rst
  src/azure-cli/azure/cli/command_modules/vm/_params.py
  src/azure-cli/azure/cli/command_modules/vm/_template_builder.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_scale_in_policy.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Owners: @qwordy

history; yaml
  src/azure-cli/HISTORY.rst
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_disk_encryption_set.yaml
Owners: @qwordy

Fix typo bug
  azure-pipelines.yml
Owners: none

initialize CredScan job in CI
  azure-pipelines.yml
Owners: none

fix style
  src/azure-cli/azure/cli/command_modules/resource/custom.py
Owners: @Juliehzl

Escaped ' characters
  src/azure-cli/azure/cli/command_modules/vm/_params.py
Owners: @qwordy

PR comments has been resolved
  src/azure-cli/HISTORY.rst
  src/azure-cli/azure/cli/command_modules/iot/_help.py
Owners: @sptramer, @Juliehzl

Import feature flags from json format
  src/azure-cli/azure/cli/command_modules/appconfig/_params.py
  src/azure-cli/azure/cli/command_modules/appconfig/keyvalue.py
Owners: none

Warn StorageV2 for Storage Account creation only when applicable (#11388)
  src/azure-cli/azure/cli/command_modules/storage/operations/account.py
Owners: @Juliehzl

Warn StorageV2 for Storage Account creation only when applicable (#11388)
  src/azure-cli/azure/cli/command_modules/storage/operations/account.py
Owners: @Juliehzl

[IoTHub] Breaking Changes for manual-failover command (#11360)
  src/azure-cli/HISTORY.rst
  src/azure-cli/azure/cli/command_modules/iot/_help.py
  src/azure-cli/azure/cli/command_modules/iot/_params.py
  src/azure-cli/azure/cli/command_modules/iot/custom.py
  src/azure-cli/azure/cli/command_modules/iot/tests/latest/test_iot_commands.py
Owners: @sptramer, @Juliehzl

[IoTHub] Breaking Changes for manual-failover command (#11360)
  src/azure-cli/HISTORY.rst
  src/azure-cli/azure/cli/command_modules/iot/_help.py
  src/azure-cli/azure/cli/command_modules/iot/_params.py
  src/azure-cli/azure/cli/command_modules/iot/custom.py
  src/azure-cli/azure/cli/command_modules/iot/tests/latest/test_iot_commands.py
Owners: @sptramer, @Juliehzl

Add CredScanSuppressions.json for recording yaml files
  CredScanSuppressions.json
Owners: none

Add suppression for one-off passwor in VM creation
  CredScanSuppressions.json
Owners: none

Add suppression for one-off password in HDInsight
  CredScanSuppressions.json
Owners: none

Add suppression for IoT hard code access key
  CredScanSuppressions.json
Owners: none

Add suppression for one-off password in DMS
  CredScanSuppressions.json
Owners: none

Add suppression for demonstrative password in src/azure-cli/azure/cli/command_modules/servicefabric/_help.py
  src/azure-cli/azure/cli/command_modules/servicefabric/_help.py
Owners: @QingChenmsft

Add one-off password for webapp and backup
  CredScanSuppressions.json
Owners: none

Add suppression for one-password in lab and rdbms test
  CredScanSuppressions.json
Owners: none

Typo
  CredScanSuppressions.json
Owners: none

Add suppression for src\azure-cli\azure\cli\command_modules\storage\tests\hybrid_2019_03_01\test_storage_url_helpers.py
  CredScanSuppressions.json
Owners: none

Fix issue #10965 - Allow empty Name - Allow multiple entries of same IP or Subnet
  src/azure-cli/HISTORY.rst
  src/azure-cli/azure/cli/command_modules/appservice/_help.py
  src/azure-cli/azure/cli/command_modules/appservice/_params.py
  src/azure-cli/azure/cli/command_modules/appservice/access_restrictions.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_access_restriction_add.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_access_restriction_add_scm.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_access_restriction_add_service_endpoint.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_access_restriction_remove.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_access_restriction_remove_scm.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_access_restriction_set_complex.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_access_restriction_set_simple.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_access_restriction_show.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_access_restriction_slot.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_access_restriction_add.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_access_restriction_add_scm.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_access_restriction_add_service_endpoint.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_access_restriction_remove.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_access_restriction_remove_scm.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_access_restriction_set_complex.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_access_restriction_set_simple.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_access_restriction_show.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_access_restriction_slot.yaml
Owners: @qwordy

Move History entry to next version
  src/azure-cli/HISTORY.rst
Owners: none
