Repository Azure/azure-cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sptramer, @troydai, @djyou, @rjtsdl, @Prasanna-Padmanabhan, @yugangw-msft, @dragonfly91, @annatisch, @AlexanderYukhanov, @tjprescott, @dmakwana, @yolo3301, @sandeepnl, @kalyanaj, @williexu, @bulentelmaci, @QingChenmsft, @jaredmoo, @v-ajnava

identity: support removing system assigned identity (#6670)
  src/command_modules/azure-cli-vm/HISTORY.rst
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_help.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_params.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_validators.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/custom.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_explicit_msi.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_msi.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_msi.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Owners: @yugangw-msft

identity: support removing system assigned identity (#6670)
  src/command_modules/azure-cli-vm/HISTORY.rst
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_help.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_params.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_validators.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/custom.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_explicit_msi.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_msi.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_msi.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Owners: @yugangw-msft

Adding support to disable identity feature and removing preview tags (#6666)
  src/command_modules/azure-cli-appservice/HISTORY.rst
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/_help.py
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/_params.py
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/commands.py
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/custom.py
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_assign_system_identity.yaml
Owners: @yugangw-msft

Adding support to disable identity feature and removing preview tags (#6666)
  src/command_modules/azure-cli-appservice/HISTORY.rst
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/_help.py
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/_params.py
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/commands.py
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/custom.py
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_assign_system_identity.yaml
Owners: @yugangw-msft

CLI deprecation mechanisms.
  azure-cli2017.pyproj
  src/azure-cli-core/azure/cli/core/__init__.py
  src/azure-cli-core/azure/cli/core/_help.py
  src/azure-cli-core/azure/cli/core/adal_authentication.py
  src/azure-cli-core/azure/cli/core/commands/__init__.py
  src/azure-cli-core/azure/cli/core/commands/constants.py
  src/azure-cli-core/azure/cli/core/commands/parameters.py
  src/azure-cli-core/azure/cli/core/file_util.py
  src/azure-cli-core/azure/cli/core/parser.py
  src/azure-cli-core/azure/cli/core/tests/test_help.py
  src/command_modules/azure-cli-redis/azure/cli/command_modules/redis/_help.py
  src/command_modules/azure-cli-redis/azure/cli/command_modules/redis/_params.py
  src/command_modules/azure-cli-redis/azure/cli/command_modules/redis/commands.py
  src/command_modules/azure-cli-redis/azure/cli/command_modules/redis/custom.py
  tools/automation/cli_linter/__init__.py
  tools/automation/cli_linter/linter.py
  tools/automation/cli_linter/rules/command_group_rules.py
  tools/automation/cli_linter/rules/command_rules.py
  tools/automation/cli_linter/rules/parameter_rules.py
  tools/automation/cli_linter/util.py
Owners: @sptramer, @troydai

Add encoding to help files. Partial fix #5954.
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/_help.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/_help.py
  src/command_modules/azure-cli-advisor/azure/cli/command_modules/advisor/_help.py
  src/command_modules/azure-cli-ams/azure/cli/command_modules/ams/_help.py
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/_help.py
  src/command_modules/azure-cli-backup/azure/cli/command_modules/backup/_help.py
  src/command_modules/azure-cli-batch/azure/cli/command_modules/batch/_help.py
  src/command_modules/azure-cli-batchai/azure/cli/command_modules/batchai/_help.py
  src/command_modules/azure-cli-billing/azure/cli/command_modules/billing/_help.py
  src/command_modules/azure-cli-cdn/azure/cli/command_modules/cdn/_help.py
  src/command_modules/azure-cli-cloud/azure/cli/command_modules/cloud/_help.py
  src/command_modules/azure-cli-cognitiveservices/azure/cli/command_modules/cognitiveservices/_help.py
  src/command_modules/azure-cli-configure/azure/cli/command_modules/configure/_help.py
  src/command_modules/azure-cli-consumption/azure/cli/command_modules/consumption/_help.py
  src/command_modules/azure-cli-container/azure/cli/command_modules/container/_help.py
  src/command_modules/azure-cli-cosmosdb/azure/cli/command_modules/cosmosdb/_help.py
  src/command_modules/azure-cli-dla/azure/cli/command_modules/dla/_help.py
  src/command_modules/azure-cli-dls/azure/cli/command_modules/dls/_help.py
  src/command_modules/azure-cli-dms/azure/cli/command_modules/dms/_help.py
  src/command_modules/azure-cli-eventgrid/azure/cli/command_modules/eventgrid/_help.py
  src/command_modules/azure-cli-eventhubs/azure/cli/command_modules/eventhubs/_help.py
  src/command_modules/azure-cli-extension/azure/cli/command_modules/extension/_help.py
  src/command_modules/azure-cli-feedback/azure/cli/command_modules/feedback/_help.py
  src/command_modules/azure-cli-find/azure/cli/command_modules/find/_help.py
  src/command_modules/azure-cli-iot/azure/cli/command_modules/iot/_help.py
  src/command_modules/azure-cli-keyvault/azure/cli/command_modules/keyvault/_help.py
  src/command_modules/azure-cli-lab/azure/cli/command_modules/lab/_help.py
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/_help.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_help.py
  src/command_modules/azure-cli-profile/azure/cli/command_modules/profile/_help.py
  src/command_modules/azure-cli-rdbms/azure/cli/command_modules/rdbms/_help.py
  src/command_modules/azure-cli-redis/azure/cli/command_modules/redis/_help.py
  src/command_modules/azure-cli-reservations/azure/cli/command_modules/reservations/_help.py
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/_help.py
  src/command_modules/azure-cli-role/azure/cli/command_modules/role/_help.py
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/_help.py
  src/command_modules/azure-cli-servicefabric/azure/cli/command_modules/servicefabric/_help.py
  src/command_modules/azure-cli-sql/azure/cli/command_modules/sql/_help.py
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/_help.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_help.py
Owners: @djyou, @rjtsdl, @Prasanna-Padmanabhan, @sptramer, @yugangw-msft, @dragonfly91, @annatisch, @AlexanderYukhanov, @tjprescott, @sandeepnl, @yolo3301, @dmakwana, @kalyanaj, @v-ajnava, @williexu, @troydai, @QingChenmsft, @jaredmoo

Progress.
  src/azure-cli-core/azure/cli/core/commands/__init__.py
  src/azure-cli-core/azure/cli/core/parser.py
  src/azure-cli-core/setup.py
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/_help.py
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/commands.py
  src/command_modules/azure-cli-redis/azure/cli/command_modules/redis/_help.py
  src/command_modules/azure-cli-redis/azure/cli/command_modules/redis/_params.py
  src/command_modules/azure-cli-redis/azure/cli/command_modules/redis/commands.py
  src/command_modules/azure-cli-redis/azure/cli/command_modules/redis/custom.py
Owners: @troydai, @sptramer

Workaround for strange help issue.
  src/azure-cli-core/azure/cli/core/_help.py
Owners: @sptramer

Update help generation script.
  doc/sphinx/__main__.py
  doc/sphinx/azhelpgen/azhelpgen.py
  doc/sphinx/cligroup/cligroup.py
  doc/sphinx/sphinx.pyproj
Owners: none

Interactive work
  src/command_modules/azure-cli-find/azure/cli/command_modules/find/_gather_commands.py
  src/command_modules/azure-cli-interactive/azure/cli/command_modules/interactive/azclishell/_dump_commands.py
  src/command_modules/azure-cli-interactive/azure/cli/command_modules/interactive/azclishell/az_completer.py
Owners: none

CI fixes.
  azure-cli2017.pyproj
  doc/sphinx/azhelpgen/azhelpgen.py
  src/azure-cli-core/azure/cli/core/__init__.py
  src/azure-cli-core/azure/cli/core/_help.py
  src/azure-cli-core/azure/cli/core/commands/__init__.py
  src/azure-cli-core/azure/cli/core/tests/test_command_registration.py
  src/azure-cli-core/azure/cli/core/tests/test_parser.py
  src/azure-cli-core/setup.py
  src/azure-cli-testsdk/azure/cli/testsdk/__init__.py
  src/command_modules/azure-cli-appservice/linter_exclusions.yml
  src/command_modules/azure-cli-monitor/linter_exclusions.yml
  src/command_modules/azure-cli-network/linter_exclusions.yml
  src/command_modules/azure-cli-vm/linter_exclusions.yml
  tools/automation/cli_linter/linter.py
  tools/automation/cli_linter/rules/ci_exclusions.yml
Owners: @sptramer, @troydai, @yugangw-msft, @tjprescott

Fixes for `az interactive`.
  src/azure-cli-core/azure/cli/core/tests/test_help.py
  src/command_modules/azure-cli-interactive/azure/cli/command_modules/interactive/azclishell/_dump_commands.py
  src/command_modules/azure-cli-interactive/azure/cli/command_modules/interactive/azclishell/az_completer.py
Owners: @sptramer

Bump versions.
  src/azure-cli-core/azure/cli/core/__init__.py
  src/azure-cli-core/azure/cli/core/_help.py
  src/azure-cli-core/azure/cli/core/commands/__init__.py
  src/command_modules/azure-cli-appservice/HISTORY.rst
  src/command_modules/azure-cli-batch/HISTORY.rst
  src/command_modules/azure-cli-batch/setup.py
  src/command_modules/azure-cli-configure/HISTORY.rst
  src/command_modules/azure-cli-dls/HISTORY.rst
  src/command_modules/azure-cli-dls/setup.py
  src/command_modules/azure-cli-feedback/HISTORY.rst
  src/command_modules/azure-cli-redis/HISTORY.rst
  src/command_modules/azure-cli-reservations/HISTORY.rst
  src/command_modules/azure-cli-role/HISTORY.rst
  src/command_modules/azure-cli-role/setup.py
  src/command_modules/azure-cli-storage/HISTORY.rst
  src/command_modules/azure-cli-storage/setup.py
  tools/automation/cli_linter/__init__.py
  tools/automation/cli_linter/linter.py
  tools/automation/cli_linter/util.py
Owners: @sptramer, @yugangw-msft, @annatisch, @troydai

Rebase conflict.
  src/azure-cli-core/azure/cli/core/tests/test_parser.py
Owners: none

Code review feedback. Fix command group deletion.
  tools/automation/cli_linter/util.py
Owners: @troydai

Code review feedback.
  doc/sphinx/azhelpgen/azhelpgen.py
  src/azure-cli-core/azure/cli/core/commands/__init__.py
  src/command_modules/azure-cli-redis/azure/cli/command_modules/redis/_help.py
  src/command_modules/azure-cli-redis/azure/cli/command_modules/redis/commands.py
  tools/automation/cli_linter/linter.py
  tools/automation/cli_linter/tests/test_linter.py
  tools/automation/cli_linter/util.py
Owners: @sptramer, @troydai

Code review feedback.
  src/azure-cli-core/azure/cli/core/commands/__init__.py
  src/azure-cli-core/azure/cli/core/tests/test_parser.py
  tools/automation/cli_linter/util.py
Owners: @troydai

[AKS] error if monitoring addon is already enabled
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/custom.py
Owners: @rjtsdl

[AKS] look up RG from the workspace subscription when enabling monitoring support
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/_client_factory.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/custom.py
Owners: @rjtsdl

Publish ContainerInsights solution under appropriate subscription ID
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/custom.py
Owners: @rjtsdl

Fix typo
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/custom.py
Owners: @rjtsdl

Fix subscription_level_deployment test. (#6669)
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/tests/latest/recordings/test_subscription_level_deployment.yaml
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/tests/latest/subscription_level_parameters.json
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/tests/latest/subscription_level_template.json
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/tests/latest/test_resource.py
Owners: none

Fix subscription_level_deployment test. (#6669)
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/tests/latest/recordings/test_subscription_level_deployment.yaml
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/tests/latest/subscription_level_parameters.json
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/tests/latest/subscription_level_template.json
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/tests/latest/test_resource.py
Owners: none

[skip ci] PR engagement rules
  doc/pull_request_engagement_rule.md
Owners: none

Add record only flag
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/tests/latest/test_acr_commands.py
Owners: @djyou

Add `--no-wait` and `wait` support to various commands.
  src/command_modules/azure-cli-network/HISTORY.rst
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_format.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_help.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/commands.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/custom.py
  src/command_modules/azure-cli-resource/HISTORY.rst
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/commands.py
  src/command_modules/azure-cli-vm/HISTORY.rst
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_help.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/commands.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/custom.py
Owners: @tjprescott, @yugangw-msft

Fix linter errors
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/_client_factory.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/custom.py
Owners: @rjtsdl

BatchAI. Fix job exec command and live unit tests
  src/command_modules/azure-cli-batchai/HISTORY.rst
  src/command_modules/azure-cli-batchai/azure/cli/command_modules/batchai/custom.py
  src/command_modules/azure-cli-batchai/azure/cli/command_modules/batchai/tests/latest/test_batchai_live.py
  src/command_modules/azure-cli-batchai/setup.py
Owners: @AlexanderYukhanov

BatchAI. Fix job exec command and live unit tests (#6685)
  src/command_modules/azure-cli-batchai/HISTORY.rst
  src/command_modules/azure-cli-batchai/azure/cli/command_modules/batchai/custom.py
  src/command_modules/azure-cli-batchai/azure/cli/command_modules/batchai/tests/latest/test_batchai_live.py
  src/command_modules/azure-cli-batchai/setup.py
Owners: @AlexanderYukhanov

BatchAI. Fix job exec command and live unit tests (#6685)
  src/command_modules/azure-cli-batchai/HISTORY.rst
  src/command_modules/azure-cli-batchai/azure/cli/command_modules/batchai/custom.py
  src/command_modules/azure-cli-batchai/azure/cli/command_modules/batchai/tests/latest/test_batchai_live.py
  src/command_modules/azure-cli-batchai/setup.py
Owners: @AlexanderYukhanov

[ACR] Add record only flag (#6683)
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/tests/latest/test_acr_commands.py
Owners: @djyou

[ACR] Add record only flag (#6683)
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/tests/latest/test_acr_commands.py
Owners: @djyou

Added some unit tests for monitoring addon
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/tests/latest/test_custom.py
Owners: @rjtsdl

login: support browser based login in WSL bash window
  src/azure-cli-core/HISTORY.rst
  src/azure-cli-core/azure/cli/core/_profile.py
  src/azure-cli-core/azure/cli/core/util.py
Owners: none

fix lint error
  src/azure-cli-core/azure/cli/core/util.py
Owners: none

add check
  src/azure-cli-core/azure/cli/core/util.py
Owners: none

CI fixes.
  .travis.yml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_format.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/custom.py
Owners: @tjprescott, @yugangw-msft

Remove is_live since it is LiveTest
  src/command_modules/azure-cli-batch/azure/cli/command_modules/batch/tests/latest/test_batch_mgmt_commands.py
Owners: @annatisch

add a bit more protection
  src/azure-cli-core/azure/cli/core/util.py
Owners: none

updating test recordings
  src/command_modules/azure-cli-keyvault/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_storage_account.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/zone_files/zone1.txt_export.txt
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/zone_files/zone2.txt_export.txt
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/zone_files/zone3.txt_export.txt
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/zone_files/zone4.txt_export.txt
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/zone_files/zone5.txt_export.txt
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/zone_files/zone6.txt_export.txt
Owners: @tjprescott

.github/CODEOWNERS:

# See for instructions on this file https://help.github.com/articles/about-codeowners/

*help.py @sptramer

/tools/ @troydai
/scripts/ @troydai
/src/azure-cli-testsdk/ @troydai
/src/command_modules/azure-cli-acr/ @djyou
/src/command_modules/azure-cli-acs/ @rjtsdl
/src/command_modules/azure-cli-advisor/ @Prasanna-Padmanabhan
/src/command_modules/azure-cli-appservice/ @yugangw-msft
/src/command_modules/azure-cli-backup/ @dragonfly91
/src/command_modules/azure-cli-batch/ @annatisch 
/src/command_modules/azure-cli-batchai/ @AlexanderYukhanov
/src/command_modules/azure-cli-cdn/ @tjprescott
/src/command_modules/azure-cli-cosmosdb/ @dmakwana
/src/command_modules/azure-cli-cloud/ @yugangw-msft
/src/command_modules/azure-cli-container/ @yolo3301
/src/command_modules/azure-cli-consumption/ @sandeepnl
/src/command_modules/azure-cli-eventgrid/ @kalyanaj
/src/command_modules/azure-cli-extension/ @williexu
/src/command_modules/azure-cli-keyvault/ @tjprescott
/src/command_modules/azure-cli-monitor/ @troydai
/src/command_modules/azure-cli-network/ @tjprescott
/src/command_modules/azure-cli-policyinsights/ @bulentelmaci
/src/command_modules/azure-cli-profile/ @yugangw-msft
/src/command_modules/azure-cli-storage/ @troydai
/src/command_modules/azure-cli-servicefabric/ @QingChenmsft
/src/command_modules/azure-cli-sql/ @jaredmoo
/src/command_modules/azure-cli-vm/ @yugangw-msft
/src/command_modules/azure-cli-eventhubs/ @v-ajnava
/src/command_modules/azure-cli-servicebus/ @v-ajnava
