Repository Azure/azure-cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sptramer, @troydai, @djyou, @rjtsdl, @Prasanna-Padmanabhan, @yugangw-msft, @dragonfly91, @annatisch, @AlexanderYukhanov, @tjprescott, @dmakwana, @yolo3301, @sandeepnl, @kalyanaj, @williexu, @bulentelmaci, @QingChenmsft, @jaredmoo, @v-ajnava

.github/CODEOWNERS:

# See for instructions on this file https://help.github.com/articles/about-codeowners/

*help.py @sptramer

/tools/ @troydai
/scripts/ @troydai
/src/azure-cli-testsdk/ @troydai
/src/command_modules/azure-cli-acr/ @djyou
/src/command_modules/azure-cli-acs/ @rjtsdl
/src/command_modules/azure-cli-advisor/ @Prasanna-Padmanabhan
/src/command_modules/azure-cli-appservice/ @yugangw-msft
/src/command_modules/azure-cli-backup/ @dragonfly91
/src/command_modules/azure-cli-batch/ @annatisch 
/src/command_modules/azure-cli-batchai/ @AlexanderYukhanov
/src/command_modules/azure-cli-cdn/ @tjprescott
/src/command_modules/azure-cli-cosmosdb/ @dmakwana
/src/command_modules/azure-cli-cloud/ @yugangw-msft
/src/command_modules/azure-cli-container/ @yolo3301
/src/command_modules/azure-cli-consumption/ @sandeepnl
/src/command_modules/azure-cli-eventgrid/ @kalyanaj
/src/command_modules/azure-cli-extension/ @williexu
/src/command_modules/azure-cli-keyvault/ @tjprescott
/src/command_modules/azure-cli-monitor/ @troydai
/src/command_modules/azure-cli-network/ @tjprescott
/src/command_modules/azure-cli-policyinsights/ @bulentelmaci
/src/command_modules/azure-cli-profile/ @yugangw-msft
/src/command_modules/azure-cli-storage/ @troydai
/src/command_modules/azure-cli-servicefabric/ @QingChenmsft
/src/command_modules/azure-cli-sql/ @jaredmoo
/src/command_modules/azure-cli-vm/ @yugangw-msft
/src/command_modules/azure-cli-eventhubs/ @v-ajnava
/src/command_modules/azure-cli-servicebus/ @v-ajnava

fixes
  src/azure-cli-core/azure/cli/core/commands/__init__.py
Owners: none

addressed comments
  src/azure-cli-core/azure/cli/core/commands/__init__.py
  src/azure-cli-core/azure/cli/core/commands/arm.py
  src/azure-cli-core/azure/cli/core/util.py
  src/command_modules/azure-cli-rdbms/azure/cli/command_modules/rdbms/commands.py
Owners: none

updated generic show/wait to custom_command/command pattern
  src/azure-cli-core/azure/cli/core/commands/__init__.py
  src/azure-cli-core/azure/cli/core/commands/arm.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/commands.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/commands.py
  src/command_modules/azure-cli-advisor/azure/cli/command_modules/advisor/commands.py
  src/command_modules/azure-cli-ams/azure/cli/command_modules/ams/commands.py
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/commands.py
  src/command_modules/azure-cli-backup/azure/cli/command_modules/backup/commands.py
  src/command_modules/azure-cli-batch/azure/cli/command_modules/batch/commands.py
  src/command_modules/azure-cli-batchai/azure/cli/command_modules/batchai/commands.py
  src/command_modules/azure-cli-billing/azure/cli/command_modules/billing/commands.py
  src/command_modules/azure-cli-cdn/azure/cli/command_modules/cdn/commands.py
  src/command_modules/azure-cli-cloud/azure/cli/command_modules/cloud/__init__.py
  src/command_modules/azure-cli-cognitiveservices/azure/cli/command_modules/cognitiveservices/commands.py
  src/command_modules/azure-cli-consumption/azure/cli/command_modules/consumption/commands.py
  src/command_modules/azure-cli-container/azure/cli/command_modules/container/commands.py
  src/command_modules/azure-cli-cosmosdb/azure/cli/command_modules/cosmosdb/commands.py
  src/command_modules/azure-cli-dla/azure/cli/command_modules/dla/commands.py
  src/command_modules/azure-cli-dls/azure/cli/command_modules/dls/commands.py
  src/command_modules/azure-cli-dms/azure/cli/command_modules/dms/commands.py
  src/command_modules/azure-cli-eventgrid/azure/cli/command_modules/eventgrid/commands.py
  src/command_modules/azure-cli-eventhubs/azure/cli/command_modules/eventhubs/commands.py
  src/command_modules/azure-cli-extension/azure/cli/command_modules/extension/__init__.py
  src/command_modules/azure-cli-iot/azure/cli/command_modules/iot/commands.py
  src/command_modules/azure-cli-keyvault/azure/cli/command_modules/keyvault/commands.py
  src/command_modules/azure-cli-lab/azure/cli/command_modules/lab/commands.py
  src/command_modules/azure-cli-maps/azure/cli/command_modules/maps/commands.py
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/commands.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/commands.py
  src/command_modules/azure-cli-profile/azure/cli/command_modules/profile/__init__.py
  src/command_modules/azure-cli-rdbms/azure/cli/command_modules/rdbms/commands.py
  src/command_modules/azure-cli-redis/azure/cli/command_modules/redis/commands.py
  src/command_modules/azure-cli-reservations/azure/cli/command_modules/reservations/commands.py
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/commands.py
  src/command_modules/azure-cli-role/azure/cli/command_modules/role/commands.py
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/commands.py
  src/command_modules/azure-cli-servicefabric/azure/cli/command_modules/servicefabric/commands.py
  src/command_modules/azure-cli-sql/azure/cli/command_modules/sql/commands.py
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/commands.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/commands.py
Owners: @djyou, @rjtsdl, @Prasanna-Padmanabhan, @yugangw-msft, @dragonfly91, @annatisch, @AlexanderYukhanov, @tjprescott, @sandeepnl, @yolo3301, @dmakwana, @kalyanaj, @v-ajnava, @williexu, @troydai, @QingChenmsft, @jaredmoo

Disable line too long
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/custom.py
Owners: none

Add extra whitespace before comment
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/custom.py
Owners: none

removed getter_type arg from wait/show
  src/azure-cli-core/azure/cli/core/commands/__init__.py
Owners: none

added documentation for new command registration methods
  doc/authoring_command_modules/authoring_commands.md
Owners: none

Add query build by image
  src/command_modules/azure-cli-acr/HISTORY.rst
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/_help.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/_params.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/build_task.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/repository.py
Owners: @djyou

Move line too long
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/custom.py
Owners: none

break line further
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/custom.py
Owners: none

Move lines too long
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/custom.py
Owners: none

added check for properly loading extensions to CI
  src/azure-cli-core/azure/cli/core/__init__.py
  tools/automation/verify/verify_load_all.py
Owners: @troydai

Add OnErrorDeployment properties
  src/command_modules/azure-cli-resource/HISTORY.rst
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/_params.py
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/_validators.py
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/commands.py
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/custom.py
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/tests/latest/recordings/test_group_on_error_deployment_lastsuccessful.yaml
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/tests/latest/recordings/test_group_on_error_deployment_specificdeployment.yaml
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/tests/latest/recordings/test_group_on_error_deployment_specificdeployment_implicit.yaml
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/tests/latest/test_resource.py
  src/command_modules/azure-cli-resource/setup.py
Owners: none

static check
  src/azure-cli-core/azure/cli/core/__init__.py
Owners: none

addressed more comments
  src/azure-cli-core/azure/cli/core/commands/__init__.py
  src/azure-cli-core/azure/cli/core/commands/arm.py
  src/azure-cli-core/azure/cli/core/util.py
Owners: none

Fix #1290.
  src/command_modules/azure-cli-network/HISTORY.rst
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_params.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/commands.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/custom.py
Owners: @tjprescott

load-all
  scripts/ci/test_extensions.sh
  tools/automation/verify/verify_load_all.py
Owners: @troydai

Added check for properly loading extensions `azdev verify load_all` (#6765)
  scripts/ci/test_extensions.sh
  src/azure-cli-core/azure/cli/core/__init__.py
  tools/automation/verify/verify_load_all.py
Owners: @troydai

Added check for properly loading extensions `azdev verify load_all` (#6765)
  scripts/ci/test_extensions.sh
  src/azure-cli-core/azure/cli/core/__init__.py
  tools/automation/verify/verify_load_all.py
Owners: @troydai

Fix #1290.
  src/command_modules/azure-cli-network/HISTORY.rst
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_params.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/commands.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/custom.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_nsg.yaml
Owners: @tjprescott

Fix bad merge.
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/commands.py
Owners: @tjprescott

[Network] Add ability to include default rules in `nsg rule list` (#6771)
  src/command_modules/azure-cli-network/HISTORY.rst
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_params.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/commands.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/custom.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_nsg.yaml
Owners: @tjprescott

[Network] Add ability to include default rules in `nsg rule list` (#6771)
  src/command_modules/azure-cli-network/HISTORY.rst
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_params.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/commands.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/custom.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_nsg.yaml
Owners: @tjprescott

added page_range property to 'blob show'
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/commands.py
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/operations/blob.py
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_blob_upload_midsize_file.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_blob_upload_small_file.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/test_storage_blob_live_scenarios.py
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/test_storage_blob_scenarios.py
Owners: @troydai

add help for blob show
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/commands.py
Owners: @troydai

history
  src/command_modules/azure-cli-storage/HISTORY.rst
Owners: @troydai

static check
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/test_storage_blob_live_scenarios.py
Owners: @troydai

default workspace logic for aks monitoring
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/_client_factory.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/custom.py
Owners: @rjtsdl

Added page_range property to 'blob show' for page blobs (#6776)
  src/command_modules/azure-cli-storage/HISTORY.rst
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/commands.py
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/operations/blob.py
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_blob_upload_midsize_file.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_blob_upload_small_file.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/test_storage_blob_live_scenarios.py
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/test_storage_blob_scenarios.py
Owners: @troydai

Added page_range property to 'blob show' for page blobs (#6776)
  src/command_modules/azure-cli-storage/HISTORY.rst
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/commands.py
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/operations/blob.py
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_blob_upload_midsize_file.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_blob_upload_small_file.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/test_storage_blob_live_scenarios.py
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/test_storage_blob_scenarios.py
Owners: @troydai

Add query build by image (#6764)
  src/command_modules/azure-cli-acr/HISTORY.rst
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/_help.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/_params.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/build_task.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/repository.py
Owners: @djyou

Add query build by image (#6764)
  src/command_modules/azure-cli-acr/HISTORY.rst
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/_help.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/_params.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/build_task.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/repository.py
Owners: @djyou

Use only rollback-on-error instead of two properties
  src/command_modules/azure-cli-resource/HISTORY.rst
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/_params.py
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/_validators.py
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/commands.py
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/custom.py
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/tests/latest/recordings/test_group_on_error_deployment_lastsuccessful.yaml
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/tests/latest/recordings/test_group_on_error_deployment_specificdeployment.yaml
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/tests/latest/recordings/test_group_on_error_deployment_specificdeployment_implicit.yaml
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/tests/latest/test_resource.py
Owners: none

Move import to top
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/_validators.py
Owners: none

Fix pylint complains
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/_params.py
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/_validators.py
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/custom.py
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/tests/latest/recordings/test_group_on_error_deployment_lastsuccessful.yaml
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/tests/latest/recordings/test_group_on_error_deployment_specificdeployment.yaml
Owners: none

fix ws sku and api version
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/custom.py
Owners: @rjtsdl

Addressing review items
  src/command_modules/azure-cli-relay/azure/cli/command_modules/relay/__init__.py
  src/command_modules/azure-cli-relay/azure/cli/command_modules/relay/_params.py
Owners: none

Add OnErrorDeployment properties in ARM resource group level deployment (#6766)
  src/command_modules/azure-cli-resource/HISTORY.rst
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/_params.py
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/_validators.py
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/custom.py
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/tests/latest/recordings/test_group_on_error_deployment_lastsuccessful.yaml
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/tests/latest/recordings/test_group_on_error_deployment_specificdeployment.yaml
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/tests/latest/test_resource.py
  src/command_modules/azure-cli-resource/setup.py
Owners: none

Add OnErrorDeployment properties in ARM resource group level deployment (#6766)
  src/command_modules/azure-cli-resource/HISTORY.rst
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/_params.py
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/_validators.py
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/custom.py
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/tests/latest/recordings/test_group_on_error_deployment_lastsuccessful.yaml
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/tests/latest/recordings/test_group_on_error_deployment_specificdeployment.yaml
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/tests/latest/test_resource.py
  src/command_modules/azure-cli-resource/setup.py
Owners: none

Changed --support-ordering to --enable-ordering.
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/_help.py
Owners: @v-ajnava
