Repository Azure/azure-cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @haroldrandom, @Juliehzl, @MyronFanQiu, @fengzhou-msft, @bim-msft, @jiasli, @qianwens, @arrownj, @djyou, @rjtsdl, @Prasanna-Padmanabhan, @shenmuxiaosen, @avanigupta, @qwordy, @dragonfly91, @bgklein, @AlexanderYukhanov, @dmakwana, @samkreter, @sandeepnl, @lewu-msft, @jsntcy, @khannarheams, @cheggert, @zhoxing-ms, @QingChenmsft, @jaredmoo, @v-ajnava, @kevinhillinger, @jonlester, @digimaun, @mjudeikis, @jim-minter

code ready
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Owners: @MyronFanQiu, @haroldrandom

finish test
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_url_path_map_edge_case.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Owners: @MyronFanQiu, @haroldrandom

Add --exclude-change-types parameter
  src/azure-cli/azure/cli/command_modules/resource/_help.py
  src/azure-cli/azure/cli/command_modules/resource/_params.py
  src/azure-cli/azure/cli/command_modules/resource/custom.py
Owners: @Juliehzl, @zhoxing-ms, @qianwens

Better error message for deployment * validate
  src/azure-cli/azure/cli/command_modules/resource/custom.py
Owners: @Juliehzl, @zhoxing-ms, @qianwens

Fail fast when exclude_change_types is invalid
  src/azure-cli/azure/cli/command_modules/resource/custom.py
Owners: @Juliehzl, @zhoxing-ms, @qianwens

Fix a typo
  src/azure-cli/azure/cli/command_modules/resource/custom.py
Owners: @Juliehzl, @zhoxing-ms, @qianwens

Replace hard-coded change types
  src/azure-cli/azure/cli/command_modules/resource/custom.py
Owners: @Juliehzl, @zhoxing-ms, @qianwens

Revert "change default vm sku to Standard_D2s_v3 (#13541)"
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_availability_zones.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_blb_vmas.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_cluster_with_apiserver_authorized_ranges_then_update.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_default_service.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_default_service_with_monitoring_addon.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_default_service_with_skip_role_assignment.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_default_service_without_SP_and_with_role_assignment.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_default_service_without_skip_role_assignment.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_default_setting.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_private_cluster_then_update.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_scale_with_custom_nodepool_name.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_service_no_wait.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_slb_vmss_with_default_mgd_outbound_ip_then_update.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_slb_vmss_with_outbound_ip_prefixes_then_update.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_slb_vmss_with_outbound_ip_then_update.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_with_paid_sku.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_with_windows.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_managed_identity_with_service_principal.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_managed_identity_without_service_principal.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_nodepool_create_scale_delete.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_nodepool_system_pool.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
Owners: @rjtsdl, @arrownj

fix
  src/azure-cli/azure/cli/command_modules/network/custom.py
Owners: @MyronFanQiu, @haroldrandom

make --identity required
  src/azure-cli/azure/cli/command_modules/vm/_image_builder.py
Owners: @qwordy, @arrownj

{Network} az network application-gateway url-path-map rule: fix edge case (#13743)
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_url_path_map_edge_case.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Owners: @MyronFanQiu, @haroldrandom

{Network} az network application-gateway url-path-map rule: fix edge case (#13743)
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_url_path_map_edge_case.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Owners: @MyronFanQiu, @haroldrandom

format code style
  src/azure-cli-core/azure/cli/core/parser.py
Owners: @jiasli, @Juliehzl, @haroldrandom, @fengzhou-msft, @qianwens, @arrownj

update
  doc/how_to_request_a_feature_in_cli.md
Owners: none

{RBAC} Fix bug in `az role assignment list --all --assignee "***" --include-groups`: list should include the group if --include-groups specified.
  src/azure-cli/azure/cli/command_modules/role/custom.py
  src/azure-cli/azure/cli/command_modules/role/tests/latest/test_role.py
Owners: @jiasli

[Core] Print error type description
  src/azure-cli-core/azure/cli/core/util.py
Owners: @jiasli, @Juliehzl, @haroldrandom, @fengzhou-msft, @qianwens, @arrownj

Update doc/how_to_request_a_feature_in_cli.md
  doc/how_to_request_a_feature_in_cli.md
Owners: none

{RBAC} add filter in scope query
  src/azure-cli/azure/cli/command_modules/role/custom.py
Owners: @jiasli

{KeyVault} Implemented importing key from string (#13685)
  src/azure-cli/azure/cli/command_modules/keyvault/_params.py
  src/azure-cli/azure/cli/command_modules/keyvault/_validators.py
  src/azure-cli/azure/cli/command_modules/keyvault/custom.py
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_key.yaml
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/test_keyvault_commands.py
Owners: @bim-msft, @fengzhou-msft

add git bash doc
  doc/use_cli_with_git_bash.md
Owners: none

update doc
  doc/use_cli_with_git_bash.md
Owners: none

[AppService] Fix #13261 az webapp list-runtimes use static list until new Available Stacks API is available (#13688)
  src/azure-cli/azure/cli/command_modules/appservice/_constants.py
  src/azure-cli/azure/cli/command_modules/appservice/_help.py
  src/azure-cli/azure/cli/command_modules/appservice/_params.py
  src/azure-cli/azure/cli/command_modules/appservice/commands.py
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
Owners: @qwordy, @Juliehzl

[AppService] Fix #13261 az webapp list-runtimes use static list until new Available Stacks API is available (#13688)
  src/azure-cli/azure/cli/command_modules/appservice/_constants.py
  src/azure-cli/azure/cli/command_modules/appservice/_help.py
  src/azure-cli/azure/cli/command_modules/appservice/_params.py
  src/azure-cli/azure/cli/command_modules/appservice/commands.py
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
Owners: @qwordy, @Juliehzl

Implementation without polling
  src/azure-cli/azure/cli/command_modules/appservice/_help.py
  src/azure-cli/azure/cli/command_modules/appservice/_params.py
  src/azure-cli/azure/cli/command_modules/appservice/commands.py
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
Owners: @qwordy, @Juliehzl

{Network} `az network application-gateway address-pool update`: refine help message and add examples (#12934)
  src/azure-cli/azure/cli/command_modules/network/_help.py
Owners: @MyronFanQiu, @haroldrandom

support --yes for az aks upgrade (#13741)
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/commands.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
Owners: @rjtsdl, @arrownj

support --yes for az aks upgrade (#13741)
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/commands.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
Owners: @rjtsdl, @arrownj

Revert "change default vm sku to Standard_D2s_v3 (#13541)" (#13757)
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_availability_zones.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_blb_vmas.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_cluster_with_apiserver_authorized_ranges_then_update.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_default_service.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_default_service_with_monitoring_addon.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_default_service_with_skip_role_assignment.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_default_service_without_SP_and_with_role_assignment.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_default_service_without_skip_role_assignment.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_default_setting.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_private_cluster_then_update.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_scale_with_custom_nodepool_name.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_service_no_wait.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_slb_vmss_with_default_mgd_outbound_ip_then_update.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_slb_vmss_with_outbound_ip_prefixes_then_update.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_slb_vmss_with_outbound_ip_then_update.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_with_paid_sku.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_with_windows.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_managed_identity_with_service_principal.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_managed_identity_without_service_principal.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_nodepool_create_scale_delete.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_nodepool_system_pool.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
Owners: @rjtsdl, @arrownj

Revert "change default vm sku to Standard_D2s_v3 (#13541)" (#13757)
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_availability_zones.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_blb_vmas.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_cluster_with_apiserver_authorized_ranges_then_update.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_default_service.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_default_service_with_monitoring_addon.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_default_service_with_skip_role_assignment.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_default_service_without_SP_and_with_role_assignment.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_default_service_without_skip_role_assignment.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_default_setting.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_private_cluster_then_update.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_scale_with_custom_nodepool_name.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_service_no_wait.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_slb_vmss_with_default_mgd_outbound_ip_then_update.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_slb_vmss_with_outbound_ip_prefixes_then_update.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_slb_vmss_with_outbound_ip_then_update.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_with_paid_sku.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_with_windows.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_managed_identity_with_service_principal.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_managed_identity_without_service_principal.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_nodepool_create_scale_delete.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_nodepool_system_pool.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
Owners: @rjtsdl, @arrownj

{Network} `az network application-gateway address-pool update`: refine help message and add examples (#12934) (#13780)
  src/azure-cli/azure/cli/command_modules/network/_help.py
Owners: @MyronFanQiu, @haroldrandom

{Network} `az network application-gateway address-pool update`: refine help message and add examples (#12934) (#13780)
  src/azure-cli/azure/cli/command_modules/network/_help.py
Owners: @MyronFanQiu, @haroldrandom

Update _help.py
  src/azure-cli/azure/cli/command_modules/vm/_help.py
Owners: @qwordy, @arrownj

Only extract subscription ID for ARM requests
  src/azure-cli-core/azure/cli/core/tests/test_util.py
  src/azure-cli-core/azure/cli/core/util.py
Owners: @jiasli, @Juliehzl, @haroldrandom, @fengzhou-msft, @qianwens, @arrownj

fix typo
  src/azure-cli/azure/cli/command_modules/vm/_help.py
Owners: @qwordy, @arrownj

Add util module for version and rest
  doc/sphinx/azhelpgen/doc_source_map.json
  src/azure-cli/azure/cli/command_modules/resource/_help.py
  src/azure-cli/azure/cli/command_modules/resource/_params.py
  src/azure-cli/azure/cli/command_modules/resource/commands.py
  src/azure-cli/azure/cli/command_modules/resource/custom.py
  src/azure-cli/azure/cli/command_modules/util/__init__.py
  src/azure-cli/azure/cli/command_modules/util/_help.py
  src/azure-cli/azure/cli/command_modules/util/_params.py
  src/azure-cli/azure/cli/command_modules/util/commands.py
  src/azure-cli/azure/cli/command_modules/util/custom.py
  src/azure-cli/azure/cli/command_modules/util/tests/latest/recordings/test_rest.yaml
  src/azure-cli/azure/cli/command_modules/util/tests/latest/rest_storage_account_create_body.json
  src/azure-cli/azure/cli/command_modules/util/tests/latest/rest_storage_account_sas_body.json
  src/azure-cli/azure/cli/command_modules/util/tests/latest/test_rest.py
Owners: @Juliehzl, @zhoxing-ms, @qianwens, @haroldrandom

.github/CODEOWNERS:

# See for instructions on this file https://help.github.com/articles/about-codeowners/

*help.py @haroldrandom @Juliehzl
*help.yaml @haroldrandom @Juliehzl
*help.yml  @haroldrandom @Juliehzl

/linter_exclusions.yml @MyronFanQiu @haroldrandom

/tools/ @haroldrandom @fengzhou-msft
/scripts/ @haroldrandom @fengzhou-msft
/src/azure-cli-testsdk/ @bim-msft @MyronFanQiu @haroldrandom
/src/azure-cli-core/ @jiasli @Juliehzl @haroldrandom @fengzhou-msft @qianwens @arrownj
/src/azure-cli/azure/cli/command_modules/acr/ @djyou @fengzhou-msft
/src/azure-cli/azure/cli/command_modules/acs/ @rjtsdl @arrownj
/src/azure-cli/azure/cli/command_modules/advisor/ @Prasanna-Padmanabhan
/src/azure-cli/azure/cli/command_modules/appconfig/ @shenmuxiaosen @avanigupta @bim-msft
/src/azure-cli/azure/cli/command_modules/appservice/ @qwordy @Juliehzl
/src/azure-cli/azure/cli/command_modules/backup/ @dragonfly91 @fengzhou-msft
/src/azure-cli/azure/cli/command_modules/batch/ @bgklein
/src/azure-cli/azure/cli/command_modules/batchai/ @AlexanderYukhanov
/src/azure-cli/azure/cli/command_modules/cosmosdb/ @dmakwana
/src/azure-cli/azure/cli/command_modules/cloud/ @jiasli @fengzhou-msft
/src/azure-cli/azure/cli/command_modules/container/ @samkreter
/src/azure-cli/azure/cli/command_modules/consumption/ @sandeepnl
/src/azure-cli/azure/cli/command_modules/dls/ @lewu-msft
/src/azure-cli/azure/cli/command_modules/extension/ @fengzhou-msft @haroldrandom
/src/azure-cli/azure/cli/command_modules/keyvault/ @bim-msft @fengzhou-msft
/src/azure-cli/azure/cli/command_modules/monitor/ @MyronFanQiu @jsntcy
/src/azure-cli/azure/cli/command_modules/natgateway/ @khannarheams @MyronFanQiu @haroldrandom
/src/azure-cli/azure/cli/command_modules/network/ @MyronFanQiu @haroldrandom
/src/azure-cli/azure/cli/command_modules/privatedns/ @MyronFanQiu @haroldrandom
/src/azure-cli/azure/cli/command_modules/policyinsights/ @cheggert
/src/azure-cli/azure/cli/command_modules/profile/ @jiasli @arrownj
/src/azure-cli/azure/cli/command_modules/resource/ @Juliehzl @zhoxing-ms @qianwens
/src/azure-cli/azure/cli/command_modules/role/ @jiasli
/src/azure-cli/azure/cli/command_modules/storage/ @Juliehzl @qianwens
/src/azure-cli/azure/cli/command_modules/servicefabric/ @QingChenmsft @qwordy
/src/azure-cli/azure/cli/command_modules/sql/ @jaredmoo @Juliehzl
/src/azure-cli/azure/cli/command_modules/vm/ @qwordy @arrownj
/src/azure-cli/azure/cli/command_modules/eventhubs/ @v-ajnava
/src/azure-cli/azure/cli/command_modules/servicebus/ @v-ajnava @fengzhou-msft
/src/azure-cli/azure/cli/command_modules/apim/ @kevinhillinger @jonlester
/src/azure-cli/azure/cli/command_modules/iot/ @digimaun
/src/azure-cli/azure/cli/command_modules/aro/ @mjudeikis @jim-minter
