Repository Azure/azure-cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sptramer, @troydai, @djyou, @rjtsdl, @Prasanna-Padmanabhan, @yugangw-msft, @dragonfly91, @annatisch, @AlexanderYukhanov, @tjprescott, @dmakwana, @yolo3301, @sandeepnl, @kalyanaj, @williexu, @bulentelmaci, @QingChenmsft, @jaredmoo, @v-ajnava

.github/CODEOWNERS:

# See for instructions on this file https://help.github.com/articles/about-codeowners/

*help.py @sptramer

/tools/ @troydai
/scripts/ @troydai
/src/azure-cli-testsdk/ @troydai
/src/command_modules/azure-cli-acr/ @djyou
/src/command_modules/azure-cli-acs/ @rjtsdl
/src/command_modules/azure-cli-advisor/ @Prasanna-Padmanabhan
/src/command_modules/azure-cli-appservice/ @yugangw-msft
/src/command_modules/azure-cli-backup/ @dragonfly91
/src/command_modules/azure-cli-batch/ @annatisch 
/src/command_modules/azure-cli-batchai/ @AlexanderYukhanov
/src/command_modules/azure-cli-cdn/ @tjprescott
/src/command_modules/azure-cli-cosmosdb/ @dmakwana
/src/command_modules/azure-cli-cloud/ @yugangw-msft
/src/command_modules/azure-cli-container/ @yolo3301
/src/command_modules/azure-cli-consumption/ @sandeepnl
/src/command_modules/azure-cli-eventgrid/ @kalyanaj
/src/command_modules/azure-cli-extension/ @williexu
/src/command_modules/azure-cli-keyvault/ @tjprescott
/src/command_modules/azure-cli-monitor/ @troydai
/src/command_modules/azure-cli-network/ @tjprescott
/src/command_modules/azure-cli-policyinsights/ @bulentelmaci
/src/command_modules/azure-cli-profile/ @yugangw-msft
/src/command_modules/azure-cli-storage/ @troydai
/src/command_modules/azure-cli-servicefabric/ @QingChenmsft
/src/command_modules/azure-cli-sql/ @jaredmoo
/src/command_modules/azure-cli-vm/ @yugangw-msft
/src/command_modules/azure-cli-eventhubs/ @v-ajnava
/src/command_modules/azure-cli-servicebus/ @v-ajnava

fix linter error
  src/azure-cli-core/azure/cli/core/tests/test_util.py
Owners: none

Enable token credential for cloudshell
  scripts/ci/test_extensions.sh
  src/command_modules/azure-cli-batch/HISTORY.rst
  src/command_modules/azure-cli-batch/azure/cli/command_modules/batch/_client_factory.py
  src/command_modules/azure-cli-batch/azure/cli/command_modules/batch/_command_type.py
  src/command_modules/azure-cli-batch/setup.py
Owners: @troydai, @annatisch

Enable token credential for cloudshell (#6582)
  scripts/ci/test_extensions.sh
  src/command_modules/azure-cli-batch/HISTORY.rst
  src/command_modules/azure-cli-batch/azure/cli/command_modules/batch/_client_factory.py
  src/command_modules/azure-cli-batch/azure/cli/command_modules/batch/_command_type.py
  src/command_modules/azure-cli-batch/setup.py
Owners: @troydai, @annatisch

Enable token credential for cloudshell (#6582)
  scripts/ci/test_extensions.sh
  src/command_modules/azure-cli-batch/HISTORY.rst
  src/command_modules/azure-cli-batch/azure/cli/command_modules/batch/_client_factory.py
  src/command_modules/azure-cli-batch/azure/cli/command_modules/batch/_command_type.py
  src/command_modules/azure-cli-batch/setup.py
Owners: @troydai, @annatisch

Fixed history
  src/command_modules/azure-cli-sql/HISTORY.rst
Owners: @jaredmoo

vm: fix live test failures on using custom images (#6693)
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_custom_image.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_create_with_market_place_image.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Owners: @yugangw-msft

vm: fix live test failures on using custom images (#6693)
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_custom_image.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_create_with_market_place_image.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Owners: @yugangw-msft

test: add coverage for the recent login bug found on py2 (#6719)
  src/azure-cli-core/azure/cli/core/tests/test_util.py
Owners: none

test: add coverage for the recent login bug found on py2 (#6719)
  src/azure-cli-core/azure/cli/core/tests/test_util.py
Owners: none

[AKS] error if --max-pods is less than 5 (#6704)
  src/command_modules/azure-cli-acs/HISTORY.rst
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/_params.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/_validators.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_bad_inputs.yaml
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_default_service.yaml
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_service_no_wait.yaml
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
  src/command_modules/azure-cli-acs/setup.py
Owners: @rjtsdl

[AKS] error if --max-pods is less than 5 (#6704)
  src/command_modules/azure-cli-acs/HISTORY.rst
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/_params.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/_validators.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_bad_inputs.yaml
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_default_service.yaml
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_service_no_wait.yaml
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
  src/command_modules/azure-cli-acs/setup.py
Owners: @rjtsdl

Fixed error when specifying elastic pool name for sql db copy (#6713)
  src/command_modules/azure-cli-sql/HISTORY.rst
  src/command_modules/azure-cli-sql/azure/cli/command_modules/sql/_params.py
  src/command_modules/azure-cli-sql/azure/cli/command_modules/sql/_validators.py
  src/command_modules/azure-cli-sql/azure/cli/command_modules/sql/custom.py
  src/command_modules/azure-cli-sql/azure/cli/command_modules/sql/tests/latest/recordings/test_sql_db_copy.yaml
  src/command_modules/azure-cli-sql/azure/cli/command_modules/sql/tests/latest/recordings/test_sql_db_replica_mgmt.yaml
  src/command_modules/azure-cli-sql/azure/cli/command_modules/sql/tests/latest/test_sql_commands.py
Owners: @jaredmoo

Fixed error when specifying elastic pool name for sql db copy (#6713)
  src/command_modules/azure-cli-sql/HISTORY.rst
  src/command_modules/azure-cli-sql/azure/cli/command_modules/sql/_params.py
  src/command_modules/azure-cli-sql/azure/cli/command_modules/sql/_validators.py
  src/command_modules/azure-cli-sql/azure/cli/command_modules/sql/custom.py
  src/command_modules/azure-cli-sql/azure/cli/command_modules/sql/tests/latest/recordings/test_sql_db_copy.yaml
  src/command_modules/azure-cli-sql/azure/cli/command_modules/sql/tests/latest/recordings/test_sql_db_replica_mgmt.yaml
  src/command_modules/azure-cli-sql/azure/cli/command_modules/sql/tests/latest/test_sql_commands.py
Owners: @jaredmoo

login: skip browser based login under ssh/cloud shell
  src/azure-cli-core/azure/cli/core/_profile.py
Owners: none

Add automation on 2.7 back to CI
  .travis.yml
  scripts/ci/test_automation.sh
  tools/automation/tests/__init__.py
Owners: @troydai

Update history
  src/command_modules/azure-cli-acr/HISTORY.rst
Owners: @djyou

check gui availabilities
  src/azure-cli-core/azure/cli/core/_profile.py
  src/azure-cli-core/azure/cli/core/util.py
Owners: none

bug fix
  src/azure-cli-core/azure/cli/core/util.py
Owners: none

Remove is_live since it is LiveTest (#6690)
  src/command_modules/azure-cli-batch/azure/cli/command_modules/batch/tests/latest/test_batch_mgmt_commands.py
Owners: @annatisch

Remove is_live since it is LiveTest (#6690)
  src/command_modules/azure-cli-batch/azure/cli/command_modules/batch/tests/latest/test_batch_mgmt_commands.py
Owners: @annatisch

add test
  src/azure-cli-core/azure/cli/core/_profile.py
  src/azure-cli-core/azure/cli/core/tests/test_util.py
  src/azure-cli-core/azure/cli/core/util.py
Owners: none

add tests
  src/azure-cli-core/azure/cli/core/_profile.py
  src/azure-cli-core/azure/cli/core/tests/test_util.py
  src/azure-cli-core/azure/cli/core/util.py
Owners: none

use breaking change in history
  src/command_modules/azure-cli-acr/HISTORY.rst
Owners: @djyou

Update multiapi storage sdk version. (#6701)
  src/azure-cli-core/azure/cli/core/profiles/_shared.py
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_create_account_sas.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_create_storage_account.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_create_storage_account_v2.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_create_storage_account_with_assigned_identity.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_customer_managed_key.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_list_locations.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_list_storage_accounts.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_logging_operations.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_metrics_operations.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_renew_account_key.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_show_usage.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_account_service_endpoints.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_blob_append.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_blob_container_operations.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_blob_incremental_copy.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_blob_lease_operations.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_blob_metadata_operations.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_blob_snapshot_operations.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_blob_socket_timeout.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_blob_soft_delete.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_blob_upload_midsize_file.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_blob_upload_small_file.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_container_acl_scenarios.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_cors_scenario.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_create_default_sku.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_file_copy_scenario.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_file_main_scenario.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_queue_general_scenario.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_share_acl_scenarios.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_table_main_scenario.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_update_storage_account_with_assigned_identity.yaml
  src/command_modules/azure-cli-storage/setup.py
  src/command_modules/azure-cli-vm/setup.py
Owners: @troydai, @yugangw-msft

Update multiapi storage sdk version. (#6701)
  src/azure-cli-core/azure/cli/core/profiles/_shared.py
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_create_account_sas.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_create_storage_account.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_create_storage_account_v2.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_create_storage_account_with_assigned_identity.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_customer_managed_key.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_list_locations.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_list_storage_accounts.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_logging_operations.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_metrics_operations.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_renew_account_key.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_show_usage.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_account_service_endpoints.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_blob_append.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_blob_container_operations.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_blob_incremental_copy.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_blob_lease_operations.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_blob_metadata_operations.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_blob_snapshot_operations.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_blob_socket_timeout.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_blob_soft_delete.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_blob_upload_midsize_file.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_blob_upload_small_file.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_container_acl_scenarios.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_cors_scenario.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_create_default_sku.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_file_copy_scenario.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_file_main_scenario.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_queue_general_scenario.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_share_acl_scenarios.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_table_main_scenario.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_update_storage_account_with_assigned_identity.yaml
  src/command_modules/azure-cli-storage/setup.py
  src/command_modules/azure-cli-vm/setup.py
Owners: @troydai, @yugangw-msft

[ACR] Fix and cleanup params (#6712)
  src/command_modules/azure-cli-acr/HISTORY.rst
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/_params.py
Owners: @djyou

[ACR] Fix and cleanup params (#6712)
  src/command_modules/azure-cli-acr/HISTORY.rst
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/_params.py
Owners: @djyou

Update _help.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_help.py
Owners: @yugangw-msft

login: check GUI is available before launch the browser (#6725)
  src/azure-cli-core/azure/cli/core/_profile.py
  src/azure-cli-core/azure/cli/core/tests/test_util.py
  src/azure-cli-core/azure/cli/core/util.py
Owners: none

login: check GUI is available before launch the browser (#6725)
  src/azure-cli-core/azure/cli/core/_profile.py
  src/azure-cli-core/azure/cli/core/tests/test_util.py
  src/azure-cli-core/azure/cli/core/util.py
Owners: none

Add automation on 2.7 back to CI (#6726)
  .travis.yml
  scripts/ci/test_automation.sh
  tools/automation/tests/__init__.py
Owners: @troydai

Add automation on 2.7 back to CI (#6726)
  .travis.yml
  scripts/ci/test_automation.sh
  tools/automation/tests/__init__.py
Owners: @troydai

Deprecate `--ids` arg.
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_params.py
Owners: @tjprescott

Re-record all tests
  src/command_modules/azure-cli-keyvault/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_softdelete.yaml
  src/command_modules/azure-cli-keyvault/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_storage_account.yaml
  src/command_modules/azure-cli-sql/azure/cli/command_modules/sql/tests/latest/recordings/test_sql_tdebyok.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_customer_managed_key.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_metrics_operations.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_create_linux_secrets.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_create_windows_secrets.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_disk_encryption_e2e.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_disk_encryption_e2e.yaml
Owners: @tjprescott, @jaredmoo, @troydai, @yugangw-msft

Deprecated `--ids` parameter on certain list commands.
  src/azure-cli-core/azure/cli/core/commands/__init__.py
  src/azure-cli-core/azure/cli/core/commands/arm.py
  src/azure-cli-core/azure/cli/core/file_util.py
  src/azure-cli-core/azure/cli/core/tests/test_help.py
  src/azure-cli-testsdk/azure/cli/testsdk/__init__.py
  src/command_modules/azure-cli-interactive/HISTORY.rst
  src/command_modules/azure-cli-interactive/azure/cli/command_modules/interactive/azclishell/_dump_commands.py
  src/command_modules/azure-cli-interactive/setup.py
  src/command_modules/azure-cli-network/HISTORY.rst
Owners: @sptramer, @troydai, @tjprescott

Fixing output error when creating from yaml file
  src/command_modules/azure-cli-container/HISTORY.rst
  src/command_modules/azure-cli-container/azure/cli/command_modules/container/custom.py
  src/command_modules/azure-cli-container/setup.py
Owners: @yolo3301

Add comments on usage of the file
  Dockerfile.spot
Owners: none

Closes #6720.
  src/command_modules/azure-cli-resource/HISTORY.rst
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/commands.py
Owners: none

[Network] Deprecate `--ids` on certain list commands (#6724)
  src/azure-cli-core/azure/cli/core/commands/__init__.py
  src/azure-cli-core/azure/cli/core/commands/arm.py
  src/azure-cli-core/azure/cli/core/file_util.py
  src/azure-cli-core/azure/cli/core/tests/test_help.py
  src/azure-cli-testsdk/azure/cli/testsdk/__init__.py
  src/command_modules/azure-cli-interactive/HISTORY.rst
  src/command_modules/azure-cli-interactive/azure/cli/command_modules/interactive/azclishell/_dump_commands.py
  src/command_modules/azure-cli-interactive/setup.py
  src/command_modules/azure-cli-network/HISTORY.rst
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_params.py
Owners: @sptramer, @troydai, @tjprescott

[Network] Deprecate `--ids` on certain list commands (#6724)
  src/azure-cli-core/azure/cli/core/commands/__init__.py
  src/azure-cli-core/azure/cli/core/commands/arm.py
  src/azure-cli-core/azure/cli/core/file_util.py
  src/azure-cli-core/azure/cli/core/tests/test_help.py
  src/azure-cli-testsdk/azure/cli/testsdk/__init__.py
  src/command_modules/azure-cli-interactive/HISTORY.rst
  src/command_modules/azure-cli-interactive/azure/cli/command_modules/interactive/azclishell/_dump_commands.py
  src/command_modules/azure-cli-interactive/setup.py
  src/command_modules/azure-cli-network/HISTORY.rst
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_params.py
Owners: @sptramer, @troydai, @tjprescott
