Repository Azure/azure-cli, pull requests merged in 2018-08, with the labels that each got.

#6695 Add Azure Relay CLI Command Module
  doc/sphinx/azhelpgen/doc_source_map.json
  src/command_modules/azure-cli-relay/HISTORY.rst
  src/command_modules/azure-cli-relay/MANIFEST.in
  src/command_modules/azure-cli-relay/README.rst
  src/command_modules/azure-cli-relay/azure/__init__.py
  src/command_modules/azure-cli-relay/azure/cli/__init__.py
  src/command_modules/azure-cli-relay/azure/cli/command_modules/__init__.py
  src/command_modules/azure-cli-relay/azure/cli/command_modules/relay/__init__.py
  src/command_modules/azure-cli-relay/azure/cli/command_modules/relay/_client_factory.py
  src/command_modules/azure-cli-relay/azure/cli/command_modules/relay/_completers.py
  src/command_modules/azure-cli-relay/azure/cli/command_modules/relay/_help.py
  src/command_modules/azure-cli-relay/azure/cli/command_modules/relay/_params.py
  src/command_modules/azure-cli-relay/azure/cli/command_modules/relay/_utils.py
  src/command_modules/azure-cli-relay/azure/cli/command_modules/relay/_validators.py
  src/command_modules/azure-cli-relay/azure/cli/command_modules/relay/commands.py
  src/command_modules/azure-cli-relay/azure/cli/command_modules/relay/custom.py
  src/command_modules/azure-cli-relay/azure/cli/command_modules/relay/tests/__init__.py
  src/command_modules/azure-cli-relay/azure/cli/command_modules/relay/tests/latest/__init__.py
  src/command_modules/azure-cli-relay/azure/cli/command_modules/relay/tests/latest/recordings/test_relay_hyco.yaml
  src/command_modules/azure-cli-relay/azure/cli/command_modules/relay/tests/latest/recordings/test_relay_namespace.yaml
  src/command_modules/azure-cli-relay/azure/cli/command_modules/relay/tests/latest/recordings/test_relay_wcfrelay.yaml
  src/command_modules/azure-cli-relay/azure/cli/command_modules/relay/tests/latest/test_relay_commands.py
  src/command_modules/azure-cli-relay/azure_bdist_wheel.py
  src/command_modules/azure-cli-relay/setup.cfg
  src/command_modules/azure-cli-relay/setup.py
Labels: New Service

#6910 Add iotcentral commands
  doc/sphinx/azhelpgen/doc_source_map.json
  src/command_modules/azure-cli-iotcentral/HISTORY.rst
  src/command_modules/azure-cli-iotcentral/MANIFEST.in
  src/command_modules/azure-cli-iotcentral/README.rst
  src/command_modules/azure-cli-iotcentral/azure/__init__.py
  src/command_modules/azure-cli-iotcentral/azure/cli/__init__.py
  src/command_modules/azure-cli-iotcentral/azure/cli/command_modules/__init__.py
  src/command_modules/azure-cli-iotcentral/azure/cli/command_modules/iotcentral/__init__.py
  src/command_modules/azure-cli-iotcentral/azure/cli/command_modules/iotcentral/_client_factory.py
  src/command_modules/azure-cli-iotcentral/azure/cli/command_modules/iotcentral/_help.py
  src/command_modules/azure-cli-iotcentral/azure/cli/command_modules/iotcentral/_params.py
  src/command_modules/azure-cli-iotcentral/azure/cli/command_modules/iotcentral/commands.py
  src/command_modules/azure-cli-iotcentral/azure/cli/command_modules/iotcentral/custom.py
  src/command_modules/azure-cli-iotcentral/azure/cli/command_modules/iotcentral/tests/__init__.py
  src/command_modules/azure-cli-iotcentral/azure/cli/command_modules/iotcentral/tests/latest/__init__.py
  src/command_modules/azure-cli-iotcentral/azure/cli/command_modules/iotcentral/tests/latest/recordings/test_iotcentral_app.yaml
  src/command_modules/azure-cli-iotcentral/azure/cli/command_modules/iotcentral/tests/latest/test_iotcentral_commands.py
  src/command_modules/azure-cli-iotcentral/azure_bdist_wheel.py
  src/command_modules/azure-cli-iotcentral/setup.cfg
  src/command_modules/azure-cli-iotcentral/setup.py
Labels: IoTCentral, New Service

#6996 [Storage] Get sas-token from container url and cleanup code
  src/command_modules/azure-cli-storage/HISTORY.rst
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/_params.py
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/_validators.py
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/commands.py
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/operations/blob.py
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/test_storage_batch_operations.py
Labels: Storage-cli

#7057 Add deprecation to command authoring docs
  doc/authoring_command_modules/authoring_commands.md
Labels: Documentation, Infrastructure

#7062 Added linter rule to check for command name in example
  src/command_modules/azure-cli-appservice/HISTORY.rst
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/_help.py
  src/command_modules/azure-cli-appservice/setup.py
  src/command_modules/azure-cli-batchai/azure/cli/command_modules/batchai/_help.py
  src/command_modules/azure-cli-cdn/azure/cli/command_modules/cdn/_help.py
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/_help.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_help.py
  tools/automation/cli_linter/linter.py
  tools/automation/cli_linter/rules/ci_exclusions.yml
  tools/automation/cli_linter/rules/help_rules.py
  tools/automation/cli_linter/util.py
Labels: Linter

#7073 Updated error in eventhubs help example.
  src/command_modules/azure-cli-eventhubs/azure/cli/command_modules/eventhubs/_help.py
Labels: Documentation

#7037 [Monitor] Metric Alerts commands
  .flake8
  azure-cli2017.pyproj
  src/azure-cli-core/setup.py
  src/command_modules/azure-cli-monitor/HISTORY.rst
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/_client_factory.py
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/_exception_handler.py
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/_help.py
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/_params.py
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/actions.py
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/commands.py
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/grammar/MetricAlertCondition.g4
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/grammar/MetricAlertCondition.tokens
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/grammar/MetricAlertConditionLexer.py
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/grammar/MetricAlertConditionListener.py
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/grammar/MetricAlertConditionParser.py
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/grammar/MetricAlertConditionValidator.py
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/grammar/__init__.py
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/grammar/build_python.bat
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/grammar/run_test.bat
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/operations/metric_alert.py
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/tests/latest/recordings/test_metric_alert_v2_scenario.yaml
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_action_group_basic_scenario.yaml
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_activity_log_alert_update_action.yaml
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_activity_log_alert_update_condition.yaml
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_activity_log_alert_update_scope.yaml
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_create_default_activity_log_alert.yaml
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_create_disabled_activity_log_alert.yaml
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_create_full_fledged_activity_log_alert.yaml
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/tests/latest/test_monitor_metric_alert_scenarios.py
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/validators.py
  src/command_modules/azure-cli-monitor/setup.py
  src/command_modules/azure-cli-role/HISTORY.rst
  src/command_modules/azure-cli-role/setup.py
  tools/setup.py
Labels: Monitor-cli, New Command(s)

#7114 [Network] Load Balancer Outbound Rules
  src/command_modules/azure-cli-network/HISTORY.rst
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_help.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_params.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_validators.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/commands.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/custom.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_load_balancer_outbound_rules.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Labels: Network-cli, New Command(s)

#7119 [Compute] Deprecate `--storage-caching` option in VM create.
  src/command_modules/azure-cli-vm/HISTORY.rst
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_params.py
  tools/automation/cli_linter/rules/parameter_rules.py
Labels: Compute-cli

#7046 Initial release of botservice cli module
  doc/sphinx/azhelpgen/doc_source_map.json
  src/azure-cli-core/azure/cli/core/commands/__init__.py
  src/command_modules/azure-cli-botservice/HISTORY.rst
  src/command_modules/azure-cli-botservice/MANIFEST.in
  src/command_modules/azure-cli-botservice/README.rst
  src/command_modules/azure-cli-botservice/azure/.vscode/tags
  src/command_modules/azure-cli-botservice/azure/__init__.py
  src/command_modules/azure-cli-botservice/azure/cli/__init__.py
  src/command_modules/azure-cli-botservice/azure/cli/command_modules/__init__.py
  src/command_modules/azure-cli-botservice/azure/cli/command_modules/botservice/__init__.py
  src/command_modules/azure-cli-botservice/azure/cli/command_modules/botservice/_client_factory.py
  src/command_modules/azure-cli-botservice/azure/cli/command_modules/botservice/_exception_handler.py
  src/command_modules/azure-cli-botservice/azure/cli/command_modules/botservice/_help.py
  src/command_modules/azure-cli-botservice/azure/cli/command_modules/botservice/_params.py
  src/command_modules/azure-cli-botservice/azure/cli/command_modules/botservice/_webutils.py
  src/command_modules/azure-cli-botservice/azure/cli/command_modules/botservice/channel_operations.py
  src/command_modules/azure-cli-botservice/azure/cli/command_modules/botservice/commands.py
  src/command_modules/azure-cli-botservice/azure/cli/command_modules/botservice/custom.py
  src/command_modules/azure-cli-botservice/azure/cli/command_modules/botservice/functionapp.template.json
  src/command_modules/azure-cli-botservice/azure/cli/command_modules/botservice/tests/__init__.py
  src/command_modules/azure-cli-botservice/azure/cli/command_modules/botservice/tests/latest/__init__.py
  src/command_modules/azure-cli-botservice/azure/cli/command_modules/botservice/tests/latest/recordings/test_auth_setting.yaml
  src/command_modules/azure-cli-botservice/azure/cli/command_modules/botservice/tests/latest/recordings/test_directline_channel.yaml
  src/command_modules/azure-cli-botservice/azure/cli/command_modules/botservice/tests/latest/recordings/test_msteams_channel.yaml
  src/command_modules/azure-cli-botservice/azure/cli/command_modules/botservice/tests/latest/recordings/test_registration_bot.yaml
  src/command_modules/azure-cli-botservice/azure/cli/command_modules/botservice/tests/latest/recordings/test_service_providers.yaml
  src/command_modules/azure-cli-botservice/azure/cli/command_modules/botservice/tests/latest/recordings/test_skype_channel.yaml
  src/command_modules/azure-cli-botservice/azure/cli/command_modules/botservice/tests/latest/recordings/test_webapp_bot.yaml
  src/command_modules/azure-cli-botservice/azure/cli/command_modules/botservice/tests/latest/recordings/test_webchat_channel.yaml
  src/command_modules/azure-cli-botservice/azure/cli/command_modules/botservice/tests/latest/test_authsetting_commands.py
  src/command_modules/azure-cli-botservice/azure/cli/command_modules/botservice/tests/latest/test_bot_commands.py
  src/command_modules/azure-cli-botservice/azure/cli/command_modules/botservice/tests/latest/test_channel_commands.py
  src/command_modules/azure-cli-botservice/azure/cli/command_modules/botservice/webapp.template.json
  src/command_modules/azure-cli-botservice/azure_bdist_wheel.py
  src/command_modules/azure-cli-botservice/setup.cfg
  src/command_modules/azure-cli-botservice/setup.py
Labels: BotService, New Service

#7125 [IgniteNetwork] Add `--enable-tcp-reset` to existing commands
  src/command_modules/azure-cli-network/HISTORY.rst
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_params.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/custom.py
Labels: Network-cli

#7133 Cleaned up rest of faulty examples
  .github/CODEOWNERS
  src/command_modules/azure-cli-dms/HISTORY.rst
  src/command_modules/azure-cli-dms/linter_exclusions.yml
  src/command_modules/azure-cli-dms/setup.py
  src/command_modules/azure-cli-eventhubs/HISTORY.rst
  src/command_modules/azure-cli-eventhubs/azure/cli/command_modules/eventhubs/_help.py
  src/command_modules/azure-cli-eventhubs/setup.py
  src/command_modules/azure-cli-iotcentral/HISTORY.rst
  src/command_modules/azure-cli-iotcentral/azure/cli/command_modules/iotcentral/_help.py
  src/command_modules/azure-cli-iotcentral/setup.py
  src/command_modules/azure-cli-network/HISTORY.rst
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_help.py
  src/command_modules/azure-cli-network/setup.py
  src/command_modules/azure-cli-relay/HISTORY.rst
  src/command_modules/azure-cli-relay/azure/cli/command_modules/relay/_help.py
  src/command_modules/azure-cli-relay/setup.py
  src/command_modules/azure-cli-servicebus/HISTORY.rst
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/_help.py
  src/command_modules/azure-cli-servicebus/setup.py
  src/command_modules/azure-cli-servicefabric/HISTORY.rst
  src/command_modules/azure-cli-servicefabric/azure/cli/command_modules/servicefabric/_help.py
  src/command_modules/azure-cli-servicefabric/setup.py
  src/command_modules/azure-cli-sql/HISTORY.rst
  src/command_modules/azure-cli-sql/azure/cli/command_modules/sql/_help.py
  src/command_modules/azure-cli-sql/linter_exclusions.yml
  src/command_modules/azure-cli-sql/setup.py
  tools/automation/cli_linter/rules/ci_exclusions.yml
Labels: Documentation

#7132 Fix batch ai cluster auto storage account creation issue
  src/command_modules/azure-cli-batchai/HISTORY.rst
  src/command_modules/azure-cli-batchai/azure/cli/command_modules/batchai/custom.py
  src/command_modules/azure-cli-batchai/setup.py
Labels: BatchAI

#7042 [Cognitive Services] Support 'list-usages', 'list-kinds'
  src/command_modules/azure-cli-cognitiveservices/HISTORY.rst
  src/command_modules/azure-cli-cognitiveservices/azure/cli/command_modules/cognitiveservices/__init__.py
  src/command_modules/azure-cli-cognitiveservices/azure/cli/command_modules/cognitiveservices/_client_factory.py
  src/command_modules/azure-cli-cognitiveservices/azure/cli/command_modules/cognitiveservices/_help.py
  src/command_modules/azure-cli-cognitiveservices/azure/cli/command_modules/cognitiveservices/commands.py
  src/command_modules/azure-cli-cognitiveservices/azure/cli/command_modules/cognitiveservices/custom.py
  src/command_modules/azure-cli-cognitiveservices/azure/cli/command_modules/cognitiveservices/tests/latest/recordings/test_cognitiveservices_account_list_kinds.yaml
  src/command_modules/azure-cli-cognitiveservices/azure/cli/command_modules/cognitiveservices/tests/latest/recordings/test_cognitiveservices_account_list_skus.yaml
  src/command_modules/azure-cli-cognitiveservices/azure/cli/command_modules/cognitiveservices/tests/latest/recordings/test_cognitiveservices_account_list_usage.yaml
  src/command_modules/azure-cli-cognitiveservices/azure/cli/command_modules/cognitiveservices/tests/latest/test_cognitiveservices_command.py
  src/command_modules/azure-cli-cognitiveservices/setup.py
Labels: Cognitive Services

#7151 Fix key vault key import for RSA keys
  src/command_modules/azure-cli-keyvault/HISTORY.rst
  src/command_modules/azure-cli-keyvault/azure/cli/command_modules/keyvault/custom.py
  src/command_modules/azure-cli-keyvault/setup.py
Labels: KeyVault

#7135 websites: Updating to use the latest python SDK version
  azure-cli2017.pyproj
  src/command_modules/azure-cli-appservice/HISTORY.rst
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/custom.py
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/tests/latest/recordings/test_acr_integration.yaml
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/tests/latest/recordings/test_appservice_error_polish.yaml
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/tests/latest/recordings/test_auto_delete_plan.yaml
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/tests/latest/recordings/test_create_in_different_group.yaml
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/tests/latest/recordings/test_deploy_zip.yaml
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/tests/latest/recordings/test_download_linux_web_log.yaml
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/tests/latest/recordings/test_download_win_web_log.yaml
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_consumption_e2e.yaml
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_cors.yaml
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_e2e.yaml
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_on_linux.yaml
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/tests/latest/recordings/test_linux_webapp.yaml
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/tests/latest/recordings/test_linux_webapp_multicontainer_create.yaml
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/tests/latest/recordings/test_linux_webapp_quick_create.yaml
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/tests/latest/recordings/test_linux_webapp_quick_create_cd.yaml
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/tests/latest/recordings/test_retain_plan.yaml
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/tests/latest/recordings/test_traffic_routing.yaml
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_assign_system_identity.yaml
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_authentication.yaml
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_config.yaml
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_cors.yaml
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_e2e.yaml
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_git.yaml
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_list_locations_free_sku.yaml
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_scale.yaml
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_slot.yaml
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_slot_swap.yaml
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_ssl.yaml
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_update.yaml
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/tests/latest/recordings/test_win_webapp_quick_create.yaml
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/tests/latest/recordings/test_win_webapp_quick_create_cd.yaml
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/tests/latest/recordings/test_win_webapp_quick_create_runtime.yaml
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/tests/latest/test_webapp_commands.py
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/tests/latest/test_webapp_commands_thru_mock.py
  src/command_modules/azure-cli-appservice/setup.py
  src/command_modules/azure-cli-botservice/azure/cli/command_modules/botservice/tests/latest/test_bot_commands.py
  src/command_modules/azure-cli-botservice/setup.py
Labels: Web Apps, Web Apps-cli

#7165 [IgniteNetwork] Add `run-configuration-diagnostic` command and fix `test-connectivity`
  src/command_modules/azure-cli-network/HISTORY.rst
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_help.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_params.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_validators.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/commands.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/custom.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_watcher.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_watcher_connection_monitor.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_watcher_flow_log.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_watcher_packet_capture.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_watcher_troubleshooting.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_watcher_vm.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/test_network_commands.py
  src/command_modules/azure-cli-role/azure/cli/command_modules/role/_help.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_params.py
Labels: Network-cli, New Command(s), bug
