Repository Azure/azure-cli, pull requests merged in 2018-04, with the labels that each got.

#5971 'az' snap package cryptography fix: --no-binary cryptography
  .snapcraft.yaml
Labels: Packaging/Snap

#6005 Fix: [CI] test_integration has test failures but still marked as green
  src/command_modules/azure-cli-eventhubs/HISTORY.rst
  src/command_modules/azure-cli-eventhubs/setup.cfg
  src/command_modules/azure-cli-eventhubs/setup.py
  src/command_modules/azure-cli-servicebus/HISTORY.rst
  src/command_modules/azure-cli-servicebus/setup.cfg
  src/command_modules/azure-cli-servicebus/setup.py
  tools/automation/verify/verify_packages.py
Labels: Infrastructure, P2, Test

#5987 vmss create: more scale out support
  src/command_modules/azure-cli-vm/HISTORY.rst
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_params.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_template_builder.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_validators.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/custom.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_create_zonal_with_fd.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_single_placement_group_default_to_std_lb.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/test_vm_defaults.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/profile_2017_03_09/__init__.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/profile_2017_03_09/recordings/test_stack_vmss_create_default_app_gateway.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/profile_2017_03_09/test_vm_commands.py
Labels: Compute

#5877 Add new azure-cli commands on List/Cancel elastic pool operation, use new published SDK-python package 0.8.6
  src/command_modules/azure-cli-sql/HISTORY.rst
  src/command_modules/azure-cli-sql/azure/cli/command_modules/sql/_help.py
  src/command_modules/azure-cli-sql/azure/cli/command_modules/sql/_params.py
  src/command_modules/azure-cli-sql/azure/cli/command_modules/sql/_util.py
  src/command_modules/azure-cli-sql/azure/cli/command_modules/sql/commands.py
  src/command_modules/azure-cli-sql/azure/cli/command_modules/sql/tests/latest/recordings/test_sql_db_operation_mgmt.yaml
  src/command_modules/azure-cli-sql/azure/cli/command_modules/sql/tests/latest/recordings/test_sql_elastic_pool_operation_mgmt.yaml
  src/command_modules/azure-cli-sql/azure/cli/command_modules/sql/tests/latest/test_sql_commands.py
  src/command_modules/azure-cli-sql/setup.py
Labels: New Command(s), SQL

#6026 [Network] Command Linter fixes
  azure-cli2017.pyproj
  src/command_modules/azure-cli-network/HISTORY.rst
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_help.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_params.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/custom.py
  src/command_modules/azure-cli-network/linter_exclusions.yml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_params.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_validators.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/custom.py
Labels: Network

#6035 Restore Express Routes tests.
  src/command_modules/azure-cli-network/HISTORY.rst
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_express_route.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_express_route_ipv6_peering.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/test_network_commands.py
  src/command_modules/azure-cli-network/setup.py
Labels: Network, Test

#6041 Allow --sas-token to apply to source if no source account key or sas provided
  src/command_modules/azure-cli-storage/HISTORY.rst
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/_validators.py
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/test_storage_blob_copy_scenarios.py
  src/command_modules/azure-cli-storage/setup.py
Labels: Storage

#6054 [Doc] Fix broken install link
  doc/xplat_cli_migration.md
Labels: Documentation

#6047 [ACR] Improve repository commands error messages
  src/command_modules/azure-cli-acr/HISTORY.rst
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/repository.py
  src/command_modules/azure-cli-acr/setup.py
Labels: ACR

#6046 Expose `--socket-timeout` for blob uploads and downloads
  src/azure-cli-core/azure/cli/core/commands/client_factory.py
  src/command_modules/azure-cli-storage/HISTORY.rst
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/_client_factory.py
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/_params.py
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_blob_socket_timeout.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/test_storage_blob_scenarios.py
Labels: Storage

#6042 Fixed up rules violations for command group help, `redis patch-schedule show`
  src/command_modules/azure-cli-batch/HISTORY.rst
  src/command_modules/azure-cli-batch/azure/cli/command_modules/batch/_help.py
  src/command_modules/azure-cli-monitor/HISTORY.rst
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/_help.py
  src/command_modules/azure-cli-monitor/setup.py
  src/command_modules/azure-cli-redis/HISTORY.rst
  src/command_modules/azure-cli-redis/azure/cli/command_modules/redis/_help.py
  src/command_modules/azure-cli-redis/azure/cli/command_modules/redis/commands.py
  src/command_modules/azure-cli-redis/setup.py
  src/command_modules/azure-cli-role/HISTORY.rst
  src/command_modules/azure-cli-role/azure/cli/command_modules/role/_help.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_help.py
  tools/automation/cli_linter/linter.py
  tools/automation/cli_linter/rules/command_group_rules.py
Labels: Linter, Redis Cache

#6039 Command and Parameter Test Coverage Script
  .gitignore
  src/azure-cli-testsdk/azure/cli/testsdk/base.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_validators.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_active_active_cross_premise_connection.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_with_existing_subnet.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_asg.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_express_route.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_lb.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_local_gateway.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_nic.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_nsg.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_public_ip.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_public_ip_sku.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_route_filter.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_route_table_operation.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_traffic_manager.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_vpn_gateway.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_private_dns.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/test_dns_commands.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/test_network_commands.py
  tools/automation/coverage/run_command_coverage.py
Labels: Test

#5905 Adding support for MIN_TLS_VERSION & Https2.0 for web apps
  src/command_modules/azure-cli-appservice/HISTORY.rst
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/_params.py
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/custom.py
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_config.yaml
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/tests/latest/test_webapp_commands.py
Labels: Feature, WebApps

#6064 Update ACS scenario tests
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/tests/latest/recordings/test_acs_create_default_service.yaml
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_default_service.yaml
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_service_no_wait.yaml
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_with_upgrade.yaml
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
Labels: ACS, Test

#6069 Resolve batch download of blobs with names starting with forward slash
  src/command_modules/azure-cli-storage/HISTORY.rst
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/operations/blob.py
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/test_storage_batch_operations.py
Labels: Storage

#6065 [Network, Redis, Monitor] Linter fixes and more~!
  azure-cli2017.pyproj
  src/command_modules/azure-cli-monitor/linter_exclusions.yml
  src/command_modules/azure-cli-network/HISTORY.rst
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_params.py
  src/command_modules/azure-cli-network/linter_exclusions.yml
  src/command_modules/azure-cli-network/setup.py
  src/command_modules/azure-cli-redis/HISTORY.rst
  src/command_modules/azure-cli-redis/azure/cli/command_modules/redis/_help.py
  src/command_modules/azure-cli-redis/azure/cli/command_modules/redis/_params.py
  src/command_modules/azure-cli-redis/azure/cli/command_modules/redis/commands.py
  src/command_modules/azure-cli-redis/azure/cli/command_modules/redis/custom.py
  tools/automation/cli_linter/linter.py
  tools/automation/cli_linter/rule_decorators.py
  tools/automation/commandlint/__init__.py
  tools/automation/commandlint/allowed-error.json
  tools/automation/commandlint/run.py
Labels: Breaking Change, Monitor, Network, Redis Cache

#6074 Take care of sas token inputs for `storage blob copy` source with query char
  src/command_modules/azure-cli-storage/HISTORY.rst
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/_validators.py
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/test_storage_blob_copy_scenarios.py
Labels: Storage

#6087 Update ExpressRoute tests.
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_express_route.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_express_route_ipv6_peering.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Labels: Network, Test

#6088 Added module-level ci exclusions, other minor stuff
  tools/automation/cli_linter/__init__.py
  tools/automation/cli_linter/linter.py
  tools/automation/cli_linter/rule_decorators.py
  tools/automation/cli_linter/rules/ci_exclusions.yml
  tools/automation/cli_linter/rules/command_group_rules.py
  tools/automation/cli_linter/rules/command_rules.py
  tools/automation/cli_linter/rules/parameter_rules.py
  tools/automation/cli_linter/util.py
Labels: Linter

#6055 [Core] Limited Positional Argument Support
  azure-cli.pyproj
  azure-cli2017.pyproj
  src/azure-cli-core/HISTORY.rst
  src/azure-cli-core/azure/cli/core/_help.py
  src/azure-cli-core/azure/cli/core/commands/__init__.py
  src/azure-cli-core/azure/cli/core/commands/constants.py
  src/azure-cli-core/azure/cli/core/commands/parameters.py
  src/azure-cli-core/azure/cli/core/parser.py
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/tests/latest/test_servicebus_commands.py
Labels: Core, Feature

#6104 Only apply transformer to table output for `lab vm show`
  src/command_modules/azure-cli-lab/HISTORY.rst
  src/command_modules/azure-cli-lab/azure/cli/command_modules/lab/commands.py
  src/command_modules/azure-cli-lab/setup.py
Labels: DevTestLabs

#6098 BatchAI. Fix for VM priority configured via config file.
  src/command_modules/azure-cli-batchai/HISTORY.rst
  src/command_modules/azure-cli-batchai/azure/cli/command_modules/batchai/_params.py
  src/command_modules/azure-cli-batchai/azure/cli/command_modules/batchai/custom.py
  src/command_modules/azure-cli-batchai/azure/cli/command_modules/batchai/tests/latest/test_batchai_custom.py
  src/command_modules/azure-cli-batchai/azure/cli/command_modules/batchai/tests/latest/test_batchai_scenario.py
  src/command_modules/azure-cli-batchai/setup.py
Labels: BatchAI

#6106 added clarity to get-credentials
  src/command_modules/azure-cli-acs/HISTORY.rst
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/_help.py
  src/command_modules/azure-cli-acs/setup.py
Labels: Documentation

#6127 rbac: remove deprecated 'az ad sp reset-credentials'
  src/command_modules/azure-cli-role/HISTORY.rst
  src/command_modules/azure-cli-role/azure/cli/command_modules/role/_help.py
  src/command_modules/azure-cli-role/azure/cli/command_modules/role/_params.py
  src/command_modules/azure-cli-role/azure/cli/command_modules/role/commands.py
  src/command_modules/azure-cli-role/azure/cli/command_modules/role/tests/latest/test_graph.py
  src/command_modules/azure-cli-role/azure/cli/command_modules/role/tests/latest/test_role.py
Labels: Breaking Change

#6105 `--ids` fixes
  src/azure-cli-core/HISTORY.rst
  src/azure-cli-core/azure/cli/core/commands/__init__.py
  src/azure-cli-core/azure/cli/core/commands/arm.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_vnet_ids_query.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Labels: Core, bug

#6126 Display command suggestions on error if the command is misspelled
  src/azure-cli-core/HISTORY.rst
  src/azure-cli-core/azure/cli/core/parser.py
Labels: Feature, Infrastructure

#6137 Improve ID parsing
  src/azure-cli-core/azure/cli/core/commands/arm.py
Labels: bug

#6152 Updated eventgrid help text
  src/command_modules/azure-cli-eventhubs/HISTORY.rst
  src/command_modules/azure-cli-eventhubs/azure/cli/command_modules/eventhubs/_help.py
  src/command_modules/azure-cli-eventhubs/setup.py
Labels: Documentation

#6176 Add Ubuntu bionic builds
  tools/automation/clibuild/__init__.py
Labels: Packaging/Debian

#6209 Use latest azure-batch and azure-batch-extension dependency
  src/command_modules/azure-cli-batch/HISTORY.rst
  src/command_modules/azure-cli-batch/azure/cli/command_modules/batch/tests/latest/recordings/test_batch_pool_cmd.yaml
  src/command_modules/azure-cli-batch/setup.py
Labels: Batch

#6044 [AMS CLI] Added Azure Media Service CLI Module
  azure-cli.pyproj
  azure-cli2017.pyproj
  doc/sphinx/azhelpgen/doc_source_map.json
  src/azure-cli/setup.py
  src/command_modules/azure-cli-ams/HISTORY.rst
  src/command_modules/azure-cli-ams/MANIFEST.in
  src/command_modules/azure-cli-ams/README.rst
  src/command_modules/azure-cli-ams/azure/__init__.py
  src/command_modules/azure-cli-ams/azure/cli/__init__.py
  src/command_modules/azure-cli-ams/azure/cli/command_modules/__init__.py
  src/command_modules/azure-cli-ams/azure/cli/command_modules/ams/__init__.py
  src/command_modules/azure-cli-ams/azure/cli/command_modules/ams/_client_factory.py
  src/command_modules/azure-cli-ams/azure/cli/command_modules/ams/_completers.py
  src/command_modules/azure-cli-ams/azure/cli/command_modules/ams/_exception_handler.py
  src/command_modules/azure-cli-ams/azure/cli/command_modules/ams/_format.py
  src/command_modules/azure-cli-ams/azure/cli/command_modules/ams/_help.py
  src/command_modules/azure-cli-ams/azure/cli/command_modules/ams/_params.py
  src/command_modules/azure-cli-ams/azure/cli/command_modules/ams/_utils.py
  src/command_modules/azure-cli-ams/azure/cli/command_modules/ams/_validators.py
  src/command_modules/azure-cli-ams/azure/cli/command_modules/ams/commands.py
  src/command_modules/azure-cli-ams/azure/cli/command_modules/ams/operations/__init__.py
  src/command_modules/azure-cli-ams/azure/cli/command_modules/ams/operations/account.py
  src/command_modules/azure-cli-ams/azure/cli/command_modules/ams/operations/asset.py
  src/command_modules/azure-cli-ams/azure/cli/command_modules/ams/operations/job.py
  src/command_modules/azure-cli-ams/azure/cli/command_modules/ams/operations/sp.py
  src/command_modules/azure-cli-ams/azure/cli/command_modules/ams/operations/streaming.py
  src/command_modules/azure-cli-ams/azure/cli/command_modules/ams/operations/transform.py
  src/command_modules/azure-cli-ams/azure/cli/command_modules/ams/tests/__init__.py
  src/command_modules/azure-cli-ams/azure/cli/command_modules/ams/tests/latest/recordings/test_ams_asset.yaml
  src/command_modules/azure-cli-ams/azure/cli/command_modules/ams/tests/latest/recordings/test_ams_asset_get_sas_urls.yaml
  src/command_modules/azure-cli-ams/azure/cli/command_modules/ams/tests/latest/recordings/test_ams_create_show.yaml
  src/command_modules/azure-cli-ams/azure/cli/command_modules/ams/tests/latest/recordings/test_ams_job.yaml
  src/command_modules/azure-cli-ams/azure/cli/command_modules/ams/tests/latest/recordings/test_ams_list.yaml
  src/command_modules/azure-cli-ams/azure/cli/command_modules/ams/tests/latest/recordings/test_ams_sp_create.yaml
  src/command_modules/azure-cli-ams/azure/cli/command_modules/ams/tests/latest/recordings/test_ams_sp_create_reset.yaml
  src/command_modules/azure-cli-ams/azure/cli/command_modules/ams/tests/latest/recordings/test_ams_storage_add_remove.yaml
  src/command_modules/azure-cli-ams/azure/cli/command_modules/ams/tests/latest/recordings/test_ams_streaming_endpoint.yaml
  src/command_modules/azure-cli-ams/azure/cli/command_modules/ams/tests/latest/recordings/test_ams_streaming_locator.yaml
  src/command_modules/azure-cli-ams/azure/cli/command_modules/ams/tests/latest/recordings/test_ams_streaming_policy.yaml
  src/command_modules/azure-cli-ams/azure/cli/command_modules/ams/tests/latest/recordings/test_ams_transform.yaml
  src/command_modules/azure-cli-ams/azure/cli/command_modules/ams/tests/latest/test_ams.py
  src/command_modules/azure-cli-ams/azure_bdist_wheel.py
  src/command_modules/azure-cli-ams/setup.cfg
  src/command_modules/azure-cli-ams/setup.py
Labels: New Service

#6173 Support custom resource types being added to API_PROFILES
  src/azure-cli-core/HISTORY.rst
  src/azure-cli-core/azure/cli/core/__init__.py
  src/azure-cli-core/azure/cli/core/commands/client_factory.py
  src/azure-cli-core/azure/cli/core/profiles/__init__.py
  src/azure-cli-core/azure/cli/core/profiles/_shared.py
  src/azure-cli-core/azure/cli/core/tests/test_api_profiles.py
Labels: Infrastructure

#6237 Make discovery regex more specific.
  tools/automation/tests/__init__.py
Labels: Test, bug

#6244 Make positional args check more robust.
  src/azure-cli-core/azure/cli/core/commands/parameters.py
Labels: Infrastructure

#6241 [ACR] Add ACR Build commands
  privates/azure_mgmt_containerregistry-2.0.0-py2.py3-none-any.whl
  src/command_modules/azure-cli-acr/HISTORY.rst
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/_client_factory.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/_constants.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/_format.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/_help.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/_params.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/_validators.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/build.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/build_task.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/commands.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/custom.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/tests/latest/recordings/test_acr_create_build_task.yaml
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/tests/latest/recordings/test_acr_create_replication.yaml
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/tests/latest/recordings/test_acr_create_webhook.yaml
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/tests/latest/recordings/test_acr_create_with_existing_storage.yaml
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/tests/latest/recordings/test_acr_create_with_managed_registry.yaml
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/tests/latest/recordings/test_acr_create_with_new_storage.yaml
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/tests/latest/recordings/test_check_name_availability.yaml
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/tests/latest/test_acr_commands.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/tests/latest/test_acr_commands_mock.py
  src/command_modules/azure-cli-acr/setup.py
  src/command_modules/azure-cli-appservice/setup.py
Labels: ACR

#6159 Initial support for Data Migration Service
  azure-cli2017.pyproj
  doc/sphinx/azhelpgen/doc_source_map.json
  src/azure-cli/setup.py
  src/command_modules/azure-cli-dms/HISTORY.rst
  src/command_modules/azure-cli-dms/MANIFEST.in
  src/command_modules/azure-cli-dms/README.rst
  src/command_modules/azure-cli-dms/azure/__init__.py
  src/command_modules/azure-cli-dms/azure/cli/__init__.py
  src/command_modules/azure-cli-dms/azure/cli/command_modules/__init__.py
  src/command_modules/azure-cli-dms/azure/cli/command_modules/dms/__init__.py
  src/command_modules/azure-cli-dms/azure/cli/command_modules/dms/_client_factory.py
  src/command_modules/azure-cli-dms/azure/cli/command_modules/dms/_help.py
  src/command_modules/azure-cli-dms/azure/cli/command_modules/dms/_params.py
  src/command_modules/azure-cli-dms/azure/cli/command_modules/dms/commands.py
  src/command_modules/azure-cli-dms/azure/cli/command_modules/dms/custom.py
  src/command_modules/azure-cli-dms/azure/cli/command_modules/dms/tests/__init__.py
  src/command_modules/azure-cli-dms/azure/cli/command_modules/dms/tests/latest/__init__.py
  src/command_modules/azure-cli-dms/azure/cli/command_modules/dms/tests/latest/recordings/test_project_commands.yaml
  src/command_modules/azure-cli-dms/azure/cli/command_modules/dms/tests/latest/recordings/test_service_commands.yaml
  src/command_modules/azure-cli-dms/azure/cli/command_modules/dms/tests/latest/recordings/test_task_commands.yaml
  src/command_modules/azure-cli-dms/azure/cli/command_modules/dms/tests/latest/test_service_scenarios.py
  src/command_modules/azure-cli-dms/azure_bdist_wheel.py
  src/command_modules/azure-cli-dms/setup.cfg
  src/command_modules/azure-cli-dms/setup.py
Labels: New Service
