Repository Azure/azure-cli, pull requests merged in 2018-05, with the labels that each got.

#6290 Add timeout to the telemetry sender
  src/azure-cli-core/azure/cli/core/telemetry_upload.py
Labels: telemetry

#6289 Typo: generate was spelled gemerate
  src/command_modules/azure-cli-acs/HISTORY.rst
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/_help.py
  src/command_modules/azure-cli-acs/setup.py
Labels: ACS

#6268 Be more resilient to system error when removing an extension
  src/command_modules/azure-cli-extension/HISTORY.rst
  src/command_modules/azure-cli-extension/azure/cli/command_modules/extension/custom.py
Labels: Extensions

#6300 [Network] Fix NetworkWatcher validator
  src/command_modules/azure-cli-network/HISTORY.rst
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_validators.py
  src/command_modules/azure-cli-network/setup.py
Labels: Network, bug

#6301 [Monitor] Make Monitor exception handler case insensitive.
  src/command_modules/azure-cli-monitor/HISTORY.rst
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/_exception_handler.py
  src/command_modules/azure-cli-monitor/setup.py
Labels: Documentation, Monitor

#6306 Add exception unwrapping for template-based creates.
  src/azure-cli-core/azure/cli/core/commands/arm.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/commands.py
  src/command_modules/azure-cli-resource/HISTORY.rst
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/commands.py
  src/command_modules/azure-cli-resource/setup.py
  src/command_modules/azure-cli-vm/HISTORY.rst
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/commands.py
  src/command_modules/azure-cli-vm/setup.py
Labels: Compute, Network, Resource Manager

#6319 keyvault: make commands work in cloud shell or vms with identity
  src/command_modules/azure-cli-keyvault/HISTORY.rst
  src/command_modules/azure-cli-keyvault/azure/cli/command_modules/keyvault/_client_factory.py
  src/command_modules/azure-cli-keyvault/setup.py
Labels: KeyVault, bug

#6330 [Network] Fix Network Watcher Show-Topology
  src/command_modules/azure-cli-network/HISTORY.rst
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_validators.py
  src/command_modules/azure-cli-network/setup.py
Labels: Network, bug

#6303 On-board Maps
  doc/sphinx/azhelpgen/doc_source_map.json
  src/command_modules/azure-cli-maps/HISTORY.rst
  src/command_modules/azure-cli-maps/MANIFEST.in
  src/command_modules/azure-cli-maps/README.rst
  src/command_modules/azure-cli-maps/__init__.py
  src/command_modules/azure-cli-maps/azure/__init__.py
  src/command_modules/azure-cli-maps/azure/cli/__init__.py
  src/command_modules/azure-cli-maps/azure/cli/command_modules/__init__.py
  src/command_modules/azure-cli-maps/azure/cli/command_modules/maps/__init__.py
  src/command_modules/azure-cli-maps/azure/cli/command_modules/maps/_client_factory.py
  src/command_modules/azure-cli-maps/azure/cli/command_modules/maps/_help.py
  src/command_modules/azure-cli-maps/azure/cli/command_modules/maps/_params.py
  src/command_modules/azure-cli-maps/azure/cli/command_modules/maps/commands.py
  src/command_modules/azure-cli-maps/azure/cli/command_modules/maps/custom.py
  src/command_modules/azure-cli-maps/azure/cli/command_modules/maps/tests/__init__.py
  src/command_modules/azure-cli-maps/azure/cli/command_modules/maps/tests/latest/__init__.py
  src/command_modules/azure-cli-maps/azure/cli/command_modules/maps/tests/latest/recordings/test_create_maps_account.yaml
  src/command_modules/azure-cli-maps/azure/cli/command_modules/maps/tests/latest/test_maps_commands.py
  src/command_modules/azure-cli-maps/azure_bdist_wheel.py
  src/command_modules/azure-cli-maps/setup.cfg
  src/command_modules/azure-cli-maps/setup.py
  tools/automation/verify/verify_module_load_times.py
Labels: New Service

#6309 Improve MSI installer install/upgrade perf.
  build_scripts/windows/Product.wxs
  build_scripts/windows/README.md
  build_scripts/windows/scripts/az.cmd
  build_scripts/windows/scripts/build.cmd
Labels: Packaging/WindowsMSI

#6359 Updating Zip deploy to using async api & display status of deployment
  src/command_modules/azure-cli-appservice/HISTORY.rst
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/_help.py
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/custom.py
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/tests/latest/recordings/test_deploy_zip.yaml
Labels: WebApps

#6381 Mute parser for interactive completions
  src/command_modules/azure-cli-interactive/HISTORY.rst
  src/command_modules/azure-cli-interactive/azure/cli/command_modules/interactive/azclishell/az_completer.py
  src/command_modules/azure-cli-interactive/azure/cli/command_modules/interactive/azclishell/gather_commands.py
  src/command_modules/azure-cli-interactive/setup.py
Labels: Interactive

#6384 [ACR] Improve manifest delete confirmation on tags
  src/command_modules/azure-cli-acr/HISTORY.rst
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/repository.py
Labels: ACR

#6378 Command module for Microsoft.PolicyInsights
  .github/CODEOWNERS
  doc/sphinx/azhelpgen/doc_source_map.json
  src/command_modules/azure-cli-policyinsights/HISTORY.rst
  src/command_modules/azure-cli-policyinsights/MANIFEST.in
  src/command_modules/azure-cli-policyinsights/README.rst
  src/command_modules/azure-cli-policyinsights/azure/__init__.py
  src/command_modules/azure-cli-policyinsights/azure/cli/__init__.py
  src/command_modules/azure-cli-policyinsights/azure/cli/command_modules/__init__.py
  src/command_modules/azure-cli-policyinsights/azure/cli/command_modules/policyinsights/__init__.py
  src/command_modules/azure-cli-policyinsights/azure/cli/command_modules/policyinsights/_client_factory.py
  src/command_modules/azure-cli-policyinsights/azure/cli/command_modules/policyinsights/_exception_handler.py
  src/command_modules/azure-cli-policyinsights/azure/cli/command_modules/policyinsights/_help.py
  src/command_modules/azure-cli-policyinsights/azure/cli/command_modules/policyinsights/_params.py
  src/command_modules/azure-cli-policyinsights/azure/cli/command_modules/policyinsights/_validators.py
  src/command_modules/azure-cli-policyinsights/azure/cli/command_modules/policyinsights/commands.py
  src/command_modules/azure-cli-policyinsights/azure/cli/command_modules/policyinsights/custom.py
  src/command_modules/azure-cli-policyinsights/azure/cli/command_modules/policyinsights/tests/__init__.py
  src/command_modules/azure-cli-policyinsights/azure/cli/command_modules/policyinsights/tests/latest/__init__.py
  src/command_modules/azure-cli-policyinsights/azure/cli/command_modules/policyinsights/tests/latest/recordings/test_policy_insights.yaml
  src/command_modules/azure-cli-policyinsights/azure/cli/command_modules/policyinsights/tests/latest/test_policyinsights_scenario.py
  src/command_modules/azure-cli-policyinsights/azure_bdist_wheel.py
  src/command_modules/azure-cli-policyinsights/setup.cfg
  src/command_modules/azure-cli-policyinsights/setup.py
Labels: New Service

#6429 Prevent multi-character short options
  src/azure-cli-core/azure/cli/core/parser.py
Labels: Infrastructure

#6461 Added mimetypes for json and javascript files
  src/command_modules/azure-cli-storage/HISTORY.rst
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/util.py
  src/command_modules/azure-cli-storage/setup.py
Labels: Storage

#6345 Update telemetry upload process start configuration
  .gitignore
  src/azure-cli-core/HISTORY.rst
  src/azure-cli-core/azure/cli/core/telemetry.py
  src/azure-cli-core/azure/cli/core/telemetry_upload.py
Labels: telemetry

#6470 Allow one "bubble" in the perf script.
  tools/automation/verify/verify_module_load_times.py
Labels: Performance

#6428 Adding CRUD azure cli commands for Managed instance and Managed database resources
  src/command_modules/azure-cli-sql/HISTORY.rst
  src/command_modules/azure-cli-sql/azure/cli/command_modules/sql/_help.py
  src/command_modules/azure-cli-sql/azure/cli/command_modules/sql/_params.py
  src/command_modules/azure-cli-sql/azure/cli/command_modules/sql/_util.py
  src/command_modules/azure-cli-sql/azure/cli/command_modules/sql/_validators.py
  src/command_modules/azure-cli-sql/azure/cli/command_modules/sql/commands.py
  src/command_modules/azure-cli-sql/azure/cli/command_modules/sql/custom.py
  src/command_modules/azure-cli-sql/azure/cli/command_modules/sql/tests/latest/recordings/test_sql_managed_db_mgmt.yaml
  src/command_modules/azure-cli-sql/azure/cli/command_modules/sql/tests/latest/recordings/test_sql_managed_instance_mgmt.yaml
  src/command_modules/azure-cli-sql/azure/cli/command_modules/sql/tests/latest/test_sql_commands.py
  src/command_modules/azure-cli-sql/setup.py
Labels: New Command(s), SQL

#6426 Add management groups commands to azure-cli-resource
  src/command_modules/azure-cli-resource/HISTORY.rst
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/__init__.py
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/_client_factory.py
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/_completers.py
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/_exception_handler.py
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/_help.py
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/_params.py
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/commands.py
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/custom.py
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/tests/latest/recordings/test_create_delete_group_managementgroup.yaml
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/tests/latest/recordings/test_create_managementgroup.yaml
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/tests/latest/recordings/test_create_managementgroup_with_displayname.yaml
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/tests/latest/recordings/test_create_managementgroup_with_displayname_and_parentid.yaml
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/tests/latest/recordings/test_create_managementgroup_with_parentid.yaml
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/tests/latest/recordings/test_list_managementgroups.yaml
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/tests/latest/recordings/test_show_managementgroup.yaml
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/tests/latest/recordings/test_show_managementgroup_with_expand.yaml
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/tests/latest/recordings/test_show_managementgroup_with_expand_and_recurse.yaml
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/tests/latest/recordings/test_update_managementgroup_with_displayname.yaml
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/tests/latest/recordings/test_update_managementgroup_with_displayname_and_parentid.yaml
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/tests/latest/recordings/test_update_managementgroup_with_parentid.yaml
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/tests/latest/test_managmentgroups.py
  src/command_modules/azure-cli-resource/setup.py
Labels: New Service

#6375 Add ACR Image Import Commands
  src/command_modules/azure-cli-acr/HISTORY.rst
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/_help.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/_params.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/_utils.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/commands.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/import.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/tests/latest/recordings/test_acr_image_import.yaml
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/tests/latest/test_acr_commands.py
Labels: ACR, New Command(s)
