Repository Azure/azure-cli, pull requests merged in 2018-11, with the labels that each got.

#7782 [Linter] added rule exclusions for extensions
  tools/automation/cli_linter/__init__.py
  tools/automation/utilities/const.py
  tools/automation/utilities/path.py
Labels: Linter

#7742 [Storage] enable creation of sas_token connection-strings
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/_params.py
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/operations/account.py
Labels: Storage-cli

#7804 Update develop doc.
  doc/configuring_your_machine.md
Labels: Documentation

#7787 [VM/SS] Add --ephemeral-os-disk parameter
  src/command_modules/azure-cli-vm/HISTORY.rst
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_params.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_template_builder.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_validators.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_vm_utils.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/custom.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_create_ephemeral_os_disk.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_create_ephemeral_os_disk.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute-cli

#7821 webapps: Updating default node version used during creates
  src/command_modules/azure-cli-appservice/HISTORY.rst
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/custom.py
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_slot.yaml
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_slot_swap.yaml
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/tests/latest/test_webapp_commands.py
Labels: App Services

#7851 [Storage]removed unecessary use of src sas tokens for copies from same acc
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/test_storage_batch_operations.py
Labels: Storage-cli

#7850 [Network] Fix `min-capacity` default value.
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/custom.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_address_pool.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_auth_cert.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_frontend_ip_private.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_frontend_ip_public.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_frontend_port.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_http_listener.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_http_settings.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_probe.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_rule.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_zone.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_no_wait.yaml
Labels: Network-cli, P1, bug

#7832 [Monitor] Fixes for monitor live tests.
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/grammar/MetricAlertConditionValidator.py
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/tests/latest/recordings/test_metric_alert_v2_scenario.yaml
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_autoscale_fixed.yaml
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_create_log_profile.yaml
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/tests/latest/test_monitor_log_profile.py
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/tests/latest/test_monitor_unittest.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_route_filter.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_subnet_delegation.yaml
Labels: Monitor-cli, bug

#7828 Updating the default time for polling the status of zipdeployment from 2.5 to 5 mins & adding a property for users to customize this polling interval
  azure-cli2017.pyproj
  src/command_modules/azure-cli-appservice/HISTORY.rst
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/_params.py
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/_validators.py
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/custom.py
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/tests/latest/recordings/test_deploy_zip.yaml
Labels: App Services

#7866 [Storage] Use datetime to form expiration time for sas-tokens
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/test_storage_sas_tokan_url_scenarios.py
Labels: Storage-cli

#7860 Remove unused scripts.
  build_scripts/debian/README.md
  build_scripts/debian/build.sh
  build_scripts/debian/dir_creator.sh
  build_scripts/docker/README.md
  build_scripts/homebrew/README.md
  build_scripts/homebrew/formula-generate.py
  build_scripts/pypi/README.md
  build_scripts/pypi/build.py
  build_scripts/rpm/README.md
  build_scripts/rpm/azure-cli.spec
  scripts/dependency/requirements.Darwin.external.txt
  scripts/dependency/requirements.Linux.external.txt
  scripts/move-tests.sh
  scripts/remove_bom.py
  scripts/scrub_test_log.py
  scripts/scrub_vcr_auth.py
  tools/automation/__main__.py
  tools/automation/clibuild/__init__.py
  tools/automation/clipublish/__init__.py
Labels: Infrastructure

#7920 [Network] Implement AppGateway WAF exclusions
  src/azure-cli-testsdk/HISTORY.rst
  src/azure-cli-testsdk/azure/cli/testsdk/checkers.py
  src/azure-cli-testsdk/setup.py
  src/command_modules/azure-cli-network/HISTORY.rst
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_help.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_params.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_validators.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/custom.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_waf_config.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_waf_v2_config.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_vnet.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/test_network_commands.py
  src/command_modules/azure-cli-network/setup.py
Labels: Network-cli

#7961 EventHubs help fixes
  src/command_modules/azure-cli-eventhubs/azure/cli/command_modules/eventhubs/_help.py
Labels: Documentation, Event Hub

#7962 Fixes for VPN Client Generate
  azure-cli2017.pyproj
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/custom.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/test-root-cert.cer
  src/command_modules/azure-cli-network/setup.py
Labels: Network-cli
