Repository Azure/azure-cli, pull requests merged in 2018-10, with the labels that each got.

#7452 [Core] Add bot service to azure-cli setup
  src/azure-cli/setup.py
Labels: BotService

#7460 [Network] Misc help fixes.
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_help.py
Labels: Documentation, Network-cli

#7451 [Network] Add support for multiple address prefixes on a subnet
  src/azure-cli-core/azure/cli/core/commands/parameters.py
  src/command_modules/azure-cli-network/HISTORY.rst
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_params.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_validators.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/custom.py
Labels: Network-cli

#7407 [HDInsight] Add initial support for HDInsight
  doc/sphinx/azhelpgen/doc_source_map.json
  src/command_modules/azure-cli-hdinsight/HISTORY.rst
  src/command_modules/azure-cli-hdinsight/MANIFEST.in
  src/command_modules/azure-cli-hdinsight/README.rst
  src/command_modules/azure-cli-hdinsight/azure/__init__.py
  src/command_modules/azure-cli-hdinsight/azure/cli/__init__.py
  src/command_modules/azure-cli-hdinsight/azure/cli/command_modules/__init__.py
  src/command_modules/azure-cli-hdinsight/azure/cli/command_modules/hdinsight/__init__.py
  src/command_modules/azure-cli-hdinsight/azure/cli/command_modules/hdinsight/_client_factory.py
  src/command_modules/azure-cli-hdinsight/azure/cli/command_modules/hdinsight/_completers.py
  src/command_modules/azure-cli-hdinsight/azure/cli/command_modules/hdinsight/_help.py
  src/command_modules/azure-cli-hdinsight/azure/cli/command_modules/hdinsight/_params.py
  src/command_modules/azure-cli-hdinsight/azure/cli/command_modules/hdinsight/_validators.py
  src/command_modules/azure-cli-hdinsight/azure/cli/command_modules/hdinsight/commands.py
  src/command_modules/azure-cli-hdinsight/azure/cli/command_modules/hdinsight/custom.py
  src/command_modules/azure-cli-hdinsight/azure/cli/command_modules/hdinsight/tests/__init__.py
  src/command_modules/azure-cli-hdinsight/azure/cli/command_modules/hdinsight/tests/latest/__init__.py
  src/command_modules/azure-cli-hdinsight/azure/cli/command_modules/hdinsight/tests/latest/recordings/test_hdinsight_cluster_kafka.yaml
  src/command_modules/azure-cli-hdinsight/azure/cli/command_modules/hdinsight/tests/latest/recordings/test_hdinsight_cluster_kafka_with_optional_disk_args.yaml
  src/command_modules/azure-cli-hdinsight/azure/cli/command_modules/hdinsight/tests/latest/recordings/test_hdinsight_cluster_min_args.yaml
  src/command_modules/azure-cli-hdinsight/azure/cli/command_modules/hdinsight/tests/latest/recordings/test_hdinsight_cluster_resize.yaml
  src/command_modules/azure-cli-hdinsight/azure/cli/command_modules/hdinsight/tests/latest/recordings/test_hdinsight_cluster_rserver.yaml
  src/command_modules/azure-cli-hdinsight/azure/cli/command_modules/hdinsight/tests/latest/recordings/test_hdinsight_cluster_with_cluster_config.yaml
  src/command_modules/azure-cli-hdinsight/azure/cli/command_modules/hdinsight/tests/latest/recordings/test_hdinsight_cluster_with_component_version.yaml
  src/command_modules/azure-cli-hdinsight/azure/cli/command_modules/hdinsight/tests/latest/recordings/test_hdinsight_cluster_with_ssh_creds.yaml
  src/command_modules/azure-cli-hdinsight/azure/cli/command_modules/hdinsight/tests/latest/test_hdinsight_commands.py
  src/command_modules/azure-cli-hdinsight/azure/cli/command_modules/hdinsight/util.py
  src/command_modules/azure-cli-hdinsight/azure_bdist_wheel.py
  src/command_modules/azure-cli-hdinsight/setup.cfg
  src/command_modules/azure-cli-hdinsight/setup.py
Labels: New Service

#7476 [Network] Fix AppGateway SKU tier logic.
  src/command_modules/azure-cli-network/HISTORY.rst
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/custom.py
Labels: Network-cli, bug

#7471 Add scripts supporting Azure Pipeline
  build_scripts/windows/scripts/build.cmd
  scripts/release/debian/build.sh
  scripts/release/debian/pipeline.sh
  scripts/release/docker/pipeline.sh
  scripts/release/get_version.sh
  scripts/release/homebrew/docker/formula_generate.py
  scripts/release/homebrew/docker/formula_template.txt
  scripts/release/homebrew/docker/requirements.txt
  scripts/release/homebrew/docker/run.sh
  scripts/release/homebrew/pipeline.sh
  scripts/release/homebrew/upload.sh
  scripts/release/pypi/build.sh
  scripts/release/rpm/build.sh
  scripts/release/rpm/pipeline.sh
Labels: Infrastructure

#7491 [Network] Add table format to `nic list-effective-nsg` and `nic show-effective-route-table`
  src/command_modules/azure-cli-network/HISTORY.rst
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_format.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/commands.py
  src/command_modules/azure-cli-network/setup.py
Labels: Network-cli, Output

#7513 [Monitor] Improve EventHub validation for `diagnostic-settings create`.
  src/command_modules/azure-cli-monitor/HISTORY.rst
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/_help.py
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/_params.py
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/operations/activity_log.py
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/validators.py
  src/command_modules/azure-cli-monitor/setup.py
Labels: Monitor-cli

#7509 [Network] Add AppGateway backend pool arguments to NIC commands.
  src/command_modules/azure-cli-network/HISTORY.rst
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_params.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_validators.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/custom.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_nic_app_gateway.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Labels: Network-cli

#7558 `--ids` parameter fixes
  src/azure-cli-core/HISTORY.rst
  src/azure-cli-core/azure/cli/core/__init__.py
  src/azure-cli-core/azure/cli/core/commands/__init__.py
  src/azure-cli-core/azure/cli/core/commands/arm.py
  src/azure-cli-core/azure/cli/core/commands/client_factory.py
  src/azure-cli-core/azure/cli/core/file_util.py
  src/azure-cli-core/azure/cli/core/tests/test_help.py
  src/azure-cli-core/setup.py
  src/command_modules/azure-cli-interactive/HISTORY.rst
  src/command_modules/azure-cli-interactive/azure/cli/command_modules/interactive/azclishell/_dump_commands.py
  src/command_modules/azure-cli-interactive/setup.py
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/tests/latest/recordings/test_global_ids.yaml
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/tests/latest/test_resource.py
Labels: Infrastructure, bug

#7620 [Network] Fix issue with `--peer-circuit ID` when created ER peering connection
  src/command_modules/azure-cli-network/HISTORY.rst
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_params.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_validators.py
  src/command_modules/azure-cli-network/setup.py
Labels: Network-cli, bug

#7623 [Monitor] Metric alerts - allow special characters in metric name
  src/command_modules/azure-cli-monitor/HISTORY.rst
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/_help.py
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/actions.py
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/grammar/MetricAlertCondition.g4
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/grammar/MetricAlertCondition.tokens
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/grammar/MetricAlertConditionLexer.py
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/grammar/MetricAlertConditionParser.py
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/tests/latest/test_monitor_unittest.py
  src/command_modules/azure-cli-monitor/setup.py
Labels: Monitor-cli, bug

#7626 [Network] Rename `interface-endpoint` command group to `private-endpoint`
  src/command_modules/azure-cli-network/HISTORY.rst
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_help.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_params.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/commands.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/custom.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_private_endpoints.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Labels: Network-cli

#7679 Bump Knack version.
  azure-cli2017.pyproj
  src/azure-cli-core/azure/cli/core/commands/__init__.py
  src/azure-cli-core/setup.py
  tools/automation/verify/verify_packages.py
Labels: Infrastructure

#7681 [CI] Change integration check
  .travis.yml
  scripts/ci/test_profile_integration.sh
Labels: Infrastructure

#7696 Fix ServiceBus SDK for Homebrew installation.
  src/command_modules/azure-cli-servicebus/HISTORY.rst
  src/command_modules/azure-cli-servicebus/setup.py
Labels: Packaging/Homebrew, bug

#7701 Fix conditional dependencies in core setup.py.
  src/azure-cli-core/setup.py
Labels: Packaging/Pip, bug

#7634 Webapps backup - fix detection of unset schedule in upade_backup_schedule
  src/command_modules/azure-cli-appservice/HISTORY.rst
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/custom.py
Labels: Web Apps
