Repository Azure/azure-cli, pull requests merged in 2018-09, with the labels that each got.

#7232 [IgniteNetwork] Ignite Release Bug Fixes
  src/azure-cli-core/setup.py
  src/command_modules/azure-cli-network/HISTORY.rst
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_params.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/custom.py
  src/command_modules/azure-cli-network/setup.py
  src/command_modules/azure-cli-servicefabric/setup.py
  src/command_modules/azure-cli-vm/setup.py
Labels: Network-cli, bug

#7233 [IgniteNetwork] DNS Alias Records
  privates/azure_mgmt_dns-2.0.0-py2.py3-none-any.whl
  src/azure-cli-core/azure/cli/core/profiles/_shared.py
  src/command_modules/azure-cli-network/HISTORY.rst
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_client_factory.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_help.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_params.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_validators.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/commands.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/custom.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_dns.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_dns_alias.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_private_dns.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/test_dns_commands.py
  src/command_modules/azure-cli-network/setup.py
Labels: Feature, Network-cli

#7246 Close #7242.
  src/command_modules/azure-cli-network/HISTORY.rst
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_params.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/custom.py
Labels: Network-cli

#7231 Support routing in IoTHub
  src/command_modules/azure-cli-iot/HISTORY.rst
  src/command_modules/azure-cli-iot/azure/cli/command_modules/iot/_help.py
  src/command_modules/azure-cli-iot/azure/cli/command_modules/iot/_params.py
  src/command_modules/azure-cli-iot/azure/cli/command_modules/iot/commands.py
  src/command_modules/azure-cli-iot/azure/cli/command_modules/iot/custom.py
  src/command_modules/azure-cli-iot/azure/cli/command_modules/iot/shared.py
  src/command_modules/azure-cli-iot/azure/cli/command_modules/iot/tests/latest/recordings/test_iot_hub.yaml
  src/command_modules/azure-cli-iot/azure/cli/command_modules/iot/tests/latest/test_iot_commands.py
  src/command_modules/azure-cli-iot/setup.py
Labels: IoTHub

#6784 [ADLS] integrate virtual network rule to account mgmt
  src/command_modules/azure-cli-dla/HISTORY.rst
  src/command_modules/azure-cli-dla/azure/cli/command_modules/dla/tests/latest/recordings/test_adla_account_mgmt.yaml
  src/command_modules/azure-cli-dla/azure/cli/command_modules/dla/tests/latest/recordings/test_adla_catalog_mgmt.yaml
  src/command_modules/azure-cli-dla/azure/cli/command_modules/dla/tests/latest/recordings/test_adla_job_mgmt.yaml
  src/command_modules/azure-cli-dla/setup.py
  src/command_modules/azure-cli-dls/HISTORY.rst
  src/command_modules/azure-cli-dls/azure/cli/command_modules/dls/_client_factory.py
  src/command_modules/azure-cli-dls/azure/cli/command_modules/dls/_help.py
  src/command_modules/azure-cli-dls/azure/cli/command_modules/dls/_params.py
  src/command_modules/azure-cli-dls/azure/cli/command_modules/dls/_validators.py
  src/command_modules/azure-cli-dls/azure/cli/command_modules/dls/commands.py
  src/command_modules/azure-cli-dls/azure/cli/command_modules/dls/custom.py
  src/command_modules/azure-cli-dls/azure/cli/command_modules/dls/tests/latest/recordings/test_dls_account_mgmt.yaml
  src/command_modules/azure-cli-dls/azure/cli/command_modules/dls/tests/latest/recordings/test_dls_file_access_mgmt.yaml
  src/command_modules/azure-cli-dls/azure/cli/command_modules/dls/tests/latest/test_dls_commands.py
  src/command_modules/azure-cli-dls/setup.py
Labels: DataLake, New Command(s)

#7190 Add commands for external Azure storage account configurations for we…
  src/command_modules/azure-cli-appservice/HISTORY.rst
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/_help.py
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/_params.py
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/commands.py
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/custom.py
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_config.yaml
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/tests/latest/test_webapp_commands.py
Labels: New Command(s), Web Apps-cli

#7300 [Network] Add network profile commands.
  src/command_modules/azure-cli-network/HISTORY.rst
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_client_factory.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_help.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_params.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/commands.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/custom.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_profile.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Labels: Network-cli, New Command(s)

#7303 VM: shared image gallery and new storage sku support
  src/azure-cli-core/azure/cli/core/profiles/_shared.py
  src/command_modules/azure-cli-acs/setup.py
  src/command_modules/azure-cli-servicefabric/setup.py
  src/command_modules/azure-cli-vm/HISTORY.rst
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_client_factory.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_help.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_params.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_template_builder.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_validators.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_vm_utils.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/commands.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/custom.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_gallery_e2e.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_create_by_attach_os_and_data_disks.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_create_from_unmanaged_disk.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_disk_create_zones.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_disk_storage_sku.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_managed_disk.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_os_disk_swap.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_ultra_ssd_storage_sku.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_ultra_ssd_storage_sku.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_update_instance_disks.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/test_vm_actions.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
  src/command_modules/azure-cli-vm/setup.py
Labels: New Command(s)

#7308 [Network] Add express-route peering connection commands.
  src/command_modules/azure-cli-network/HISTORY.rst
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_client_factory.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_help.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_params.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_validators.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/commands.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/custom.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_express_route_global_reach.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Labels: Network-cli, New Command(s)

#7322 [Network] Fix issue with ddos-protection create.
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/custom.py
Labels: Network-cli, bug

#7330 [Network] Bump Network SDK to 2.2.1
  src/command_modules/azure-cli-container/setup.py
  src/command_modules/azure-cli-network/setup.py
  src/command_modules/azure-cli-servicefabric/setup.py
  src/command_modules/azure-cli-vm/setup.py
Labels: Network-cli

#7350 Deal with deprecation objects within the command table by ignoring them
  src/command_modules/azure-cli-interactive/HISTORY.rst
  src/command_modules/azure-cli-interactive/azure/cli/command_modules/interactive/azclishell/_dump_commands.py
  src/command_modules/azure-cli-interactive/setup.py
Labels: Interactive

#7391 [Network] vnet peering: deprecated --remote-vnet-id in favor of --remote-vnet
  src/command_modules/azure-cli-network/HISTORY.rst
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_help.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_params.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/custom.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_vnet_peering.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_vnet_peering_different_resource_groups.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Labels: Network-cli
