Repository Azure/azure-cli, pull requests merged in 2018-03, with the labels that each got.

#5704 vmss create: default priority to None
  src/command_modules/azure-cli-vm/HISTORY.rst
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_params.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_accelerated_networking.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_create_and_modify.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_create_custom_data.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_create_default_app_gateway.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_create_existing_ids_options.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_create_existing_options.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_create_idempotent.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_create_linux_secrets.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_create_none_options.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_create_options.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_create_single_zone.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_create_with_app_gateway.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_create_with_low_priority.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_create_x_zones.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_disk_encryption_e2e.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_existing_lb.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_explicit_msi.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_extension.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_lb_sku.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_nics.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_public_ip_per_vm_custom_domain_name.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_rolling_upgrade.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_update_instance_disks.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_vms.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_with_ilb.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_windows_vm_vmss_license_type.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, bug

#5700 [Network] Remove default values from update commands.
  src/command_modules/azure-cli-network/HISTORY.rst
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_params.py
Labels: Network, bug

#5695 Small help_authoring changes
  doc/authoring_help.md
Labels: Documentation

#5694 [Network] Documentation Update
  src/azure-cli-nspkg/HISTORY.rst
  src/azure-cli-nspkg/setup.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_help.py
Labels: Documentation, Network

#5668 Add az aks upgrade-connector command to upgrade an existing connector
  src/command_modules/azure-cli-acs/HISTORY.rst
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/_help.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/_params.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/commands.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/custom.py
Labels: ACS

#5726 test: add test coverage for provisioning web servers on x-zone vmss
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_create_x_zones.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Test

#5739 Extension suppression
  doc/authoring_command_modules/authoring_commands.md
  src/azure-cli-core/HISTORY.rst
  src/azure-cli-core/azure/cli/core/__init__.py
  src/azure-cli-core/azure/cli/core/tests/test_command_registration.py
Labels: Core, Extensions

#5753 Fix default value, check for None before assigning Public IP SKU
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_params.py
Labels: AzureStack, Network, bug

#5755 Add a check for linux version consistency
  src/command_modules/azure-cli-extension/HISTORY.rst
  src/command_modules/azure-cli-extension/azure/cli/command_modules/extension/custom.py
  src/command_modules/azure-cli-extension/setup.py
Labels: Extensions, Packaging/Debian

#5702 Batch commands no longer throw error upon precondition failures.
  src/command_modules/azure-cli-storage/HISTORY.rst
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/operations/blob.py
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/util.py
Labels: Storage

#5499 On-board Service Bus
  .github/CODEOWNERS
  doc/sphinx/azhelpgen/doc_source_map.json
  src/azure-cli/setup.py
  src/command_modules/azure-cli-servicebus/HISTORY.rst
  src/command_modules/azure-cli-servicebus/MANIFEST.in
  src/command_modules/azure-cli-servicebus/README.rst
  src/command_modules/azure-cli-servicebus/azure/__init__.py
  src/command_modules/azure-cli-servicebus/azure/cli/__init__.py
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/__init__.py
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/__init__.py
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/_client_factory.py
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/_completers.py
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/_help.py
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/_params.py
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/_utils.py
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/_validators.py
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/commands.py
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/custom.py
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/tests/__init__.py
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/tests/latest/__init__.py
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_alias.yaml
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_namespace.yaml
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_queue.yaml
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_rules.yaml
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_subscription.yaml
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_topic.yaml
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/tests/latest/test_servicebus_commands.py
  src/command_modules/azure-cli-servicebus/azure_bdist_wheel.py
  src/command_modules/azure-cli-servicebus/setup.cfg
  src/command_modules/azure-cli-servicebus/setup.py
Labels: New Service

#5522 On-board Event Hubs
  .github/CODEOWNERS
  azure-cli2017.pyproj
  doc/sphinx/azhelpgen/doc_source_map.json
  src/azure-cli/setup.py
  src/command_modules/azure-cli-eventhubs/HISTORY.rst
  src/command_modules/azure-cli-eventhubs/MANIFEST.in
  src/command_modules/azure-cli-eventhubs/README.rst
  src/command_modules/azure-cli-eventhubs/azure/__init__.py
  src/command_modules/azure-cli-eventhubs/azure/cli/__init__.py
  src/command_modules/azure-cli-eventhubs/azure/cli/command_modules/__init__.py
  src/command_modules/azure-cli-eventhubs/azure/cli/command_modules/eventhubs/__init__.py
  src/command_modules/azure-cli-eventhubs/azure/cli/command_modules/eventhubs/_client_factory.py
  src/command_modules/azure-cli-eventhubs/azure/cli/command_modules/eventhubs/_completers.py
  src/command_modules/azure-cli-eventhubs/azure/cli/command_modules/eventhubs/_help.py
  src/command_modules/azure-cli-eventhubs/azure/cli/command_modules/eventhubs/_params.py
  src/command_modules/azure-cli-eventhubs/azure/cli/command_modules/eventhubs/_utils.py
  src/command_modules/azure-cli-eventhubs/azure/cli/command_modules/eventhubs/_validator.py
  src/command_modules/azure-cli-eventhubs/azure/cli/command_modules/eventhubs/commands.py
  src/command_modules/azure-cli-eventhubs/azure/cli/command_modules/eventhubs/custom.py
  src/command_modules/azure-cli-eventhubs/azure/cli/command_modules/eventhubs/tests/__init__.py
  src/command_modules/azure-cli-eventhubs/azure/cli/command_modules/eventhubs/tests/latest/__init__.py
  src/command_modules/azure-cli-eventhubs/azure/cli/command_modules/eventhubs/tests/latest/recordings/test_eh_alias.yaml
  src/command_modules/azure-cli-eventhubs/azure/cli/command_modules/eventhubs/tests/latest/recordings/test_eh_consumergroup.yaml
  src/command_modules/azure-cli-eventhubs/azure/cli/command_modules/eventhubs/tests/latest/recordings/test_eh_eventhub.yaml
  src/command_modules/azure-cli-eventhubs/azure/cli/command_modules/eventhubs/tests/latest/recordings/test_eh_namespace.yaml
  src/command_modules/azure-cli-eventhubs/azure/cli/command_modules/eventhubs/tests/latest/test_eventhub_commands.py
  src/command_modules/azure-cli-eventhubs/azure_bdist_wheel.py
  src/command_modules/azure-cli-eventhubs/setup.cfg
  src/command_modules/azure-cli-eventhubs/setup.py
Labels: New Service

#5737 vm/vmss: improve disk caching support
  src/command_modules/azure-cli-vm/HISTORY.rst
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_params.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_template_builder.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_validators.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_create_ubuntu.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_create_with_unmanaged_data_disks.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/test_vm_actions.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/test_vm_defaults.py
Labels: Compute

#5786 RPM pip --no-compile and ignore rpm/brp-python-bytecompile errors
  build_scripts/rpm/azure-cli.spec
Labels: Packaging/RPM

#5770 Fix append blob condition parameters
  src/command_modules/azure-cli-storage/HISTORY.rst
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/operations/blob.py
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_blob_append.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/test_storage_blob_scenarios.py
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/util.py
  src/command_modules/azure-cli-storage/setup.py
Labels: Storage

#5789 [Network] Re-enable Network Watcher test
  azure-cli2017.pyproj
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_watcher.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/test_network_commands.py
  tools/automation/tests/__init__.py
Labels: Network, Test

#5801 Reduce test re-recording impact for Network API bumps
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_template_builder.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_validators.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_vm_utils.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/custom.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/test_vm_defaults.py
Labels: Network, Test

#5762 [Monitor] Re-enable Autoscale recorded tests
  azure-cli.pyproj
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_autoscale_basic.yaml
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_autoscale_fixed.yaml
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_autoscale_recurring.yaml
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_autoscale_rules.yaml
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/tests/latest/test_monitor_autoscale.py
Labels: Monitor, Test

#5809 Fix `--style` parameter for `az interactive command`
  src/command_modules/azure-cli-interactive/HISTORY.rst
  src/command_modules/azure-cli-interactive/azure/cli/command_modules/interactive/__init__.py
  src/command_modules/azure-cli-interactive/azure/cli/command_modules/interactive/azclishell/app.py
Labels: Interactive

#5817 Fix regression: Correctly expose the CMK encryption vault properties
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/_params.py
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/_validators.py
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_customer_managed_key.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/test_storage_account_scenarios.py
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/test_storage_validators.py
Labels: Storage

#5763 [DNM] Adding support for Private DNS Public Preview
  src/command_modules/azure-cli-network/HISTORY.rst
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/__init__.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_params.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/commands.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/custom.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_dns.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_dns_zone1_import.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_dns_zone2_import.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_dns_zone3_import.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_dns_zone4_import.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_dns_zone5_import.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_dns_zone6_import.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_private_dns.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/test_dns_commands.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/zone_files/zone1.txt_export.txt
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/zone_files/zone2.txt_export.txt
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/zone_files/zone3.txt_export.txt
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/zone_files/zone4.txt_export.txt
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/zone_files/zone5.txt_export.txt
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/zone_files/zone6.txt_export.txt
  src/command_modules/azure-cli-network/setup.py
Labels: Feature, Network

#5825 Prevent make.bat returning exit code of 1 on success
  doc/sphinx/make.bat
Labels: Documentation

#5818 [ACS] fix downloading of files when in Cloud Shell / PS
  src/command_modules/azure-cli-acs/HISTORY.rst
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/custom.py
  src/command_modules/azure-cli-acs/setup.py
Labels: ACS

#5805 rbac: migrate to newer api-version 2018-01-01-preview to support data actions
  src/azure-cli-core/azure/cli/core/commands/arm.py
  src/azure-cli-testsdk/azure/cli/testsdk/base.py
  src/command_modules/azure-cli-acs/HISTORY.rst
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/custom.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/tests/latest/recordings/test_acs_create_kubernetes.yaml
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_default_service.yaml
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_service_no_wait.yaml
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_with_upgrade.yaml
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
  src/command_modules/azure-cli-acs/setup.py
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_assign_system_identity.yaml
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/tests/latest/test_webapp_commands.py
  src/command_modules/azure-cli-resource/HISTORY.rst
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/custom.py
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/tests/latest/recordings/test_provider_operation.yaml
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/tests/latest/test_resource.py
  src/command_modules/azure-cli-resource/setup.py
  src/command_modules/azure-cli-role/HISTORY.rst
  src/command_modules/azure-cli-role/azure/cli/command_modules/role/_help.py
  src/command_modules/azure-cli-role/azure/cli/command_modules/role/_params.py
  src/command_modules/azure-cli-role/azure/cli/command_modules/role/commands.py
  src/command_modules/azure-cli-role/azure/cli/command_modules/role/custom.py
  src/command_modules/azure-cli-role/azure/cli/command_modules/role/tests/latest/recordings/test_assignments_for_co_admins.yaml
  src/command_modules/azure-cli-role/azure/cli/command_modules/role/tests/latest/recordings/test_create_for_rbac_with_cert_with_assignment.yaml
  src/command_modules/azure-cli-role/azure/cli/command_modules/role/tests/latest/recordings/test_create_for_rbac_with_existing_kv_cert.yaml
  src/command_modules/azure-cli-role/azure/cli/command_modules/role/tests/latest/recordings/test_create_for_rbac_with_new_kv_cert.yaml
  src/command_modules/azure-cli-role/azure/cli/command_modules/role/tests/latest/recordings/test_create_for_rbac_with_secret_with_assignment.yaml
  src/command_modules/azure-cli-role/azure/cli/command_modules/role/tests/latest/recordings/test_revoke_sp_for_rbac.yaml
  src/command_modules/azure-cli-role/azure/cli/command_modules/role/tests/latest/recordings/test_role_assignment_audits.yaml
  src/command_modules/azure-cli-role/azure/cli/command_modules/role/tests/latest/recordings/test_role_assignment_e2e.yaml
  src/command_modules/azure-cli-role/azure/cli/command_modules/role/tests/latest/recordings/test_role_create_scenario.yaml
  src/command_modules/azure-cli-role/azure/cli/command_modules/role/tests/latest/recordings/test_sp_create_scenario.yaml
  src/command_modules/azure-cli-role/azure/cli/command_modules/role/tests/latest/role_scenario_test.py
  src/command_modules/azure-cli-role/azure/cli/command_modules/role/tests/latest/test_role.py
  src/command_modules/azure-cli-role/azure/cli/command_modules/role/tests/latest/test_role_commands_thru_mock.py
  src/command_modules/azure-cli-role/setup.py
  src/command_modules/azure-cli-vm/HISTORY.rst
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_template_builder.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/custom.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_msi_no_scope.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_explicit_msi.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_msi.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_explicit_msi.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_msi.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
  src/command_modules/azure-cli-vm/setup.py
Labels: Breaking Change

#5811 rbac: new command to list/delete credentials
  src/command_modules/azure-cli-role/HISTORY.rst
  src/command_modules/azure-cli-role/azure/cli/command_modules/role/_help.py
  src/command_modules/azure-cli-role/azure/cli/command_modules/role/_params.py
  src/command_modules/azure-cli-role/azure/cli/command_modules/role/commands.py
  src/command_modules/azure-cli-role/azure/cli/command_modules/role/custom.py
  src/command_modules/azure-cli-role/azure/cli/command_modules/role/tests/latest/test_role_commands_thru_mock.py
Labels: New Command(s), RBAC

#5829 [Test] Enhance `azdev test` script
  doc/authoring_command_modules/README.md
  doc/authoring_tests.md
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/tests/latest/test_monitor_log_profile.py
  tools/automation/tests/__init__.py
  tools/automation/utilities/path.py
Labels: Extensions, Feature, Test

#5769 Update command guidelines
  .github/PULL_REQUEST_TEMPLATE.md
  doc/authoring_command_modules/README.md
  doc/authoring_command_modules/authoring_commands.md
  doc/command_guidelines.md
  doc/extensions/README.md
Labels: Documentation

#5836 Fix service bus and event hub command loaders
  src/command_modules/azure-cli-eventhubs/HISTORY.rst
  src/command_modules/azure-cli-eventhubs/azure/cli/command_modules/eventhubs/__init__.py
  src/command_modules/azure-cli-eventhubs/setup.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/__init__.py
  src/command_modules/azure-cli-servicebus/HISTORY.rst
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/__init__.py
  src/command_modules/azure-cli-servicebus/setup.py
Labels: EventHubs, ServiceBus

#5765 Fix aliasing issues with expand and ignore
  src/azure-cli-core/azure/cli/core/commands/__init__.py
  src/azure-cli-core/setup.py
  src/command_modules/azure-cli-cdn/azure/cli/command_modules/cdn/tests/latest/test_profile_scenarios.py
  src/command_modules/azure-cli-dla/azure/cli/command_modules/dla/tests/latest/test_dla_commands.py
  src/command_modules/azure-cli-keyvault/azure/cli/command_modules/keyvault/tests/latest/test_keyvault_commands.py
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/tests/latest/test_monitor_activity_log_alert.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_params.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/test_network_commands.py
  src/command_modules/azure-cli-rdbms/HISTORY.rst
  src/command_modules/azure-cli-rdbms/azure/cli/command_modules/rdbms/_util.py
  src/command_modules/azure-cli-rdbms/azure/cli/command_modules/rdbms/tests/latest/recordings/test_mysql_proxy_resources_mgmt.yaml
  src/command_modules/azure-cli-rdbms/azure/cli/command_modules/rdbms/tests/latest/recordings/test_mysql_server_mgmt.yaml
  src/command_modules/azure-cli-rdbms/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_proxy_resources_mgmt.yaml
  src/command_modules/azure-cli-rdbms/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_server_mgmt.yaml
  src/command_modules/azure-cli-rdbms/azure/cli/command_modules/rdbms/tests/latest/test_rdbms_commands.py
  src/command_modules/azure-cli-rdbms/setup.py
Labels: Core

#5839 azure-cli-vm support Autorest 3.0
  src/command_modules/azure-cli-vm/HISTORY.rst
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/custom.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/disk_encryption.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/test_custom_vm_commands.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute

#5791 [Monitor] Add metric namespace support
  azure-cli2017.pyproj
  src/command_modules/azure-cli-monitor/HISTORY.rst
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/_params.py
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/actions.py
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/operations/activity_log_alerts.py
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/operations/metric_alert.py
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/tests/latest/recordings/test_metric_alert_basic_scenarios.yaml
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_action_group_basic_scenario.yaml
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_activity_log_alert_update_action.yaml
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_activity_log_alert_update_condition.yaml
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_activity_log_alert_update_scope.yaml
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_autoscale_basic.yaml
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_autoscale_fixed.yaml
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_autoscale_recurring.yaml
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_autoscale_rules.yaml
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_create_default_activity_log_alert.yaml
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_create_disabled_activity_log_alert.yaml
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_create_full_fledged_activity_log_alert.yaml
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_create_log_profile.yaml
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_diagnostic_settings_scenario.yaml
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_metrics_scenario.yaml
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/tests/latest/test_monitor_metrics.py
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/util.py
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/validators.py
  src/command_modules/azure-cli-monitor/setup.py
  src/command_modules/azure-cli-role/setup.py
Labels: Feature, Monitor

#5849 VMSS disk encryption: report better status through disk instance view
  src/command_modules/azure-cli-vm/HISTORY.rst
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/disk_encryption.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_disk_encryption_e2e.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Breaking Change

#5864 azure policy - updated _help.py to revise policy definition create
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/_help.py
Labels: Documentation

#5869 RDBMS CLI 0.2.0 Release with SDK generated using Autorest 3.0.
  src/command_modules/azure-cli-rdbms/HISTORY.rst
  src/command_modules/azure-cli-rdbms/azure/cli/command_modules/rdbms/__init__.py
  src/command_modules/azure-cli-rdbms/azure/cli/command_modules/rdbms/_params.py
  src/command_modules/azure-cli-rdbms/azure/cli/command_modules/rdbms/commands.py
  src/command_modules/azure-cli-rdbms/azure/cli/command_modules/rdbms/custom.py
  src/command_modules/azure-cli-rdbms/azure/cli/command_modules/rdbms/tests/latest/recordings/test_mysql_proxy_resources_mgmt.yaml
  src/command_modules/azure-cli-rdbms/azure/cli/command_modules/rdbms/tests/latest/recordings/test_mysql_server_mgmt.yaml
  src/command_modules/azure-cli-rdbms/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_proxy_resources_mgmt.yaml
  src/command_modules/azure-cli-rdbms/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_server_mgmt.yaml
  src/command_modules/azure-cli-rdbms/setup.py
Labels: azure-database-mysql, azure-database-postgresql

#5871 Backup new features and bug fixes
  src/command_modules/azure-cli-backup/HISTORY.rst
  src/command_modules/azure-cli-backup/azure/cli/command_modules/backup/_client_factory.py
  src/command_modules/azure-cli-backup/azure/cli/command_modules/backup/_format.py
  src/command_modules/azure-cli-backup/azure/cli/command_modules/backup/_help.py
  src/command_modules/azure-cli-backup/azure/cli/command_modules/backup/_params.py
  src/command_modules/azure-cli-backup/azure/cli/command_modules/backup/commands.py
  src/command_modules/azure-cli-backup/azure/cli/command_modules/backup/custom.py
  src/command_modules/azure-cli-backup/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_container.yaml
  src/command_modules/azure-cli-backup/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_item.yaml
  src/command_modules/azure-cli-backup/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_protection.yaml
  src/command_modules/azure-cli-backup/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_restore.yaml
  src/command_modules/azure-cli-backup/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_rp.yaml
  src/command_modules/azure-cli-backup/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_scenario.yaml
  src/command_modules/azure-cli-backup/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_vault.yaml
  src/command_modules/azure-cli-backup/azure/cli/command_modules/backup/tests/latest/test_backup_commands.py
  src/command_modules/azure-cli-backup/setup.py
Labels: Backup, New Command(s)

#5854 Adding Container Exec Command for Azure Container Instance
  src/command_modules/azure-cli-container/HISTORY.rst
  src/command_modules/azure-cli-container/azure/cli/command_modules/container/_client_factory.py
  src/command_modules/azure-cli-container/azure/cli/command_modules/container/_help.py
  src/command_modules/azure-cli-container/azure/cli/command_modules/container/_params.py
  src/command_modules/azure-cli-container/azure/cli/command_modules/container/commands.py
  src/command_modules/azure-cli-container/azure/cli/command_modules/container/custom.py
  src/command_modules/azure-cli-container/setup.py
Labels: Container, New Command(s)

#5853 Fixing Table Output Support for Create Container Group
  src/command_modules/azure-cli-container/HISTORY.rst
  src/command_modules/azure-cli-container/azure/cli/command_modules/container/commands.py
  src/command_modules/azure-cli-container/setup.py
Labels: Container, Output

#5840 Docker image use Python 3.6.4 and replace wget with curl
  Dockerfile
Labels: Packaging/Docker

#5882 Preview extension notation & Simple default view for extension list-a…
  doc/extensions/metadata.md
  src/azure-cli-core/HISTORY.rst
  src/azure-cli-core/azure/cli/core/__init__.py
  src/azure-cli-core/azure/cli/core/_help.py
  src/azure-cli-core/azure/cli/core/commands/__init__.py
  src/azure-cli-core/azure/cli/core/extension.py
  src/azure-cli-core/azure/cli/core/tests/test_command_registration.py
  src/command_modules/azure-cli-extension/HISTORY.rst
  src/command_modules/azure-cli-extension/azure/cli/command_modules/extension/__init__.py
  src/command_modules/azure-cli-extension/azure/cli/command_modules/extension/custom.py
  src/command_modules/azure-cli-extension/azure/cli/command_modules/extension/tests/latest/test_extension_commands.py
Labels: Extensions

#5902 Support TXT record escape sequences in Azure DNS CLI
  src/command_modules/azure-cli-network/HISTORY.rst
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/custom.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/test_dns_commands.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/zone_files/zone2.txt
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/zone_files/zone7.txt
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/zone_file/parse_zone_file.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/zone_file/record_processors.py
  src/command_modules/azure-cli-network/setup.py
Labels: Network

#5901 [Monitor] Fix erroneous usage strings
  azure-cli.pyproj
  src/azure-cli-core/azure/cli/core/commands/validators.py
  src/command_modules/azure-cli-monitor/HISTORY.rst
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/__init__.py
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/_params.py
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/validators.py
  src/command_modules/azure-cli-monitor/setup.py
Labels: Documentation, Monitor, bug

#5904 Snapcraft yaml for Azure CLI
  .snapcraft.yaml
  build_scripts/snap/az.snap.completion
Labels: Packaging

#5914 [AKS] always create SPN with 5 years expiration time
  src/command_modules/azure-cli-acs/HISTORY.rst
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/custom.py
Labels: ACS

#5927 Fix container exec with --container-name
  src/command_modules/azure-cli-container/HISTORY.rst
  src/command_modules/azure-cli-container/azure/cli/command_modules/container/custom.py
  src/command_modules/azure-cli-container/setup.py
Labels: Container, bug

#5932 remove deprecated identity related commands
  src/command_modules/azure-cli-appservice/HISTORY.rst
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/_help.py
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/_params.py
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/commands.py
  src/command_modules/azure-cli-profile/HISTORY.rst
  src/command_modules/azure-cli-profile/azure/cli/command_modules/profile/__init__.py
  src/command_modules/azure-cli-profile/azure/cli/command_modules/profile/custom.py
  src/command_modules/azure-cli-profile/setup.py
  src/command_modules/azure-cli-vm/HISTORY.rst
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_help.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_params.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/commands.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Breaking Change, Compute

#5943 [Network] Fix tag support on application-gateway create
  src/command_modules/azure-cli-network/HISTORY.rst
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_validators.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_no_wait.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Labels: Network, bug

#5944 [Resource] Add metadata argument to policy definition create/update
  src/command_modules/azure-cli-resource/HISTORY.rst
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/_params.py
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/_validators.py
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/commands.py
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/custom.py
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/tests/latest/recordings/test_resource_policy.yaml
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/tests/latest/recordings/test_resource_policyset.yaml
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/tests/latest/recordings/test_show_built_in_policy.yaml
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/tests/latest/sample_policy_set.json
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/tests/latest/test_resource.py
  src/command_modules/azure-cli-resource/setup.py
Labels: Feature, Resource Manager

#5945 Making exec-command required for Container Exec
  src/command_modules/azure-cli-container/azure/cli/command_modules/container/custom.py
Labels: Container

#5923 BatchAI. Support for 2018-03-01 API
  src/command_modules/azure-cli-batchai/HISTORY.rst
  src/command_modules/azure-cli-batchai/azure/cli/command_modules/batchai/_client_factory.py
  src/command_modules/azure-cli-batchai/azure/cli/command_modules/batchai/_format.py
  src/command_modules/azure-cli-batchai/azure/cli/command_modules/batchai/_help.py
  src/command_modules/azure-cli-batchai/azure/cli/command_modules/batchai/_params.py
  src/command_modules/azure-cli-batchai/azure/cli/command_modules/batchai/commands.py
  src/command_modules/azure-cli-batchai/azure/cli/command_modules/batchai/custom.py
  src/command_modules/azure-cli-batchai/azure/cli/command_modules/batchai/tests/latest/data/cluster_with_azure_files.json
  src/command_modules/azure-cli-batchai/azure/cli/command_modules/batchai/tests/latest/data/job_referencing_file_systems.json
  src/command_modules/azure-cli-batchai/azure/cli/command_modules/batchai/tests/latest/data/job_with_file_systems.json
  src/command_modules/azure-cli-batchai/azure/cli/command_modules/batchai/tests/latest/recordings/test_batchai_auto_scale_scenario.yaml
  src/command_modules/azure-cli-batchai/azure/cli/command_modules/batchai/tests/latest/recordings/test_batchai_cluster_with_auto_storage.yaml
  src/command_modules/azure-cli-batchai/azure/cli/command_modules/batchai/tests/latest/recordings/test_batchai_cluster_with_file_systems.yaml
  src/command_modules/azure-cli-batchai/azure/cli/command_modules/batchai/tests/latest/recordings/test_batchai_cluster_with_nfs_and_azure_file_share.yaml
  src/command_modules/azure-cli-batchai/azure/cli/command_modules/batchai/tests/latest/recordings/test_batchai_cluster_with_setup_command.yaml
  src/command_modules/azure-cli-batchai/azure/cli/command_modules/batchai/tests/latest/recordings/test_batchai_config_less_cluster_with_file_systems.yaml
  src/command_modules/azure-cli-batchai/azure/cli/command_modules/batchai/tests/latest/recordings/test_batchai_configless_cluster_and_nfs_creation.yaml
  src/command_modules/azure-cli-batchai/azure/cli/command_modules/batchai/tests/latest/recordings/test_batchai_job_level_mounting_scenario.yaml
  src/command_modules/azure-cli-batchai/azure/cli/command_modules/batchai/tests/latest/recordings/test_batchai_manual_scale_scenario.yaml
  src/command_modules/azure-cli-batchai/azure/cli/command_modules/batchai/tests/latest/recordings/test_batchai_usages.yaml
  src/command_modules/azure-cli-batchai/azure/cli/command_modules/batchai/tests/latest/test_batchai_custom.py
  src/command_modules/azure-cli-batchai/azure/cli/command_modules/batchai/tests/latest/test_batchai_scenario.py
  src/command_modules/azure-cli-batchai/setup.py
Labels: BatchAI, New Command(s)

#5918 Fixes to massive Networking CLI examples update
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/.vscode/settings.json
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_help.py
Labels: Documentation, Network

#5946 [VM] Improve `secret format` command
  src/command_modules/azure-cli-keyvault/HISTORY.rst
  src/command_modules/azure-cli-keyvault/azure/cli/command_modules/keyvault/_help.py
  src/command_modules/azure-cli-keyvault/setup.py
  src/command_modules/azure-cli-vm/HISTORY.rst
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_help.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_params.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_validators.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/commands.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/custom.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Breaking Change, Compute
