Repository Azure/azure-cli, pull requests merged in 2018-06, with the labels that each got.

#6497 [AKS] update to v20180331 API and add new feature args
  src/command_modules/azure-cli-acs/HISTORY.rst
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/_help.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/_params.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/_validators.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/custom.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_default_service.yaml
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_service_no_wait.yaml
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/tests/latest/test_custom.py
  src/command_modules/azure-cli-acs/setup.py
Labels: Do Not Merge

#6517 [Network] Fixed `--endpoint-status` in TrafficManager.
  src/command_modules/azure-cli-network/HISTORY.rst
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_params.py
  src/command_modules/azure-cli-network/setup.py
Labels: Network, bug

#6503 Extension CI check and azdev script for verifying all commands load
  .travis.yml
  scripts/ci/test_extensions.sh
  tools/automation/verify/__init__.py
  tools/automation/verify/verify_load_all.py
Labels: Test

#6516 Add global `--subscription` argument
  src/azure-cli-core/HISTORY.rst
  src/azure-cli-core/azure/cli/core/__init__.py
  src/azure-cli-core/azure/cli/core/_profile.py
  src/azure-cli-core/azure/cli/core/commands/__init__.py
  src/azure-cli-core/azure/cli/core/commands/arm.py
  src/azure-cli-core/azure/cli/core/commands/client_factory.py
  src/command_modules/azure-cli-cloud/HISTORY.rst
  src/command_modules/azure-cli-cloud/azure/cli/command_modules/cloud/__init__.py
  src/command_modules/azure-cli-cloud/setup.py
  src/command_modules/azure-cli-configure/HISTORY.rst
  src/command_modules/azure-cli-configure/azure/cli/command_modules/configure/__init__.py
  src/command_modules/azure-cli-configure/setup.py
  src/command_modules/azure-cli-extension/HISTORY.rst
  src/command_modules/azure-cli-extension/azure/cli/command_modules/extension/__init__.py
  src/command_modules/azure-cli-extension/setup.py
  src/command_modules/azure-cli-feedback/HISTORY.rst
  src/command_modules/azure-cli-feedback/azure/cli/command_modules/feedback/__init__.py
  src/command_modules/azure-cli-feedback/setup.py
  src/command_modules/azure-cli-find/HISTORY.rst
  src/command_modules/azure-cli-find/azure/cli/command_modules/find/__init__.py
  src/command_modules/azure-cli-find/setup.py
  src/command_modules/azure-cli-interactive/HISTORY.rst
  src/command_modules/azure-cli-interactive/azure/cli/command_modules/interactive/__init__.py
  src/command_modules/azure-cli-interactive/setup.py
  src/command_modules/azure-cli-profile/HISTORY.rst
  src/command_modules/azure-cli-profile/azure/cli/command_modules/profile/__init__.py
  src/command_modules/azure-cli-profile/setup.py
  src/command_modules/azure-cli-resource/HISTORY.rst
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/_params.py
  src/command_modules/azure-cli-resource/setup.py
  src/command_modules/azure-cli-role/azure/cli/command_modules/role/_params.py
Labels: Feature, Infrastructure

#6566 Added interactive tag to shell-type event property
  src/azure-cli-core/azure/cli/core/telemetry.py
  src/command_modules/azure-cli-interactive/azure/cli/command_modules/interactive/azclishell/telemetry.py
Labels: Do Not Merge, telemetry

#6578 [ACR] Add build status polling, improve build logs.
  src/command_modules/azure-cli-acr/HISTORY.rst
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/_build_polling.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/_params.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/build.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/build_task.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/tests/latest/recordings/test_acr_create_build_task.yaml
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/tests/latest/test_acr_commands.py
  src/command_modules/azure-cli-acr/setup.py
Labels: Container Registry

#6603 [Network] Fix case sensitivity in DNS zone import.
  src/command_modules/azure-cli-network/HISTORY.rst
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_dns_zone2_import.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/test_dns_commands.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/zone_files/zone2.txt
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/zone_files/zone2.txt_export.txt
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/zone_files/zone4.txt
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/zone_file/parse_zone_file.py
  src/command_modules/azure-cli-network/setup.py
Labels: Network-cli, bug

#6586 Reservations RP: updating to python sdk 0.2.1
  src/command_modules/azure-cli-reservations/HISTORY.rst
  src/command_modules/azure-cli-reservations/azure/cli/command_modules/reservations/tests/latest/recordings/test_get_applied_reservation_order_ids.yaml
  src/command_modules/azure-cli-reservations/azure/cli/command_modules/reservations/tests/latest/recordings/test_get_catalog.yaml
  src/command_modules/azure-cli-reservations/azure/cli/command_modules/reservations/tests/latest/recordings/test_get_reservation.yaml
  src/command_modules/azure-cli-reservations/azure/cli/command_modules/reservations/tests/latest/recordings/test_get_reservation_order.yaml
  src/command_modules/azure-cli-reservations/azure/cli/command_modules/reservations/tests/latest/recordings/test_list_reservation.yaml
  src/command_modules/azure-cli-reservations/azure/cli/command_modules/reservations/tests/latest/recordings/test_list_reservation_history.yaml
  src/command_modules/azure-cli-reservations/azure/cli/command_modules/reservations/tests/latest/recordings/test_list_reservation_order.yaml
  src/command_modules/azure-cli-reservations/azure/cli/command_modules/reservations/tests/latest/recordings/test_split_and_merge.yaml
  src/command_modules/azure-cli-reservations/azure/cli/command_modules/reservations/tests/latest/recordings/test_update_reservation.yaml
  src/command_modules/azure-cli-reservations/azure/cli/command_modules/reservations/tests/latest/test_reservations_commands.py
  src/command_modules/azure-cli-reservations/setup.py
Labels: Reservations

#6631 [ACR] Add top and orderby parameters for show-manifests, general improvement
  src/command_modules/azure-cli-acr/HISTORY.rst
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/_docker_utils.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/_help.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/_params.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/_utils.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/credential.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/repository.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/tests/latest/test_acr_commands_mock.py
Labels: Container Registry

#6403 Add sql server & firewall-rule examples
  src/command_modules/azure-cli-sql/azure/cli/command_modules/sql/_help.py
  src/command_modules/azure-cli-sql/azure/cli/command_modules/sql/commands.py
Labels: Documentation, SQL

#6592 Introduce azure.cli.core.api to provide unified interfaces module
  src/azure-cli-core/azure/cli/core/api.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/custom.py
  src/command_modules/azure-cli-find/HISTORY.rst
  src/command_modules/azure-cli-find/azure/cli/command_modules/find/custom.py
  src/command_modules/azure-cli-find/setup.py
  src/command_modules/azure-cli-interactive/HISTORY.rst
  src/command_modules/azure-cli-interactive/azure/cli/command_modules/interactive/azclishell/app.py
  src/command_modules/azure-cli-interactive/setup.py
Labels: Core

#6635 vmss: remove a workaround for VMSS patch service bug
  src/command_modules/azure-cli-vm/HISTORY.rst
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/custom.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_explicit_msi.yaml
Labels: Compute

#6656 Fix `vnet check-ip-address` help
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_params.py
Labels: Documentation, Network-cli

#6618 [AKS] add enable-addons and disable-addons commands
  src/command_modules/azure-cli-acs/HISTORY.rst
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/_help.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/_params.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/commands.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/custom.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_default_service.yaml
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_service_no_wait.yaml
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/tests/latest/test_custom.py
Labels: ACS

#6633 [Cloud/ACR]Add acr login server suffix to cloud config
  src/azure-cli-core/azure/cli/core/cloud.py
  src/azure-cli-core/azure/cli/core/tests/test_cloud.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/_docker_utils.py
  src/command_modules/azure-cli-cloud/HISTORY.rst
  src/command_modules/azure-cli-cloud/azure/cli/command_modules/cloud/__init__.py
  src/command_modules/azure-cli-cloud/azure/cli/command_modules/cloud/custom.py
  src/command_modules/azure-cli-cloud/setup.py
Labels: Container Registry

#6666 Adding support to disable identity feature and removing preview tags
  src/command_modules/azure-cli-appservice/HISTORY.rst
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/_help.py
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/_params.py
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/commands.py
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/custom.py
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_assign_system_identity.yaml
Labels: Web Apps

#6684 Add `--no-wait` support to various commands
  .travis.yml
  src/command_modules/azure-cli-network/HISTORY.rst
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_format.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_help.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/commands.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/custom.py
  src/command_modules/azure-cli-resource/HISTORY.rst
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/_help.py
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/commands.py
  src/command_modules/azure-cli-vm/HISTORY.rst
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_help.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/commands.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/custom.py
Labels: Compute-cli, Network-cli, New Command(s), Resource Manager-cli

#6634 Add OS type parameter to build command
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/_params.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/build.py
Labels: Container Registry
