Repository Azure/azure-cli, pull requests merged in 2018-07, with the labels that each got.

#6582 [Batch] Enable token credential for cloudshell
  scripts/ci/test_extensions.sh
  src/command_modules/azure-cli-batch/HISTORY.rst
  src/command_modules/azure-cli-batch/azure/cli/command_modules/batch/_client_factory.py
  src/command_modules/azure-cli-batch/azure/cli/command_modules/batch/_command_type.py
  src/command_modules/azure-cli-batch/setup.py
Labels: Batch, Cloud Shell, Do Not Merge

#6701 Update multiapi storage sdk version.
  src/azure-cli-core/azure/cli/core/profiles/_shared.py
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_create_account_sas.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_create_storage_account.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_create_storage_account_v2.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_create_storage_account_with_assigned_identity.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_customer_managed_key.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_list_locations.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_list_storage_accounts.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_logging_operations.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_metrics_operations.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_renew_account_key.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_show_usage.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_account_service_endpoints.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_blob_append.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_blob_container_operations.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_blob_incremental_copy.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_blob_lease_operations.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_blob_metadata_operations.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_blob_snapshot_operations.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_blob_socket_timeout.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_blob_soft_delete.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_blob_upload_midsize_file.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_blob_upload_small_file.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_container_acl_scenarios.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_cors_scenario.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_create_default_sku.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_file_copy_scenario.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_file_main_scenario.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_queue_general_scenario.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_share_acl_scenarios.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_table_main_scenario.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_update_storage_account_with_assigned_identity.yaml
  src/command_modules/azure-cli-storage/setup.py
  src/command_modules/azure-cli-vm/setup.py
Labels: Storage-cli

#6724 [Network] Deprecate `--ids` on certain list commands
  src/azure-cli-core/azure/cli/core/commands/__init__.py
  src/azure-cli-core/azure/cli/core/commands/arm.py
  src/azure-cli-core/azure/cli/core/file_util.py
  src/azure-cli-core/azure/cli/core/tests/test_help.py
  src/azure-cli-testsdk/azure/cli/testsdk/__init__.py
  src/command_modules/azure-cli-interactive/HISTORY.rst
  src/command_modules/azure-cli-interactive/azure/cli/command_modules/interactive/azclishell/_dump_commands.py
  src/command_modules/azure-cli-interactive/setup.py
  src/command_modules/azure-cli-network/HISTORY.rst
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_params.py
Labels: Network-cli

#6735 [Resource] Suppress "deployment" commands on Stack profile
  src/command_modules/azure-cli-resource/HISTORY.rst
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/commands.py
Labels: Resource Manager-cli, bug

#6675 fix the wrong help
  src/command_modules/azure-cli-eventhubs/azure/cli/command_modules/eventhubs/_help.py
Labels: Documentation, Event Hub

#6741 Add table formatters for sql server and firewall-rule commands
  src/command_modules/azure-cli-sql/HISTORY.rst
  src/command_modules/azure-cli-sql/azure/cli/command_modules/sql/_format.py
  src/command_modules/azure-cli-sql/azure/cli/command_modules/sql/commands.py
Labels: Output, SQL

#6738 [ACR] Add attributes commands and detail flag under acr repository group
  src/command_modules/azure-cli-acr/HISTORY.rst
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/_help.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/_params.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/commands.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/repository.py
  src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/tests/latest/test_acr_commands_mock.py
Labels: Container Registry

#6739 Add `--force-string` flag to generic update.
  src/azure-cli-core/HISTORY.rst
  src/azure-cli-core/azure/cli/core/commands/arm.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_vnet.yaml
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/commands.py
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/custom.py
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/tests/latest/recordings/test_resource_group.yaml
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/tests/latest/test_resource.py
Labels: Feature, Infrastructure, Resource Manager-cli

#6758 vmss create: update default instance size to Standard_DS1_v2
  src/command_modules/azure-cli-vm/HISTORY.rst
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_params.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_validators.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_create_and_modify.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
  src/command_modules/azure-cli-vm/setup.py
Labels: Breaking Change, Compute-cli

#6771 [Network] Add ability to include default rules in `nsg rule list`
  src/command_modules/azure-cli-network/HISTORY.rst
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_params.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/commands.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/custom.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_nsg.yaml
Labels: Network-cli, Output

#6776 Added page_range property to 'blob show' for page blobs
  src/command_modules/azure-cli-storage/HISTORY.rst
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/commands.py
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/operations/blob.py
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_blob_upload_midsize_file.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_blob_upload_small_file.yaml
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/test_storage_blob_live_scenarios.py
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/test_storage_blob_scenarios.py
Labels: Storage-cli

#6766 Add OnErrorDeployment properties in ARM resource group level deployment
  src/command_modules/azure-cli-resource/HISTORY.rst
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/_params.py
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/_validators.py
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/custom.py
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/tests/latest/recordings/test_group_on_error_deployment_lastsuccessful.yaml
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/tests/latest/recordings/test_group_on_error_deployment_specificdeployment.yaml
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/tests/latest/test_resource.py
  src/command_modules/azure-cli-resource/setup.py
Labels: Feature, Resource Manager-cli

#6790 [ARM] Allow deployment create with `--parameters {}`
  src/command_modules/azure-cli-resource/HISTORY.rst
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/custom.py
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/tests/latest/test_resource_custom.py
Labels: Resource Manager-cli, bug

#6836 [RBAC] Fix `ad app update`
  src/command_modules/azure-cli-role/HISTORY.rst
  src/command_modules/azure-cli-role/azure/cli/command_modules/role/custom.py
  src/command_modules/azure-cli-role/azure/cli/command_modules/role/tests/latest/test_role_commands_thru_mock.py
  src/command_modules/azure-cli-role/setup.py
Labels: Authorization-cli, bug

#6843 Consolidate help fix PRs
  src/command_modules/azure-cli-network/HISTORY.rst
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_help.py
  src/command_modules/azure-cli-network/setup.py
  src/command_modules/azure-cli-servicebus/HISTORY.rst
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/_help.py
  src/command_modules/azure-cli-servicebus/setup.py
  src/command_modules/azure-cli-vm/HISTORY.rst
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_help.py
Labels: Documentation

#6849 Fix issue with profile display
  azure-cli2017.pyproj
  src/azure-cli-core/azure/cli/core/commands/__init__.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/__init__.py
  src/command_modules/azure-cli-appservice/HISTORY.rst
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/__init__.py
  src/command_modules/azure-cli-appservice/setup.py
  src/command_modules/azure-cli-batch/HISTORY.rst
  src/command_modules/azure-cli-batch/azure/cli/command_modules/batch/__init__.py
  src/command_modules/azure-cli-batch/setup.py
  src/command_modules/azure-cli-maps/HISTORY.rst
  src/command_modules/azure-cli-maps/azure/cli/command_modules/maps/__init__.py
  src/command_modules/azure-cli-maps/setup.py
  src/command_modules/azure-cli-reservations/HISTORY.rst
  src/command_modules/azure-cli-reservations/azure/cli/command_modules/reservations/__init__.py
  src/command_modules/azure-cli-reservations/setup.py
  src/command_modules/azure-cli-sql/HISTORY.rst
  src/command_modules/azure-cli-sql/azure/cli/command_modules/sql/__init__.py
  src/command_modules/azure-cli-sql/setup.py
Labels: Profile Versioning, bug

#6828 Add dependency check to CI
  .gitignore
  .travis.yml
  scripts/ci/test_integration.sh
  scripts/dependency/check.sh
  scripts/dependency/requirements.Darwin.external.txt
  scripts/dependency/requirements.Linux.external.txt
  src/__init__.py
  src/command_modules/__init__.py
  tools/automation/verify/__init__.py
  tools/automation/verify/verify_dependencies.py
Labels: Infrastructure

#6860 fix doc to display show_command
  doc/command_guidelines.md
Labels: Documentation

#6856 Add Azure Search CLI.
  azure-cli2017.pyproj
  doc/sphinx/azhelpgen/doc_source_map.json
  src/command_modules/azure-cli-search/HISTORY.rst
  src/command_modules/azure-cli-search/MANIFEST.in
  src/command_modules/azure-cli-search/README.rst
  src/command_modules/azure-cli-search/azure/__init__.py
  src/command_modules/azure-cli-search/azure/cli/__init__.py
  src/command_modules/azure-cli-search/azure/cli/command_modules/__init__.py
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/__init__.py
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/_client_factory.py
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/_help.py
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/_params.py
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/commands.py
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/custom.py
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/tests/__init__.py
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/tests/latest/__init__.py
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/tests/latest/recordings/test_admin_key_show_renew.yaml
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/tests/latest/recordings/test_query_key_create_delete_list.yaml
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/tests/latest/recordings/test_service_create_delete_list.yaml
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/tests/latest/recordings/test_service_create_delete_show.yaml
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/tests/latest/recordings/test_service_create_multi_partition.yaml
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/tests/latest/recordings/test_service_create_multi_replica.yaml
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/tests/latest/recordings/test_service_create_skus.yaml
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/tests/latest/recordings/test_service_update.yaml
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/tests/latest/test_admin_key.py
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/tests/latest/test_query_key.py
  src/command_modules/azure-cli-search/azure/cli/command_modules/search/tests/latest/test_service.py
  src/command_modules/azure-cli-search/azure_bdist_wheel.py
  src/command_modules/azure-cli-search/setup.cfg
  src/command_modules/azure-cli-search/setup.py
Labels: New Service

#6810 Service Bus: Added new cmdlet for Migration and added few properties
  src/command_modules/azure-cli-servicebus/HISTORY.rst
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/_client_factory.py
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/_help.py
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/_params.py
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/_validators.py
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/commands.py
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/custom.py
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_alias.yaml
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_migration.yaml
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_namespace.yaml
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_queue.yaml
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_rules.yaml
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_subscription.yaml
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_topic.yaml
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/tests/latest/test_servicebus_commands.py
  src/command_modules/azure-cli-servicebus/setup.py
Labels: New Command(s), Service Bus

#6883 Added an example for local-gateway and 5 for ddos-protection
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_help.py
Labels: Documentation, Network
