Repository Azure/azure-cli, pull requests merged in 2019-09, with the labels that each got.

#10255 [ACR] Default Disable the Pull Request Trigger for Task
  src/azure-cli/HISTORY.rst
  src/azure-cli/azure/cli/command_modules/acr/_help.py
  src/azure-cli/azure/cli/command_modules/acr/_params.py
  src/azure-cli/azure/cli/command_modules/acr/task.py
Labels: Container Registry

#10384 webapp: fixing zip deploy command to support connection_verify
  src/azure-cli/HISTORY.rst
  src/azure-cli/azure/cli/command_modules/appservice/_help.py
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_vnetE2E.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_webapp_commands.py
Labels: Web Apps

#10465 az webapp create ACR support
  src/azure-cli/HISTORY.rst
  src/azure-cli/azure/cli/command_modules/appservice/_help.py
  src/azure-cli/azure/cli/command_modules/appservice/_params.py
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_linux_webapp_quick_create.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_hyperv_e2e.yaml
Labels: Web Apps

#10389 [DO NOT MERGE] Fix #10354
  src/azure-cli/HISTORY.rst
  src/azure-cli/azure/cli/command_modules/resource/_params.py
  src/azure-cli/azure/cli/command_modules/resource/custom.py
  src/azure-cli/azure/cli/command_modules/resource/tests/hybrid_2018_03_01/recordings/test_group_deployment.yaml
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/recordings/test_group_deployment.yaml
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/sample_policy_set.json
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/sample_policy_set_parameterized.json
  src/azure-cli/setup.py
Labels: Do Not Merge

#10390 Appservice access restriction cmds
  src/azure-cli/HISTORY.rst
  src/azure-cli/azure/cli/command_modules/appservice/_help.py
  src/azure-cli/azure/cli/command_modules/appservice/_params.py
  src/azure-cli/azure/cli/command_modules/appservice/access_restrictions.py
  src/azure-cli/azure/cli/command_modules/appservice/commands.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_access_restriction_add.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_access_restriction_add_scm.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_access_restriction_add_service_endpoint.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_access_restriction_remove.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_access_restriction_remove_scm.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_access_restriction_set_complex.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_access_restriction_set_simple.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_access_restriction_show.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_access_restriction_slot.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_access_restriction_add.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_access_restriction_add_scm.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_access_restriction_add_service_endpoint.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_access_restriction_remove.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_access_restriction_remove_scm.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_access_restriction_set_complex.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_access_restriction_set_simple.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_access_restriction_show.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_access_restriction_slot.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_functionapp_access_restriction_commands.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_webapp_access_restriction_commands.py
Labels: Web Apps

#10428 webapp: az webapp up code refactoring
  src/azure-cli/azure/cli/command_modules/appservice/_create_util.py
  src/azure-cli/azure/cli/command_modules/appservice/_params.py
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_vnetE2E.yaml
Labels: Web Apps

#10536 [Compute] Update azure-mgmt-compute version to 8.0.0. vm/vmss create: Support --priority, --eviction-policy, --max-billing parameters. disk create: Allow specifying the exact size of the upload for customers who upload their disks directly. snapshot create: Support incremental snapshots for managed disks. (Issue #10478 & #10477)
  src/azure-cli-core/azure/cli/core/profiles/_shared.py
  src/azure-cli/HISTORY.rst
  src/azure-cli/azure/cli/command_modules/vm/_params.py
  src/azure-cli/azure/cli/command_modules/vm/_template_builder.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_create_by_attach_os_and_data_disks.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_create_custom_ip.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_create_from_unmanaged_disk.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_custom_image_name_conflict.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_disk_create_with_standard_zrs_sku.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_disk_create_zones.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_disk_storage_sku.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_disk_upload.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_managed_disk.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_os_disk_swap.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_priority_eviction_billing.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_snapshot_incremental.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_create_linux_secrets.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_update_instance_disks.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
  src/azure-cli/requirements.py2.Darwin.txt
  src/azure-cli/requirements.py2.Linux.txt
  src/azure-cli/requirements.py2.windows.txt
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: Do Not Merge

#10557 webapp: Appservice plan update supports Isolated SKU
  src/azure-cli/HISTORY.rst
  src/azure-cli/azure/cli/command_modules/appservice/_params.py
  src/azure-cli/azure/cli/command_modules/appservice/_validators.py
  src/azure-cli/azure/cli/command_modules/appservice/commands.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_auto_delete_plan.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_scale.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_vnetE2E.yaml
  src/azure-cli/azure/cli/command_modules/appservice/utils.py
Labels: Web Apps
