Repository Azure/azure-cli, pull requests merged in 2019-02, with the labels that each got.

#8412 Correct validation error message reported in #8411
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_validators.py
Labels: Network-cli

#8405 [Network] Fix CNAME export on DNS zone export
  src/command_modules/azure-cli-network/HISTORY.rst
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/custom.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_dns_zone1_import.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_dns_zone2_import.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_dns_zone3_import.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_dns_zone4_import.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_dns_zone5_import.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_dns_zone6_import.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/zone_files/zone1.txt_export.txt
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/zone_files/zone2.txt_export.txt
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/zone_files/zone3.txt
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/zone_files/zone3.txt_export.txt
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/zone_files/zone4.txt_export.txt
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/zone_files/zone5.txt_export.txt
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/zone_files/zone6.txt_export.txt
Labels: Network - DNS, bug

#8391 [Network] Make `nic ip-config address-pool` commands work with LB or AppGateway backend pools
  src/command_modules/azure-cli-network/HISTORY.rst
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_params.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_validators.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/custom.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_lb_rules.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_nic_address_pools.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_nic_ag_address_pools.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_nic_lb_address_pools.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_nic_subresources.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Labels: Network-cli

#8285 Add update available notification on `az --version`
  src/azure-cli-core/HISTORY.rst
  src/azure-cli-core/azure/cli/core/__init__.py
  src/azure-cli-core/azure/cli/core/util.py
Labels: Infrastructure

#8413 [functionapp] - add ability to create functionapp from acr
  src/command_modules/azure-cli-appservice/HISTORY.rst
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/_help.py
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/_params.py
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/commands.py
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/custom.py
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/tests/latest/recordings/test_acr_deployment_function_app.yaml
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/tests/latest/recordings/test_acr_integration_function_app.yaml
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/tests/latest/test_webapp_commands.py
Labels: Feature, Functions-cli

#8432 [Network] Update VNET peering create example
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_help.py
Labels: Documentation, Network-cli

#8433 [Monitor] Allow dimension values to include *
  src/command_modules/azure-cli-monitor/HISTORY.rst
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/grammar/MetricAlertCondition.g4
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/grammar/MetricAlertConditionLexer.py
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/grammar/MetricAlertConditionListener.py
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/grammar/MetricAlertConditionParser.py
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/tests/latest/recordings/test_metric_alert_v2_scenario.yaml
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/tests/latest/test_monitor_metric_alert_scenarios.py
Labels: Monitor-cli

#8436 [VMSS] Add secrets validation to VMSS create
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_validators.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_create_linux_secrets.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_create_windows_secrets.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_create_linux_secrets.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_run_command_e2e.yaml
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute-cli

#8448 Fix DNS zone export example
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_help.py
Labels: Documentation, Network-cli

#8325 Help Authoring Updates.
  doc/authoring_help.md
  doc/sphinx/azhelpgen/azhelpgen.py
  scripts/ci/precheck_header.sh
  scripts/temp_help/convert_all.py
  scripts/temp_help/help_convert.py
  src/azure-cli-core/azure/cli/core/__init__.py
  src/azure-cli-core/azure/cli/core/_help.py
  src/azure-cli-core/azure/cli/core/_help_loaders.py
  src/azure-cli-core/azure/cli/core/file_util.py
  src/azure-cli-core/azure/cli/core/tests/test_help.py
  src/azure-cli-core/azure/cli/core/tests/test_help_loaders.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/_help.py
  src/command_modules/azure-cli-container/azure/cli/command_modules/container/_help.py
  src/command_modules/azure-cli-redis/azure/cli/command_modules/redis/_params.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_help.py
Labels: Infrastructure

#8382 [functionapp] - devops-build command to create azure devops integrati…
  pylintrc
  src/command_modules/azure-cli-appservice/HISTORY.rst
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/_help.py
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/_params.py
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/azure_devops_build_iteractive.py
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/azure_devops_build_provider.py
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/commands.py
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/custom.py
  src/command_modules/azure-cli-appservice/setup.py
Labels: Functions

#8485 [Network] Tweak table format for `public-ip list/show`
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/commands.py
Labels: Network-cli, Output

#8484 Fix issues with Subscription ID
  src/azure-cli-core/HISTORY.rst
  src/azure-cli-core/azure/cli/core/commands/arm.py
  src/command_modules/azure-cli-resource/HISTORY.rst
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/custom.py
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/tests/latest/recordings/test_invoke_action.yaml
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/tests/latest/recordings/test_resource_create_and_show.yaml
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/tests/latest/recordings/test_resource_id_scenario.yaml
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/tests/latest/test_resource.py
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/latest/recordings/test_customer_managed_key.yaml
Labels: Core, Resource Manager-cli, bug

#8503 Remove unnecessary logging by HelpLoaderV1.
  src/azure-cli-core/azure/cli/core/_help_loaders.py
Labels: Documentation

#8529 [Network] VPN connection create/update. Add flag.
  src/command_modules/azure-cli-network/HISTORY.rst
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_help.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_params.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_template_builder.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/custom.py
Labels: Feature, Network-cli

#8536 [Network] Express Route commands and features
  src/azure-cli-core/azure/cli/core/__init__.py
  src/azure-cli-core/azure/cli/core/commands/parameters.py
  src/command_modules/azure-cli-network/HISTORY.rst
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/__init__.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_client_factory.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_help.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_params.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_util.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_validators.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/commands.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/custom.py
Labels: Network-cli, New Command(s)

#8550 Make type-check for deployment template prompts case insensitive
  src/command_modules/azure-cli-resource/HISTORY.rst
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/custom.py
Labels: Resource Manager-cli, bug

#8478 Update authoring.md
  doc/extensions/authoring.md
Labels: Documentation

#8554 [FunctionApp] URGENT DEVOPS FIX - One DevOps api has been switched off with no notice. These changes need to be included otherwise the entire az functionapp devops-build command will fail.
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/azure_devops_build_iteractive.py
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/azure_devops_build_provider.py
  src/command_modules/azure-cli-appservice/setup.py
Labels: Functions-cli

#8522 add cluster spn with metric publisher role to aks cluster resource during monitoring addon onboarding
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/custom.py
Labels: AKS

#8591 Tweaks to CLI tips
  doc/use_cli_effectively.md
Labels: Documentation

#8366 Update Batch CLI for latest REST API
  .github/CODEOWNERS
  src/command_modules/azure-cli-batch/HISTORY.rst
  src/command_modules/azure-cli-batch/azure/cli/command_modules/batch/_client_factory.py
  src/command_modules/azure-cli-batch/azure/cli/command_modules/batch/_help.py
  src/command_modules/azure-cli-batch/azure/cli/command_modules/batch/_parameter_format.py
  src/command_modules/azure-cli-batch/azure/cli/command_modules/batch/_params.py
  src/command_modules/azure-cli-batch/azure/cli/command_modules/batch/_validators.py
  src/command_modules/azure-cli-batch/azure/cli/command_modules/batch/commands.py
  src/command_modules/azure-cli-batch/azure/cli/command_modules/batch/custom.py
  src/command_modules/azure-cli-batch/azure/cli/command_modules/batch/tests/latest/data/batchCreateJob.json
  src/command_modules/azure-cli-batch/azure/cli/command_modules/batch/tests/latest/data/batchCreateJobScheduleForJobTests.json
  src/command_modules/azure-cli-batch/azure/cli/command_modules/batch/tests/latest/generate_full_cli_help
  src/command_modules/azure-cli-batch/azure/cli/command_modules/batch/tests/latest/generate_full_cli_help.bat
  src/command_modules/azure-cli-batch/azure/cli/command_modules/batch/tests/latest/recordings/test_batch_account_cmd.yaml
  src/command_modules/azure-cli-batch/azure/cli/command_modules/batch/tests/latest/recordings/test_batch_application_cmd.yaml
  src/command_modules/azure-cli-batch/azure/cli/command_modules/batch/tests/latest/recordings/test_batch_certificate_cmd.yaml
  src/command_modules/azure-cli-batch/azure/cli/command_modules/batch/tests/latest/recordings/test_batch_job_list_cmd.yaml
  src/command_modules/azure-cli-batch/azure/cli/command_modules/batch/tests/latest/recordings/test_batch_jobs_and_tasks.yaml
  src/command_modules/azure-cli-batch/azure/cli/command_modules/batch/tests/latest/recordings/test_batch_pool_cmd.yaml
  src/command_modules/azure-cli-batch/azure/cli/command_modules/batch/tests/latest/recordings/test_batch_pools_and_nodes.yaml
  src/command_modules/azure-cli-batch/azure/cli/command_modules/batch/tests/latest/recordings/test_batch_task_create_cmd.yaml
  src/command_modules/azure-cli-batch/azure/cli/command_modules/batch/tests/latest/test_batch_commands.py
  src/command_modules/azure-cli-batch/azure/cli/command_modules/batch/tests/latest/test_batch_data_plane_commands.py
  src/command_modules/azure-cli-batch/azure/cli/command_modules/batch/tests/latest/test_batch_mgmt_commands.py
  src/command_modules/azure-cli-batch/setup.py
Labels: Batch

#8595 [Network] Vnet Gateway gaps
  src/command_modules/azure-cli-network/HISTORY.rst
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_format.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_help.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_params.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_validators.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/commands.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/custom.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_vnet_gateway_ipsec.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_vpn_connection_ipsec.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Labels: Network - Gateways, New Command(s)

#8600 [Container] Support --no-wait on container start/restart.
  src/command_modules/azure-cli-container/HISTORY.rst
  src/command_modules/azure-cli-container/azure/cli/command_modules/container/commands.py
Labels: Container Instance

#8612 [Network] Fix VPN Connnection cross-subscription update scenario
  src/command_modules/azure-cli-network/HISTORY.rst
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_client_factory.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/custom.py
Labels: Network - VPN, bug

#8619 Remove upper limit on tabulate dependency.
  src/azure-cli-core/setup.py
Labels: Packaging

#8628 Changes to have CLI get along with AutoRest4
  doc/authoring_command_modules/authoring_commands.md
  src/azure-cli-core/azure/cli/core/__init__.py
  src/azure-cli-core/azure/cli/core/commands/arm.py
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/commands.py
  src/command_modules/azure-cli-backup/azure/cli/command_modules/backup/commands.py
  src/command_modules/azure-cli-batchai/azure/cli/command_modules/batchai/commands.py
  src/command_modules/azure-cli-billing/azure/cli/command_modules/billing/commands.py
  src/command_modules/azure-cli-botservice/azure/cli/command_modules/botservice/commands.py
  src/command_modules/azure-cli-cdn/azure/cli/command_modules/cdn/commands.py
  src/command_modules/azure-cli-cognitiveservices/azure/cli/command_modules/cognitiveservices/commands.py
  src/command_modules/azure-cli-container/azure/cli/command_modules/container/commands.py
  src/command_modules/azure-cli-cosmosdb/azure/cli/command_modules/cosmosdb/commands.py
  src/command_modules/azure-cli-dms/azure/cli/command_modules/dms/commands.py
  src/command_modules/azure-cli-eventgrid/azure/cli/command_modules/eventgrid/commands.py
  src/command_modules/azure-cli-eventhubs/azure/cli/command_modules/eventhubs/commands.py
  src/command_modules/azure-cli-hdinsight/azure/cli/command_modules/hdinsight/commands.py
  src/command_modules/azure-cli-keyvault/azure/cli/command_modules/keyvault/commands.py
  src/command_modules/azure-cli-kusto/azure/cli/command_modules/kusto/commands.py
  src/command_modules/azure-cli-lab/azure/cli/command_modules/lab/commands.py
  src/command_modules/azure-cli-maps/azure/cli/command_modules/maps/commands.py
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/commands.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/commands.py
  src/command_modules/azure-cli-policyinsights/azure/cli/command_modules/policyinsights/commands.py
  src/command_modules/azure-cli-rdbms/azure/cli/command_modules/rdbms/commands.py
  src/command_modules/azure-cli-redis/azure/cli/command_modules/redis/commands.py
  src/command_modules/azure-cli-relay/azure/cli/command_modules/relay/commands.py
  src/command_modules/azure-cli-reservations/azure/cli/command_modules/reservations/commands.py
  src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/commands.py
  src/command_modules/azure-cli-role/azure/cli/command_modules/role/commands.py
  src/command_modules/azure-cli-security/azure/cli/command_modules/security/commands.py
  src/command_modules/azure-cli-servicebus/azure/cli/command_modules/servicebus/commands.py
  src/command_modules/azure-cli-servicefabric/azure/cli/command_modules/servicefabric/commands.py
  src/command_modules/azure-cli-sql/azure/cli/command_modules/sql/commands.py
  src/command_modules/azure-cli-sqlvm/azure/cli/command_modules/sqlvm/commands.py
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/commands.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/commands.py
Labels: Do Not Merge
