Repository Azure/azure-cli, pull requests merged in 2019-01, with the labels that each got.

#8200 [Network] Live test failure fixes
  src/command_modules/azure-cli-network/HISTORY.rst
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/custom.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_active_active_vnet_connection.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Labels: Network-cli, bug

#8188 [Network] New Traffic Manager features
  src/command_modules/azure-cli-network/HISTORY.rst
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_params.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_validators.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/custom.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/hybrid_2018_03_01/recordings/test_network_traffic_manager.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/hybrid_2018_03_01/test_network_commands.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_dns.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_dns_alias.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_traffic_manager.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_traffic_manager_subnet_routing.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_private_dns.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/test_network_commands.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/profile_2017_03_09/recordings/test_network_traffic_manager.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/profile_2017_03_09/test_network_commands.py
  src/command_modules/azure-cli-network/setup.py
Labels: Feature, Network-cli

#8226 [Network] Fix DDOS Protection set comprehension
  src/command_modules/azure-cli-network/HISTORY.rst
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/custom.py
  src/command_modules/azure-cli-network/setup.py
Labels: Network-cli, bug

#8242 [Monitor] Support additional special characters in `metrics alert create`.
  src/command_modules/azure-cli-monitor/HISTORY.rst
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/grammar/MetricAlertCondition.g4
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/grammar/MetricAlertCondition.tokens
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/grammar/MetricAlertConditionLexer.py
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/grammar/MetricAlertConditionListener.py
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/grammar/MetricAlertConditionParser.py
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/grammar/antlr.bat
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/grammar/grun.bat
Labels: Monitor-cli

#8240 Small network and monitor fixes.
  src/azure-cli-core/azure/cli/core/commands/arm.py
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/_exception_handler.py
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/tests/latest/recordings/test_metric_alert_v2_scenario.yaml
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/tests/latest/test_monitor_metric_alert_scenarios.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/custom.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/hybrid_2018_03_01/recordings/test_network_ag_http_settings.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/hybrid_2018_03_01/test_network_commands.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_http_settings.yaml
Labels: Infrastructure, Monitor-cli, Network-cli

#8263 [Network] Update Network Watcher tests.
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Labels: Network-cli, Test

#8075 Add OpenShift (OSA) Support
  src/azure-cli-testsdk/HISTORY.rst
  src/azure-cli-testsdk/azure/cli/testsdk/__init__.py
  src/azure-cli-testsdk/azure/cli/testsdk/preparers.py
  src/azure-cli-testsdk/setup.py
  src/command_modules/azure-cli-acs/HISTORY.rst
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/_client_factory.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/_format.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/_help.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/_params.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/commands.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/custom.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/tests/latest/recordings/test_openshift_create_default_service.yaml
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/tests/latest/recordings/test_openshift_create_default_service_no_aad.yaml
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/tests/latest/recordings/test_openshift_create_service_no_wait.yaml
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/tests/latest/test_osa_commands.py
  src/command_modules/azure-cli-acs/setup.py
Labels: New Service

#8276 [Monitor] Improve `metrics list` help text.
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/_help.py
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/_params.py
Labels: Documentation, Monitor-cli

#8186 Sql vm command module
  src/command_modules/azure-cli-sqlvirtualmachine/HISTORY.rst
  src/command_modules/azure-cli-sqlvirtualmachine/MANIFEST.in
  src/command_modules/azure-cli-sqlvirtualmachine/README.rst
  src/command_modules/azure-cli-sqlvirtualmachine/azure/__init__.py
  src/command_modules/azure-cli-sqlvirtualmachine/azure/cli/__init__.py
  src/command_modules/azure-cli-sqlvirtualmachine/azure/cli/command_modules/__init__.py
  src/command_modules/azure-cli-sqlvirtualmachine/azure/cli/command_modules/sqlvm/__init__.py
  src/command_modules/azure-cli-sqlvirtualmachine/azure/cli/command_modules/sqlvm/_format.py
  src/command_modules/azure-cli-sqlvirtualmachine/azure/cli/command_modules/sqlvm/_help.py
  src/command_modules/azure-cli-sqlvirtualmachine/azure/cli/command_modules/sqlvm/_params.py
  src/command_modules/azure-cli-sqlvirtualmachine/azure/cli/command_modules/sqlvm/_util.py
  src/command_modules/azure-cli-sqlvirtualmachine/azure/cli/command_modules/sqlvm/_validators.py
  src/command_modules/azure-cli-sqlvirtualmachine/azure/cli/command_modules/sqlvm/commands.py
  src/command_modules/azure-cli-sqlvirtualmachine/azure/cli/command_modules/sqlvm/custom.py
  src/command_modules/azure-cli-sqlvirtualmachine/azure/cli/command_modules/sqlvm/tests/__init__.py
  src/command_modules/azure-cli-sqlvirtualmachine/azure/cli/command_modules/sqlvm/tests/latest/__init__.py
  src/command_modules/azure-cli-sqlvirtualmachine/azure/cli/command_modules/sqlvm/tests/latest/recordings/test_sqlvm_add_and_remove.yaml
  src/command_modules/azure-cli-sqlvirtualmachine/azure/cli/command_modules/sqlvm/tests/latest/recordings/test_sqlvm_create_and_delete.yaml
  src/command_modules/azure-cli-sqlvirtualmachine/azure/cli/command_modules/sqlvm/tests/latest/recordings/test_sqlvm_domain.yaml
  src/command_modules/azure-cli-sqlvirtualmachine/azure/cli/command_modules/sqlvm/tests/latest/recordings/test_sqlvm_group_mgmt.yaml
  src/command_modules/azure-cli-sqlvirtualmachine/azure/cli/command_modules/sqlvm/tests/latest/recordings/test_sqlvm_mgmt.yaml
  src/command_modules/azure-cli-sqlvirtualmachine/azure/cli/command_modules/sqlvm/tests/latest/test_sqlvm_commands.py
  src/command_modules/azure-cli-sqlvirtualmachine/azure_bdist_wheel.py
  src/command_modules/azure-cli-sqlvirtualmachine/setup.cfg
  src/command_modules/azure-cli-sqlvirtualmachine/setup.py
Labels: New Service

#8300 [Monitor] `metrics alert update`: Make ID comparison case insensitive.
  src/command_modules/azure-cli-monitor/HISTORY.rst
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/operations/metric_alert.py
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/tests/latest/recordings/test_metric_alert_v2_scenario.yaml
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/tests/latest/test_monitor_metric_alert_scenarios.py
  src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/validators.py
Labels: Monitor-cli, bug

#8294 [HDInsight] - Support ESP, BYOK and update tags
  src/command_modules/azure-cli-hdinsight/HISTORY.rst
  src/command_modules/azure-cli-hdinsight/azure/cli/command_modules/hdinsight/_client_factory.py
  src/command_modules/azure-cli-hdinsight/azure/cli/command_modules/hdinsight/_completers.py
  src/command_modules/azure-cli-hdinsight/azure/cli/command_modules/hdinsight/_help.py
  src/command_modules/azure-cli-hdinsight/azure/cli/command_modules/hdinsight/_params.py
  src/command_modules/azure-cli-hdinsight/azure/cli/command_modules/hdinsight/_validators.py
  src/command_modules/azure-cli-hdinsight/azure/cli/command_modules/hdinsight/commands.py
  src/command_modules/azure-cli-hdinsight/azure/cli/command_modules/hdinsight/custom.py
  src/command_modules/azure-cli-hdinsight/azure/cli/command_modules/hdinsight/tests/latest/recordings/test_hdinsight_application.yaml
  src/command_modules/azure-cli-hdinsight/azure/cli/command_modules/hdinsight/tests/latest/recordings/test_hdinsight_cluster_kafka.yaml
  src/command_modules/azure-cli-hdinsight/azure/cli/command_modules/hdinsight/tests/latest/recordings/test_hdinsight_cluster_kafka_with_optional_disk_args.yaml
  src/command_modules/azure-cli-hdinsight/azure/cli/command_modules/hdinsight/tests/latest/recordings/test_hdinsight_cluster_min_args.yaml
  src/command_modules/azure-cli-hdinsight/azure/cli/command_modules/hdinsight/tests/latest/recordings/test_hdinsight_cluster_resize.yaml
  src/command_modules/azure-cli-hdinsight/azure/cli/command_modules/hdinsight/tests/latest/recordings/test_hdinsight_cluster_rserver.yaml
  src/command_modules/azure-cli-hdinsight/azure/cli/command_modules/hdinsight/tests/latest/recordings/test_hdinsight_cluster_with_cluster_config.yaml
  src/command_modules/azure-cli-hdinsight/azure/cli/command_modules/hdinsight/tests/latest/recordings/test_hdinsight_cluster_with_component_version.yaml
  src/command_modules/azure-cli-hdinsight/azure/cli/command_modules/hdinsight/tests/latest/recordings/test_hdinsight_cluster_with_ssh_creds.yaml
  src/command_modules/azure-cli-hdinsight/azure/cli/command_modules/hdinsight/tests/latest/recordings/test_hdinsight_oms.yaml
  src/command_modules/azure-cli-hdinsight/azure/cli/command_modules/hdinsight/tests/latest/recordings/test_hdinsight_script_action.yaml
  src/command_modules/azure-cli-hdinsight/azure/cli/command_modules/hdinsight/tests/latest/recordings/test_hdinsight_usage.yaml
  src/command_modules/azure-cli-hdinsight/azure/cli/command_modules/hdinsight/tests/latest/test_hdinsight_commands.py
  src/command_modules/azure-cli-hdinsight/azure/cli/command_modules/hdinsight/util.py
  src/command_modules/azure-cli-hdinsight/setup.py
Labels: HDInsight, New Command(s)

#8147 Added Kusto
  azure-cli.pyproj
  doc/sphinx/azhelpgen/doc_source_map.json
  src/azure-cli-core/azure/cli/core/profiles/_shared.py
  src/command_modules/azure-cli-kusto/HISTORY.rst
  src/command_modules/azure-cli-kusto/MANIFEST.in
  src/command_modules/azure-cli-kusto/README.rst
  src/command_modules/azure-cli-kusto/azure/__init__.py
  src/command_modules/azure-cli-kusto/azure/cli/__init__.py
  src/command_modules/azure-cli-kusto/azure/cli/command_modules/__init__.py
  src/command_modules/azure-cli-kusto/azure/cli/command_modules/kusto/__init__.py
  src/command_modules/azure-cli-kusto/azure/cli/command_modules/kusto/_client_factory.py
  src/command_modules/azure-cli-kusto/azure/cli/command_modules/kusto/_help.py
  src/command_modules/azure-cli-kusto/azure/cli/command_modules/kusto/_params.py
  src/command_modules/azure-cli-kusto/azure/cli/command_modules/kusto/_validators.py
  src/command_modules/azure-cli-kusto/azure/cli/command_modules/kusto/commands.py
  src/command_modules/azure-cli-kusto/azure/cli/command_modules/kusto/custom.py
  src/command_modules/azure-cli-kusto/azure/cli/command_modules/kusto/tests/latest/recordings/test_kusto_cluster_life_cycle.yaml
  src/command_modules/azure-cli-kusto/azure/cli/command_modules/kusto/tests/latest/recordings/test_kusto_cluster_stop_start.yaml
  src/command_modules/azure-cli-kusto/azure/cli/command_modules/kusto/tests/latest/recordings/test_kusto_database_life_cycle.yaml
  src/command_modules/azure-cli-kusto/azure/cli/command_modules/kusto/tests/latest/test_kusto_commands.py
  src/command_modules/azure-cli-kusto/azure_bdist_wheel.py
  src/command_modules/azure-cli-kusto/setup.cfg
  src/command_modules/azure-cli-kusto/setup.py
  src/command_modules/azure-cli-sql/azure/cli/command_modules/sql/_help.py
Labels: New Service

#8332 Fix JSON input to `--ids` in bash
  src/azure-cli-core/HISTORY.rst
  src/azure-cli-core/azure/cli/core/commands/arm.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Labels: Infrastructure, bug

#8367 Add recommended syntax for asserting errors.
  doc/authoring_tests.md
Labels: Documentation, Test

#8380 Decorate commands that support --no-wait with g.wait_command('wait')
  src/command_modules/azure-cli-ams/HISTORY.rst
  src/command_modules/azure-cli-ams/azure/cli/command_modules/ams/_help.py
  src/command_modules/azure-cli-ams/azure/cli/command_modules/ams/commands.py
  src/command_modules/azure-cli-ams/setup.py
Labels: AMS
