Repository Azure/azure-cli, pull requests merged in 2019-07, with the labels that each got.

#9857 CI Updates (azdev and ADO)
  .travis.yml
  azure-pipelines.yml
  scripts/ci/install_azdev.sh
  scripts/ci/precheck_header.sh
  scripts/ci/precheck_pep8.sh
  scripts/ci/test_perf.sh
  scripts/ci/test_static.sh
  scripts/ci/verify_linter.sh
  src/azure-cli-core/azure/cli/core/commands/arm.py
  src/azure-cli/azure/cli/command_modules/acr/_archive_utils.py
  src/azure-cli/azure/cli/command_modules/acr/_docker_utils.py
  src/azure-cli/azure/cli/command_modules/acr/_stream_utils.py
  src/azure-cli/azure/cli/command_modules/acr/_utils.py
  src/azure-cli/azure/cli/command_modules/acr/check_health.py
  src/azure-cli/azure/cli/command_modules/acr/custom.py
  src/azure-cli/azure/cli/command_modules/acr/network_rule.py
  src/azure-cli/azure/cli/command_modules/acr/repository.py
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/proxy.py
  src/azure-cli/azure/cli/command_modules/advisor/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/utils.py
  src/azure-cli/azure/cli/command_modules/appservice/vsts_cd_provider.py
  src/azure-cli/azure/cli/command_modules/backup/custom.py
  src/azure-cli/azure/cli/command_modules/batch/_command_type.py
  src/azure-cli/azure/cli/command_modules/batch/custom.py
  src/azure-cli/azure/cli/command_modules/billing/_exception_handler.py
  src/azure-cli/azure/cli/command_modules/botservice/_exception_handler.py
  src/azure-cli/azure/cli/command_modules/botservice/bot_json_formatter.py
  src/azure-cli/azure/cli/command_modules/botservice/converged_app.py
  src/azure-cli/azure/cli/command_modules/botservice/custom.py
  src/azure-cli/azure/cli/command_modules/botservice/kudu_client.py
  src/azure-cli/azure/cli/command_modules/cognitiveservices/_params.py
  src/azure-cli/azure/cli/command_modules/cognitiveservices/custom.py
  src/azure-cli/azure/cli/command_modules/consumption/_exception_handler.py
  src/azure-cli/azure/cli/command_modules/consumption/_validators.py
  src/azure-cli/azure/cli/command_modules/consumption/custom.py
  src/azure-cli/azure/cli/command_modules/container/_validators.py
  src/azure-cli/azure/cli/command_modules/container/custom.py
  src/azure-cli/azure/cli/command_modules/cosmosdb/custom.py
  src/azure-cli/azure/cli/command_modules/dla/custom.py
  src/azure-cli/azure/cli/command_modules/iot/commands.py
  src/azure-cli/azure/cli/command_modules/iot/custom.py
  src/azure-cli/azure/cli/command_modules/keyvault/custom.py
  src/azure-cli/azure/cli/command_modules/lab/validators.py
  src/azure-cli/azure/cli/command_modules/profile/custom.py
  src/azure-cli/azure/cli/command_modules/role/_help.py
  src/azure-cli/azure/cli/command_modules/role/_params.py
  src/azure-cli/azure/cli/command_modules/storage/_help.py
Labels: Infrastructure

#9915 Add guidance for preview items.
  doc/authoring_command_modules/authoring_commands.md
Labels: Documentation

#9913 Fix requirements for RPM package
  scripts/release/rpm/azure-cli.spec
Labels: Packaging

#9922 Update Command Guidance for Complex Objects.
  README.md
  doc/authoring_command_modules/README.md
  doc/authoring_command_modules/authoring_commands.md
  doc/authoring_command_modules/example_module_template/HISTORY.rst
  doc/authoring_command_modules/example_module_template/README.rst
  doc/authoring_command_modules/example_module_template/azure/__init__.py
  doc/authoring_command_modules/example_module_template/azure/cli/__init__.py
  doc/authoring_command_modules/example_module_template/azure/cli/command_modules/__init__.py
  doc/authoring_command_modules/example_module_template/azure/cli/command_modules/example/__init__.py
  doc/authoring_command_modules/example_module_template/azure/cli/command_modules/example/_client_factory.py
  doc/authoring_command_modules/example_module_template/azure/cli/command_modules/example/_help.py
  doc/authoring_command_modules/example_module_template/azure/cli/command_modules/example/_params.py
  doc/authoring_command_modules/example_module_template/azure/cli/command_modules/example/commands.py
  doc/authoring_command_modules/example_module_template/azure/cli/command_modules/example/custom.py
  doc/authoring_command_modules/example_module_template/azure/cli/command_modules/example/tests/__init__.py
  doc/authoring_command_modules/example_module_template/azure/cli/command_modules/example/tests/test_example.py
  doc/authoring_command_modules/example_module_template/azure_bdist_wheel.py
  doc/authoring_command_modules/example_module_template/setup.cfg
  doc/authoring_command_modules/example_module_template/setup.py
  doc/authoring_help.md
  doc/authoring_tests.md
  doc/command_guidelines.md
  doc/extensions/myexampleextension/azext_myexampleextension/__init__.py
  doc/extensions/myexampleextension/setup.cfg
  doc/extensions/myexampleextension/setup.py
  doc/onboarding_guide.md
  doc/onboarding_guide.rst
  doc/preview_demo_scripts.md
  src/azure-cli-core/azure/cli/core/commands/__init__.py
  src/azure-cli/azure/cli/command_modules/network/_util.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/hybrid_2018_03_01/test_network_unit_tests.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_unit_tests.py
Labels: Documentation

#9906 [compute] dedicated host support
  src/azure-cli/HISTORY.rst
  src/azure-cli/azure/cli/command_modules/vm/_client_factory.py
  src/azure-cli/azure/cli/command_modules/vm/_help.py
  src/azure-cli/azure/cli/command_modules/vm/_params.py
  src/azure-cli/azure/cli/command_modules/vm/_template_builder.py
  src/azure-cli/azure/cli/command_modules/vm/_validators.py
  src/azure-cli/azure/cli/command_modules/vm/commands.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_dedicated_host_e2e.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_dedicated_host_get_instance_view.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
  src/azure-cli/requirements.py2.Darwin.txt
  src/azure-cli/requirements.py2.Linux.txt
  src/azure-cli/requirements.py2.windows.txt
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: New Command(s)

#9978 Add `--root-certs` to support user associate trusted root certificates with the HTTP settings.
  src/azure-cli/HISTORY.rst
  src/azure-cli/azure/cli/command_modules/network/_params.py
  src/azure-cli/azure/cli/command_modules/network/_validators.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_root_cert.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test-root-cert-2.cer
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/zone_files/zone1.txt_export.txt
  src/azure-cli/azure/cli/command_modules/network/tests/latest/zone_files/zone2.txt_export.txt
  src/azure-cli/azure/cli/command_modules/network/tests/latest/zone_files/zone3.txt_export.txt
  src/azure-cli/azure/cli/command_modules/network/tests/latest/zone_files/zone4.txt_export.txt
  src/azure-cli/azure/cli/command_modules/network/tests/latest/zone_files/zone5.txt_export.txt
  src/azure-cli/azure/cli/command_modules/network/tests/latest/zone_files/zone6.txt_export.txt
  src/azure-cli/azure/cli/command_modules/network/tests/latest/zone_files/zone7.txt_export.txt
  src/azure-cli/azure/cli/command_modules/network/tests/latest/zone_files/zone8.txt_export.txt
Labels: Network - Application Gateway, Network-cli

#10056 Remove "Preview" to fix issue #9938
  src/azure-cli/azure/cli/command_modules/storage/__init__.py
Labels: Storage-cli

#9471 Clarifying language for az network lb create
  src/azure-cli/azure/cli/command_modules/network/_help.py
Labels: Documentation, Network-cli, closing soon
