Repository Azure/azure-cli, pull requests merged in 2019-08, with the labels that each got.

#10067 Add network-rule support for Cognitive Services
  src/azure-cli/HISTORY.rst
  src/azure-cli/azure/cli/command_modules/cognitiveservices/_help.py
  src/azure-cli/azure/cli/command_modules/cognitiveservices/_params.py
  src/azure-cli/azure/cli/command_modules/cognitiveservices/commands.py
  src/azure-cli/azure/cli/command_modules/cognitiveservices/custom.py
  src/azure-cli/azure/cli/command_modules/cognitiveservices/tests/latest/recordings/test_cognitiveservices_custom_domain.yaml
  src/azure-cli/azure/cli/command_modules/cognitiveservices/tests/latest/recordings/test_cognitiveservices_network_rules.yaml
  src/azure-cli/azure/cli/command_modules/cognitiveservices/tests/latest/test_cognitiveservices_command.py
  src/azure-cli/azure/cli/command_modules/cognitiveservices/tests/latest/test_custom_domain.py
  src/azure-cli/azure/cli/command_modules/cognitiveservices/tests/latest/test_network_rules.py
  src/azure-cli/requirements.py2.Darwin.txt
  src/azure-cli/requirements.py2.Linux.txt
  src/azure-cli/requirements.py2.windows.txt
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: Cognitive Services, Network

#10082 [storage] Add az storage copy command using Azcopy
  .env
  src/azure-cli/HISTORY.rst
  src/azure-cli/azure/cli/command_modules/storage/_help.py
  src/azure-cli/azure/cli/command_modules/storage/_params.py
  src/azure-cli/azure/cli/command_modules/storage/commands.py
  src/azure-cli/azure/cli/command_modules/storage/operations/azcopy.py
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/test_storage_azcopy_scenarios.py
Labels: Storage

#10108 Monitor metrics alerts: Support custom namespace. Add guidance for using ANTLR code-gen.
  src/azure-cli/HISTORY.rst
  src/azure-cli/azure/cli/command_modules/monitor/grammar/MetricAlertCondition.g4
  src/azure-cli/azure/cli/command_modules/monitor/grammar/MetricAlertConditionLexer.py
  src/azure-cli/azure/cli/command_modules/monitor/grammar/MetricAlertConditionListener.py
  src/azure-cli/azure/cli/command_modules/monitor/grammar/MetricAlertConditionParser.py
  src/azure-cli/azure/cli/command_modules/monitor/grammar/MetricAlertConditionValidator.py
  src/azure-cli/azure/cli/command_modules/monitor/grammar/README.md
Labels: Feature Request, Monitor - Alerts
