Repository Azure/azure-cli, pull requests merged in 2019-03, with the labels that each got.

#8696 PyYaml fixes. Bump knack version.
  scripts/temp_help/help_convert.py
  src/azure-cli-core/azure/cli/core/_help_loaders.py
  src/azure-cli-core/setup.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/custom.py
  src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/tests/latest/test_custom.py
  src/command_modules/azure-cli-acs/setup.py
  src/command_modules/azure-cli-container/azure/cli/command_modules/container/custom.py
  src/command_modules/azure-cli-container/azure/cli/command_modules/container/tests/latest/recordings/test_container_export.yaml
  src/command_modules/azure-cli-container/azure/cli/command_modules/container/tests/latest/test_container_commands.py
  src/command_modules/azure-cli-container/setup.py
  src/command_modules/azure-cli-find/azure/cli/command_modules/find/_gather_commands.py
  tools/automation/cli_linter/__init__.py
  tools/automation/cli_linter/linter.py
  tools/setup.py
Labels: bug

#8496 Add code to handle supported_profiles in examples.
  doc/authoring_help.md
  scripts/temp_help/help_convert.py
  src/azure-cli-core/azure/cli/core/_help.py
  src/azure-cli-core/azure/cli/core/_profile.py
  src/azure-cli-core/azure/cli/core/tests/test_help.py
  src/command_modules/azure-cli-container/azure/cli/command_modules/container/_help.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_help.py
  src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/_help.py
  src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_help.py
  tools/automation/cli_linter/rules/help_rules.py
Labels: Documentation, Infrastructure, Profile Versioning

#8539 Add Zip Binaries
  Dockerfile
Labels: Feature, Web Apps-cli

#8738 Document @<json_file> --settings parameter.
  src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/_help.py
Labels: Documentation

#8800 [Network] Application Gateway rewrite rules
  doc/authoring_command_modules/authoring_commands.md
  src/azure-cli-core/azure/cli/core/commands/__init__.py
  src/azure-cli-core/azure/cli/core/commands/arm.py
  src/azure-cli-core/azure/cli/core/util.py
  src/command_modules/azure-cli-network/HISTORY.rst
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_help.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_params.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_util.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_validators.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/commands.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/custom.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_rewrite_rulesets.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Labels: Feature, Network-cli, New Command(s)

#8853 [Core] Improve `get_all_help` and `az self-test`
  src/azure-cli-core/azure/cli/core/file_util.py
  src/command_modules/azure-cli-profile/azure/cli/command_modules/profile/custom.py
Labels: Core, bug

#8869 [Extensions] Fix version "Unknown"
  src/azure-cli-core/HISTORY.rst
  src/azure-cli-core/azure/cli/core/extension/__init__.py
Labels: Core, Extensions, bug

#8870 [Network] AppGateway RewriteRule GET commands
  scripts/dependency/requirements.Darwin.external.txt
  scripts/dependency/requirements.Linux.external.txt
  src/command_modules/azure-cli-container/setup.py
  src/command_modules/azure-cli-hdinsight/setup.py
  src/command_modules/azure-cli-network/HISTORY.rst
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_completers.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_help.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/_params.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/commands.py
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_rewrite_rulesets.yaml
  src/command_modules/azure-cli-network/azure/cli/command_modules/network/tests/latest/test_network_commands.py
  src/command_modules/azure-cli-network/setup.py
  src/command_modules/azure-cli-servicefabric/setup.py
  src/command_modules/azure-cli-vm/setup.py
Labels: Network-cli, New Command(s)

#8896 Pin wheel version.
  src/azure-cli-core/setup.py
  src/command_modules/azure-cli-extension/setup.py
Labels: Core

#8922 `az --version`: fail-fast on connectivity problems
  src/azure-cli-core/azure/cli/core/util.py
Labels: Core, Performance
