Repository Azure/azure-cli, pull requests merged in 2019-12, with the labels that each got.

#11453 [Network] Update help message for misleading option --registration-vnets in dns zone
  src/azure-cli/azure/cli/command_modules/network/_params.py
Labels: Network - DNS

#11442 [CI] Move jobs in Travis to Azure DevOps
  .travis.yml
  azure-pipelines.yml
  scripts/ci/reject_master_prs.sh
  src/azure-cli-core/tox.ini
  src/azure-cli-telemetry/tox.ini
Labels: CI

#11485 Add support for uploading cert to a slot
  src/azure-cli/HISTORY.rst
  src/azure-cli/azure/cli/command_modules/appservice/_params.py
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_ssl.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_webapp_commands.py
Labels: Web Apps

#11574 [Release] Change separator from ++++++ to 2.0.78 for release 2.0.78
  src/azure-cli-core/HISTORY.rst
  src/azure-cli/HISTORY.rst
Labels: TargetRelease
