Repository Azure/azure-cli, pull requests merged in 2020-04, with the labels that each got.

#12827 {CI} Add explicitly timeout limit in Automation Full Test pipeline
  azure-pipelines-full-tests.yml
Labels: CI

#12893 [AppConfig]Resolve key vault reference for kv list and export commands
  src/azure-cli/azure/cli/command_modules/appconfig/_featuremodels.py
  src/azure-cli/azure/cli/command_modules/appconfig/_help.py
  src/azure-cli/azure/cli/command_modules/appconfig/_kv_helpers.py
  src/azure-cli/azure/cli/command_modules/appconfig/_params.py
  src/azure-cli/azure/cli/command_modules/appconfig/_validators.py
  src/azure-cli/azure/cli/command_modules/appconfig/keyvalue.py
  src/azure-cli/azure/cli/command_modules/appconfig/tests/latest/export_features.json
  src/azure-cli/azure/cli/command_modules/appconfig/tests/latest/export_features_prop.json
  src/azure-cli/azure/cli/command_modules/appconfig/tests/latest/export_features_yaml.json
  src/azure-cli/azure/cli/command_modules/appconfig/tests/latest/export_keyvault.json
  src/azure-cli/azure/cli/command_modules/appconfig/tests/latest/recordings/test_azconfig_kv.yaml
  src/azure-cli/azure/cli/command_modules/appconfig/tests/latest/recordings/test_resolve_keyvault.yaml
  src/azure-cli/azure/cli/command_modules/appconfig/tests/latest/test_appconfig_commands.py
Labels: App Configuration

#12877 [ACR] az acr run --cmd: disable working directory override
  src/azure-cli/azure/cli/command_modules/acr/_utils.py
Labels: ACR

#12949 {Core} Make CLI respect file logging configuration option: enable_log_file and AZURE_LOGGING_ENABLE_LOG_FILE env variable
  src/azure-cli-core/azure/cli/core/azlogging.py
Labels: Core

#12978 {Network} fix wrong usage example in test_nw_flow_log_delete
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_nw_flow_log_delete.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_nw_flow_log.py
Labels: Network, Network - Watcher

#12731 [ServiceFabric] Fix #12470 az sf create cluster, fix bugs in update durability and reliability and find vmss correctly through the code given a node type name
  src/azure-cli/azure/cli/command_modules/servicefabric/custom.py
  src/azure-cli/azure/cli/command_modules/servicefabric/tests/__init__.py
  src/azure-cli/azure/cli/command_modules/servicefabric/tests/latest/__init__.py
  src/azure-cli/azure/cli/command_modules/servicefabric/tests/latest/recordings/test_cluster.yaml
  src/azure-cli/azure/cli/command_modules/servicefabric/tests/latest/recordings/test_cluster_certs.yaml
  src/azure-cli/azure/cli/command_modules/servicefabric/tests/latest/test_sf_application.py
  src/azure-cli/azure/cli/command_modules/servicefabric/tests/latest/test_sf_cluster.py
  src/azure-cli/azure/cli/command_modules/servicefabric/tests/latest/test_util.py
Labels: Service Fabric

#12964 [AKS] update containerservice package
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_availability_zones.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_blb_vmas.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_cluster_with_apiserver_authorized_ranges_then_update.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_default_service.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_default_setting.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_private_cluster_then_update.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_service_no_wait.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_slb_vmss_with_default_mgd_outbound_ip_then_update.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_slb_vmss_with_outbound_ip_prefixes_then_update.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_slb_vmss_with_outbound_ip_then_update.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_with_paid_sku.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_managed_identity_with_service_principal.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_managed_identity_without_service_principal.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_nodepool_create_scale_delete.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_nodepool_system_pool.yaml
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: AKS

#12983 {Monitor} fix wrong mocking way in test_monitor_general_operations.py
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/test_monitor_general_operations.py
Labels: Monitor, Test

#12968 {KeyVault} Refine error messages
  src/azure-cli/azure/cli/command_modules/keyvault/custom.py
Labels: KeyVault

#12952 [Core] Support track1 and track2 mgmt SDK side by side in CLI
  src/azure-cli-core/azure/cli/core/_debug.py
  src/azure-cli-core/azure/cli/core/adal_authentication.py
  src/azure-cli-core/azure/cli/core/commands/__init__.py
  src/azure-cli-core/azure/cli/core/commands/arm.py
  src/azure-cli-core/azure/cli/core/commands/client_factory.py
  src/azure-cli-core/azure/cli/core/util.py
  src/azure-cli-core/setup.py
  src/azure-cli/azure/cli/command_modules/advisor/custom.py
  src/azure-cli/azure/cli/command_modules/backup/custom.py
  src/azure-cli/azure/cli/command_modules/backup/custom_afs.py
  src/azure-cli/azure/cli/command_modules/backup/custom_help.py
  src/azure-cli/azure/cli/command_modules/backup/custom_wl.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
Labels: Do Not Merge

#13002 {VM} Fix test_vmss_create_linux_secrets and test_vm_create_linux_secrets fail when running serially due to keyvault name is duplicated
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2019_03_01/recordings/test_vmss_create_linux_secrets.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2019_03_01/test_vm_commands.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_create_linux_secrets.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute - VM, Test

#12997 [Compute] az vm/vmss create: Add support for specialized image version
  src/azure-cli/azure/cli/command_modules/vm/_help.py
  src/azure-cli/azure/cli/command_modules/vm/_params.py
  src/azure-cli/azure/cli/command_modules/vm/_template_builder.py
  src/azure-cli/azure/cli/command_modules/vm/_validators.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_specialized_image.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute

#13046 {Core} Fix bug in core test test_parser that will affect exception stack while existing if argument parse raise Exception
  src/azure-cli-core/azure/cli/core/tests/test_parser.py
Labels: Core, Test

#13061 {Role} fix test fail when running in serial due to buggy way to swtich tempory folder back
  src/azure-cli/azure/cli/command_modules/role/tests/latest/test_role.py
Labels: Authorization, Test

#13089 {ARO} add __init__.py for ARO tests and update recording
  src/azure-cli/azure/cli/command_modules/aro/tests/__init__.py
  src/azure-cli/azure/cli/command_modules/aro/tests/latest/__init__.py
  src/azure-cli/azure/cli/command_modules/aro/tests/latest/recordings/test_aro_create.yaml
  src/azure-cli/azure/cli/command_modules/aro/tests/latest/recordings/test_aro_delete.yaml
  src/azure-cli/azure/cli/command_modules/aro/tests/latest/recordings/test_aro_list.yaml
  src/azure-cli/azure/cli/command_modules/aro/tests/latest/recordings/test_aro_list_credentials.yaml
  src/azure-cli/azure/cli/command_modules/aro/tests/latest/recordings/test_aro_show.yaml
  src/azure-cli/azure/cli/command_modules/aro/tests/latest/recordings/test_aro_update.yaml
Labels: ARO

#13053 {Identity} Use Azure Identity to login
  src/azure-cli-core/azure/cli/core/_credential.py
  src/azure-cli-core/azure/cli/core/_debug.py
  src/azure-cli-core/azure/cli/core/_identity.py
  src/azure-cli-core/azure/cli/core/_profile.py
  src/azure-cli-core/azure/cli/core/tests/test_profile.py
  src/azure-cli-core/azure/cli/core/tests/test_profile_v2016_06_01.py
  src/azure-cli/azure/cli/command_modules/configure/custom.py
  src/azure-cli/azure/cli/command_modules/profile/custom.py
Labels: Feature Request

#13069 [Compute] az vmss disk detach: fix data disk NoneType issue
  src/azure-cli/azure/cli/command_modules/vm/custom.py
Labels: Compute

#13102 [Core] fix logging file fd leaking
  src/azure-cli-core/azure/cli/core/azlogging.py
  src/azure-cli-core/setup.py
  src/azure-cli/azure/cli/__main__.py
  src/azure-cli/azure/cli/command_modules/feedback/tests/latest/test_feedback.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: Bug, Core, Test

#12609 [AppService] az webapp deployment source config-zip: remove sleep after request.get()
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
Labels: Web Apps

#13084 [AKS] az aks create: Add support for Windows
  src/azure-cli/azure/cli/command_modules/acs/_help.py
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_with_windows.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
Labels: AKS

#13134 {Compute} Delete stale test of image builder
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2018_03_01/latest/recordings/test_defer_only_commands.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2018_03_01/latest/recordings/test_image_build_managed_image.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2018_03_01/latest/recordings/test_image_build_managed_image_win.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2018_03_01/latest/recordings/test_image_build_shared_image.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2018_03_01/latest/recordings/test_image_builder_customizers.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2018_03_01/latest/recordings/test_image_template_basic.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2018_03_01/latest/recordings/test_image_template_basic_sig.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2018_03_01/latest/recordings/test_image_template_outputs.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2018_03_01/latest/test_image_builder_commands.py
Labels: Compute - Images, Test

#13136 [Core] fix core tests failed under certain profiles
  src/azure-cli-core/azure/cli/core/tests/test_help.py
Labels: Core, Test

#13112 {Compute} Update doc of image-version
  src/azure-cli/azure/cli/command_modules/vm/_params.py
Labels: Compute

#12240 [ACS] BREAKING CHANGE: ARO remove vnet-peer, upgrade to 2019-10-27-preview API version
  src/azure-cli/azure/cli/command_modules/acs/_client_factory.py
  src/azure-cli/azure/cli/command_modules/acs/_help.py
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/commands.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
Labels: ACS

#13153 [CI] Onboard pytest and deprecate nose for Automation Test
  .azure-pipelines/templates/automation_test.yml
  azure-pipelines.yml
Labels: CI

#12782 [Core] Unpin wheel version via pkginfo to query metadata for Python Package
  src/azure-cli-core/azure/cli/core/extension/__init__.py
  src/azure-cli-core/setup.py
Labels: Core, Extensions

#13219 {CI} Fix running full test timeout on profile when in batch mode
  .azure-pipelines/templates/automation_test.yml
  azure-pipelines.yml
Labels: CI

#11721 [SQL] `az sql instance-pool`: Add instance pools command group
  src/azure-cli/azure/cli/command_modules/sql/_format.py
  src/azure-cli/azure/cli/command_modules/sql/_help.py
  src/azure-cli/azure/cli/command_modules/sql/_params.py
  src/azure-cli/azure/cli/command_modules/sql/_util.py
  src/azure-cli/azure/cli/command_modules/sql/_validators.py
  src/azure-cli/azure/cli/command_modules/sql/commands.py
  src/azure-cli/azure/cli/command_modules/sql/custom.py
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/recordings/test_sql_instance_pool.yaml
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/test_sql_commands.py
Labels: Do Not Merge, Service Attention, feature-request

#13227 {Network} fix duplicated quotes for private-endpoint example
  src/azure-cli/azure/cli/command_modules/network/_help.py
Labels: Documentation, Network

#13222 [Extension] fix loading wrong metadata for wheel type extension
  src/azure-cli-core/azure/cli/core/extension/__init__.py
Labels: Core, Extensions

#13158 [ACR] `az acr check-health`: Fix "DOCKER_PULL_ERROR" on Windows
  src/azure-cli/azure/cli/command_modules/acr/check_health.py
Labels: ACR

#13251 {Extension} Enhance the ability to filter extension's dist-info in order to get correct METADATA
  src/azure-cli-core/azure/cli/core/extension/__init__.py
Labels: Core, Extensions
