Repository Azure/azure-cli, pull requests merged in 2020-11, with the labels that each got.

#15654 {Test} Pipeline
  scripts/live_test/CLITest.yml
  scripts/live_test/HISTORY.rst
  scripts/live_test/generate_index.py
Labels: Test Framework

#15673 [AKS] add ephemeral os functionality
  src/azure-cli/azure/cli/command_modules/acs/_consts.py
  src/azure-cli/azure/cli/command_modules/acs/_help.py
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_with_ephemeral_disk.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_with_managed_disk.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
Labels: AKS

#15718 [BACKUP] Fix #14976: KeyError fixed and help text improved
  src/azure-cli/azure/cli/command_modules/backup/_params.py
  src/azure-cli/azure/cli/command_modules/backup/custom_wl.py
Labels: Recovery Services Backup, customer-reported

#15736 {AppConfig} Stop passing resource to get_login_credentials method
  src/azure-cli/azure/cli/command_modules/appconfig/_utils.py
Labels: App Configuration

#15707 {AppService} Docs functionapp create plan property requires resource id if using a plan from a different rg
  src/azure-cli/azure/cli/command_modules/appservice/_params.py
Labels: Web Apps, customer-reported

#15664 [AMS] Change "region" to "location" in output string: az ams account sp create
  src/azure-cli/azure/cli/command_modules/ams/operations/sp.py
Labels: Media Services

#15797 {Find} az find: Update to use the appopriate User ID
  src/azure-cli/azure/cli/command_modules/find/custom.py
Labels: telemetry

#15786 [AKS] Engineering improvement: replace addon strings with constants
  src/azure-cli/azure/cli/command_modules/acs/_consts.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_custom.py
Labels: AKS

#15768 {Compute} Update help of vm disk attach
  src/azure-cli/azure/cli/command_modules/vm/_help.py
Labels: Compute

#15784 [AppService] Fix #11698 #15198 #14862 #15409: az webapp/functionapp config access-restriction add
  src/azure-cli/azure/cli/command_modules/appservice/_help.py
  src/azure-cli/azure/cli/command_modules/appservice/_params.py
  src/azure-cli/azure/cli/command_modules/appservice/_validators.py
  src/azure-cli/azure/cli/command_modules/appservice/access_restrictions.py
Labels: App Services

#15794 [AKS] Add custom download url support for 'az aks install-cli'
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_custom.py
Labels: AKS

#15573 [Compute] Enhancement of vm list-skus table format
  src/azure-cli/azure/cli/command_modules/vm/_format.py
Labels: Compute

#15751 [Compute] vm host group create: make --platform-fault-domain-count required and update help
  src/azure-cli/azure/cli/command_modules/vm/_params.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
Labels: Compute

#15721 [AppService] Fixes #15604, #15605: Add Dotnet5 support
  src/azure-cli/azure/cli/command_modules/appservice/_constants.py
  src/azure-cli/azure/cli/command_modules/appservice/_create_util.py
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/resources/WebappRuntimeStacks.json
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/python-hello-world-up.zip
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_linux_to_windows_fail.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_up_change_runtime_version.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_up_choose_os.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_up_choose_os_and_runtime.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_up_choose_runtime.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_up_dotnetcore_e2e.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_up_invalid_name.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_up_name_exists_in_subscription.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_up_name_exists_not_in_subscription.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_up_node_e2e.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_up_python_e2e.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_up_runtime_delimiters.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_up_statichtml_e2e.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_windows_to_linux_fail.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_webapp_up_commands.py
Labels: Web Apps

#15802 [ACS] add v3 deprecation warnings
  src/azure-cli/azure/cli/command_modules/acs/_help.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
Labels: ACS

#15697 [Billing] Add new command groups to manage Agreement, RoleAssignment, RoleDefinition and Instructions
  src/azure-cli/azure/cli/command_modules/billing/gen.zip
  src/azure-cli/azure/cli/command_modules/billing/generated/_client_factory.py
  src/azure-cli/azure/cli/command_modules/billing/generated/_help.py
  src/azure-cli/azure/cli/command_modules/billing/generated/_params.py
  src/azure-cli/azure/cli/command_modules/billing/generated/commands.py
  src/azure-cli/azure/cli/command_modules/billing/generated/custom.py
  src/azure-cli/azure/cli/command_modules/billing/manual/_help.py
  src/azure-cli/azure/cli/command_modules/billing/manual/_params.py
  src/azure-cli/azure/cli/command_modules/billing/manual/_validators.py
  src/azure-cli/azure/cli/command_modules/billing/manual/commands.py
  src/azure-cli/azure/cli/command_modules/billing/manual/custom.py
  src/azure-cli/azure/cli/command_modules/billing/report.md
  src/azure-cli/azure/cli/command_modules/billing/tests/latest/recordings/test_agreement_list_and_show.yaml
  src/azure-cli/azure/cli/command_modules/billing/tests/latest/recordings/test_billing_agreement_list_and_show.yaml
  src/azure-cli/azure/cli/command_modules/billing/tests/latest/recordings/test_instruction_create_and_update.yaml
  src/azure-cli/azure/cli/command_modules/billing/tests/latest/recordings/test_instruction_list_and_show.yaml
  src/azure-cli/azure/cli/command_modules/billing/tests/latest/recordings/test_permission_list.yaml
  src/azure-cli/azure/cli/command_modules/billing/tests/latest/recordings/test_role_assignment_list_and_show.yaml
  src/azure-cli/azure/cli/command_modules/billing/tests/latest/recordings/test_role_definition_list_and_show.yaml
  src/azure-cli/azure/cli/command_modules/billing/tests/latest/test_billing_scenario_incrementalGenerated.py
Labels: Billing

#15774 {Error Handling} Developer guidelines to onboad the new error output
  doc/command_guidelines.md
  doc/error_handling_guidelines.md
Labels: Error Handling

#15757 [Network] Fix bug that can't create a Standard_v2 application-gateway without a private static IP address
  src/azure-cli/azure/cli/command_modules/network/_template_builder.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_address_pool.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_auth_cert.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_frontend_ip_private.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_frontend_ip_public.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_frontend_port.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_http_listener.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_http_listener_with_multi_host_names.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_http_settings.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_probe.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_root_cert.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_rule.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_url_path_map.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_url_path_map_edge_case.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_zone.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_no_wait.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_redirect_config.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_rewrite_rulesets.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_waf_config.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_waf_custom_rule.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_waf_policy_managed_rules.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_waf_policy_managed_rules_exclusions.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_waf_policy_setting.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_waf_policy_with_application_gateway.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_waf_policy_with_version_and_type.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_waf_v2_config.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_with_defaults.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_with_existing_subnet.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_with_identity.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_with_private_ip.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_with_public_ip.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_with_waf_v2_sku.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_appgw_creation_with_public_and_private_ip.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_nic_app_gateway.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Labels: Network - Application Gateway

#15843 {Storage} Fix #15842: az storage blob delete-batch typo in docs
  src/azure-cli/azure/cli/command_modules/storage/_help.py
Labels: customer-reported

#15840 [AppService] functionapp: Added Node 14 preview support. Removed preview flag from custom handlers.
  src/azure-cli/azure/cli/command_modules/appservice/resources/LinuxFunctionsStacks.json
  src/azure-cli/azure/cli/command_modules/appservice/resources/WindowsFunctionsStacks.json
Labels: App Services

#15776 {Core} az login: Add error handling when finding subscriptions
  src/azure-cli-core/azure/cli/core/_profile.py
  src/azure-cli-core/azure/cli/core/adal_authentication.py
  src/azure-cli-core/azure/cli/core/tests/test_profile.py
Labels: Error Handling

#15867 [KeyVault] Support selective key restore for managed HSMs
  src/azure-cli/azure/cli/command_modules/keyvault/_params.py
  src/azure-cli/azure/cli/command_modules/keyvault/_validators.py
  src/azure-cli/azure/cli/command_modules/keyvault/commands.py
  src/azure-cli/azure/cli/command_modules/keyvault/custom.py
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_hsm_full_backup_restore.yaml
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_hsm_key_download.yaml
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_hsm_key_using_hsm_name.yaml
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_hsm_key_using_hsm_url.yaml
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_hsm_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_hsm_role.yaml
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_hsm_selective_key_restore.yaml
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/test_keyvault_commands.py
Labels: KeyVault

#15803 [AKS] az aks browse: point to Azure Portal Kubernetes resources view if k8s >=1.19 or kube-dashboard not enabled
  src/azure-cli/azure/cli/command_modules/acs/custom.py
Labels: AKS

#15695 [AppService] functionapp: Added warning if customer tries to switch functionapp from premium to consumption.
  src/azure-cli/azure/cli/command_modules/appservice/_params.py
  src/azure-cli/azure/cli/command_modules/appservice/commands.py
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
Labels: Web Apps

#15874 [Privatedns] az network private-dns zone import: Raise FileOperationError instead of FileNotFoundError if zone file doesn't exist
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_dns_commands.py
  src/azure-cli/azure/cli/command_modules/privatedns/custom.py
  src/azure-cli/azure/cli/command_modules/privatedns/tests/latest/test_privatedns_commands.py
Labels: Network

#15875 {Core} Fix the incorrect token expiration on ADAL tokens
  src/azure-cli-core/azure/cli/core/adal_authentication.py
Labels: Core

#15865 {Error Improvement} Adjust error types
  .github/pull_request_template.md
  doc/error_handling_guidelines.md
  src/azure-cli-core/azure/cli/core/_profile.py
  src/azure-cli-core/azure/cli/core/azclierror.py
  src/azure-cli-core/azure/cli/core/parser.py
  src/azure-cli-core/azure/cli/core/tests/test_profile.py
  src/azure-cli-core/azure/cli/core/util.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/privatedns/custom.py
Labels: Error Handling

#15775 {Storage} Add error handling for file related exceptions
  src/azure-cli/azure/cli/command_modules/storage/__init__.py
  src/azure-cli/azure/cli/command_modules/storage/_exception_handler.py
  src/azure-cli/azure/cli/command_modules/storage/_validators.py
  src/azure-cli/azure/cli/command_modules/storage/commands.py
Labels: Error Handling

#15754 {Doc} Update instructions on using airgapped clouds
  doc/use_cli_in_airgapped_clouds.md
Labels: Cloud

#15873 {Error Improvement} Catch the more general JMESPathError to cover more exceptions
  src/azure-cli-core/azure/cli/core/util.py
Labels: Error Handling

#15862 [AKS] Support BYO control plane identity
  src/azure-cli/azure/cli/command_modules/acs/_client_factory.py
  src/azure-cli/azure/cli/command_modules/acs/_help.py
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/_validators.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_control_plane_user_assigned_identity.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_validators.py
Labels: AKS

#15785 [AKS] az aks use-dev-spaces: Indicate that dev-spaces commands are deprecated
  src/azure-cli/azure/cli/command_modules/acs/commands.py
Labels: AKS

#15886 [Network] Fix NoneType error crash while deleting nonexisting resources of ApplicationGateway, LoadBalancer, Nic
  src/azure-cli/azure/cli/command_modules/network/_util.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_address_pool.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_auth_cert.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_frontend_ip_private.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_frontend_ip_public.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_frontend_port.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_http_listener.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_http_listener_with_multi_host_names.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_http_settings.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_probe.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_root_cert.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_rule.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_url_path_map.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_url_path_map_edge_case.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_zone.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_no_wait.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_redirect_config.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_rewrite_rulesets.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_waf_config.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_waf_custom_rule.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_waf_policy_managed_rules.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_waf_policy_managed_rules_exclusions.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_waf_policy_setting.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_waf_policy_with_application_gateway.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_waf_policy_with_version_and_type.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_waf_v2_config.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_with_defaults.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_with_existing_subnet.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_with_identity.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_with_private_ip.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_with_public_ip.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_with_waf_v2_sku.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_appgw_creation_with_public_and_private_ip.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_lb.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_lb_address_pool.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_lb_address_pool_addresses.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_lb_nat_pools.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_lb_nat_rules.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_lb_probes.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_lb_rules.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_lb_sku.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_lb_zone.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_load_balancer_ip_config.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_load_balancer_outbound_rules.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_nic.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_nic_ag_address_pools.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_nic_app_gateway.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_nic_convenience_commands.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_nic_lb_address_pools.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_nic_subresources.yaml
Labels: Error Handling, Network

#15905 {Network} Fix live test that caused by there is no self.skip() method
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_dns_commands.py
  src/azure-cli/azure/cli/command_modules/privatedns/tests/latest/test_privatedns_commands.py
Labels: Network

#15929 [Network] az network application-gateway http-listener: Fix bug that cannot create and update with WAF policy name
  src/azure-cli/azure/cli/command_modules/network/_validators.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_http_listener_with_waf_policy.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Labels: Network - Application Gateway

#15897 {ARO} minor CLI enhancements, including extension suppression
  src/azure-cli/azure/cli/command_modules/aro/__init__.py
  src/azure-cli/azure/cli/command_modules/aro/_rbac.py
  src/azure-cli/azure/cli/command_modules/aro/custom.py
Labels: ARO

#15861 [BACKUP] Fix #14976: CLI error improvements for ValueError and AttributeError cases
  src/azure-cli/azure/cli/command_modules/backup/custom_afs.py
  src/azure-cli/azure/cli/command_modules/backup/custom_base.py
  src/azure-cli/azure/cli/command_modules/backup/custom_help.py
  src/azure-cli/azure/cli/command_modules/backup/custom_wl.py
Labels: Recovery Services Backup, customer-reported

#15740 [aks] az aks nodepool add/update/upgrade: takes max surge parameter
  src/azure-cli/azure/cli/command_modules/acs/_help.py
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/_validators.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_validators.py
Labels: AKS

#15841 {Error Improvement} Failure recommendation enhancement
  src/azure-cli-core/azure/cli/core/command_recommender.py
  src/azure-cli-core/azure/cli/core/parser.py
Labels: Error Handling

#15926 [KeyVault] Add a parameter `--include-managed` for `az keyvault key/secret list` to list managed resources
  src/azure-cli/azure/cli/command_modules/keyvault/_command_type.py
  src/azure-cli/azure/cli/command_modules/keyvault/_params.py
  src/azure-cli/azure/cli/command_modules/keyvault/_transformers.py
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_key.yaml
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_secret.yaml
Labels: KeyVault

#15711 {Core} Vendor track 2 subscription SDK in azure-cli-core
  .flake8
  src/azure-cli-core/azure/cli/core/_profile.py
  src/azure-cli-core/azure/cli/core/adal_authentication.py
  src/azure-cli-core/azure/cli/core/tests/test_profile.py
  src/azure-cli-core/azure/cli/core/tests/test_profile_v2016_06_01.py
  src/azure-cli-core/azure/cli/core/vendored_sdks/__init__.py
  src/azure-cli-core/azure/cli/core/vendored_sdks/subscriptions/__init__.py
  src/azure-cli-core/azure/cli/core/vendored_sdks/subscriptions/_configuration.py
  src/azure-cli-core/azure/cli/core/vendored_sdks/subscriptions/_operations_mixin.py
  src/azure-cli-core/azure/cli/core/vendored_sdks/subscriptions/_subscription_client.py
  src/azure-cli-core/azure/cli/core/vendored_sdks/subscriptions/_version.py
  src/azure-cli-core/azure/cli/core/vendored_sdks/subscriptions/models.py
  src/azure-cli-core/azure/cli/core/vendored_sdks/subscriptions/py.typed
  src/azure-cli-core/azure/cli/core/vendored_sdks/subscriptions/v2016_06_01/__init__.py
  src/azure-cli-core/azure/cli/core/vendored_sdks/subscriptions/v2016_06_01/_configuration.py
  src/azure-cli-core/azure/cli/core/vendored_sdks/subscriptions/v2016_06_01/_metadata.json
  src/azure-cli-core/azure/cli/core/vendored_sdks/subscriptions/v2016_06_01/_subscription_client.py
  src/azure-cli-core/azure/cli/core/vendored_sdks/subscriptions/v2016_06_01/models/__init__.py
  src/azure-cli-core/azure/cli/core/vendored_sdks/subscriptions/v2016_06_01/models/_models.py
  src/azure-cli-core/azure/cli/core/vendored_sdks/subscriptions/v2016_06_01/models/_models_py3.py
  src/azure-cli-core/azure/cli/core/vendored_sdks/subscriptions/v2016_06_01/models/_subscription_client_enums.py
  src/azure-cli-core/azure/cli/core/vendored_sdks/subscriptions/v2016_06_01/operations/__init__.py
  src/azure-cli-core/azure/cli/core/vendored_sdks/subscriptions/v2016_06_01/operations/_operations.py
  src/azure-cli-core/azure/cli/core/vendored_sdks/subscriptions/v2016_06_01/operations/_subscription_client_operations.py
  src/azure-cli-core/azure/cli/core/vendored_sdks/subscriptions/v2016_06_01/operations/_subscriptions_operations.py
  src/azure-cli-core/azure/cli/core/vendored_sdks/subscriptions/v2016_06_01/operations/_tenants_operations.py
  src/azure-cli-core/azure/cli/core/vendored_sdks/subscriptions/v2016_06_01/py.typed
  src/azure-cli-core/azure/cli/core/vendored_sdks/subscriptions/v2019_11_01/__init__.py
  src/azure-cli-core/azure/cli/core/vendored_sdks/subscriptions/v2019_11_01/_configuration.py
  src/azure-cli-core/azure/cli/core/vendored_sdks/subscriptions/v2019_11_01/_metadata.json
  src/azure-cli-core/azure/cli/core/vendored_sdks/subscriptions/v2019_11_01/_subscription_client.py
  src/azure-cli-core/azure/cli/core/vendored_sdks/subscriptions/v2019_11_01/models/__init__.py
  src/azure-cli-core/azure/cli/core/vendored_sdks/subscriptions/v2019_11_01/models/_models.py
  src/azure-cli-core/azure/cli/core/vendored_sdks/subscriptions/v2019_11_01/models/_models_py3.py
  src/azure-cli-core/azure/cli/core/vendored_sdks/subscriptions/v2019_11_01/models/_subscription_client_enums.py
  src/azure-cli-core/azure/cli/core/vendored_sdks/subscriptions/v2019_11_01/operations/__init__.py
  src/azure-cli-core/azure/cli/core/vendored_sdks/subscriptions/v2019_11_01/operations/_operations.py
  src/azure-cli-core/azure/cli/core/vendored_sdks/subscriptions/v2019_11_01/operations/_subscription_client_operations.py
  src/azure-cli-core/azure/cli/core/vendored_sdks/subscriptions/v2019_11_01/operations/_subscriptions_operations.py
  src/azure-cli-core/azure/cli/core/vendored_sdks/subscriptions/v2019_11_01/operations/_tenants_operations.py
  src/azure-cli-core/azure/cli/core/vendored_sdks/subscriptions/v2019_11_01/py.typed
  src/azure-cli-core/setup.py
  src/azure-cli/setup.py
Labels: Track2

#15945 [AppService] Bugfix #14857: Let users update webapp config even with access restriction
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_update_site_configs_persists_ip_restrictions.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_vnetE2E.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_vnetSameName.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_webapp_commands.py
Labels: Web Apps

#15979 [BACKUP] az backup protection undelete: Added support for AzureWorkload protection undelete using CLI
  src/azure-cli/azure/cli/command_modules/backup/custom_base.py
  src/azure-cli/azure/cli/command_modules/backup/custom_wl.py
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_softdelete.yaml
Labels: customer-reported

#15999 [BACKUP] Fixed Bad Request Error for Correct Workload Type Input
  src/azure-cli/azure/cli/command_modules/backup/_params.py
  src/azure-cli/azure/cli/command_modules/backup/custom_common.py
  src/azure-cli/azure/cli/command_modules/backup/custom_wl.py
Labels: Recovery Services Backup, customer-reported

#15719 {Packaging} Add required python version in various setup.py
  src/azure-cli-core/setup.py
  src/azure-cli/setup.py
Labels: Packaging, customer-reported

#16003 [ServiceFabric] Update SF app docs. only support for arm deployed resources
  src/azure-cli/azure/cli/command_modules/servicefabric/_help.py
Labels: Service Fabric

#16020 [AppService] Allow Azure Functions Create to accept Python 3.9 parameters
  src/azure-cli/azure/cli/command_modules/appservice/_constants.py
  src/azure-cli/azure/cli/command_modules/appservice/resources/LinuxFunctionsStacks.json
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_on_linux_consumption_python_39.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_webapp_commands.py
Labels: App Services

#16062 {Compute} src/azure-cli/azure/cli/command_modules/vm/_help.py fix broken link
  src/azure-cli/azure/cli/command_modules/vm/_help.py
Labels: Compute

#15916 [storage] Typo fixes in help doc
  src/azure-cli/azure/cli/command_modules/storage/_help.py
Labels: customer-reported

#16036 {Misc} Mark az upgrade preview
  src/azure-cli/azure/cli/command_modules/util/commands.py
Labels: Upgrade
