Repository Azure/azure-cli, pull requests merged in 2020-02, with the labels that each got.

#12050 {Resource} Bump to azure-mgmt-resource~=8.0.1
  src/azure-cli-core/setup.py
  src/azure-cli/requirements.py2.Darwin.txt
  src/azure-cli/requirements.py2.Linux.txt
  src/azure-cli/requirements.py2.windows.txt
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: Do Not Merge

#11716 [Aladdin] Parse generated examples into commands' _help.py
  src/azure-cli/azure/cli/command_modules/cloud/_help.py
  src/azure-cli/azure/cli/command_modules/keyvault/_help.py
  src/azure-cli/azure/cli/command_modules/monitor/_help.py
  src/azure-cli/azure/cli/command_modules/network/_help.py
  src/azure-cli/azure/cli/command_modules/privatedns/_help.py
  src/azure-cli/azure/cli/command_modules/resource/_help.py
  src/azure-cli/azure/cli/command_modules/storage/_help.py
  src/azure-cli/azure/cli/command_modules/vm/_help.py
Labels: Documentation

#11955 [AppService] Add az webapp|functionapp config ssl create
  src/azure-cli/azure/cli/command_modules/appservice/_help.py
  src/azure-cli/azure/cli/command_modules/appservice/_params.py
  src/azure-cli/azure/cli/command_modules/appservice/commands.py
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_webapp_commands_thru_mock.py
Labels: Web Apps

#12203 {CI} Remove files only related to Travis
  .travis.yml
  scripts/ci/build_droid.sh
  scripts/ci/publish.py
  scripts/ci/publish.sh
Labels: CI

#12174 [AKS] fix the aks browse in cloud shell.
  src/azure-cli/azure/cli/command_modules/acs/custom.py
Labels: AKS

#12208 {Docker} Slim down docker images
  .dockerignore
Labels: Packaging/Docker

#12322 {Network} Fix wrong import ZoneType of DNS
  src/azure-cli/azure/cli/command_modules/network/_params.py
Labels: Network - DNS

#12341 {Container monitoring} - Add case insensitive string compare for msi string
  src/azure-cli/azure/cli/command_modules/acs/custom.py
Labels: ACS

#12318 [AppService] functionapp: Added error message to deployment command if resource group/function name invalid
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
Labels: Web Apps

#12336 [ACR] Add new command `az acr helm install-cli`
  src/azure-cli/azure/cli/command_modules/acr/_help.py
  src/azure-cli/azure/cli/command_modules/acr/_params.py
  src/azure-cli/azure/cli/command_modules/acr/commands.py
  src/azure-cli/azure/cli/command_modules/acr/helm.py
Labels: ACR

#12371 [Network] az network vnet list-available-ips: support list available ips in a vnet
  src/azure-cli/azure/cli/command_modules/network/_help.py
  src/azure-cli/azure/cli/command_modules/network/commands.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_vnet_list_available_ips.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Labels: Network

#12312 {AppService} Add ip-address validation
  src/azure-cli/azure/cli/command_modules/appservice/_params.py
  src/azure-cli/azure/cli/command_modules/appservice/_validators.py
  src/azure-cli/azure/cli/command_modules/appservice/access_restrictions.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_access_restriction_add_ip_address_validation.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_access_restriction_add_ip_address_validation.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_functionapp_access_restriction_commands.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_webapp_access_restriction_commands.py
Labels: Web Apps

#12317 [AppService] functionapp: Updated container image configuration for Linux apps
  src/azure-cli/azure/cli/command_modules/appservice/_constants.py
  src/azure-cli/azure/cli/command_modules/appservice/_params.py
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_on_linux.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_on_linux_app_service_java.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_on_linux_functions_version.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_on_linux_version.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_webapp_commands.py
Labels: Web Apps
