Repository Azure/azure-cli, pull requests merged in 2020-10, with the labels that each got.

#15311 [AKS] Support add Spot node pool
  src/azure-cli/azure/cli/command_modules/acs/_consts.py
  src/azure-cli/azure/cli/command_modules/acs/_help.py
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/_validators.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_spot_node_pool.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
Labels: AKS

#15319 {Core} Define new error types
  src/azure-cli-core/azure/cli/core/azclierror.py
  src/azure-cli-core/azure/cli/core/commands/__init__.py
  src/azure-cli-core/azure/cli/core/commands/arm.py
  src/azure-cli-core/azure/cli/core/parser.py
  src/azure-cli-core/azure/cli/core/telemetry.py
  src/azure-cli-core/azure/cli/core/tests/test_util.py
  src/azure-cli-core/azure/cli/core/util.py
Labels: Error Handling

#15328 {Core} Catch psutil importing error on cygwin
  src/azure-cli-core/azure/cli/core/telemetry.py
Labels: Packaging

#15238 [Compute] Add new command to support upgrading extensions for VMSS
  src/azure-cli/azure/cli/command_modules/vm/_help.py
  src/azure-cli/azure/cli/command_modules/vm/commands.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
Labels: Compute

#15331 {History} Fix note extraction in description
  scripts/release/generate_history_notes.py
Labels: EngSys

#15299 {Cloud} Add Azure Portal Uri
  src/azure-cli-core/azure/cli/core/cloud.py
Labels: Cloud

#15304 {Network} private-link-resource list: Update argument help message to make more clear
  src/azure-cli/azure/cli/command_modules/network/_params.py
Labels: Network - Private Link

#15254 [ACR] Add logtemplate and systemtask changes for ACR Tasks
  src/azure-cli/azure/cli/command_modules/acr/_constants.py
  src/azure-cli/azure/cli/command_modules/acr/_params.py
  src/azure-cli/azure/cli/command_modules/acr/build.py
  src/azure-cli/azure/cli/command_modules/acr/run.py
  src/azure-cli/azure/cli/command_modules/acr/task.py
  src/azure-cli/azure/cli/command_modules/acr/tests/latest/recordings/test_acr_agentpool.yaml
  src/azure-cli/azure/cli/command_modules/acr/tests/latest/recordings/test_acr_create_replication.yaml
  src/azure-cli/azure/cli/command_modules/acr/tests/latest/recordings/test_acr_create_webhook.yaml
  src/azure-cli/azure/cli/command_modules/acr/tests/latest/recordings/test_acr_create_with_audits.yaml
  src/azure-cli/azure/cli/command_modules/acr/tests/latest/recordings/test_acr_create_with_managed_registry.yaml
  src/azure-cli/azure/cli/command_modules/acr/tests/latest/recordings/test_acr_encryption_with_cmk.yaml
  src/azure-cli/azure/cli/command_modules/acr/tests/latest/recordings/test_acr_identity.yaml
  src/azure-cli/azure/cli/command_modules/acr/tests/latest/recordings/test_acr_network_rule.yaml
  src/azure-cli/azure/cli/command_modules/acr/tests/latest/recordings/test_acr_task.yaml
  src/azure-cli/azure/cli/command_modules/acr/tests/latest/recordings/test_acr_taskrun.yaml
  src/azure-cli/azure/cli/command_modules/acr/tests/latest/recordings/test_acr_with_dedicated_data_endpoints.yaml
  src/azure-cli/azure/cli/command_modules/acr/tests/latest/recordings/test_acr_with_private_endpoint.yaml
  src/azure-cli/azure/cli/command_modules/acr/tests/latest/recordings/test_acr_with_public_network_access.yaml
  src/azure-cli/azure/cli/command_modules/acr/tests/latest/recordings/test_check_name_availability.yaml
  src/azure-cli/azure/cli/command_modules/acr/tests/latest/recordings/test_repository_token_create.yaml
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: Container Registry

#15451 {Packaging} fix removal of networking package 2018-08-01
  build_scripts/windows/scripts/build.cmd
  scripts/release/rpm/azure-cli.spec
Labels: Packaging

#14992 [Compute] Fix a vmss update, disk attach/detach, extension set/delete issue
  src/azure-cli/azure/cli/command_modules/vm/commands.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_update_image.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute

#15376 [AKS] Honor addon names defined in Azure CLI
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_custom.py
Labels: AKS

#15373 [AppService] Bugfix: az webapp up fails when user doesn't have write permissions to project's parent directory
  src/azure-cli/azure/cli/command_modules/appservice/_create_util.py
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_up_different_skus.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_up_dotnetcore_e2e.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_up_invalid_name.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_up_name_exists_in_subscription.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_up_name_exists_not_in_subscription.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_up_node_e2e.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_up_python_e2e.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_up_statichtml_e2e.yaml
Labels: Web Apps

#15364 [App Service] fix#-13777-Fix to remove escape chars from XML
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
Labels: App Services

#15446 [AppService] Fixes #15441: az webapp create-remote-connection fails with AttributeError: 'Thread' object has no attribute 'isAlive'
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
Labels: customer-reported

#15487 {KeyVault} Fix a wrong condition while processing storage uri
  src/azure-cli/azure/cli/command_modules/keyvault/_validators.py
Labels: KeyVault

#15228 [Docker] Add bash-completion to Dockerfile
  Dockerfile
Labels: Packaging

#15463 {Docker} Rename local docker image tag
  README.md
  scripts/release/debian/README.md
  scripts/release/rpm/README.md
  scripts/release/rpm/pipeline.sh
Labels: Packaging

#15508 {Packaging} Remove azure-devtools as a dependency
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
Labels: Packaging

#15540 {Compute} Add min api information for list_associated_resources
  src/azure-cli/azure/cli/command_modules/vm/commands.py
Labels: Compute

#15542 [BACKUP] az backup policy create: Added support for IaaSVM backup policy creation from CLI
  src/azure-cli/azure/cli/command_modules/backup/custom.py
  src/azure-cli/azure/cli/command_modules/backup/custom_base.py
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_policy.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/test_backup_commands.py
Labels: Recovery Services Backup, customer-reported

#15516 {Packaging} Remove vcrpy as a dependency
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
Labels: Packaging

#15449 [AppConfig] Fix querying key-values by comma separated labels
  src/azure-cli/azure/cli/command_modules/appconfig/_kv_helpers.py
  src/azure-cli/azure/cli/command_modules/appconfig/_utils.py
  src/azure-cli/azure/cli/command_modules/appconfig/feature.py
  src/azure-cli/azure/cli/command_modules/appconfig/keyvalue.py
  src/azure-cli/azure/cli/command_modules/appconfig/tests/latest/recordings/test_azconfig_kv.yaml
  src/azure-cli/azure/cli/command_modules/appconfig/tests/latest/test_appconfig_commands.py
Labels: App Configuration

#15515 {Test} Pipeline
  scripts/live_test/CLITest.yml
  scripts/live_test/HISTORY.rst
  scripts/live_test/generate_index.py
  scripts/live_test/sendemail.py
Labels: Test Framework

#15563 [Backup] increasing VM protection limit from 100 to 1000
  src/azure-cli/azure/cli/command_modules/backup/custom.py
Labels: Recovery Services Backup

#15549 [Compute] sig image-definition create: add --features; New API version of gallery_images 2020-09-30
  src/azure-cli-core/azure/cli/core/profiles/_shared.py
  src/azure-cli/azure/cli/command_modules/vm/_params.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_gallery_e2e.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_gallery_specialized.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_image_build_shared_image.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_image_builder_basic_sig.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_specialized_image.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_disk_max_shares_etc.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: Compute

#15522 [AppService] BREAKING CHANGE: az webapp up: add optional params (os & runtime) and updated runtimes
  src/azure-cli/azure/cli/command_modules/appservice/_constants.py
  src/azure-cli/azure/cli/command_modules/appservice/_create_util.py
  src/azure-cli/azure/cli/command_modules/appservice/_params.py
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/resources/WebappRuntimeStacks.json
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/node-Express-up-windows.zip
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_download_win_web_log.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_linux_to_windows_fail.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_e2e.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_up_choose_os.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_up_choose_os_and_runtime.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_up_choose_runtime.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_up_different_skus.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_up_dotnetcore_e2e.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_up_invalid_name.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_up_name_exists_in_subscription.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_up_name_exists_not_in_subscription.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_up_node_e2e.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_up_python_e2e.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_up_runtime_delimiters.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_up_statichtml_e2e.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_win_webapp_quick_create.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_win_webapp_quick_create_cd.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_win_webapp_quick_create_runtime.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_windows_to_linux_fail.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_webapp_commands.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_webapp_up_commands.py
Labels: Web Apps

#15444 [Audit policy] Support Event Hub and Log Analytics in server and database audit policy commands
  src/azure-cli/azure/cli/command_modules/sql/_help.py
  src/azure-cli/azure/cli/command_modules/sql/_params.py
  src/azure-cli/azure/cli/command_modules/sql/commands.py
  src/azure-cli/azure/cli/command_modules/sql/custom.py
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/recordings/test_sql_db_security_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/recordings/test_sql_server_security_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/test_sql_commands.py
Labels: customer-reported

#15570 {Core} Skip positional arguments for failure recommendations
  src/azure-cli-core/azure/cli/core/command_recommender.py
Labels: Error Handling

#15562 [AKS] update max standard load balancer timeout to 100 minutes
  src/azure-cli/azure/cli/command_modules/acs/_help.py
  src/azure-cli/azure/cli/command_modules/acs/_validators.py
Labels: AKS

#15607 {Compute} Update help of vm create --host --host-group
  src/azure-cli/azure/cli/command_modules/vm/_params.py
Labels: Compute

#15501 {KeyVault} Fix a filter bug while deleting role assignments
  src/azure-cli/azure/cli/command_modules/keyvault/_client_factory.py
  src/azure-cli/azure/cli/command_modules/keyvault/_validators.py
  src/azure-cli/azure/cli/command_modules/keyvault/commands.py
Labels: KeyVault

#15535 {KeyVault} Add new profile `2020-09-01-hybrid` in function `is_azure_stack_profile`
  src/azure-cli/azure/cli/command_modules/keyvault/_client_factory.py
Labels: KeyVault

#15504 [KeyVault] Invalidate `--enable-soft-delete false` while creating or updating vaults
  src/azure-cli/azure/cli/command_modules/keyvault/custom.py
Labels: KeyVault

#15571 [KeyVault] Make `--bypass` and `--default-action` work together with network acl parameters while creating vaults
  src/azure-cli/azure/cli/command_modules/keyvault/custom.py
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_key.yaml
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_network_rule.yaml
Labels: KeyVault

#15599 {Auto Complete} Fix default completer
  src/azure-cli-core/azure/cli/core/parser.py
Labels: Error Handling

#15472 {Core} Enrich user-agent for az rest
  src/azure-cli-core/azure/cli/core/tests/test_util.py
  src/azure-cli-core/azure/cli/core/util.py
Labels: telemetry

#15613 {Error Improvement} Catch and categorize HttpError in core exception handler
  src/azure-cli-core/azure/cli/core/util.py
Labels: Error Handling

#15553 {Cloud} Refactor patch method for endpoints when they are not added in ARM metadata yet
  src/azure-cli-core/azure/cli/core/cloud.py
Labels: Cloud

#15608 {Telemetry} Add platform information and some config values
  src/azure-cli-core/azure/cli/core/telemetry.py
  src/azure-cli/azure/cli/command_modules/config/custom.py
Labels: telemetry

#15221 [Storage] `az storage fs access`: Support managing ACLs recursively
  src/azure-cli/azure/cli/command_modules/storage/__init__.py
  src/azure-cli/azure/cli/command_modules/storage/_help.py
  src/azure-cli/azure/cli/command_modules/storage/_params.py
  src/azure-cli/azure/cli/command_modules/storage/_validators.py
  src/azure-cli/azure/cli/command_modules/storage/commands.py
  src/azure-cli/azure/cli/command_modules/storage/docs/ADLS Gen2.md
  src/azure-cli/azure/cli/command_modules/storage/operations/fs_directory.py
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_adls_access_recursive_scenarios.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/test_storage_adls_gen2_scenarios.py
Labels: Need SDK released

#15657 [KeyVault] Refine error messages for HSM `list-deleted` and `purge`
  src/azure-cli/azure/cli/command_modules/keyvault/_validators.py
  src/azure-cli/azure/cli/command_modules/keyvault/custom.py
Labels: KeyVault

#15497 [AppService]: fix #13646 - Unable to create App Service Plan in a different resource group to App Service Environment
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
Labels: App Services

#15606 [Compute] Fix update permission check issue
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/disk_encryption.py
Labels: Compute

#15509 [Batch] Fix #15464: Update check for pfx file without password in batch create_certificate
  src/azure-cli/azure/cli/command_modules/batch/custom.py
Labels: Batch, customer-reported

#15710 {Test} Fix live tests for aks, advisor, appconfig, cognitiveservices, cosmosdb, dls, hdinsight, policyinsights, iot, role, security, servicefabric
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_scale_with_custom_nodepool_name.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_service_no_wait.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
  src/azure-cli/azure/cli/command_modules/advisor/custom.py
  src/azure-cli/azure/cli/command_modules/advisor/tests/latest/test_advisor_commands.py
  src/azure-cli/azure/cli/command_modules/appconfig/tests/latest/test_appconfig_commands.py
  src/azure-cli/azure/cli/command_modules/cognitiveservices/tests/latest/recordings/test_cognitiveservices_account_public_network_access.yaml
  src/azure-cli/azure/cli/command_modules/cognitiveservices/tests/latest/recordings/test_cognitiveservices_user_owned_storage.yaml
  src/azure-cli/azure/cli/command_modules/cognitiveservices/tests/latest/test_account_properties.py
  src/azure-cli/azure/cli/command_modules/cognitiveservices/tests/latest/test_byox.py
  src/azure-cli/azure/cli/command_modules/cosmosdb/tests/latest/recordings/test_cosmosdb_mongodb_collection.yaml
  src/azure-cli/azure/cli/command_modules/cosmosdb/tests/latest/test_cosmosdb_commands.py
  src/azure-cli/azure/cli/command_modules/dls/tests/latest/recordings/test_dls_account_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/dls/tests/latest/test_dls_commands.py
  src/azure-cli/azure/cli/command_modules/hdinsight/tests/latest/recordings/test_hdinsight_cluster_kafka_with_rest_proxy.yaml
  src/azure-cli/azure/cli/command_modules/hdinsight/tests/latest/recordings/test_hdinsight_cluster_with_cluster_config.yaml
  src/azure-cli/azure/cli/command_modules/hdinsight/tests/latest/test_hdinsight_commands.py
  src/azure-cli/azure/cli/command_modules/iot/tests/latest/recordings/test_iot_hub.yaml
  src/azure-cli/azure/cli/command_modules/iot/tests/latest/test_iot_commands.py
  src/azure-cli/azure/cli/command_modules/policyinsights/tests/latest/test_policyinsights_scenario.py
  src/azure-cli/azure/cli/command_modules/role/tests/latest/recordings/test_graph_group_scenario.yaml
  src/azure-cli/azure/cli/command_modules/role/tests/latest/test_graph.py
  src/azure-cli/azure/cli/command_modules/security/tests/latest/loganalytics.json
  src/azure-cli/azure/cli/command_modules/security/tests/latest/recordings/test_adaptive_application_controls.yaml
  src/azure-cli/azure/cli/command_modules/security/tests/latest/recordings/test_security_contacts.yaml
  src/azure-cli/azure/cli/command_modules/security/tests/latest/recordings/test_security_iot.yaml
  src/azure-cli/azure/cli/command_modules/security/tests/latest/recordings/test_security_workspace_settings.yaml
  src/azure-cli/azure/cli/command_modules/security/tests/latest/test_adaptive_application_controls.py
  src/azure-cli/azure/cli/command_modules/security/tests/latest/test_alerts_scenario.py
  src/azure-cli/azure/cli/command_modules/security/tests/latest/test_iot_scenario.py
  src/azure-cli/azure/cli/command_modules/security/tests/latest/test_security_contacts_scenario.py
  src/azure-cli/azure/cli/command_modules/security/tests/latest/test_workspace_settings_scenario.py
  src/azure-cli/azure/cli/command_modules/servicefabric/tests/latest/recordings/test_basic_cluster.yaml
  src/azure-cli/azure/cli/command_modules/servicefabric/tests/latest/recordings/test_cert_and_ext.yaml
  src/azure-cli/azure/cli/command_modules/servicefabric/tests/latest/recordings/test_node_type_operation.yaml
  src/azure-cli/azure/cli/command_modules/servicefabric/tests/latest/test_sf_managed_cluster.py
Labels: Test
