Repository Azure/azure-cli, pull requests merged in 2020-05, with the labels that each got.

#13097 [IoT] Update the IoT command module first run extension awareness message to the accurate, non-deprecated modern Id `azure-iot`
  src/azure-cli/azure/cli/command_modules/iot/__init__.py
Labels: IotHub

#13243 [Network] fix ttl value changed unintended for dns add-record
  src/azure-cli/azure/cli/command_modules/network/_params.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
Labels: Network, Network - DNS, bug

#13199 [Compute] New command az vm auto-shutdown
  src/azure-cli/azure/cli/command_modules/vm/_client_factory.py
  src/azure-cli/azure/cli/command_modules/vm/_help.py
  src/azure-cli/azure/cli/command_modules/vm/_params.py
  src/azure-cli/azure/cli/command_modules/vm/commands.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_auto_shutdown.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: Compute

#13286 [Extension] support .egg-info to store wheel type extension metadata
  src/azure-cli-core/azure/cli/core/extension/__init__.py
  src/azure-cli-core/azure/cli/core/extension/tests/latest/__init__.py
  src/azure-cli-core/azure/cli/core/extension/tests/latest/data/hello-0.1.0.tar.gz
  src/azure-cli-core/azure/cli/core/extension/tests/latest/data/wheel_0_30_0_packed_extension-0.1.0-py3-none-any.whl
  src/azure-cli-core/azure/cli/core/extension/tests/latest/data/wheel_0_31_0_packed_extension-0.1.0-py3-none-any.whl
  src/azure-cli-core/azure/cli/core/extension/tests/latest/test_dev_type_extension.py
  src/azure-cli-core/azure/cli/core/extension/tests/latest/test_wheel_type_extension.py
Labels: Extensions

#13349 [ACR] Add default timeout of 5 minutes for any requests to ACR
  src/azure-cli/azure/cli/command_modules/acr/_docker_utils.py
  src/azure-cli/azure/cli/command_modules/acr/tests/latest/test_acr_commands_mock.py
Labels: ACR, Container Registry

#12333 [Storage] az storage account file-service-properties update/show: Add File Properties Support for Storage Account
  src/azure-cli/azure/cli/command_modules/storage/_client_factory.py
  src/azure-cli/azure/cli/command_modules/storage/_help.py
  src/azure-cli/azure/cli/command_modules/storage/_params.py
  src/azure-cli/azure/cli/command_modules/storage/_validators.py
  src/azure-cli/azure/cli/command_modules/storage/commands.py
  src/azure-cli/azure/cli/command_modules/storage/operations/account.py
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_account_file_delete_retention_policy.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/test_storage_account_scenarios.py
Labels: OKR3.2 Candidate, feature-request

#13358 {ACS} az openshift show/list: Refactoring to reduce the probability of AttributeError
  src/azure-cli/azure/cli/command_modules/acs/custom.py
Labels: AKS

#13430 {ACR} keep show-endpoints command in preview
  src/azure-cli/azure/cli/command_modules/acr/commands.py
Labels: ACR

#13274 {Identity} az logout
  src/azure-cli-core/azure/cli/core/_identity.py
  src/azure-cli-core/azure/cli/core/_profile.py
  src/azure-cli/azure/cli/command_modules/profile/__init__.py
  src/azure-cli/azure/cli/command_modules/profile/custom.py
Labels: Azure Identity Adoption

#13280 [AzureStack][AKS]Add AKS into AzureStack profile
  src/azure-cli-core/azure/cli/core/profiles/_shared.py
  src/azure-cli/azure/cli/command_modules/acs/_client_factory.py
  src/azure-cli/azure/cli/command_modules/acs/commands.py
Labels: AKS, AzureStack

#13442 [ACR] add ACR for azurestack hybrid profile
  src/azure-cli-core/azure/cli/core/profiles/_shared.py
Labels: ACR, AzureStack

#13450 {CI} Code style check use latest azdev
  .azure-pipelines/templates/azdev_setup.yml
  azure-pipelines.yml
Labels: CI

#13472 Store Service principal in MSAL secret store
  src/azure-cli-core/azure/cli/core/_identity.py
  src/azure-cli-core/azure/cli/core/_profile.py
Labels: Azure Identity Adoption

#13473 {Identity} Adopt latest changes from Azure Identity #10612
  src/azure-cli-core/azure/cli/core/_identity.py
  src/azure-cli-core/azure/cli/core/_profile.py
  src/azure-cli-core/azure/cli/core/authentication.py
Labels: Azure Identity Adoption

#13464 {CI} Re-enable CredScan
  azure-pipelines.yml
  scripts/ci/credscan/CredScanSuppressions.json
Labels: CI

#13432 [Backup] Add support for retrying policy update for failed items.
  src/azure-cli/azure/cli/command_modules/backup/_params.py
  src/azure-cli/azure/cli/command_modules/backup/custom_base.py
  src/azure-cli/azure/cli/command_modules/backup/custom_wl.py
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_sql_policy.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/test_workload_commands.py
Labels: ACR

#12729 [Storage] Add ADLS Gen2 track2 support
  src/azure-cli-core/azure/cli/core/profiles/_shared.py
  src/azure-cli/azure/cli/command_modules/storage/_client_factory.py
  src/azure-cli/azure/cli/command_modules/storage/_help.py
  src/azure-cli/azure/cli/command_modules/storage/_params.py
  src/azure-cli/azure/cli/command_modules/storage/_transformers.py
  src/azure-cli/azure/cli/command_modules/storage/_validators.py
  src/azure-cli/azure/cli/command_modules/storage/commands.py
  src/azure-cli/azure/cli/command_modules/storage/docs/ADLS Gen2.md
  src/azure-cli/azure/cli/command_modules/storage/operations/filesystem.py
  src/azure-cli/azure/cli/command_modules/storage/operations/fs_directory.py
  src/azure-cli/azure/cli/command_modules/storage/operations/fs_file.py
  src/azure-cli/azure/cli/command_modules/storage/sdkutil.py
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_adls_access_scenarios.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_adls_directory_scenarios.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_adls_file_scenarios.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_adls_filesystem_scenarios.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_adls_metadata_scenarios.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_filedatalake_oauth.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/test_storage_adls_gen2_scenarios.py
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/test_storage_oauth_track2.py
  src/azure-cli/azure/cli/command_modules/storage/tests/storage_test_util.py
  src/azure-cli/azure/cli/command_modules/storage/track2_util.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: Do Not Merge

#13470 [Compute] az vm list-skus: Update --zone behavior, return all type skus now
  src/azure-cli/azure/cli/command_modules/vm/_params.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
Labels: Compute

#13491 [Packaging] Add Ubuntu Focal Package
  azure-pipelines.yml
  scripts/release/debian/pipeline.sh
Labels: Packaging

#13567 [Identity] Support Cloud Shell login
  src/azure-cli-core/azure/cli/core/_identity.py
  src/azure-cli-core/azure/cli/core/_profile.py
  src/azure-cli/azure/cli/command_modules/profile/custom.py
Labels: Azure Identity Adoption

#13604 {Identity} Support UsernamePasswordCredential.authenticate
  src/azure-cli-core/azure/cli/core/_identity.py
Labels: Azure Identity Adoption

#13669 Fix test cases for test_profile
  src/azure-cli-core/azure/cli/core/_identity.py
  src/azure-cli-core/azure/cli/core/_profile.py
  src/azure-cli-core/azure/cli/core/authentication.py
  src/azure-cli-core/azure/cli/core/tests/test_profile.py
  src/azure-cli-core/setup.py
Labels: Azure Identity Adoption

#13564 {KeyVault} Add preview tag for `--enable-rbac-authorization` and refine help messages
  src/azure-cli/azure/cli/command_modules/keyvault/_params.py
  src/azure-cli/azure/cli/command_modules/keyvault/commands.py
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/test_keyvault_commands.py
Labels: KeyVault

#13665 {KeyVault} `az keyvault key download`: refine help message
  src/azure-cli/azure/cli/command_modules/keyvault/_help.py
Labels: KeyVault

#13695 {KeyVault} Add hyperlinks for `JsonWebKeyType` and `JsonWebKeyCurveName`
  src/azure-cli/azure/cli/command_modules/keyvault/_params.py
Labels: KeyVault

#13538 {Telemetry} Log exception
  src/azure-cli-core/azure/cli/core/parser.py
  src/azure-cli-core/azure/cli/core/telemetry.py
  src/azure-cli/azure/cli/__main__.py
Labels: telemetry
