Repository Azure/azure-cli, pull requests merged in 2020-09, with the labels that each got.

#14934 [Compute] Add new license_type in vm create/update: RHEL_BYOS, SLES_BYOS
  src/azure-cli/azure/cli/command_modules/vm/_params.py
Labels: Compute

#15008 [Network] az network vnet subnet: Support --disable-private-endpoint-network-policies and --disable-private-link-service-network-policies
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/linter_exclusions.yml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_subnet_with_private_endpoint_and_private_Link_options.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_subnet_with_private_endpoint_option.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Labels: Network - Virtual Network

#15021 {Packaging} Pin telemetry version in setup.py
  src/azure-cli-core/setup.py
Labels: Packaging

#15004 {Core} Print error details if fail to get msal token
  src/azure-cli-core/azure/cli/core/_msal.py
Labels: Error Handling

#14914 [AKS] CLI should tolerate empty kubeconfig
  src/azure-cli/azure/cli/command_modules/acs/custom.py
Labels: AKS

#14994 {Test} Fix cloud tests
  scripts/release/debian/test_deb_package.py
  scripts/release/homebrew/test_homebrew_package.py
  scripts/release/rpm/test_rpm_package.py
  src/azure-cli/azure/cli/command_modules/cloud/tests/latest/test_cloud.py
Labels: Cloud, Test

#14989 [AKS] FIX #12871: az aks enable-addons: Autogenerated help example is wrong for vitual-node option
  src/azure-cli/azure/cli/command_modules/acs/_help.py
Labels: AKS

#15063 [Network] Fix bug while updateing flow-log when its subproperty network_watcher_flow_analytics_configuration is None
  src/azure-cli/azure/cli/command_modules/network/custom.py
Labels: Network - Network Watcher

#15082 {Packaging} Remove unused Network SDK APIs
  build_scripts/windows/scripts/build.cmd
  scripts/release/rpm/azure-cli.spec
Labels: Packaging

#15031 [Compute] Upgrade disk API version to 2020-06-30 and some new features
  src/azure-cli-core/azure/cli/core/profiles/_shared.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_custom.py
  src/azure-cli/azure/cli/command_modules/cosmosdb/tests/latest/recordings/test_cosmosdb_sql_stored_procedure.yaml
  src/azure-cli/azure/cli/command_modules/eventhubs/tests/latest/recordings/test_eh_namespace.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_security_partner_provider.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_subnet_endpoint_service.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_subnet_set.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_traffic_manager.yaml
  src/azure-cli/azure/cli/command_modules/servicefabric/tests/latest/test_sf_cluster.py
  src/azure-cli/azure/cli/command_modules/vm/_params.py
  src/azure-cli/azure/cli/command_modules/vm/commands.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_disk_access.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_disk_encryption_set.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_disk_encryption_set_disk_update.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_disk_encryption_set_snapshot.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_disk_encryption_set_update.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_gallery_e2e.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_gallery_specialized.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_specialized_image.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_create_by_attach_os_and_data_disks.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_create_from_unmanaged_disk.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_custom_image_name_conflict.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_disk_create_with_standard_zrs_sku.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_disk_create_zones.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_disk_logical_sector_size.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_disk_max_shares_etc.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_disk_storage_sku.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_disk_upload.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_managed_disk.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_os_disk_swap.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_snapshot_incremental.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_ultra_ssd_disk_update.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_ultra_ssd_storage_sku.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_update_instance_disks.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
Labels: Compute

#14902 {VM} Fix #14897: display all requirements for vm admin password when it's invalid
  src/azure-cli/azure/cli/command_modules/vm/_validators.py
Labels: Compute

#15084 [AKS] Remove legacy aci connector actions
  src/azure-cli/azure/cli/command_modules/acs/_help.py
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/_validators.py
  src/azure-cli/azure/cli/command_modules/acs/commands.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
Labels: AKS

#15092 [AKS] Support azure policy addon in azure-cli
  src/azure-cli/azure/cli/command_modules/acs/_help.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_custom.py
Labels: AKS

#15126 {Find} az find: Send User ID hash for rate limiting
  src/azure-cli/azure/cli/command_modules/find/custom.py
Labels: Find

#15123 [AKS] Fixed case sensitive issue for AKS dashboard addon
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_custom.py
Labels: AKS

#15101 [Service Fabric] Add managed cluster and node type commands
  azure-cli.pyproj
  azure-cli2017.pyproj
  src/azure-cli/azure/cli/command_modules/servicefabric/_client_factory.py
  src/azure-cli/azure/cli/command_modules/servicefabric/_help.py
  src/azure-cli/azure/cli/command_modules/servicefabric/_params.py
  src/azure-cli/azure/cli/command_modules/servicefabric/_sf_utils.py
  src/azure-cli/azure/cli/command_modules/servicefabric/_validators.py
  src/azure-cli/azure/cli/command_modules/servicefabric/commands.py
  src/azure-cli/azure/cli/command_modules/servicefabric/custom.py
  src/azure-cli/azure/cli/command_modules/servicefabric/operations/managed_clusters.py
  src/azure-cli/azure/cli/command_modules/servicefabric/operations/managed_node_types.py
  src/azure-cli/azure/cli/command_modules/servicefabric/tests/latest/recordings/test_application.yaml
  src/azure-cli/azure/cli/command_modules/servicefabric/tests/latest/recordings/test_basic_cluster.yaml
  src/azure-cli/azure/cli/command_modules/servicefabric/tests/latest/recordings/test_cert_and_ext.yaml
  src/azure-cli/azure/cli/command_modules/servicefabric/tests/latest/recordings/test_cluster_certs.yaml
  src/azure-cli/azure/cli/command_modules/servicefabric/tests/latest/recordings/test_node_type_operation.yaml
  src/azure-cli/azure/cli/command_modules/servicefabric/tests/latest/test_sf_managed_cluster.py
  src/azure-cli/azure/cli/command_modules/servicefabric/tests/latest/test_util.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: Service Fabric

#14929 [App Service] Fix #12653: az webapp log config --application-logging false doesn't turn it off
  src/azure-cli/azure/cli/command_modules/appservice/_params.py
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_access_restriction_add.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_access_restriction_add_scm.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_access_restriction_remove.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_access_restriction_set_complex.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_access_restriction_show.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_e2e.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_functionapp_access_restriction_commands.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_webapp_commands.py
Labels: App Services

#14818 [AppService]: fix #14684- access-restriction remove by ip address does not work; #13837-az webapp create - Example for different RSgroups for Plan and WebApp
  src/azure-cli/azure/cli/command_modules/appservice/_help.py
  src/azure-cli/azure/cli/command_modules/appservice/_validators.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_access_restriction_remove.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_webapp_access_restriction_commands.py
Labels: App Services

#14937 [Network] Support --tcp-port-behavior while configuring a TCP configuration of a Connection Monitor V2
  src/azure-cli/azure/cli/command_modules/network/_params.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_nw_connection_monitor_v2_test_configuration.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_nw_connection_monitor.py
Labels: Network - Network Watcher

#14942 [Network] Support more types and coverage level while creating Endpoint of Connection Monitor V2
  src/azure-cli/azure/cli/command_modules/network/_params.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/linter_exclusions.yml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_nw_connection_monitor_v2_endpoint.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_nw_connection_monitor.py
Labels: Network - Network Watcher

#14566 [Storage] `az storage blob query`: Support Azure Storage Query Acceleration
  src/azure-cli/azure/cli/command_modules/storage/_help.py
  src/azure-cli/azure/cli/command_modules/storage/_params.py
  src/azure-cli/azure/cli/command_modules/storage/_validators.py
  src/azure-cli/azure/cli/command_modules/storage/commands.py
  src/azure-cli/azure/cli/command_modules/storage/operations/blob.py
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/quick_query.csv
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/test_storage_blob_live_scenarios.py
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/test_storage_oauth_track2.py
Labels: Storage

#15147 {Network} Update usage example for new parameters of endpoint of Connection Monitor V2
  src/azure-cli/azure/cli/command_modules/network/_help.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_private_endpoint_commands.py
Labels: Network - Network Watcher

#15037 {Cloud} Improve endpoint discovery from metadata url env variable
  src/azure-cli-core/azure/cli/core/_session.py
  src/azure-cli-core/azure/cli/core/cloud.py
  src/azure-cli-core/azure/cli/core/util.py
  src/azure-cli/azure/cli/__main__.py
Labels: Cloud

#14916 [acr] Fix #14811 Add support for dockerignore override
  src/azure-cli/azure/cli/command_modules/acr/_archive_utils.py
Labels: Container Registry

#15152 {Version} Only show az upgrade instruction when update for azure-cli is available
  src/azure-cli-core/azure/cli/core/__init__.py
  src/azure-cli-core/azure/cli/core/util.py
Labels: Packaging

#15145 [Compute] vm boot-diagnostics enable: --storage becomes optional; New command: vm boot-diagnostics get-sas
  scripts/ci/credscan/CredScanSuppressions.json
  src/azure-cli/azure/cli/command_modules/vm/_help.py
  src/azure-cli/azure/cli/command_modules/vm/commands.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2018_03_01/test_custom_vm_commands.py
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2019_03_01/test_custom_vm_commands.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_boot_diagnostics.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_custom_vm_commands.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute

#14855 [Core] Error message improvement
  src/azure-cli-core/azure/cli/core/_help.py
  src/azure-cli-core/azure/cli/core/azclierror.py
  src/azure-cli-core/azure/cli/core/cloud.py
  src/azure-cli-core/azure/cli/core/command_recommender.py
  src/azure-cli-core/azure/cli/core/commands/__init__.py
  src/azure-cli-core/azure/cli/core/commands/arm.py
  src/azure-cli-core/azure/cli/core/parser.py
  src/azure-cli-core/azure/cli/core/telemetry.py
  src/azure-cli-core/azure/cli/core/tests/test_parser.py
  src/azure-cli-core/azure/cli/core/tests/test_util.py
  src/azure-cli-core/azure/cli/core/util.py
  src/azure-cli/azure/cli/__main__.py
Labels: Error Handling

#15076 {Core} Add SessionId for telemetry
  src/azure-cli-core/azure/cli/core/telemetry.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: telemetry

#15151 [Network] Support --host-subnet parameter to create VirtualHub underneath as VirtualRouter
  src/azure-cli/azure/cli/command_modules/network/_help.py
  src/azure-cli/azure/cli/command_modules/network/_params.py
  src/azure-cli/azure/cli/command_modules/network/commands.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_virtual_router_scenario.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_vrouter_with_virtual_hub_support.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Labels: Network

#15165 [KeyVault] Fix the issue that `--maxresults` does not take effect while listing resources or resource versions
  src/azure-cli/azure/cli/command_modules/keyvault/_transformers.py
  src/azure-cli/azure/cli/command_modules/keyvault/commands.py
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/cert_secret
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/policy3.json
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_certificate_contacts.yaml
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_certificate_crud.yaml
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_certificate_download.yaml
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_certificate_import.yaml
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_certificate_issuers.yaml
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_hsm_full_backup_restore.yaml
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_hsm_key_download.yaml
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_hsm_key_using_hsm_name.yaml
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_hsm_key_using_hsm_url.yaml
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_hsm_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_hsm_role.yaml
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_key.yaml
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_key_download.yaml
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_network_rule.yaml
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_pending_certificate.yaml
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_private_endpoint_connection.yaml
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_private_link_resource.yaml
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_secret.yaml
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_secret_soft_delete.yaml
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_softdelete.yaml
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/test_keyvault_commands.py
Labels: KeyVault

#15161 [IoTCentral] CLI: App delete operation should be long running operation
  src/azure-cli/azure/cli/command_modules/iot/commands.py
  src/azure-cli/azure/cli/command_modules/iot/custom.py
Labels: customer-reported

#14601 {ServiceBus} : fix for update methods and split test in individual files
  src/azure-cli/azure/cli/command_modules/servicebus/_params.py
  src/azure-cli/azure/cli/command_modules/servicebus/constants.py
  src/azure-cli/azure/cli/command_modules/servicebus/custom.py
  src/azure-cli/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_alias.yaml
  src/azure-cli/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_migration.yaml
  src/azure-cli/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_namespace.yaml
  src/azure-cli/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_network.yaml
  src/azure-cli/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_queue.yaml
  src/azure-cli/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_rules.yaml
  src/azure-cli/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_subscription.yaml
  src/azure-cli/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_topic.yaml
  src/azure-cli/azure/cli/command_modules/servicebus/tests/latest/test_servicebus_alias_commands.py
  src/azure-cli/azure/cli/command_modules/servicebus/tests/latest/test_servicebus_commands.py
  src/azure-cli/azure/cli/command_modules/servicebus/tests/latest/test_servicebus_migration_commands.py
  src/azure-cli/azure/cli/command_modules/servicebus/tests/latest/test_servicebus_namespace_commands.py
  src/azure-cli/azure/cli/command_modules/servicebus/tests/latest/test_servicebus_network_commands.py
  src/azure-cli/azure/cli/command_modules/servicebus/tests/latest/test_servicebus_queue_commands.py
  src/azure-cli/azure/cli/command_modules/servicebus/tests/latest/test_servicebus_rules_commands.py
  src/azure-cli/azure/cli/command_modules/servicebus/tests/latest/test_servicebus_subscription_commands.py
  src/azure-cli/azure/cli/command_modules/servicebus/tests/latest/test_servicebus_topic_commands.py
Labels: Service Bus

#15153 [AppService] functionapp: Fixed issue where app setting was being incorrectly set for linux custom images
  src/azure-cli/azure/cli/command_modules/appservice/_constants.py
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_acr_create_function_app.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_webapp_commands.py
Labels: Web Apps

#15081 [Extension] Turn on dynamic install by default
  src/azure-cli-core/azure/cli/core/parser.py
  src/azure-cli-core/azure/cli/core/tests/test_parser.py
  src/azure-cli/azure/cli/command_modules/extension/_help.py
Labels: Packaging

#15190 {KeyVault} Mark HSM related tests as `record_only`
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/test_keyvault_commands.py
Labels: KeyVault

#15166 [Network] `az network application-gateway ssl-cert show`: Add example to demonstrate certificate format and fetch information
  src/azure-cli/azure/cli/command_modules/network/_help.py
Labels: customer-reported

#15192 {Network} application-gaetway update: update help message for --host-names for clearer usage
  src/azure-cli/azure/cli/command_modules/network/_params.py
Labels: Network - Application Gateway

#15174 [AppService] functionapp: Fixed an issue where config-zip could throw an exception even if successful
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
Labels: Functions

#15222 [Network] application-gateway rule: Support --priority option
  src/azure-cli/azure/cli/command_modules/network/_params.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_rule.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Labels: Network - Application Gateway

#15234 {Network} application-gateway waf-config: Remove deprecation info
  src/azure-cli/azure/cli/command_modules/network/commands.py
Labels: Network - Application Gateway

#15207 [APIM] api import: Update short summary
  src/azure-cli/azure/cli/command_modules/apim/_help.py
Labels: customer-reported

#15203 [AppService] Bugfix: Better error messages for webapp commands
  src/azure-cli/azure/cli/command_modules/appservice/_create_util.py
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
Labels: Web Apps

#15173 [AppService] az appservice domain create, show-terms: Add ability to create app service domain
  src/azure-cli/azure/cli/command_modules/appservice/_client_factory.py
  src/azure-cli/azure/cli/command_modules/appservice/_help.py
  src/azure-cli/azure/cli/command_modules/appservice/_params.py
  src/azure-cli/azure/cli/command_modules/appservice/_template_builder.py
  src/azure-cli/azure/cli/command_modules/appservice/appservice_domains.py
  src/azure-cli/azure/cli/command_modules/appservice/commands.py
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
Labels: Web Apps

#15129 [AKS] Be able to create AKS with virtual node enabled
  src/azure-cli/azure/cli/command_modules/acs/_help.py
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_custom.py
Labels: AKS

#15155 {Doc} Add instructions to use Azure CLI in Airgapped Clouds
  doc/use_cli_in_airgapped_clouds.md
Labels: Packaging

#15255 [Network] az network application-gateway create: Fix bug that cannot create without public IP sepcified
  src/azure-cli/azure/cli/command_modules/network/_template_builder.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_with_defaults.yaml
Labels: Network - Application Gateway

#15284 {Network} Update help message for vrouter
  src/azure-cli/azure/cli/command_modules/network/_help.py
  src/azure-cli/azure/cli/command_modules/network/_params.py
Labels: Network

#15156 [SQL VM] `az sql vm show`: Add configuration options to --expand flag
  src/azure-cli/azure/cli/command_modules/sqlvm/_format.py
  src/azure-cli/azure/cli/command_modules/sqlvm/_params.py
  src/azure-cli/azure/cli/command_modules/sqlvm/_validators.py
  src/azure-cli/azure/cli/command_modules/sqlvm/tests/latest/recordings/test_sqlvm_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/sqlvm/tests/latest/test_sqlvm_commands.py
Labels: customer-reported

#15293 [ACR] Fix helm url with non-regional aka.ms link
  src/azure-cli/azure/cli/command_modules/acr/commands.py
Labels: Container Registry

#15298 {KeyVault} Fix CloudSuffixNotSetException while using `az keyvault` in Azure Stack and Air-Gaped Cloud
  src/azure-cli-core/azure/cli/core/cloud.py
  src/azure-cli/azure/cli/command_modules/keyvault/_validators.py
Labels: KeyVault

#15191 {KeyVault} Use absolute references instead of relative references
  src/azure-cli/azure/cli/command_modules/keyvault/__init__.py
  src/azure-cli/azure/cli/command_modules/keyvault/_client_factory.py
  src/azure-cli/azure/cli/command_modules/keyvault/_command_type.py
  src/azure-cli/azure/cli/command_modules/keyvault/_params.py
  src/azure-cli/azure/cli/command_modules/keyvault/_transformers.py
  src/azure-cli/azure/cli/command_modules/keyvault/commands.py
  src/azure-cli/azure/cli/command_modules/keyvault/custom.py
  src/azure-cli/azure/cli/command_modules/keyvault/security_domain/byte_shares.py
  src/azure-cli/azure/cli/command_modules/keyvault/security_domain/jwe.py
  src/azure-cli/azure/cli/command_modules/keyvault/security_domain/shared_secret.py
Labels: KeyVault

#15219 {KeyVault} Add examples for `az keyvault set-policy`
  src/azure-cli/azure/cli/command_modules/keyvault/_help.py
Labels: KeyVault

#15267 [AKS] Expect kube-dashboard addon be disabled by default
  src/azure-cli/azure/cli/command_modules/acs/custom.py
Labels: AKS

#15307 {Test} Pipeline update
  scripts/live_test/.gitignore
  scripts/live_test/CLITest.yml
  scripts/live_test/HISTORY.rst
  scripts/live_test/generate_index.py
  scripts/live_test/sendemail.py
  scripts/live_test/test_data.py
Labels: Test Framework

#14827 [Lab] Fix for issue #14127 __init__() takes 1 positional argument but 2 were given
  src/azure-cli/azure/cli/command_modules/lab/custom.py
Labels: Devtestlab

#15310 [AppConfig]Fix test bug
  export_keyvault.json
  src/azure-cli/azure/cli/command_modules/appconfig/tests/latest/test_appconfig_commands.py
Labels: Test

#15295 [RDBMS] Hotfix: `az postgres flexible-server create` : Update VnetName to exclude servername and update default region for MySQL
  src/azure-cli/azure/cli/command_modules/rdbms/_flexible_server_util.py
  src/azure-cli/azure/cli/command_modules/rdbms/_params.py
  src/azure-cli/azure/cli/command_modules/rdbms/flexible_server_custom_mysql.py
  src/azure-cli/azure/cli/command_modules/rdbms/flexible_server_custom_postgres.py
  src/azure-cli/azure/cli/command_modules/rdbms/flexible_server_virtual_network.py
  src/azure-cli/azure/cli/command_modules/rdbms/validators.py
Labels: PostgreSQL

#15316 [Compute] Fix host group creation FD count limitation
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
Labels: Compute

#15282 [Role] Fix #15278: az role assignment list/delete: Forbid empty string arguments
  src/azure-cli/azure/cli/command_modules/role/_validators.py
  src/azure-cli/azure/cli/command_modules/role/custom.py
  src/azure-cli/azure/cli/command_modules/role/tests/latest/test_role.py
Labels: RBAC

#15356 [AppService] BREAKING CHANGE: az webapp create, az webapp up - Update available webapp runtimes
  src/azure-cli/azure/cli/command_modules/appservice/_constants.py
  src/azure-cli/azure/cli/command_modules/appservice/resources/WebappRuntimeStacks.json
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_acr_integration.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_download_win_web_log.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_linux_webapp.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_config.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_win_webapp_quick_create_cd.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_win_webapp_quick_create_runtime.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_webapp_commands.py
Labels: App Services

#15347 {Test} Fix aks tests
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_acs_commands.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
Labels: AKS
