Repository Azure/azure-cli, pull requests merged in 2020-06, with the labels that each got.

#13688 [AppService] Fix #13261 az webapp list-runtimes use static list until new Available Stacks API is available
  src/azure-cli/azure/cli/command_modules/appservice/_constants.py
  src/azure-cli/azure/cli/command_modules/appservice/_help.py
  src/azure-cli/azure/cli/command_modules/appservice/_params.py
  src/azure-cli/azure/cli/command_modules/appservice/commands.py
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
Labels: App Services

#13741 [AKS] support --yes for az aks upgrade
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/commands.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
Labels: AKS

#13785 [Identity] Rename auth_only to tenant_access
  src/azure-cli-core/setup.py
  src/azure-cli/azure/cli/command_modules/profile/__init__.py
  src/azure-cli/azure/cli/command_modules/profile/custom.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
Labels: Azure Identity Adoption

#13826 {Identity} Fix playback tests and add tests for logout
  src/azure-cli-core/azure/cli/core/_identity.py
  src/azure-cli-core/azure/cli/core/tests/test_profile.py
  src/azure-cli-testsdk/azure/cli/testsdk/patches.py
Labels: Azure Identity Adoption

#13744 [AppService] Fixing failing az appservice ase create and list-addresses commands
  src/azure-cli/azure/cli/command_modules/appservice/appservice_environment.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_app_service_environment_list_rg.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_app_service_environment_commands.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_app_service_environment_commands_thru_mock.py
Labels: App Services

#13844 {Misc} Fix timer for __main__.py
  src/azure-cli/azure/cli/__main__.py
Labels: Performance

#13710 [AppService] Support list, delete, approve and reject private endpoint connection for webapp in CLI
  src/azure-cli/azure/cli/command_modules/network/private_link_resource_and_endpoint_connections/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_private_endpoint_connection_webapp.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_private_link_resource_webapp.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_private_endpoint_commands.py
Labels: App Services

#13960 {Doc} Refine extension release notes
  doc/extensions/authoring.md
Labels: Documentation

#13916 [KeyVault] Support string/bytes encryption and decryption with stored keys
  src/azure-cli/azure/cli/command_modules/keyvault/_command_type.py
  src/azure-cli/azure/cli/command_modules/keyvault/_params.py
  src/azure-cli/azure/cli/command_modules/keyvault/_validators.py
  src/azure-cli/azure/cli/command_modules/keyvault/commands.py
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_key.yaml
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/test_keyvault_commands.py
Labels: KeyVault

#13163 [Extensions] Enable CLI extensions to include packages in the 'azure' namespace
  doc/extensions/authoring.md
  src/azure-cli-core/azure/cli/core/extension/operations.py
  src/azure-cli-core/azure/cli/core/extension/tests/latest/test_extension_commands.py
Labels: Packaging

#14003 [AKS] Fix typo in az aks update command
  src/azure-cli/azure/cli/command_modules/acs/custom.py
Labels: AKS

#12359 [Storage] az storage share-rm create/update: Add NFS protocol and root squash support
  src/azure-cli/azure/cli/command_modules/storage/_params.py
  src/azure-cli/azure/cli/command_modules/storage/_validators.py
  src/azure-cli/azure/cli/command_modules/storage/commands.py
  src/azure-cli/azure/cli/command_modules/storage/operations/file.py
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_file_using_rm_main_scenario.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_share_rm_with_NFS.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/test_storage_file_rm_scenarios.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: OKR3.2 Candidate, feature-request

#13765 [Storage] `az storage account create`: Add support for double encryption
  src/azure-cli/azure/cli/command_modules/storage/_params.py
  src/azure-cli/azure/cli/command_modules/storage/operations/account.py
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_create_storage_account_with_double_encryption.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_file_using_rm_main_scenario.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_share_rm_with_NFS.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/test_storage_account_scenarios.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: Need SDK released

#13997 [AppService] Improved error messages for SSH Tunnel Connection
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_linux_webapp_remote_debug.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_linux_webapp_remote_ssh.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_webapp_commands.py
  src/azure-cli/azure/cli/command_modules/appservice/tunnel.py
Labels: App Services

#13996 [AKS] Change to support 0 node agent pool and block manual scale for CAS enabled pool
  src/azure-cli/azure/cli/command_modules/acs/custom.py
Labels: AKS

#14038 [ACR] Handle log artifact link from Registry to stream logs
  src/azure-cli/azure/cli/command_modules/acr/_stream_utils.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: Container Registry

#14081 [AppConfig]Add example for using --fields in appconfig revision
  src/azure-cli/azure/cli/command_modules/appconfig/_help.py
  src/azure-cli/azure/cli/command_modules/appconfig/_params.py
Labels: App Configuration

#14077 {Telemetry} Fix for file move in cloud shell
  src/azure-cli-core/azure/cli/core/telemetry.py
  src/azure-cli-telemetry/azure/cli/telemetry/components/records_collection.py
  src/azure-cli/azure/cli/command_modules/feedback/custom.py
Labels: telemetry

#13294 {Core} Build and use command index
  src/azure-cli-core/azure/cli/core/__init__.py
  src/azure-cli-core/azure/cli/core/_session.py
  src/azure-cli-core/azure/cli/core/commands/__init__.py
  src/azure-cli-core/azure/cli/core/commands/constants.py
  src/azure-cli-core/azure/cli/core/extension/operations.py
  src/azure-cli-core/azure/cli/core/tests/test_command_registration.py
Labels: Performance

#14068 [AKS] az aks create: add --enable-aad argument
  src/azure-cli/azure/cli/command_modules/acs/_help.py
  src/azure-cli/azure/cli/command_modules/acs/_helpers.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_managed_aad.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
Labels: AKS

#14084 {App Service}:Updating azure-mgmt-web to latest verion
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_create_in_different_group.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_access_restriction_add.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_access_restriction_add_ip_address_validation.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_access_restriction_add_scm.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_access_restriction_add_service_endpoint.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_access_restriction_remove.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_access_restriction_remove_scm.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_access_restriction_set_complex.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_access_restriction_set_simple.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_access_restriction_show.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_access_restriction_slot.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_linux_webapp_quick_create.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_access_restriction_add.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_access_restriction_add_ip_address_validation.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_access_restriction_add_scm.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_access_restriction_add_service_endpoint.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_access_restriction_remove_scm.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_access_restriction_set_complex.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_access_restriction_show.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_runtimes.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_win_webapp_quick_create_cd.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_webapp_up_commands.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: App Services
