Repository Azure/azure-cli, pull requests merged in 2020-03, with the labels that each got.

#12353 [AKS] Add support of creating private cluster
  src/azure-cli/azure/cli/command_modules/acs/_help.py
  src/azure-cli/azure/cli/command_modules/acs/_helpers.py
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_helpers.py
Labels: AKS

#12420 [AKS] Support create aks clusters enabling managed identity
  src/azure-cli/azure/cli/command_modules/acs/_help.py
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_managed_identity.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
Labels: AKS

#12374 [Compute] az vmss create/update: support automatic repairs
  src/azure-cli/azure/cli/command_modules/vm/_params.py
  src/azure-cli/azure/cli/command_modules/vm/_template_builder.py
  src/azure-cli/azure/cli/command_modules/vm/_validators.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_create_automatic_repairs_with_health_probe.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_update_automatic_repairs_with_health_extension.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_update_automatic_repairs_with_health_probe.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute

#12376 [AKS] az aks: Validate network plugin to be either "azure" or "kubenet".
  src/azure-cli/azure/cli/command_modules/acs/_params.py
Labels: AKS

#12290 [AKS] az aks: Add aad session key support.
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_service_principals.py
Labels: AKS

#12377 [AppConfig]Unblock using "kv set" to add keyvault reference and feature …
  src/azure-cli/azure/cli/command_modules/appconfig/_params.py
  src/azure-cli/azure/cli/command_modules/appconfig/_validators.py
  src/azure-cli/azure/cli/command_modules/appconfig/keyvalue.py
  src/azure-cli/azure/cli/command_modules/appconfig/tests/latest/export_features.json
  src/azure-cli/azure/cli/command_modules/appconfig/tests/latest/export_features_prop.json
  src/azure-cli/azure/cli/command_modules/appconfig/tests/latest/export_features_yaml.json
  src/azure-cli/azure/cli/command_modules/appconfig/tests/latest/recordings/test_appconfig_to_appconfig_import_export.yaml
  src/azure-cli/azure/cli/command_modules/appconfig/tests/latest/recordings/test_azconfig_credential.yaml
  src/azure-cli/azure/cli/command_modules/appconfig/tests/latest/recordings/test_azconfig_feature.yaml
  src/azure-cli/azure/cli/command_modules/appconfig/tests/latest/recordings/test_azconfig_feature_filter.yaml
  src/azure-cli/azure/cli/command_modules/appconfig/tests/latest/recordings/test_azconfig_identity.yaml
  src/azure-cli/azure/cli/command_modules/appconfig/tests/latest/recordings/test_azconfig_import_export.yaml
  src/azure-cli/azure/cli/command_modules/appconfig/tests/latest/recordings/test_azconfig_import_export_naming_conventions.yaml
  src/azure-cli/azure/cli/command_modules/appconfig/tests/latest/recordings/test_azconfig_key_validation.yaml
  src/azure-cli/azure/cli/command_modules/appconfig/tests/latest/recordings/test_azconfig_kv.yaml
  src/azure-cli/azure/cli/command_modules/appconfig/tests/latest/recordings/test_azconfig_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/appconfig/tests/latest/test_appconfig_commands.py
Labels: App Configuration

#12560 {IoT} Move help example to correct section
  src/azure-cli/azure/cli/command_modules/iot/_help.py
Labels: IotHub

#12588 [IoT] Add codeowner
  .github/CODEOWNERS
Labels: IotHub

#12593 [Network] fix wrong deprecating info of flow-log show
  src/azure-cli/azure/cli/command_modules/network/_params.py
Labels: Network - Watcher

#12544 [Core] Support --only-show-errors
  src/azure-cli-core/azure/cli/core/commands/__init__.py
Labels: Do Not Merge

#12543 [Core] Add experimental tag
  src/azure-cli-core/azure/cli/core/__init__.py
  src/azure-cli-core/azure/cli/core/_help.py
  src/azure-cli-core/azure/cli/core/commands/__init__.py
  src/azure-cli-core/azure/cli/core/commands/arm.py
  src/azure-cli-core/azure/cli/core/commands/constants.py
  src/azure-cli-core/azure/cli/core/parser.py
Labels: Do Not Merge

#12375 [ACR] `az acr import`: Modify help and error message to clarify the usage of --source and --registry
  src/azure-cli/azure/cli/command_modules/acr/_help.py
  src/azure-cli/azure/cli/command_modules/acr/_params.py
  src/azure-cli/azure/cli/command_modules/acr/import.py
  src/azure-cli/azure/cli/command_modules/acr/tests/latest/test_split_registry_and_image.py
Labels: ACR

#12572 [AKS] aks update: Override outbound IPs with input values when update.
  src/azure-cli/azure/cli/command_modules/acs/_help.py
  src/azure-cli/azure/cli/command_modules/acs/_loadbalancer.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_loadbalancer.py
Labels: AKS

#12659 {CI} update PR trigger condition
  azure-pipelines.yml
Labels: CI

#12639 [webapp] fix #12509: Remove the tag to az webapp up by default
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_webapp_up_commands.py
Labels: Web Apps

#12117 [REST] az rest: Dump request and response
  src/azure-cli-core/azure/cli/core/tests/test_util.py
  src/azure-cli-core/azure/cli/core/util.py
  src/azure-cli/HISTORY.rst
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/recordings/test_rest.yaml
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/rest_storage_account_create_body.json
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/rest_storage_account_sas_body.json
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/test_rest.py
Labels: Do Not Merge

#12641 [KeyVault] Support certificate backup/restore
  src/azure-cli/azure/cli/command_modules/keyvault/_params.py
  src/azure-cli/azure/cli/command_modules/keyvault/commands.py
  src/azure-cli/azure/cli/command_modules/keyvault/custom.py
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_certificate_crud.yaml
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/test_keyvault_commands.py
Labels: KeyVault

#12657 {CI} Enable incremental test on commnad modules only
  azure-pipelines.yml
  tools/automation/tests/__init__.py
  tools/automation/tests/main.py
Labels: CI

#12679 [KeyVault] No longer display managed keys/secrets while listing
  src/azure-cli/azure/cli/command_modules/keyvault/_transformers.py
  src/azure-cli/azure/cli/command_modules/keyvault/commands.py
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_certificate_crud.yaml
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/test_keyvault_commands.py
Labels: KeyVault

#12685 [ACR] Add a validator for argument 'registry_name'
  src/azure-cli/azure/cli/command_modules/acr/_params.py
  src/azure-cli/azure/cli/command_modules/acr/_validators.py
Labels: ACR

#12574 [Cosmos DB] Fix missing --type option for deprecation redirections (#12526)
  src/azure-cli/azure/cli/command_modules/cosmosdb/commands.py
Labels: CosmosDB

#12705 [ACR] `az acr login`:Remove the preview flag on '--expose-token'
  src/azure-cli/azure/cli/command_modules/acr/_params.py
Labels: ACR

#12523 {KeyVault} Expose resource name directly
  src/azure-cli/azure/cli/command_modules/keyvault/_transformers.py
  src/azure-cli/azure/cli/command_modules/keyvault/commands.py
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_certificate_contacts.yaml
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_certificate_crud.yaml
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_certificate_download.yaml
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_certificate_import.yaml
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_certificate_issuers.yaml
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_key.yaml
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_key_download.yaml
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_network_rule.yaml
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_pending_certificate.yaml
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_private_endpoint_connection.yaml
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_private_link_resource.yaml
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_secret.yaml
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_secret_soft_delete.yaml
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_softdelete.yaml
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/test_keyvault_commands.py
Labels: KeyVault

#12687 [Compute] Upgrade VMAccessAgent version to 2.4
  src/azure-cli/azure/cli/command_modules/vm/_help.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2018_03_01/test_custom_vm_commands.py
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2019_03_01/test_custom_vm_commands.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_custom_vm_commands.py
Labels: Compute

#12650 [AppConfig] Add --skip-keyvault for kv export
  src/azure-cli/azure/cli/command_modules/appconfig/_featuremodels.py
  src/azure-cli/azure/cli/command_modules/appconfig/_kv_helpers.py
  src/azure-cli/azure/cli/command_modules/appconfig/_params.py
  src/azure-cli/azure/cli/command_modules/appconfig/keyvalue.py
  src/azure-cli/azure/cli/command_modules/appconfig/tests/latest/export.json
  src/azure-cli/azure/cli/command_modules/appconfig/tests/latest/export_features.json
  src/azure-cli/azure/cli/command_modules/appconfig/tests/latest/export_features_prop.json
  src/azure-cli/azure/cli/command_modules/appconfig/tests/latest/export_features_yaml.json
  src/azure-cli/azure/cli/command_modules/appconfig/tests/latest/recordings/test_azconfig_import_export.yaml
  src/azure-cli/azure/cli/command_modules/appconfig/tests/latest/recordings/test_azconfig_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/appconfig/tests/latest/test_appconfig_commands.py
Labels: App Configuration

#12754 [ACR] handle python sdk breaking change and re-record test
  src/azure-cli/azure/cli/command_modules/acr/private_endpoint_connection.py
  src/azure-cli/azure/cli/command_modules/acr/tests/latest/recordings/test_acr_with_private_endpoint.yaml
Labels: ACR

#12644 {AKS} Add UDR capabilities
  src/azure-cli/azure/cli/command_modules/acs/_consts.py
  src/azure-cli/azure/cli/command_modules/acs/_help.py
  src/azure-cli/azure/cli/command_modules/acs/_helpers.py
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
Labels: AKS

#12749 {AKS} add nodepool mode support (and upgrade to 2020-03-01 api version)
  src/azure-cli/azure/cli/command_modules/acs/_format.py
  src/azure-cli/azure/cli/command_modules/acs/_help.py
  src/azure-cli/azure/cli/command_modules/acs/_helpers.py
  src/azure-cli/azure/cli/command_modules/acs/_loadbalancer.py
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/commands.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_availability_zones.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_bad_inputs.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_blb_vmas.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_cluster_with_apiserver_authorized_ranges_then_update.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_default_service.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_default_setting.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_private_cluster_then_update.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_service_no_wait.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_slb_vmss_with_default_mgd_outbound_ip_then_update.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_slb_vmss_with_outbound_ip_prefixes_then_update.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_slb_vmss_with_outbound_ip_then_update.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_managed_identity.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_nodepool_create_scale_delete.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_nodepool_system_pool.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_loadbalancer.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: AKS

#12649 {Compute} Doc fix for 'vm user delete'
  src/azure-cli/azure/cli/command_modules/vm/_help.py
Labels: Compute

#12619 [ACR] 'az acr create/update': branch removed and update task improved
  src/azure-cli/azure/cli/command_modules/acr/_params.py
  src/azure-cli/azure/cli/command_modules/acr/task.py
  src/azure-cli/azure/cli/command_modules/acr/tests/latest/recordings/test_acr_task.yaml
Labels: ACR

#12173 [netappfiles] az volume replication: Modified volume create to allow data protection volumes and added replication operations
  src/azure-cli/HISTORY.rst
  src/azure-cli/azure/cli/command_modules/netappfiles/_help.py
  src/azure-cli/azure/cli/command_modules/netappfiles/_params.py
  src/azure-cli/azure/cli/command_modules/netappfiles/commands.py
  src/azure-cli/azure/cli/command_modules/netappfiles/custom.py
  src/azure-cli/azure/cli/command_modules/netappfiles/tests/latest/recordings/test_active_directory.yaml
  src/azure-cli/azure/cli/command_modules/netappfiles/tests/latest/recordings/test_create_delete_account.yaml
  src/azure-cli/azure/cli/command_modules/netappfiles/tests/latest/recordings/test_create_delete_pool.yaml
  src/azure-cli/azure/cli/command_modules/netappfiles/tests/latest/recordings/test_create_delete_snapshots.yaml
  src/azure-cli/azure/cli/command_modules/netappfiles/tests/latest/recordings/test_create_delete_volumes.yaml
  src/azure-cli/azure/cli/command_modules/netappfiles/tests/latest/recordings/test_create_pool_string_size.yaml
  src/azure-cli/azure/cli/command_modules/netappfiles/tests/latest/recordings/test_create_pool_too_small.yaml
  src/azure-cli/azure/cli/command_modules/netappfiles/tests/latest/recordings/test_create_volume_with_subnet_in_different_rg.yaml
  src/azure-cli/azure/cli/command_modules/netappfiles/tests/latest/recordings/test_export_policy.yaml
  src/azure-cli/azure/cli/command_modules/netappfiles/tests/latest/recordings/test_export_policy_non_default.yaml
  src/azure-cli/azure/cli/command_modules/netappfiles/tests/latest/recordings/test_get_account_by_name.yaml
  src/azure-cli/azure/cli/command_modules/netappfiles/tests/latest/recordings/test_get_pool_by_name.yaml
  src/azure-cli/azure/cli/command_modules/netappfiles/tests/latest/recordings/test_get_snapshot.yaml
  src/azure-cli/azure/cli/command_modules/netappfiles/tests/latest/recordings/test_get_volume_by_name.yaml
  src/azure-cli/azure/cli/command_modules/netappfiles/tests/latest/recordings/test_list_accounts.yaml
  src/azure-cli/azure/cli/command_modules/netappfiles/tests/latest/recordings/test_list_mount_targets.yaml
  src/azure-cli/azure/cli/command_modules/netappfiles/tests/latest/recordings/test_list_pools.yaml
  src/azure-cli/azure/cli/command_modules/netappfiles/tests/latest/recordings/test_list_snapshots.yaml
  src/azure-cli/azure/cli/command_modules/netappfiles/tests/latest/recordings/test_list_volumes.yaml
  src/azure-cli/azure/cli/command_modules/netappfiles/tests/latest/recordings/test_perform_replication.yaml
  src/azure-cli/azure/cli/command_modules/netappfiles/tests/latest/recordings/test_update_account.yaml
  src/azure-cli/azure/cli/command_modules/netappfiles/tests/latest/recordings/test_update_pool.yaml
  src/azure-cli/azure/cli/command_modules/netappfiles/tests/latest/recordings/test_update_volume.yaml
  src/azure-cli/azure/cli/command_modules/netappfiles/tests/latest/test_account_commands.py
  src/azure-cli/azure/cli/command_modules/netappfiles/tests/latest/test_mount_target_commands.py
  src/azure-cli/azure/cli/command_modules/netappfiles/tests/latest/test_pool_commands.py
  src/azure-cli/azure/cli/command_modules/netappfiles/tests/latest/test_snapshot_commands.py
  src/azure-cli/azure/cli/command_modules/netappfiles/tests/latest/test_volume_commands.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: Feature Request, OKR3.2 Candidate

#12618 [Compute] disk create: add --disk-iops-read-only, --disk-mbps-read-only, --max-shares, --image-reference, --image-reference-lun, --gallery-image-reference, --gallery-image-reference-lun
  src/azure-cli-core/azure/cli/core/profiles/_shared.py
  src/azure-cli/azure/cli/command_modules/vm/_help.py
  src/azure-cli/azure/cli/command_modules/vm/_params.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_disk_encryption_set.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_disk_encryption_set_disk_update.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_gallery_specialized.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_create_by_attach_os_and_data_disks.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_create_from_unmanaged_disk.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_custom_image_name_conflict.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_disk_create_with_standard_zrs_sku.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_disk_create_zones.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_disk_max_shares_etc.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_disk_storage_sku.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_disk_upload.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_managed_disk.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_os_disk_swap.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_snapshot_incremental.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_ultra_ssd_disk_update.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_ultra_ssd_storage_sku.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_update_instance_disks.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Compute - Managed Disks
