Repository Azure/azure-cli, pull requests merged in 2020-07, with the labels that each got.

#14143 [acr]: deprecate helm2 commands
  src/azure-cli/azure/cli/command_modules/acr/commands.py
Labels: Container Registry

#14109 {Container monitoring} -Changes for container monitoring to support USNat and USSec
  src/azure-cli/azure/cli/command_modules/acs/custom.py
Labels: Container Registry

#14156 {CI} Use master branch of azdev and add benchmark sample to show execution time
  .azure-pipelines/templates/azdev_setup.yml
  azure-pipelines.yml
Labels: CI

#14204 {Login} Delay importing http.server
  src/azure-cli-core/azure/cli/core/_profile.py
Labels: Performance

#14144 {Graph} Fix #12797: ad app permission grant: Add prerequisite to the help message
  .github/CODEOWNERS
  src/azure-cli/azure/cli/command_modules/role/_help.py
Labels: Graph

#14217 [AKS] az aks update: add --enable-aad argument
  src/azure-cli/azure/cli/command_modules/acs/_help.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_aadv1_and_update_with_managed_aad.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_nonaad_and_update_with_managed_aad.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
Labels: AKS

#14101 [Webapp] Bugfix: az webapp vnet-integration add - fix error handling if bad vnet name, support vnet resource ID
  src/azure-cli/azure/cli/command_modules/appservice/_help.py
  src/azure-cli/azure/cli/command_modules/appservice/_params.py
  src/azure-cli/azure/cli/command_modules/appservice/_validators.py
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_hybridconnectionE2E.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_vnetDelegation.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_vnetE2E.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_vnetSameName.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_webapp_commands.py
Labels: Web Apps

#14227 {Core} refine local context message
  src/azure-cli-core/azure/cli/core/__init__.py
Labels: Local Context

#14304 {CI} Revert to use azdev release version
  .azure-pipelines/templates/azdev_setup.yml
  azure-pipelines.yml
Labels: CI

#14185 [Network] Application Gateway support private link feature
  src/azure-cli/azure/cli/command_modules/network/_help.py
  src/azure-cli/azure/cli/command_modules/network/_params.py
  src/azure-cli/azure/cli/command_modules/network/_template_builder.py
  src/azure-cli/azure/cli/command_modules/network/commands.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/private_link_resource_and_endpoint_connections/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_appgw_private_endpoint_with_default.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_appgw_private_endpoint_with_overwrite_default.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_manage_appgw_private_endpoint.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_private_endpoint_commands.py
Labels: Network, Network - Application Gateway

#14288 {Packaging/RPM} Remove unused *.pyo and *.pyc in RPM
  azure-pipelines.yml
  scripts/release/rpm/azure-cli.spec
  scripts/release/rpm/test_rpm_in_docker.sh
  scripts/release/rpm/test_rpm_package.py
Labels: Packaging

#14284 [AppService] Fix az webapp create - use hardcoded runtime stacks
  src/azure-cli/azure/cli/command_modules/appservice/_constants.py
  src/azure-cli/azure/cli/command_modules/appservice/_create_util.py
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_acr_integration.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_download_win_web_log.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_linux_webapp.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_config.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_up_dotnetcore_e2e.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_up_invalid_name.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_up_name_exists_in_subscription.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_up_name_exists_not_in_subscription.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_up_node_e2e.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_up_python_e2e.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_up_statichtml_e2e.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_win_webapp_quick_create_cd.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_win_webapp_quick_create_runtime.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_webapp_commands.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_webapp_up_commands.py
Labels: App Services

#14313 {Test} Fix default admin-username
  scripts/release/rpm/test_rpm_in_docker.sh
Labels: Compute, Test

#14042 [Compute] BREAKING CHANGE: `az vmss create`: Make parameter single-placement-group default to false when creating a vmss
  src/azure-cli/azure/cli/command_modules/vm/_params.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
Labels: Do Not Merge

#14386 [KeyVault] `az keyvault key encrypt/decrypt`: add parameter `--data-type` for explicitly specifing the type of original data
  src/azure-cli/azure/cli/command_modules/keyvault/_command_type.py
  src/azure-cli/azure/cli/command_modules/keyvault/_params.py
  src/azure-cli/azure/cli/command_modules/keyvault/_transformers.py
  src/azure-cli/azure/cli/command_modules/keyvault/_validators.py
  src/azure-cli/azure/cli/command_modules/keyvault/commands.py
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_key.yaml
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_secret_soft_delete.yaml
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_softdelete.yaml
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/test_keyvault_commands.py
Labels: KeyVault

#14398 [AppConfig]Default to standard sku if not specified
  src/azure-cli/azure/cli/command_modules/appconfig/_params.py
  src/azure-cli/azure/cli/command_modules/appconfig/_utils.py
  src/azure-cli/azure/cli/command_modules/appconfig/custom.py
  src/azure-cli/azure/cli/command_modules/appconfig/tests/latest/export.json
  src/azure-cli/azure/cli/command_modules/appconfig/tests/latest/export_features.json
  src/azure-cli/azure/cli/command_modules/appconfig/tests/latest/export_features_prop.json
  src/azure-cli/azure/cli/command_modules/appconfig/tests/latest/export_features_yaml.json
Labels: App Configuration

#14433 {App Service} Bugfix: Fix regression where az webapp create doesn't set specified runtime
  src/azure-cli/azure/cli/command_modules/appservice/_constants.py
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/resources/WebappRuntimeStacks.json
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_e2e.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_webapp_commands.py
  src/azure-cli/setup.py
Labels: App Services

#14170 [AppConfig] BREAKING CHANGE: Support settings with JSON content type
  scripts/ci/credscan/CredScanSuppressions.json
  src/azure-cli/azure/cli/command_modules/appconfig/_help.py
  src/azure-cli/azure/cli/command_modules/appconfig/_kv_helpers.py
  src/azure-cli/azure/cli/command_modules/appconfig/_params.py
  src/azure-cli/azure/cli/command_modules/appconfig/_validators.py
  src/azure-cli/azure/cli/command_modules/appconfig/keyvalue.py
  src/azure-cli/azure/cli/command_modules/appconfig/tests/latest/actual_export_valid_kv_and_features.json
  src/azure-cli/azure/cli/command_modules/appconfig/tests/latest/expected_export_valid_kv_and_features.json
  src/azure-cli/azure/cli/command_modules/appconfig/tests/latest/export_features_prop.json
  src/azure-cli/azure/cli/command_modules/appconfig/tests/latest/json_export.json
  src/azure-cli/azure/cli/command_modules/appconfig/tests/latest/json_export_dest.json
  src/azure-cli/azure/cli/command_modules/appconfig/tests/latest/json_export_src.json
  src/azure-cli/azure/cli/command_modules/appconfig/tests/latest/json_import.json
  src/azure-cli/azure/cli/command_modules/appconfig/tests/latest/recordings/test_azconfig_json_content_type.yaml
  src/azure-cli/azure/cli/command_modules/appconfig/tests/latest/test_appconfig_commands.py
  src/azure-cli/azure/cli/command_modules/appconfig/tests/latest/yaml_export.json
  src/azure-cli/azure/cli/command_modules/appconfig/tests/latest/yaml_import.json
Labels: App Configuration

#14199 {AppConfig} Update azure-mgmt-appconfiguration version to 0.5.0
  export_keyvault.json
  scripts/ci/credscan/CredScanSuppressions.json
  src/azure-cli/azure/cli/command_modules/appconfig/tests/latest/export.json
  src/azure-cli/azure/cli/command_modules/appconfig/tests/latest/export_features.json
  src/azure-cli/azure/cli/command_modules/appconfig/tests/latest/export_features_prop.json
  src/azure-cli/azure/cli/command_modules/appconfig/tests/latest/export_features_yaml.json
  src/azure-cli/azure/cli/command_modules/appconfig/tests/latest/recordings/test_appconfig_to_appconfig_import_export.yaml
  src/azure-cli/azure/cli/command_modules/appconfig/tests/latest/recordings/test_azconfig_credential.yaml
  src/azure-cli/azure/cli/command_modules/appconfig/tests/latest/recordings/test_azconfig_feature.yaml
  src/azure-cli/azure/cli/command_modules/appconfig/tests/latest/recordings/test_azconfig_feature_filter.yaml
  src/azure-cli/azure/cli/command_modules/appconfig/tests/latest/recordings/test_azconfig_identity.yaml
  src/azure-cli/azure/cli/command_modules/appconfig/tests/latest/recordings/test_azconfig_import_export.yaml
  src/azure-cli/azure/cli/command_modules/appconfig/tests/latest/recordings/test_azconfig_import_export_naming_conventions.yaml
  src/azure-cli/azure/cli/command_modules/appconfig/tests/latest/recordings/test_azconfig_json_content_type.yaml
  src/azure-cli/azure/cli/command_modules/appconfig/tests/latest/recordings/test_azconfig_key_validation.yaml
  src/azure-cli/azure/cli/command_modules/appconfig/tests/latest/recordings/test_azconfig_kv.yaml
  src/azure-cli/azure/cli/command_modules/appconfig/tests/latest/recordings/test_azconfig_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/appconfig/tests/latest/recordings/test_resolve_keyvault.yaml
  src/azure-cli/azure/cli/command_modules/appconfig/tests/latest/test_appconfig_commands.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: App Configuration

#14413 {sqlvm} Re-running sql vm tests that were failing.
  src/azure-cli/azure/cli/command_modules/sqlvm/tests/latest/recordings/test_sqlvm_add_and_remove.yaml
  src/azure-cli/azure/cli/command_modules/sqlvm/tests/latest/recordings/test_sqlvm_create_and_delete.yaml
  src/azure-cli/azure/cli/command_modules/sqlvm/tests/latest/recordings/test_sqlvm_group_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/sqlvm/tests/latest/test_sqlvm_commands.py
Labels: SQL, SQL - VM

#14346 [Compute] Select a valid username if the default username is invalid
  src/azure-cli-core/azure/cli/core/util.py
  src/azure-cli/azure/cli/command_modules/vm/_params.py
  src/azure-cli/azure/cli/command_modules/vm/_validators.py
Labels: Compute

#14463 [Network] application-gateway private-link add: Support to specify an existing subnet by ID
  src/azure-cli/azure/cli/command_modules/network/_help.py
  src/azure-cli/azure/cli/command_modules/network/_params.py
  src/azure-cli/azure/cli/command_modules/network/commands.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
Labels: Network - Application Gateway

#14335 {NoneType Error} Fix existing NoneType errors
  src/azure-cli/azure/cli/command_modules/consumption/_exception_handler.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/disk_encryption.py
Labels: Error Handling

#14273 {Telemetry} Add command init and invoke time in telemetry
  .flake8
  src/azure-cli-core/azure/cli/core/telemetry.py
  src/azure-cli/azure/cli/__main__.py
Labels: telemetry

#14429 [AMS] Fix #14021: az ams account sp is not idempotent
  src/azure-cli/azure/cli/command_modules/ams/_help.py
  src/azure-cli/azure/cli/command_modules/ams/_params.py
  src/azure-cli/azure/cli/command_modules/ams/commands.py
  src/azure-cli/azure/cli/command_modules/ams/operations/sp.py
Labels: Media Services

#13879 {Misc} Remove unnecessary base class method invocations
  doc/authoring_command_modules/authoring_commands.md
  src/azure-cli-core/azure/cli/core/tests/test_command_registration.py
  src/azure-cli/azure/cli/command_modules/ams/__init__.py
  src/azure-cli/azure/cli/command_modules/batch/__init__.py
  src/azure-cli/azure/cli/command_modules/cdn/__init__.py
  src/azure-cli/azure/cli/command_modules/netappfiles/__init__.py
  src/azure-cli/azure/cli/command_modules/storage/__init__.py
Labels: Performance

#14546 {Role} Remove redundant --id parameter from example
  src/azure-cli/azure/cli/command_modules/role/_help.py
Labels: AAD, Graph

#14477 {Test} Bump azure-python-devtools to 1.2.0
  src/azure-cli-testsdk/azure/cli/testsdk/base.py
  src/azure-cli-testsdk/azure/cli/testsdk/patches.py
  src/azure-cli-testsdk/setup.py
  src/azure-cli/azure/cli/command_modules/dla/tests/latest/recording_processors.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
Labels: Test Framework

#14567 {KeyVault} Add deprecate info for --enable-soft-delete
  src/azure-cli/azure/cli/command_modules/keyvault/_params.py
Labels: KeyVault

#14432 {App Service} Bugfix: When deploying python apps, avoid deploying .env file
  src/azure-cli/azure/cli/command_modules/appservice/_create_util.py
Labels: App Services

#14486 [App Service] fix#-13035- Added validation for az webapp config access-restriction …
  src/azure-cli/azure/cli/command_modules/appservice/_params.py
  src/azure-cli/azure/cli/command_modules/appservice/_validators.py
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_create_in_different_group.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_access_restriction_add.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_access_restriction_add_ip_address_validation.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_access_restriction_add_scm.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_access_restriction_add_service_endpoint.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_access_restriction_remove.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_access_restriction_remove_scm.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_access_restriction_set_complex.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_access_restriction_set_simple.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_access_restriction_show.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_access_restriction_slot.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_linux_webapp_multicontainer_create.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_linux_webapp_quick_create.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_linux_webapp_quick_create_cd.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_access_restriction_add.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_access_restriction_add_ip_address_validation.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_access_restriction_add_scm.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_access_restriction_add_service_endpoint.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_access_restriction_remove.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_access_restriction_remove_scm.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_access_restriction_set_simple.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_access_restriction_show.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_access_restriction_slot.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_e2e.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_win_webapp_quick_create.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_win_webapp_quick_create_cd.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_win_webapp_quick_create_runtime.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_functionapp_access_restriction_commands.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_webapp_access_restriction_commands.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_webapp_commands.py
Labels: App Services

#14439 [Compute] Dedicated host group automatic placement
  src/azure-cli/azure/cli/command_modules/vm/_help.py
  src/azure-cli/azure/cli/command_modules/vm/_params.py
  src/azure-cli/azure/cli/command_modules/vm/_template_builder.py
  src/azure-cli/azure/cli/command_modules/vm/_validators.py
  src/azure-cli/azure/cli/command_modules/vm/commands.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_dedicated_host_e2e.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute

#14148 [Storage] `az storage share-rm create/update`: add --access-tier to support access tier
  src/azure-cli/azure/cli/command_modules/storage/_params.py
  src/azure-cli/azure/cli/command_modules/storage/operations/file.py
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_share_rm_with_access_tier.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/test_storage_file_rm_scenarios.py
Labels: Do Not Merge

#14483 {Cloud} Patch some suffixes and missing endpoints from ARM metadata
  src/azure-cli-core/azure/cli/core/cloud.py
Labels: Cloud

#14443 [Compute] Support ppg and spg in VMSS orchestration mode
  src/azure-cli/azure/cli/command_modules/vm/_validators.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute

#14233 [App Service] Fixes # 9887 webapp and functionapp, support assigning/removing user managed identity
  src/azure-cli/azure/cli/command_modules/appservice/_appservice_utils.py
  src/azure-cli/azure/cli/command_modules/appservice/_help.py
  src/azure-cli/azure/cli/command_modules/appservice/_params.py
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_assign_user_identity.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_create_with_msi.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_remove_identity.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_webapp_commands.py
Labels: Web Apps
