Repository Azure/azure-cli, pull requests merged in 2021-01, with the labels that each got.

#16260 [Compute] Fix issue of none storage_profile
  src/azure-cli/azure/cli/command_modules/vm/custom.py
Labels: Compute

#16320 [AppService] Fix #13907: az webapp config ssl import: Change command to also import App Service Certificate
  src/azure-cli/azure/cli/command_modules/appservice/_help.py
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_ssl_import.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_ssl_import_crossrg.yaml
Labels: App Services

#16404 {Release} Release beta 2.17.10
  src/azure-cli-core/HISTORY.rst
  src/azure-cli-core/azure/cli/core/__init__.py
  src/azure-cli-core/azure/cli/core/_help.py
  src/azure-cli-core/setup.py
  src/azure-cli/HISTORY.rst
  src/azure-cli/azure/cli/__main__.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: Azure Identity Integration

#16408 {Test} Live test pipeline 0.10.0
  scripts/live_test/HISTORY.rst
  scripts/live_test/generate_index.py
Labels: Test

#16412 [RDBMS]Remove the preview tag for server key and ad admin commands for Postgres and MySql
  src/azure-cli/azure/cli/command_modules/rdbms/commands.py
Labels: customer-reported

#16377 {AKS} Update region mapping list for Container Insights to include latest regions
  src/azure-cli/azure/cli/command_modules/acs/custom.py
Labels: AKS

#16432 [AppService] Fixes #16125: az webapp ssh if using a windows client, open browser to scm link
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_webapp_commands.py
Labels: Web Apps

#16424 [AppService]: fix for #13291- az webapp deployment slot swap should support preserv…
  src/azure-cli/azure/cli/command_modules/appservice/_params.py
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
Labels: App Services

#16406 [Compute] Better error handling of external tokens
  src/azure-cli/azure/cli/command_modules/vm/custom.py
Labels: Compute

#16000 {container} Bugfix #15856: az container exec - remove eol check to avoid closing terminal before it even started on linux
  src/azure-cli/azure/cli/command_modules/container/custom.py
Labels: Container Instances, customer-reported

#16490 [AKS] az aks check-acr: Add new check-acr command
  src/azure-cli/azure/cli/command_modules/acs/_consts.py
  src/azure-cli/azure/cli/command_modules/acs/_help.py
  src/azure-cli/azure/cli/command_modules/acs/commands.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
Labels: AKS

#16530 [ACR] add --allow-trusted-services support
  src/azure-cli/azure/cli/command_modules/acr/_params.py
  src/azure-cli/azure/cli/command_modules/acr/custom.py
  src/azure-cli/azure/cli/command_modules/acr/linter_exclusions.yml
  src/azure-cli/azure/cli/command_modules/acr/tests/latest/recordings/test_acr_with_public_network_access.yaml
  src/azure-cli/azure/cli/command_modules/acr/tests/latest/test_acr_commands.py
Labels: Container Registry

#16435 {AKS} revert to use old region mapping
  src/azure-cli/azure/cli/command_modules/acs/custom.py
Labels: AKS

#16403 [acr] add step in "check-health" command to ensure the identity used for CMK does exist
  src/azure-cli/azure/cli/command_modules/acr/_errors.py
  src/azure-cli/azure/cli/command_modules/acr/_utils.py
  src/azure-cli/azure/cli/command_modules/acr/check_health.py
  src/azure-cli/azure/cli/command_modules/acr/custom.py
Labels: Container Registry

#16441 {ACR} Quick Fix
  src/azure-cli/HISTORY.rst
  src/azure-cli/azure/cli/command_modules/acr/_help.py
  src/azure-cli/azure/cli/command_modules/acr/_params.py
Labels: Container Registry

#16516 [AppService] az appservice ase/plan ASEv3 support
  src/azure-cli/azure/cli/command_modules/appservice/_help.py
  src/azure-cli/azure/cli/command_modules/appservice/_params.py
  src/azure-cli/azure/cli/command_modules/appservice/appservice_environment.py
  src/azure-cli/azure/cli/command_modules/appservice/commands.py
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_app_service_environment_commands_thru_mock.py
  src/azure-cli/azure/cli/command_modules/appservice/utils.py
Labels: App Services

#16575 [App Service] Add support for os-preference to fix #16509
  src/azure-cli/azure/cli/command_modules/appservice/_help.py
  src/azure-cli/azure/cli/command_modules/appservice/_params.py
  src/azure-cli/azure/cli/command_modules/appservice/appservice_environment.py
  src/azure-cli/azure/cli/command_modules/appservice/commands.py
Labels: App Services

#16258 {Style} Refine style framework
  src/azure-cli-core/azure/cli/core/__init__.py
  src/azure-cli-core/azure/cli/core/_help.py
  src/azure-cli-core/azure/cli/core/commands/constants.py
  src/azure-cli-core/azure/cli/core/style.py
  src/azure-cli-core/azure/cli/core/tests/test_style.py
  src/azure-cli-core/azure/cli/core/tests/test_util.py
  src/azure-cli-core/azure/cli/core/util.py
  src/azure-cli-core/setup.py
  src/azure-cli/azure/cli/command_modules/util/_params.py
  src/azure-cli/azure/cli/command_modules/util/custom.py
  src/azure-cli/setup.py
Labels: style

#16074 {Core} Use semver for azure-mgmt-core
  src/azure-cli-core/setup.py
Labels: customer-reported

#16331 [Compute] New command group sshkey
  src/azure-cli/azure/cli/command_modules/vm/__init__.py
  src/azure-cli/azure/cli/command_modules/vm/_actions.py
  src/azure-cli/azure/cli/command_modules/vm/_help.py
  src/azure-cli/azure/cli/command_modules/vm/_params.py
  src/azure-cli/azure/cli/command_modules/vm/_validators.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/gen.zip
  src/azure-cli/azure/cli/command_modules/vm/generated/__init__.py
  src/azure-cli/azure/cli/command_modules/vm/generated/_client_factory.py
  src/azure-cli/azure/cli/command_modules/vm/generated/_help.py
  src/azure-cli/azure/cli/command_modules/vm/generated/_params.py
  src/azure-cli/azure/cli/command_modules/vm/generated/_validators.py
  src/azure-cli/azure/cli/command_modules/vm/generated/action.py
  src/azure-cli/azure/cli/command_modules/vm/generated/commands.py
  src/azure-cli/azure/cli/command_modules/vm/generated/custom.py
  src/azure-cli/azure/cli/command_modules/vm/manual/__init__.py
  src/azure-cli/azure/cli/command_modules/vm/manual/_help.py
  src/azure-cli/azure/cli/command_modules/vm/manual/_params.py
  src/azure-cli/azure/cli/command_modules/vm/manual/commands.py
  src/azure-cli/azure/cli/command_modules/vm/manual/custom.py
  src/azure-cli/azure/cli/command_modules/vm/report.md
  src/azure-cli/azure/cli/command_modules/vm/tests/__init__.py
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2018_03_01/test_vm_actions.py
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2019_03_01/test_vm_actions.py
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2020_09_01/test_vm_actions.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_ssh_key.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_actions.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute

#16593 [KeyVault] `az keyvault key import`: Support `--curve` parameter for importing BYOK keys
  src/azure-cli/azure/cli/command_modules/keyvault/_params.py
  src/azure-cli/azure/cli/command_modules/keyvault/_validators.py
  src/azure-cli/azure/cli/command_modules/keyvault/custom.py
Labels: KeyVault

#16557 [BACKUP] Add CRR functionality for IaaSVM and other CRR commands
  linter_exclusions.yml
  src/azure-cli/azure/cli/command_modules/backup/_client_factory.py
  src/azure-cli/azure/cli/command_modules/backup/_params.py
  src/azure-cli/azure/cli/command_modules/backup/custom.py
  src/azure-cli/azure/cli/command_modules/backup/custom_afs.py
  src/azure-cli/azure/cli/command_modules/backup/custom_base.py
  src/azure-cli/azure/cli/command_modules/backup/custom_common.py
  src/azure-cli/azure/cli/command_modules/backup/custom_help.py
  src/azure-cli/azure/cli/command_modules/backup/custom_wl.py
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_backup_container.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_backup_item.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_backup_policy.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_backup_protection.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_backup_restore.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_backup_rp.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_backup_scenario.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_unregister_container.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_container.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_disk_exclusion.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_item.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_job.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_policy.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_protection.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_restore.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_rp.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_scenario.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_softdelete.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_vault.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_hana_container.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_hana_item.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_hana_policy.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_hana_protectable_item.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_hana_protection.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_hana_restore.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_hana_rp.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_sql_auto_protection.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_sql_container.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_sql_item.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_sql_policy.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_sql_protectable_item.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_sql_protection.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_sql_restore.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_sql_restore_as_files.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_sql_rp.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/test_afs_commands.py
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/test_backup_commands.py
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/test_workload_commands.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: Recovery Services Backup

#16319 [Keyvault] Fix #16318: az keyvault certificate download crash on Python 3.9 due to removed method call
  src/azure-cli/azure/cli/command_modules/keyvault/custom.py
Labels: KeyVault, customer-reported

#16532 {Docs} Roadmap for track2 migration
  doc/track_2_migration_roadmap.md
Labels: Track2

#16612 {Identity} Beta 2.18.0.1
  src/azure-cli-core/HISTORY.rst
  src/azure-cli-core/azure/cli/core/__init__.py
  src/azure-cli-core/azure/cli/core/_identity.py
  src/azure-cli-core/azure/cli/core/_profile.py
  src/azure-cli-core/setup.py
  src/azure-cli/HISTORY.rst
  src/azure-cli/azure/cli/__main__.py
  src/azure-cli/azure/cli/command_modules/profile/__init__.py
  src/azure-cli/azure/cli/command_modules/profile/_help.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: Azure Identity Integration

#16663 {Packaging} Bump urllib3
  scripts/release/debian/Dockerfile
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: Packaging

#16599 [AKS] Add managed cluster stop/start bindings
  src/azure-cli/azure/cli/command_modules/acs/commands.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_stop_and_start.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
Labels: AKS

#16670 {Compute} Update vm create examples
  src/azure-cli/azure/cli/command_modules/vm/_help.py
Labels: Compute

#16229 [SQL] az sql mi create/update: Add support for maintenance configuration in managed instance operations
  src/azure-cli/azure/cli/command_modules/sql/_params.py
  src/azure-cli/azure/cli/command_modules/sql/custom.py
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/recordings/test_sql_managed_instance_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/test_sql_commands.py
Labels: customer-reported

#16702 [Compute] `az disk create/update`: Add parameter `--enable-bursting` to support disk bursting
  src/azure-cli-core/azure/cli/core/profiles/_shared.py
  src/azure-cli/azure/cli/command_modules/vm/_help.py
  src/azure-cli/azure/cli/command_modules/vm/_params.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_disk_access.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_disk_bursting.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_disk_encryption_set.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_disk_encryption_set_disk_update.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_gallery_specialized.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_specialized_image.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_create_by_attach_os_and_data_disks.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_create_from_unmanaged_disk.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_custom_image_name_conflict.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_disk_create_with_standard_zrs_sku.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_disk_create_zones.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_disk_logical_sector_size.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_disk_max_shares_etc.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_disk_storage_sku.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_disk_upload.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_managed_disk.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_os_disk_swap.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_snapshot_incremental.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_ultra_ssd_disk_update.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_ultra_ssd_storage_sku.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_update_instance_disks.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: Compute - Managed Disks
