Repository Azure/azure-cli, pull requests merged in 2021-04, with the labels that each got.

#17159 [Core] Add service_name.json
  src/azure-cli/service_name.json
Labels: Documentation

#17427 {Compute} Update description of license_msg
  src/azure-cli/azure/cli/command_modules/vm/_help.py
Labels: Compute

#17546 [AppService] Remove preview flag for Python 3.9 in functionapp create
  src/azure-cli/azure/cli/command_modules/appservice/resources/LinuxFunctionsStacks.json
Labels: App Services

#17553 {KeyVault} Fix #17461: Add some examples for 'keyvault/_help.py'
  src/azure-cli/azure/cli/command_modules/keyvault/_help.py
Labels: KeyVault

#17495 [AppService] Bugfix: Handle if only single publish profile is returned
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
Labels: Web Apps

#17152 [ACR] 'az acr connected-registry install info/renew-credentials': Provide connection string in installation command
  src/azure-cli/azure/cli/command_modules/acr/connected_registry.py
Labels: Container Registry, Do Not Merge

#17486 [Container] Fix #16499: az container create: fix handling of return value from network_profiles.create_or_update
  src/azure-cli/azure/cli/command_modules/container/custom.py
Labels: Container Instances, customer-reported

#17534 [AKS] Fix spelling of 'accessible'
  src/azure-cli/azure/cli/command_modules/acs/_help.py
Labels: AKS, customer-reported

#17294 [AppService]Fixes#16203: az webapp log tail supports webapps running on Linix.
  src/azure-cli/azure/cli/command_modules/appservice/_help.py
Labels: App Services

#17566 [ACR] az acr connected-registry create/delete/repo: sync token permissions management.
  src/azure-cli/azure/cli/command_modules/acr/_help.py
  src/azure-cli/azure/cli/command_modules/acr/_params.py
  src/azure-cli/azure/cli/command_modules/acr/_utils.py
  src/azure-cli/azure/cli/command_modules/acr/commands.py
  src/azure-cli/azure/cli/command_modules/acr/connected_registry.py
Labels: Container Registry

#17549 [Compute] New command: vm install-patches
  src/azure-cli/azure/cli/command_modules/vm/_help.py
  src/azure-cli/azure/cli/command_modules/vm/_params.py
  src/azure-cli/azure/cli/command_modules/vm/commands.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/linter_exclusions.yml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_install_patches.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute

#17577 [Compute] Disk encryption set: add --enable-auto-key-rotation
  src/azure-cli-core/azure/cli/core/profiles/_shared.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_private_endpoint_connection_cosmosdb.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_private_link_resource_cosmosdb.yaml
  src/azure-cli/azure/cli/command_modules/vm/_params.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_disk_access.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_disk_bursting.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_disk_encryption_set.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_disk_encryption_set_disk_update.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_disk_encryption_set_snapshot.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_disk_encryption_set_update.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_gallery_e2e.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_gallery_specialized.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_image_template_outputs.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_specialized_image.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_create_by_attach_os_and_data_disks.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_create_from_unmanaged_disk.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_custom_image_name_conflict.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_disk_create_with_standard_zrs_sku.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_disk_create_zones.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_disk_logical_sector_size.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_disk_max_shares_etc.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_disk_storage_sku.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_disk_upload.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_managed_disk.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_os_disk_swap.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_snapshot_incremental.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_ultra_ssd_disk_update.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_ultra_ssd_storage_sku.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_update_instance_disks.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: Compute

#17621 [Core] Display allowed values in error message when enum validation fails
  src/azure-cli-core/azure/cli/core/parser.py
Labels: Core

#17569 {Relay} Fix typos in azure relay
  src/azure-cli/azure/cli/command_modules/relay/_help.py
Labels: customer-reported

#17612 [Identity] CAE b3
  src/azure-cli-core/azure/cli/core/_identity.py
  src/azure-cli-core/azure/cli/core/_msal_patch.py
  src/azure-cli-core/azure/cli/core/_profile.py
  src/azure-cli-core/azure/cli/core/adal_authentication.py
  src/azure-cli-core/azure/cli/core/azclierror.py
  src/azure-cli-core/azure/cli/core/azlogging.py
  src/azure-cli-core/azure/cli/core/commands/client_factory.py
  src/azure-cli-core/azure/cli/core/credential.py
  src/azure-cli-core/azure/cli/core/tests/test_credential.py
  src/azure-cli-core/azure/cli/core/tests/test_identity.py
  src/azure-cli-core/azure/cli/core/tests/test_profile.py
  src/azure-cli-core/azure/cli/core/util.py
  src/azure-cli-core/setup.py
  src/azure-cli-testsdk/azure/cli/testsdk/base.py
  src/azure-cli/azure/cli/command_modules/profile/__init__.py
  src/azure-cli/azure/cli/command_modules/profile/_help.py
  src/azure-cli/azure/cli/command_modules/profile/custom.py
  src/azure-cli/azure/cli/command_modules/profile/tests/latest/test_auth_e2e.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
Labels: azure-identity / msal

#17522 [Compute] Extended location for Compute RP
  src/azure-cli-core/azure/cli/core/profiles/_shared.py
  src/azure-cli/azure/cli/command_modules/vm/_params.py
  src/azure-cli/azure/cli/command_modules/vm/_template_builder.py
  src/azure-cli/azure/cli/command_modules/vm/_validators.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_disk_access.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_disk_encryption_set_snapshot.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_gallery_specialized.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_other_extended_location.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_specialized_image.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_create_by_attach_os_and_data_disks.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_disk_create_with_standard_zrs_sku.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_disk_max_shares_etc.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_extended_location.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_managed_disk.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_snapshot_incremental.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_extended_location.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute

#16371 [Compute] sig image-version create: Support creating from a VHD
  src/azure-cli-core/azure/cli/core/profiles/_shared.py
  src/azure-cli/azure/cli/command_modules/vm/_help.py
  src/azure-cli/azure/cli/command_modules/vm/_params.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_gallery_e2e.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_gallery_image_version_vhd.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_gallery_specialized.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_image_build_shared_image.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_specialized_image.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_disk_max_shares_etc.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute

#17660 [Compute] vm create --count mode, support vnet and subnet configuration
  src/azure-cli/azure/cli/command_modules/vm/_validators.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_create_count.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute

#17428 [Core] Linter rule for service_name.json
  azure-pipelines.yml
  scripts/ci/service_name.py
Labels: Documentation

#17711 [Compute] `az vmss extension upgrade` failed
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_extension.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute

#17722 [FunctionApp] Fixed issue with zip deploy where local time was provided but UTC was expected
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
Labels: Functions

#17717 {App Service} Fixing errors from new SDK update & updated recordings
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_consumption_e2e.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_linux_webapp_multicontainer_slot.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_windows_to_linux_fail.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_functionapp_commands.py
Labels: App Services

#17678 [FunctionApp] Updated stacks api json to add PowerShell on Linux in Functions
  src/azure-cli/azure/cli/command_modules/appservice/resources/LinuxFunctionsStacks.json
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_consumption_linux_powershell.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_on_linux_app_service_powershell.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_on_linux_app_service_powershell_with_runtime_version.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_functionapp_commands.py
Labels: Functions

#17703 [SQL] Allow short mw policy names for mi
  src/azure-cli/azure/cli/command_modules/sql/_help.py
  src/azure-cli/azure/cli/command_modules/sql/custom.py
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/recordings/test_sql_managed_instance_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/test_sql_commands.py
Labels: customer-reported

#17684 [AKS] az aks update: Add --windows-admin-password to support updating Windows password
  src/azure-cli/azure/cli/command_modules/acs/_help.py
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_update_with_windows_password.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
Labels: AKS

#17735 [BACKUP] az backup vault create: Add tags as an optional argument
  src/azure-cli/azure/cli/command_modules/backup/_params.py
  src/azure-cli/azure/cli/command_modules/backup/custom.py
Labels: Recovery Services Backup

#17283 [Style] Define theme for Cloud Shell
  .github/CODEOWNERS
  src/azure-cli-core/azure/cli/core/__init__.py
  src/azure-cli-core/azure/cli/core/style.py
  src/azure-cli-core/azure/cli/core/tests/test_style.py
  src/azure-cli-core/azure/cli/core/util.py
  src/azure-cli-core/setup.py
  src/azure-cli/azure/cli/command_modules/util/custom.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
Labels: style

#17833 {Core} Work around long-running delete or purge operation with 404 status code
  src/azure-cli-core/azure/cli/core/commands/__init__.py
Labels: Core

#17854 {Core} Aladdin recommendation improvements
  src/azure-cli-core/azure/cli/core/_help.py
  src/azure-cli-core/azure/cli/core/command_recommender.py
Labels: Core

#17834 [KeyVault] BREAKING CHANGE: Support soft-delete feature for managed-HSM. `keyvault delete --hsm-name` will perform soft delete on a MHSM.
  src/azure-cli/azure/cli/command_modules/keyvault/_help.py
  src/azure-cli/azure/cli/command_modules/keyvault/_params.py
  src/azure-cli/azure/cli/command_modules/keyvault/_validators.py
  src/azure-cli/azure/cli/command_modules/keyvault/commands.py
  src/azure-cli/azure/cli/command_modules/keyvault/custom.py
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_hsm_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/test_keyvault_commands.py
  src/azure-cli/azure/cli/command_modules/servicefabric/tests/latest/recordings/test_application.yaml
Labels: KeyVault

#17746 [ACR] check-health: add support to verify dns routings to private endpoints
  src/azure-cli/azure/cli/command_modules/acr/_params.py
  src/azure-cli/azure/cli/command_modules/acr/check_health.py
Labels: Container Registry

#17715 [ACR] Fix #17618: Update credential add/update handling for tasks created using --auth-mode
  src/azure-cli/azure/cli/command_modules/acr/_help.py
  src/azure-cli/azure/cli/command_modules/acr/task.py
Labels: Container Registry

#17872 {Event Grid} Fix TypeError when specifying numerical CLI arguments for certain topic types
  src/azure-cli/azure/cli/command_modules/eventgrid/_params.py
Labels: customer-reported

#17686 [MarketplaceOrdering] New command group `az term` to accept/show terms
  doc/sphinx/azhelpgen/doc_source_map.json
  src/azure-cli/azure/cli/command_modules/marketplaceordering/__init__.py
  src/azure-cli/azure/cli/command_modules/marketplaceordering/_help.py
  src/azure-cli/azure/cli/command_modules/marketplaceordering/action.py
  src/azure-cli/azure/cli/command_modules/marketplaceordering/custom.py
  src/azure-cli/azure/cli/command_modules/marketplaceordering/generated/__init__.py
  src/azure-cli/azure/cli/command_modules/marketplaceordering/generated/_client_factory.py
  src/azure-cli/azure/cli/command_modules/marketplaceordering/generated/_help.py
  src/azure-cli/azure/cli/command_modules/marketplaceordering/generated/_params.py
  src/azure-cli/azure/cli/command_modules/marketplaceordering/generated/_validators.py
  src/azure-cli/azure/cli/command_modules/marketplaceordering/generated/action.py
  src/azure-cli/azure/cli/command_modules/marketplaceordering/generated/commands.py
  src/azure-cli/azure/cli/command_modules/marketplaceordering/generated/custom.py
  src/azure-cli/azure/cli/command_modules/marketplaceordering/manual/__init__.py
  src/azure-cli/azure/cli/command_modules/marketplaceordering/manual/_help.py
  src/azure-cli/azure/cli/command_modules/marketplaceordering/manual/custom.py
  src/azure-cli/azure/cli/command_modules/marketplaceordering/report.md
  src/azure-cli/azure/cli/command_modules/marketplaceordering/tests/__init__.py
  src/azure-cli/azure/cli/command_modules/marketplaceordering/tests/latest/__init__.py
  src/azure-cli/azure/cli/command_modules/marketplaceordering/tests/latest/example_steps.py
  src/azure-cli/azure/cli/command_modules/marketplaceordering/tests/latest/recordings/test_marketplaceordering_Scenario.yaml
  src/azure-cli/azure/cli/command_modules/marketplaceordering/tests/latest/test_marketplaceordering_scenario.py
  src/azure-cli/azure/cli/command_modules/marketplaceordering/tests/latest/test_marketplaceordering_scenario_coverage.md
  src/azure-cli/service_name.json
Labels: Marketplace Ordering
