Repository Azure/azure-cli, pull requests merged in 2021-05, with the labels that each got.

#17988 [AppService] `webapp log tail` Fix #17987: logging.warning call with invalid 'end' argument
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
Labels: App Services, customer-reported

#17895 [AppService]: fix #16838- az cli update app setting command always making slotsetting to true
  src/azure-cli/azure/cli/command_modules/appservice/_help.py
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_update_webapp_settings_thru_json.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_config.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_config_appsettings.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_slot.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_slot_swap.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_webapp_commands.py
Labels: App Services

#17826 [AppService] az appservice: Add function to retrieve users github personal access token
  src/azure-cli/azure/cli/command_modules/appservice/_constants.py
  src/azure-cli/azure/cli/command_modules/appservice/_github_oauth.py
  src/azure-cli/azure/cli/command_modules/appservice/_params.py
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: App Services

#17969 {Core} Use `from collections.abc import Iterable` to support Python 3.10
  src/azure-cli-core/azure/cli/core/commands/__init__.py
Labels: customer-reported

#17567 {EventHubs} az eventhubs eventhub list: Fix typo in help docs
  src/azure-cli/azure/cli/command_modules/eventhubs/_help.py
Labels: customer-reported

#17642 {ServiceBus} az servicebus: fix typos in help docs
  src/azure-cli/azure/cli/command_modules/servicebus/_help.py
Labels: customer-reported

#17933 [AKS] az aks check-acr: add the nodeslector linux to avoid the "canipull" pod to be scheduled on the windows node
  src/azure-cli/azure/cli/command_modules/acs/custom.py
Labels: AKS, customer-reported

#17940 {Storage} Split concatenated words in the help message
  src/azure-cli/azure/cli/command_modules/storage/_params.py
Labels: customer-reported

#17959 [DevTestLabs] az labs create environment: Fix error creating an environment from an ARM template
  src/azure-cli/azure/cli/command_modules/lab/custom.py
Labels: customer-reported

#18004 {Batch} Add account key and SAS signature replacers for tests
  src/azure-cli/azure/cli/command_modules/batch/tests/latest/recording_processors.py
  src/azure-cli/azure/cli/command_modules/batch/tests/latest/recordings/test_batch_application_cmd.yaml
  src/azure-cli/azure/cli/command_modules/batch/tests/latest/recordings/test_batch_certificate_cmd.yaml
  src/azure-cli/azure/cli/command_modules/batch/tests/latest/recordings/test_batch_general_arm_cmd.yaml
  src/azure-cli/azure/cli/command_modules/batch/tests/latest/recordings/test_batch_job_list_cmd.yaml
  src/azure-cli/azure/cli/command_modules/batch/tests/latest/recordings/test_batch_jobs_and_tasks.yaml
  src/azure-cli/azure/cli/command_modules/batch/tests/latest/recordings/test_batch_pool_cmd.yaml
  src/azure-cli/azure/cli/command_modules/batch/tests/latest/recordings/test_batch_pools_and_nodes.yaml
  src/azure-cli/azure/cli/command_modules/batch/tests/latest/recordings/test_batch_task_create_cmd.yaml
  src/azure-cli/azure/cli/command_modules/batch/tests/latest/test_batch_data_plane_commands.py
  src/azure-cli/azure/cli/command_modules/batch/tests/latest/test_batch_mgmt_commands.py
Labels: Batch

#18034 [App Service] az staticwebapp appsettings set issue #17792
  src/azure-cli/azure/cli/command_modules/appservice/static_sites.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_staticapp_commands_thru_mock.py
Labels: customer-reported

#17999 {Pylint} Fix `unused-import`
  pylintrc
  src/azure-cli/azure/cli/command_modules/cdn/custom/custom_waf.py
Labels: Pylint

#18003 {Pylint} Ignore `tests` folders
  .flake8
  pylintrc
Labels: Pylint

#18000 {Pylint} Fix `no-else-break`
  pylintrc
  src/azure-cli-core/azure/cli/core/commands/arm.py
  src/azure-cli/azure/cli/command_modules/appservice/_create_util.py
  src/azure-cli/azure/cli/command_modules/cdn/custom/custom.py
  src/azure-cli/azure/cli/command_modules/resource/custom.py
Labels: Pylint

#18048 {Pylint} Fix `unrecognized-inline-option`
  pylintrc
  src/azure-cli-core/azure/cli/core/parser.py
  src/azure-cli/azure/cli/command_modules/eventgrid/custom.py
  src/azure-cli/azure/cli/command_modules/resource/custom.py
Labels: Pylint

#18001 {Pylint} Fix `no-else-continue`
  pylintrc
  src/azure-cli-core/azure/cli/core/azlogging.py
  src/azure-cli/azure/cli/command_modules/ams/operations/sp.py
  src/azure-cli/azure/cli/command_modules/batch/_command_type.py
  src/azure-cli/azure/cli/command_modules/role/custom.py
Labels: Pylint

#17781 {Compute} Adopt track2 SDK, azure-mgmt-servicebus==6.0.0
  src/azure-cli/azure/cli/command_modules/servicebus/_params.py
  src/azure-cli/azure/cli/command_modules/servicebus/commands.py
  src/azure-cli/azure/cli/command_modules/servicebus/custom.py
  src/azure-cli/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_alias.yaml
  src/azure-cli/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_migration.yaml
  src/azure-cli/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_namespace.yaml
  src/azure-cli/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_network.yaml
  src/azure-cli/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_queue.yaml
  src/azure-cli/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_rules.yaml
  src/azure-cli/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_subscription.yaml
  src/azure-cli/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_topic.yaml
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: Recovery Services Backup

#17925 [ARO] Add cluster credential rotation
  src/azure-cli/azure/cli/command_modules/aro/__init__.py
  src/azure-cli/azure/cli/command_modules/aro/_aad.py
  src/azure-cli/azure/cli/command_modules/aro/_params.py
  src/azure-cli/azure/cli/command_modules/aro/_rbac.py
  src/azure-cli/azure/cli/command_modules/aro/_validators.py
  src/azure-cli/azure/cli/command_modules/aro/custom.py
  src/azure-cli/azure/cli/command_modules/aro/tests/latest/recordings/test_aro_create.yaml
  src/azure-cli/azure/cli/command_modules/aro/tests/latest/recordings/test_aro_delete.yaml
  src/azure-cli/azure/cli/command_modules/aro/tests/latest/recordings/test_aro_list.yaml
  src/azure-cli/azure/cli/command_modules/aro/tests/latest/recordings/test_aro_list_credentials.yaml
  src/azure-cli/azure/cli/command_modules/aro/tests/latest/recordings/test_aro_show.yaml
  src/azure-cli/azure/cli/command_modules/aro/tests/latest/recordings/test_aro_update.yaml
Labels: ARO

#18084 [Functionapp] Fixed an issue where assign and remove identities would fail with a call to NoneType
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_assign_system_identity.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_assign_user_identity.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_remove_identity.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_functionapp_commands.py
Labels: Functions

#18082 [App Service]: Fixing issues with APIs signature that changed with Track2 update
  src/azure-cli/azure/cli/command_modules/appservice/appservice_domains.py
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_slot_appsetting_update.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_slot_swap.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_functionapp_commands.py
Labels: App Services

#18068 {AKS} replace ResourceGroupPreparer with custom preparer in aks command test
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/custom_preparers.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
Labels: AKS

#18083 [AppService] Add interactive way to get token for staticwebapp
  src/azure-cli/azure/cli/command_modules/appservice/_help.py
  src/azure-cli/azure/cli/command_modules/appservice/_params.py
  src/azure-cli/azure/cli/command_modules/appservice/static_sites.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_staticapp_commands_thru_mock.py
Labels: App Services

#17743 [WebApp] Add to `az webapp deploy` param help text
  src/azure-cli/azure/cli/command_modules/appservice/_params.py
Labels: App Services

#18277 [AppService] Hotfix: Fix # 18266 - webapp config appsettings set command causing all values to default to "false" in version 2.24.0
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_update_webapp_settings_thru_json.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_webapp_commands.py
Labels: needs-review

#18013 {Pylint} Fix `unnecessary-comprehension`
  pylintrc
  src/azure-cli-core/azure/cli/core/commands/command_operation.py
  src/azure-cli-core/azure/cli/core/extension/__init__.py
  src/azure-cli/azure/cli/command_modules/hdinsight/custom.py
  src/azure-cli/azure/cli/command_modules/iot/custom.py
  src/azure-cli/azure/cli/command_modules/keyvault/_transformers.py
  src/azure-cli/azure/cli/command_modules/keyvault/custom.py
  src/azure-cli/azure/cli/command_modules/network/_params.py
  src/azure-cli/azure/cli/command_modules/storage/_validators.py
  src/azure-cli/azure/cli/command_modules/storage/_validators_azure_stack.py
  src/azure-cli/azure/cli/command_modules/storage/operations/file.py
  src/azure-cli/azure/cli/command_modules/storage/operations/file_azure_stack.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
Labels: Pylint
