Repository Azure/azure-cli, pull requests merged in 2021-02, with the labels that each got.

#16630 [KeyVault] `az keyvault create/update`: Remove preview tag for `--enable-rbac-authorization`
  src/azure-cli/azure/cli/command_modules/keyvault/_params.py
Labels: KeyVault

#16257 [Core] New error output
  src/azure-cli-core/azure/cli/core/_help.py
  src/azure-cli-core/azure/cli/core/azclierror.py
  src/azure-cli-core/azure/cli/core/command_recommender.py
  src/azure-cli-core/azure/cli/core/parser.py
  src/azure-cli-core/azure/cli/core/tests/test_command_recommender.py
  src/azure-cli-core/azure/cli/core/tests/test_parser.py
Labels: Error Handling

#16726 [Compute] BREAKING CHANGE: vmss create: rename orchestration mode values
  src/azure-cli/azure/cli/command_modules/vm/_params.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute

#16398 [Security] Add new commands for `az security`
  src/azure-cli/azure/cli/command_modules/security/_client_factory.py
  src/azure-cli/azure/cli/command_modules/security/_help.py
  src/azure-cli/azure/cli/command_modules/security/_params.py
  src/azure-cli/azure/cli/command_modules/security/actions.py
  src/azure-cli/azure/cli/command_modules/security/commands.py
  src/azure-cli/azure/cli/command_modules/security/custom.py
  src/azure-cli/azure/cli/command_modules/security/tests/latest/preparers.py
  src/azure-cli/azure/cli/command_modules/security/tests/latest/recordings/test_va_sql_scenario.yaml
  src/azure-cli/azure/cli/command_modules/security/tests/latest/test_va_sql_scenario.py
Labels: Security

#16701 [AppService] Fix #16681: az webapp config ssl import: fixing bug that causes failures on national clouds
  src/azure-cli/azure/cli/command_modules/appservice/_constants.py
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_ssl_import.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_webapp_commands.py
Labels: App Services

#16775 {AKS} Add options for Node OS Disk Type in help
  src/azure-cli/azure/cli/command_modules/acs/_help.py
Labels: AKS

#16794 [Botservice] az bot update: Renaming Encryption-OFF arg to CMK-OFF and updating api version
  src/azure-cli/azure/cli/command_modules/botservice/_params.py
  src/azure-cli/azure/cli/command_modules/botservice/tests/latest/recordings/test_update_bot_should_raise_mutuallyexclusiveargumenterror.yaml
  src/azure-cli/azure/cli/command_modules/botservice/tests/latest/test_bot_commands.py
  src/azure-cli/azure/cli/command_modules/botservice/webappv4.template.json
Labels: customer-reported

#16778 [AppService] az webapp config ssl bind: handle if webapp and appservice plan in different rg. Also reference text updates
  src/azure-cli/azure/cli/command_modules/appservice/_help.py
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_ssl.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_ssl_import.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_ssl_import_crossrg.yaml
Labels: App Services

#16864 {Hint} Post-output hint for edge build
  src/azure-cli-core/azure/cli/core/__init__.py
  src/azure-cli-core/azure/cli/core/tests/test_util.py
  src/azure-cli/azure/cli/command_modules/hint/__init__.py
  src/azure-cli/azure/cli/command_modules/hint/custom.py
  src/azure-cli/azure/cli/command_modules/hint/tests/latest/__init__.py
  src/azure-cli/azure/cli/command_modules/hint/tests/latest/test_hint_custom.py
  src/azure-cli/azure/cli/command_modules/util/_help.py
  src/azure-cli/azure/cli/command_modules/util/commands.py
  src/azure-cli/azure/cli/command_modules/util/custom.py
Labels: edge, hint

#16865 Progress bar edge
  doc/assets/unsigned_msi_install1.png
  doc/assets/unsigned_msi_install2.png
  doc/assets/user_account_control.png
  doc/use_and_config_progress_bar.md
  src/azure-cli-core/azure/cli/core/__init__.py
  src/azure-cli-core/azure/cli/core/commands/__init__.py
  src/azure-cli-core/azure/cli/core/commands/constants.py
  src/azure-cli-core/azure/cli/core/commands/progress.py
  src/azure-cli-core/azure/cli/core/commands/validators.py
  src/azure-cli/azure/cli/command_modules/appconfig/tests/latest/export_features.json
  src/azure-cli/azure/cli/command_modules/appconfig/tests/latest/export_features_prop.json
  src/azure-cli/azure/cli/command_modules/databoxedge/tests/latest/test_device_scenario_coverage.md
  src/azure-cli/azure/cli/command_modules/databoxedge/tests/latest/test_general_scenario_coverage.md
  src/azure-cli/azure/cli/command_modules/databoxedge/tests/latest/test_order_scenario_coverage.md
  src/azure-cli/azure/cli/command_modules/iot/commands.py
  src/azure-cli/azure/cli/command_modules/network/_format.py
  src/azure-cli/azure/cli/command_modules/network/commands.py
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/test_sql_commands.py
  src/azure-cli/azure/cli/command_modules/storage/commands.py
  src/azure-cli/azure/cli/command_modules/vm/commands.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
Labels: edge

#16892 {Branch Management} Merge release 2.19.1 back to dev
  src/azure-cli-core/HISTORY.rst
  src/azure-cli-core/azure/cli/core/__init__.py
  src/azure-cli-core/setup.py
  src/azure-cli/HISTORY.rst
  src/azure-cli/azure/cli/__main__.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: Do Not Merge

#16852 [SQL] Update az sql mi examples
  src/azure-cli/azure/cli/command_modules/sql/_help.py
Labels: customer-reported

#16903 {Misc.} Use MSIFASTINSTALL
  build_scripts/windows/Product.wxs
Labels: Packaging

#16869 [AKS] Add support for SGX addon 'confcom'
  src/azure-cli/azure/cli/command_modules/acs/_consts.py
  src/azure-cli/azure/cli/command_modules/acs/_help.py
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/linter_exclusions.yml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_with_confcom_addon.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_with_confcom_addon_helper_enabled.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_disable_addons_confcom_addon.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_enable_addons_confcom_addon.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
Labels: AKS

#16781 [KeyVault] BREAKING CHANGE: `az keyvault role assignment/definition list`: `roleDefinitionName` should be `roleName` in command output
  src/azure-cli/azure/cli/command_modules/keyvault/commands.py
  src/azure-cli/azure/cli/command_modules/keyvault/custom.py
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/test_keyvault_commands.py
Labels: KeyVault

#17015 {Compute} Fixing a capital
  src/azure-cli/azure/cli/command_modules/vm/_help.py
Labels: Compute, customer-reported

#17012 {Packaging}: Bump msrest to 0.6.21
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
Labels: KeyVault

#15128 [Extension] Add azmirror cloud endpoint for installing extensions in air gapped clouds and support config of index url
  src/azure-cli-core/azure/cli/core/cloud.py
  src/azure-cli-core/azure/cli/core/extension/_index.py
  src/azure-cli-core/azure/cli/core/extension/_resolve.py
  src/azure-cli-core/azure/cli/core/extension/operations.py
  src/azure-cli-core/azure/cli/core/extension/tests/latest/test_extension_commands.py
  src/azure-cli-core/azure/cli/core/extension/tests/latest/test_index_get.py
  src/azure-cli-core/azure/cli/core/parser.py
  src/azure-cli/azure/cli/command_modules/extension/_completers.py
  src/azure-cli/azure/cli/command_modules/extension/custom.py
Labels: Cloud

#16672 {Packaging} Bump msal and remove msal-extensions
  src/azure-cli-core/azure/cli/core/_msal.py
  src/azure-cli-core/azure/cli/core/_profile.py
  src/azure-cli-core/azure/cli/core/tests/test_profile.py
  src/azure-cli-core/setup.py
  src/azure-cli-telemetry/setup.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
Labels: Compute, Core

#16997 [Backup] BugFix: Enabled Alternate Location Restore for SQL/SAPHANA protected items
  src/azure-cli/azure/cli/command_modules/backup/custom_base.py
Labels: Recovery Services Backup

#17035 [AppService] Bugfix: Add generateRandomAppNames.json to setup
  src/azure-cli/setup.py
Labels: App Services

#17033 {Compute} New examples in az sig image-version update
  src/azure-cli/azure/cli/command_modules/vm/_help.py
Labels: Compute

#16604 [OpenShift] update of az openshift deprecation warning
  src/azure-cli/azure/cli/command_modules/acs/_help.py
  src/azure-cli/azure/cli/command_modules/acs/commands.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
Labels: AKS

#17074 {AMS} Rename --id-system-assigned to --mi-system-assigned
  src/azure-cli/azure/cli/command_modules/ams/_params.py
  src/azure-cli/azure/cli/command_modules/ams/tests/latest/recordings/test_ams_create_show.yaml
  src/azure-cli/azure/cli/command_modules/ams/tests/latest/recordings/test_ams_encryption_set_show.yaml
  src/azure-cli/azure/cli/command_modules/ams/tests/latest/test_ams_account_encryption_scenarios.py
  src/azure-cli/azure/cli/command_modules/ams/tests/latest/test_ams_account_scenarios.py
Labels: Media Services

#17069 [Network] `az network public-ip create`: Expose a new argument `--tier`
  src/azure-cli/azure/cli/command_modules/network/_params.py
  src/azure-cli/azure/cli/command_modules/network/_template_builder.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_cross_region_lb.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_public_ip_sku.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Labels: Network - Public IP

#17011 [KeyVault] BREAKING CHANGE: `id` changes to be `jobId`, `azureStorageBlobContainerUri` changes to be `folderUrl` in command output of `az keyvault backup/restore`, `az keyvault key restore`
  src/azure-cli/azure/cli/command_modules/keyvault/commands.py
  src/azure-cli/azure/cli/command_modules/keyvault/custom.py
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/test_keyvault_commands.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: KeyVault

#17066 [AppService] functionapp: Added support for in preview dotnet-isolated runtime.
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/resources/LinuxFunctionsStacks.json
  src/azure-cli/azure/cli/command_modules/appservice/resources/WindowsFunctionsStacks.json
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_consumption_linux_dotnet_isolated.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_on_linux_app_service_dotnet_isolated.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_windows_runtime_dotnet_isolated.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_webapp_commands.py
Labels: App Services

#16902 [AppService] Fix #12150 Support for subnet ID in vnet-integration add
  src/azure-cli/azure/cli/command_modules/appservice/_help.py
  src/azure-cli/azure/cli/command_modules/appservice/_params.py
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_vnetSubnetId.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_webapp_commands.py
Labels: App Services
