Repository Azure/azure-cli, pull requests merged in 2022-11, with the labels that each got.

#24502 {App Service} Fix: #24489: Remove single quote from example text as it…
  src/azure-cli/azure/cli/command_modules/appservice/_help.py
Labels: App Services, Auto-Assign

#24514 {CI} Pin Python version to 3.10 in Test
  azure-pipelines.yml
Labels: CI, Auto-Assign

#24531 [Storage] Fix #23893, #24528: `az storage account show-connection-string/keys renew`: Fix resource group auto completion
  src/azure-cli-testsdk/azure/cli/testsdk/preparers.py
  src/azure-cli/azure/cli/command_modules/storage/_params.py
  src/azure-cli/azure/cli/command_modules/storage/commands.py
Labels: Account, Storage, ARM, Auto-Assign

#24533 {RDBMS} `az mysql/postgres flexible-server create/update`: Fix location capabilities and unify server name validation
  src/azure-cli/azure/cli/command_modules/rdbms/_client_factory.py
  src/azure-cli/azure/cli/command_modules/rdbms/_flexible_server_util.py
  src/azure-cli/azure/cli/command_modules/rdbms/flexible_server_custom_mysql.py
  src/azure-cli/azure/cli/command_modules/rdbms/flexible_server_custom_postgres.py
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_flexible_server_vnet_mgmt_validator.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_mysql_flexible_server_byok_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_mysql_flexible_server_existing_private_dns_zone.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_mysql_flexible_server_georestore_update_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_mysql_flexible_server_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_mysql_flexible_server_mgmt_create_validator.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_mysql_flexible_server_mgmt_update_validator.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_mysql_flexible_server_new_private_dns_zone.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_mysql_flexible_server_proxy_resource.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_mysql_flexible_server_public_access_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_mysql_flexible_server_replica_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_mysql_flexible_server_vnet_mgmt_supplied_subnet_id_in_different_rg.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_mysql_flexible_server_vnet_mgmt_supplied_subnetid.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_mysql_flexible_server_vnet_mgmt_supplied_vname_and_subnetname.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_flexible_server_backups_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_flexible_server_existing_private_dns_zone.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_flexible_server_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_flexible_server_mgmt_create_validator.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_flexible_server_mgmt_update_validator.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_flexible_server_new_private_dns_zone.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_flexible_server_proxy_resource.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_flexible_server_public_access_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_flexible_server_restore_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_flexible_server_vnet_mgmt_supplied_subnet_id_in_different_rg.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_flexible_server_vnet_mgmt_supplied_subnetid.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_flexible_server_vnet_mgmt_supplied_vname_and_subnetname.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/test_rdbms_flexible_commands.py
  src/azure-cli/azure/cli/command_modules/rdbms/validators.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: Auto-Assign

#24546 {IoT} Fix certificate filename conflict in test
  src/azure-cli/azure/cli/command_modules/iot/tests/latest/test_iot_dps_commands.py
Labels: IoT, IoT/CLI, Auto-Assign

#24470 {Extension} `az extension add`: Enable `--upgrade` when install extension from `--source`
  src/azure-cli-core/azure/cli/core/extension/operations.py
Labels: Installation, Auto-Assign

#24517 [ARM] `az deployment mg create`: Add new parameter `--mode` to support setting the mode for deploying resources
  src/azure-cli/azure/cli/command_modules/resource/_params.py
  src/azure-cli/azure/cli/command_modules/resource/custom.py
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/recordings/test_management_group_deployment_create_mode.yaml
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/test_resource.py
Labels: ARM, Auto-Assign

#24535 {Backup} Add documentation: help text details interchangeable parameter values
  src/azure-cli/azure/cli/command_modules/backup/_params.py
Labels: Backup, Auto-Assign

#24549 {Backup} `az backup container register`: Add documentation to clarify workload type
  src/azure-cli/azure/cli/command_modules/backup/_params.py
Labels: Backup, Auto-Assign

#24543 {App Service} Allow Azure Functions Create to accept Python 3.10 parameters
  src/azure-cli/azure/cli/command_modules/appservice/resources/WebappRuntimeStacks.json
Labels: App Services, Auto-Assign

#24515 [Storage] Fix #23216: `az storage file upload-batch`: Fix `--dryrun` to show correct file paths
  src/azure-cli/azure/cli/command_modules/storage/_params.py
  src/azure-cli/azure/cli/command_modules/storage/operations/file.py
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_file_copy_scenario.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_file_copy_snapshot_scenario.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_file_main_scenario.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_file_upload_content_md5_scenarios.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_share_rm_with_stats.yaml
Labels: Storage, Auto-Assign

#24568 [Network] `az network private-endpoint-connection`: Enable private link support for provider `Microsoft.DesktopVirtualization/hostpools` and `Microsoft.DesktopVirtualization/workspaces`
  src/azure-cli/azure/cli/command_modules/network/private_link_resource_and_endpoint_connections/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_private_endpoint_commands.py
Labels: Network, Auto-Assign

#24578 {Network} `az network bastion`: Changes to accommodate MFA auth
  src/azure-cli/azure/cli/command_modules/network/_params.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/tunnel.py
Labels: Network, Auto-Assign

#24500 {CI} Add resolve issues logic
  .github/fabricbot.json
Labels: CI, Auto-Assign

#24068 [SQL VM] Add optional `--least-privilege-mode` and `--cluster-subnet-type` parameter
  src/azure-cli/azure/cli/command_modules/sqlvm/_format.py
  src/azure-cli/azure/cli/command_modules/sqlvm/_help.py
  src/azure-cli/azure/cli/command_modules/sqlvm/_params.py
  src/azure-cli/azure/cli/command_modules/sqlvm/_validators.py
  src/azure-cli/azure/cli/command_modules/sqlvm/commands.py
  src/azure-cli/azure/cli/command_modules/sqlvm/custom.py
  src/azure-cli/azure/cli/command_modules/sqlvm/tests/latest/recordings/test_sqlvm_add_and_remove.yaml
  src/azure-cli/azure/cli/command_modules/sqlvm/tests/latest/recordings/test_sqlvm_create_and_delete.yaml
  src/azure-cli/azure/cli/command_modules/sqlvm/tests/latest/recordings/test_sqlvm_group_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/sqlvm/tests/latest/recordings/test_sqlvm_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/sqlvm/tests/latest/recordings/test_sqlvm_mgmt_assessment.yaml
  src/azure-cli/azure/cli/command_modules/sqlvm/tests/latest/recordings/test_sqlvm_update_license_and_sku.yaml
  src/azure-cli/azure/cli/command_modules/sqlvm/tests/latest/test_sqlvm_commands.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: SQL - VM, Auto-Assign

#24621 {Compute} `az capacity reservation`: Migrate to atomic commands
  src/azure-cli/azure/cli/command_modules/vm/__init__.py
  src/azure-cli/azure/cli/command_modules/vm/_help.py
  src/azure-cli/azure/cli/command_modules/vm/aaz/__init__.py
  src/azure-cli/azure/cli/command_modules/vm/aaz/latest/__init__.py
  src/azure-cli/azure/cli/command_modules/vm/aaz/latest/capacity/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/vm/aaz/latest/capacity/__init__.py
  src/azure-cli/azure/cli/command_modules/vm/aaz/latest/capacity/reservation/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/vm/aaz/latest/capacity/reservation/__init__.py
  src/azure-cli/azure/cli/command_modules/vm/aaz/latest/capacity/reservation/_delete.py
  src/azure-cli/azure/cli/command_modules/vm/aaz/latest/capacity/reservation/_list.py
  src/azure-cli/azure/cli/command_modules/vm/aaz/latest/capacity/reservation/group/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/vm/aaz/latest/capacity/reservation/group/__init__.py
  src/azure-cli/azure/cli/command_modules/vm/aaz/latest/capacity/reservation/group/_delete.py
  src/azure-cli/azure/cli/command_modules/vm/commands.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_capacity_reservation_list_delete.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Auto-Assign

#24611 [Storage] `az storage blob copy start`: Add `--destination-blob-type` to allow switching between blob types when copying
  src/azure-cli/azure/cli/command_modules/storage/_params.py
  src/azure-cli/azure/cli/command_modules/storage/operations/blob.py
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/test_storage_blob_copy_scenarios.py
Labels: Storage, Auto-Assign

#24625 [Core] `aaz`: Fix `has_value` function for list, dict and object arg types
  src/azure-cli-core/azure/cli/core/aaz/_arg.py
  src/azure-cli-core/azure/cli/core/tests/test_aaz_arg.py
Labels: Core, Auto-Assign

#24559 {Keyvault} `az keyvault key create`: Fetch default cvm policy from service, use local policy as fallback
  src/azure-cli/azure/cli/command_modules/keyvault/_validators.py
Labels: KeyVault, Auto-Assign

#24627 {App Service} Fix #8889: Update error message to clarify the cause
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
Labels: App Services, Auto-Assign

#24637 [Core] `aaz`: Support argument preview and experimental
  src/azure-cli-core/azure/cli/core/aaz/_arg.py
  src/azure-cli-core/azure/cli/core/aaz/_command.py
Labels: Core, Auto-Assign

#24640 [Core] `aaz`: Add registered property for `AAZBaseArg`
  src/azure-cli-core/azure/cli/core/aaz/_arg.py
  src/azure-cli-core/azure/cli/core/aaz/_command.py
  src/azure-cli-core/azure/cli/core/aaz/_help.py
  src/azure-cli-core/azure/cli/core/aaz/exceptions.py
  src/azure-cli-core/azure/cli/core/tests/test_aaz_arg.py
Labels: Core, Auto-Assign

#24650 {Packaging} Not install libssl1.1 explicitly in test
  scripts/release/debian/test_deb_in_docker.sh
Labels: Packaging, Installation, Auto-Assign

#24648 {CI} Add policy check to Security Tools
  .azure-pipelines/templates/variables.yml
  azure-pipelines.yml
Labels: CI, Auto-Assign

#24672 {CI} Fix regression test
  scripts/regression_test/regression_test.yml
Labels: CI, Auto-Assign

#24634 [App Service] Static Web Apps Linked Backends
  src/azure-cli/azure/cli/command_modules/appservice/_help.py
  src/azure-cli/azure/cli/command_modules/appservice/_params.py
  src/azure-cli/azure/cli/command_modules/appservice/commands.py
  src/azure-cli/azure/cli/command_modules/appservice/static_sites.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_staticapp_linked_backends.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_staticapp_commands.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_staticapp_commands_thru_mock.py
Labels: Web Apps, App Services, Auto-Assign

#24649 [RDBMS] `az postgres flexible-server upgrade`: Add major version upgrade for PostgreSQL flexible server
  src/azure-cli/azure/cli/command_modules/rdbms/_helptext_pg.py
  src/azure-cli/azure/cli/command_modules/rdbms/_params.py
  src/azure-cli/azure/cli/command_modules/rdbms/flexible_server_commands.py
  src/azure-cli/azure/cli/command_modules/rdbms/flexible_server_custom_common.py
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_flexible_server_upgrade_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/test_rdbms_flexible_commands.py
Labels: Auto-Assign

#24651 [RDBMS] `az postgres flexible-server create/update/restore/replica`: Postgres flex byok
  src/azure-cli/azure/cli/command_modules/rdbms/_flexible_server_util.py
  src/azure-cli/azure/cli/command_modules/rdbms/_helptext_pg.py
  src/azure-cli/azure/cli/command_modules/rdbms/_params.py
  src/azure-cli/azure/cli/command_modules/rdbms/flexible_server_custom_mysql.py
  src/azure-cli/azure/cli/command_modules/rdbms/flexible_server_custom_postgres.py
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_flexible_server_byok_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/test_rdbms_flexible_commands.py
  src/azure-cli/azure/cli/command_modules/rdbms/validators.py
Labels: Auto-Assign

#24690 [Core] `aaz`: Add aazlist and aazdict args transform help functions
  src/azure-cli-core/azure/cli/core/aaz/utils.py
  src/azure-cli-core/azure/cli/core/tests/test_aaz_arg.py
Labels: Core, Auto-Assign

#24727 {CDN} Fix #24711: `az afd rule`: Add examples for `--match-values`
  src/azure-cli/azure/cli/command_modules/cdn/_help.py
  src/azure-cli/azure/cli/command_modules/cdn/_params.py
Labels: Network, Network - CDN, Network - Front Door, Auto-Assign

#24716 [Network] `az network traffic-manager endpoint`: Add `--always-serve` to manage the health check on endpoint
  src/azure-cli/azure/cli/command_modules/network/_params.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/traffic_manager/endpoint/_create.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/traffic_manager/endpoint/_delete.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/traffic_manager/endpoint/_show.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/traffic_manager/endpoint/_show_geographic_hierarchy.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/traffic_manager/endpoint/_update.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/traffic_manager/profile/_check_dns.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/traffic_manager/profile/_create.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/traffic_manager/profile/_delete.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/traffic_manager/profile/_list.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/traffic_manager/profile/_show.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/traffic_manager/profile/_update.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_dns_alias.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_traffi_manager_always_serve.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_traffic_manager.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_traffic_manager2.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_traffic_manager_subnet_routing.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Labels: Network, Auto-Assign

#24603 {Network} `az network bastion`: Revert changes to accommodate MFA auth
  src/azure-cli/azure/cli/command_modules/network/_params.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/tunnel.py
Labels: Network, Auto-Assign

#24721 {SQL} Update SQL DB replica tests
  src/azure-cli/azure/cli/command_modules/sql/custom.py
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/recordings/test_sql_db_replica_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/test_sql_commands.py
Labels: SQL, Auto-Assign

#24728 [Network] `az network public-ip create`: Fix the issue when using `--ip-tags`
  src/azure-cli/azure/cli/command_modules/network/_validators.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_public_ip.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Labels: Network, Auto-Assign

#24712 [Network] `az network private-endpoint-connection`: Add Provider `Microsoft.MachineLearningServices/registries`
  src/azure-cli/azure/cli/command_modules/network/private_link_resource_and_endpoint_connections/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_private_link_endpoint_ml_registry.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_private_endpoint_commands.py
Labels: Network, Auto-Assign

#24709 [Compute] Fix #24624: `az sig image-version create`: Fix the error that the `--os-vhd-storage-account` must be a managed disk or snapshot
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_image_version_create_os_vhd.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Auto-Assign

#24740 {AKS} Fix several monitoring addon related test cases
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
Labels: AKS, Auto-Assign

#24750 {Misc.} Fix #24749: Remove outdated argument from dev documentation
  doc/authoring_command_modules/README.md
Labels: customer-reported

#24720 [Storage] New features for listing encryption scope and failover
  src/azure-cli/azure/cli/command_modules/storage/_help.py
  src/azure-cli/azure/cli/command_modules/storage/_params.py
  src/azure-cli/azure/cli/command_modules/storage/commands.py
  src/azure-cli/azure/cli/command_modules/storage/operations/account.py
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_account_encryption_scope_list.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/test_storage_account_scenarios.py
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/test_storage_encryption_scope_scenarios.py
Labels: Storage, Auto-Assign

#24713 [RDBMS] User identity and AD Admin for PostgreSQL flexible server
  src/azure-cli/azure/cli/command_modules/rdbms/_client_factory.py
  src/azure-cli/azure/cli/command_modules/rdbms/_flexible_server_util.py
  src/azure-cli/azure/cli/command_modules/rdbms/_helptext_pg.py
  src/azure-cli/azure/cli/command_modules/rdbms/_params.py
  src/azure-cli/azure/cli/command_modules/rdbms/flexible_server_commands.py
  src/azure-cli/azure/cli/command_modules/rdbms/flexible_server_custom_common.py
  src/azure-cli/azure/cli/command_modules/rdbms/flexible_server_custom_mysql.py
  src/azure-cli/azure/cli/command_modules/rdbms/flexible_server_custom_postgres.py
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_mysql_flexible_server_byok_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_mysql_flexible_server_identity_aad_admin_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_flexible_server_byok_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgresql_flexible_server_identity_aad_admin_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/test_rdbms_flexible_commands.py
Labels: AAD, Auto-Assign

#24754 {AKS} `az aks nodepool`: Update nodepool command option names
  src/azure-cli/azure/cli/command_modules/acs/_help.py
  src/azure-cli/azure/cli/command_modules/acs/_params.py
Labels: AKS, Auto-Assign

#24760 {CI} Update milestone from Nov 2022 (2022-12-06) to Dec 2022 (2023-01-03)
  .github/fabricbot.json
Labels: CI, Auto-Assign

#24759 {CI} Increase TestDebPackages job timeout to 120 minutes
  azure-pipelines.yml
Labels: CI, Auto-Assign

#24667 {CosmosDB} `az cosmosdb create`: Added user-assigned identity spec format to option '--default-identity'
  src/azure-cli/azure/cli/command_modules/cosmosdb/_params.py
Labels: Cosmos, customer-reported, Auto-Assign

#24710 [App Service] `az webapp config snapshot restore`: Fix the AttributeError `str object has no attribute get`
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_webapp_commands_thru_mock.py
Labels: Web Apps, App Services, customer-reported, Auto-Assign

#24655 [App Service] `az appservice plan create/update`: Add new environment SKU for parameter `--sku`
  src/azure-cli/azure/cli/command_modules/appservice/_params.py
Labels: App Services, customer-reported, Auto-Assign

#24616 [AKS] `az aks nodepool add`: Support the new SKU Mariner for parameter `--os-sku`
  src/azure-cli/azure/cli/command_modules/acs/_consts.py
  src/azure-cli/azure/cli/command_modules/acs/_params.py
Labels: AKS, Auto-Assign

#24580 [App Service] Fix #24506: `az functionapp keys set/delete`: Update the wrong accepted parameter value `systemKey` to `systemKeys` for `--key-type`
  src/azure-cli/azure/cli/command_modules/appservice/_params.py
Labels: App Services, Auto-Assign

#24473 [ARM] `az group lock list`: Mark the `--resource-group` as required in help message
  src/azure-cli/azure/cli/command_modules/resource/_params.py
Labels: ARM, Auto-Assign

#24768 {Packaging} Use openssl 1.1 in docker
  Dockerfile
Labels: Packaging, Auto-Assign
