Repository Azure/azure-cli, pull requests merged in 2022-04, with the labels that each got.

#21879 [Network] `az network application-gateway waf-policy managed-rule exclusion rule-set`: Support pre-rule exclusion creation without exclusion
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_waf_policy_exclusion_rule_set.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Labels: Network, Network - Application Gateway, Auto-Assign

#21559 {monitor}Fix doc issues of monitor diagnostic-settings
  src/azure-cli/azure/cli/command_modules/monitor/_help.py
  src/azure-cli/azure/cli/command_modules/monitor/_params.py
Labels: Network, Auto-Assign

#21759 {SQLVM} Update SQL VM Python version to 1.0.0b2
  src/azure-cli/azure/cli/command_modules/sqlvm/tests/latest/recordings/test_sqlvm_add_and_remove.yaml
  src/azure-cli/azure/cli/command_modules/sqlvm/tests/latest/recordings/test_sqlvm_create_and_delete.yaml
  src/azure-cli/azure/cli/command_modules/sqlvm/tests/latest/recordings/test_sqlvm_group_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/sqlvm/tests/latest/recordings/test_sqlvm_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/sqlvm/tests/latest/recordings/test_sqlvm_update_license_and_sku.yaml
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: Compute, SQL, SQL - VM, Auto-Assign

#21843 [Compute] `az vm/vmss create`: Support creating VM/VMSS from community gallery image and add community gallery legal agreement acceptance
  src/azure-cli/azure/cli/command_modules/vm/_client_factory.py
  src/azure-cli/azure/cli/command_modules/vm/_help.py
  src/azure-cli/azure/cli/command_modules/vm/_params.py
  src/azure-cli/azure/cli/command_modules/vm/_template_builder.py
  src/azure-cli/azure/cli/command_modules/vm/_validators.py
  src/azure-cli/azure/cli/command_modules/vm/_vm_utils.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_create_vm_with_shared_gallery_image.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Auto-Assign

#21887 {Packaging} Revert `BuildRpmPackageCentOS7.ArtifactName` to `yum`
  azure-pipelines.yml
Labels: Packaging, Auto-Assign

#21891 {Packaging} Change `TestRpmPackage`'s artifact source to `yum`
  azure-pipelines.yml
Labels: Packaging, Auto-Assign

#21892 {iot} `az iot dps access-policy`: Defer its deprecation
  src/azure-cli/azure/cli/command_modules/iot/commands.py
Labels: IoT, Auto-Assign

#21894 [ServiceConnector] `az webapp connection`: Add command `create sql/webpubsub` to support more target resources
  src/azure-cli/azure/cli/command_modules/serviceconnector/_resource_config.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/custom.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_webapp_sql_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_webapp_webpubsub_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/test_springcloud_connection_scenario.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/test_webpp_connection_scenario.py
Labels: Auto-Assign

#21893 {CI} Increase `TestExtensionsLoading`'s timeout
  azure-pipelines.yml
Labels: CI, Auto-Assign

#21864 [Network] Fix #21845: `az network routeserver create` required `--public-ip-address` argument
  src/azure-cli/azure/cli/command_modules/network/custom.py
Labels: Network, Auto-Assign

#21895 [Network] Fix #21829: `az network traffic-manager endpoint update` required `--type` argument
  src/azure-cli/azure/cli/command_modules/network/custom.py
Labels: Network, Auto-Assign

#21908 [Bot Service] ``az bot directline/email/facebook/kik/msteams/skype/slack/sms/telegram create``: Add ``--location`` argument as specified by user to channel creation for regionality/EUDB
  src/azure-cli/azure/cli/command_modules/botservice/channel_operations.py
  src/azure-cli/azure/cli/command_modules/botservice/tests/latest/recordings/test_botservice_create_channel_specific_location.yaml
  src/azure-cli/azure/cli/command_modules/botservice/tests/latest/recordings/test_botservice_registration_bot_create_specific_location.yaml
  src/azure-cli/azure/cli/command_modules/botservice/tests/latest/recordings/test_botservice_update_directline.yaml
  src/azure-cli/azure/cli/command_modules/botservice/tests/latest/recordings/test_directline_channel.yaml
  src/azure-cli/azure/cli/command_modules/botservice/tests/latest/recordings/test_msteams_channel.yaml
  src/azure-cli/azure/cli/command_modules/botservice/tests/latest/recordings/test_skype_channel.yaml
  src/azure-cli/azure/cli/command_modules/botservice/tests/latest/recordings/test_webchat_channel.yaml
  src/azure-cli/azure/cli/command_modules/botservice/tests/latest/test_bot_commands.py
  src/azure-cli/azure/cli/command_modules/botservice/tests/latest/test_channel_commands.py
Labels: customer-reported, Auto-Assign

#21947 {AKS} Fix test case `test_aks_create_with_node_config`
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
Labels: AKS, Auto-Assign

#21913 {Packaging} Bump Python version to 3.10.4 and 3.8.13
  Dockerfile
  build_scripts/windows/scripts/build.cmd
  scripts/release/debian/build.sh
Labels: Packaging, Auto-Assign

#21950 {Azure-CLI} Provide more explicit documentation for the property `--docker-custom-image-name`
  src/azure-cli/azure/cli/command_modules/apim/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/_params.py
Labels: Web Apps, Auto-Assign

#21928 [IoT] BREAKING CHANGE: `iot dps access-policy`: Deprecate access-policy in favor of policy
  src/azure-cli/azure/cli/command_modules/iot/_help.py
  src/azure-cli/azure/cli/command_modules/iot/_params.py
  src/azure-cli/azure/cli/command_modules/iot/commands.py
  src/azure-cli/azure/cli/command_modules/iot/tests/hybrid_2020_09_01/test_iot_dps_commands.py
Labels: IoT, Auto-Assign

#21623 [AKS] `az aks create/update`: Add `--nat-gateway-managed-outbound-ip-count` and `--nat-gateway-idle-timeout` to support nat gateway integration
  src/azure-cli/azure/cli/command_modules/acs/_consts.py
  src/azure-cli/azure/cli/command_modules/acs/_help.py
  src/azure-cli/azure/cli/command_modules/acs/_natgateway.py
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/_validators.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/decorator.py
  src/azure-cli/azure/cli/command_modules/acs/linter_exclusions.yml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_and_update_with_managed_nat_gateway_outbound.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_natgateway.py
Labels: AKS, Auto-Assign

#21941 [App Config] Fix #14012055: Fix feature flag import for missing description when using 'appconfig/kvset' profile.
  src/azure-cli/azure/cli/command_modules/appconfig/_kv_helpers.py
  src/azure-cli/azure/cli/command_modules/appconfig/_params.py
Labels: App Configuration, Auto-Assign

#21969 {Core} Ignore `FileNotFoundError` in `rmtree_with_retry`
  src/azure-cli-core/azure/cli/core/util.py
Labels: Core, Auto-Assign

#21948 [Packaging] Add Ubuntu 22.04 Jammy Jellyfish support
  azure-pipelines.yml
  scripts/release/debian/pipeline.sh
Labels: Packaging, Auto-Assign

#21974 {netappfiles} Return the result of `SnapshotsOperations.begin_restore_files`
  src/azure-cli/azure/cli/command_modules/netappfiles/custom.py
  src/azure-cli/azure/cli/command_modules/netappfiles/tests/latest/test_snapshot_commands.py
Labels: NetAppFiles, Auto-Assign

#21971 [Storage] Fix #21914: `az storage blob upload`: Make block size larger (100MB) for large files (>200GB)
  src/azure-cli/azure/cli/command_modules/storage/operations/blob.py
Labels: Storage, Auto-Assign

#21988 {CI} Pin `azure-mgmt-loganalytics` to `13.0.0b2`
  scripts/ci/test_extensions.sh
  src/azure-cli/setup.py
Labels: CI, Auto-Assign

#21975 {CDN} Fix rule creation failure with action type RouteConfigurationOverride and route creation issue with disabled --link-to-default-domain option
  src/azure-cli/azure/cli/command_modules/cdn/custom/custom_afdx.py
  src/azure-cli/azure/cli/command_modules/cdn/tests/latest/recordings/test_afd_route_crud.yaml
  src/azure-cli/azure/cli/command_modules/cdn/tests/latest/recordings/test_afd_rule_actions.yaml
  src/azure-cli/azure/cli/command_modules/cdn/tests/latest/recordings/test_afd_rule_complex_condition_creation.yaml
  src/azure-cli/azure/cli/command_modules/cdn/tests/latest/recordings/test_afd_rule_creation_invalid_match_values.yaml
  src/azure-cli/azure/cli/command_modules/cdn/tests/latest/recordings/test_afd_rule_creation_invalid_operator.yaml
  src/azure-cli/azure/cli/command_modules/cdn/tests/latest/recordings/test_afd_rule_crud.yaml
  src/azure-cli/azure/cli/command_modules/cdn/tests/latest/recordings/test_rule_set_crud.yaml
  src/azure-cli/azure/cli/command_modules/cdn/tests/latest/test_afd_route_scenarios.py
  src/azure-cli/azure/cli/command_modules/cdn/tests/latest/test_afd_rule_scenarios.py
Labels: Network, Network - CDN, Network - Front Door, Auto-Assign

#21977 {AKS} Refactor aks nodepool add - part 8
  src/azure-cli/azure/cli/command_modules/acs/_consts.py
  src/azure-cli/azure/cli/command_modules/acs/agentpool_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/base_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_agentpool_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_base_decorator.py
Labels: AKS, Auto-Assign

#21990 [Storage] `az storage account/container/blob generate-sas`: Add `--encryption-scope`
  src/azure-cli/azure/cli/command_modules/storage/_params.py
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/test_storage_sas_scenarios.py
Labels: Account, Storage, Auto-Assign

#21986 [Network] Private link add `Microsoft.Network/privateLinkServices` provider
  src/azure-cli/azure/cli/command_modules/network/private_link_resource_and_endpoint_connections/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_private_endpoint_pls.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_private_endpoint_commands.py
Labels: Network, Auto-Assign

#22013 {Monitor} Bump `azure-mgmt-loganalytics` from 13.0.0b2 to 13.0.0b4
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: Network, Auto-Assign

#22015 {AKS} Sort out imports and parameter declarations
  src/azure-cli/azure/cli/command_modules/acs/_completers.py
  src/azure-cli/azure/cli/command_modules/acs/_consts.py
  src/azure-cli/azure/cli/command_modules/acs/_format.py
  src/azure-cli/azure/cli/command_modules/acs/_help.py
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/_roleassignments.py
  src/azure-cli/azure/cli/command_modules/acs/_validators.py
  src/azure-cli/azure/cli/command_modules/acs/addonconfiguration.py
  src/azure-cli/azure/cli/command_modules/acs/commands.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_osa_commands.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_service_principals.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_validators.py
Labels: AKS, Auto-Assign

#22010 {AKS} Refactor aks nodepool add - part 9
  src/azure-cli/azure/cli/command_modules/acs/agentpool_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/data/invalidconfig.json
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_agentpool_decorator.py
Labels: AKS, Auto-Assign

#21968 {CODEOWNERS} Add CODEOWNERS for botservice
  .github/CODEOWNERS
Labels: customer-reported, Auto-Assign

#21955 {NetAppFiles} Fix#21954 fix flaky test
  src/azure-cli/azure/cli/command_modules/netappfiles/tests/latest/recordings/test_restore_file_returns_not_found.yaml
  src/azure-cli/azure/cli/command_modules/netappfiles/tests/latest/test_snapshot_commands.py
Labels: NetAppFiles, Auto-Assign

#21993 {Packaging} Release edge builds for Ubuntu Focal, Impish, Jammy, el8
  README.md
Labels: Packaging, Auto-Assign

#21980 [Storage] Fix #21920: `az storage copy`&`az storage remove`: Hide credentials in warning message
  src/azure-cli/azure/cli/command_modules/storage/azcopy/util.py
Labels: Storage, customer-reported, Auto-Assign

#21973 {AKS} Keep aad profile in PUT request of ManagedCluster
  src/azure-cli/azure/cli/command_modules/acs/custom.py
Labels: AKS, Auto-Assign

#21880 {CI} Fix top N slowest Test
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/test_rdbms_commands.py
  src/azure-cli/azure/cli/command_modules/resource/tests/hybrid_2019_03_01/test_resource.py
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/test_resource.py
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/test_sql_commands.py
Labels: CI, Auto-Assign

#22037 [Storage] GA storage file datalake soft delete
  src/azure-cli-core/azure/cli/core/profiles/_shared.py
  src/azure-cli/azure/cli/command_modules/storage/_help.py
  src/azure-cli/azure/cli/command_modules/storage/_params.py
  src/azure-cli/azure/cli/command_modules/storage/commands.py
  src/azure-cli/azure/cli/command_modules/storage/operations/filesystem.py
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_adls_fs_soft_delete.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/test_storage_adls_gen2_scenarios.py
Labels: Storage, Auto-Assign

#22042 [App Service] `az staticwebapp create`: Allow creating Static Web Apps not connected to a github repo
  src/azure-cli/azure/cli/command_modules/appservice/_help.py
  src/azure-cli/azure/cli/command_modules/appservice/_params.py
  src/azure-cli/azure/cli/command_modules/appservice/static_sites.py
Labels: App Services, Auto-Assign

#22035 {CI} Drop Python 3.9 tests
  azure-pipelines-full-tests.yml
  azure-pipelines.yml
Labels: CI, Auto-Assign

#22034 {Packaging} Build RPMs with Mariner 2.0 and 1.0 images
  azure-pipelines.yml
  scripts/release/rpm/mariner.dockerfile
  scripts/release/rpm/pipeline_mariner.sh
Labels: Packaging, Auto-Assign

#22049 {CI} Add `/azure-cli` as `safe.directory` in docker container
  scripts/ci/build.sh
Labels: CI, Auto-Assign

#22024 [App Service] Fix #21943: `az webapp config backup create`: Fix AttributeError 'str' object has no attribute 'get'
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_backup_with_name.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_webapp_commands.py
Labels: Web Apps, App Services, Auto-Assign

#22011 {AKS}`az aks update` update help doc for outbound ip count in aks subcommand
  src/azure-cli/azure/cli/command_modules/acs/_help.py
Labels: AKS, Auto-Assign

#22050 {AKS} Refactor aks nodepool update - part 1
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/agentpool_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_agentpool_decorator.py
Labels: AKS, Auto-Assign

#22025 [Keyvault] Fix #20520 `az keyvault network-rule`: Support removing multiple IP
  src/azure-cli/azure/cli/command_modules/keyvault/_params.py
  src/azure-cli/azure/cli/command_modules/keyvault/custom.py
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_network_rule.yaml
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/test_keyvault_commands.py
Labels: KeyVault, Auto-Assign

#22061 {AKS} Refactor aks nodepool update - part 2
  src/azure-cli/azure/cli/command_modules/acs/agentpool_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_agentpool_decorator.py
Labels: AKS, Auto-Assign

#21872 [SQL] `az sql mi create`, `az sql mi update`: Add `--service-principal-type` parameter to support Win Auth (Kerberos)
  src/azure-cli/azure/cli/command_modules/sql/_help.py
  src/azure-cli/azure/cli/command_modules/sql/_params.py
  src/azure-cli/azure/cli/command_modules/sql/custom.py
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/recordings/test_sql_managed_instance_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/test_sql_commands.py
Labels: SQL, Auto-Assign

#22045 [Storage] `az storage cors add`: Allow `PATCH` for `--methods`
  src/azure-cli/azure/cli/command_modules/storage/_params.py
Labels: Storage, Auto-Assign

#22060 [Storage] `az storage entity`: Support specifying `EdmType` for `--entity`
  src/azure-cli/azure/cli/command_modules/storage/_params_azure_stack.py
  src/azure-cli/azure/cli/command_modules/storage/_validators.py
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_table_main_scenario.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/test_storage_table_scenarios.py
Labels: Storage, Auto-Assign

#22072 [Storage] Fix #21966: `az storage blob download-batch`: Fix failure when `--pattern` is blob name
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/test_storage_batch_operations.py
  src/azure-cli/azure/cli/command_modules/storage/util.py
Labels: Storage, Auto-Assign

#22062 {acr} Updating reference docs
  src/azure-cli/azure/cli/command_modules/acr/_params.py
Labels: Container Registry, Auto-Assign

#22016 [Compute] `az vm create`: Fix the bug when creating Flex VMSS without SKU and VM profile
  src/azure-cli/azure/cli/command_modules/vm/_validators.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_quick_create_flexible_vmss.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_simple_orchestration_mode.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Auto-Assign

#22028 {Compute} Refile help message for `--data-disk-delete-option`
  src/azure-cli/azure/cli/command_modules/vm/_params.py
Labels: Compute, Auto-Assign

#22047 {CI} enable pytest group worker in module test and full test
  .azure-pipelines/templates/automation_test.yml
  scripts/ci/automation_full_test.py
Labels: CI, Auto-Assign

#21662 [Storage] Fix#21414: `az storage blob sync`: Fix the flag `--delete-destination` default to false
  src/azure-cli/azure/cli/command_modules/storage/_params.py
  src/azure-cli/azure/cli/command_modules/storage/operations/azcopy.py
  src/azure-cli/azure/cli/command_modules/storage/sdkutil.py
Labels: Storage, customer-reported, Auto-Assign

#22074 {Network} `az network public-ip create`: Add hint to use standard sku
  src/azure-cli/azure/cli/command_modules/network/custom.py
Labels: Network, Auto-Assign

#21841 [Compute] `az restore-point`: Add new parameters to support cross region copy
  src/azure-cli/azure/cli/command_modules/vm/_params.py
  src/azure-cli/azure/cli/command_modules/vm/commands.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_copy_vm_restore_point.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_restore_point.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_restore_point_collection.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Auto-Assign

#22088 [Storage] `az storage account blob-inventory-policy create`: Add missing fields, add excludePrefix in filter
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/blob_inventory_fns.json
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/blob_inventory_hns.json
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_account_blob_inventory_policy.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_account_blob_inventory_policy_hns.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/test_storage_account_scenarios.py
Labels: Account, Storage, Auto-Assign

#22099 [Service Bus] `az servicebus namespace create`: Add zone redundant parameter
  src/azure-cli/azure/cli/command_modules/servicebus/_params.py
  src/azure-cli/azure/cli/command_modules/servicebus/custom.py
  src/azure-cli/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_namespace.yaml
  src/azure-cli/azure/cli/command_modules/servicebus/tests/latest/test_servicebus_namespace_commands.py
Labels: Service Bus, Auto-Assign

#22105 [Backup] `az backup policy create/set`: Add support for creating/updating IaaSVM MBPD policy
  src/azure-cli/azure/cli/command_modules/backup/custom.py
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_backup_container.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_backup_item.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_backup_policy.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_backup_protection.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_backup_restore.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_backup_rp.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_backup_scenario.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_unregister_container.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_encryption.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_identity.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_policy.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/test_backup_commands.py
Labels: Backup, Auto-Assign

#22109 [Network] Fix #22085: `az network nsg rule create` has no attribute "is_default"
  src/azure-cli/azure/cli/command_modules/network/custom.py
Labels: Network, Auto-Assign

#22123 {Keyvault} Upgrade `azure-keyvault-keys` to adopt the fix for no `lifetime_actions`
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: KeyVault, Auto-Assign

#22106 {Compute} `az vm create` & `az vm update`: improve argument help message
  src/azure-cli/azure/cli/command_modules/vm/_params.py
Labels: Compute, Auto-Assign

#21992 {Compute} `az vmss create --orchestration-mode flexible`: fix converting `--edge-zone` to template json
  src/azure-cli/azure/cli/command_modules/vm/_validators.py
Labels: Compute, Auto-Assign

#21976 {CI} Split automation full test and automatic schedule test modules
  .azure-pipelines/templates/automation_test.yml
  azure-pipelines-full-tests.yml
  scripts/ci/automation_full_test.py
Labels: CI, Auto-Assign

#22115 [Service Bus] `az servicebus namespace authorization-rule keys renew`: Add `--key-value` parameter
  src/azure-cli/azure/cli/command_modules/servicebus/custom.py
  src/azure-cli/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_namespace.yaml
  src/azure-cli/azure/cli/command_modules/servicebus/tests/latest/test_servicebus_namespace_commands.py
Labels: Service Bus, Auto-Assign

#22046 {ARM} `az deployment`: Improve help message for passing in the template data
  src/azure-cli/azure/cli/command_modules/resource/_help.py
Labels: ARM, Auto-Assign

#22104 {Storage} Doc for storage data plane auth
  doc/storage_data_plane_commands_auth.md
Labels: Storage, Auto-Assign

#22124 {RDBMS} Use `ServicePrincipalCredential` with environment credential
  src/azure-cli-core/azure/cli/core/auth/identity.py
  src/azure-cli-core/azure/cli/core/tests/test_profile.py
  src/azure-cli/azure/cli/command_modules/rdbms/_client_factory.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: Auto-Assign

#22091 [Compute] `az sig image-version create`: Add new parameter `--target-region-cvm-encryption` to support Confidential VM encrypting the OS disk
  src/azure-cli-core/azure/cli/core/profiles/_shared.py
  src/azure-cli/azure/cli/command_modules/vm/_params.py
  src/azure-cli/azure/cli/command_modules/vm/_validators.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/linter_exclusions.yml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_create_image_version_with_region_cvm_encryptio.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_create_vm_with_shared_gallery_image.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_gallery_e2e.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_gallery_image_version_vhd.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_gallery_specialized.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_image_build_shared_image.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_replication_mode.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_shared_gallery.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_specialized_image.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_disk_max_shares_etc.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_actions.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Auto-Assign

#22009 {Auth} Provide GitHub issue links for DPAPI errors
  src/azure-cli-core/azure/cli/core/util.py
  src/azure-cli-core/setup.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
Labels: DPAPI

#21991 {ARM} Add comments for JsonCTemplatePolicy
  src/azure-cli/azure/cli/command_modules/resource/custom.py
Labels: ARM, Auto-Assign

#22139 [CDN] Fix #22066: `az cdn name-exists` missing type argument
  src/azure-cli/azure/cli/command_modules/cdn/custom/custom.py
  src/azure-cli/azure/cli/command_modules/cdn/tests/latest/recordings/test_akamai_delivery_rule.yaml
  src/azure-cli/azure/cli/command_modules/cdn/tests/latest/recordings/test_endpoint_compression.yaml
  src/azure-cli/azure/cli/command_modules/cdn/tests/latest/recordings/test_endpoint_crud.yaml
  src/azure-cli/azure/cli/command_modules/cdn/tests/latest/recordings/test_endpoint_different_profiles.yaml
  src/azure-cli/azure/cli/command_modules/cdn/tests/latest/recordings/test_endpoint_load_and_purge.yaml
  src/azure-cli/azure/cli/command_modules/cdn/tests/latest/recordings/test_endpoint_start_and_stop.yaml
  src/azure-cli/azure/cli/command_modules/cdn/tests/latest/recordings/test_rule_engine_crud.yaml
  src/azure-cli/azure/cli/command_modules/cdn/tests/latest/recordings/test_verizon_delivery_rule.yaml
  src/azure-cli/azure/cli/command_modules/cdn/tests/latest/test_endpoint_scenarios.py
Labels: Network, Network - CDN, Auto-Assign

#21897 [NetAppFiles] Add Volume Group commands
  src/azure-cli/azure/cli/command_modules/netappfiles/_client_factory.py
  src/azure-cli/azure/cli/command_modules/netappfiles/_help.py
  src/azure-cli/azure/cli/command_modules/netappfiles/_params.py
  src/azure-cli/azure/cli/command_modules/netappfiles/commands.py
  src/azure-cli/azure/cli/command_modules/netappfiles/custom.py
  src/azure-cli/azure/cli/command_modules/netappfiles/tests/latest/recordings/test_create_get_list_delete_volume_group.yaml
  src/azure-cli/azure/cli/command_modules/netappfiles/tests/latest/recordings/test_hrs_volume_groups.yaml
  src/azure-cli/azure/cli/command_modules/netappfiles/tests/latest/test_calculate_throughput_for_vg.py
  src/azure-cli/azure/cli/command_modules/netappfiles/tests/latest/test_calculate_usage_threshold_for_vg.py
  src/azure-cli/azure/cli/command_modules/netappfiles/tests/latest/test_volumegroup_commands.py
Labels: NetAppFiles, Auto-Assign

#22110 {NetAppFiles} `az netappfiles volume create`: Fix default export policy creation for NFSv3 volumes
  src/azure-cli/azure/cli/command_modules/netappfiles/custom.py
  src/azure-cli/azure/cli/command_modules/netappfiles/tests/latest/recordings/test_nfsv3_with_no_export_policy_provided_is_successful.yaml
  src/azure-cli/azure/cli/command_modules/netappfiles/tests/latest/test_volume_commands.py
Labels: NetAppFiles, Auto-Assign

#22048 [Compute] `az vm/vmss create`: Install guest attestation extension and turn on system MSI by default when Trusted Launch configuration is met
  src/azure-cli/azure/cli/command_modules/vm/_params.py
  src/azure-cli/azure/cli/command_modules/vm/_validators.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/linter_exclusions.yml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_guest_attestation_extension_and_msi.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_trusted_launch.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Auto-Assign

#22138 {CosmosDB} Fix for local variable 'throughput_resource' referenced before assign…
  src/azure-cli/azure/cli/command_modules/cosmosdb/custom.py
Labels: Cosmos, Auto-Assign

#22148 {CI} Include all files under `data` as `package_data`
  scripts/ci/build.sh
Labels: CI, Auto-Assign

#22156 [Network] `az network watcher connection monitor create`: Change to modify default workspace even if "output-type" is missing
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_nw_connection_monitor_output.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_nw_connection_monitor_output_type_as_workspace.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_nw_connection_monitor_v2_creation.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_nw_connection_monitor_v2_endpoint.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_nw_connection_monitor.py
Labels: Network, Auto-Assign

#22152 [Storage] Fix #21819: `az storage fs directory`: Add new command `generate-sas`
  src/azure-cli/azure/cli/command_modules/storage/_help.py
  src/azure-cli/azure/cli/command_modules/storage/_params.py
  src/azure-cli/azure/cli/command_modules/storage/commands.py
  src/azure-cli/azure/cli/command_modules/storage/operations/blob.py
  src/azure-cli/azure/cli/command_modules/storage/operations/fs_directory.py
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_fs_directory_generate_sas_as_user.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_fs_directory_generate_sas_full_uri.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/test_storage_adls_gen2_scenarios.py
Labels: Storage, Auto-Assign

#22170 [Packaging] Bump embedded Python to 3.10 for deb packages
  azure-pipelines.yml
  scripts/release/debian/Dockerfile
  scripts/release/debian/build.sh
  scripts/release/debian/prepare.sh
  scripts/release/debian/test_deb_package.py
Labels: Packaging, Auto-Assign

#22150 {Storage} `az storage container lease`: Track2 migration
  src/azure-cli/azure/cli/command_modules/storage/_client_factory.py
  src/azure-cli/azure/cli/command_modules/storage/_help.py
  src/azure-cli/azure/cli/command_modules/storage/_params.py
  src/azure-cli/azure/cli/command_modules/storage/commands.py
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_blob_container_operations.yaml
Labels: Storage, Auto-Assign

#22187 {AKS} Fix AgentPool update decorator
  src/azure-cli/azure/cli/command_modules/acs/agentpool_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/managed_cluster_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_agentpool_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_managed_cluster_decorator.py
Labels: AKS, Auto-Assign

#22169 {ARM} Bump `azure-mgmt-resource` to `21.1.0b1` and refine processing logic for JSONC template
  src/azure-cli/azure/cli/command_modules/resource/custom.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: ARM, Auto-Assign

#22167 {Packaging} Bump PyNaCl from 1.4.0 to 1.5.0 to support arm64 wheel installation
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: Packaging, Do Not Merge, customer-reported, Auto-Assign

#22205 [Network] `az network dns zone export`: Support traffic manager resources
  src/azure-cli/azure/cli/command_modules/network/custom.py
Labels: Network, Auto-Assign

#22207 {AKS} Fix v2 decorator backward compatibility issues
  src/azure-cli/azure/cli/command_modules/acs/agentpool_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/managed_cluster_decorator.py
Labels: AKS, Auto-Assign

#22225 {ACS} Updating default values to the description
  src/azure-cli/azure/cli/command_modules/acs/_help.py
Labels: AKS, Auto-Assign
