Repository Azure/azure-cli, pull requests merged in 2022-05, with the labels that each got.

#22259 [Iot] Fix dps policy and linked-hub commands
  src/azure-cli/azure/cli/command_modules/iot/custom.py
  src/azure-cli/azure/cli/command_modules/iot/tests/latest/recordings/test_dps_certificate_lifecycle.yaml
  src/azure-cli/azure/cli/command_modules/iot/tests/latest/recordings/test_dps_lifecycle.yaml
  src/azure-cli/azure/cli/command_modules/iot/tests/latest/recordings/test_dps_linked_hub_lifecycle.yaml
Labels: IoT, IoT/CLI, Auto-Assign

#21860 {CI} Update issue and pr template
  .github/ISSUE_TEMPLATE/Bug_report.md
  .github/ISSUE_TEMPLATE/Feature_request.md
  .github/ISSUE_TEMPLATE/Service_team_request.md
  .github/pull_request_template.md
Labels: CI, Auto-Assign

#22132 [CosmosDB] `az cosmosdb sql container update`: Fix bug to accept analyticalStorageTTL arg
  src/azure-cli/azure/cli/command_modules/cosmosdb/custom.py
  src/azure-cli/azure/cli/command_modules/cosmosdb/tests/latest/recordings/test_cosmosdb_sql_container_update_analytical_store_migration.yaml
  src/azure-cli/azure/cli/command_modules/cosmosdb/tests/latest/recordings/test_cosmosdb_sql_container_update_analytical_ttl.yaml
  src/azure-cli/azure/cli/command_modules/cosmosdb/tests/latest/recordings/test_cosmosdb_sql_container_update_disable_analytics.yaml
  src/azure-cli/azure/cli/command_modules/cosmosdb/tests/latest/test_cosmosdb_commands.py
Labels: Storage, SQL, Cosmos, Auto-Assign

#22206 {AKS} Enable v2 decorator
  src/azure-cli/azure/cli/command_modules/acs/custom.py
Labels: AKS, Auto-Assign

#22255 [NetAppFiles] Fix validation to parameter `rule-index` in add export policy
  src/azure-cli/azure/cli/command_modules/netappfiles/custom.py
  src/azure-cli/azure/cli/command_modules/netappfiles/tests/latest/recordings/test_add_export_policy_with_invalid_rule_index.yaml
  src/azure-cli/azure/cli/command_modules/netappfiles/tests/latest/recordings/test_add_export_policy_with_no_rule_index.yaml
  src/azure-cli/azure/cli/command_modules/netappfiles/tests/latest/recordings/test_create_volume_with_non_default_export_policy.yaml
  src/azure-cli/azure/cli/command_modules/netappfiles/tests/latest/test_volume_commands.py
Labels: NetAppFiles, Auto-Assign

#22201 {Service Connector} Improvements for GA
  src/azure-cli/azure/cli/command_modules/serviceconnector/_client_factory.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/_help.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/_params.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/_resource_config.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/_utils.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/_validators.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/action.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/commands.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/custom.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/_test_utils.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_kubernetes_confluentkafka_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_kubernetes_keyvault_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_kubernetes_mysql_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_kubernetes_servicebus_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_kubernetes_storageblob_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_webapp_appconfig_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_webapp_confluentkafka_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_webapp_confluentkafka_keyvault_ref.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_webapp_cosmoscassandra_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_webapp_cosmosgremlin_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_webapp_cosmosmongo_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_webapp_cosmossql_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_webapp_cosmostable_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_webapp_eventhub_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_webapp_keyvault_addon.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_webapp_keyvault_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_webapp_mysql_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_webapp_mysqlflexible_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_webapp_postgres_addon.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_webapp_postgres_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_webapp_postgresflexible_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_webapp_redis_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_webapp_redisenterprise_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_webapp_servicebus_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_webapp_signalr_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_webapp_sql_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_webapp_storageblob_addon.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_webapp_storageblob_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_webapp_storageblob_keyvault_ref.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_webapp_storageblob_vnet.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_webapp_storagefile_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_webapp_storagequeue_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_webapp_storagetable_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_webapp_webpubsub_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/test_kubernetes_connection_scenario.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/test_springcloud_connection_scenario.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/test_webapp_addon_scenario.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/test_webpp_connection_scenario.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: Auto-Assign

#22155 [NetAppFiles] Add parameter `site` to add and update active directory
  src/azure-cli/azure/cli/command_modules/netappfiles/_help.py
  src/azure-cli/azure/cli/command_modules/netappfiles/custom.py
Labels: NetAppFiles, Auto-Assign

#22064 [ARM] `az resourcemanagement private-link` and `az private-link association`: Add new command groups
  src/azure-cli-core/azure/cli/core/profiles/_shared.py
  src/azure-cli/azure/cli/command_modules/resource/_client_factory.py
  src/azure-cli/azure/cli/command_modules/resource/_help.py
  src/azure-cli/azure/cli/command_modules/resource/_params.py
  src/azure-cli/azure/cli/command_modules/resource/commands.py
  src/azure-cli/azure/cli/command_modules/resource/custom.py
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/recordings/test_create_privatelinkassociation.yaml
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/recordings/test_create_resourcemanagementprivatelink.yaml
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/recordings/test_delete_privatelinkassociation.yaml
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/recordings/test_delete_resourcemanagementprivatelink.yaml
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/recordings/test_get_privatelinkassociation.yaml
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/recordings/test_get_resourcemanagementprivatelink.yaml
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/recordings/test_list_privatelinkassociation.yaml
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/recordings/test_list_resourcemanagementprivatelink.yaml
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/test_resource.py
  src/azure-cli/service_name.json
Labels: Auto-Assign

#22290 [Service Connector] `az containerapp connection`: Add new command group to support container app connection
  src/azure-cli/azure/cli/command_modules/serviceconnector/_params.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/_resource_config.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/test_containerapp_connection_scenario.py
Labels: Auto-Assign, ContainerApp

#22288 {AKS} Remove deprecated code
  src/azure-cli/azure/cli/command_modules/acs/_consts.py
  src/azure-cli/azure/cli/command_modules/acs/_graph.py
  src/azure-cli/azure/cli/command_modules/acs/_helpers.py
  src/azure-cli/azure/cli/command_modules/acs/_roleassignments.py
  src/azure-cli/azure/cli/command_modules/acs/commands.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/decorator.py
  src/azure-cli/azure/cli/command_modules/acs/managed_cluster_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/hybrid_2020_09_01/test_service_principals.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_managed_cluster_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_service_principals.py
Labels: AKS, Auto-Assign

#22277 {Synapse} add timestamp to az synapse spark pool update package
  src/azure-cli/azure/cli/command_modules/synapse/manual/operations/sparkpool.py
Labels: Synapse, Auto-Assign

#22188 {Graph} Rerun keyvault tests related with `az ad/role`
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_mgmt.yaml
Labels: KeyVault, Graph, RBAC, AAD, Auto-Assign

#22178 [Network] Private link add `Microsoft.Kusto/clusters` provider
  src/azure-cli/azure/cli/command_modules/network/private_link_resource_and_endpoint_connections/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_private_endpoint_connection_kusto_cluster.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_private_link_resource_kusto_cluster.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_private_endpoint_commands.py
Labels: customer-reported

#22180 [API Management] Fix apim's `apply-network-updates` command
  src/azure-cli/azure/cli/command_modules/apim/custom.py
Labels: Network, API Management, customer-reported, Auto-Assign

#22311 [Service Connector] `az containerapp connection create`: Add required parameter for interactive mode
  src/azure-cli/azure/cli/command_modules/serviceconnector/_params.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/_resource_config.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/_validators.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/custom.py
Labels: Auto-Assign, ContainerApp

#22334 [Storage] Fix #22236: `az storage entity insert`: Fix `--if-exists fail` not working
  src/azure-cli/azure/cli/command_modules/storage/operations/table.py
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_table_main_scenario.yaml
Labels: Storage, Auto-Assign

#22215 {Storage} Migrate azure-storage-file-share to track2 sdk
  src/azure-cli/azure/cli/command_modules/storage/_client_factory.py
  src/azure-cli/azure/cli/command_modules/storage/_help.py
  src/azure-cli/azure/cli/command_modules/storage/_params.py
  src/azure-cli/azure/cli/command_modules/storage/_transformers.py
  src/azure-cli/azure/cli/command_modules/storage/commands.py
  src/azure-cli/azure/cli/command_modules/storage/operations/fileshare.py
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_file_main_scenario.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_file_share_scenario.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_share_metadata_scenario.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/test_storage_file_share_scenarios.py
Labels: Storage, customer-reported, Auto-Assign

#22307 {AKS} Reformat v2 decorator code and tests
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/agentpool_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_agentpool_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_managed_cluster_decorator.py
Labels: AKS, Auto-Assign

#22291 [Compute] `az vmss create`: Support enabling single placement group for Flexible VMSS
  src/azure-cli/azure/cli/command_modules/vm/_validators.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_simple_placement.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Auto-Assign

#22318 {Graph} Fix linter and style errors
  src/azure-cli/azure/cli/command_modules/rdbms/_flexible_server_util.py
  src/azure-cli/azure/cli/command_modules/role/_help.py
  src/azure-cli/azure/cli/command_modules/role/_params.py
  src/azure-cli/azure/cli/command_modules/role/_validators.py
  src/azure-cli/azure/cli/command_modules/role/commands.py
  src/azure-cli/azure/cli/command_modules/role/custom.py
  src/azure-cli/azure/cli/command_modules/role/linter_exclusions.yml
  src/azure-cli/azure/cli/command_modules/role/msgrpah/__init__.py
  src/azure-cli/azure/cli/command_modules/role/msgrpah/_graph_client.py
  src/azure-cli/azure/cli/command_modules/role/msgrpah/_graph_objects.py
  src/azure-cli/azure/cli/command_modules/role/tests/latest/recordings/test_create_for_rbac_argument_error.yaml
  src/azure-cli/azure/cli/command_modules/role/tests/latest/recordings/test_user_scenario.yaml
  src/azure-cli/azure/cli/command_modules/role/tests/latest/test_graph.py
  src/azure-cli/azure/cli/command_modules/role/tests/latest/test_role.py
Labels: Graph, Auto-Assign

#22339 [Network] `az network lb create`: Add warnings for default SKU
  src/azure-cli/azure/cli/command_modules/network/custom.py
Labels: Network, Network - Load Balancer, Auto-Assign

#22203 {Graph} Drop `azure-graphrbac` SDK in keyvault module
  src/azure-cli/azure/cli/command_modules/keyvault/custom.py
  src/azure-cli/azure/cli/command_modules/keyvault/tests/hybrid_2018_03_01/recordings/test_keyvault_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/keyvault/tests/hybrid_2018_03_01/recordings/test_keyvault_softdelete.yaml
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_list_deleted.yaml
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_network_rule.yaml
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_public_network_access.yaml
  src/azure-cli/azure/cli/command_modules/role/__init__.py
Labels: KeyVault, Microsoft Graph, Auto-Assign

#22347 {Storage} Rerun tests influenced by `az storage account show-connection-string` new changes
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_backup_container.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_backup_item.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_backup_policy.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_backup_protection.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_backup_restore.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_backup_rp.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_backup_scenario.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_unregister_container.yaml
  src/azure-cli/azure/cli/command_modules/iot/tests/hybrid_2019_03_01/recordings/test_iot_hub.yaml
  src/azure-cli/azure/cli/command_modules/iot/tests/hybrid_2019_03_01/test_iot_commands.py
  src/azure-cli/azure/cli/command_modules/iot/tests/latest/recordings/test_hub_file_upload.yaml
  src/azure-cli/azure/cli/command_modules/iot/tests/latest/recordings/test_identity_hub.yaml
  src/azure-cli/azure/cli/command_modules/iot/tests/latest/recordings/test_iot_hub.yaml
  src/azure-cli/azure/cli/command_modules/iot/tests/latest/test_iot_commands.py
Labels: Storage, Auto-Assign

#22363 {CI} Fix automation full test fails but ci does not report an error
  scripts/ci/automation_full_test.py
Labels: CI, Auto-Assign

#22367 [Storage] `az storage copy`: Fix `--exclude-path` TypeError
  src/azure-cli/azure/cli/command_modules/storage/operations/azcopy.py
Labels: Storage, customer-reported, Auto-Assign

#22100 [EventHubs]Add cmdlets for schema registry
  src/azure-cli-core/azure/cli/core/profiles/_shared.py
  src/azure-cli/azure/cli/command_modules/eventhubs/_client_factory.py
  src/azure-cli/azure/cli/command_modules/eventhubs/_help.py
  src/azure-cli/azure/cli/command_modules/eventhubs/_params.py
  src/azure-cli/azure/cli/command_modules/eventhubs/action.py
  src/azure-cli/azure/cli/command_modules/eventhubs/commands.py
  src/azure-cli/azure/cli/command_modules/eventhubs/custom.py
  src/azure-cli/azure/cli/command_modules/eventhubs/tests/latest/recordings/test_eh_alias.yaml
  src/azure-cli/azure/cli/command_modules/eventhubs/tests/latest/recordings/test_eh_cluster.yaml
  src/azure-cli/azure/cli/command_modules/eventhubs/tests/latest/recordings/test_eh_consumergroup.yaml
  src/azure-cli/azure/cli/command_modules/eventhubs/tests/latest/recordings/test_eh_create_update.yaml
  src/azure-cli/azure/cli/command_modules/eventhubs/tests/latest/recordings/test_eh_eventhub.yaml
  src/azure-cli/azure/cli/command_modules/eventhubs/tests/latest/recordings/test_eh_namespace.yaml
  src/azure-cli/azure/cli/command_modules/eventhubs/tests/latest/recordings/test_eh_namespace_byok.yaml
  src/azure-cli/azure/cli/command_modules/eventhubs/tests/latest/recordings/test_eh_namespace_encryption.yaml
  src/azure-cli/azure/cli/command_modules/eventhubs/tests/latest/recordings/test_eh_namespace_msi.yaml
  src/azure-cli/azure/cli/command_modules/eventhubs/tests/latest/recordings/test_eh_namespace_premium.yaml
  src/azure-cli/azure/cli/command_modules/eventhubs/tests/latest/recordings/test_eh_network.yaml
  src/azure-cli/azure/cli/command_modules/eventhubs/tests/latest/recordings/test_eh_privateendpoint.yaml
  src/azure-cli/azure/cli/command_modules/eventhubs/tests/latest/recordings/test_eventhub_schema_registry.yaml
  src/azure-cli/azure/cli/command_modules/eventhubs/tests/latest/test_eventhub_commands_network_test.py
  src/azure-cli/azure/cli/command_modules/eventhubs/tests/latest/test_eventhub_namespace_schema_registry.py
  src/azure-cli/azure/cli/command_modules/iot/tests/hybrid_2019_03_01/recordings/test_iot_hub.yaml
  src/azure-cli/azure/cli/command_modules/iot/tests/latest/recordings/test_identity_hub.yaml
  src/azure-cli/azure/cli/command_modules/iot/tests/latest/recordings/test_iot_hub.yaml
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_log_analytics_workspace_data_export.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_private_endpoint_connection_eventhub.yaml
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/recordings/test_sql_db_security_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/recordings/test_sql_server_ms_support_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/recordings/test_sql_server_security_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/synapse/tests/latest/recordings/test_kusto_data_connection_event_grid.yaml
  src/azure-cli/azure/cli/command_modules/synapse/tests/latest/recordings/test_kusto_data_connection_event_hub.yaml
  src/azure-cli/azure/cli/command_modules/synapse/tests/latest/recordings/test_sql_pool_audit_policy_logentry_eventhub.yaml
  src/azure-cli/azure/cli/command_modules/synapse/tests/latest/recordings/test_sql_ws_audit_policy_logentry_eventhub.yaml
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: Auto-Assign

#22357 [AKS] `az aks create`: Add new option `--node-resource-group` to specify the name of the resource group where user resources are stored
  src/azure-cli/azure/cli/command_modules/acs/_help.py
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/managed_cluster_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_node_resource_group.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_managed_cluster_decorator.py
Labels: AKS, ARM, Auto-Assign

#22359 [AKS] `az aks get-credentials`: Raise exception when existing config file is invalid
  src/azure-cli/azure/cli/command_modules/acs/custom.py
Labels: AKS, Auto-Assign

#22358 [AKS] `az aks check-acr`: Add new option `--node-name` to specify the name of a specific node to perform acr pull test checks
  src/azure-cli/azure/cli/command_modules/acs/_consts.py
  src/azure-cli/azure/cli/command_modules/acs/_help.py
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
Labels: Container Registry, AKS, Auto-Assign

#22364 {Backup} `az backup restore restore-disks`: Fix missing sec…
  src/azure-cli/azure/cli/command_modules/backup/custom.py
Labels: Backup, Auto-Assign

#22303 {Graph} Re-record related tests of vm module
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_create_image_version_with_region_cvm_encryptio.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_defer_only_commands.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_disk_encryption_set.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_disk_encryption_set_disk_update.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_disk_encryption_set_snapshot.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_disk_encryption_set_update.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_gallery_e2e.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_image_build_managed_image.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_image_build_shared_image.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_image_builder_basic.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_image_builder_basic_sig.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_image_builder_cancel.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_image_builder_customizers.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_image_template_outputs.yaml
Labels: Graph, Auto-Assign

#22302 {Graph} Re-record related tests of resource module
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/recordings/test_managedapp.yaml
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/recordings/test_managedappdef.yaml
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/recordings/test_managedappdef_inline.yaml
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/recordings/test_resource_policy_identity.yaml
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/recordings/test_resource_policy_identity_systemassigned.yaml
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/test_resource.py
Labels: Graph, ARM, Auto-Assign

#22308 {Misc.} Replace NBSP with normal ASCII space
  doc/authoring_command_modules/README.md
  doc/azure2az_commands.rst
  scripts/release/debian/deb_install.sh
  src/azure-cli/HISTORY.rst
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
Labels: Packaging, Auto-Assign

#22361 {Graph} Migrate command modules to use Microsoft Graph API
  src/azure-cli/azure/cli/command_modules/acs/tests/hybrid_2020_09_01/test_aks_commands.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/custom_preparers.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_default_service_without_skip_role_assignment.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
  src/azure-cli/azure/cli/command_modules/ams/tests/latest/recordings/test_ams_sp_create_reset.yaml
  src/azure-cli/azure/cli/command_modules/appconfig/tests/latest/recordings/test_azconfig_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/cosmosdb/tests/latest/test_cosmosdb_cassandrami_scenario.py
  src/azure-cli/azure/cli/command_modules/cosmosdb/tests/latest/test_cosmosdb_commands.py
  src/azure-cli/azure/cli/command_modules/eventhubs/tests/latest/recordings/test_eh_namespace_encryption.yaml
  src/azure-cli/azure/cli/command_modules/iot/tests/latest/test_iot_commands.py
  src/azure-cli/azure/cli/command_modules/keyvault/custom.py
  src/azure-cli/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_namespace_encryption.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/action.py
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/test_sql_commands.py
Labels: Graph, Auto-Assign

#22427 [Packaging] Use Mariner 2.0 GA image to build RPM
  azure-pipelines.yml
  scripts/release/rpm/mariner.dockerfile
  scripts/release/rpm/pipeline_mariner.sh
Labels: Packaging, Auto-Assign

#22317 [Storage] `az storage blob download`: Allow downloading to stdout for pipe support
  src/azure-cli/azure/cli/command_modules/storage/_help.py
  src/azure-cli/azure/cli/command_modules/storage/_params.py
  src/azure-cli/azure/cli/command_modules/storage/_transformers.py
  src/azure-cli/azure/cli/command_modules/storage/_validators.py
  src/azure-cli/azure/cli/command_modules/storage/operations/blob.py
Labels: Storage, customer-reported, Auto-Assign

#20967 [Core] Codegen v2 support
  doc/shorthand_syntax.md
  src/azure-cli-core/azure/cli/core/aaz/__init__.py
  src/azure-cli-core/azure/cli/core/aaz/_arg.py
  src/azure-cli-core/azure/cli/core/aaz/_arg_action.py
  src/azure-cli-core/azure/cli/core/aaz/_arg_browser.py
  src/azure-cli-core/azure/cli/core/aaz/_base.py
  src/azure-cli-core/azure/cli/core/aaz/_client.py
  src/azure-cli-core/azure/cli/core/aaz/_command.py
  src/azure-cli-core/azure/cli/core/aaz/_command_ctx.py
  src/azure-cli-core/azure/cli/core/aaz/_content_builder.py
  src/azure-cli-core/azure/cli/core/aaz/_error_format.py
  src/azure-cli-core/azure/cli/core/aaz/_field_type.py
  src/azure-cli-core/azure/cli/core/aaz/_field_value.py
  src/azure-cli-core/azure/cli/core/aaz/_help.py
  src/azure-cli-core/azure/cli/core/aaz/_http_policy.py
  src/azure-cli-core/azure/cli/core/aaz/_operation.py
  src/azure-cli-core/azure/cli/core/aaz/_paging.py
  src/azure-cli-core/azure/cli/core/aaz/_poller.py
  src/azure-cli-core/azure/cli/core/aaz/_utils.py
  src/azure-cli-core/azure/cli/core/aaz/exceptions.py
  src/azure-cli-core/azure/cli/core/commands/__init__.py
  src/azure-cli-core/azure/cli/core/tests/test_aaz_arg.py
  src/azure-cli-core/azure/cli/core/tests/test_aaz_content_builder.py
  src/azure-cli-core/azure/cli/core/tests/test_aaz_field.py
  src/azure-cli-core/azure/cli/core/tests/test_aaz_paging.py
  src/azure-cli-core/azure/cli/core/util.py
Labels: feature-request

#22365 [App Service] Fix #18151: `az webapp config backup restore`: Fix the bug that 'WebAppsOperations' object has no attribute 'restore_slot'
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_config_backup_restore.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_webapp_commands.py
Labels: Web Apps, App Services, customer-reported, Backup, Auto-Assign

#22320 [ARO] `az aro create`: v2022-04-01 API Feature Support
  .github/CODEOWNERS
  src/azure-cli-core/azure/cli/core/profiles/_shared.py
  src/azure-cli/azure/cli/command_modules/aro/_aad.py
  src/azure-cli/azure/cli/command_modules/aro/_client_factory.py
  src/azure-cli/azure/cli/command_modules/aro/_params.py
  src/azure-cli/azure/cli/command_modules/aro/_rbac.py
  src/azure-cli/azure/cli/command_modules/aro/_validators.py
  src/azure-cli/azure/cli/command_modules/aro/custom.py
  src/azure-cli/azure/cli/command_modules/aro/tests/latest/recordings/test_aro_create.yaml
  src/azure-cli/azure/cli/command_modules/aro/tests/latest/recordings/test_aro_delete.yaml
  src/azure-cli/azure/cli/command_modules/aro/tests/latest/recordings/test_aro_list.yaml
  src/azure-cli/azure/cli/command_modules/aro/tests/latest/recordings/test_aro_list_credentials.yaml
  src/azure-cli/azure/cli/command_modules/aro/tests/latest/recordings/test_aro_show.yaml
  src/azure-cli/azure/cli/command_modules/aro/tests/latest/recordings/test_aro_update.yaml
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: customer-reported

#22454 {CI} Add pkginfo==1.8.2 to requirements.py3.$(uname).txt
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
Labels: CI, Auto-Assign

#22372 {Core} Expose public interface for `SecretStore`
  src/azure-cli-core/azure/cli/core/_profile.py
  src/azure-cli-core/azure/cli/core/util.py
  src/azure-cli/azure/cli/command_modules/util/_help.py
  src/azure-cli/azure/cli/command_modules/util/_params.py
  src/azure-cli/azure/cli/command_modules/util/commands.py
  src/azure-cli/azure/cli/command_modules/util/custom.py
  src/azure-cli/azure/cli/command_modules/util/linter_exclusions.yml
Labels: Core, Auto-Assign

#22286 [AKS] BREAKING CHANGE: `az openshift`: Remove the command group
  src/azure-cli/azure/cli/command_modules/acs/_client_factory.py
  src/azure-cli/azure/cli/command_modules/acs/_format.py
  src/azure-cli/azure/cli/command_modules/acs/_help.py
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/commands.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_openshift_create_default_service.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_openshift_create_default_service_no_aad.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_openshift_create_service_no_wait.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_openshift_create_with_monitoring.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_openshift_monitoring_enable.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_osa_commands.py
Labels: AKS, Auto-Assign

#22442 [AKS] Fix #22032: `az aks nodepool add/update`: Fix autoscaler parameters for user node pools
  src/azure-cli/azure/cli/command_modules/acs/_help.py
  src/azure-cli/azure/cli/command_modules/acs/_validators.py
  src/azure-cli/azure/cli/command_modules/acs/agentpool_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_agentpool_decorator.py
Labels: AKS, Auto-Assign

#22458 {AKS} Remove deprecated pre-process functions for sp
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/custom_preparers.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
Labels: AKS, Auto-Assign

#22217 [AKS] `az aks create/update`: Add Microsoft Defender security profile support
  src/azure-cli/azure/cli/command_modules/acs/_help.py
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/_validators.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/managed_cluster_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_with_defender.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_update_with_defender.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_managed_cluster_decorator.py
Labels: AKS, Auto-Assign

#22456 [AKS] GA Kubernetes version alias
  src/azure-cli/azure/cli/command_modules/acs/_format.py
  src/azure-cli/azure/cli/command_modules/acs/_validators.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_validators.py
Labels: AKS, Auto-Assign

#22343 [SQL] Fix #22316: `az sql server ad-admin create`: Fix Display Name and Object ID to be required
  src/azure-cli/azure/cli/command_modules/sql/_params.py
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/test_sql_commands.py
Labels: SQL, Auto-Assign

#22461 {Network} `az network application-gateway private-link add`: Refine error message
  src/azure-cli/azure/cli/command_modules/network/custom.py
Labels: Network, Auto-Assign

#22258 [RDBMS] `az mariadb server create/update`: Support `--minimal-tls-version`
  src/azure-cli/azure/cli/command_modules/rdbms/_params.py
  src/azure-cli/azure/cli/command_modules/rdbms/custom.py
Labels: Auto-Assign

#22460 [ServiceBus] `az servicebus queue create`: Allow `ReceiveDisabled` for `--status`
  src/azure-cli/azure/cli/command_modules/servicebus/_params.py
  src/azure-cli/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_queue.yaml
  src/azure-cli/azure/cli/command_modules/servicebus/tests/latest/test_servicebus_queue_commands.py
Labels: Service Bus, Auto-Assign

#22488 {CI} Only list top 10 slowest durations
  .azure-pipelines/templates/automation_test.yml
  scripts/ci/automation_full_test.py
Labels: CI, Auto-Assign

#22483 [Storage] Fix #22209: `az storage entity insert`: Fix `Edm.Boolean` not working
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: Storage, Auto-Assign

#22469 {packaging} Update antlr4 to 4.9.3
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: customer-reported, Auto-Assign

#22274 {Compute} Fix `CloudError` in VM module
  src/azure-cli/azure/cli/command_modules/vm/_image_builder.py
  src/azure-cli/azure/cli/command_modules/vm/_validators.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2018_03_01/test_vm_actions.py
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2019_03_01/test_vm_actions.py
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2020_09_01/test_vm_actions.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_actions.py
Labels: Compute, Auto-Assign

#21918 [AKS] Monitoring addon MSI auth - use existing tags on container insights extension dcr for PUT
  src/azure-cli/azure/cli/command_modules/acs/addonconfiguration.py
Labels: AKS, Auto-Assign

#22472 [Backup] `az backup vault resource-guard-mapping`: Add Multiple User Authentication support
  src/azure-cli/azure/cli/command_modules/backup/_client_factory.py
  src/azure-cli/azure/cli/command_modules/backup/_help.py
  src/azure-cli/azure/cli/command_modules/backup/_params.py
  src/azure-cli/azure/cli/command_modules/backup/commands.py
  src/azure-cli/azure/cli/command_modules/backup/custom.py
  src/azure-cli/azure/cli/command_modules/backup/custom_afs.py
  src/azure-cli/azure/cli/command_modules/backup/custom_base.py
  src/azure-cli/azure/cli/command_modules/backup/custom_common.py
  src/azure-cli/azure/cli/command_modules/backup/custom_help.py
  src/azure-cli/azure/cli/command_modules/backup/custom_wl.py
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_backup_container.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_backup_item.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_backup_policy.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_backup_protection.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_backup_restore.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_backup_rp.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_backup_scenario.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_unregister_container.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_archive.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_container.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_disk_exclusion.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_encryption.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_identity.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_item.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_job.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_policy.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_protection.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_restore.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_rg_mapping.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_rp.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_scenario.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_softdelete.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_vault.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_hana_archive.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_hana_container.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_hana_item.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_hana_policy.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_hana_protectable_item.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_hana_protection.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_hana_restore.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_hana_rp.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_sql_archive.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_sql_auto_protection.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_sql_container.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_sql_crr.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_sql_item.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_sql_policy.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_sql_protectable_item.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_sql_protection.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_sql_restore.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_sql_restore_as_files.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_sql_rp.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/test_backup_commands.py
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/test_hana_commands.py
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/test_sql_commands.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: Backup, Auto-Assign

#22452 {AKS} Refine v2 decorator
  src/azure-cli/azure/cli/command_modules/acs/_helpers.py
  src/azure-cli/azure/cli/command_modules/acs/managed_cluster_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_helpers.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_managed_cluster_decorator.py
Labels: AKS, Auto-Assign

#22451 {AKS} Add test case for cluster auto scaler
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_autoscaler_then_update.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_nodepool_autoscaler_then_update.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
Labels: AKS, Auto-Assign

#22175 [Compute] `az disk create/update`: Add new parameter `--data-access-auth-mode` to support data access authentication mode
  src/azure-cli/azure/cli/command_modules/vm/_params.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_disk_data_access_auth_mode.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, AAD, Auto-Assign

#22184 [ARM] `az group delete`: Add new parameter `--force-deletion-types` to support force deletion
  src/azure-cli/azure/cli/command_modules/resource/_help.py
  src/azure-cli/azure/cli/command_modules/resource/_params.py
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/recordings/test_resource_group_force_deletion_type.yaml
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/test_resource.py
Labels: ARM, Auto-Assign

#22490 [Storage] `az storage directory/file list`: Add `--exclude-extended-info` to exclude some properties info from response, default to `False`
  src/azure-cli/azure/cli/command_modules/storage/_format.py
  src/azure-cli/azure/cli/command_modules/storage/_format_azure_stack.py
  src/azure-cli/azure/cli/command_modules/storage/_help.py
  src/azure-cli/azure/cli/command_modules/storage/_params.py
  src/azure-cli/azure/cli/command_modules/storage/_transformers.py
  src/azure-cli/azure/cli/command_modules/storage/commands.py
  src/azure-cli/azure/cli/command_modules/storage/commands_azure_stack.py
  src/azure-cli/azure/cli/command_modules/storage/operations/directory.py
  src/azure-cli/azure/cli/command_modules/storage/operations/file.py
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_file_main_scenario.yaml
Labels: Storage, Auto-Assign

#22241 [RDBMS] Change MySQL MemoryOptimized tier name to BusinessCritical
  src/azure-cli/azure/cli/command_modules/rdbms/_flexible_server_util.py
  src/azure-cli/azure/cli/command_modules/rdbms/_transformers.py
  src/azure-cli/azure/cli/command_modules/rdbms/flexible_server_commands.py
  src/azure-cli/azure/cli/command_modules/rdbms/flexible_server_custom_mysql.py
  src/azure-cli/azure/cli/command_modules/rdbms/validators.py
Labels: Auto-Assign

#22423 [ARM] `az bicep restore`: Add new command to restore external modules
  src/azure-cli/azure/cli/command_modules/resource/_bicep.py
  src/azure-cli/azure/cli/command_modules/resource/_help.py
  src/azure-cli/azure/cli/command_modules/resource/_params.py
  src/azure-cli/azure/cli/command_modules/resource/commands.py
  src/azure-cli/azure/cli/command_modules/resource/custom.py
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/data/external_modules.bicep
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/test_resource.py
Labels: ARM, Auto-Assign

#22503 [HDInsight] Migrate adal graph sdk to msgraph sdk in HDInsight module
  src/azure-cli/azure/cli/command_modules/hdinsight/_client_factory.py
  src/azure-cli/azure/cli/command_modules/hdinsight/_completers.py
Labels: Graph, Auto-Assign

#22504 [Storage] Fix #21781 `az storage blob upload/download`: Progress fix
  src/azure-cli/azure/cli/command_modules/storage/_params.py
  src/azure-cli/azure/cli/command_modules/storage/_validators.py
  src/azure-cli/azure/cli/command_modules/storage/operations/blob.py
Labels: Storage, Auto-Assign

#22340 {Compute} `az vmss create`: Add hint to suggest Standard lb
  src/azure-cli/azure/cli/command_modules/vm/custom.py
Labels: Compute, Auto-Assign

#22493 [AKS] `az aks update`: Add support for updating kubelet identity with `--assign-kubelet-identity`
  src/azure-cli/azure/cli/command_modules/acs/_help.py
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/linter_exclusions.yml
  src/azure-cli/azure/cli/command_modules/acs/managed_cluster_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/data/defenderconfig.json
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_managed_cluster_decorator.py
Labels: AKS, Auto-Assign

#22371 [Compute] `az sig show`: Add new parameters `--sharing-groups` to support query shared gallery group
  src/azure-cli-core/azure/cli/core/profiles/_shared.py
  src/azure-cli/azure/cli/command_modules/vm/_help.py
  src/azure-cli/azure/cli/command_modules/vm/_params.py
  src/azure-cli/azure/cli/command_modules/vm/commands.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_architecture.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_create_image_version_with_region_cvm_encryptio.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_create_vm_with_shared_gallery_image.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_gallery_application.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_gallery_application_version.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_gallery_e2e.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_gallery_image_version_vhd.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_gallery_soft_delete.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_gallery_specialized.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_image_build_shared_image.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_image_builder_basic_sig.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_replication_mode.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_shared_gallery.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_specialized_image.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_disk_max_shares_etc.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_usage.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Auto-Assign

#22507 {Monitor} `az monitor`: remove deprecated commands and parameters
  src/azure-cli/azure/cli/command_modules/monitor/_help.py
  src/azure-cli/azure/cli/command_modules/monitor/_params.py
  src/azure-cli/azure/cli/command_modules/monitor/commands.py
  src/azure-cli/azure/cli/command_modules/monitor/custom.py
  src/azure-cli/azure/cli/command_modules/monitor/operations/autoscale_settings.py
  src/azure-cli/azure/cli/command_modules/monitor/operations/metric_alert.py
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/test_monitor_unittest.py
Labels: Network, Auto-Assign

#22497 [ACR] Fix: various bug fixes
  src/azure-cli/azure/cli/command_modules/acr/manifest.py
  src/azure-cli/azure/cli/command_modules/acr/repository.py
  src/azure-cli/azure/cli/command_modules/acr/tests/latest/test_acr_commands_mock.py
Labels: Container Registry, Auto-Assign

#22237 {AKS} `az aks enable-addons`: Update message sample for `--appgw-subnet-cidr`
  src/azure-cli/azure/cli/command_modules/acs/_help.py
Labels: customer-reported

#22506 {Compute} `az vm/vmss application set`: improve `--order-applications` help message
  src/azure-cli/azure/cli/command_modules/vm/_params.py
Labels: Compute, Auto-Assign

#22262 [IOT] Test updates for beta branch
  src/azure-cli/azure/cli/command_modules/iot/_utils.py
  src/azure-cli/azure/cli/command_modules/iot/custom.py
  src/azure-cli/azure/cli/command_modules/iot/tests/hybrid_2019_03_01/_test_utils.py
  src/azure-cli/azure/cli/command_modules/iot/tests/hybrid_2019_03_01/recordings/test_certificate_lifecycle.yaml
  src/azure-cli/azure/cli/command_modules/iot/tests/hybrid_2019_03_01/recordings/test_iot_hub.yaml
  src/azure-cli/azure/cli/command_modules/iot/tests/hybrid_2019_03_01/test_iot_commands.py
  src/azure-cli/azure/cli/command_modules/iot/tests/hybrid_2020_09_01/_test_utils.py
  src/azure-cli/azure/cli/command_modules/iot/tests/hybrid_2020_09_01/recordings/test_certificate_lifecycle.yaml
  src/azure-cli/azure/cli/command_modules/iot/tests/hybrid_2020_09_01/recordings/test_dps_lifecycle.yaml
  src/azure-cli/azure/cli/command_modules/iot/tests/hybrid_2020_09_01/recordings/test_iot_central_app.yaml
  src/azure-cli/azure/cli/command_modules/iot/tests/hybrid_2020_09_01/test_iot_certificate_commands.py
  src/azure-cli/azure/cli/command_modules/iot/tests/hybrid_2020_09_01/test_iot_commands.py
  src/azure-cli/azure/cli/command_modules/iot/tests/latest/_test_utils.py
  src/azure-cli/azure/cli/command_modules/iot/tests/latest/recordings/test_certificate_lifecycle.yaml
  src/azure-cli/azure/cli/command_modules/iot/tests/latest/recordings/test_dps_certificate_lifecycle.yaml
  src/azure-cli/azure/cli/command_modules/iot/tests/latest/recordings/test_dps_lifecycle.yaml
  src/azure-cli/azure/cli/command_modules/iot/tests/latest/recordings/test_dps_linked_hub_lifecycle.yaml
  src/azure-cli/azure/cli/command_modules/iot/tests/latest/recordings/test_hub_file_upload.yaml
  src/azure-cli/azure/cli/command_modules/iot/tests/latest/recordings/test_identity_hub.yaml
  src/azure-cli/azure/cli/command_modules/iot/tests/latest/recordings/test_iot_central_app.yaml
  src/azure-cli/azure/cli/command_modules/iot/tests/latest/recordings/test_iot_hub.yaml
  src/azure-cli/azure/cli/command_modules/iot/tests/latest/test_iot_commands.py
Labels: IoT, IoT/CLI, Auto-Assign

#22017 {packaging} Update jsondiff to 2.0.0
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: Packaging, customer-reported, Auto-Assign

#22283 [Service Fabric] `az sf cluster node-type add`: Fix the unexpected error that 'StorageAccountsOperations' object has no attribute 'create'
  src/azure-cli/azure/cli/command_modules/servicefabric/custom.py
  src/azure-cli/azure/cli/command_modules/servicefabric/tests/latest/recordings/test_add_secondary_node_type_add_remove_node.yaml
  src/azure-cli/azure/cli/command_modules/servicefabric/tests/latest/recordings/test_create_cluster_with_separate_kv.yaml
  src/azure-cli/azure/cli/command_modules/servicefabric/tests/latest/recordings/test_update_settings_and_reliability.yaml
  src/azure-cli/azure/cli/command_modules/servicefabric/tests/latest/test_sf_cluster.py
  src/azure-cli/azure/cli/command_modules/servicefabric/tests/latest/test_util.py
Labels: Service Fabric, Auto-Assign

#22517 {Core} aaz add has_value function
  src/azure-cli-core/azure/cli/core/aaz/__init__.py
  src/azure-cli-core/azure/cli/core/aaz/_arg.py
Labels: Core, CodeGen, Auto-Assign

#22464 [Keyvault] Fix#22457: `az keyvault key decrypt/encrypt`: Fix returning bytes for `--output tsv`
  src/azure-cli/azure/cli/command_modules/keyvault/_transformers.py
Labels: KeyVault, customer-reported, Auto-Assign

#22489 [Network] Update application gateway
  src/azure-cli/azure/cli/command_modules/network/_help.py
  src/azure-cli/azure/cli/command_modules/network/_params.py
  src/azure-cli/azure/cli/command_modules/network/_template_builder.py
  src/azure-cli/azure/cli/command_modules/network/_validators.py
  src/azure-cli/azure/cli/command_modules/network/commands.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_appgw_with_tcp.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_listener.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_probe.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_probe_with_host_name_from_settings.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_routing_rule.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_settings.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Labels: Network, Auto-Assign

#22519 [Identity] `az identity list-resources`: Add new command to support list the associated resources for identity
  src/azure-cli/azure/cli/command_modules/identity/__init__.py
  src/azure-cli/azure/cli/command_modules/identity/commands.py
  src/azure-cli/azure/cli/command_modules/identity/tests/latest/recordings/test_identity_management.yaml
  src/azure-cli/azure/cli/command_modules/identity/tests/latest/test_identity.py
Labels: Managed Identity, Auto-Assign

#22523 {Role} Raise `GraphError` only when Graph request fails
  src/azure-cli-core/azure/cli/core/azclierror.py
  src/azure-cli-core/azure/cli/core/util.py
  src/azure-cli/azure/cli/command_modules/role/msgrpah/_graph_client.py
Labels: Graph, RBAC, Auto-Assign

#22146 {Compute} `az vm deallocate`: Update help message
  src/azure-cli/azure/cli/command_modules/vm/_help.py
Labels: customer-reported

#22273 [IoT] Add private link and private end point paramaters to IoT Central CLI
  src/azure-cli-core/azure/cli/core/profiles/_shared.py
  src/azure-cli/azure/cli/command_modules/iot/_help.py
  src/azure-cli/azure/cli/command_modules/iot/_params.py
  src/azure-cli/azure/cli/command_modules/iot/_validators.py
  src/azure-cli/azure/cli/command_modules/iot/commands.py
  src/azure-cli/azure/cli/command_modules/iot/custom.py
  src/azure-cli/azure/cli/command_modules/iot/tests/latest/recordings/test_iot_central_app.yaml
  src/azure-cli/azure/cli/command_modules/iot/tests/latest/recordings/test_iot_central_private_link_and_private_endpoint.yaml
  src/azure-cli/azure/cli/command_modules/iot/tests/latest/test_iot_central_commands.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: IoT, IoT/CLI, Auto-Assign

#22522 {Network} `az network`: Remove deprecated parameters
  src/azure-cli/azure/cli/command_modules/network/_params.py
  src/azure-cli/azure/cli/command_modules/network/tests/hybrid_2018_03_01/recordings/test_network_vnet_peering.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/hybrid_2018_03_01/test_network_commands.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_vnet_peering.yaml
Labels: Network, Auto-Assign

#22543 {Keyvault} Fix #22540: Create keyvault with service principal
  src/azure-cli/azure/cli/command_modules/keyvault/custom.py
Labels: KeyVault, Microsoft Graph, Auto-Assign

#22542 [ACR] `az acr`: Show replication region endpoint status in table output
  src/azure-cli/azure/cli/command_modules/acr/_format.py
Labels: Container Registry, Auto-Assign

#22531 {AKS} Let AKS RP handle validation of setting pod CIDR and network plugin
  src/azure-cli/azure/cli/command_modules/acs/decorator.py
  src/azure-cli/azure/cli/command_modules/acs/managed_cluster_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_managed_cluster_decorator.py
Labels: AKS, Auto-Assign

#22565 {Graph} Build base URL correctly for sovereign clouds
  src/azure-cli/azure/cli/command_modules/role/msgrpah/_graph_client.py
Labels: Graph, Auto-Assign

#22571 [Network] `az network application-gateway ssl-policy`: Support new SSL policy `CustomV2`
  src/azure-cli/azure/cli/command_modules/network/_params.py
Labels: customer-reported

#22539 {CI} Keep the logic consistent with generate_history_notes.py, always check history notes
  scripts/ci/check_pull_request.py
Labels: CI, Auto-Assign

#22560 {Graph} Make `msgraph` internal and add documentation for `GraphClient`
  doc/microsoft_graph_client.md
  src/azure-cli/azure/cli/command_modules/role/__init__.py
  src/azure-cli/azure/cli/command_modules/role/_client_factory.py
  src/azure-cli/azure/cli/command_modules/role/_msgrpah/__init__.py
  src/azure-cli/azure/cli/command_modules/role/_msgrpah/_graph_client.py
  src/azure-cli/azure/cli/command_modules/role/_msgrpah/_graph_objects.py
  src/azure-cli/azure/cli/command_modules/role/commands.py
  src/azure-cli/azure/cli/command_modules/role/custom.py
  src/azure-cli/azure/cli/command_modules/role/tests/latest/test_role.py
  src/azure-cli/azure/cli/command_modules/role/tests/latest/test_role_commands_thru_mock.py
Labels: Graph, Auto-Assign

#22586 {Network} `az network application-gateway ssl-policy`: Support new SSL policy `CustomV2`
  src/azure-cli/azure/cli/command_modules/network/_params.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
Labels: Network, customer-reported, Auto-Assign

#22602 {Packaging} Bump Jinja2 to 3.0.3
  NOTICE.txt
  scripts/release/homebrew/docker/requirements.txt
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
Labels: Packaging, Auto-Assign

#22608 {AKS} Fix aks byo appgw test case
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
Labels: AKS, Auto-Assign

#22609 [Storage] `az storage account generate-sas`: Fix output sas has random order for `srt` segment
  src/azure-cli/azure/cli/command_modules/storage/_validators.py
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/test_storage_sas_scenarios.py
Labels: Account, Storage, Portal, Auto-Assign

#22627 {.github} Add CODEOWNERS for CDN
  .github/CODEOWNERS
Labels: Network, Network - CDN, Auto-Assign

#22544 {CDN} Deprecate CDN WAF related commands
  src/azure-cli/azure/cli/command_modules/cdn/_help.py
  src/azure-cli/azure/cli/command_modules/cdn/commands.py
Labels: Network, Network - CDN, Auto-Assign

#22603 [Storage] BREAKING CHANGE: `az storage share close-handle`: Remove `--marker` which is not supported by sdk
  src/azure-cli/azure/cli/command_modules/storage/__init__.py
  src/azure-cli/azure/cli/command_modules/storage/_params.py
  src/azure-cli/azure/cli/command_modules/storage/_transformers.py
  src/azure-cli/azure/cli/command_modules/storage/_validators.py
  src/azure-cli/azure/cli/command_modules/storage/commands.py
  src/azure-cli/azure/cli/command_modules/storage/operations/file.py
  src/azure-cli/azure/cli/command_modules/storage/operations/fileshare.py
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_file_share_handle_scenario.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/test_storage_file_scenarios.py
Labels: Storage, Auto-Assign

#22484 [Compute] `az disk create/update`: Fix `--encryption-type` processing
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_disk_encryption_set_disk_update.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Auto-Assign

#22549 {Graph} az aro module migration to Microsoft Graph
  src/azure-cli/azure/cli/command_modules/aro/_aad.py
  src/azure-cli/azure/cli/command_modules/aro/custom.py
  src/azure-cli/azure/cli/command_modules/aro/tests/latest/recordings/test_aro_create.yaml
  src/azure-cli/azure/cli/command_modules/aro/tests/latest/recordings/test_aro_delete.yaml
  src/azure-cli/azure/cli/command_modules/aro/tests/latest/recordings/test_aro_list.yaml
  src/azure-cli/azure/cli/command_modules/aro/tests/latest/recordings/test_aro_list_credentials.yaml
  src/azure-cli/azure/cli/command_modules/aro/tests/latest/recordings/test_aro_show.yaml
  src/azure-cli/azure/cli/command_modules/aro/tests/latest/recordings/test_aro_update.yaml
Labels: Graph, AAD, Auto-Assign
