Repository Azure/azure-cli, pull requests merged in 2022-09, with the labels that each got.

#23651 [SQL] `az sql mi link`: New command group to manage instance link
  src/azure-cli/azure/cli/command_modules/sql/aaz/latest/sql/mi/link/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/sql/aaz/latest/sql/mi/link/__init__.py
  src/azure-cli/azure/cli/command_modules/sql/aaz/latest/sql/mi/link/_create.py
  src/azure-cli/azure/cli/command_modules/sql/aaz/latest/sql/mi/link/_delete.py
  src/azure-cli/azure/cli/command_modules/sql/aaz/latest/sql/mi/link/_list.py
  src/azure-cli/azure/cli/command_modules/sql/aaz/latest/sql/mi/link/_show.py
  src/azure-cli/azure/cli/command_modules/sql/aaz/latest/sql/mi/link/_update.py
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/recordings/test_sql_mi_link_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/test_sql_commands.py
Labels: SQL, Auto-Assign

#23698 {Network} `az bastion ssh/rdp`: Add resource id checking for VMSS and VM on bastion tunnel
  src/azure-cli/azure/cli/command_modules/network/_validators.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_bastion_commands.py
  src/azure-cli/azure/cli/command_modules/vm/_vm_utils.py
Labels: Network, ARM, customer-reported, Auto-Assign

#23708 {AMS} `az ams job start`: Update error message
  src/azure-cli/azure/cli/command_modules/ams/_validators.py
Labels: Media Services, Auto-Assign

#23748 {AKS} Fix test case `test_aks_nodepool_add_with_ossku_windows2022`
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_nodepool_add_with_ossku_windows2022.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
Labels: AKS, Auto-Assign

#23681 [Identity] `az identity federated-credential`: Add subgroup to support managing federated identity credentials of existing user assigned identities
  src/azure-cli/azure/cli/command_modules/identity/_client_factory.py
  src/azure-cli/azure/cli/command_modules/identity/_help.py
  src/azure-cli/azure/cli/command_modules/identity/_params.py
  src/azure-cli/azure/cli/command_modules/identity/commands.py
  src/azure-cli/azure/cli/command_modules/identity/custom.py
  src/azure-cli/azure/cli/command_modules/identity/tests/latest/recordings/test_federated_identity_credential.yaml
  src/azure-cli/azure/cli/command_modules/identity/tests/latest/test_identity.py
Labels: Compute, Managed Identity, Auto-Assign

#23649 [Network] `az network watcher packet-capture create`: Add VMSS support in packet capture
  src/azure-cli/azure/cli/command_modules/network/_help.py
  src/azure-cli/azure/cli/command_modules/network/_params.py
  src/azure-cli/azure/cli/command_modules/network/_validators.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_watcher_packet_capture.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_watcher_packet_capture_vmss_as_target.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Labels: Network, Auto-Assign

#23585 [App Service] `az logicapp`: Add scale, update, configure appsettings and zip deployment commands
  src/azure-cli/azure/cli/command_modules/appservice/_params.py
  src/azure-cli/azure/cli/command_modules/appservice/commands.py
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/logicapp/_help.py
  src/azure-cli/azure/cli/command_modules/appservice/logicapp/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/logicapp.zip
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_asp_ws1_create.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_asp_ws2_create.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_asp_ws3_create.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_autocreate_asp_for_logicapp.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_logicapp_config_appsettings_e2e.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_logicapp_e2e.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_logicapp_https_only.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_logicapp_on_linux.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_logicapp_scale_e2e.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_logicapp_update.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_logicapp_update_slot.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_logicapp_windows.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_update_asp_to_logicapp_sku_fails.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_update_logicapp_asp_sku.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_up_python_e2e.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_logicapp_commands.py
Labels: App Services, Auto-Assign

#23749 {Packaging} MSI: Use `WixBroadcastEnvironmentChange` and set `WIXUI_EXITDIALOGOPTIONALTEXT`
  build_scripts/windows/Product.wxs
  build_scripts/windows/azure-cli.wixproj
  build_scripts/windows/propagate_env_change/main.cpp
  build_scripts/windows/propagate_env_change/propagate_env_change.sln
  build_scripts/windows/propagate_env_change/propagate_env_change.vcxproj
  build_scripts/windows/propagate_env_change/propagate_env_change.vcxproj.filters
  build_scripts/windows/scripts/build.cmd
Labels: Installation, Auto-Assign

#23766 {AKS} Fix monitoring addon related test cases
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
Labels: AKS, Auto-Assign

#23206 {Role} `az ad sp create-for-rbac`: Remove curly brackets from example command
  src/azure-cli/azure/cli/command_modules/role/_help.py
Labels: Graph, RBAC, Auto-Assign

#23635 [Core] Support Continuous Access Evaluation
  src/azure-cli-core/azure/cli/core/auth/identity.py
  src/azure-cli-core/azure/cli/core/auth/msal_authentication.py
  src/azure-cli-core/azure/cli/core/auth/util.py
  src/azure-cli-core/azure/cli/core/commands/client_factory.py
  src/azure-cli-core/azure/cli/core/util.py
  src/azure-cli/azure/cli/command_modules/profile/tests/latest/test_auth_e2e.py
Labels: Core, Graph, AAD, Auto-Assign

#23694 [BACKUP] `az backup policy`: Add support for Smart Tiering policy
  src/azure-cli/azure/cli/command_modules/backup/_params.py
  src/azure-cli/azure/cli/command_modules/backup/custom_base.py
  src/azure-cli/azure/cli/command_modules/backup/custom_common.py
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_backup_container.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_backup_item.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_backup_policy.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_backup_protection.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_backup_restore.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_backup_rp.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_backup_scenario.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_unregister_container.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_archive.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_container.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_disk_exclusion.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_encryption.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_identity.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_item.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_job.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_policy.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_protection.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_restore.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_restore_when_storage_in_different_rg.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_rg_mapping.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_rp.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_scenario.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_softdelete.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_vault.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_hana_archive.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_hana_container.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_hana_item.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_hana_policy.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_hana_protectable_item.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_hana_protection.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_hana_restore.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_hana_rp.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_sql_archive.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_sql_auto_protection.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_sql_container.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_sql_crr.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_sql_item.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_sql_policy.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_sql_protectable_item.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_sql_protection.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_sql_restore.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_sql_restore_as_files.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_sql_rp.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/test_backup_commands.py
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/test_hana_commands.py
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/test_sql_commands.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: Backup, Auto-Assign

#23765 [Synapse] Update Synapse contacts
  .github/fabricbot.json
Labels: Synapse, Auto-Assign

#23815 {AD} Remove "below" from JSON arguments' help message
  src/azure-cli/azure/cli/command_modules/role/_params.py
Labels: Graph, Auto-Assign

#23781 {CI} Fix check pull request script
  scripts/ci/check_pull_request.py
Labels: CI, Auto-Assign

#23830 {Packaging} Increase minimum python_requires to 3.7
  src/azure-cli-core/setup.py
  src/azure-cli/setup.py
Labels: Packaging, Auto-Assign

#23817 [Core] `aaz`: Support `yaml` file as value for compound arguments
  src/azure-cli-core/azure/cli/core/aaz/_arg_action.py
  src/azure-cli-core/azure/cli/core/aaz/_help.py
  src/azure-cli-core/azure/cli/core/util.py
Labels: Core, Auto-Assign

#23850 {RDBMS} Re-run live_only tests
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_flexible_server_vnet_mgmt_prepare_private_network_subnet.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_flexible_server_vnet_mgmt_prepare_private_network_vname_and_subnetname.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_flexible_server_vnet_mgmt_prepare_private_network_vnet.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_flexible_server_vnet_mgmt_validator.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_mysql_flexible_server_existing_private_dns_zone.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_mysql_flexible_server_georestore_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_mysql_flexible_server_new_private_dns_zone.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_mysql_flexible_server_restore_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_mysql_flexible_server_upgrade_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_mysql_flexible_server_vnet_mgmt_supplied_subnet_id_in_different_rg.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_mysql_flexible_server_vnet_mgmt_supplied_subnetid.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_mysql_flexible_server_vnet_mgmt_supplied_vname_and_subnetname.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_flexible_server_existing_private_dns_zone.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_flexible_server_new_private_dns_zone.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_flexible_server_restore_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_flexible_server_vnet_mgmt_supplied_subnet_id_in_different_rg.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_flexible_server_vnet_mgmt_supplied_subnetid.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_flexible_server_vnet_mgmt_supplied_vname_and_subnetname.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/test_rdbms_flexible_commands.py
Labels: Auto-Assign

#23782 {Network} `az network traffic-manager`: Migrate to atomic commands
  src/azure-cli/azure/cli/command_modules/network/_client_factory.py
  src/azure-cli/azure/cli/command_modules/network/_help.py
  src/azure-cli/azure/cli/command_modules/network/_params.py
  src/azure-cli/azure/cli/command_modules/network/_validators.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/traffic_manager/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/traffic_manager/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/traffic_manager/endpoint/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/traffic_manager/endpoint/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/traffic_manager/endpoint/_create.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/traffic_manager/endpoint/_delete.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/traffic_manager/endpoint/_show.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/traffic_manager/endpoint/_show_geographic_hierarchy.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/traffic_manager/endpoint/_update.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/traffic_manager/profile/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/traffic_manager/profile/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/traffic_manager/profile/_check_dns.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/traffic_manager/profile/_create.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/traffic_manager/profile/_delete.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/traffic_manager/profile/_list.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/traffic_manager/profile/_show.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/traffic_manager/profile/_update.py
  src/azure-cli/azure/cli/command_modules/network/commands.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_traffic_manager.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_traffic_manager2.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_traffic_manager_subnet_routing.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Labels: Network, Auto-Assign

#23800 {Network} `az network routeserver`: Migrate to atomic commands
  src/azure-cli/azure/cli/command_modules/network/_client_factory.py
  src/azure-cli/azure/cli/command_modules/network/_help.py
  src/azure-cli/azure/cli/command_modules/network/_params.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/routeserver/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/routeserver/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/routeserver/_list.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/routeserver/_show.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/routeserver/_update.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/routeserver/_wait.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/routeserver/peering/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/routeserver/peering/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/routeserver/peering/_create.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/routeserver/peering/_delete.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/routeserver/peering/_list.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/routeserver/peering/_list_advertised_routes.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/routeserver/peering/_list_learned_routes.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/routeserver/peering/_show.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/routeserver/peering/_update.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/routeserver/peering/_wait.py
  src/azure-cli/azure/cli/command_modules/network/commands.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_virtual_hub_router_scenario.yaml
Labels: Network, Auto-Assign

#23834 {Network} `az bastion ssh/rdp`: Refactor Error Handling to Bastion Internal
  src/azure-cli/azure/cli/command_modules/network/_validators.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
Labels: Network, customer-reported, Auto-Assign

#23747 [App Config] `az appconfig replica`: New command group to support geo-replication
  src/azure-cli-core/azure/cli/core/profiles/_shared.py
  src/azure-cli/azure/cli/command_modules/appconfig/_client_factory.py
  src/azure-cli/azure/cli/command_modules/appconfig/_format.py
  src/azure-cli/azure/cli/command_modules/appconfig/_help.py
  src/azure-cli/azure/cli/command_modules/appconfig/_params.py
  src/azure-cli/azure/cli/command_modules/appconfig/commands.py
  src/azure-cli/azure/cli/command_modules/appconfig/custom.py
  src/azure-cli/azure/cli/command_modules/appconfig/tests/latest/recordings/test_azconfig_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/appconfig/tests/latest/recordings/test_azconfig_replica_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/appconfig/tests/latest/test_appconfig_commands.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: App Configuration, Auto-Assign

#23839 {cosmosdb} Fix #23806: Add mandatory parameters when backup policy ty…
  src/azure-cli/azure/cli/command_modules/cosmosdb/custom.py
Labels: Cosmos, Backup, Auto-Assign

#23879 {Front Door} Fix #23864: `az afd origin-group update` description
  src/azure-cli/azure/cli/command_modules/cdn/_help.py
Labels: Documentation, Network - Front Door, Auto-Assign

#23828 [Core] PREVIEW: Support Web Account Manager (WAM) login on Windows
  src/azure-cli-core/azure/cli/core/_profile.py
  src/azure-cli-core/azure/cli/core/auth/identity.py
  src/azure-cli-core/azure/cli/core/auth/util.py
  src/azure-cli-core/azure/cli/core/azclierror.py
  src/azure-cli-core/setup.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
Labels: Account, Core, Auto-Assign

#23826 {RDBMS} Add descriptive error messages when user doesn't have read access to resource
  src/azure-cli/azure/cli/command_modules/rdbms/_flexible_server_util.py
  src/azure-cli/azure/cli/command_modules/rdbms/flexible_server_virtual_network.py
Labels: Auto-Assign

#23871 [RDBMS] `az mysql flexible-server update`: Expose `--geo-redundant-backup` argument
  src/azure-cli/azure/cli/command_modules/rdbms/_params.py
  src/azure-cli/azure/cli/command_modules/rdbms/flexible_server_custom_mysql.py
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_mysql_flexible_server_georestore_update_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/test_rdbms_flexible_commands.py
  src/azure-cli/azure/cli/command_modules/rdbms/validators.py
Labels: Backup, Auto-Assign

#23907 [Network] Fix #23884: `az network application-gateway rule create`: Compatible with v1 SKU
  src/azure-cli/azure/cli/command_modules/network/_help.py
  src/azure-cli/azure/cli/command_modules/network/_params.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_ag_with_non_v2_sku.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Labels: Network, Auto-Assign

#23788 {Packaging} Update Homebrew template to use python3.10 executable
  scripts/release/homebrew/docker/formula_template.txt
Labels: customer-reported

#23858 [Keyvault] BREAKING CHANGE: `az keyvault create/update`: Finally remove `--enable-soft-delete` parameter
  src/azure-cli-testsdk/azure/cli/testsdk/preparers.py
  src/azure-cli/azure/cli/command_modules/acr/tests/latest/test_acr_commands.py
  src/azure-cli/azure/cli/command_modules/appconfig/tests/latest/test_appconfig_commands.py
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/test_backup_commands.py
  src/azure-cli/azure/cli/command_modules/eventhubs/tests/latest/test_eventhub_commands_encryption_test.py
  src/azure-cli/azure/cli/command_modules/eventhubs/tests/latest/test_eventhub_commands_namespace_byok_test.py
  src/azure-cli/azure/cli/command_modules/eventhubs/tests/latest/test_eventhub_commands_namespace_premium_test.py
  src/azure-cli/azure/cli/command_modules/keyvault/_params.py
  src/azure-cli/azure/cli/command_modules/keyvault/custom.py
  src/azure-cli/azure/cli/command_modules/keyvault/tests/hybrid_2018_03_01/test_keyvault_commands.py
  src/azure-cli/azure/cli/command_modules/keyvault/tests/hybrid_2020_09_01/test_keyvault_commands.py
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/test_keyvault_commands.py
  src/azure-cli/azure/cli/command_modules/servicebus/tests/latest/test_servicebus_encryption_commands.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: KeyVault, Auto-Assign

#23847 [RDBMS] `az mysql/postgres flexible-server create/update`: Deprecate `Enabled` for `--high-availability` argument
  src/azure-cli/azure/cli/command_modules/rdbms/_helptext_mysql.py
  src/azure-cli/azure/cli/command_modules/rdbms/_params.py
  src/azure-cli/azure/cli/command_modules/rdbms/flexible_server_custom_mysql.py
  src/azure-cli/azure/cli/command_modules/rdbms/flexible_server_custom_postgres.py
  src/azure-cli/azure/cli/command_modules/rdbms/validators.py
Labels: Auto-Assign

#23930 [Core] `aaz`: Fix recursion depth exceeded for to_serialized_data of AAZObject
  src/azure-cli-core/azure/cli/core/aaz/_field_value.py
Labels: Core, Auto-Assign

#23751 [Network] BREAKING CHANGE: `az network watcher connection-monitor create`: Deprecate classic connection monitor creation
  src/azure-cli-core/azure/cli/core/profiles/_shared.py
  src/azure-cli/azure/cli/command_modules/network/_help.py
  src/azure-cli/azure/cli/command_modules/network/_params.py
  src/azure-cli/azure/cli/command_modules/network/_validators.py
  src/azure-cli/azure/cli/command_modules/network/commands.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/hybrid_2018_03_01/test_network_commands.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_nw_connection_monitor_output.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_nw_connection_monitor_output_type_as_workspace.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_nw_connection_monitor_v1.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_nw_connection_monitor_v2_endpoint.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_nw_connection_monitor.py
Labels: Network, Auto-Assign

#23949 [Core] `aaz`: Support customized life cycle callback functions for `AAZCommand`
  src/azure-cli-core/azure/cli/core/aaz/__init__.py
  src/azure-cli-core/azure/cli/core/aaz/_command.py
  src/azure-cli-core/azure/cli/core/aaz/_command_ctx.py
  src/azure-cli-core/azure/cli/core/aaz/_operation.py
Labels: Core, Auto-Assign

#23962 {Core} `aaz`: Optimize `AAZCommand` life cycle callbacks overwritten.
  src/azure-cli-core/azure/cli/core/aaz/__init__.py
  src/azure-cli-core/azure/cli/core/aaz/_command.py
  src/azure-cli-core/azure/cli/core/aaz/_command_ctx.py
  src/azure-cli-core/azure/cli/core/aaz/_operation.py
Labels: Core, Auto-Assign

#23908 {SQL} fixes Azure/azure-cli#23885 - commands.py
  src/azure-cli/azure/cli/command_modules/sql/commands.py
  src/azure-cli/azure/cli/command_modules/sql/custom.py
Labels: SQL, feature-request, Auto-Assign

#23979 [RDBMS] `az mysql flexible-server stop`: Change stopped time logging message
  src/azure-cli/azure/cli/command_modules/rdbms/flexible_server_custom_common.py
Labels: Auto-Assign

#23722 {CosmosDB} Making sure analytical-storage-ttl is applied when it is the only container-specific argument when creating a Cosmos DB Mongo collection
  src/azure-cli/azure/cli/command_modules/cosmosdb/custom.py
  src/azure-cli/azure/cli/command_modules/cosmosdb/tests/latest/recordings/test_cosmosdb_mongodb_collection.yaml
  src/azure-cli/azure/cli/command_modules/cosmosdb/tests/latest/test_cosmosdb_commands.py
Labels: Storage, Cosmos, Auto-Assign

#23986 [Storage] `az storage account update`: Fix updating `--default-share-permission` will wipe out other ADProperties issue
  src/azure-cli/azure/cli/command_modules/storage/operations/account.py
Labels: Account, Storage, Auto-Assign

#23988 [Keyvault] Fix #23527: `az keyvault secret set`: Add alias `--content-type` for `--description`
  src/azure-cli/azure/cli/command_modules/keyvault/_params.py
Labels: KeyVault, Auto-Assign

#23842 {NetAppFiles} Fix `has-root-access` parameter for create volume and export-policy add
  src/azure-cli/azure/cli/command_modules/netappfiles/_help.py
  src/azure-cli/azure/cli/command_modules/netappfiles/_params.py
  src/azure-cli/azure/cli/command_modules/netappfiles/custom.py
  src/azure-cli/azure/cli/command_modules/netappfiles/tests/latest/recordings/test_export_policy.yaml
  src/azure-cli/azure/cli/command_modules/netappfiles/tests/latest/test_volume_commands.py
Labels: NetAppFiles, Auto-Assign

#23941 [ARM] `az deployment group what-if`: Fix an issue where `complete` deployment mode does not work
  src/azure-cli/azure/cli/command_modules/resource/custom.py
Labels: ARM, Auto-Assign

#23958 {AzureMediaService} fixes Azure/azure-cli#23937
  src/azure-cli/azure/cli/command_modules/ams/operations/account.py
Labels: Media Services, Auto-Assign

#23784 [ACS] BREAKING CHANGE: `az acs`: Remove the deprecated command group
  src/azure-cli/azure/cli/command_modules/acs/_client_factory.py
  src/azure-cli/azure/cli/command_modules/acs/_help.py
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/_validators.py
  src/azure-cli/azure/cli/command_modules/acs/acs_client.py
  src/azure-cli/azure/cli/command_modules/acs/commands.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/proxy.py
  src/azure-cli/azure/cli/command_modules/acs/tests/hybrid_2020_09_01/test_acs_client.py
  src/azure-cli/azure/cli/command_modules/acs/tests/hybrid_2020_09_01/test_acs_commands.py
  src/azure-cli/azure/cli/command_modules/acs/tests/hybrid_2020_09_01/test_custom.py
  src/azure-cli/azure/cli/command_modules/acs/tests/hybrid_2020_09_01/test_loadbalancer.py
  src/azure-cli/azure/cli/command_modules/acs/tests/hybrid_2020_09_01/test_service_principals.py
  src/azure-cli/azure/cli/command_modules/acs/tests/hybrid_2020_09_01/test_validators.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_acs_client.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_acs_commands.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_custom.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_service_principals.py
  src/azure-cli/azure/cli/command_modules/acs/win_proxy.py
Labels: AKS, Auto-Assign

#23789 [Compute] `az restore-point create`: Add new parameters `--consistency-mode` to support setting consistency mode
  src/azure-cli/azure/cli/command_modules/vm/_help.py
  src/azure-cli/azure/cli/command_modules/vm/_params.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_restore_point.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Auto-Assign

#24002 [RDBMS] `az mysql flexible-server ad-admin delete`: Disable `aad_auth_only` when dropping AAD admin
  src/azure-cli/azure/cli/command_modules/rdbms/flexible_server_custom_common.py
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_mysql_flexible_server_identity_aad_admin_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/test_rdbms_flexible_commands.py
Labels: AAD, Auto-Assign

#24035 [Core] `aaz`: Fix two AAZObjects or AAZDicts comparison
  src/azure-cli-core/azure/cli/core/aaz/_field_value.py
  src/azure-cli-core/azure/cli/core/tests/test_aaz_field.py
Labels: Core, Auto-Assign

#24019 {Network} `az network ddos-protection`: Migrate to atomic commands
  src/azure-cli/azure/cli/command_modules/network/_client_factory.py
  src/azure-cli/azure/cli/command_modules/network/_help.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/ddos_protection/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/ddos_protection/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/ddos_protection/_create.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/ddos_protection/_delete.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/ddos_protection/_list.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/ddos_protection/_show.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/ddos_protection/_update.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/ddos_protection/_wait.py
  src/azure-cli/azure/cli/command_modules/network/commands.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Labels: Network, Auto-Assign

#24022 {RDBMS}: Switch Back to Online migration by default for PG single to flex migrations using DMS
  src/azure-cli/azure/cli/command_modules/rdbms/_helptext_pg.py
  src/azure-cli/azure/cli/command_modules/rdbms/_params.py
  src/azure-cli/azure/cli/command_modules/rdbms/flexible_server_custom_common.py
Labels: customer-reported, Auto-Assign

#24038 {CodeOwner} Add Compute and Resource owner
  .github/CODEOWNERS
Labels: Compute, ARM, Auto-Assign

#24030 [APIM] Fix #20863: `az apim api import`: Fix the issue to import GraphQL API's using graphqllink
  src/azure-cli/azure/cli/command_modules/apim/_params.py
  src/azure-cli/azure/cli/command_modules/apim/custom.py
  src/azure-cli/azure/cli/command_modules/apim/tests/latest/recordings/test_apim_core_service.yaml
  src/azure-cli/azure/cli/command_modules/apim/tests/latest/test_apim_scenario.py
Labels: API Management, Auto-Assign

#24006 [AKS] Fix #23779: `az aks install-cli` support to determine the arch of binaries based on system information
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/tests/hybrid_2020_09_01/test_custom.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_custom.py
Labels: AKS, Installation, Auto-Assign

#23977 {ACR} `az acr build`: Modify `.dockerignore` file paths to be accepted by build
  src/azure-cli/azure/cli/command_modules/acr/_archive_utils.py
Labels: Container Registry, Auto-Assign

#24042 [RDBMS] `az mysql flexible-server identity remove`: Allow removing all identities in a MySQL server
  src/azure-cli/azure/cli/command_modules/rdbms/flexible_server_custom_common.py
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_mysql_flexible_server_identity_aad_admin_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/test_rdbms_flexible_commands.py
Labels: Auto-Assign

#24039 [Packaging] Drop Mariner 1.0 RPM package
  azure-pipelines.yml
  scripts/release/rpm/mariner.dockerfile
  scripts/release/rpm/pipeline.sh
  scripts/release/rpm/pipeline_mariner.sh
Labels: Packaging, Auto-Assign

#24053 {CI} Update milestone from Sep 2022 (2022-10-12) - For Ignite to Oct 2022 (2022-11-01)
  .github/fabricbot.json
Labels: CI, Auto-Assign

#24028 {Network} `az network watcher connection-monitor create`: Fix `--tags` key-value pairs
  src/azure-cli/azure/cli/command_modules/network/_validators.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_nw_connection_monitor_v2_creation.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_nw_connection_monitor.py
Labels: Network, Auto-Assign

#23877 {Network} `az network profile`: Migrate to atomic commands
  src/azure-cli/azure/cli/command_modules/network/_client_factory.py
  src/azure-cli/azure/cli/command_modules/network/_help.py
  src/azure-cli/azure/cli/command_modules/network/_params.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/profile/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/profile/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/profile/_delete.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/profile/_list.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/profile/_show.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/profile/_wait.py
  src/azure-cli/azure/cli/command_modules/network/commands.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Labels: Network, Auto-Assign

#24015 [Core] Revert #23514: Rename entry script `az.ps1` to `azps.ps1`
  build_scripts/windows/scripts/azps.ps1
  build_scripts/windows/scripts/build.cmd
  src/azure-cli/azps.ps1
  src/azure-cli/setup.py
Labels: Core, Shell - PowerShell, Auto-Assign
