Repository Azure/azure-cli, pull requests merged in 2022-07, with the labels that each got.

#22879 {CI} Update milestone from Jun 2022 (2022-07-05) to Jul 2022 (2022-08-02)
  .github/fabricbot.json
Labels: CI, Auto-Assign

#23026 [Compute] Support trusted launch for disk
  scripts/ci/credscan/CredScanSuppressions.json
  src/azure-cli/azure/cli/command_modules/vm/_help.py
  src/azure-cli/azure/cli/command_modules/vm/_params.py
  src/azure-cli/azure/cli/command_modules/vm/_validators.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_disk_trusted_launch.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_os_disk_security_encryption.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_managed_disk.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_trusted_launch_os_disk_secure_upload.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Auto-Assign

#23009 {rdbms} | None is compared as 'None'
  src/azure-cli/azure/cli/command_modules/rdbms/validators.py
Labels: Auto-Assign

#22941 [Core] `az extension add`: Improve feedback shown to users when installation is unsuccessful
  src/azure-cli-core/azure/cli/core/extension/_resolve.py
  src/azure-cli-core/azure/cli/core/extension/operations.py
  src/azure-cli-core/azure/cli/core/extension/tests/latest/__init__.py
  src/azure-cli-core/azure/cli/core/extension/tests/latest/test_resolve.py
Labels: Core, Installation, Auto-Assign

#23092 [Core] `aaz`: Fix early exit for long running commands run with `--no-wait` parameter
  src/azure-cli-core/azure/cli/core/aaz/_command.py
  src/azure-cli-core/azure/cli/core/aaz/_command_ctx.py
  src/azure-cli-core/azure/cli/core/aaz/_poller.py
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_log_analytics_cluster_default.yaml
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/test_monitor_log_analytics_cluster.py
Labels: Core, Auto-Assign

#23077 [AKS] Fix snapshot not resolved according to the subscriptions field in the `--snapshot-id` option
  src/azure-cli/azure/cli/command_modules/acs/_client_factory.py
  src/azure-cli/azure/cli/command_modules/acs/_completers.py
  src/azure-cli/azure/cli/command_modules/acs/_graph.py
  src/azure-cli/azure/cli/command_modules/acs/_helpers.py
  src/azure-cli/azure/cli/command_modules/acs/_resourcegroup.py
  src/azure-cli/azure/cli/command_modules/acs/_roleassignments.py
  src/azure-cli/azure/cli/command_modules/acs/addonconfiguration.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/proxy.py
  src/azure-cli/azure/cli/command_modules/acs/tests/hybrid_2020_09_01/test_aks_commands.py
  src/azure-cli/azure/cli/command_modules/acs/tests/hybrid_2020_09_01/test_custom.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_custom.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_helpers.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_managed_cluster_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/win_proxy.py
Labels: AKS, Auto-Assign

#23087 [AKS] `az aks check-acr`: Bump canipull to v0.1.0 to add 5s wait to avoid attach race condition
  src/azure-cli/azure/cli/command_modules/acs/_consts.py
Labels: Container Registry, AKS, Auto-Assign

#23088 [AKS] `az aks update`: Fix the issue of `NoneType` error when updating the config of keyvault secret provider
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/_validators.py
  src/azure-cli/azure/cli/command_modules/acs/managed_cluster_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_managed_cluster_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_validators.py
Labels: KeyVault, AKS, Auto-Assign

#23109 [Network] `az network vnet subnet list-available-ips`: Get list of available IPs for subnet
  src/azure-cli/azure/cli/command_modules/network/_help.py
  src/azure-cli/azure/cli/command_modules/network/commands.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_vnet_subnet_list_available_ips.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Labels: Network, Auto-Assign

#23076 {AKS} Monitoring addon MSI auth - Remove unused ContainerInsights Solution resource
  src/azure-cli/azure/cli/command_modules/acs/addonconfiguration.py
Labels: AKS, ARM, Auto-Assign

#23113 [Storage] `az storage fs undelete-path`: Encode `--deleted-path-name` automatically
  src/azure-cli/azure/cli/command_modules/storage/_params.py
  src/azure-cli/azure/cli/command_modules/storage/_validators.py
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_adls_fs_soft_delete.yaml
Labels: Storage, Auto-Assign

#22945 [Packaging] Build RPM for Fedora
  azure-pipelines.yml
  scripts/ci/check_pull_request.py
  scripts/release/rpm/azure-cli.spec
  scripts/release/rpm/fedora.dockerfile
  scripts/release/rpm/pipeline.sh
  scripts/release/rpm/test_rpm_in_docker.sh
  scripts/release/rpm/test_rpm_package.py
Labels: Packaging, Auto-Assign

#23124 {RDBMS} Restoring a flexible server in another resource is currently not supported
  src/azure-cli/azure/cli/command_modules/rdbms/_helptext_pg.py
Labels: Documentation, ARM, Auto-Assign

#23164 {Core} `aaz`: optimize error display in argument validation
  src/azure-cli-core/azure/cli/core/aaz/_arg.py
  src/azure-cli-core/azure/cli/core/aaz/_arg_fmt.py
  src/azure-cli-core/azure/cli/core/aaz/_command_ctx.py
  src/azure-cli-core/azure/cli/core/aaz/exceptions.py
  src/azure-cli-core/azure/cli/core/tests/test_aaz_arg_fmt.py
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/test_aaz_resource_arg_format.py
Labels: Core, Auto-Assign

#23172 [Network] `az network private-endpoint-connection`: Enable private link support for provider `Microsoft.KubernetesConfiguration/privateLinkScopes`
  src/azure-cli/azure/cli/command_modules/network/private_link_resource_and_endpoint_connections/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_private_endpoint_commands.py
Labels: Network, Auto-Assign

#23080 [AKS] Remove warning message when using "BYO vnet + system MSI"
  src/azure-cli/azure/cli/command_modules/acs/managed_cluster_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_managed_cluster_decorator.py
Labels: AKS, Auto-Assign

#23167 [Compute] `az ppg create/update`: Add parameter `--intentvmsizes` to support one or more VM sizes and `--zone` to support specifying availability zone where the ppg should be created
  src/azure-cli/azure/cli/command_modules/vm/_help.py
  src/azure-cli/azure/cli/command_modules/vm/_params.py
  src/azure-cli/azure/cli/command_modules/vm/_validators.py
  src/azure-cli/azure/cli/command_modules/vm/commands.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_ppg_intent_vm_sizes_and_zone.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_ppg_intentvmsizes_and_zone.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Auto-Assign

#22298 [Network] `az network private-endpoint-connection`: Enable private link support for provider `Microsoft.Dashboard/grafana`
  src/azure-cli/azure/cli/command_modules/network/private_link_resource_and_endpoint_connections/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_private_endpoint_commands.py
Labels: Network, Auto-Assign

#23132 [ACR] BREAKING CHANGE: Update manifest list-referrers to comply with RC1 ORAS spec
  src/azure-cli/azure/cli/command_modules/acr/_constants.py
  src/azure-cli/azure/cli/command_modules/acr/_format.py
  src/azure-cli/azure/cli/command_modules/acr/manifest.py
  src/azure-cli/azure/cli/command_modules/acr/tests/latest/test_acr_commands_mock.py
Labels: Container Registry, Auto-Assign

#23147 [Compute] Fix #22995: `az image-version create`: Unbind the usage of `--target-region-encryption` and `--target-region-cvm-encryption`
  src/azure-cli/azure/cli/command_modules/vm/_validators.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_create_image_version_with_region_cvm_encryption_pmk.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_gallery_e2e.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Auto-Assign

#23175 [Compute] Fix #22654: `az vm/vmss run-command`: Fix the bug that `--protected-parameters` does not achieve the desired effect
  src/azure-cli/azure/cli/command_modules/vm/custom.py
Labels: Compute, Auto-Assign

#23149 [AKS] Fix the bug related to AKS Monitoring MSI auth when the location value with spaces
  src/azure-cli/azure/cli/command_modules/acs/addonconfiguration.py
Labels: AKS, Auto-Assign

#23032 [Batch] Upgrade api-version to v2022-06-01, adding 'batch account network-profile' and 'batch account network-profile network-rule'
  src/azure-cli/azure/cli/command_modules/batch/_command_type.py
  src/azure-cli/azure/cli/command_modules/batch/_help.py
  src/azure-cli/azure/cli/command_modules/batch/_params.py
  src/azure-cli/azure/cli/command_modules/batch/commands.py
  src/azure-cli/azure/cli/command_modules/batch/custom.py
  src/azure-cli/azure/cli/command_modules/batch/tests/latest/recordings/test_batch_application_cmd.yaml
  src/azure-cli/azure/cli/command_modules/batch/tests/latest/recordings/test_batch_certificate_cmd.yaml
  src/azure-cli/azure/cli/command_modules/batch/tests/latest/recordings/test_batch_general_arm_cmd.yaml
  src/azure-cli/azure/cli/command_modules/batch/tests/latest/recordings/test_batch_job_list_cmd.yaml
  src/azure-cli/azure/cli/command_modules/batch/tests/latest/recordings/test_batch_jobs_and_tasks.yaml
  src/azure-cli/azure/cli/command_modules/batch/tests/latest/recordings/test_batch_managed_identity_cmd.yaml
  src/azure-cli/azure/cli/command_modules/batch/tests/latest/recordings/test_batch_network_profile_cmd.yaml
  src/azure-cli/azure/cli/command_modules/batch/tests/latest/recordings/test_batch_pool_cmd.yaml
  src/azure-cli/azure/cli/command_modules/batch/tests/latest/recordings/test_batch_pools_and_nodes.yaml
  src/azure-cli/azure/cli/command_modules/batch/tests/latest/recordings/test_batch_privateendpoint_cmd.yaml
  src/azure-cli/azure/cli/command_modules/batch/tests/latest/recordings/test_batch_task_create_cmd.yaml
  src/azure-cli/azure/cli/command_modules/batch/tests/latest/test_batch_mgmt_commands.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_private_endpoint_connection_batch_account.yaml
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: Batch, Auto-Assign

#23209 [Network] `az network dns zone export`: Add support for ALIAS record
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/zone_file/parse_zone_file.py
  src/azure-cli/azure/cli/command_modules/network/zone_file/record_processors.py
Labels: Network, Auto-Assign

#23189 [Core] `aaz`: Implement wait command
  src/azure-cli-core/azure/cli/core/aaz/__init__.py
  src/azure-cli-core/azure/cli/core/aaz/_command.py
  src/azure-cli-core/azure/cli/core/commands/command_operation.py
Labels: Core, Auto-Assign

#23207 [Storage] Fix #23179: `az storage file upload/upload-batch`: Fix `--content-md5` for upload, ignore `--content-md5` for upload-batch
  src/azure-cli/azure/cli/command_modules/storage/_params.py
  src/azure-cli/azure/cli/command_modules/storage/_transformers.py
  src/azure-cli/azure/cli/command_modules/storage/_validators.py
  src/azure-cli/azure/cli/command_modules/storage/commands.py
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_file_upload_content_md5_scenarios.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/test_storage_file_scenarios.py
Labels: Storage, Auto-Assign

#23234 [AKS] Fix #2457: Clarify subnet id description to resource id
  src/azure-cli/azure/cli/command_modules/acs/_help.py
Labels: Documentation, AKS, ARM, Auto-Assign

#23233 {Monitor} `az monitor`: Suppress warning from antlr 4.9.3
  src/azure-cli/azure/cli/command_modules/monitor/grammar/autoscale/AutoscaleConditionLexer.py
  src/azure-cli/azure/cli/command_modules/monitor/grammar/autoscale/AutoscaleConditionListener.py
  src/azure-cli/azure/cli/command_modules/monitor/grammar/autoscale/AutoscaleConditionParser.py
  src/azure-cli/azure/cli/command_modules/monitor/grammar/autoscale/README.md
  src/azure-cli/azure/cli/command_modules/monitor/grammar/autoscale/build_python.bat
  src/azure-cli/azure/cli/command_modules/monitor/grammar/metric_alert/MetricAlertConditionLexer.py
  src/azure-cli/azure/cli/command_modules/monitor/grammar/metric_alert/MetricAlertConditionListener.py
  src/azure-cli/azure/cli/command_modules/monitor/grammar/metric_alert/MetricAlertConditionParser.py
  src/azure-cli/azure/cli/command_modules/monitor/grammar/metric_alert/README.md
  src/azure-cli/azure/cli/command_modules/monitor/grammar/metric_alert/build_python.bat
Labels: Monitor, Auto-Assign

#23250 [ARM] Fix #23246: Fix interchanged policy samples
  src/azure-cli/azure/cli/command_modules/resource/_help.py
Labels: ARM, Auto-Assign

#23254 {Packaging} Upgrade azure-mgmt-core to 1.3.1
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
Labels: Packaging, Core, Auto-Assign

#23200 [Compute] `az vmss create`: Add new parameters `--os-disk-delete-option` and `--data-disk-delete-option` to support configuring whether the VMSS Flex VM OS/Data Disks will be deleted or detached upon VM deletion
  src/azure-cli/azure/cli/command_modules/vm/_params.py
  src/azure-cli/azure/cli/command_modules/vm/_template_builder.py
  src/azure-cli/azure/cli/command_modules/vm/_validators.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/linter_exclusions.yml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_create_with_delete_option.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Auto-Assign

#23241 {SQL} Fix #15772: Fix a minor typo
  src/azure-cli/azure/cli/command_modules/sql/_help.py
Labels: SQL, Auto-Assign

#23240 {SQL} Fix #15773: Fix minor typo
  src/azure-cli/azure/cli/command_modules/sql/_params.py
Labels: SQL, Auto-Assign

#23214 [Profile] `az account list`: Add `TenantId` column to table output
  src/azure-cli/azure/cli/command_modules/profile/_format.py
Labels: Account, Portal, Auto-Assign

#23238 {Storage} Fix #21073: Fix minor typo
  src/azure-cli/azure/cli/command_modules/storage/_params.py
Labels: Storage, Auto-Assign

#23187 [Keyvault] `az keyvault security-domain upload`: Fix `password must be bytes-like` for `--passwords`
  src/azure-cli/azure/cli/command_modules/keyvault/custom.py
Labels: KeyVault, Auto-Assign

#23162 [EventGrid] Add commands for partner and event-subscription customer facing features
  src/azure-cli/azure/cli/command_modules/eventgrid/_client_factory.py
  src/azure-cli/azure/cli/command_modules/eventgrid/_help.py
  src/azure-cli/azure/cli/command_modules/eventgrid/_params.py
  src/azure-cli/azure/cli/command_modules/eventgrid/authorized_partner.py
  src/azure-cli/azure/cli/command_modules/eventgrid/commands.py
  src/azure-cli/azure/cli/command_modules/eventgrid/custom.py
  src/azure-cli/azure/cli/command_modules/eventgrid/inline_event_type.py
  src/azure-cli/azure/cli/command_modules/eventgrid/tests/latest/recordings/test_Partner_scenarios.yaml
  src/azure-cli/azure/cli/command_modules/eventgrid/tests/latest/recordings/test_Partner_scenarios_v2.yaml
  src/azure-cli/azure/cli/command_modules/eventgrid/tests/latest/recordings/test_advanced_filters.yaml
  src/azure-cli/azure/cli/command_modules/eventgrid/tests/latest/recordings/test_create_domain.yaml
  src/azure-cli/azure/cli/command_modules/eventgrid/tests/latest/recordings/test_create_event_subscriptions_to_arm_resource_group.yaml
  src/azure-cli/azure/cli/command_modules/eventgrid/tests/latest/recordings/test_create_event_subscriptions_to_resource.yaml
  src/azure-cli/azure/cli/command_modules/eventgrid/tests/latest/recordings/test_create_event_subscriptions_with_20180501_features.yaml
  src/azure-cli/azure/cli/command_modules/eventgrid/tests/latest/recordings/test_create_event_subscriptions_with_20200101_features.yaml
  src/azure-cli/azure/cli/command_modules/eventgrid/tests/latest/recordings/test_create_event_subscriptions_with_filters.yaml
  src/azure-cli/azure/cli/command_modules/eventgrid/tests/latest/recordings/test_create_system_topic.yaml
  src/azure-cli/azure/cli/command_modules/eventgrid/tests/latest/recordings/test_create_topic.yaml
  src/azure-cli/azure/cli/command_modules/eventgrid/tests/latest/recordings/test_create_topic_user_assigned_identity.yaml
  src/azure-cli/azure/cli/command_modules/eventgrid/tests/latest/recordings/test_event_subscription_delivery_attributes.yaml
  src/azure-cli/azure/cli/command_modules/eventgrid/tests/latest/recordings/test_event_subscription_with_delivery_identity.yaml
  src/azure-cli/azure/cli/command_modules/eventgrid/tests/latest/recordings/test_event_subscription_with_storagequeuemessage_ttl.yaml
  src/azure-cli/azure/cli/command_modules/eventgrid/tests/latest/recordings/test_system_topic_identity.yaml
  src/azure-cli/azure/cli/command_modules/eventgrid/tests/latest/recordings/test_topic_types.yaml
  src/azure-cli/azure/cli/command_modules/eventgrid/tests/latest/test_eventgrid_commands.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_private_endpoint_connection_event_grid_domain.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_private_endpoint_connection_event_grid_topic.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_private_link_resource_event_grid.yaml
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: Event Grid, Auto-Assign

#23230 {Synapse}`az synapse managed-private-endpoints create`: Add definition file example in help
  src/azure-cli/azure/cli/command_modules/synapse/manual/_help.py
Labels: Synapse, Auto-Assign

#23257 [Synapse] `az synapse workspace`: Add `--last-commit-id` for git repo config
  src/azure-cli/azure/cli/command_modules/synapse/manual/_help.py
  src/azure-cli/azure/cli/command_modules/synapse/manual/_params.py
  src/azure-cli/azure/cli/command_modules/synapse/manual/operations/workspace.py
Labels: Synapse, Auto-Assign

#23098 {synapse} az synapse module migration to Microsoft Graph
  src/azure-cli/azure/cli/command_modules/synapse/manual/_client_factory.py
  src/azure-cli/azure/cli/command_modules/synapse/manual/operations/accesscontrol.py
  src/azure-cli/azure/cli/command_modules/synapse/tests/latest/recordings/test_access_control.yaml
  src/azure-cli/azure/cli/command_modules/synapse/tests/latest/test_synapse_scenario.py
Labels: Graph, AAD, Synapse, Auto-Assign

#23252 {Network} `az network security-partner-provider`: Migrate to CodeGen v2
  src/azure-cli/azure/cli/command_modules/network/__init__.py
  src/azure-cli/azure/cli/command_modules/network/_client_factory.py
  src/azure-cli/azure/cli/command_modules/network/_help.py
  src/azure-cli/azure/cli/command_modules/network/_params.py
  src/azure-cli/azure/cli/command_modules/network/aaz/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/security_partner_provider/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/security_partner_provider/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/security_partner_provider/_create.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/security_partner_provider/_delete.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/security_partner_provider/_list.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/security_partner_provider/_show.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/security_partner_provider/_update.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/security_partner_provider/_wait.py
  src/azure-cli/azure/cli/command_modules/network/commands.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_security_partner_provider.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Labels: Network, Auto-Assign

#23268 {Core} `aaz`: Improve shorthand syntax
  src/azure-cli-core/azure/cli/core/aaz/_arg_action.py
  src/azure-cli-core/azure/cli/core/aaz/_base.py
  src/azure-cli-core/azure/cli/core/aaz/_utils.py
  src/azure-cli-core/azure/cli/core/tests/test_aaz_arg.py
Labels: Core, Auto-Assign

#23280 [Core] `aaz`: Support `AAZDurationArg`, `AAZDateArg`, `AAZTimeArg`, `AAZDateTimeArg` and `AAZUuidArg`
  src/azure-cli-core/azure/cli/core/aaz/__init__.py
  src/azure-cli-core/azure/cli/core/aaz/_arg.py
  src/azure-cli-core/azure/cli/core/aaz/_arg_fmt.py
  src/azure-cli-core/azure/cli/core/tests/test_aaz_arg_fmt.py
Labels: Core, Auto-Assign

#23281 [Backup] `az backup protection backup-now`: Fix bug for SQL/HANA backup retention
  src/azure-cli/azure/cli/command_modules/backup/custom_wl.py
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_backup_container.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_backup_item.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_backup_policy.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_backup_protection.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_backup_restore.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_backup_rp.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_backup_scenario.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_unregister_container.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_archive.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_container.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_csr.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_disk_exclusion.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_encryption.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_identity.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_item.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_job.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_policy.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_protection.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_restore.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_rg_mapping.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_rp.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_scenario.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_softdelete.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_vault.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_hana_container.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_hana_item.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_hana_policy.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_hana_protectable_item.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_hana_protection.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_hana_restore.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_sql_auto_protection.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_sql_container.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_sql_item.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_sql_policy.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_sql_protectable_item.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/test_afs_commands.py
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/test_backup_commands.py
Labels: SQL, Backup, Auto-Assign

#23272 {AKS} Fix #17681: Fix `az aks create` error if name contains characte…
  src/azure-cli/azure/cli/command_modules/acs/_validators.py
Labels: AKS, Auto-Assign

#23259 [Storage] `az storage container policy create`: No longer uses default value for start and expiry time
  src/azure-cli/azure/cli/command_modules/storage/commands.py
  src/azure-cli/azure/cli/command_modules/storage/operations/access_policy.py
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_container_access_policy_scenario.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_container_acl_scenarios.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_queue_policy_scenario.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_share_acl_scenarios.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_share_policy_scenario.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_table_main_scenario.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/test_storage_container_access_policy.py
Labels: Storage, Auto-Assign

#23289 {Compute} `az vm/vmss create`: Add warning log to recommend users to specify the `--enable-secure-boot True` and `--enable-vtpm True` when the `--security-type` used by the VM/VMSS creation is `TrustedLaunch`
  src/azure-cli/azure/cli/command_modules/vm/_validators.py
Labels: Compute, Auto-Assign

#23227 [Synapse] `az synapse ad-only-auth`: New command group for supporting synapse azure ad only authentication
  src/azure-cli/azure/cli/command_modules/synapse/manual/_client_factory.py
  src/azure-cli/azure/cli/command_modules/synapse/manual/_help.py
  src/azure-cli/azure/cli/command_modules/synapse/manual/_params.py
  src/azure-cli/azure/cli/command_modules/synapse/manual/commands.py
  src/azure-cli/azure/cli/command_modules/synapse/manual/operations/adonlyauthentications.py
  src/azure-cli/azure/cli/command_modules/synapse/tests/latest/recordings/test_ad_only_auth.yaml
  src/azure-cli/azure/cli/command_modules/synapse/tests/latest/test_synapse_scenario.py
Labels: Synapse, Auto-Assign

#23298 {Network} `az network application-gateway`: Remove `is_preview` flag within `client-cert` and `ssl-profile` command groups
  src/azure-cli/azure/cli/command_modules/network/commands.py
Labels: Network, Auto-Assign

#23146 [Storage] `az storage blob upload`: Add back `--socket-timeout` which has been renamed by SDK
  src/azure-cli/azure/cli/command_modules/storage/_client_factory.py
  src/azure-cli/azure/cli/command_modules/storage/_params.py
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_blob_upload_small_file.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_blob_upload_socket_timeout_scenarios.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/test_storage_blob_scenarios.py
Labels: Storage, Auto-Assign

#23288 [Service Connector] `az webapp connection create`: Add `--store-connstr` to support webapp connection string
  src/azure-cli/azure/cli/command_modules/serviceconnector/_params.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/_resource_config.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/custom.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_webapp_sql_connection_string.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/test_webpp_connection_scenario.py
Labels: Web Apps, Auto-Assign

#23185 [RDBMS] `az mysql flexible-server server-logs`: Add server logs for MySQL Flexible Server
  src/azure-cli/azure/cli/command_modules/rdbms/_client_factory.py
  src/azure-cli/azure/cli/command_modules/rdbms/_helptext_mysql.py
  src/azure-cli/azure/cli/command_modules/rdbms/_params.py
  src/azure-cli/azure/cli/command_modules/rdbms/flexible_server_commands.py
  src/azure-cli/azure/cli/command_modules/rdbms/flexible_server_custom_common.py
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_mysql_flexible_server_iops_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_mysql_flexible_server_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_mysql_flexible_server_mgmt_create_validator.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_mysql_flexible_server_mgmt_update_validator.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_mysql_flexible_server_proxy_resource.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_mysql_flexible_server_replica_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/test_rdbms_flexible_commands.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: Auto-Assign

#23303 [Compute] `az image builder`: Add parameter `--staging-resource-group` in `create` command to support custom resource group naming and add subgroup `validator` to manage validate information of template
  src/azure-cli/azure/cli/command_modules/vm/_help.py
  src/azure-cli/azure/cli/command_modules/vm/_image_builder.py
  src/azure-cli/azure/cli/command_modules/vm/_params.py
  src/azure-cli/azure/cli/command_modules/vm/commands.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_image_build_managed_image.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_image_build_shared_image.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_image_builder_basic.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_image_builder_basic_sig.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_image_builder_cancel.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_image_builder_customizers.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_image_builder_template_validator.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_image_builder_vm_profile.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_image_template_outputs.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_image_builder_commands.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: Compute, ARM, Auto-Assign

#23312 {Storage} Update description for setting sticky bit on ADLS Gen2
  src/azure-cli/azure/cli/command_modules/storage/_params.py
Labels: Storage, Auto-Assign

#23140 [IoT] Change certificate loading to encode to b64 strings by default
  src/azure-cli/azure/cli/command_modules/iot/_utils.py
  src/azure-cli/azure/cli/command_modules/iot/tests/latest/_test_utils.py
  src/azure-cli/azure/cli/command_modules/iot/tests/latest/recordings/test_certificate_lifecycle.yaml
  src/azure-cli/azure/cli/command_modules/iot/tests/latest/recordings/test_dps_certificate_lifecycle.yaml
  src/azure-cli/azure/cli/command_modules/iot/tests/latest/test_iot_certificate_commands.py
  src/azure-cli/azure/cli/command_modules/iot/tests/latest/test_iot_dps_commands.py
Labels: IoT, IoT/CLI, Auto-Assign

#23121 {Core} Provide error recommendation for `validate_file_or_dict`
  src/azure-cli-core/azure/cli/core/commands/tests/test_validators.py
  src/azure-cli-core/azure/cli/core/commands/validators.py
  src/azure-cli-core/azure/cli/core/util.py
Labels: Core, Graph, Auto-Assign

#23265 {Extension} Install library libpq-dev for extension rdbms-connect in Docker
  src/azure-cli-core/azure/cli/core/extension/operations.py
Labels: Auto-Assign

#23122 [AD] `az ad app federated-credential`: Federated identity credential GA
  src/azure-cli-core/azure/cli/core/profiles/_shared.py
  src/azure-cli/azure/cli/command_modules/role/_help.py
  src/azure-cli/azure/cli/command_modules/role/_msgrpah/_graph_client.py
  src/azure-cli/azure/cli/command_modules/role/_params.py
  src/azure-cli/azure/cli/command_modules/role/commands.py
  src/azure-cli/azure/cli/command_modules/role/custom.py
  src/azure-cli/azure/cli/command_modules/role/linter_exclusions.yml
  src/azure-cli/azure/cli/command_modules/role/tests/latest/recordings/test_app_federated_credential.yaml
  src/azure-cli/azure/cli/command_modules/role/tests/latest/test_graph.py
Labels: Graph, Auto-Assign

#23332 {Service Connector} update argument of #23288
  src/azure-cli/azure/cli/command_modules/serviceconnector/_params.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/custom.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/test_webpp_connection_scenario.py
Labels: Web Apps, Auto-Assign

#23330 [Storage] Fix #23262: `az storage blob metadata`: Add `--lease-id` back
  src/azure-cli/azure/cli/command_modules/storage/_params.py
  src/azure-cli/azure/cli/command_modules/storage/operations/blob.py
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_blob_lease_operations.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/test_storage_blob_scenarios.py
Labels: Storage, Auto-Assign

#23137 [Network] `az network application-gateway waf-policy custom-rule match-condition add`: Add validation for WAF custom rule condition
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_waf_custom_rule.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Labels: Network, Auto-Assign

#23329 [Storage] `az storage blob download/download-batch`: Add `--overwrite`
  src/azure-cli/azure/cli/command_modules/storage/_params.py
  src/azure-cli/azure/cli/command_modules/storage/operations/blob.py
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_blob_download_directory.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_blob_oauth.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_blob_upload_small_file.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/test_storage_batch_operations.py
Labels: Storage, Batch, Auto-Assign

#22939 [SQL] Change `az sql log-replay stop` to drop DB only if it was created with LRS
  src/azure-cli/azure/cli/command_modules/sql/commands.py
  src/azure-cli/azure/cli/command_modules/sql/custom.py
Labels: SQL, Auto-Assign

#23178 {AKS} Check inherited permission when granting permission to cluster identity
  src/azure-cli/azure/cli/command_modules/acs/_roleassignments.py
Labels: AKS, Auto-Assign

#23284 [Batch] `az batch pool create`: Update help message for `--json-file` argument
  src/azure-cli/azure/cli/command_modules/batch/_params.py
Labels: Batch, Auto-Assign

#23148 [Container] Fix #20280: `az container create`: Allow environment variable interpolation in container group yaml
  src/azure-cli/azure/cli/command_modules/container/custom.py
Labels: customer-reported

#23211 {ACS} Update help message to include note on Windows Server 2022 for `--os-type` parameter
  src/azure-cli/azure/cli/command_modules/acs/_help.py
Labels: customer-reported

#23231 [Network] BREAKING CHANGE: `az network watcher flow-log`: Add support for `--vnet`, `--subnet`, `--nic` as targetId
  src/azure-cli/azure/cli/command_modules/network/_help.py
  src/azure-cli/azure/cli/command_modules/network/_params.py
  src/azure-cli/azure/cli/command_modules/network/_validators.py
  src/azure-cli/azure/cli/command_modules/network/commands.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_nw_flow_log_create_vnetfl.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_nw_flow_log_delete_vnetfl.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_nw_flow_log_update_vnetfl.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_nw_flow_log.py
Labels: Network, customer-reported, Auto-Assign

#23324 [AKS] GA AKS Support for Azure Dedicated Host
  src/azure-cli/azure/cli/command_modules/acs/_help.py
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/_validators.py
  src/azure-cli/azure/cli/command_modules/acs/agentpool_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_agentpool_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_validators.py
Labels: AKS, Auto-Assign

#23331 [AKS] Add Key Management Service feature for AKS to encrypt the Kubernetes data in etcd using Azure Key Vault with KMS plugin
  linter_exclusions.yml
  src/azure-cli/azure/cli/command_modules/acs/_consts.py
  src/azure-cli/azure/cli/command_modules/acs/_help.py
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/_validators.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/managed_cluster_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_managed_cluster_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_validators.py
Labels: AKS, Auto-Assign

#23344 [AKS] `az aks create`: Add `--network-plugin=none` support for BYO CNI
  src/azure-cli/azure/cli/command_modules/acs/_consts.py
  src/azure-cli/azure/cli/command_modules/acs/_help.py
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_with_network_plugin_none.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
Labels: Network, AKS, Auto-Assign

#23345 [ACR] Fix #23340: `az acr task credential add`: Fix crashes when given a password but no username
  src/azure-cli/azure/cli/command_modules/acr/_utils.py
Labels: bug, Container Registry, Auto-Assign

#23103 [Packaging] Drop Ubuntu 21.10 Impish Indri DEB package
  azure-pipelines.yml
Labels: Packaging, Auto-Assign

#23347 {Synapse} Fix #23334: TDE name is fixed coding as current
  src/azure-cli/azure/cli/command_modules/synapse/manual/_help.py
Labels: Synapse, Auto-Assign

#23302 {cosmosdb} Fix #23299: Fix a typo
  src/azure-cli/azure/cli/command_modules/cosmosdb/custom.py
Labels: Cosmos, Auto-Assign

#23335 {Packaging} Remove deprecated edge builds
  README.md
Labels: Packaging, Auto-Assign

#23326 [App Service] `functionapp deployment github-actions`: Add new functionapp github-actions commands
  src/azure-cli/azure/cli/command_modules/appservice/_constants.py
  src/azure-cli/azure/cli/command_modules/appservice/_github_oauth.py
  src/azure-cli/azure/cli/command_modules/appservice/_help.py
  src/azure-cli/azure/cli/command_modules/appservice/_params.py
  src/azure-cli/azure/cli/command_modules/appservice/_validators.py
  src/azure-cli/azure/cli/command_modules/appservice/commands.py
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/utils.py
Labels: App Services, Auto-Assign

#23346 [Compute] `az vm disk detach`: Add parameter `--force-detach` to support force-detaching managed data disks from a VM
  src/azure-cli/azure/cli/command_modules/vm/_help.py
  src/azure-cli/azure/cli/command_modules/vm/_params.py
  src/azure-cli/azure/cli/command_modules/vm/commands.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2018_03_01/test_custom_vm_commands.py
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2019_03_01/test_custom_vm_commands.py
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2020_09_01/test_custom_vm_commands.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_disk_force_detach.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_custom_vm_commands.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Auto-Assign

#23352 [AKS] `az aks create/update`: Add parameter `--http-proxy-config` to support setting HTTP Proxy configuration
  scripts/ci/credscan/CredScanSuppressions.json
  src/azure-cli/azure/cli/command_modules/acs/_help.py
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/managed_cluster_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/data/README.md
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/data/httpproxyconfig.json
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/data/httpproxyconfig_update.json
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/data/setup_proxy.sh
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_and_update_with_http_proxy_config.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_managed_cluster_decorator.py
Labels: AKS, Auto-Assign

#23360 {SQL} Fix #23357: Fix typo from Directly to Directory
  src/azure-cli/azure/cli/command_modules/sql/_help.py
Labels: SQL, Auto-Assign

#23260 [Advisor] Fix #11070: Fix `az advisor recommendation disable` NoneType error
  src/azure-cli/azure/cli/command_modules/advisor/custom.py
Labels: Graph, Auto-Assign

#23313 [Service Connector] `Az webapp connection create`: Use webapp name and rg from config
  src/azure-cli/azure/cli/command_modules/serviceconnector/_params.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/_resource_config.py
Labels: Auto-Assign

#23301 {Network} `az network vnet subnet`: Update help message for `--disable-private-endpoint-network-policies`
  src/azure-cli/azure/cli/command_modules/network/_params.py
Labels: Network, Auto-Assign

#23100 [Network] `az network private-endpoint create`: Add an example for creating with ASGs
  src/azure-cli/azure/cli/command_modules/network/_help.py
Labels: Network, Auto-Assign

#23359 {Packaging} Change default Ubuntu repo to `jammy`
  scripts/release/debian/deb_install.sh
Labels: Packaging, Auto-Assign
