Repository Azure/azure-cli, pull requests merged in 2022-08, with the labels that each got.

#22657 {Core} `az login`: Update redirect message
  src/azure-cli-core/azure/cli/core/auth/landing_pages/success.html
Labels: Account, Core, customer-reported, Auto-Assign

#23356 {CI} Use `macOS-12`
  azure-pipelines.yml
Labels: CI, Auto-Assign

#23210 {Monitor} Fix #23161: Correcting the description colunm to column
  src/azure-cli/azure/cli/command_modules/monitor/_params.py
Labels: Core, customer-reported, Auto-Assign

#23391 {CI} Update milestone from Jul 2022 (2022-08-02) to Aug 2022 (2022-09-06)
  .github/fabricbot.json
Labels: CI, Auto-Assign

#23395 [Storage] `az storage fs file set-expiry`: New command to support setting expiry for files in ADLS Gen2 file system
  src/azure-cli/azure/cli/command_modules/storage/_params.py
  src/azure-cli/azure/cli/command_modules/storage/_validators.py
  src/azure-cli/azure/cli/command_modules/storage/commands.py
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_adls_file_set_expiry_scenarios.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/test_storage_adls_gen2_scenarios.py
Labels: Storage, Auto-Assign

#23422 {Core}: 'aaz': Copy default and blank values in arguments
  src/azure-cli-core/azure/cli/core/aaz/_arg.py
  src/azure-cli-core/azure/cli/core/aaz/_arg_action.py
  src/azure-cli-core/azure/cli/core/aaz/_base.py
Labels: Core, Auto-Assign

#23435 [Compute] `az vm run-command invoke`: Add new parameters `--no-wait` to support not waiting operation
  src/azure-cli/azure/cli/command_modules/vm/commands.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_update_image.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Auto-Assign

#23433 {SQL} Fix #13600 Add message for compute model check
  src/azure-cli/azure/cli/command_modules/sql/custom.py
Labels: Compute, SQL, Auto-Assign

#23431 [ACR] Connected registry error help command typo
  src/azure-cli/azure/cli/command_modules/acr/connected_registry.py
Labels: Container Registry, Auto-Assign

#23411 [Monitor] Add new command: `az monitor action-group test-notifications create`
  src/azure-cli-core/azure/cli/core/profiles/_shared.py
  src/azure-cli/azure/cli/command_modules/marketplaceordering/tests/latest/test_marketplaceordering_scenario_coverage.md
  src/azure-cli/azure/cli/command_modules/monitor/_help.py
  src/azure-cli/azure/cli/command_modules/monitor/_params.py
  src/azure-cli/azure/cli/command_modules/monitor/commands.py
  src/azure-cli/azure/cli/command_modules/monitor/operations/action_groups.py
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_dynamic_metric_alert_basic.yaml
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_dynamic_metric_alert_multiple_scopes.yaml
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_metric_alert_condition_create.yaml
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_metric_alert_for_rg_and_sub.yaml
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_metric_alert_for_sql_database_scope.yaml
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_metric_alert_multiple_scopes.yaml
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_metric_alert_single_scope.yaml
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_metric_alert_v2_scenario.yaml
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_action_group_basic_scenario.yaml
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_action_group_notifications.yaml
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_activity_log_alert_update_action.yaml
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_clone_public_ip_metric_alerts_scenario.yaml
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_clone_storage_metric_alerts_always_scenario.yaml
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_clone_storage_metric_alerts_scenario.yaml
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_clone_vm_metric_alerts_scenario.yaml
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_create_full_fledged_activity_log_alert.yaml
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/test_monitor_action_groups.py
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/test_monitor_metric_alert_scenarios.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_with_identity.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_webapp_sql_connection_string.yaml
  src/azure-cli/azure/cli/command_modules/servicefabric/tests/latest/recordings/test_cert_and_ext.yaml
  src/azure-cli/azure/cli/command_modules/servicefabric/tests/latest/recordings/test_create_cluster_with_separate_kv.yaml
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: Network, Auto-Assign

#23459 [Core] `aaz`: Support to use cli_ctx to initiate AAZCommand class
  src/azure-cli-core/azure/cli/core/aaz/_command.py
Labels: Core, Auto-Assign

#23449 [Batch] Fix #23445: `az batch pool supported-images list`: Fix the `NoneType object has no attribute startswith` bug for getting supported images list
  src/azure-cli/azure/cli/command_modules/batch/_validators.py
Labels: Batch, Auto-Assign

#23463 {rdbms} Fix #17579: Add document reference where updated versions are…
  src/azure-cli/azure/cli/command_modules/rdbms/_params.py
Labels: Auto-Assign

#23482 {RDBMS} Fix Typo in mysql flexibile server cmdlet summary
  src/azure-cli/azure/cli/command_modules/rdbms/_helptext_mysql.py
  src/azure-cli/azure/cli/command_modules/rdbms/_helptext_pg.py
Labels: Auto-Assign

#23489 [AKS] Fix #23468: `az aks nodepool wait` crashes with error "'Namespace' object has no attribute 'nodepool_name'"
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/_validators.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_validators.py
Labels: AKS, Auto-Assign

#23471 [Core] `aaz`: Fix AAZBearerTokenCredentialPolicy to support MSIAuthenticationWrapper crendital
  src/azure-cli-core/azure/cli/core/aaz/_http_policy.py
Labels: Core, Auto-Assign

#23323 [ACR] Add commands for Conditional Access policy (2022-02-01-preview API)
  src/azure-cli-core/azure/cli/core/profiles/_shared.py
  src/azure-cli/azure/cli/command_modules/acr/_client_factory.py
  src/azure-cli/azure/cli/command_modules/acr/_constants.py
  src/azure-cli/azure/cli/command_modules/acr/_docker_utils.py
  src/azure-cli/azure/cli/command_modules/acr/_help.py
  src/azure-cli/azure/cli/command_modules/acr/_params.py
  src/azure-cli/azure/cli/command_modules/acr/commands.py
  src/azure-cli/azure/cli/command_modules/acr/network_rule.py
  src/azure-cli/azure/cli/command_modules/acr/policy.py
  src/azure-cli/azure/cli/command_modules/acr/tests/hybrid_2020_09_01/recordings/test_acr_create_webhook.yaml
  src/azure-cli/azure/cli/command_modules/acr/tests/hybrid_2020_09_01/recordings/test_acr_create_with_managed_registry.yaml
  src/azure-cli/azure/cli/command_modules/acr/tests/hybrid_2020_09_01/recordings/test_acr_network_rule.yaml
  src/azure-cli/azure/cli/command_modules/acr/tests/hybrid_2020_09_01/recordings/test_check_name_availability.yaml
  src/azure-cli/azure/cli/command_modules/acr/tests/hybrid_2020_09_01/test_acr_network_rule_commands.py
  src/azure-cli/azure/cli/command_modules/acr/tests/latest/recordings/test_acr_agentpool.yaml
  src/azure-cli/azure/cli/command_modules/acr/tests/latest/recordings/test_acr_connectedregistry.yaml
  src/azure-cli/azure/cli/command_modules/acr/tests/latest/recordings/test_acr_create_replication.yaml
  src/azure-cli/azure/cli/command_modules/acr/tests/latest/recordings/test_acr_create_webhook.yaml
  src/azure-cli/azure/cli/command_modules/acr/tests/latest/recordings/test_acr_create_with_audits.yaml
  src/azure-cli/azure/cli/command_modules/acr/tests/latest/recordings/test_acr_create_with_managed_registry.yaml
  src/azure-cli/azure/cli/command_modules/acr/tests/latest/recordings/test_acr_encryption_with_cmk.yaml
  src/azure-cli/azure/cli/command_modules/acr/tests/latest/recordings/test_acr_export_policy.yaml
  src/azure-cli/azure/cli/command_modules/acr/tests/latest/recordings/test_acr_identity.yaml
  src/azure-cli/azure/cli/command_modules/acr/tests/latest/recordings/test_acr_image_import.yaml
  src/azure-cli/azure/cli/command_modules/acr/tests/latest/recordings/test_acr_import_no_wait.yaml
  src/azure-cli/azure/cli/command_modules/acr/tests/latest/recordings/test_acr_network_rule.yaml
  src/azure-cli/azure/cli/command_modules/acr/tests/latest/recordings/test_acr_task.yaml
  src/azure-cli/azure/cli/command_modules/acr/tests/latest/recordings/test_acr_taskrun.yaml
  src/azure-cli/azure/cli/command_modules/acr/tests/latest/recordings/test_acr_with_anonymous_pull.yaml
  src/azure-cli/azure/cli/command_modules/acr/tests/latest/recordings/test_acr_with_dedicated_data_endpoints.yaml
  src/azure-cli/azure/cli/command_modules/acr/tests/latest/recordings/test_acr_with_private_endpoint.yaml
  src/azure-cli/azure/cli/command_modules/acr/tests/latest/recordings/test_acr_with_public_network_access.yaml
  src/azure-cli/azure/cli/command_modules/acr/tests/latest/recordings/test_acr_with_public_network_access_disabled.yaml
  src/azure-cli/azure/cli/command_modules/acr/tests/latest/recordings/test_acr_with_zone_redundancy.yaml
  src/azure-cli/azure/cli/command_modules/acr/tests/latest/recordings/test_check_name_availability.yaml
  src/azure-cli/azure/cli/command_modules/acr/tests/latest/recordings/test_repository_token_create.yaml
  src/azure-cli/azure/cli/command_modules/acr/tests/latest/test_acr_agentpool_commands.py
  src/azure-cli/azure/cli/command_modules/acr/tests/latest/test_acr_commands.py
  src/azure-cli/azure/cli/command_modules/acr/tests/latest/test_acr_network_rule_commands.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_acr_create_function_app.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_acr_deployment_function_app.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_acr_integration.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_acr_integration_function_app.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_linux_slot_container_settings_override.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_private_endpoint_connection_acr.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_private_link_resource_acr.yaml
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/recordings/test_tag_update_by_patch.yaml
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: Container Registry, Auto-Assign

#23518 {servicefabric} Fix #16717: Validate an empty array of node types
  src/azure-cli/azure/cli/command_modules/servicefabric/custom.py
Labels: Service Fabric, Auto-Assign

#23393 [Compute] Fix #23194: `sig image-version create`: Fix the `Parameter tags must be of type dict` error when `--tags` parameter is passed as `key=value` pairs
  src/azure-cli/azure/cli/command_modules/vm/_validators.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_specialized_image.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Auto-Assign

#23506 [AKS] `az aks check-acr`: Append acr suffix to option `--acr` acording to cloud env
  src/azure-cli/azure/cli/command_modules/acs/_consts.py
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/_validators.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_validators.py
Labels: Container Registry, AKS, Auto-Assign

#23543 [Compute] Fix #23540: `az ppg create`: Fix the `Parameter tags must be of type dict` error when `--tags` parameter is passed as `key=value` pairs
  src/azure-cli/azure/cli/command_modules/vm/_validators.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_ppg_intent_vm_sizes_and_zone.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Auto-Assign

#23452 {Network} `az network private-endpoint create`: Refactor keyword arguments by unpacking
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_private_endpoint_asg.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_private_endpoint_ip_config.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Labels: Network, Portal, Auto-Assign

#23438 [Network] `az network application-gateway create`: Support rule priority field provided as part of configuration
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_metric_alert_special_char_scenario.yaml
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/test_monitor_metric_alert_scenarios.py
  src/azure-cli/azure/cli/command_modules/network/_help.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_manage_appgw_private_endpoint.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_manage_appgw_private_endpoint_without_standard.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_address_pool.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_auth_cert.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_frontend_ip_private.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_frontend_ip_public.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_frontend_port.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_http_listener.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_http_listener_with_multi_host_names.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_http_listener_with_waf_policy.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_http_settings.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_root_cert.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_rule.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_url_path_map.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_url_path_map_edge_case.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_zone.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_no_wait.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_redirect_config.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_rewrite_rulesets.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_waf_config.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_waf_v2_config.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_with_cert_name.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_with_defaults.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_with_existing_subnet.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_with_private_ip.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_with_public_ip.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_with_ssl_profile.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_with_trusted_client_cert.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_with_waf_v2_sku.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_nic_ag_address_pools.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_nic_app_gateway.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_private_endpoint_commands.py
Labels: Network, Auto-Assign

#23542 {Network} `az network service-endpoint`: Migrate to atomic commands
  src/azure-cli/azure/cli/command_modules/network/_client_factory.py
  src/azure-cli/azure/cli/command_modules/network/_completers.py
  src/azure-cli/azure/cli/command_modules/network/_help.py
  src/azure-cli/azure/cli/command_modules/network/_params.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/service_endpoint/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/service_endpoint/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/service_endpoint/_list.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/service_endpoint/policy/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/service_endpoint/policy/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/service_endpoint/policy/_create.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/service_endpoint/policy/_delete.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/service_endpoint/policy/_list.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/service_endpoint/policy/_show.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/service_endpoint/policy/_update.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/service_endpoint/policy/_wait.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/service_endpoint/policy_definition/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/service_endpoint/policy_definition/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/service_endpoint/policy_definition/_create.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/service_endpoint/policy_definition/_delete.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/service_endpoint/policy_definition/_list.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/service_endpoint/policy_definition/_show.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/service_endpoint/policy_definition/_update.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/service_endpoint/policy_definition/_wait.py
  src/azure-cli/azure/cli/command_modules/network/commands.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_service_endpoints.yaml
Labels: Network, Auto-Assign

#23524 [ARM] `azure bicep`: Use `AZURE_CLI_DISABLE_CONNECTION_VERIFICATION` when checking Bicep CLI versions
  src/azure-cli/azure/cli/command_modules/resource/_bicep.py
Labels: ARM, Auto-Assign

#23553 {Network} `az network route-filter`: Migrate to atomic commands
  src/azure-cli/azure/cli/command_modules/network/_client_factory.py
  src/azure-cli/azure/cli/command_modules/network/_help.py
  src/azure-cli/azure/cli/command_modules/network/_params.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/route_filter/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/route_filter/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/route_filter/_create.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/route_filter/_delete.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/route_filter/_list.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/route_filter/_show.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/route_filter/_update.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/route_filter/_wait.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/route_filter/rule/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/route_filter/rule/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/route_filter/rule/_create.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/route_filter/rule/_delete.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/route_filter/rule/_list.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/route_filter/rule/_list_service_communities.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/route_filter/rule/_show.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/route_filter/rule/_update.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/route_filter/rule/_wait.py
  src/azure-cli/azure/cli/command_modules/network/commands.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/hybrid_2018_03_01/recordings/test_network_route_filter.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/hybrid_2018_03_01/test_network_commands.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_route_filter.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Labels: Network, Auto-Assign

#23558 {AzureSignalR} fixes Azure/azure-cli#23538
  src/azure-cli/azure/cli/command_modules/signalr/_help.py
Labels: Documentation

#23501 [AKS] `az aks`: Add `--gpu-instance-profile` for Nvidia multi-instan…
  src/azure-cli/azure/cli/command_modules/acs/_consts.py
  src/azure-cli/azure/cli/command_modules/acs/_help.py
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/agentpool_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_nodepool_add_with_gpu_instance_profile.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_agentpool_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
Labels: AKS, Auto-Assign

#23554 {Profile} `az account show`: Remove help message for `--sdk-auth`
  src/azure-cli/azure/cli/command_modules/profile/_help.py
Labels: Auto-Assign

#23530 [Core] Allow adding dedicated key for collecting cli telemetry
  src/azure-cli-core/azure/cli/core/telemetry.py
  src/azure-cli-core/setup.py
  src/azure-cli-telemetry/HISTORY.rst
  src/azure-cli-telemetry/azure/cli/telemetry/__init__.py
  src/azure-cli-telemetry/setup.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
Labels: Core, Auto-Assign

#23587 [Network] Private link add `Microsoft.OpenEnergyPlatform/energyServices` provider
  src/azure-cli/azure/cli/command_modules/network/private_link_resource_and_endpoint_connections/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_private_endpoint_commands.py
Labels: customer-reported

#23531 {Resource} Remove Virtual Terminal related code
  src/azure-cli-core/setup.py
  src/azure-cli/azure/cli/command_modules/resource/_win_vt.py
  src/azure-cli/azure/cli/command_modules/resource/custom.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
Labels: ARM, Auto-Assign

#23588 {VM} Fix #22901 Fix case of lastRunStatus.runState value
  src/azure-cli/azure/cli/command_modules/vm/_help.py
Labels: Compute, Auto-Assign

#23591 {EnergyServices} Fix api version for energy services
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_private_endpoint_commands.py
Labels: customer-reported

#23592 [Compute] `az sig`: Enable private and community conversion for gallery
  src/azure-cli/azure/cli/command_modules/vm/_help.py
  src/azure-cli/azure/cli/command_modules/vm/_params.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_update_gallery_permissions.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Auto-Assign

#23564 {EventGrid} `az eventgrid topic/domain event-subscription update`: Fix validation of deadletter identity parameters
  src/azure-cli/azure/cli/command_modules/eventgrid/custom.py
Labels: Event Grid, Auto-Assign

#23556 [Packaging] Build RPM for RHEL 9 and CentOS Stream 9
  azure-pipelines.yml
  scripts/release/rpm/fedora.dockerfile
  scripts/release/rpm/pipeline.sh
  scripts/release/rpm/ubi.dockerfile
  scripts/release/rpm/ubi8.dockerfile
Labels: Packaging, Auto-Assign

#23568 {Network} `az network virtual-appliance`: Migrate to atomic commands
  src/azure-cli/azure/cli/command_modules/network/_client_factory.py
  src/azure-cli/azure/cli/command_modules/network/_help.py
  src/azure-cli/azure/cli/command_modules/network/_params.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/virtual_appliance/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/virtual_appliance/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/virtual_appliance/_create.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/virtual_appliance/_delete.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/virtual_appliance/_list.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/virtual_appliance/_show.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/virtual_appliance/_update.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/virtual_appliance/_wait.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/virtual_appliance/site/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/virtual_appliance/site/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/virtual_appliance/site/_create.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/virtual_appliance/site/_delete.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/virtual_appliance/site/_list.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/virtual_appliance/site/_show.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/virtual_appliance/site/_update.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/virtual_appliance/site/_wait.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/virtual_appliance/sku/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/virtual_appliance/sku/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/virtual_appliance/sku/_list.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/virtual_appliance/sku/_show.py
  src/azure-cli/azure/cli/command_modules/network/commands.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
Labels: Network, Auto-Assign

#23607 [Backup] `az backup vault create/backup-properties set`: Add support for Alert Settings
  src/azure-cli/azure/cli/command_modules/backup/_params.py
  src/azure-cli/azure/cli/command_modules/backup/custom.py
  src/azure-cli/azure/cli/command_modules/backup/custom_wl.py
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_backup_container.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_backup_item.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_backup_policy.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_backup_protection.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_backup_restore.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_backup_rp.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_backup_scenario.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_unregister_container.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_archive.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_container.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_disk_exclusion.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_encryption.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_identity.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_item.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_job.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_policy.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_protection.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_restore.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_rg_mapping.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_rp.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_scenario.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_softdelete.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_vault.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_sql_crr.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/test_backup_commands.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: Backup, Auto-Assign

#23597 [RDBMS] `az mysql flexible-server upgrade`: Add major version upgrade for MySQL flexible server
  src/azure-cli/azure/cli/command_modules/rdbms/_helptext_mysql.py
  src/azure-cli/azure/cli/command_modules/rdbms/_params.py
  src/azure-cli/azure/cli/command_modules/rdbms/flexible_server_commands.py
  src/azure-cli/azure/cli/command_modules/rdbms/flexible_server_custom_common.py
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_mysql_flexible_server_upgrade_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/test_rdbms_flexible_commands.py
Labels: Auto-Assign

#23421 {Role} Update help for credential-related commands
  src/azure-cli/azure/cli/command_modules/role/_help.py
  src/azure-cli/azure/cli/command_modules/role/_params.py
  src/azure-cli/azure/cli/command_modules/role/custom.py
Labels: RBAC, Auto-Assign

#23432 [RDBMS] `az mysql/postgres flexible-server backup`: Add backup commands for flexible servers
  .github/CODEOWNERS
  src/azure-cli/azure/cli/command_modules/rdbms/_client_factory.py
  src/azure-cli/azure/cli/command_modules/rdbms/_helptext_mysql.py
  src/azure-cli/azure/cli/command_modules/rdbms/_helptext_pg.py
  src/azure-cli/azure/cli/command_modules/rdbms/_params.py
  src/azure-cli/azure/cli/command_modules/rdbms/_transformers.py
  src/azure-cli/azure/cli/command_modules/rdbms/flexible_server_commands.py
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_flexible_server_vnet_mgmt_prepare_private_network_subnet.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_flexible_server_vnet_mgmt_prepare_private_network_vname_and_subnetname.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_flexible_server_vnet_mgmt_prepare_private_network_vnet.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_flexible_server_vnet_mgmt_validator.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_mysql_flexible_server_backups_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_mysql_flexible_server_existing_private_dns_zone.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_mysql_flexible_server_georestore_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_mysql_flexible_server_iops_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_mysql_flexible_server_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_mysql_flexible_server_mgmt_create_validator.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_mysql_flexible_server_new_private_dns_zone.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_mysql_flexible_server_public_access_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_mysql_flexible_server_restore_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_mysql_flexible_server_vnet_mgmt_supplied_subnet_id_in_different_rg.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_mysql_flexible_server_vnet_mgmt_supplied_subnetid.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_mysql_flexible_server_vnet_mgmt_supplied_vname_and_subnetname.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_mysql_flexible_server_vnet_mgmt_supplied_vnet.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_flexible_server_backups_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_flexible_server_existing_private_dns_zone.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_flexible_server_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_flexible_server_mgmt_create_validator.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_flexible_server_mgmt_update_validator.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_flexible_server_mgmt_validator.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_flexible_server_new_private_dns_zone.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_flexible_server_proxy_resource.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_flexible_server_public_access_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_flexible_server_restore_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_flexible_server_vnet_mgmt_supplied_subnet_id_in_different_rg.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_flexible_server_vnet_mgmt_supplied_subnetid.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_flexible_server_vnet_mgmt_supplied_vname_and_subnetname.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_flexible_server_vnet_mgmt_supplied_vnet.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/test_rdbms_flexible_commands.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: Auto-Assign

#23611 [Storage] `az storage account`: Add `az storage account local-user` and `--enable-sftp` and `--enable-local-user` to `az storage account create/update`
  src/azure-cli/azure/cli/command_modules/storage/_client_factory.py
  src/azure-cli/azure/cli/command_modules/storage/_help.py
  src/azure-cli/azure/cli/command_modules/storage/_params.py
  src/azure-cli/azure/cli/command_modules/storage/_validators.py
  src/azure-cli/azure/cli/command_modules/storage/commands.py
  src/azure-cli/azure/cli/command_modules/storage/operations/account.py
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_account_local_user.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_account_sftp.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/test_storage_account_scenarios.py
Labels: Account, Storage, Auto-Assign

#23637 {monitor}`az monitor metric alert create`: Support metric namespace with dash
  src/azure-cli/azure/cli/command_modules/monitor/grammar/metric_alert/MetricAlertCondition.g4
  src/azure-cli/azure/cli/command_modules/monitor/grammar/metric_alert/MetricAlertConditionLexer.py
  src/azure-cli/azure/cli/command_modules/monitor/grammar/metric_alert/MetricAlertConditionListener.py
  src/azure-cli/azure/cli/command_modules/monitor/grammar/metric_alert/MetricAlertConditionParser.py
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_metric_namespace_special_character.yaml
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/test_monitor_metric_alert_scenarios.py
Labels: Monitor, Auto-Assign

#23467 [Network] Fix #22594: `az network bastion create`: Add no wait support for bastion create
  src/azure-cli/azure/cli/command_modules/network/_help.py
  src/azure-cli/azure/cli/command_modules/network/commands.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
Labels: Network, Auto-Assign

#23473 [RDBMS] `az postgres flexible-server create/update`: Add `SameZone` for HA in PostgreSQL flexible server
  src/azure-cli/azure/cli/command_modules/rdbms/_flexible_server_util.py
  src/azure-cli/azure/cli/command_modules/rdbms/_params.py
  src/azure-cli/azure/cli/command_modules/rdbms/flexible_server_custom_postgres.py
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/test_rdbms_flexible_commands.py
  src/azure-cli/azure/cli/command_modules/rdbms/validators.py
Labels: Auto-Assign

#23442 {RDBMS} Add check_name_availability_without_location as fallback in MySQL flex
  src/azure-cli/azure/cli/command_modules/rdbms/_client_factory.py
  src/azure-cli/azure/cli/command_modules/rdbms/flexible_server_custom_mysql.py
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_mysql_flexible_server_check_name_availability_fallback_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/test_rdbms_flexible_commands.py
  src/azure-cli/azure/cli/command_modules/rdbms/validators.py
Labels: Portal, Auto-Assign

#23661 {CI} Fix automation full test not failure issue
  scripts/ci/automation_full_test.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_express_route_port.yaml
Labels: CI, Auto-Assign

#23619 {Monitor} `az monitor action-group`: Add an optional location parameter to action-group create/update cmd
  src/azure-cli/azure/cli/command_modules/monitor/_params.py
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_action_group_basic_scenario.yaml
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_action_group_location.yaml
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/test_monitor_action_groups.py
  src/azure-cli/azure/cli/command_modules/monitor/validators.py
Labels: Monitor, Auto-Assign

#23677 {Network} `az network private-endpoint`: Added Device Update for IoT Hub support to Network Private Endpoint
  src/azure-cli/azure/cli/command_modules/network/private_link_resource_and_endpoint_connections/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_private_link_endpoint_deviceupdate.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_private_endpoint_commands.py
Labels: Network, IoT, IoT/CLI, Auto-Assign

#23660 {Network} `az network nsg`: Migrate to atomic commands
  src/azure-cli/azure/cli/command_modules/network/_help.py
  src/azure-cli/azure/cli/command_modules/network/aaz/2017_03_09_profile/network/nsg/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/2017_03_09_profile/network/nsg/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/2017_03_09_profile/network/nsg/_delete.py
  src/azure-cli/azure/cli/command_modules/network/aaz/2017_03_09_profile/network/nsg/_list.py
  src/azure-cli/azure/cli/command_modules/network/aaz/2017_03_09_profile/network/nsg/_show.py
  src/azure-cli/azure/cli/command_modules/network/aaz/2017_03_09_profile/network/nsg/_wait.py
  src/azure-cli/azure/cli/command_modules/network/aaz/2017_03_09_profile/network/nsg/rule/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/2017_03_09_profile/network/nsg/rule/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/2017_03_09_profile/network/nsg/rule/_delete.py
  src/azure-cli/azure/cli/command_modules/network/aaz/2018_03_01_hybrid/network/nsg/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/2018_03_01_hybrid/network/nsg/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/2018_03_01_hybrid/network/nsg/_delete.py
  src/azure-cli/azure/cli/command_modules/network/aaz/2018_03_01_hybrid/network/nsg/_list.py
  src/azure-cli/azure/cli/command_modules/network/aaz/2018_03_01_hybrid/network/nsg/_show.py
  src/azure-cli/azure/cli/command_modules/network/aaz/2018_03_01_hybrid/network/nsg/_wait.py
  src/azure-cli/azure/cli/command_modules/network/aaz/2018_03_01_hybrid/network/nsg/rule/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/2018_03_01_hybrid/network/nsg/rule/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/2018_03_01_hybrid/network/nsg/rule/_delete.py
  src/azure-cli/azure/cli/command_modules/network/aaz/2019_03_01_hybrid/network/nsg/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/2019_03_01_hybrid/network/nsg/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/2019_03_01_hybrid/network/nsg/_delete.py
  src/azure-cli/azure/cli/command_modules/network/aaz/2019_03_01_hybrid/network/nsg/_list.py
  src/azure-cli/azure/cli/command_modules/network/aaz/2019_03_01_hybrid/network/nsg/_show.py
  src/azure-cli/azure/cli/command_modules/network/aaz/2019_03_01_hybrid/network/nsg/_wait.py
  src/azure-cli/azure/cli/command_modules/network/aaz/2019_03_01_hybrid/network/nsg/rule/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/2019_03_01_hybrid/network/nsg/rule/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/2019_03_01_hybrid/network/nsg/rule/_delete.py
  src/azure-cli/azure/cli/command_modules/network/aaz/2020_09_01_hybrid/network/nsg/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/2020_09_01_hybrid/network/nsg/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/2020_09_01_hybrid/network/nsg/_delete.py
  src/azure-cli/azure/cli/command_modules/network/aaz/2020_09_01_hybrid/network/nsg/_list.py
  src/azure-cli/azure/cli/command_modules/network/aaz/2020_09_01_hybrid/network/nsg/_show.py
  src/azure-cli/azure/cli/command_modules/network/aaz/2020_09_01_hybrid/network/nsg/_wait.py
  src/azure-cli/azure/cli/command_modules/network/aaz/2020_09_01_hybrid/network/nsg/rule/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/2020_09_01_hybrid/network/nsg/rule/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/2020_09_01_hybrid/network/nsg/rule/_delete.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/nsg/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/nsg/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/nsg/_delete.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/nsg/_list.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/nsg/_show.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/nsg/_wait.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/nsg/rule/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/nsg/rule/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/nsg/rule/_delete.py
  src/azure-cli/azure/cli/command_modules/network/commands.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/hybrid_2018_03_01/recordings/test_network_extended_nsg.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/hybrid_2018_03_01/recordings/test_network_nsg.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/hybrid_2018_03_01/test_network_commands.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_extended_nsg.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_nsg.yaml
Labels: Network, Auto-Assign

#23699 {sql} Fix #17345: Add note to create the key first
  src/azure-cli/azure/cli/command_modules/sql/_help.py
Labels: SQL, Auto-Assign

#23703 {sql} Fix #18948: Remove unnecessary print statement causing confusion
  src/azure-cli/azure/cli/command_modules/sql/custom.py
Labels: SQL, Auto-Assign

#23647 {Auth} Show device code message regardless of `core.only_show_errors` config option
  src/azure-cli-core/azure/cli/core/auth/identity.py
Labels: Core, Auto-Assign

#23701 [Core] `aaz`: Support generic update arguments
  src/azure-cli-core/azure/cli/core/aaz/_arg.py
  src/azure-cli-core/azure/cli/core/aaz/_arg_action.py
  src/azure-cli-core/azure/cli/core/aaz/_command.py
  src/azure-cli-core/azure/cli/core/aaz/_operation.py
  src/azure-cli-core/azure/cli/core/tests/test_aaz_operation.py
Labels: Core, Auto-Assign

#23350 [SQL] `az sql mi endpoint-cert`: New command group to manage endpoint certificates
  src/azure-cli/azure/cli/command_modules/sql/__init__.py
  src/azure-cli/azure/cli/command_modules/sql/aaz/__init__.py
  src/azure-cli/azure/cli/command_modules/sql/aaz/latest/__init__.py
  src/azure-cli/azure/cli/command_modules/sql/aaz/latest/sql/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/sql/aaz/latest/sql/__init__.py
  src/azure-cli/azure/cli/command_modules/sql/aaz/latest/sql/mi/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/sql/aaz/latest/sql/mi/__init__.py
  src/azure-cli/azure/cli/command_modules/sql/aaz/latest/sql/mi/endpoint_cert/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/sql/aaz/latest/sql/mi/endpoint_cert/__init__.py
  src/azure-cli/azure/cli/command_modules/sql/aaz/latest/sql/mi/endpoint_cert/_list.py
  src/azure-cli/azure/cli/command_modules/sql/aaz/latest/sql/mi/endpoint_cert/_show.py
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/recordings/test_sql_mi_endpoint_cert_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/test_sql_commands.py
Labels: SQL, Auto-Assign

#23682 [AKS] `az aks update`: Update without args prompts to reconcile
  src/azure-cli/azure/cli/command_modules/acs/_help.py
  src/azure-cli/azure/cli/command_modules/acs/managed_cluster_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_managed_cluster_decorator.py
Labels: AKS, Auto-Assign

#23712 {RDBMS} Fix check for data encryption for geo-redundant server
  src/azure-cli/azure/cli/command_modules/rdbms/validators.py
Labels: Backup, Auto-Assign

#23697 [Service Bus] Add MinTls to `az servicebus namespace create/update` and add `az servicebus namespace network-rule update`
  src/azure-cli-core/azure/cli/core/profiles/_shared.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_private_endpoint_connection_service_bus.yaml
  src/azure-cli/azure/cli/command_modules/servicebus/_help.py
  src/azure-cli/azure/cli/command_modules/servicebus/_params.py
  src/azure-cli/azure/cli/command_modules/servicebus/action.py
  src/azure-cli/azure/cli/command_modules/servicebus/commands.py
  src/azure-cli/azure/cli/command_modules/servicebus/custom.py
  src/azure-cli/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_alias.yaml
  src/azure-cli/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_migration.yaml
  src/azure-cli/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_namespace.yaml
  src/azure-cli/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_namespace_encryption.yaml
  src/azure-cli/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_namespace_msi.yaml
  src/azure-cli/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_network.yaml
  src/azure-cli/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_privateendpoint.yaml
  src/azure-cli/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_queue.yaml
  src/azure-cli/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_rules.yaml
  src/azure-cli/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_subscription.yaml
  src/azure-cli/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_topic.yaml
  src/azure-cli/azure/cli/command_modules/servicebus/tests/latest/test_servicebus_encryption_commands.py
  src/azure-cli/azure/cli/command_modules/servicebus/tests/latest/test_servicebus_namespace_commands.py
  src/azure-cli/azure/cli/command_modules/servicebus/tests/latest/test_servicebus_network_commands.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: Service Bus, needs-review, Auto-Assign

#23654 [AKS] support csi drivers extensibility
  src/azure-cli/azure/cli/command_modules/acs/_help.py
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/linter_exclusions.yml
  src/azure-cli/azure/cli/command_modules/acs/managed_cluster_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_and_update_with_csi_drivers_extensibility.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_with_standard_csi_drivers.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_managed_cluster_decorator.py
Labels: AKS, Auto-Assign

#23656 [Backup] Fix #23655: `az backup restore restore-disks`: Support storage account being in a different resource group
  linter_exclusions.yml
  src/azure-cli/azure/cli/command_modules/backup/_params.py
  src/azure-cli/azure/cli/command_modules/backup/custom.py
  src/azure-cli/azure/cli/command_modules/backup/custom_base.py
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_restore_when_storage_in_different_rg.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/test_backup_commands.py
Labels: Account, Storage, ARM, customer-reported, Backup, Auto-Assign

#23396 [Compute] `az vm/vmss create`: `--enable-vtpm` is set to `True` by default when the `--security-type` used by the VM/VMSS creation is `TrustedLaunch`
  src/azure-cli/azure/cli/command_modules/vm/_validators.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_create_image_version_with_region_cvm_encryption.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_guest_attestation_extension_and_msi.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Auto-Assign

#23659 {acr} Fix misspelling of 'repository' in acr subcommands help
  src/azure-cli/azure/cli/command_modules/acr/_params.py
Labels: Container Registry, customer-reported, Auto-Assign

#23458 [Compute] `az vm run-command show/list`: Add validation and refine help message for parameter combination
  src/azure-cli/azure/cli/command_modules/vm/_help.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_run_command_v2.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Auto-Assign

#23646 {Compute} `az sig image-definition create`: Remove duplicate examples
  src/azure-cli/azure/cli/command_modules/vm/_help.py
Labels: Compute, Auto-Assign

#23375 [App Service] Fix #23417: `az functionapp github-actions add`: Fix the functionapp github actions on java
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
Labels: App Services, Auto-Assign

#23523 {ACR} `az acr manifest show`: Improve performance by eliminating unnecessary REST call
  src/azure-cli/azure/cli/command_modules/acr/manifest.py
  src/azure-cli/azure/cli/command_modules/acr/tests/latest/test_acr_commands_mock.py
Labels: Container Registry, Auto-Assign

#23662 {CI} Update `[Microsoft Internal / Service Team] Feature Request` template
  .github/ISSUE_TEMPLATE/Service_team_request.yaml
Labels: CI, Auto-Assign

#23721 {sql} Fix #19731: Add condition for SystemAssigned Identity type as well
  src/azure-cli/azure/cli/command_modules/sql/custom.py
Labels: SQL, Auto-Assign

#23602 [App Service] `az functionapp list-runtimes`: Add linuxFxVersion to output
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
Labels: App Services, Auto-Assign

#23728 {CI} Update milestone from Aug 2022 (2022-09-06) to Sep 2022 (2022-10-12) - For Ignite
  .github/fabricbot.json
Labels: CI, Auto-Assign

#23534 [SQL] `az sql mi partner-cert`: New command group to manage partner certificates
  src/azure-cli/azure/cli/command_modules/sql/aaz/latest/sql/mi/partner_cert/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/sql/aaz/latest/sql/mi/partner_cert/__init__.py
  src/azure-cli/azure/cli/command_modules/sql/aaz/latest/sql/mi/partner_cert/_create.py
  src/azure-cli/azure/cli/command_modules/sql/aaz/latest/sql/mi/partner_cert/_delete.py
  src/azure-cli/azure/cli/command_modules/sql/aaz/latest/sql/mi/partner_cert/_list.py
  src/azure-cli/azure/cli/command_modules/sql/aaz/latest/sql/mi/partner_cert/_show.py
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/recordings/test_sql_mi_partner_cert_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/test_sql_commands.py
Labels: SQL, Auto-Assign

#23732 [Storage] Support encryption scope for ADLS Gen2 file system
  src/azure-cli-core/azure/cli/core/profiles/_shared.py
  src/azure-cli/azure/cli/command_modules/storage/_params.py
  src/azure-cli/azure/cli/command_modules/storage/_validators.py
  src/azure-cli/azure/cli/command_modules/storage/commands.py
  src/azure-cli/azure/cli/command_modules/storage/operations/filesystem.py
  src/azure-cli/azure/cli/command_modules/storage/operations/fs_directory.py
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_adls_gen2_encryption_scope.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/test_storage_encryption_scope_scenarios.py
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/test_storage_sas_scenarios.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: Storage, Auto-Assign

#22959 [ACR] Add new soft-delete commands
  linter_exclusions.yml
  src/azure-cli/azure/cli/command_modules/acr/_docker_utils.py
  src/azure-cli/azure/cli/command_modules/acr/_help.py
  src/azure-cli/azure/cli/command_modules/acr/_params.py
  src/azure-cli/azure/cli/command_modules/acr/_validators.py
  src/azure-cli/azure/cli/command_modules/acr/commands.py
  src/azure-cli/azure/cli/command_modules/acr/manifest.py
  src/azure-cli/azure/cli/command_modules/acr/policy.py
  src/azure-cli/azure/cli/command_modules/acr/repository.py
  src/azure-cli/azure/cli/command_modules/acr/tests/latest/test_acr_commands.py
  src/azure-cli/azure/cli/command_modules/acr/tests/latest/test_acr_commands_mock.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_private_endpoint_commands.py
Labels: Container Registry, Auto-Assign

#23464 [App Service] `az webapp up`: Show status during deployment for linux apps
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_deploy_zip.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_list_deployment_logs.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_show_deployment_logs.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_functionapp_commands_thru_mock.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_webapp_commands.py
  src/azure-cli/azure/cli/command_modules/appservice/utils.py
Labels: Web Apps, App Services, Auto-Assign
