Repository Azure/azure-cli, pull requests merged in 2022-06, with the labels that each got.

#22670 {App Service} Fix typo github, Github to GitHub in the help message
  src/azure-cli/azure/cli/command_modules/appservice/_params.py
Labels: App Services, Auto-Assign

#22645 [Compute] `az sig image-version create`: Add new parameters `--virtual-machine` and `--image-version` to support creating image version from different source
  src/azure-cli/azure/cli/command_modules/vm/_help.py
  src/azure-cli/azure/cli/command_modules/vm/_params.py
  src/azure-cli/azure/cli/command_modules/vm/_validators.py
  src/azure-cli/azure/cli/command_modules/vm/_vm_utils.py
  src/azure-cli/azure/cli/command_modules/vm/commands.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_image_version_create_for_diff_source.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Auto-Assign

#22368 {API Management} Add Arg Type to Product Create Command
  src/azure-cli/azure/cli/command_modules/apim/_params.py
Labels: API Management, customer-reported, Auto-Assign

#22611 [Storage] Fix#22563: `az storage blob upload`: Fix storage blob upload to a through pipe encode error
  src/azure-cli/azure/cli/command_modules/storage/operations/blob.py
Labels: Storage, customer-reported, Auto-Assign

#22633 {storage} `az storage blob metadata/copy/service-properties`: Migrate to track2
  src/azure-cli/azure/cli/command_modules/storage/_help.py
  src/azure-cli/azure/cli/command_modules/storage/_params.py
  src/azure-cli/azure/cli/command_modules/storage/_transformers.py
  src/azure-cli/azure/cli/command_modules/storage/_validators.py
  src/azure-cli/azure/cli/command_modules/storage/commands.py
  src/azure-cli/azure/cli/command_modules/storage/operations/blob.py
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_blob_list_oauth.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_blob_list_scenarios.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_blob_metadata_operations.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_blob_update_service_properties.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/test_storage_blob_copy_scenarios.py
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/test_storage_blob_scenarios.py
  src/azure-cli/azure/cli/command_modules/storage/util.py
Labels: Storage, Auto-Assign

#22688 [Network] Enable Private link support for provider Microsoft.Authorization/resourceManagementPrivateLinks
  src/azure-cli/azure/cli/command_modules/network/private_link_resource_and_endpoint_connections/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_private_endpoint_connection_resourcemanagementprivatelink.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_private_endpoint_commands.py
Labels: Network, Auto-Assign

#22674 [Network] Fix #22097: `az network dns zone import` cannot import zone files starting with space
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_dns_zone1_import.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_dns_zone2_import.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_dns_zone3_import.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_dns_zone4_import.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_dns_zone5_import.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_dns_zone6_import.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_dns_zone7_import.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_dns_zone8_import.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_dns_zone9_import.yaml
  src/azure-cli/azure/cli/command_modules/network/zone_file/parse_zone_file.py
Labels: Network, Auto-Assign

#22696 {CI} update service team feature request template
  .github/ISSUE_TEMPLATE/Service_team_request.md
  .github/ISSUE_TEMPLATE/Service_team_request.yaml
Labels: CI, Auto-Assign

#22698 [Network] `az network public-ip create`: Reuse prefix info when creating Public IP
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_public_ip_prefix.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_public_ip_prefix_with_ip_address.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Labels: Network, Auto-Assign

#22649 {AKS} Graph module migration
  src/azure-cli/azure/cli/command_modules/acs/_client_factory.py
  src/azure-cli/azure/cli/command_modules/acs/_graph.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/managed_cluster_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/hybrid_2020_09_01/test_custom.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_custom.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_managed_cluster_decorator.py
Labels: Graph, AKS, Auto-Assign

#22612 {Graph} Remove the warning for Microsoft Graph migration
  src/azure-cli/azure/cli/command_modules/role/__init__.py
Labels: Graph, Auto-Assign

#22606 [Packaging] Use Python 3.9 in RHEL 8's RPM
  scripts/release/rpm/azure-cli.spec
  scripts/release/rpm/centos7.dockerfile
  scripts/release/rpm/mariner.dockerfile
  scripts/release/rpm/ubi8.dockerfile
Labels: Packaging, Auto-Assign

#22685 [ARM] `az bicep build`: Fix #22621: `--stdout` does not work
  src/azure-cli/azure/cli/command_modules/resource/custom.py
Labels: ARM, Auto-Assign

#22709 {Core} `aaz`: fix issue in load_aaz_command_table for azdev and CI
  src/azure-cli-core/azure/cli/core/aaz/_command.py
Labels: Core, CI, Auto-Assign

#22678 {Monitor} `monitor autoscale update`: Support `--count` equal `0`
  src/azure-cli/azure/cli/command_modules/monitor/operations/autoscale_settings.py
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_autoscale_basic.yaml
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/test_monitor_autoscale.py
Labels: Network, Portal, Auto-Assign

#22570 [Security] `az security atp cosmosdb`: Add CLI support for ATP settings (Defender) on Cosmos DB
  src/azure-cli/azure/cli/command_modules/security/_help.py
  src/azure-cli/azure/cli/command_modules/security/_params.py
  src/azure-cli/azure/cli/command_modules/security/commands.py
  src/azure-cli/azure/cli/command_modules/security/custom.py
  src/azure-cli/azure/cli/command_modules/security/tests/latest/recordings/test_security_cosmosdb_atp_settings.yaml
  src/azure-cli/azure/cli/command_modules/security/tests/latest/recordings/test_security_storage_atp_settings.yaml
  src/azure-cli/azure/cli/command_modules/security/tests/latest/test_atp_scenario.py
Labels: Cosmos, customer-reported, Auto-Assign

#22607 [Core] shorthand syntax: Simplify the escape character usage in Single Quotes String
  doc/shorthand_syntax.md
  src/azure-cli-core/azure/cli/core/aaz/_utils.py
  src/azure-cli-core/azure/cli/core/tests/test_aaz_arg.py
Labels: Core, Auto-Assign

#22695 {Keyvault} `az keyvault key set-attributes`: Make `--policy` required if `--immutable` provided
  src/azure-cli/azure/cli/command_modules/keyvault/_validators.py
Labels: KeyVault, Auto-Assign

#22648 {Cognitive Services} Fix #22545: `az cognitiveservices account identity remove`: Return LROPoller
  src/azure-cli/azure/cli/command_modules/cognitiveservices/custom.py
  src/azure-cli/azure/cli/command_modules/cognitiveservices/tests/latest/recordings/test_cognitiveservices_identity.yaml
Labels: Account, Cognitive Services, Auto-Assign

#22691 [Storage] Fix #22679: `az storage account file-service-properties update`: Fix `AttributeError: 'NoneType' object has no attribute 'smb'`
  src/azure-cli/azure/cli/command_modules/storage/operations/account.py
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_account_file_delete_retention_policy.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_account_file_secured_smb.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_account_file_smb_multichannel.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/test_storage_account_scenarios.py
Labels: Account, Storage, Portal, Auto-Assign

#22759 [Service Connector] `az webapp connection create`: Add `--private-endpoint` to support private endpoint connection
  src/azure-cli/azure/cli/command_modules/serviceconnector/_params.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/_resource_config.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/custom.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_webapp_storageblob_vnet_pe.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/test_webpp_connection_scenario.py
Labels: Web Apps, Auto-Assign

#22752 [Service Fabric] `az sf managed-cluster create`: Fix tag parsing for cluster command
  src/azure-cli/azure/cli/command_modules/servicefabric/_validators.py
  src/azure-cli/azure/cli/command_modules/servicefabric/tests/latest/recordings/test_basic_cluster.yaml
  src/azure-cli/azure/cli/command_modules/servicefabric/tests/latest/test_sf_managed_cluster.py
Labels: Service Fabric, Auto-Assign

#22585 {Storage} Migrate storage file share to track2
  src/azure-cli/azure/cli/command_modules/storage/_help.py
  src/azure-cli/azure/cli/command_modules/storage/_params.py
  src/azure-cli/azure/cli/command_modules/storage/_transformers.py
  src/azure-cli/azure/cli/command_modules/storage/commands.py
  src/azure-cli/azure/cli/command_modules/storage/operations/fileshare.py
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_file_copy_scenario.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_file_copy_snapshot_scenario.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_file_main_scenario.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_file_share_scenario.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_share_metadata_scenario.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_share_policy_scenario.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/test_storage_file_share_scenarios.py
Labels: Storage, customer-reported, Auto-Assign

#22783 {Graph} Remove unnecessary logic from `MSGraphClientPasswordReplacer`
  src/azure-cli-testsdk/azure/cli/testsdk/utilities.py
Labels: Graph, Synapse, Auto-Assign

#22805 [Backup] `az backup protection enable-for-vm`: Add a linux specific example
  src/azure-cli/azure/cli/command_modules/backup/_help.py
Labels: Backup, Auto-Assign

#22827 [Cognitive Services] Update SDK and fix an optional parameter
  src/azure-cli/azure/cli/command_modules/cognitiveservices/custom.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: Cognitive Services, Auto-Assign

#22800 [AKS] `az aks get-credentials`: Fix permission prompt when saving config file to symlink
  src/azure-cli/azure/cli/command_modules/acs/custom.py
Labels: AKS, Auto-Assign

#22836 {Compute} `az vm application`: Fix typo in vm help message
  src/azure-cli/azure/cli/command_modules/vm/_help.py
Labels: Compute, customer-reported, Auto-Assign

#22823 {Packaging} Bump msrest from 0.6.21 to 0.7.0
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
Labels: Packaging, Auto-Assign

#22692 {Storage} `az storage file delete/resize/url/generate-sas/show/update/exists`: Track2 SDK migration
  src/azure-cli/azure/cli/command_modules/storage/_client_factory.py
  src/azure-cli/azure/cli/command_modules/storage/_help.py
  src/azure-cli/azure/cli/command_modules/storage/_params.py
  src/azure-cli/azure/cli/command_modules/storage/_transformers.py
  src/azure-cli/azure/cli/command_modules/storage/_validators.py
  src/azure-cli/azure/cli/command_modules/storage/commands.py
  src/azure-cli/azure/cli/command_modules/storage/operations/file.py
  src/azure-cli/azure/cli/command_modules/storage/operations/fileshare.py
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_file_copy_scenario.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_file_copy_snapshot_scenario.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_file_main_scenario.yaml
Labels: Storage, Auto-Assign

#22813 [AKS] `az aks command invoke`: Add support for `--no-wait`
  src/azure-cli/azure/cli/command_modules/acs/custom.py
Labels: AKS, Auto-Assign

#22848 {Role} `az ad app permission add`: Refine error message for incorrect `--api-permissions`
  src/azure-cli/azure/cli/command_modules/role/custom.py
  src/azure-cli/azure/cli/command_modules/role/tests/latest/test_graph.py
Labels: Graph, RBAC, Auto-Assign

#22793 {Bicep} Update the URL for Bicep downloads link
  src/azure-cli/azure/cli/command_modules/resource/_bicep.py
Labels: Network, Network - CDN, Auto-Assign

#22739 [Graph] Support special characters in object names
  src/azure-cli-testsdk/azure/cli/testsdk/__init__.py
  src/azure-cli-testsdk/azure/cli/testsdk/utilities.py
  src/azure-cli/azure/cli/command_modules/role/_msgrpah/_graph_client.py
  src/azure-cli/azure/cli/command_modules/role/tests/latest/recordings/test_special_characters.yaml
  src/azure-cli/azure/cli/command_modules/role/tests/latest/test_graph.py
Labels: Graph, Auto-Assign

#22824 {Storage} `az storage file metadata/copy`: Track2 SDK Migration
  src/azure-cli/azure/cli/command_modules/storage/_format.py
  src/azure-cli/azure/cli/command_modules/storage/_help.py
  src/azure-cli/azure/cli/command_modules/storage/_params.py
  src/azure-cli/azure/cli/command_modules/storage/_params_azure_stack.py
  src/azure-cli/azure/cli/command_modules/storage/_validators.py
  src/azure-cli/azure/cli/command_modules/storage/commands.py
  src/azure-cli/azure/cli/command_modules/storage/operations/file.py
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_file_copy_scenario.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_file_copy_snapshot_scenario.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_file_main_scenario.yaml
  src/azure-cli/azure/cli/command_modules/storage/util.py
Labels: Storage, Auto-Assign

#22863 {AKS} Sort out parameter declarations
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/_validators.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
Labels: AKS, Auto-Assign

#22873 {CI} Fix the bug that live test does not generate the latest index.html
  scripts/live_test/generate_index.py
Labels: CI, Auto-Assign

#22803 {Storage} Migrate `az storage file upload/upload-batch` to track2 sdk
  src/azure-cli/azure/cli/command_modules/storage/_help.py
  src/azure-cli/azure/cli/command_modules/storage/_params.py
  src/azure-cli/azure/cli/command_modules/storage/_validators.py
  src/azure-cli/azure/cli/command_modules/storage/commands.py
  src/azure-cli/azure/cli/command_modules/storage/operations/file.py
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_file_copy_scenario.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_file_main_scenario.yaml
Labels: Storage, customer-reported, Auto-Assign

#22864 {Packaging} Bump Python version to 3.10.5
  Dockerfile
  build_scripts/windows/scripts/build.cmd
  scripts/release/debian/build.sh
Labels: Packaging, Auto-Assign

#22787 [NetAppFiles] Fix #22690 - Fix location retrieval from resource group
  src/azure-cli/azure/cli/command_modules/netappfiles/custom.py
  src/azure-cli/azure/cli/command_modules/netappfiles/tests/latest/recordings/test_create_account_with_no_location.yaml
  src/azure-cli/azure/cli/command_modules/netappfiles/tests/latest/recordings/test_create_pool_with_no_location.yaml
  src/azure-cli/azure/cli/command_modules/netappfiles/tests/latest/test_account_commands.py
  src/azure-cli/azure/cli/command_modules/netappfiles/tests/latest/test_pool_commands.py
Labels: NetAppFiles, Auto-Assign

#22727 [AD] `az ad app federated-credential`: Support federated identity credentials
  src/azure-cli/azure/cli/command_modules/role/_help.py
  src/azure-cli/azure/cli/command_modules/role/_msgrpah/_graph_client.py
  src/azure-cli/azure/cli/command_modules/role/_msgrpah/_graph_objects.py
  src/azure-cli/azure/cli/command_modules/role/_params.py
  src/azure-cli/azure/cli/command_modules/role/commands.py
  src/azure-cli/azure/cli/command_modules/role/custom.py
  src/azure-cli/azure/cli/command_modules/role/tests/latest/recordings/test_app_federated_credential.yaml
  src/azure-cli/azure/cli/command_modules/role/tests/latest/test_graph.py
Labels: Graph, Auto-Assign

#22880 {CI} Remove duplicate automation tests
  azure-pipelines.yml
Labels: CI, Auto-Assign

#22918 [Backup] `az backup protectable-item list`: SQLAG container fetch failure bug fix
  src/azure-cli/azure/cli/command_modules/backup/_help.py
  src/azure-cli/azure/cli/command_modules/backup/custom_wl.py
Labels: Backup, Auto-Assign

#22943 {Network} Azure Bastion integrating azure cli with RG gateway
  src/azure-cli/azure/cli/command_modules/network/_params.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
Labels: Network, Auto-Assign

#22944 {ACR} Add timestamp in error messages and debug logs when sending HTTP requests
  src/azure-cli/azure/cli/command_modules/acr/_docker_utils.py
  src/azure-cli/azure/cli/command_modules/acr/_errors.py
  src/azure-cli/azure/cli/command_modules/acr/_format.py
  src/azure-cli/azure/cli/command_modules/acr/check_health.py
Labels: Container Registry, Auto-Assign

#22904 {Compute} `az snapshot create`: incremental snapshot should use CreateOption Copy instead of CopyStart
  src/azure-cli/azure/cli/command_modules/vm/_validators.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_snapshot_incremental.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Auto-Assign

#22756 [Compute] `az disk create`: `--gallery-image-reference` adds support for creating disk from shared gallery image version or community gallery image version
  src/azure-cli/azure/cli/command_modules/vm/_help.py
  src/azure-cli/azure/cli/command_modules/vm/_image_builder.py
  src/azure-cli/azure/cli/command_modules/vm/_params.py
  src/azure-cli/azure/cli/command_modules/vm/_validators.py
  src/azure-cli/azure/cli/command_modules/vm/_vm_utils.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_create_disk_from_diff_gallery_image_version.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Auto-Assign

#22819 [App Service] Fix #22722: `az webapp config ssl import` fixes to support new GraphAPI for SP queries
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_ssl_import.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_ssl_import_crossrg.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_webapp_commands.py
Labels: Web Apps, App Services, Auto-Assign

#22950 {Core} `aaz`: Fill and verify the required property in request content.
  src/azure-cli-core/azure/cli/core/aaz/_arg.py
  src/azure-cli-core/azure/cli/core/aaz/_operation.py
  src/azure-cli-core/azure/cli/core/tests/test_aaz_operation.py
Labels: Core, Auto-Assign

#22963 {Core} `aaz`: fix a bug on serialize content when using serialized_name of required property
  src/azure-cli-core/azure/cli/core/aaz/_operation.py
  src/azure-cli-core/azure/cli/core/tests/test_aaz_operation.py
Labels: Core, Auto-Assign

#22964 {Compute} Add scenario tests using `Debian` image
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_custom_image_debian.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_data_unmanaged_disk_debian.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_extension_debian.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_generalize_debian.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_extension_debian.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_vms_debian.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Auto-Assign

#22970 {Core} `aaz`: fix nullable argument behaviors.
  src/azure-cli-core/azure/cli/core/aaz/_arg_browser.py
  src/azure-cli-core/azure/cli/core/aaz/_base.py
  src/azure-cli-core/azure/cli/core/aaz/_content_builder.py
  src/azure-cli-core/azure/cli/core/aaz/_field_value.py
  src/azure-cli-core/azure/cli/core/aaz/_operation.py
  src/azure-cli-core/azure/cli/core/tests/test_aaz_content_builder.py
Labels: Core, Auto-Assign

#22980 {Core} `aaz`: Correct the word `summary`
  src/azure-cli-core/azure/cli/core/aaz/_arg.py
  src/azure-cli-core/azure/cli/core/aaz/_help.py
Labels: Core, Auto-Assign

#22898 [Compute] `az disk create`: `--source` add support for creating a disk from disk restore point
  src/azure-cli/azure/cli/command_modules/vm/_params.py
  src/azure-cli/azure/cli/command_modules/vm/_validators.py
  src/azure-cli/azure/cli/command_modules/vm/commands.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2018_03_01/test_vm_actions.py
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2019_03_01/test_vm_actions.py
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2020_09_01/test_vm_actions.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_disk_from_restore_point.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_actions.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, customer-reported, Auto-Assign

#22987 {Core} `aaz`: optimize argument help messages for shorthand syntax.
  src/azure-cli-core/azure/cli/core/aaz/_arg.py
  src/azure-cli-core/azure/cli/core/aaz/_help.py
Labels: Core, Auto-Assign

#23000 [AKS] `az aks get-credentials`: Fix the command error when KUBECONFIG is empty
  src/azure-cli/azure/cli/command_modules/acs/custom.py
Labels: AKS, Auto-Assign

#23012 {core} `aaz`: fix get_discriminator of AAZObjectType
  src/azure-cli-core/azure/cli/core/aaz/_field_type.py
Labels: Core, Auto-Assign

#22883 {Network} Desensitize tests for private link `Microsoft.Cache/Redis`
  scripts/ci/credscan/CredScanSuppressions.json
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_private_endpoint_connection_acfr.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_private_link_resource_acfr.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_private_endpoint_commands.py
Labels: Network, Redis Cache, Auto-Assign

#22982 {sql} Update sample for action parameter
  src/azure-cli/azure/cli/command_modules/sql/_params.py
Labels: SQL, Auto-Assign

#22703 {AMS} Migrate AMS module to new Microsoft graph
  src/azure-cli/azure/cli/command_modules/ams/_client_factory.py
  src/azure-cli/azure/cli/command_modules/ams/_params.py
  src/azure-cli/azure/cli/command_modules/ams/operations/sp.py
  src/azure-cli/azure/cli/command_modules/ams/tests/latest/recordings/test_ams_sp_create_reset.yaml
  src/azure-cli/azure/cli/command_modules/ams/tests/latest/test_ams_sp_scenarios.py
Labels: Graph, Auto-Assign

#23035 {SQL VM} Update Python SDK to 1.0.0b3
  src/azure-cli/azure/cli/command_modules/sqlvm/_params.py
  src/azure-cli/azure/cli/command_modules/sqlvm/custom.py
  src/azure-cli/azure/cli/command_modules/sqlvm/tests/latest/test_sqlvm_commands.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: Compute, SQL, SQL - VM, Auto-Assign

#22999 [RDBMS] Fix #22926: `az mysql server create/update`: Update default value for mysql storage size
  src/azure-cli/azure/cli/command_modules/rdbms/_params.py
Labels: Storage, Auto-Assign

#22632 {Docs} Fix query syntax for `az provider list` command
  src/azure-cli/azure/cli/command_modules/resource/_help.py
Labels: customer-reported

#22962 [Network] BREAKING CHANGE: `az network vnet subnet create`: Disable `PrivateEndpointNetworkPolicies` by default
  src/azure-cli/azure/cli/command_modules/network/_params.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_vnet.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_subnet_with_private_endpoint_and_private_Link_options.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Labels: Network, Auto-Assign

#22592 [App Service] Fix #22117: `az webapp up`: Fix `--runtime` ignored when `--os-type` is not specified
  src/azure-cli/azure/cli/command_modules/appservice/_create_util.py
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_linux_to_windows_fail.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_up_name_exists_in_subscription.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_webapp_commands.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_webapp_up_commands.py
Labels: Web Apps, App Services, Auto-Assign

#22818 [App Service] `az staticwebapp enterprise-edge`: Move command group from extension to official CLI
  src/azure-cli/azure/cli/command_modules/appservice/_help.py
  src/azure-cli/azure/cli/command_modules/appservice/_params.py
  src/azure-cli/azure/cli/command_modules/appservice/commands.py
  src/azure-cli/azure/cli/command_modules/appservice/static_sites.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_staticapp_commands_thru_mock.py
Labels: App Services, Auto-Assign

#22958 [IoT] `az iot hub/dps certificate list`: Add table transform to certificate list commands
  src/azure-cli/azure/cli/command_modules/iot/commands.py
Labels: IoT, IoT/CLI, Auto-Assign

#22960 {AKS} Monitoring addon MSI auth - update API version for DCR and stream group
  src/azure-cli/azure/cli/command_modules/acs/addonconfiguration.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
Labels: AKS, Auto-Assign

#23049 {AKS} Fix #23044: `az aks update`: Fix example using `--aks-custom-headers` parameter
  src/azure-cli/azure/cli/command_modules/acs/_help.py
Labels: AKS, Auto-Assign

#22951 [ARM] Fix #22930: `az bicep generate-params`: Add support for bicep generate-params command
  src/azure-cli/azure/cli/command_modules/resource/_help.py
  src/azure-cli/azure/cli/command_modules/resource/_params.py
  src/azure-cli/azure/cli/command_modules/resource/commands.py
  src/azure-cli/azure/cli/command_modules/resource/custom.py
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/sample_params.bicep
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/test_resource.py
Labels: ARM, Auto-Assign

#22745 [App Service] Fix #20901: `az functionapp update`: Update `--slot` logic to work correctly
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_update_slot.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_functionapp_commands.py
Labels: App Services, Auto-Assign

#23055 [AKS] `aks nodepool stop/start`: Add nodepool stop/start bindings
  src/azure-cli/azure/cli/command_modules/acs/_help.py
  src/azure-cli/azure/cli/command_modules/acs/commands.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_nodepool_stop_and_start.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
Labels: AKS, Auto-Assign

#23037 {servicebus} Fix error message raised on a malformed ISO-8601 duration
  src/azure-cli/azure/cli/command_modules/servicebus/custom.py
Labels: Service Bus, Auto-Assign

#22912 {Doc} Fix `az storage` typo
  src/azure-cli/HISTORY.rst
Labels: Storage, Auto-Assign

#22874 [Synapse] `az synapse sql create`: Add parameter "collation"
  src/azure-cli/azure/cli/command_modules/synapse/manual/_help.py
  src/azure-cli/azure/cli/command_modules/synapse/manual/_params.py
  src/azure-cli/azure/cli/command_modules/synapse/manual/operations/sqlpool.py
  src/azure-cli/azure/cli/command_modules/synapse/tests/latest/recordings/test_sql_pool.yaml
  src/azure-cli/azure/cli/command_modules/synapse/tests/latest/test_synapse_scenario.py
Labels: SQL, Synapse, Auto-Assign

#23059 [Keyvault] Fix #16390: `az keyvault set-policy`: Allow clear permissions
  src/azure-cli/azure/cli/command_modules/keyvault/_validators.py
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/test_keyvault_commands.py
Labels: KeyVault, Auto-Assign

#22847 [ARM] `az deployment`: Fix the error message of ARM deployment to the correct JSON format
  src/azure-cli/azure/cli/command_modules/resource/_utils.py
Labels: ARM, Auto-Assign

#22780 [Compute] `az disk create` &`az disk-encryption-set create`: Support secure vm CMK
  linter_exclusions.yml
  src/azure-cli/azure/cli/command_modules/vm/_params.py
  src/azure-cli/azure/cli/command_modules/vm/_validators.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/keyvault/policy2.json
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_confidential_disk_encryption_set.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Auto-Assign

#23045 [EventHub] `az eventhubs namespace application-group`: New command group to support application group management
  src/azure-cli-core/azure/cli/core/profiles/_shared.py
  src/azure-cli/azure/cli/command_modules/eventhubs/_client_factory.py
  src/azure-cli/azure/cli/command_modules/eventhubs/_help.py
  src/azure-cli/azure/cli/command_modules/eventhubs/_params.py
  src/azure-cli/azure/cli/command_modules/eventhubs/action.py
  src/azure-cli/azure/cli/command_modules/eventhubs/commands.py
  src/azure-cli/azure/cli/command_modules/eventhubs/constants.py
  src/azure-cli/azure/cli/command_modules/eventhubs/custom.py
  src/azure-cli/azure/cli/command_modules/eventhubs/tests/latest/recordings/test_eh_alias.yaml
  src/azure-cli/azure/cli/command_modules/eventhubs/tests/latest/recordings/test_eh_cluster.yaml
  src/azure-cli/azure/cli/command_modules/eventhubs/tests/latest/recordings/test_eh_consumergroup.yaml
  src/azure-cli/azure/cli/command_modules/eventhubs/tests/latest/recordings/test_eh_create_update.yaml
  src/azure-cli/azure/cli/command_modules/eventhubs/tests/latest/recordings/test_eh_eventhub.yaml
  src/azure-cli/azure/cli/command_modules/eventhubs/tests/latest/recordings/test_eh_namespace.yaml
  src/azure-cli/azure/cli/command_modules/eventhubs/tests/latest/recordings/test_eh_namespace_byok.yaml
  src/azure-cli/azure/cli/command_modules/eventhubs/tests/latest/recordings/test_eh_namespace_encryption.yaml
  src/azure-cli/azure/cli/command_modules/eventhubs/tests/latest/recordings/test_eh_namespace_msi.yaml
  src/azure-cli/azure/cli/command_modules/eventhubs/tests/latest/recordings/test_eh_namespace_premium.yaml
  src/azure-cli/azure/cli/command_modules/eventhubs/tests/latest/recordings/test_eh_network.yaml
  src/azure-cli/azure/cli/command_modules/eventhubs/tests/latest/recordings/test_eh_privateendpoint.yaml
  src/azure-cli/azure/cli/command_modules/eventhubs/tests/latest/recordings/test_eventhub_app_group.yaml
  src/azure-cli/azure/cli/command_modules/eventhubs/tests/latest/recordings/test_eventhub_schema_registry.yaml
  src/azure-cli/azure/cli/command_modules/eventhubs/tests/latest/test_cluster_commands.py
  src/azure-cli/azure/cli/command_modules/eventhubs/tests/latest/test_eventhub_commands_network_test.py
  src/azure-cli/azure/cli/command_modules/eventhubs/tests/latest/test_eventhub_namespace_application_group.py
  src/azure-cli/azure/cli/command_modules/iot/tests/hybrid_2019_03_01/recordings/test_iot_hub.yaml
  src/azure-cli/azure/cli/command_modules/iot/tests/latest/recordings/test_identity_hub.yaml
  src/azure-cli/azure/cli/command_modules/iot/tests/latest/recordings/test_iot_hub.yaml
  src/azure-cli/azure/cli/command_modules/iot/tests/latest/test_iot_commands.py
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_log_analytics_workspace_data_export.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_private_endpoint_connection_eventhub.yaml
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/recordings/test_sql_db_security_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/recordings/test_sql_server_ms_support_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/recordings/test_sql_server_security_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/synapse/tests/latest/recordings/test_kusto_data_connection_event_grid.yaml
  src/azure-cli/azure/cli/command_modules/synapse/tests/latest/recordings/test_kusto_data_connection_event_hub.yaml
  src/azure-cli/azure/cli/command_modules/synapse/tests/latest/recordings/test_sql_pool_audit_policy_logentry_eventhub.yaml
  src/azure-cli/azure/cli/command_modules/synapse/tests/latest/recordings/test_sql_ws_audit_policy_logentry_eventhub.yaml
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: Auto-Assign

#22854 [Storage] Fix #22845: `az storage account genarete-sas`: Fix the flag `--auth-mode login` cause AttributeError
  src/azure-cli/azure/cli/command_modules/storage/commands.py
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_create_account_sas.yaml
Labels: Account, Storage, customer-reported, Auto-Assign

#22790 [sql] `az sql midb update`: Add update command
  src/azure-cli/azure/cli/command_modules/sql/_help.py
  src/azure-cli/azure/cli/command_modules/sql/_params.py
  src/azure-cli/azure/cli/command_modules/sql/commands.py
  src/azure-cli/azure/cli/command_modules/sql/custom.py
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/recordings/test_sql_managed_db_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/test_sql_commands.py
Labels: SQL, Auto-Assign

#22966 [Compute] `az disk-encryption-set`: Add parameter `--federated-client-id` to access key vault in a different tenant and new subgroup to support managed identities
  src/azure-cli/azure/cli/command_modules/vm/_help.py
  src/azure-cli/azure/cli/command_modules/vm/_params.py
  src/azure-cli/azure/cli/command_modules/vm/commands.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_disk_encryption_set_identity.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Auto-Assign

#22802 [ACR] Fix Azure/acr#613: `az acr task run`: Add dockerfile to source upload if context is local directory
  src/azure-cli/azure/cli/command_modules/acr/_constants.py
  src/azure-cli/azure/cli/command_modules/acr/_utils.py
  src/azure-cli/azure/cli/command_modules/acr/_validators.py
  src/azure-cli/azure/cli/command_modules/acr/task.py
Labels: Container Registry, customer-reported, Auto-Assign

#22716 [APIM] `az apim deletedservice`: Add command group to support managing soft-deleted azure API Management services
  src/azure-cli/azure/cli/command_modules/apim/_client_factory.py
  src/azure-cli/azure/cli/command_modules/apim/_help.py
  src/azure-cli/azure/cli/command_modules/apim/_params.py
  src/azure-cli/azure/cli/command_modules/apim/commands.py
  src/azure-cli/azure/cli/command_modules/apim/custom.py
  src/azure-cli/azure/cli/command_modules/apim/tests/latest/recordings/test_apim_deletedservice.yaml
  src/azure-cli/azure/cli/command_modules/apim/tests/latest/test_apim_scenario.py
Labels: API Management, Auto-Assign

#22979 [Compute] `sig list-community`: Add new command to support listing community gallery and GA SIG related feature
  src/azure-cli/azure/cli/command_modules/vm/_arg_client.py
  src/azure-cli/azure/cli/command_modules/vm/_help.py
  src/azure-cli/azure/cli/command_modules/vm/_params.py
  src/azure-cli/azure/cli/command_modules/vm/commands.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_community_gallery_operations.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Auto-Assign

#23005 [Rest] `az rest`: Support Unicode characters in JSON request body
  src/azure-cli-core/azure/cli/core/util.py
  src/azure-cli/azure/cli/command_modules/util/tests/latest/recordings/test_rest_unicode.yaml
  src/azure-cli/azure/cli/command_modules/util/tests/latest/test_rest.py
Labels: Graph, Auto-Assign

#22650 [Compute] `az vm/vmss create`: Support OS disk encryption for Confidential VM
  src/azure-cli/azure/cli/command_modules/vm/_params.py
  src/azure-cli/azure/cli/command_modules/vm/_template_builder.py
  src/azure-cli/azure/cli/command_modules/vm/_validators.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/linter_exclusions.yml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_os_disk_security_encryption.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_os_disk_security_encryption_vmss.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Auto-Assign
