Repository Azure/azure-cli, pull requests merged in 2022-03, with the labels that each got.

#20923 [Compute] `az vm host`: Add new command `restart` to support dedicated host reboot
  src/azure-cli/azure/cli/command_modules/vm/commands.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_host_management.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Auto-Assign

#21472 [AKS] `az aks create/update`: Add new parameters `--enable-gmsa`, `--gmsa-dns-server`, `--gmsa-root-domain-name` to support Windows gMSA v2
  src/azure-cli/azure/cli/command_modules/acs/_help.py
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_with_windows_gmsa.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_update_with_windows_gmsa.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_decorator.py
Labels: AKS, Auto-Assign

#21483 [Network] `az network nat gateway`: Validate attaching public IPs
  src/azure-cli/azure/cli/command_modules/natgateway/custom.py
  src/azure-cli/azure/cli/command_modules/natgateway/tests/latest/recordings/test_natgateway.yaml
  src/azure-cli/azure/cli/command_modules/natgateway/tests/latest/recordings/test_natgateway_empty_create.yaml
  src/azure-cli/azure/cli/command_modules/natgateway/tests/latest/test_natgateway_commands.py
Labels: Network, Auto-Assign

#21482 [Network] `az network lb`: Support inbound NAT rule port mapping query
  src/azure-cli/azure/cli/command_modules/network/_actions.py
  src/azure-cli/azure/cli/command_modules/network/_help.py
  src/azure-cli/azure/cli/command_modules/network/_params.py
  src/azure-cli/azure/cli/command_modules/network/commands.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_lb_port_mapping.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Labels: Network - Load Balancer

#21493 {CI} add some new rules to check pull request title and history note.
  scripts/ci/check_pull_request.py
Labels: CI, Auto-Assign

#21440 {CI} Fix generate history notes error: Compute component get an extra space character
  src/azure-cli/HISTORY.rst
Labels: CI, Auto-Assign

#21508 {AKS} Refactor `aks nodepool add` - part 1
  src/azure-cli/azure/cli/command_modules/acs/agentpool_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_agentpool_decorator.py
Labels: AKS, Auto-Assign

#21502 {Packaging} Update websocket-client for python3 compatibility
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: Packaging, Auto-Assign

#21459 {Compute} Fix the bug of loading some models of enumeration in help description
  src/azure-cli/azure/cli/command_modules/vm/_params.py
Labels: Compute, Auto-Assign

#21546 {CI} Fix pull request template
  .github/pull_request_template.md
Labels: CI, Auto-Assign

#21544 {Storage} Fix storage test to clear resource
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_legal_hold_with_allow_protected_append_writes_all.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/test_storage_container_legal_hold.py
Labels: Storage, ARM, Auto-Assign

#21530 {Core} Bump MSAL to 1.17.0
  src/azure-cli-core/setup.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
Labels: Core, Auto-Assign

#20847 {Core} Introduce `BinaryCache` for MSAL HTTP cache
  src/azure-cli-core/azure/cli/core/auth/binary_cache.py
  src/azure-cli-core/azure/cli/core/auth/identity.py
Labels: MSAL

#21510 {CosmosDB} Improve help for failover-priority-change command
  src/azure-cli/azure/cli/command_modules/cosmosdb/_params.py
Labels: Cosmos, customer-reported, Auto-Assign

#21509 {CosmosDB} Correct failover-priority-change example
  src/azure-cli/azure/cli/command_modules/cosmosdb/_help.py
Labels: Cosmos, customer-reported, Auto-Assign

#21410 [CosmosDB] `az cosmosdb update`: Support updating key vault key uri
  src/azure-cli/azure/cli/command_modules/cosmosdb/_params.py
  src/azure-cli/azure/cli/command_modules/cosmosdb/custom.py
Labels: customer-reported

#21557 {Packaging} Unify `applicationinsights` versions and remove `wrapt`
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
Labels: Packaging, Auto-Assign

#21558 {Core} Fix broken anchor in URI referring to quoting issues
  src/azure-cli-core/azure/cli/core/util.py
Labels: Core, customer-reported, Auto-Assign

#21561 {AKS} Fix several test cases
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_with_ingress_appgw_addon.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_nodepool_update_taints_msi.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_decorator.py
Labels: AKS, Auto-Assign

#21442 [App Service] Fix #21439: `az webapp deploy`: Fix `--async` argument value in help message
  src/azure-cli/azure/cli/command_modules/appservice/_help.py
Labels: App Services, Auto-Assign

#21518 [App Config] `az appconfig kv export`: Stop throwing error if no key-values are exported to App Service
  src/azure-cli/azure/cli/command_modules/appconfig/_kv_helpers.py
Labels: App Configuration, Auto-Assign

#21446 [Network] Description of network bastion tunnel command
  src/azure-cli/azure/cli/command_modules/network/_help.py
Labels: Network, customer-reported, Auto-Assign

#21543 {AKS} Refactor aks nodepool add - part 2
  src/azure-cli/azure/cli/command_modules/acs/agentpool_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_agentpool_decorator.py
Labels: AKS, Auto-Assign

#21523 [Storage] Fix #21494: `az storage blob upload/upload-batch`: Fix `--content-md5` for upload, ignore `--content-md5` for upload-batch
  src/azure-cli/azure/cli/command_modules/storage/__init__.py
  src/azure-cli/azure/cli/command_modules/storage/_params.py
  src/azure-cli/azure/cli/command_modules/storage/_validators.py
  src/azure-cli/azure/cli/command_modules/storage/commands.py
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_blob_upload_content_md5_scenarios.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/test_storage_batch_operations.py
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/test_storage_blob_scenarios.py
  src/azure-cli/azure/cli/command_modules/storage/track2_util.py
Labels: Storage, Auto-Assign

#21592 {AKS} Clean up unused code
  src/azure-cli/azure/cli/command_modules/acs/_client_factory.py
  src/azure-cli/azure/cli/command_modules/acs/_helpers.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/hybrid_2020_09_01/test_helpers.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_helpers.py
Labels: AKS, Auto-Assign

#21525 {Graph} Refine code and add more tests
  src/azure-cli/azure/cli/command_modules/role/_graph_objects.py
  src/azure-cli/azure/cli/command_modules/role/_help.py
  src/azure-cli/azure/cli/command_modules/role/_params.py
  src/azure-cli/azure/cli/command_modules/role/custom.py
  src/azure-cli/azure/cli/command_modules/role/tests/latest/test_graph.py
Labels: Graph, Auto-Assign

#21547 [Compute] `az vm extension show`: Add new parameters `--instance-view` to support track the vm extension progress
  src/azure-cli/azure/cli/command_modules/vm/_params.py
  src/azure-cli/azure/cli/command_modules/vm/commands.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_extension.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Auto-Assign

#21626 [Role] BREAKING CHANGE: `az ad sp create-for-rbac`: Change `validity_months` to `years * 12`
  src/azure-cli/azure/cli/command_modules/role/custom.py
Labels: RBAC, Auto-Assign

#21625 {CosmosDB} Fix for value range of max-interval and max-staleness-pref…
  src/azure-cli/azure/cli/command_modules/cosmosdb/_params.py
Labels: Cosmos, Auto-Assign

#21631 [Storage] `az storage table/entity`: Add `--auth-mode login` to support RBAC
  src/azure-cli-core/azure/cli/core/profiles/_shared.py
  src/azure-cli/azure/cli/command_modules/storage/__init__.py
  src/azure-cli/azure/cli/command_modules/storage/_client_factory.py
  src/azure-cli/azure/cli/command_modules/storage/_help.py
  src/azure-cli/azure/cli/command_modules/storage/_params.py
  src/azure-cli/azure/cli/command_modules/storage/_transformers.py
  src/azure-cli/azure/cli/command_modules/storage/_validators.py
  src/azure-cli/azure/cli/command_modules/storage/commands.py
  src/azure-cli/azure/cli/command_modules/storage/operations/access_policy.py
  src/azure-cli/azure/cli/command_modules/storage/operations/table.py
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_table_main_scenario.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/test_storage_table_scenarios.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: Storage, Auto-Assign

#21598 {AKS} Refactor aks nodepool add - part 3
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/agentpool_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_agentpool_decorator.py
Labels: AKS, Auto-Assign

#21622 {Compute} Fix vm livetest
  src/azure-cli/azure/cli/command_modules/vm/_template_builder.py
  src/azure-cli/azure/cli/command_modules/vm/_vm_utils.py
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2018_03_01/recordings/test_custom_image.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2018_03_01/recordings/test_set_os_disk_size.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2018_03_01/recordings/test_vm_create_by_attach_os_and_data_disks.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2018_03_01/recordings/test_vm_create_ubuntu.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2018_03_01/recordings/test_vmss_create_options.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2018_03_01/recordings/test_vmss_vms.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2018_03_01/test_vm_commands.py
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2019_03_01/recordings/test_vm_create_by_attach_os_and_data_disks.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2019_03_01/recordings/test_vm_create_ubuntu.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2019_03_01/recordings/test_vm_custom_image.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2019_03_01/recordings/test_vm_generic_update.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2019_03_01/recordings/test_vm_set_os_disk_size.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2019_03_01/recordings/test_vmss_create_options.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2019_03_01/recordings/test_vmss_vms.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2019_03_01/test_vm_commands.py
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2020_09_01/recordings/test_vm_create_by_attach_os_and_data_disks.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2020_09_01/recordings/test_vm_create_ubuntu.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2020_09_01/recordings/test_vm_custom_image.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2020_09_01/recordings/test_vm_generic_update.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2020_09_01/recordings/test_vmss_create_options.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2020_09_01/recordings/test_vmss_vms.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2020_09_01/test_vm_commands.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_specialized_image.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_vms.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_actions.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Auto-Assign

#21603 [Storage] `az storage blob upload/upload-batch`: Fix upload batch where it exits on the first upload failure
  src/azure-cli/azure/cli/command_modules/storage/operations/blob.py
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_blob_upload_precondition_scenarios.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/test_storage_batch_operations.py
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/test_storage_blob_scenarios.py
Labels: Storage, Auto-Assign

#21527 [Keyvault] `az keyvault key create`: Support `--default-cvm-policy`
  src/azure-cli/azure/cli/command_modules/keyvault/_params.py
  src/azure-cli/azure/cli/command_modules/keyvault/_validators.py
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_hsm_key_release_policy.yaml
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/release_policy.json
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/test_keyvault_commands.py
Labels: KeyVault, Auto-Assign

#21636 [App Service] Fix #21574: `az webapp vnet-integration add`: Fix the AttributeError that 'NoneType' object has no attribute 'server_farm_id'
  src/azure-cli/azure/cli/command_modules/appservice/_params.py
  src/azure-cli/azure/cli/command_modules/appservice/commands.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_vnetDelegation.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_vnetE2E.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_vnetRouteAll.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_vnetSameName.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_vnetSubnetId.yaml
Labels: Web Apps, App Services, Auto-Assign

#21663 {Graph} Refine code and tests for ms graph group
  src/azure-cli/azure/cli/command_modules/role/_graph_objects.py
  src/azure-cli/azure/cli/command_modules/role/custom.py
  src/azure-cli/azure/cli/command_modules/role/tests/latest/test_graph.py
Labels: Graph, RBAC, Auto-Assign

#21660 {Packaging} Use proper PEP 508 environment marker for dependencies
  src/azure-cli-core/setup.py
  src/azure-cli/setup.py
Labels: Packaging, Installation, Auto-Assign

#21655 {Packaging} Use Red Hat Universal Base Image 8 to build `el8` RPM package
  azure-pipelines.yml
  scripts/release/rpm/Dockerfile.ubi8
  scripts/release/rpm/pipeline.sh
Labels: Packaging, Auto-Assign

#21676 {CI} Ignore title check result if edit history notes
  scripts/ci/check_pull_request.py
Labels: CI, Auto-Assign

#21682 [Storage] Fix #21591: `az storage blob upload`: Fix storage blob upload not auto guessing file type
  src/azure-cli/azure/cli/command_modules/storage/operations/blob.py
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_blob_upload_guess_type_scenarios.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_blob_upload_tiers_scenarios.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/test_storage_blob_scenarios.py
Labels: Storage, Auto-Assign

#21677 {Graph} Refine code and tests for Microsoft Graph User
  src/azure-cli/azure/cli/command_modules/role/_graph_objects.py
  src/azure-cli/azure/cli/command_modules/role/_help.py
  src/azure-cli/azure/cli/command_modules/role/commands.py
  src/azure-cli/azure/cli/command_modules/role/custom.py
  src/azure-cli/azure/cli/command_modules/role/tests/latest/test_graph.py
Labels: Graph, Auto-Assign

#21556 [App Service] `az webapp up`: Fix #20230
  src/azure-cli/azure/cli/command_modules/appservice/_create_util.py
  src/azure-cli/azure/cli/command_modules/appservice/_params.py
  src/azure-cli/azure/cli/command_modules/appservice/_validators.py
  src/azure-cli/azure/cli/command_modules/appservice/commands.py
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/node_app.zip
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_webapp_up_commands.py
  src/azure-cli/azure/cli/command_modules/appservice/utils.py
Labels: Web Apps, App Services, Auto-Assign

#21708 {APIM} Fixes help message description
  src/azure-cli/azure/cli/command_modules/apim/custom.py
Labels: API Management, Auto-Assign

#21698 [App Service] Fix #20240: `az functionapp deployment source config-zip`: Fix the bug that the parameter `--slot` doesn't work
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_functionapp_commands_thru_mock.py
Labels: App Services, customer-reported, Auto-Assign

#21709 {CI} Record batch CI livetest
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_archive.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_container.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_disk_exclusion.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_item.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_job.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_policy.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_protection.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_restore.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_rp.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_scenario.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_softdelete.yaml
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_dynamic_metric_alert_basic.yaml
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_dynamic_metric_alert_multiple_scopes.yaml
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_metric_alert_condition_create.yaml
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_metric_alert_for_rg_and_sub.yaml
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_metric_alert_multiple_scopes.yaml
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_metric_alert_single_scope.yaml
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_autoscale_basic.yaml
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_autoscale_fixed.yaml
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_autoscale_recurring.yaml
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_autoscale_rule_with_dimensions.yaml
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_autoscale_rules.yaml
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_clone_vm_metric_alerts_scenario.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/hybrid_2018_03_01/recordings/test_network_nic_convenience_commands.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_batsion_host_create.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_nic_convenience_commands.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_watcher_packet_capture.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_watcher_vm.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_nw_connection_monitor_output.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_nw_connection_monitor_v1.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_nw_connection_monitor_v2_creation.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_nw_connection_monitor_v2_endpoint.yaml
  src/azure-cli/azure/cli/command_modules/resource/tests/hybrid_2018_03_01/recordings/test_invoke_action.yaml
  src/azure-cli/azure/cli/command_modules/resource/tests/hybrid_2019_03_01/recordings/test_invoke_action.yaml
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/recordings/test_invoke_action.yaml
Labels: Batch, CI, Auto-Assign

#21680 {Packaging} Rename `Dockerfile.*` to `*.dockerfile`
  scripts/release/rpm/README.md
  scripts/release/rpm/centos7.dockerfile
  scripts/release/rpm/fedora.dockerfile
  scripts/release/rpm/mariner.dockerfile
  scripts/release/rpm/pipeline.sh
  scripts/release/rpm/pipeline_mariner.sh
  scripts/release/rpm/ubi8.dockerfile
Labels: Packaging, Auto-Assign

#21630 [Keyvault] Fix#21330: `az keyvault network-rule remove`: Fix ip address remove issue
  src/azure-cli/azure/cli/command_modules/keyvault/custom.py
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_network_rule.yaml
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/test_keyvault_commands.py
Labels: Network, KeyVault, customer-reported, Auto-Assign

#21240 [Storage] Fix `az storage entity merge`: Stop automatically casting DisplayVersion to float
  src/azure-cli/azure/cli/command_modules/storage/_validators.py
Labels: Storage, Auto-Assign

#21713 {AKS} Fix custom header extraction issue
  src/azure-cli/azure/cli/command_modules/acs/_validators.py
  src/azure-cli/azure/cli/command_modules/acs/agentpool_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_validators.py
Labels: AKS, Auto-Assign

#21736 [Backup] `az backup vault backup-properties`: Add new parameter `--hybrid-backup-security-features` to support setting the security features for hybrid backups
  linter_exclusions.yml
  src/azure-cli/azure/cli/command_modules/backup/_params.py
  src/azure-cli/azure/cli/command_modules/backup/custom.py
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_vault.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/test_backup_commands.py
Labels: Backup, Auto-Assign

#21743 {Compute} Clarify that encrypt-format-all is only applicable to Linux VMs
  src/azure-cli/azure/cli/command_modules/vm/_params.py
Labels: Compute, customer-reported, Auto-Assign

#21762 {netappfiles} Use `==` for literal comparison
  src/azure-cli/azure/cli/command_modules/netappfiles/tests/latest/test_pool_commands.py
Labels: NetAppFiles, Auto-Assign

#21739 {AKS} Refactor aks nodepool add - part 4
  src/azure-cli/azure/cli/command_modules/acs/_helpers.py
  src/azure-cli/azure/cli/command_modules/acs/agentpool_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/base_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_agentpool_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_base_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_helpers.py
Labels: AKS, Auto-Assign

#21730 {Compute} `az vm extension set`: Add warning for AHBForRHEL/AHBForSLES Azure VM Extension installation process
  src/azure-cli/azure/cli/command_modules/vm/custom.py
Labels: Compute, Auto-Assign

#21740 {AKS} Refactor aks nodepool add - part 5
  src/azure-cli/azure/cli/command_modules/acs/_consts.py
  src/azure-cli/azure/cli/command_modules/acs/agentpool_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/base_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_agentpool_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_base_decorator.py
Labels: AKS, Auto-Assign

#21688 [Packaging] Bump Python image to `3.10.3-alpine3.15`
  Dockerfile
Labels: Packaging, Auto-Assign

#21732 {Graph} Finalize the version with Microsoft Graph support to 2.37.0
  src/azure-cli/azure/cli/command_modules/role/__init__.py
Labels: Graph, Auto-Assign

#21777 {AKS} Refactor aks nodepool add - part 6
  src/azure-cli/azure/cli/command_modules/acs/_consts.py
  src/azure-cli/azure/cli/command_modules/acs/agentpool_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_agentpool_decorator.py
Labels: AKS, Auto-Assign

#21715 {WebApp} fix for --scope resourcegroup example
  src/azure-cli/azure/cli/command_modules/appservice/_help.py
Labels: Web Apps, Auto-Assign

#21778 {Revert} `az network nat gateway`: Validate attaching public IPs
  src/azure-cli/azure/cli/command_modules/natgateway/custom.py
  src/azure-cli/azure/cli/command_modules/natgateway/tests/latest/recordings/test_natgateway.yaml
  src/azure-cli/azure/cli/command_modules/natgateway/tests/latest/recordings/test_natgateway_empty_create.yaml
  src/azure-cli/azure/cli/command_modules/natgateway/tests/latest/test_natgateway_commands.py
Labels: Network, Auto-Assign

#21780 {CI} Explicitly fetch PR target branch
  .azure-pipelines/templates/automation_test.yml
  azure-pipelines.yml
Labels: CI, Auto-Assign

#21585 [APIM] Add API Schema operations
  src/azure-cli/azure/cli/command_modules/apim/_client_factory.py
  src/azure-cli/azure/cli/command_modules/apim/_help.py
  src/azure-cli/azure/cli/command_modules/apim/_params.py
  src/azure-cli/azure/cli/command_modules/apim/commands.py
  src/azure-cli/azure/cli/command_modules/apim/custom.py
  src/azure-cli/azure/cli/command_modules/apim/tests/latest/gql_schema.gql
  src/azure-cli/azure/cli/command_modules/apim/tests/latest/recordings/test_apim_core_service.yaml
  src/azure-cli/azure/cli/command_modules/apim/tests/latest/test_apim_scenario.py
Labels: API Management, Auto-Assign

#21719 {Role} Secure `_create_self_signed_cert`
  src/azure-cli/azure/cli/command_modules/role/custom.py
  src/azure-cli/azure/cli/command_modules/role/tests/latest/test_role.py
Labels: RBAC, Auto-Assign

#21746 [Packaging] Bump MSI embedded Python to 3.10.3
  build_scripts/windows/scripts/build.cmd
Labels: Packaging, Installation, Auto-Assign

#21720 [Storage] Fix #21699: Fix upload-batch result url truncation issue
  src/azure-cli/azure/cli/command_modules/storage/operations/blob.py
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/test_storage_batch_operations.py
Labels: Storage, Batch, Auto-Assign

#21798 {CI} Pin `Jinja2` to 3.0.3
  scripts/ci/test_ref_doc.sh
Labels: CI, Auto-Assign

#21661 [AKS] `aks enable-addons`: Add new parameter `--enable-msi-auth-for-monitoring` to support enabling managed identity auth
  linter_exclusions.yml
  src/azure-cli/azure/cli/command_modules/acs/_consts.py
  src/azure-cli/azure/cli/command_modules/acs/_help.py
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/addonconfiguration.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_decorator.py
Labels: AKS, Auto-Assign

#21800 {Packaging} Not build Mariner RPM on PullRequest CI
  azure-pipelines.yml
Labels: Packaging, CI, Auto-Assign

#21797 {AKS} Refactor aks nodepool add - part 7
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/agentpool_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_agentpool_decorator.py
Labels: AKS, Auto-Assign

#21821 {AKS} Format aks run command test case
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/mocks.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_custom.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_run_command.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/utils.py
Labels: AKS, Auto-Assign

#21802 {AKS} Sort out parameter declaration
  src/azure-cli/azure/cli/command_modules/acs/_help.py
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/commands.py
Labels: AKS, Auto-Assign

#21824 {AKS} Restore the function signature of `_put_managed_cluster_ensuring_permission`
  src/azure-cli/azure/cli/command_modules/acs/base_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_decorator.py
Labels: AKS, Auto-Assign

#21825 {APIM} Add `*.gql` to test packages
  scripts/ci/build.sh
Labels: API Management, CI, Auto-Assign

#21639 [ACR] Deprecate preview command group and implement same commands in parent command group
  linter_exclusions.yml
  src/azure-cli/azure/cli/command_modules/acr/_help.py
  src/azure-cli/azure/cli/command_modules/acr/_params.py
  src/azure-cli/azure/cli/command_modules/acr/commands.py
Labels: Container Registry, Auto-Assign

#21735 {Storage} Some small feature asks
  src/azure-cli/azure/cli/command_modules/storage/_help.py
  src/azure-cli/azure/cli/command_modules/storage/commands.py
Labels: Storage, Auto-Assign

#21714 {Storage} Grant proper access on azcopy installation
  src/azure-cli/azure/cli/command_modules/storage/azcopy/util.py
Labels: Storage, Auto-Assign

#21835 {Monitor} Fix test for sql bump
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_metric_alert_for_sql_database_scope.yaml
Labels: Network, SQL, Auto-Assign

#21717 [Network] Fix #21716: `az network private-dns zone import`: Allow hyphenated SRV records
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_dns_commands.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/zone_files/zone1.txt
  src/azure-cli/azure/cli/command_modules/network/zone_file/parse_zone_file.py
Labels: Network, Auto-Assign

#21641 [Compute] `az disk/snapshot/sig definitiion create/update`: Add new parameters `--architecture` to support ARM64
  src/azure-cli/azure/cli/command_modules/vm/_params.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_architecture.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Auto-Assign

#21852 [SQL] `az command sql db str-policy set`: Make `--diffbackup-hours` parameter optional
  src/azure-cli/azure/cli/command_modules/sql/_params.py
  src/azure-cli/azure/cli/command_modules/sql/custom.py
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/recordings/test_sql_db_short_term_retention.yaml
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/test_sql_commands.py
Labels: SQL, Auto-Assign

#21816 [EventHubs] `az eventhubs namespace update`: Fix disable eventhub capture and autoinflate
  src/azure-cli/azure/cli/command_modules/eventhubs/custom.py
  src/azure-cli/azure/cli/command_modules/eventhubs/tests/latest/recordings/test_eh_create_update.yaml
  src/azure-cli/azure/cli/command_modules/eventhubs/tests/latest/recordings/test_eh_namespace.yaml
  src/azure-cli/azure/cli/command_modules/eventhubs/tests/latest/test_eventhub_commands.py
  src/azure-cli/azure/cli/command_modules/eventhubs/tests/latest/test_eventhub_entity_crud.py
Labels: Auto-Assign

#21506 {Keyvault} Fix#21487: `az keyvault key create`: Fix keyvault createkey links issue
  src/azure-cli/azure/cli/command_modules/keyvault/_params.py
Labels: KeyVault, customer-reported, Auto-Assign

#21553 [RDBMS] Fix operations.py file installing dependencies in CloudShell
  src/azure-cli-core/azure/cli/core/extension/operations.py
Labels: Auto-Assign

#21776 [APIM] Onboard to private endpoint for API Management
  src/azure-cli/azure/cli/command_modules/network/private_link_resource_and_endpoint_connections/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_private_endpoint_connection_apim.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_private_endpoint_commands.py
Labels: API Management, Auto-Assign

#21812 [App Service] `az staticwebapp`: Fix #21186: Show detailed error message instead of "bad request"
  src/azure-cli/azure/cli/command_modules/appservice/commands.py
  src/azure-cli/azure/cli/command_modules/appservice/static_sites.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_staticapp_commands_thru_mock.py
Labels: App Services, Auto-Assign

#21839 [ARM] `az policy assignment create`: Support `--subscription` parameter
  src/azure-cli/azure/cli/command_modules/resource/_params.py
Labels: ARM, Auto-Assign

#21794 {App Service} `az functionapp list-runtimes`: Hide function app runtimes with `is_hidden` field
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_consumption_linux_dotnet_isolated.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_on_linux_app_service_dotnet_isolated.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_windows_runtime_dotnet_isolated.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_functionapp_commands.py
Labels: App Services, Auto-Assign

#21865 {CI} Fix api-version in yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_private_endpoint_connection_batch_account.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_private_endpoint_connection_media_service.yaml
Labels: CI, Auto-Assign

#21771 [App Service] Fix #21728: `az webapp deployment github-actions add`: Allow passing in runtime with colon delimiter
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_webapp_commands_thru_mock.py
Labels: Web Apps, App Services, Auto-Assign

#21474 [Compute] BREAKING CHANGE: `az vm/vmss create`: Remove the default value `Contributor` of parameter `--role`
  src/azure-cli/azure/cli/command_modules/vm/_params.py
  src/azure-cli/azure/cli/command_modules/vm/_validators.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2018_03_01/test_vm_actions.py
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2019_03_01/test_vm_actions.py
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2020_09_01/test_vm_actions.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_msi.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_msi.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_actions.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, RBAC, Auto-Assign

#21600 [Synapse] `az synapse role assignment list`: Fix showing only 100 results
  src/azure-cli/azure/cli/command_modules/synapse/custom_help.py
  src/azure-cli/azure/cli/command_modules/synapse/manual/operations/accesscontrol.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: Auto-Assign

#21861 {CDN} Add enforce_certificate_name_check support for origin
  src/azure-cli/azure/cli/command_modules/cdn/_params.py
  src/azure-cli/azure/cli/command_modules/cdn/custom/custom_afdx.py
  src/azure-cli/azure/cli/command_modules/cdn/linter_exclusions.yml
  src/azure-cli/azure/cli/command_modules/cdn/tests/latest/recordings/test_afd_origin_crud.yaml
  src/azure-cli/azure/cli/command_modules/cdn/tests/latest/recordings/test_afd_route_crud.yaml
  src/azure-cli/azure/cli/command_modules/cdn/tests/latest/test_afd_origin_scenarios.py
  src/azure-cli/azure/cli/command_modules/cdn/tests/latest/test_afd_route_scenarios.py
Labels: Network, Network - CDN, Network - Front Door, Auto-Assign

#21651 [AKS] `az aks create` and `az aks nodepool add`: Add `--pod-subnet-id` to support dynamically assigne pod ip
  linter_exclusions.yml
  src/azure-cli/azure/cli/command_modules/acs/_help.py
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/_validators.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_validators.py
Labels: AKS, Auto-Assign

#21722 [AKS] `az aks create, aks nodepool add`: Add `--kubelet-config` and `--linux-os-config` to support custom node configuration
  src/azure-cli/azure/cli/command_modules/acs/_help.py
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/data/kubeletconfig.json
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/data/linuxosconfig.json
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_with_node_config.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_decorator.py
Labels: AKS, Auto-Assign

#21385 [App Service] `az webapp config`: Fix for Web App Persistent Storage gets disabled after each deployment
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_acr_create_function_app.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_acr_integration.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_acr_integration_function_app.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_container_webapp_docker_image_name.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_container_webapp_long_server_url.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_reserved_instance.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_vnetE2E.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_vnet_duplicate_name.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_linux_slot_container_settings_override.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_linux_webapp.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_linux_webapp_multicontainer_slot.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_linux_webapp_quick_create.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_update_webapp_settings_thru_json.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_config.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_slot.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_update_site_configs_persists_ip_restrictions.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_vnetDelegation.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_vnetE2E.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_vnetRouteAll.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_vnetSameName.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_vnetSubnetId.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_webapp_commands.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_webapp_commands_thru_mock.py
Labels: needs-review

#21767 [Storage] Fix #20638: `az storage account\container\blob generate-sas`: Migrate to track2 sdk to allow new permissions
  src/azure-cli/azure/cli/command_modules/storage/__init__.py
  src/azure-cli/azure/cli/command_modules/storage/_params.py
  src/azure-cli/azure/cli/command_modules/storage/_validators.py
  src/azure-cli/azure/cli/command_modules/storage/commands.py
  src/azure-cli/azure/cli/command_modules/storage/operations/account.py
  src/azure-cli/azure/cli/command_modules/storage/operations/blob.py
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_create_account_sas.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_blob_container_operations.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_blob_generate_sas_as_user.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_blob_generate_sas_full_uri.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/test_storage_account_scenarios.py
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/test_storage_sas_scenarios.py
Labels: Account, Storage, Auto-Assign

#21528 [App Service] `az appservice ase create-inbound-services`: Add support for Azure private DNS zone creation in ASEv3
  src/azure-cli/azure/cli/command_modules/appservice/_help.py
  src/azure-cli/azure/cli/command_modules/appservice/_params.py
  src/azure-cli/azure/cli/command_modules/appservice/appservice_environment.py
Labels: App Services, Auto-Assign
