Repository Azure/azure-cli, pull requests merged in 2022-10, with the labels that each got.

#23786 [Compute] `az vmss create/update`: Add new parameters `--priority-count` and `--priority-percentage` to support setting priority mix policy
  src/azure-cli/azure/cli/command_modules/vm/_params.py
  src/azure-cli/azure/cli/command_modules/vm/_template_builder.py
  src/azure-cli/azure/cli/command_modules/vm/_validators.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/linter_exclusions.yml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_create_flexible_vmss_with_priority_mix_policy.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Auto-Assign

#23939 [App Service] `az functionapp deployment github-actions`: Add linux powershell support and fix publish profile bug
  src/azure-cli/azure/cli/command_modules/appservice/_constants.py
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
Labels: App Services, Auto-Assign

#24051 [App Service] Fix #23925: `az webapp deployment source config-zip`: No longer show status during linux deployments
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_deploy_zip.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_list_deployment_logs.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_show_deployment_logs.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_functionapp_commands_thru_mock.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_webapp_commands.py
  src/azure-cli/azure/cli/command_modules/appservice/utils.py
Labels: Web Apps, App Services, Auto-Assign

#24069 [CosmosDB] GA mongo server version
  src/azure-cli/azure/cli/command_modules/cosmosdb/_params.py
Labels: Cosmos, Auto-Assign

#24037 {App Service} Remove the to be deprecated parameters from logicapp create command
  src/azure-cli/azure/cli/command_modules/appservice/_params.py
  src/azure-cli/azure/cli/command_modules/appservice/logicapp/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_asp_ws1_create.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_asp_ws2_create.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_asp_ws3_create.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_autocreate_asp_for_logicapp.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_logicapp_config_appsettings_e2e.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_logicapp_e2e.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_logicapp_https_only.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_logicapp_on_linux.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_logicapp_scale_e2e.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_logicapp_update.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_logicapp_windows.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_update_asp_to_logicapp_sku_fails.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_update_logicapp_asp_sku.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_logicapp_commands.py
Labels: App Services, Auto-Assign

#24097 [Reservations] Remove commands from azure-cli
  azure-cli.pyproj
  azure-cli2017.pyproj
  doc/modules_owned_by_cli_team.md
  doc/sphinx/azhelpgen/doc_source_map.json
  linter_exclusions.yml
  scripts/ci/automation_full_test.py
  scripts/live_test/CLITest.yml
  src/azure-cli-core/azure/cli/core/profiles/_shared.py
  src/azure-cli/azure/cli/command_modules/reservations/__init__.py
  src/azure-cli/azure/cli/command_modules/reservations/_client_factory.py
  src/azure-cli/azure/cli/command_modules/reservations/_exception_handler.py
  src/azure-cli/azure/cli/command_modules/reservations/_help.py
  src/azure-cli/azure/cli/command_modules/reservations/_params.py
  src/azure-cli/azure/cli/command_modules/reservations/commands.py
  src/azure-cli/azure/cli/command_modules/reservations/custom.py
  src/azure-cli/azure/cli/command_modules/reservations/tests/__init__.py
  src/azure-cli/azure/cli/command_modules/reservations/tests/latest/__init__.py
  src/azure-cli/azure/cli/command_modules/reservations/tests/latest/recordings/test_calculate_reservation_order.yaml
  src/azure-cli/azure/cli/command_modules/reservations/tests/latest/recordings/test_get_applied_reservation_order_ids.yaml
  src/azure-cli/azure/cli/command_modules/reservations/tests/latest/recordings/test_get_catalog.yaml
  src/azure-cli/azure/cli/command_modules/reservations/tests/latest/recordings/test_get_reservation.yaml
  src/azure-cli/azure/cli/command_modules/reservations/tests/latest/recordings/test_get_reservation_order.yaml
  src/azure-cli/azure/cli/command_modules/reservations/tests/latest/recordings/test_list_reservation.yaml
  src/azure-cli/azure/cli/command_modules/reservations/tests/latest/recordings/test_list_reservation_history.yaml
  src/azure-cli/azure/cli/command_modules/reservations/tests/latest/recordings/test_list_reservation_order.yaml
  src/azure-cli/azure/cli/command_modules/reservations/tests/latest/recordings/test_purchase_reservation_order.yaml
  src/azure-cli/azure/cli/command_modules/reservations/tests/latest/recordings/test_split_and_merge.yaml
  src/azure-cli/azure/cli/command_modules/reservations/tests/latest/recordings/test_update_reservation.yaml
  src/azure-cli/azure/cli/command_modules/reservations/tests/latest/test_reservations_commands.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: Auto-Assign

#24092 [ServiceBus] `az servicebus namespace`: Breaking changes for Ignite Release and other fixes
  src/azure-cli/azure/cli/command_modules/servicebus/_help.py
  src/azure-cli/azure/cli/command_modules/servicebus/_params.py
  src/azure-cli/azure/cli/command_modules/servicebus/custom.py
  src/azure-cli/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_alias.yaml
  src/azure-cli/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_client_affine_subscription.yaml
  src/azure-cli/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_migration.yaml
  src/azure-cli/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_namespace.yaml
  src/azure-cli/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_namespace_encryption.yaml
  src/azure-cli/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_namespace_msi.yaml
  src/azure-cli/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_network.yaml
  src/azure-cli/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_premium_queue.yaml
  src/azure-cli/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_privateendpoint.yaml
  src/azure-cli/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_queue.yaml
  src/azure-cli/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_rules.yaml
  src/azure-cli/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_subscription.yaml
  src/azure-cli/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_topic.yaml
  src/azure-cli/azure/cli/command_modules/servicebus/tests/latest/test_servicebus_network_commands.py
  src/azure-cli/azure/cli/command_modules/servicebus/tests/latest/test_servicebus_queue_commands.py
  src/azure-cli/azure/cli/command_modules/servicebus/tests/latest/test_servicebus_subscription_commands.py
Labels: Service Bus, Auto-Assign

#24065 {Monitor} `az monitor action-group create`: Add name in webbook action of an action group example
  src/azure-cli/azure/cli/command_modules/monitor/_help.py
Labels: customer-reported

#24049 [Storage] Fix #19311: `az storage remove`: Add support for connection-string
  src/azure-cli/azure/cli/command_modules/storage/_validators.py
  src/azure-cli/azure/cli/command_modules/storage/_validators_azure_stack.py
  src/azure-cli/azure/cli/command_modules/storage/operations/azcopy.py
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/test_storage_azcopy_scenarios.py
Labels: Storage, customer-reported, Auto-Assign

#23940 {cosmosdb} Remove network subnet case sensitivity when removing network-rule
  src/azure-cli/azure/cli/command_modules/cosmosdb/custom.py
Labels: Cosmos, Auto-Assign

#24057 {Synapse} `az synapse workspace update`: Fix parameter `--sql-admin-login-password` bug
  src/azure-cli/azure/cli/command_modules/synapse/manual/operations/workspace.py
Labels: SQL, Synapse, Portal, Auto-Assign

#24131 {AKS} Remove deprecated parameter `--enable-soft-delete` from test case
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
Labels: AKS, Auto-Assign

#24054 [Network] `az network application-gateway waf-policy managed-rule rule-set`: Support per rule actions in web application firewall
  src/azure-cli/azure/cli/command_modules/network/_actions.py
  src/azure-cli/azure/cli/command_modules/network/_help.py
  src/azure-cli/azure/cli/command_modules/network/_params.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/waf_policy/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/waf_policy/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/waf_policy/_create.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/waf_policy/_delete.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/waf_policy/_list.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/waf_policy/_show.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/waf_policy/_update.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/waf_policy/_wait.py
  src/azure-cli/azure/cli/command_modules/network/commands.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_http_listener_with_waf_policy.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_waf_custom_rule.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_waf_policy_exclusion_rule_set.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_waf_policy_managed_rules.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_waf_policy_managed_rules_exclusions.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_waf_policy_setting.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_waf_policy_with_application_gateway.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_waf_policy_with_version_and_type.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Labels: Network, Auto-Assign

#24060 [Network] BREAKING CHANGE: `az network vnet`: Deprecate parameter `--defer`
  src/azure-cli/azure/cli/command_modules/network/commands.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_nic_ag_address_pools.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_nic_app_gateway.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Labels: Network, Auto-Assign

#24110 {CosmosDB} Make sure analytical-storage-ttl is applied as only argument for Gremlin graphs
  src/azure-cli/azure/cli/command_modules/cosmosdb/custom.py
Labels: Storage, Graph, Auto-Assign

#23710 [Compute] `az vm/vmss create/update`: Add new parameters `--disk-controller-type` to support setting disk controller type
  src/azure-cli/azure/cli/command_modules/vm/_params.py
  src/azure-cli/azure/cli/command_modules/vm/_template_builder.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_disk_controller_type.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Auto-Assign

#23942 [Compute] `az disk create`: Add warning log to later support creating disk with Gen2 and TLVM as default
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2020_09_01/recordings/test_vm_create_by_attach_os_and_data_disks.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2020_09_01/recordings/test_vm_create_from_unmanaged_disk.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2020_09_01/recordings/test_vm_custom_image_name_conflict.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2020_09_01/recordings/test_vm_disk_create_zones.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2020_09_01/recordings/test_vm_managed_disk.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2020_09_01/recordings/test_vm_os_disk_swap.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2020_09_01/recordings/test_vmss_update_instance_disks.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_create_disk_from_diff_gallery_image_version.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_disk_max_shares_etc.yaml
Labels: Compute, Auto-Assign

#23638 [Compute] BREAKING CHANGE: Update NAT pool to NAT rule V2 for Standard LB SKU when creating VMSS
  src/azure-cli/azure/cli/command_modules/vm/_params.py
  src/azure-cli/azure/cli/command_modules/vm/_template_builder.py
  src/azure-cli/azure/cli/command_modules/vm/_validators.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_create_with_nat_rule_v2.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Auto-Assign

#24137 {Compute} `az vmss create`: Fix the bug that the `--nat-pool-name` parameter does not work for Standard LB SKU
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_create_with_nat_rule_v2.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Auto-Assign

#24139 {Core} Bump MSAL to 1.20.0
  src/azure-cli-core/setup.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
Labels: Core, Auto-Assign

#24055 [RDBMS] BREAKING CHANGE: `az postgres flexible-server migration`: Move to new backend migration tool and add new Commands
  src/azure-cli/azure/cli/command_modules/rdbms/_helptext_pg.py
  src/azure-cli/azure/cli/command_modules/rdbms/_params.py
  src/azure-cli/azure/cli/command_modules/rdbms/flexible_server_commands.py
  src/azure-cli/azure/cli/command_modules/rdbms/flexible_server_custom_common.py
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/migrationPublic.json
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/migrationVNet.json
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_flexible_server_migration.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/test_rdbms_flexible_commands_postgres_migration.py
Labels: customer-reported, Auto-Assign

#24197 {CI} Fix failure `test_network_security_partner_provider`
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_security_partner_provider.yaml
Labels: CI, Auto-Assign

#24167 {Compute} Remove preview warning for `--edge-zone`
  src/azure-cli-core/azure/cli/core/commands/parameters.py
  src/azure-cli/azure/cli/command_modules/vm/_params.py
Labels: Compute, Auto-Assign

#24181 {Core} Explicitly set `enable_msa_passthrough` to `True` to allow WAM+MSA login
  src/azure-cli-core/azure/cli/core/auth/identity.py
Labels: Core, AAD, Auto-Assign

#24201 {CI} Migrate azure cli pipelines
  .azure-pipelines/templates/variables.yml
  azure-pipelines-full-tests.yml
  azure-pipelines.yml
  build_scripts/windows/scripts/build.cmd
  scripts/bump_version/bump_version.yml
  scripts/ci/automation_full_test.py
  scripts/live_test/CLITest.yml
  scripts/live_test/gen.py
  scripts/live_test/gen.yml
  scripts/live_test/monitor.yml
  scripts/live_test/template.yml
Labels: CI, Auto-Assign

#24199 {Network} Remove preview warning for `--edge-zone`
  src/azure-cli/azure/cli/command_modules/network/_params.py
Labels: Network, Auto-Assign

#24183 [Core] `aaz`: Support Featur FreeFormDictType and FreeFormDictArg
  src/azure-cli-core/azure/cli/core/aaz/__init__.py
  src/azure-cli-core/azure/cli/core/aaz/_arg.py
  src/azure-cli-core/azure/cli/core/aaz/_arg_action.py
  src/azure-cli-core/azure/cli/core/aaz/_arg_browser.py
  src/azure-cli-core/azure/cli/core/aaz/_arg_fmt.py
  src/azure-cli-core/azure/cli/core/aaz/_content_builder.py
  src/azure-cli-core/azure/cli/core/aaz/_field_type.py
  src/azure-cli-core/azure/cli/core/aaz/_field_value.py
  src/azure-cli-core/azure/cli/core/aaz/_help.py
  src/azure-cli-core/azure/cli/core/aaz/_operation.py
  src/azure-cli-core/azure/cli/core/tests/test_aaz_arg.py
  src/azure-cli-core/azure/cli/core/tests/test_aaz_arg_fmt.py
  src/azure-cli-core/azure/cli/core/tests/test_aaz_content_builder.py
  src/azure-cli-core/azure/cli/core/tests/test_aaz_field.py
Labels: Core, Auto-Assign

#24212 [IoT] Enforce default IoT Hub data residency setting for qatarcentral
  src/azure-cli/azure/cli/command_modules/iot/custom.py
  src/azure-cli/azure/cli/command_modules/iot/tests/latest/test_iot_commands.py
Labels: IoT, IoT/CLI, Auto-Assign

#24123 {App Service} Add to docs: function app appsettings command supports json file input
  src/azure-cli/azure/cli/command_modules/appservice/_help.py
Labels: Web Apps, App Services, customer-reported, Auto-Assign

#24200 {AzureCosmosDB} fixes Azure/azure-cli#24156
  src/azure-cli/azure/cli/command_modules/cosmosdb/custom.py
Labels: Cosmos, Auto-Assign

#24222 {Network} Detach Azure Stack from Profiles
  src/azure-cli/azure/cli/command_modules/network/__init__.py
  src/azure-cli/azure/cli/command_modules/network/azure_stack/__init__.py
  src/azure-cli/azure/cli/command_modules/network/azure_stack/_actions.py
  src/azure-cli/azure/cli/command_modules/network/azure_stack/_client_factory.py
  src/azure-cli/azure/cli/command_modules/network/azure_stack/_completers.py
  src/azure-cli/azure/cli/command_modules/network/azure_stack/_format.py
  src/azure-cli/azure/cli/command_modules/network/azure_stack/_params.py
  src/azure-cli/azure/cli/command_modules/network/azure_stack/_process_helper.py
  src/azure-cli/azure/cli/command_modules/network/azure_stack/_template_builder.py
  src/azure-cli/azure/cli/command_modules/network/azure_stack/_util.py
  src/azure-cli/azure/cli/command_modules/network/azure_stack/_validators.py
  src/azure-cli/azure/cli/command_modules/network/azure_stack/commands.py
  src/azure-cli/azure/cli/command_modules/network/azure_stack/custom.py
  src/azure-cli/azure/cli/command_modules/network/azure_stack/private_link_resource_and_endpoint_connections/__init__.py
  src/azure-cli/azure/cli/command_modules/network/azure_stack/private_link_resource_and_endpoint_connections/custom.py
  src/azure-cli/azure/cli/command_modules/network/azure_stack/private_link_resource_and_endpoint_connections/resource_providers/__init__.py
  src/azure-cli/azure/cli/command_modules/network/azure_stack/private_link_resource_and_endpoint_connections/resource_providers/keyvault_provider.py
  src/azure-cli/azure/cli/command_modules/network/azure_stack/tunnel.py
  src/azure-cli/azure/cli/command_modules/network/azure_stack/zone_file/__init__.py
  src/azure-cli/azure/cli/command_modules/network/azure_stack/zone_file/make_zone_file.py
  src/azure-cli/azure/cli/command_modules/network/azure_stack/zone_file/parse_zone_file.py
  src/azure-cli/azure/cli/command_modules/network/azure_stack/zone_file/record_processors.py
  src/azure-cli/azure/cli/command_modules/network/tests/hybrid_2018_03_01/test_dns_commands.py
  src/azure-cli/azure/cli/command_modules/network/tests/hybrid_2018_03_01/test_network_unit_tests.py
Labels: Network, Auto-Assign

#24240 {Packaging} Bump Python version to 3.10.8
  build_scripts/windows/scripts/build.cmd
  scripts/release/debian/Dockerfile
  scripts/release/debian/build.sh
Labels: Packaging, Auto-Assign

#24126 [Backup] `az backup restore restore-disks`: Update Cross Zonal Restore behaviour for ZRS vaults and primary region CRR scenarios
  src/azure-cli/azure/cli/command_modules/backup/_validators.py
  src/azure-cli/azure/cli/command_modules/backup/custom.py
Labels: Backup, Auto-Assign

#24239 {Keyvault} GA key rotation for MHSM
  src/azure-cli/azure/cli/command_modules/keyvault/_client_factory.py
Labels: KeyVault, Auto-Assign

#24270 [AKS] Bump SDK version to fix the SDK issue for pagination handling error
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: AKS, Auto-Assign

#24267 [Network] `az network public-ip`: Add alias `--ddos-protection-mode` to `--protection-mode`
  src/azure-cli/azure/cli/command_modules/network/_params.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/public_ip/_create.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/public_ip/_delete.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/public_ip/_list.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/public_ip/_show.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/public_ip/_update.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/public_ip/_wait.py
  src/azure-cli/azure/cli/command_modules/network/commands.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_public_ip_ddos_settings.yaml
Labels: Network, Auto-Assign

#24272 [Network] `az network custom-ip prefix`: Add parameters `--asn`, `--geo`, `--no-internet-advertise` and so on
  src/azure-cli/azure/cli/command_modules/network/_client_factory.py
  src/azure-cli/azure/cli/command_modules/network/_help.py
  src/azure-cli/azure/cli/command_modules/network/_params.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/custom_ip/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/custom_ip/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/custom_ip/prefix/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/custom_ip/prefix/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/custom_ip/prefix/_create.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/custom_ip/prefix/_delete.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/custom_ip/prefix/_list.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/custom_ip/prefix/_show.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/custom_ip/prefix/_update.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/custom_ip/prefix/_wait.py
  src/azure-cli/azure/cli/command_modules/network/commands.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_custom_ip_prefix.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_custom_ip_prefix_crud.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_custom_ip_prefix_update_state.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Labels: Network, Auto-Assign

#24224 {Core} Log showing survey message info in telemetry
  src/azure-cli-core/azure/cli/core/intercept_survey.py
  src/azure-cli-core/azure/cli/core/telemetry.py
Labels: Core, Auto-Assign

#24296 [Compute] `az vm run-command`: Change help messages and add examples for `--output-blob-uri` parameter
  src/azure-cli/azure/cli/command_modules/vm/_help.py
  src/azure-cli/azure/cli/command_modules/vm/_params.py
Labels: Compute, Auto-Assign

#24302 [Resource] `az resource delete`: Add new parameter `--no-wait` to support not waiting the long-running operation to finish
  src/azure-cli/azure/cli/command_modules/resource/commands.py
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/recordings/test_tag_incrementally.yaml
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/test_resource.py
Labels: ARM, Auto-Assign

#24301 [Compute] Fix #24187: `az vm list`: Fix the AttributeError 'ComputeManagementClientConfiguration' object has no attribute 'api_version'
  src/azure-cli-core/azure/cli/core/profiles/_shared.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_community_gallery_operations.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_create_disk_from_diff_gallery_image_version.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_create_image_version_with_region_cvm_encryption.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_create_image_version_with_region_cvm_encryption_pmk.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_create_vm_with_community_gallery_image.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_create_vm_with_shared_gallery_image.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_disk_controller_type.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_gallery_e2e.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_gallery_image_version_vhd.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_gallery_specialized.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_image_build_shared_image.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_image_version_create_for_diff_source.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_replication_mode.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_shared_gallery.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_specialized_image.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_update_gallery_permissions.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_disk_max_shares_etc.yaml
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: Compute, Auto-Assign

#24198 [Compute] `az vm extension list`: Add new parameter `--ids` to support listing extensions by VM id
  src/azure-cli/azure/cli/command_modules/vm/_params.py
  src/azure-cli/azure/cli/command_modules/vm/linter_exclusions.yml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_extension_list.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Auto-Assign

#24303 [Network] Fix #21551: `az network nic ip-config update`: ASGs update with multiple IP configurations
  src/azure-cli/azure/cli/command_modules/network/_params.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_multiple_ipconfigs_update_with_asg.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Labels: Network, Auto-Assign

#24322 [Network] Fix #24169: `az network application-gateway waf-policy managed-rule exclusion rule-set remove`: Remove exclusion with different matchers
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_waf_policy_exclusion_rule_set.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Labels: Network, Auto-Assign

#24121 {SQL} `az sql midb log-replay stop`: Adjust error handling for new API version
  src/azure-cli/azure/cli/command_modules/sql/custom.py
Labels: SQL, Auto-Assign

#24266 [Storage] `az storage account show-connection-string/keys renew`: Update options for `--key` parameter
  src/azure-cli/azure/cli/command_modules/storage/_validators.py
  src/azure-cli/azure/cli/command_modules/storage/commands.py
  src/azure-cli/azure/cli/command_modules/storage/operations/account.py
Labels: Account, Storage, Auto-Assign

#24358 {CI} Update milestone from Oct 2022 (2022-11-01) to Nov 2022 (2022-12-06)
  .github/fabricbot.json
Labels: CI, Auto-Assign

#24204 {Synapse} Update artifact version to 0.14.0
  src/azure-cli/azure/cli/command_modules/synapse/tests/latest/recordings/test_link_connection.yaml
  src/azure-cli/azure/cli/command_modules/synapse/tests/latest/test_synapse_scenario.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: Synapse, Portal, Auto-Assign

#24359 [Storage] `az storage account create/update`: GA `--key-vault-federated-client-id`
  src/azure-cli/azure/cli/command_modules/storage/_params.py
  src/azure-cli/azure/cli/command_modules/storage/operations/account.py
Labels: Storage, Auto-Assign

#24264 {AKS} Update Availability zones summary
  src/azure-cli/azure/cli/command_modules/acs/_help.py
Labels: AKS, Auto-Assign

#24189 [AKS] Update CLI documentation for `az aks update`
  src/azure-cli/azure/cli/command_modules/acs/_help.py
Labels: AKS, customer-reported, Auto-Assign

#24385 [Network] Fix #24377: `az network public-ip create`: Derive Public IPs in different resource group from Public IP Prefix
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/public_ip/_create.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/public_ip/_update.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_public_ip_prefix.yaml
Labels: Network, ARM, Auto-Assign

#24364 [Compute] `az sig image-version create/update`: Add `--allow-replicated-location-deletion` to support removing gallery image version from replicated regions
  src/azure-cli/azure/cli/command_modules/vm/_params.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/linter_exclusions.yml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_create_image_version_with_allow_replicated_location_deletion.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Auto-Assign

#24077 [App Service] Fix #23050: `az functionapp deployment source config-zip`: Fix the bug that zip deployment will fail if app settings contain any values of null
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
Labels: App Services, customer-reported, Auto-Assign

#24366 [Network] `az network lb probe`: Support probe threshold via `--probe-threshold`
  src/azure-cli/azure/cli/command_modules/network/_params.py
  src/azure-cli/azure/cli/command_modules/network/_template_builder.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/lb/_update.py
  src/azure-cli/azure/cli/command_modules/network/commands.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_cross_region_lb_address_pool_addresses.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_lb.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_lb_address_pool.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_lb_address_pool_addresses.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_lb_edge_zone.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_lb_front_ip.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_lb_frontend_ip_zone.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_lb_nat_pools.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_lb_nat_rules.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_lb_nat_rules_v2.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_lb_nat_rules_v3.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_lb_port_mapping.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_lb_probes.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_lb_rule_backend_address_pools.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_lb_rules.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_lb_sku.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_lb_tunnel_interface.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_lb_zone.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_load_balancer_ip_config.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_load_balancer_outbound_rules.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_nic.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_nic_app_gateway.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_nic_front_ip.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_nic_lb_address_pools.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_nic_subresources.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_private_endpoint_edge_zone.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_private_endpoints.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_private_link_service.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_private_endpoint_pls.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_create_automatic_repairs_with_health_probe.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_create_existing_ids_options.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_create_existing_options.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_existing_lb.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_set_orchestration_service_state.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_update_automatic_repairs_with_health_probe.yaml
Labels: Network, Auto-Assign

#24386 [Compute] Fix #24263: `az snapshot create`: Fix the KeyError 'IMPORT_ENUM' when creating snapshot from source blob uri
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_snapshot_create_with_source_blob_uri.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Auto-Assign

#24407 {CI} pytest: `--boxed` argument is deprecated, use `--forked` instead
  scripts/release/debian/test_deb_package.py
  scripts/release/homebrew/test_homebrew_package.py
  scripts/release/rpm/test_rpm_package.py
Labels: CI, Auto-Assign

#24412 [Compute] `az sig image-version update`: Add values of parameter `--add` and `--set` to add regional exludeFromLatest flag and set safety profile
  src/azure-cli/azure/cli/command_modules/vm/_help.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_image_update_add_set.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_shared_gallery.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Auto-Assign

#24411 [Core] `aaz`: Support configured_default in arguments
  src/azure-cli-core/azure/cli/core/aaz/_command.py
Labels: Core, Auto-Assign

#24409 {Network} `az network lb probe list/show`: Migrate to atomic commands
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/lb/probe/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/lb/probe/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/lb/probe/_list.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/lb/probe/_show.py
  src/azure-cli/azure/cli/command_modules/network/commands.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_cross_region_lb_probes.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_lb_probes.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Labels: Network, Auto-Assign

#24070 [AKS] `az aks`: Add oidc issuer support
  src/azure-cli/azure/cli/command_modules/acs/_help.py
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/commands.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/managed_cluster_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_with_oidc_issuer_enabled.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_update_with_oidc_issuer_enabled.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
Labels: AKS, Auto-Assign

#24279 [ACR] `acr task update`: Fix logic issue for updating encoded task
  src/azure-cli/azure/cli/command_modules/acr/task.py
Labels: Container Registry, Auto-Assign

#24423 [NetAppFiles] `Add az netappfiles account renew-credentials`
  src/azure-cli/azure/cli/command_modules/netappfiles/_help.py
  src/azure-cli/azure/cli/command_modules/netappfiles/commands.py
  src/azure-cli/azure/cli/command_modules/netappfiles/tests/latest/recordings/test_account_renew_credentials_fails.yaml
  src/azure-cli/azure/cli/command_modules/netappfiles/tests/latest/test_account_commands.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: NetAppFiles, Auto-Assign

#23946 {Packaging} Trim mgmt SDKs
  .azure-pipelines/templates/azdev_setup.yml
  build_scripts/windows/scripts/build.cmd
  build_scripts/windows/scripts/remove_unused_api_versions.py
  scripts/trim_sdk.py
  src/azure-cli-core/azure/cli/core/profiles/_shared.py
Labels: Packaging, Auto-Assign

#24444 {CI} Install pytest-forked for docker image
  scripts/release/debian/test_deb_in_docker.sh
  scripts/release/homebrew/test_homebrew_package.sh
  scripts/release/rpm/test_rpm_in_docker.sh
Labels: Installation, CI, Auto-Assign

#23983 [APIM] `apim create/update`: Add new parameters `--public-network-access` and `--disable-gateway`
  src/azure-cli/azure/cli/command_modules/apim/_params.py
  src/azure-cli/azure/cli/command_modules/apim/custom.py
  src/azure-cli/azure/cli/command_modules/apim/tests/latest/recordings/test_apim_core_service.yaml
  src/azure-cli/azure/cli/command_modules/apim/tests/latest/test_apim_scenario.py
Labels: API Management, Auto-Assign

#23713 [Synapse] `az synapse workspace create`: Add parameter `--managed-resource-group-name`
  linter_exclusions.yml
  src/azure-cli/azure/cli/command_modules/synapse/manual/_help.py
  src/azure-cli/azure/cli/command_modules/synapse/manual/_params.py
  src/azure-cli/azure/cli/command_modules/synapse/manual/operations/workspace.py
Labels: ARM, Synapse, Auto-Assign

#23960 [Synapse] `az synapse spark pool`: Add parameter `--enable-dynamic-executor-allocation`
  src/azure-cli/azure/cli/command_modules/synapse/manual/_help.py
  src/azure-cli/azure/cli/command_modules/synapse/manual/_params.py
  src/azure-cli/azure/cli/command_modules/synapse/manual/operations/sparkpool.py
  src/azure-cli/azure/cli/command_modules/synapse/tests/latest/recordings/test_spark_pool.yaml
  src/azure-cli/azure/cli/command_modules/synapse/tests/latest/test_synapse_scenario.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: Synapse, Auto-Assign

#24456 {CI} Remove hardcoded data to avoid exposing sensitive data
  scripts/live_test/CLITest.yml
  scripts/live_test/sendemail.py
Labels: CI, Auto-Assign

#24447 {CI} Fix template not found error: Use absolute path for variable template
  azure-pipelines-full-tests.yml
  azure-pipelines.yml
  scripts/live_test/CLITest.yml
  scripts/live_test/gen.yml
  scripts/live_test/monitor.yml
  scripts/live_test/template.yml
  scripts/regression_test/regression_test.yml
Labels: CI, Auto-Assign

#24226 {Core} Support custom credential in `get_mgmt_service_client`
  src/azure-cli-core/azure/cli/core/auth/msal_authentication.py
  src/azure-cli-core/azure/cli/core/commands/client_factory.py
  src/azure-cli-core/azure/cli/core/commands/tests/test_client_factory.py
  src/azure-cli/azure/cli/command_modules/util/_help.py
  src/azure-cli/azure/cli/command_modules/util/_params.py
  src/azure-cli/azure/cli/command_modules/util/commands.py
  src/azure-cli/azure/cli/command_modules/util/custom.py
Labels: Core, Auto-Assign

#24434 [Network] `az network bastion rdp`: Allow rdp session customization
  src/azure-cli/azure/cli/command_modules/network/_params.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
Labels: Network, feature-request, Auto-Assign

#24466 {CI} Add job for Codegen Coverage
  azure-pipelines.yml
Labels: CI, Auto-Assign

#24496 {CI} Update CLITest.yml to use 1ES agent pool
  scripts/live_test/CLITest.yml
Labels: CI, Auto-Assign
