Repository Azure/azure-cli, pull requests merged in 2022-12, with the labels that each got.

#23287 {Misc.} Change name of Bash completion function
  az.completion
Labels: customer-reported

#24714 {Network} `az network routeserver`: Adapt swagger changes
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/routeserver/peering/_list_advertised_routes.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/routeserver/peering/_list_learned_routes.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_virtual_hub_router_scenario.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Labels: Network, Auto-Assign

#23971 {Dependencies} Upgrade to six 1.16
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
Labels: customer-reported

#24683 [App Service] `az webapp create`: Add `--public-network-access` parameter to support enabling public access
  src/azure-cli/azure/cli/command_modules/appservice/_params.py
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_e2e.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_webapp_commands.py
Labels: Web Apps, App Services, customer-reported, Auto-Assign

#24692 [Backup] `az backup restore restore-disks`: Allow `--disk-encryption-set-id` for cross region restore
  recoveryconfig_hana_archive.json
  src/azure-cli/azure/cli/command_modules/backup/custom.py
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/preparers.py
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_crr.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/test_backup_commands.py
Labels: Backup, Auto-Assign

#24730 {Network} `az network lb probe`: Add warnings for `--probe-threshold`
  src/azure-cli/azure/cli/command_modules/network/_params.py
  src/azure-cli/azure/cli/command_modules/network/commands.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_lb_probes.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_create_automatic_repairs_with_health_probe.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_set_orchestration_service_state.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_update_automatic_repairs_with_health_probe.yaml
Labels: Network, Auto-Assign

#23040 [ARM] `az bicep install`: Address issue installing bicep on non-musl default systems with musl
  src/azure-cli/azure/cli/command_modules/resource/_bicep.py
Labels: Installation, Auto-Assign

#24771 [Core] `aaz`: Support camel case key in `AAZObjectType`
  src/azure-cli-core/azure/cli/core/aaz/_field_type.py
  src/azure-cli-core/azure/cli/core/aaz/_utils.py
  src/azure-cli-core/azure/cli/core/tests/test_aaz_arg.py
  src/azure-cli-core/azure/cli/core/tests/test_aaz_field.py
Labels: Core, Auto-Assign

#24725 {monitor}`az monitor diagnostic-settings`: Migrate from codegen V2
  src/azure-cli/azure/cli/command_modules/monitor/_params.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/diagnostic_settings/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/diagnostic_settings/__init__.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/diagnostic_settings/_create.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/diagnostic_settings/_delete.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/diagnostic_settings/_list.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/diagnostic_settings/_show.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/diagnostic_settings/categories/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/diagnostic_settings/categories/__init__.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/diagnostic_settings/categories/_list.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/diagnostic_settings/categories/_show.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/diagnostic_settings/subscription/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/diagnostic_settings/subscription/__init__.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/diagnostic_settings/subscription/_create.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/diagnostic_settings/subscription/_delete.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/diagnostic_settings/subscription/_list.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/diagnostic_settings/subscription/_show.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/diagnostic_settings/subscription/_update.py
  src/azure-cli/azure/cli/command_modules/monitor/commands.py
  src/azure-cli/azure/cli/command_modules/monitor/operations/diagnostics_settings.py
  src/azure-cli/azure/cli/command_modules/monitor/operations/subscription_diagnostic_settings.py
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_diagnostic_settings_marketplace_id.yaml
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/test_monitor_diagnostic_settings.py
Labels: Monitor - Diagnostic Settings, Auto-Assign

#24779 {Packaging} Bump knack to 0.10.1 to support `bytearray` serialization
  src/azure-cli-core/setup.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
Labels: Packaging, Auto-Assign

#24790 [SQL] `az sql server ipv6-firewall-rule`: New command group for AZ SQL server IPv6 firewall rule
  src/azure-cli/azure/cli/command_modules/sql/_format.py
  src/azure-cli/azure/cli/command_modules/sql/_help.py
  src/azure-cli/azure/cli/command_modules/sql/_params.py
  src/azure-cli/azure/cli/command_modules/sql/_util.py
  src/azure-cli/azure/cli/command_modules/sql/commands.py
  src/azure-cli/azure/cli/command_modules/sql/custom.py
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/recordings/test_sql_ipv6_firewall_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/test_sql_commands.py
Labels: SQL, Auto-Assign

#24785 {Backup} Fix `test_backup_rg_mapping` and `test_backup_softdelete` test cases
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_rg_mapping.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_softdelete.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/test_backup_commands.py
Labels: Backup, Auto-Assign

#24824 {App Service} Fix #24822: `az webapp delete`: Fix the command help message
  src/azure-cli/azure/cli/command_modules/appservice/_params.py
Labels: Web Apps, App Services, Auto-Assign

#24827 [Core] `aaz`: Support subresource selector
  src/azure-cli-core/azure/cli/core/aaz/__init__.py
  src/azure-cli-core/azure/cli/core/aaz/_arg.py
  src/azure-cli-core/azure/cli/core/aaz/_base.py
  src/azure-cli-core/azure/cli/core/aaz/_command_ctx.py
  src/azure-cli-core/azure/cli/core/aaz/_field_type.py
  src/azure-cli-core/azure/cli/core/aaz/_operation.py
  src/azure-cli-core/azure/cli/core/aaz/_selector.py
  src/azure-cli-core/azure/cli/core/aaz/utils.py
Labels: Core, Auto-Assign

#24775 [APIM] `az apim api create`: Parse URL to detect Protocol and API type
  src/azure-cli/azure/cli/command_modules/apim/custom.py
  src/azure-cli/azure/cli/command_modules/apim/tests/latest/recordings/test_apim_core_service.yaml
  src/azure-cli/azure/cli/command_modules/apim/tests/latest/test_apim_scenario.py
Labels: API Management, feature-request, Auto-Assign

#24777 [AKS] `aks create`: Add new parameter `--data-collection-settings` to support for AKS Monitoring Addon in MSI auth mode
  linter_exclusions.yml
  src/azure-cli/azure/cli/command_modules/acs/_help.py
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/addonconfiguration.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/managed_cluster_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/data/datacollectionsettings.json
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
Labels: AKS, Auto-Assign

#24795 [Batch] Upgrade api-version to v2022-10-01, Add Node'
  src/azure-cli/azure/cli/command_modules/batch/_params.py
  src/azure-cli/azure/cli/command_modules/batch/custom.py
  src/azure-cli/azure/cli/command_modules/batch/tests/latest/batch_preparers.py
  src/azure-cli/azure/cli/command_modules/batch/tests/latest/recordings/test_batch_application_cmd.yaml
  src/azure-cli/azure/cli/command_modules/batch/tests/latest/recordings/test_batch_certificate_cmd.yaml
  src/azure-cli/azure/cli/command_modules/batch/tests/latest/recordings/test_batch_general_arm_cmd.yaml
  src/azure-cli/azure/cli/command_modules/batch/tests/latest/recordings/test_batch_job_list_cmd.yaml
  src/azure-cli/azure/cli/command_modules/batch/tests/latest/recordings/test_batch_jobs_and_tasks.yaml
  src/azure-cli/azure/cli/command_modules/batch/tests/latest/recordings/test_batch_managed_identity_cmd.yaml
  src/azure-cli/azure/cli/command_modules/batch/tests/latest/recordings/test_batch_network_profile_cmd.yaml
  src/azure-cli/azure/cli/command_modules/batch/tests/latest/recordings/test_batch_pool_cmd.yaml
  src/azure-cli/azure/cli/command_modules/batch/tests/latest/recordings/test_batch_pools_and_nodes.yaml
  src/azure-cli/azure/cli/command_modules/batch/tests/latest/recordings/test_batch_privateendpoint_cmd.yaml
  src/azure-cli/azure/cli/command_modules/batch/tests/latest/recordings/test_batch_task_create_cmd.yaml
  src/azure-cli/azure/cli/command_modules/batch/tests/latest/test_batch_commands.py
  src/azure-cli/azure/cli/command_modules/batch/tests/latest/test_batch_data_plane_commands.py
  src/azure-cli/azure/cli/command_modules/batch/tests/latest/test_batch_mgmt_commands.py
  src/azure-cli/azure/cli/command_modules/network/azure_stack/private_link_resource_and_endpoint_connections/custom.py
  src/azure-cli/azure/cli/command_modules/network/private_link_resource_and_endpoint_connections/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_private_endpoint_connection_batch_account.yaml
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: Batch, Auto-Assign

#24847 [ARM] Fix #24810: Support ARM64 architecture for Bicep installation
  src/azure-cli/azure/cli/command_modules/resource/_params.py
Labels: Installation, Auto-Assign

#24839 {Packaging} Hotfix: Install OpenSSL 3.0 in the docker image
  Dockerfile
Labels: Packaging, Installation, Auto-Assign

#24852 {Packaging} Handle `cm2` in Mariner 2.0 RPM name
  scripts/release/rpm/mariner.dockerfile
Labels: Packaging, Auto-Assign

#24845 {RDBMS} Improve help docs for MySQL and PostgreSQL flexible server CMK
  src/azure-cli/azure/cli/command_modules/rdbms/_helptext_mysql.py
  src/azure-cli/azure/cli/command_modules/rdbms/_helptext_pg.py
Labels: Auto-Assign

#24854 {Packaging} Cherry pick #24852: Handle `cm2` in Mariner 2.0 RPM name
  scripts/release/rpm/mariner.dockerfile
Labels: Packaging, Auto-Assign

#24876 {CI} Adjust PR review rules
  .github/fabricbot.json
Labels: CI, Auto-Assign

#24837 {Network} `az network public-ip prefix`: Migrate to atomic commands
  src/azure-cli/azure/cli/command_modules/network/_client_factory.py
  src/azure-cli/azure/cli/command_modules/network/_params.py
  src/azure-cli/azure/cli/command_modules/network/_validators.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/public_ip/prefix/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/public_ip/prefix/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/public_ip/prefix/_create.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/public_ip/prefix/_delete.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/public_ip/prefix/_list.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/public_ip/prefix/_show.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/public_ip/prefix/_update.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/public_ip/prefix/_wait.py
  src/azure-cli/azure/cli/command_modules/network/commands.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_public_ip_prefix.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_public_ip_prefix_edge_zone.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_public_ip_prefix_with_ip_address.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_public_ip_prefix_zone.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Labels: Network, Auto-Assign

#24894 [Network] Fix #24853: `az network nsg rule create`: `--destination-asgs` and `--source-asgs` cannot be used
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_nsg.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Labels: Network, Auto-Assign

#24899 [App Service] Fix #23488: `az appservice plan create`: Fix zone redundant ASP creation fails for ASEv3
  src/azure-cli/azure/cli/command_modules/appservice/_validators.py
Labels: App Services, customer-reported, Auto-Assign

#24903 {Packaging} Bump argcomplete to 2.0.0
  src/azure-cli-core/setup.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
Labels: Packaging, Auto-Assign

#24497 {Core} Make parser compatible with Python 3.11's `argparse`
  src/azure-cli-core/azure/cli/core/parser.py
Labels: Core, Auto-Assign

#24814 {Synapse} `az synapse workspace-package upload`: Fix bug caused by sdk change
  src/azure-cli/azure/cli/command_modules/synapse/manual/operations/artifacts.py
  src/azure-cli/azure/cli/command_modules/synapse/tests/latest/recordings/test_workspace_package.yaml
  src/azure-cli/azure/cli/command_modules/synapse/tests/latest/test_synapse_scenario.py
Labels: Synapse, Auto-Assign

#24829 {Packaging} Trim Storage module data plane multiapi sdk
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: Storage, Packaging, Auto-Assign

#24923 {AKS} Tidy parameter declarations
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/managed_cluster_decorator.py
Labels: AKS, Auto-Assign

#24909 {EventHubs} `az eventhubs namespace application-group`: Change SASKeyName to NamespaceSASKeyName
  src/azure-cli/azure/cli/command_modules/eventhubs/_help.py
  src/azure-cli/azure/cli/command_modules/eventhubs/_params.py
  src/azure-cli/azure/cli/command_modules/eventhubs/tests/latest/recordings/test_eventhub_app_group.yaml
  src/azure-cli/azure/cli/command_modules/eventhubs/tests/latest/test_eventhub_namespace_application_group.py
Labels: Auto-Assign

#24931 {CI} Adjust monitor rules
  .github/fabricbot.json
Labels: Network, CI, Auto-Assign

#24924 [Network] Fix #24883: `az network application-gateway start`: Miss parameter `--ids`
  src/azure-cli/azure/cli/command_modules/network/_help.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/_start.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/_stop.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/_update.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_with_defaults.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Labels: Network, Auto-Assign

#24936 [Network] `az network watcher packet-capture create`: Resolve local path issue for Linux VM
  src/azure-cli/azure/cli/command_modules/network/_validators.py
Labels: customer-reported

#24828 {Network} `az network express-route gateway connection update`: Refine help message
  src/azure-cli/azure/cli/command_modules/network/_help.py
Labels: Network, Auto-Assign

#24962 [SQL] `az sql db threat-policy`: Declaring deprecation for cmd group
  src/azure-cli/azure/cli/command_modules/sql/commands.py
Labels: SQL, Auto-Assign

#24960 [Core] `aaz`: Improve generic update arguments to consist with previous behaviors
  src/azure-cli-core/azure/cli/core/aaz/_field_type.py
  src/azure-cli-core/azure/cli/core/aaz/_field_value.py
  src/azure-cli-core/azure/cli/core/aaz/_operation.py
  src/azure-cli-core/azure/cli/core/tests/test_aaz_field.py
  src/azure-cli-core/azure/cli/core/tests/test_aaz_operation.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Labels: Core, Auto-Assign

#24881 [App Service] `az appservice ase upgrade/send-test-notification`: Add new commands for ASE to support ASE upgrade and sending test notifications
  src/azure-cli/azure/cli/command_modules/appservice/_help.py
  src/azure-cli/azure/cli/command_modules/appservice/_params.py
  src/azure-cli/azure/cli/command_modules/appservice/appservice_environment.py
  src/azure-cli/azure/cli/command_modules/appservice/commands.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_app_service_environment_commands_thru_mock.py
Labels: App Services, customer-reported, Auto-Assign

#24882 [App Service] `az appservice ase update`: Add `--allow-incoming-ftp-connections` and `--allow-remote-debugging` parameters
  src/azure-cli/azure/cli/command_modules/appservice/_help.py
  src/azure-cli/azure/cli/command_modules/appservice/_params.py
  src/azure-cli/azure/cli/command_modules/appservice/appservice_environment.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_app_service_environment_commands_thru_mock.py
Labels: App Services, customer-reported, Auto-Assign

#24983 {Network} `az network application-gateway waf-policy custom-rule update`: Fix sub-resource selector
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/waf_policy/custom_rule/_update.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/express_route/port/link/_update.py
Labels: Network, Auto-Assign

#24965 [monitor] BREAKING CHANGE: `az monitor action-group`: Remove notification in resource group and subscription level
  src/azure-cli/azure/cli/command_modules/monitor/_help.py
  src/azure-cli/azure/cli/command_modules/monitor/operations/action_groups.py
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/test_monitor_action_groups.py
Labels: Monitor, Monitor - ActionGroups

#24967 {monitor}`az monitor diagnostic-settings update`: Migrate from codegen V2
  src/azure-cli/azure/cli/command_modules/monitor/_help.py
  src/azure-cli/azure/cli/command_modules/monitor/_params.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/diagnostic_settings/__init__.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/diagnostic_settings/_update.py
  src/azure-cli/azure/cli/command_modules/monitor/commands.py
  src/azure-cli/azure/cli/command_modules/monitor/operations/diagnostics_settings.py
Labels: Monitor, Monitor - Diagnostic Settings

#24950 {monitor}`az monitor log-profiles`: Migrate from codegen V2
  src/azure-cli/azure/cli/command_modules/monitor/_help.py
  src/azure-cli/azure/cli/command_modules/monitor/_params.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/log_profiles/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/log_profiles/__init__.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/log_profiles/_create.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/log_profiles/_delete.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/log_profiles/_list.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/log_profiles/_show.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/log_profiles/_update.py
  src/azure-cli/azure/cli/command_modules/monitor/commands.py
Labels: Auto-Assign

#24770 {RDBMS} Updated firewall-rule create Example
  src/azure-cli/azure/cli/command_modules/rdbms/_helptext_pg.py
Labels: Auto-Assign

#24937 {ServiceBus} `az servicebus queue update`: Add breaking change alert messages
  src/azure-cli/azure/cli/command_modules/servicebus/_params.py
  src/azure-cli/azure/cli/command_modules/servicebus/custom.py
Labels: Service Bus, Auto-Assign

#24981 {AzureSQL} fixes Azure/azure-cli#24980 Fix the Typo in description of --dest-resource-group parameter
  src/azure-cli/azure/cli/command_modules/sql/_params.py
Labels: Auto-Assign

#24991 {CosmosDB} Normalize location in the restorable database API response
  src/azure-cli/azure/cli/command_modules/cosmosdb/custom.py
  src/azure-cli/azure/cli/command_modules/cosmosdb/tests/latest/recordings/test_cosmosdb_deleted_account_restore.yaml
  src/azure-cli/azure/cli/command_modules/cosmosdb/tests/latest/recordings/test_cosmosdb_restore_command.yaml
Labels: Cosmos, Auto-Assign

#24948 [Compute] Fix #24896: `az vm create`: Fix can't create VM from ACG image to other resource group
  src/azure-cli/azure/cli/command_modules/vm/_validators.py
  src/azure-cli/azure/cli/command_modules/vm/_vm_utils.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_create_from_acg_image_to_other_sub.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Auto-Assign

#24986 [AKS] `az aks install-cli`: Automatically add the installation directories to system path on windows
  src/azure-cli/azure/cli/command_modules/acs/custom.py
Labels: AKS, Installation, Auto-Assign

#24813 [Compute] `az vm list`: Add new paramter `--vmss` to support querying VM instances in a specific VMSS
  src/azure-cli/azure/cli/command_modules/vm/_params.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_list_filter.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Auto-Assign
