Repository Azure/azure-cli, pull requests merged in 2023-02, with the labels that each got.

#25217 [RDBMS] `az postgres flexible-server migration`: Change behavior of cancel/cutover and added Offline Flag for FMS based migrations
  src/azure-cli/azure/cli/command_modules/rdbms/_helptext_pg.py
  src/azure-cli/azure/cli/command_modules/rdbms/_params.py
  src/azure-cli/azure/cli/command_modules/rdbms/flexible_server_custom_common.py
Labels: customer-reported, Auto-Assign

#25270 {Keyvault} az keyvault security-domain upload, adding restore-blob to prevent exposing keys in online environment
  src/azure-cli/azure/cli/command_modules/keyvault/_help.py
  src/azure-cli/azure/cli/command_modules/keyvault/_params.py
  src/azure-cli/azure/cli/command_modules/keyvault/commands.py
  src/azure-cli/azure/cli/command_modules/keyvault/custom.py
Labels: KeyVault, Auto-Assign

#25302 [Core] `aaz`: Support singular options of `AAZListArg` in shorthand syntax partial value expression
  src/azure-cli-core/azure/cli/core/aaz/_arg_action.py
  src/azure-cli-core/azure/cli/core/tests/test_aaz_arg.py
Labels: Core, Auto-Assign

#25152 [ARM] `az deployment what-if`: Fix an issue where formatting nested array changes throws an exception
  src/azure-cli/azure/cli/command_modules/resource/_formatters.py
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/test_resource_formatters.py
Labels: ARM, Auto-Assign

#24699 [Backup] `az backup vault`: Add new parameter `--public-network-access` to support enabling public network access for the backup vault
  src/azure-cli/azure/cli/command_modules/backup/_params.py
  src/azure-cli/azure/cli/command_modules/backup/custom.py
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_backup_container.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_backup_item.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_backup_policy.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_backup_protection.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_backup_restore.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_backup_rp.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_backup_scenario.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_unregister_container.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_archive.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_container.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_crr.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_disk_exclusion.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_encryption.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_identity.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_item.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_job.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_policy.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_protection.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_restore.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_restore_when_storage_in_different_rg.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_rg_mapping.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_rp.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_scenario.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_softdelete.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_vault.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_hana_archive.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_hana_container.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_hana_item.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_hana_policy.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_hana_protectable_item.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_hana_protection.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_hana_restore.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_hana_rp.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_sql_archive.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_sql_auto_protection.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_sql_container.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_sql_crr.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_sql_item.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_sql_policy.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_sql_protectable_item.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_sql_protection.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_sql_restore.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_sql_restore_as_files.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_sql_rp.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/test_backup_commands.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: Backup, Auto-Assign

#25145 {Core} Disable aladdin recommendation in autocomplete mode
  src/azure-cli-core/azure/cli/core/command_recommender.py
Labels: Core, Auto-Assign

#25315 [Compute] Fix #25308: `az disk create`: Fix help message for creating a standard disk for uploading blobs
  src/azure-cli/azure/cli/command_modules/vm/_help.py
  src/azure-cli/azure/cli/command_modules/vm/_params.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_trusted_launch_os_disk_secure_upload.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Auto-Assign

#25132 {VM} Fix extension image list-versions example
  src/azure-cli/azure/cli/command_modules/vm/_help.py
Labels: Compute, Auto-Assign

#24901 [App Service] Fix#17720: `az functionapp function`: Add new command to list functions in a function app
  src/azure-cli/azure/cli/command_modules/appservice/_help.py
  src/azure-cli/azure/cli/command_modules/appservice/_params.py
  src/azure-cli/azure/cli/command_modules/appservice/commands.py
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/data/sample_multiple_csx_function_httptrigger/HttpTrigger/function.json
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/data/sample_multiple_csx_function_httptrigger/HttpTrigger/readme.md
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/data/sample_multiple_csx_function_httptrigger/HttpTrigger/run.csx
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/data/sample_multiple_csx_function_httptrigger/HttpTriggerHelloWorld/function.json
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/data/sample_multiple_csx_function_httptrigger/HttpTriggerHelloWorld/readme.md
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/data/sample_multiple_csx_function_httptrigger/HttpTriggerHelloWorld/run.csx
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/data/sample_multiple_csx_function_httptrigger/host.json
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/data/sample_multiple_csx_function_httptrigger/sample-multiple-csx-function-httptrigger.csproj
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/data/sample_multiple_csx_function_httptrigger/sample_multiple_csx_function_httptrigger.zip
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_functionapp_commands.py
Labels: App Services, Auto-Assign

#25031 [App Service] Fix #24285: `az webapp config access-restriction add`: Fix the bug that it does not support more than one Front Door ID in X-Azure-FDID
  src/azure-cli/azure/cli/command_modules/appservice/_help.py
  src/azure-cli/azure/cli/command_modules/appservice/_validators.py
Labels: Web Apps, App Services, Auto-Assign

#25036 {App Service} `az webapp create`, `az functionapp create`, `az webapp vnet-integration add` Move route all to use site property
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
Labels: Web Apps, App Services, Auto-Assign

#25211 {ARO} `az aro`: Bump API version from 2022-04-01 to 2022-09-04
  src/azure-cli-core/azure/cli/core/profiles/_shared.py
  src/azure-cli/azure/cli/command_modules/aro/__init__.py
  src/azure-cli/azure/cli/command_modules/aro/_client_factory.py
  src/azure-cli/azure/cli/command_modules/aro/_format.py
  src/azure-cli/azure/cli/command_modules/aro/_help.py
  src/azure-cli/azure/cli/command_modules/aro/_params.py
  src/azure-cli/azure/cli/command_modules/aro/_validators.py
  src/azure-cli/azure/cli/command_modules/aro/commands.py
  src/azure-cli/azure/cli/command_modules/aro/custom.py
  src/azure-cli/azure/cli/command_modules/aro/tests/latest/recordings/test_aro_create.yaml
  src/azure-cli/azure/cli/command_modules/aro/tests/latest/recordings/test_aro_delete.yaml
  src/azure-cli/azure/cli/command_modules/aro/tests/latest/recordings/test_aro_list.yaml
  src/azure-cli/azure/cli/command_modules/aro/tests/latest/recordings/test_aro_list_credentials.yaml
  src/azure-cli/azure/cli/command_modules/aro/tests/latest/recordings/test_aro_show.yaml
  src/azure-cli/azure/cli/command_modules/aro/tests/latest/recordings/test_aro_update.yaml
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: customer-reported, Installation, Auto-Assign

#25277 [Backup] `az backup vault create`: Add new parameter `--immutability-state` to support configuring immutability settings for the backup vault
  src/azure-cli/azure/cli/command_modules/backup/_params.py
  src/azure-cli/azure/cli/command_modules/backup/custom.py
  src/azure-cli/azure/cli/command_modules/backup/custom_afs.py
  src/azure-cli/azure/cli/command_modules/backup/custom_base.py
  src/azure-cli/azure/cli/command_modules/backup/custom_wl.py
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_vault.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/test_backup_commands.py
Labels: Backup, Auto-Assign

#25293 {ACR} `az acr check-name`: Fix registry commands to loaded with right profile version to support both Azure and Edge
  src/azure-cli/azure/cli/command_modules/acr/_client_factory.py
  src/azure-cli/azure/cli/command_modules/acr/tests/hybrid_2020_09_01/recordings/test_acr_create_webhook.yaml
  src/azure-cli/azure/cli/command_modules/acr/tests/hybrid_2020_09_01/recordings/test_acr_create_with_managed_registry.yaml
  src/azure-cli/azure/cli/command_modules/acr/tests/hybrid_2020_09_01/recordings/test_acr_network_rule.yaml
  src/azure-cli/azure/cli/command_modules/acr/tests/hybrid_2020_09_01/recordings/test_check_name_availability.yaml
  src/azure-cli/azure/cli/command_modules/acr/tests/hybrid_2020_09_01/test_acr_network_rule_commands.py
Labels: Container Registry, Auto-Assign

#25326 [IoT] `az iot hub wait`: Add wait commands
  src/azure-cli/azure/cli/command_modules/iot/_help.py
  src/azure-cli/azure/cli/command_modules/iot/commands.py
  src/azure-cli/azure/cli/command_modules/iot/tests/latest/recordings/test_hub_wait.yaml
  src/azure-cli/azure/cli/command_modules/iot/tests/latest/test_iot_commands.py
Labels: IoT, IoT/CLI, Auto-Assign

#25197 [App Service] Fix #23603: `az functionapp config set`: Add new parameter to set PowerShell version
  src/azure-cli/azure/cli/command_modules/appservice/_params.py
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_powershell_version.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_functionapp_commands.py
Labels: App Services, feature-request, Portal, Auto-Assign

#25230 [PolicyInsights] `az policy attestation`: Add new command groups to manage resource policy attestation
  linter_exclusions.yml
  src/azure-cli/azure/cli/command_modules/policyinsights/__init__.py
  src/azure-cli/azure/cli/command_modules/policyinsights/_actions.py
  src/azure-cli/azure/cli/command_modules/policyinsights/_help.py
  src/azure-cli/azure/cli/command_modules/policyinsights/_params.py
  src/azure-cli/azure/cli/command_modules/policyinsights/aaz/__init__.py
  src/azure-cli/azure/cli/command_modules/policyinsights/aaz/latest/__init__.py
  src/azure-cli/azure/cli/command_modules/policyinsights/aaz/latest/policy_insights/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/policyinsights/aaz/latest/policy_insights/__init__.py
  src/azure-cli/azure/cli/command_modules/policyinsights/aaz/latest/policy_insights/attestation/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/policyinsights/aaz/latest/policy_insights/attestation/__init__.py
  src/azure-cli/azure/cli/command_modules/policyinsights/aaz/latest/policy_insights/attestation/_create.py
  src/azure-cli/azure/cli/command_modules/policyinsights/aaz/latest/policy_insights/attestation/_create_by_rg.py
  src/azure-cli/azure/cli/command_modules/policyinsights/aaz/latest/policy_insights/attestation/_create_by_subscription.py
  src/azure-cli/azure/cli/command_modules/policyinsights/aaz/latest/policy_insights/attestation/_delete.py
  src/azure-cli/azure/cli/command_modules/policyinsights/aaz/latest/policy_insights/attestation/_delete_by_rg.py
  src/azure-cli/azure/cli/command_modules/policyinsights/aaz/latest/policy_insights/attestation/_delete_by_subscription.py
  src/azure-cli/azure/cli/command_modules/policyinsights/aaz/latest/policy_insights/attestation/_list.py
  src/azure-cli/azure/cli/command_modules/policyinsights/aaz/latest/policy_insights/attestation/_show.py
  src/azure-cli/azure/cli/command_modules/policyinsights/aaz/latest/policy_insights/attestation/_show_by_rg.py
  src/azure-cli/azure/cli/command_modules/policyinsights/aaz/latest/policy_insights/attestation/_show_by_subscription.py
  src/azure-cli/azure/cli/command_modules/policyinsights/aaz/latest/policy_insights/attestation/_update.py
  src/azure-cli/azure/cli/command_modules/policyinsights/aaz/latest/policy_insights/attestation/_update_by_rg.py
  src/azure-cli/azure/cli/command_modules/policyinsights/aaz/latest/policy_insights/attestation/_update_by_subscription.py
  src/azure-cli/azure/cli/command_modules/policyinsights/commands.py
  src/azure-cli/azure/cli/command_modules/policyinsights/custom.py
  src/azure-cli/azure/cli/command_modules/policyinsights/operations/AttestationList.py
  src/azure-cli/azure/cli/command_modules/policyinsights/operations/__init__.py
  src/azure-cli/azure/cli/command_modules/policyinsights/tests/latest/recordings/test_policy_attestation.yaml
  src/azure-cli/azure/cli/command_modules/policyinsights/tests/latest/test_policyinsights_scenario.py
  src/azure-cli/azure/cli/command_modules/policyinsights/tests/latest/test_utils.py
Labels: ARM, Auto-Assign

#25317 {Network} `az network cross-region-lb address-pool`: Migrate to Codegen V2
  src/azure-cli/azure/cli/command_modules/network/_help.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/cross_region_lb/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/cross_region_lb/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/cross_region_lb/address_pool/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/cross_region_lb/address_pool/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/cross_region_lb/address_pool/_create.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/cross_region_lb/address_pool/_delete.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/cross_region_lb/address_pool/_list.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/cross_region_lb/address_pool/_show.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/cross_region_lb/address_pool/_update.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/cross_region_lb/address_pool/_wait.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/cross_region_lb/address_pool/address/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/cross_region_lb/address_pool/address/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/cross_region_lb/address_pool/address/_add.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/cross_region_lb/address_pool/address/_list.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/cross_region_lb/address_pool/address/_remove.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/cross_region_lb/address_pool/address/_show.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/cross_region_lb/address_pool/address/_update.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/cross_region_lb/address_pool/address/_wait.py
  src/azure-cli/azure/cli/command_modules/network/commands.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/operations/load_balancer.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_cross_region_lb_address_pool.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_cross_region_lb_address_pool_addresses.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_cross_region_lb_rules.yaml
Labels: Network, Auto-Assign

#25322 {Network} `az network application-gateway routing-rule/rule`: Migrate commands to codegen v2
  src/azure-cli/azure/cli/command_modules/network/_params.py
  src/azure-cli/azure/cli/command_modules/network/_validators.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/routing_rule/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/routing_rule/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/routing_rule/_create.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/routing_rule/_delete.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/routing_rule/_list.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/routing_rule/_show.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/routing_rule/_update.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/routing_rule/_wait.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/rule/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/rule/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/rule/_create.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/rule/_delete.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/rule/_list.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/rule/_show.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/rule/_update.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/rule/_wait.py
  src/azure-cli/azure/cli/command_modules/network/commands.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_ag_rule_default_exists.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_ag_with_non_v2_sku.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_appgw_with_tcp.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_routing_rule.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_rule.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Labels: Network, Auto-Assign

#25333 [Compute] `az vmss create`: Add new parameter `--max-surge` to support enabling rolling upgrade policy max surge
  src/azure-cli/azure/cli/command_modules/vm/_params.py
  src/azure-cli/azure/cli/command_modules/vm/_template_builder.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_with_max_surge.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Auto-Assign

#24999 [AKS] Mark AAD-legacy properties deprecated
  src/azure-cli/azure/cli/command_modules/acs/_help.py
  src/azure-cli/azure/cli/command_modules/acs/_params.py
Labels: AKS, Auto-Assign

#25328 [SQL] `az sql db geo/ltr-backup restore`: Add service objective parameter to ltr restore and geo restore
  src/azure-cli/azure/cli/command_modules/sql/_params.py
  src/azure-cli/azure/cli/command_modules/sql/custom.py
Labels: SQL, Backup, Auto-Assign

#25338 {RDBMS} Update firewall rule name description to clarify constraints
  src/azure-cli/azure/cli/command_modules/rdbms/_params.py
  src/azure-cli/azure/cli/command_modules/rdbms/validators.py
Labels: Auto-Assign

#24985 [App Service] `az webapp config appsettings` settings are registered as Deployment slot setting anytime when using `--slot-settings`
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_update_webapp_settings_thru_json.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_webapp_commands.py
Labels: Web Apps, App Services, customer-reported, Auto-Assign

#25171 [App Service] `az webapp config backup delete`: Add new command to delete a backup of the webapp
  src/azure-cli/azure/cli/command_modules/appservice/_help.py
  src/azure-cli/azure/cli/command_modules/appservice/_params.py
  src/azure-cli/azure/cli/command_modules/appservice/commands.py
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
Labels: Web Apps, Backup, Auto-Assign

#25344 {ServiceBus} Change expiration version to next breaking change window
  .github/CODEOWNERS
  src/azure-cli/azure/cli/command_modules/servicebus/_params.py
  src/azure-cli/azure/cli/command_modules/servicebus/custom.py
Labels: Service Bus, Auto-Assign

#25294 [ACR] `az acr token`: Remove 'preview' flag from Tokens and Scope-Maps commands
  src/azure-cli/azure/cli/command_modules/acr/commands.py
Labels: Container Registry, Auto-Assign

#25347 {App Service} `az webapp config backup delete`: Tests for delete backup by id
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_config_backup_delete.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_webapp_commands.py
Labels: Web Apps, App Services, Backup, Auto-Assign

#25353 [ACR] `az acr manifest`: Support oci image index
  src/azure-cli/azure/cli/command_modules/acr/_docker_utils.py
Labels: Container Registry, Auto-Assign

#25360 {Network} `az network lb address-pool`: Migrate to CodeGen V2
  src/azure-cli/azure/cli/command_modules/network/_help.py
  src/azure-cli/azure/cli/command_modules/network/_params.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/lb/address_pool/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/lb/address_pool/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/lb/address_pool/_create.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/lb/address_pool/_delete.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/lb/address_pool/_list.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/lb/address_pool/_show.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/lb/address_pool/_update.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/lb/address_pool/_wait.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/lb/address_pool/address/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/lb/address_pool/address/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/lb/address_pool/address/_add.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/lb/address_pool/address/_list.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/lb/address_pool/address/_remove.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/lb/address_pool/address/_show.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/lb/address_pool/address/_update.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/lb/address_pool/address/_wait.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/lb/address_pool/basic/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/lb/address_pool/basic/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/lb/address_pool/basic/_create.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/lb/address_pool/basic/_delete.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/lb/address_pool/tunnel_interface/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/lb/address_pool/tunnel_interface/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/lb/address_pool/tunnel_interface/_add.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/lb/address_pool/tunnel_interface/_list.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/lb/address_pool/tunnel_interface/_remove.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/lb/address_pool/tunnel_interface/_show.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/lb/address_pool/tunnel_interface/_update.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/lb/address_pool/tunnel_interface/_wait.py
  src/azure-cli/azure/cli/command_modules/network/commands.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/operations/load_balancer.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_cross_region_lb_address_pool.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_cross_region_lb_address_pool_addresses.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_cross_region_lb_rules.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_lb_address_pool.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_lb_address_pool_addresses.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_lb_port_mapping.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_lb_rule_backend_address_pools.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_lb_rules.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_lb_tunnel_interface.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_nic.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_nic_app_gateway.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_nic_lb_address_pools.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_nic_subresources.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Labels: Network, Auto-Assign

#25369 {AKS} `az aks nodepool update`: Add doc line on how to delete node taints
  src/azure-cli/azure/cli/command_modules/acs/_help.py
Labels: AKS, Auto-Assign

#25296 {Core} Add linux distribution info in telemetry
  src/azure-cli-core/azure/cli/core/telemetry.py
  src/azure-cli-core/setup.py
Labels: Core, Auto-Assign

#25387 [Network] `az network nsg rule list`: Fix `-o table` cannot be used
  src/azure-cli/azure/cli/command_modules/network/_format.py
Labels: Network, Auto-Assign

#25370 {CI} Make .flake8 compatible with Flake8 6.0.0
  .flake8
Labels: Redis Cache, CI, Auto-Assign

#25371 {Packaging} Bump packaging to 23.0
  src/azure-cli-core/setup.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: Packaging, Auto-Assign

#25395 [SqlVM] `az sql vm create/update`: Deprecate `--sql-mgmt-type` argument
  src/azure-cli/azure/cli/command_modules/sqlvm/_params.py
Labels: SQL, Auto-Assign

#25332 [RDBMS] `az postgres flexible-server migration`: Use Cloud supplied URL's rather than hardcoded management URL's
  src/azure-cli/azure/cli/command_modules/rdbms/flexible_server_custom_common.py
Labels: customer-reported, Auto-Assign

#25119 [Packaging] Remove openssl1.1-compat and use openssl-dev in docker image
  Dockerfile
Labels: Packaging, Auto-Assign

#25314 {Network} `az network vnet-gateway packet-capture/vpn-client`: Migrate to atomic commands
  src/azure-cli/azure/cli/command_modules/network/_actions.py
  src/azure-cli/azure/cli/command_modules/network/_params.py
  src/azure-cli/azure/cli/command_modules/network/_validators.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/vnet_gateway/packet_capture/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/vnet_gateway/packet_capture/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/vnet_gateway/packet_capture/_start.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/vnet_gateway/packet_capture/_stop.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/vnet_gateway/vpn_client/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/vnet_gateway/vpn_client/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/vnet_gateway/vpn_client/_generate.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/vnet_gateway/vpn_client/_generate_vpn_profile.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/vnet_gateway/vpn_client/_show_health.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/vnet_gateway/vpn_client/_show_url.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/vnet_gateway/vpn_client/ipsec_policy/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/vnet_gateway/vpn_client/ipsec_policy/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/vnet_gateway/vpn_client/ipsec_policy/_set.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/vnet_gateway/vpn_client/ipsec_policy/_show.py
  src/azure-cli/azure/cli/command_modules/network/commands.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_vpn_gateway_package_capture.yaml
Labels: Network, Auto-Assign

#25388 {Network} `az network nsg rule list`: Fix `-o table` cannot be used
  src/azure-cli/azure/cli/command_modules/network/_format.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_nsg.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Labels: Network, Auto-Assign

#25374 [App Service] `az webapp deleted restore`: Add new parameter `--target-app-svc-plan` to support setting app service plan for new azure web app
  src/azure-cli/azure/cli/command_modules/appservice/_params.py
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_deleted_restore_to_existing_site.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_deleted_restore_to_non_existent_site.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_deleted_restore_to_non_existent_site_fails_when_asp_argument_is_not_provided_or_does_not_exist.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_webapp_commands.py
  src/azure-cli/azure/cli/command_modules/appservice/utils.py
Labels: Web Apps, App Services, Auto-Assign

#25419 {CI} Fix live test: Lock pytest-rerunfailures to 11.0
  scripts/live_test/CLITest.yml
Labels: CI, Auto-Assign

#25400 {Compute} Fix #25088: Fix a paging bug in VM
  src/azure-cli/azure/cli/command_modules/vm/custom.py
Labels: Compute, Auto-Assign

#25382 {Storage} Fix #25125: `az storage account`: Update help for `--access-tier`
  src/azure-cli/azure/cli/command_modules/storage/__init__.py
Labels: Account, Storage, Auto-Assign

#25405 {Network} `az network application-gateway private-link`: Migrate commands to codegen v2
  src/azure-cli/azure/cli/command_modules/network/_client_factory.py
  src/azure-cli/azure/cli/command_modules/network/_params.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/private_link/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/private_link/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/private_link/_add.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/private_link/_list.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/private_link/_remove.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/private_link/_show.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/private_link/_wait.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/private_link/ip_config/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/private_link/ip_config/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/private_link/ip_config/_add.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/private_link/ip_config/_list.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/private_link/ip_config/_remove.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/private_link/ip_config/_show.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/private_link/ip_config/_wait.py
  src/azure-cli/azure/cli/command_modules/network/commands.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_manage_appgw_private_endpoint.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_manage_appgw_private_endpoint_without_standard.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_private_link_ip_config.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_private_endpoint_commands.py
Labels: Network, Auto-Assign

#25349 {RDBMS} `az mysql flexible-server create/update`: Change auto_scale_iops parameter validation logic
  src/azure-cli/azure/cli/command_modules/rdbms/flexible_server_custom_mysql.py
  src/azure-cli/azure/cli/command_modules/rdbms/validators.py
Labels: Auto-Assign

#24180 [Packaging] Support ARM64 on Linux
  .azure-pipelines/templates/variables.yml
  azure-pipelines.yml
  scripts/ci/install_docker.sh
  scripts/release/debian/build.sh
  scripts/release/debian/deb_install.sh
  scripts/release/debian/prepare.sh
  scripts/release/debian/test_deb_in_docker.sh
  scripts/release/rpm/azure-cli.spec
  scripts/release/rpm/fedora.dockerfile
  scripts/release/rpm/mariner.dockerfile
  scripts/release/rpm/pipeline.sh
  scripts/release/rpm/pipeline_mariner.sh
  scripts/release/rpm/ubi.dockerfile
Labels: Packaging, Auto-Assign

#25438 {Packaging} Bump Python version to 3.10.10
  build_scripts/windows/scripts/build.cmd
  scripts/release/debian/Dockerfile
  scripts/release/debian/build.sh
Labels: Packaging, Auto-Assign

#25356 {Packaging} Bump OAuthLib to 3.2.2
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
Labels: Packaging, Auto-Assign

#25441 {CI} Move CLI command test coverage config to azure-cli repo
  scripts/ci/cmdcov.yml
Labels: CI, Auto-Assign

#25418 {Identity} `az identity`: Upgrade api-version 2023-01-31 for managed identity
  scripts/ci/credscan/CredScanSuppressions.json
  src/azure-cli-core/azure/cli/core/profiles/_shared.py
  src/azure-cli/azure/cli/command_modules/acr/tests/latest/recordings/test_acr_encryption_with_cmk.yaml
  src/azure-cli/azure/cli/command_modules/acr/tests/latest/recordings/test_acr_identity.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_control_plane_user_assigned_identity.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_with_SP_then_update_to_user_assigned_identity.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_private_dns_zone.yaml
  src/azure-cli/azure/cli/command_modules/ams/tests/latest/recordings/test_ams_add_user_identity.yaml
  src/azure-cli/azure/cli/command_modules/appconfig/tests/latest/recordings/test_azconfig_identity.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_assign_user_identity.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_remove_identity.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_encryption.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_identity.yaml
  src/azure-cli/azure/cli/command_modules/batch/tests/latest/recordings/test_batch_managed_identity_cmd.yaml
  src/azure-cli/azure/cli/command_modules/botservice/tests/latest/recordings/test_botservice_registration_bot_create_userassignedmsi_type.yaml
  src/azure-cli/azure/cli/command_modules/container/tests/latest/recordings/test_container_create_with_msi.yaml
  src/azure-cli/azure/cli/command_modules/container/tests/latest/recordings/test_container_export_with_identity.yaml
  src/azure-cli/azure/cli/command_modules/eventhubs/tests/latest/recordings/test_eh_namespace_encryption.yaml
  src/azure-cli/azure/cli/command_modules/eventhubs/tests/latest/recordings/test_eh_namespace_msi.yaml
  src/azure-cli/azure/cli/command_modules/identity/_client_factory.py
  src/azure-cli/azure/cli/command_modules/identity/_help.py
  src/azure-cli/azure/cli/command_modules/identity/commands.py
  src/azure-cli/azure/cli/command_modules/identity/custom.py
  src/azure-cli/azure/cli/command_modules/identity/tests/latest/recordings/test_federated_identity_credential.yaml
  src/azure-cli/azure/cli/command_modules/identity/tests/latest/recordings/test_identity_management.yaml
  src/azure-cli/azure/cli/command_modules/iot/tests/latest/recordings/test_hub_file_upload.yaml
  src/azure-cli/azure/cli/command_modules/iot/tests/latest/recordings/test_identity_hub.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_with_cert_name.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_with_identity.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_express_route_port.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_mysql_flexible_server_byok_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_mysql_flexible_server_identity_aad_admin_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_flexible_server_byok_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgresql_flexible_server_identity_aad_admin_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgresql_flexible_server_identity_aad_admin_only_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/recordings/test_resource_policy_identity_userassigned.yaml
  src/azure-cli/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_namespace_encryption.yaml
  src/azure-cli/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_namespace_msi.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_defer_only_commands.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_disk_encryption_set_identity.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_guest_attestation_extension_and_msi.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_image_build_identity.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_image_build_managed_image.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_image_build_shared_image.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_image_builder_basic.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_image_builder_basic_sig.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_image_builder_cancel.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_image_builder_customizers.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_image_builder_template_validator.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_image_builder_vm_profile.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_image_template_outputs.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_explicit_msi.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_explicit_msi.yaml
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: Managed Identity, Auto-Assign

#25453 [AKS] `az aks check-acr`: Fix mariner node missing cert
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
Labels: Container Registry, AKS, Auto-Assign

#25462 {Storage} `az storage account failover`: Remove prompt for planned failover
  src/azure-cli/azure/cli/command_modules/storage/_params.py
  src/azure-cli/azure/cli/command_modules/storage/commands.py
  src/azure-cli/azure/cli/command_modules/storage/operations/account.py
Labels: Account, Storage, Auto-Assign

#25478 {Network} `az network vpn-connection`: Migrate to atomic commands
  src/azure-cli/azure/cli/command_modules/network/_client_factory.py
  src/azure-cli/azure/cli/command_modules/network/_format.py
  src/azure-cli/azure/cli/command_modules/network/_params.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/vpn_connection/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/vpn_connection/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/vpn_connection/_delete.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/vpn_connection/_list.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/vpn_connection/_list_connection.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/vpn_connection/_list_ike_sas.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/vpn_connection/_show.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/vpn_connection/_show_device_config_script.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/vpn_connection/_update.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/vpn_connection/_wait.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/vpn_connection/ipsec_policy/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/vpn_connection/ipsec_policy/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/vpn_connection/ipsec_policy/_add.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/vpn_connection/ipsec_policy/_list.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/vpn_connection/ipsec_policy/_wait.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/vpn_connection/packet_capture/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/vpn_connection/packet_capture/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/vpn_connection/packet_capture/_start.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/vpn_connection/packet_capture/_stop.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/vpn_connection/shared_key/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/vpn_connection/shared_key/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/vpn_connection/shared_key/_create.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/vpn_connection/shared_key/_reset.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/vpn_connection/shared_key/_show.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/vpn_connection/shared_key/_update.py
  src/azure-cli/azure/cli/command_modules/network/commands.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_active_active_cross_premise_connection.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_vpn_connection_ipsec.yaml
Labels: Network, Auto-Assign

#25436 {Network} `az network watcher` and `az network watcher connection-monitor `: Migrate to CodeGen V2
  src/azure-cli/azure/cli/command_modules/network/_help.py
  src/azure-cli/azure/cli/command_modules/network/_params.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/watcher/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/watcher/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/watcher/_list.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/watcher/connection_monitor/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/watcher/connection_monitor/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/watcher/connection_monitor/_delete.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/watcher/connection_monitor/_list.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/watcher/connection_monitor/_query.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/watcher/connection_monitor/_show.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/watcher/connection_monitor/_start.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/watcher/connection_monitor/_stop.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/watcher/connection_monitor/_wait.py
  src/azure-cli/azure/cli/command_modules/network/commands.py
  src/azure-cli/azure/cli/command_modules/network/operations/watcher.py
Labels: Network, Auto-Assign

#25495 {CI} Update appservice routing rules
  .github/fabricbot.json
Labels: CI, Auto-Assign

#25489 [Network] `az network private-endpoint-connection`: Add Provider Microsoft.Monitor/Accounts
  src/azure-cli/azure/cli/command_modules/network/private_link_resource_and_endpoint_connections/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_private_link_endpoint_monitor_accounts_registry.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_private_endpoint_commands.py
Labels: Network, Auto-Assign

#25439 {Service Connector} `az webapp connection create sql`: auto install extension `serviceconnector-passwordless`
  src/azure-cli/azure/cli/command_modules/serviceconnector/_credential_free.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/_utils.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/custom.py
Labels: Web Apps, SQL, Installation, Auto-Assign

#25477 [Compute] `az vmss reimage`: Fix the bug that all instances will be reimaged after using `--instance-id`
  src/azure-cli/azure/cli/command_modules/vm/_help.py
  src/azure-cli/azure/cli/command_modules/vm/_params.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_reimage.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_reimage_instance_id.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Auto-Assign

#25493 [Network] `az network express-route gateway connection create/update`: Add parameters `--inbound-route-map` and `--outbound-route-map` to support route map
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/express_route/gateway/connection/_create.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/express_route/gateway/connection/_delete.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/express_route/gateway/connection/_list.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/express_route/gateway/connection/_show.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/express_route/gateway/connection/_update.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/express_route/gateway/connection/_wait.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_express_route_gateway_connection_inbound_outbound_routemap.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Labels: Network, Auto-Assign

#25520 {Network} `az network watcher`: Migrate commands to codegen v2
  src/azure-cli/azure/cli/command_modules/network/_params.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/watcher/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/watcher/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/watcher/_create.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/watcher/_delete.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/watcher/_show_next_hop.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/watcher/_show_security_group_view.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/watcher/_test_ip_flow.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/watcher/_update.py
  src/azure-cli/azure/cli/command_modules/network/commands.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/operations/watcher.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_watcher_flow_log2.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_watcher_vm.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Labels: Network, Auto-Assign

#25407 {ACR} Fix: `az acr login` Add missing command text to log output
  src/azure-cli/azure/cli/command_modules/acr/custom.py
Labels: Container Registry, Auto-Assign

#25501 {AKS} update test_aks_nodepool_snapshot recording test
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_nodepool_snapshot.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
Labels: AKS, Auto-Assign

#25461 [ARM] `az bicep publish`: Update command to support new optional parameter `--documentationUri`
  src/azure-cli/azure/cli/command_modules/resource/_help.py
  src/azure-cli/azure/cli/command_modules/resource/_params.py
  src/azure-cli/azure/cli/command_modules/resource/custom.py
Labels: ARM, Auto-Assign

#25537 {Network} Decouple with `virtual-wan` bump API version
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Labels: Network, Auto-Assign

#25541 [ARM] Fix #25510: `az bicep`: Set bicep.use_binary_from_path to false when installed using Azure CLI
  src/azure-cli/azure/cli/command_modules/resource/_bicep.py
  src/azure-cli/azure/cli/command_modules/resource/custom.py
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/test_resource_bicep.py
Labels: bug, ARM, Auto-Assign

#25526 [AKS] Fix #25521: `az aks nodepool upgrade` crashes when the version passed in through the parameter `--kubernetes-version` is the same as the cluster version
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
Labels: AKS, Auto-Assign

#25544 {Packaging} Bump cryptography to 39.0.1 and pyOpenSSL to 23.0.0
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
Labels: customer-reported

#24755 {Role} `az role assignment create`: Show warning if `--scope` argument is not specified
  src/azure-cli/azure/cli/command_modules/role/_help.py
  src/azure-cli/azure/cli/command_modules/role/custom.py
Labels: RBAC, Auto-Assign

#25515 [Service Connector] `az connection create`: Add new param `--customized-keys`
  src/azure-cli/azure/cli/command_modules/serviceconnector/_params.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/action.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/custom.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_local_appconfig_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_local_confluentkafka_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_webapp_appconfig_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_webapp_confluentkafka_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/test_local_connection_scenario.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/test_webpp_connection_scenario.py
Labels: Auto-Assign

#25331 {EventHubs} `az eventhubs eventhub`: Add deprecation message to `--message-retention-in-days`
  src/azure-cli/azure/cli/command_modules/eventhubs/_params.py
  src/azure-cli/azure/cli/command_modules/eventhubs/custom.py
Labels: Auto-Assign

#25548 {Network} `az network watcher`: Migrate commands to codegen v2
  src/azure-cli/azure/cli/command_modules/network/_params.py
  src/azure-cli/azure/cli/command_modules/network/_validators.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/watcher/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/watcher/_run_configuration_diagnostic.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/watcher/_show_topology.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/watcher/_test_connectivity.py
  src/azure-cli/azure/cli/command_modules/network/commands.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/operations/watcher.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_watcher_vm.yaml
Labels: Network, Auto-Assign

#25480 {Synapse} Update artifact version to 0.15.0
  src/azure-cli/azure/cli/command_modules/synapse/manual/operations/artifacts.py
  src/azure-cli/azure/cli/command_modules/synapse/tests/latest/recordings/test_link_connection.yaml
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: Synapse, Auto-Assign

#25531 [SQL] `az sql instance-failover-group`: Add `--secondary-type` parameter to create and update commands
  src/azure-cli/azure/cli/command_modules/sql/_params.py
  src/azure-cli/azure/cli/command_modules/sql/custom.py
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/recordings/test_sql_instance_failover_group_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/test_sql_commands.py
Labels: SQL, Auto-Assign

#25507 {CI} Support azure client tools bot
  .azure-pipelines/templates/automation_test.yml
  .github/azure-client-tools-bot/config.yml
  .github/azure-client-tools-bot/templates/PRComment.handlebars
  azure-pipelines-full-tests.yml
  scripts/ci/automation_full_test.py
Labels: CI, Auto-Assign

#25561 [Storage] Fix #25305: `az storage blob copy start-batch`: Add `--destination-blob-type` and `--tier`
  src/azure-cli/azure/cli/command_modules/storage/_params.py
  src/azure-cli/azure/cli/command_modules/storage/operations/blob.py
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/test_storage_blob_copy_scenarios.py
Labels: Storage, Batch, Auto-Assign

#25519 [SQL] `az sql midb restore`: Add tags parameter
  src/azure-cli/azure/cli/command_modules/sql/_params.py
Labels: SQL, Auto-Assign

#25514 [Storage] Fix #25402: `az storage account network-rule`: Support adding and removing multiple IPs
  src/azure-cli/azure/cli/command_modules/storage/_params.py
  src/azure-cli/azure/cli/command_modules/storage/_params_azure_stack.py
  src/azure-cli/azure/cli/command_modules/storage/_validators.py
  src/azure-cli/azure/cli/command_modules/storage/operations/account.py
  src/azure-cli/azure/cli/command_modules/storage/tests/hybrid_2019_03_01/recordings/test_storage_account_service_endpoints.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/hybrid_2020_09_01/recordings/test_storage_account_service_endpoints.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_account_service_endpoints.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/test_storage_account_scenarios.py
Labels: Account, Storage, Network, Auto-Assign

#25591 [SQL] `az sql mi create/update`: Add `--zone-redundant` to support zone redundancy
  src/azure-cli/azure/cli/command_modules/sql/_help.py
  src/azure-cli/azure/cli/command_modules/sql/_params.py
  src/azure-cli/azure/cli/command_modules/sql/custom.py
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/recordings/test_sql_mi_zone_redundancy.yaml
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/test_sql_commands.py
Labels: SQL, Auto-Assign

#25456 [Sqlvm] `az sql vm update`: Update no longer requires the mode to be sent as full
  src/azure-cli/azure/cli/command_modules/sqlvm/_params.py
Labels: SQL, SQL - VM, Auto-Assign

#25592 {Storage} Fix #25563: `az storage blob copy start`: Enable to use `--auth-mode login` when converting blob type
  src/azure-cli/azure/cli/command_modules/storage/operations/blob.py
Labels: Storage, Auto-Assign

#25589 {Network} `az network watcher packet-capture`: Migrate commands to codegen v2
  src/azure-cli/azure/cli/command_modules/network/_client_factory.py
  src/azure-cli/azure/cli/command_modules/network/_params.py
  src/azure-cli/azure/cli/command_modules/network/_validators.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/watcher/packet_capture/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/watcher/packet_capture/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/watcher/packet_capture/_create.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/watcher/packet_capture/_delete.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/watcher/packet_capture/_list.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/watcher/packet_capture/_show.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/watcher/packet_capture/_show_status.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/watcher/packet_capture/_stop.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/watcher/packet_capture/_wait.py
  src/azure-cli/azure/cli/command_modules/network/commands.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/operations/watcher.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_watcher_packet_capture.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_watcher_packet_capture_vmss_as_target.yaml
Labels: Network, Auto-Assign

#25562 [Network] Fix #25408: `az network application-gateway rule create`: Creation fails with `--redirect-config` when there are multiple pools
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_ag_rule_default_exists.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Labels: Network, Auto-Assign

#25593 {Synapse} Update managed private endpoints version to 0.4.0
  src/azure-cli/azure/cli/command_modules/synapse/manual/_client_factory.py
  src/azure-cli/azure/cli/command_modules/synapse/tests/latest/assets/managedprivateendpoints.json
  src/azure-cli/azure/cli/command_modules/synapse/tests/latest/recordings/test_managed_private_endpoints.yaml
  src/azure-cli/azure/cli/command_modules/synapse/tests/latest/test_synapse_scenario.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: Synapse, Auto-Assign

#25096 [ACR] New command groups cache and credential-set
  src/azure-cli-core/azure/cli/core/profiles/_shared.py
  src/azure-cli/azure/cli/command_modules/acr/_client_factory.py
  src/azure-cli/azure/cli/command_modules/acr/_help.py
  src/azure-cli/azure/cli/command_modules/acr/_params.py
  src/azure-cli/azure/cli/command_modules/acr/cache.py
  src/azure-cli/azure/cli/command_modules/acr/commands.py
  src/azure-cli/azure/cli/command_modules/acr/credential_set.py
  src/azure-cli/azure/cli/command_modules/acr/policy.py
  src/azure-cli/azure/cli/command_modules/acr/tests/latest/recordings/test_acr_cache.yaml
  src/azure-cli/azure/cli/command_modules/acr/tests/latest/test_acr_commands.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: Container Registry, Auto-Assign

#25565 {Network} `az network nic ip-config update`: All IP configurations must belong to the same ASGs
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/nic/ip_config/_update.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_multiple_ipconfigs_update_with_asg.yaml
Labels: Network, Auto-Assign
