Repository Azure/azure-cli, pull requests merged in 2023-08, with the labels that each got.

#27049 {CI} Fix E231 missing whitespace after ','
  src/azure-cli-core/azure/cli/core/commands/command_operation.py
  src/azure-cli-core/azure/cli/core/profiles/__init__.py
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/cognitiveservices/commands.py
  src/azure-cli/azure/cli/command_modules/cognitiveservices/custom.py
  src/azure-cli/azure/cli/command_modules/keyvault/custom.py
  src/azure-cli/azure/cli/command_modules/rdbms/flexible_server_custom_postgres.py
  src/azure-cli/azure/cli/command_modules/servicebus/_params.py
  src/azure-cli/azure/cli/command_modules/vm/_validators.py
Labels: CI, Auto-Assign

#27046 {CI} Add branch detection to reject PR whose target branch is main
  azure-pipelines.yml
Labels: CI, Auto-Assign

#26991 {Compute} Change `KeyVaultClient` to `CertificateClient` in vm module
  src/azure-cli/azure/cli/command_modules/vm/_vm_utils.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/disk_encryption.py
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2018_03_01/recordings/test_vm_disk_encryption_e2e.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2018_03_01/recordings/test_vm_secret_e2e_test.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2018_03_01/test_vm_commands.py
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2019_03_01/recordings/test_vm_disk_encryption_e2e.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2019_03_01/recordings/test_vm_secret_e2e_test.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2019_03_01/test_vm_commands.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_disk_encryption_e2e.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_secret_e2e_test.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_disk_encryption_e2e.yaml
Labels: Compute, Auto-Assign

#27051 {CI} Fix codegen report
  azure-pipelines.yml
Labels: CI, Auto-Assign

#27048 [Storage] BREAKING CHANGE: `az storage account create`: Server change default value for `--allow-blob-public-access` and `--allow-cross-tenant-replication` to `False`
  src/azure-cli/azure/cli/command_modules/storage/_params.py
  src/azure-cli/azure/cli/command_modules/storage/_validators.py
Labels: Account, Storage, Auto-Assign

#27063 [Network] `az network private-endpoint-connection`: Add provider `Microsoft.EventGrid/namespaces` and `Microsoft.EventGrid/partnerNamespaces`
  src/azure-cli/azure/cli/command_modules/network/private_link_resource_and_endpoint_connections/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_private_endpoint_connection_event_grid_namespaces.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_private_endpoint_connection_event_grid_partner_namespaces.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_private_link_resource_event_grid.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_private_endpoint_commands.py
Labels: Network, Event Grid, Auto-Assign

#26782 {CI} Live test optimize
  .azure-pipelines/templates/variables.yml
  scripts/live_test/CLITest.yml
  scripts/live_test/clean.py
  scripts/live_test/generate_index.py
  scripts/live_test/monitor.py
  scripts/live_test/sendemail.py
Labels: CI, Auto-Assign

#27081 {PostgreSQL} Remove failing test to unblock CI pipeline
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_flexible_server_private_revivedropped_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/test_rdbms_flexible_commands.py
Labels: CI, Auto-Assign

#27076 [Network] Fix #27066: `az network vnet list`: Fix -o table cannot be used
  src/azure-cli/azure/cli/command_modules/network/_format.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_vnet.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Labels: Network, Auto-Assign

#27032 {AKS} `az aks create/update`: Update logic to sanitize cluster name for DC* objects
  src/azure-cli/azure/cli/command_modules/acs/azuremonitormetrics/dc/defaults.py
  src/azure-cli/azure/cli/command_modules/acs/azuremonitormetrics/dc/tests/__init__.py
  src/azure-cli/azure/cli/command_modules/acs/azuremonitormetrics/dc/tests/test_defaults.py
Labels: AKS, Auto-Assign

#27019 [AKS] `az aks create/update`: Add new parameter `--enable-vpa` to support enabling vertical pod autoscaler for cluster
  src/azure-cli/azure/cli/command_modules/acs/_help.py
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/managed_cluster_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_with_vpa.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_update_with_vpa.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
Labels: AKS, Auto-Assign

#27060 [AKS] `az aks update`: Add `--network-dataplane` option
  src/azure-cli/azure/cli/command_modules/acs/_help.py
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/managed_cluster_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_migrate_cluster_to_cilium_dataplane.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_managed_cluster_decorator.py
Labels: AKS, Auto-Assign

#27083 {core} `aaz`: Support to parse discriminator keys which may contain special '.' character
  src/azure-cli-core/azure/cli/core/aaz/_content_builder.py
  src/azure-cli-core/azure/cli/core/tests/test_aaz_content_builder.py
Labels: Core, Auto-Assign

#27074 {Packaging} Pin Homebrew formula temporally
  scripts/release/homebrew/docker/formula_generate.py
Labels: Packaging, Auto-Assign

#27101 {Service Connector}: add error message for invalid source resource id
  src/azure-cli/azure/cli/command_modules/serviceconnector/_validators.py
Labels: ARM, Auto-Assign

#27075 [Compute] `az vmss create/update`: Add `--enable-hibernation` parameter to enable hibernation capability on VMSS
  src/azure-cli/azure/cli/command_modules/vm/_params.py
  src/azure-cli/azure/cli/command_modules/vm/_template_builder.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_create_and_modify.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_update.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Auto-Assign

#27105 {CI} Fix enable traceback in azure cli fulltest.
  scripts/ci/automation_full_test.py
Labels: CI, Auto-Assign

#27082 [Compute] `az vmss update`: Add `--security-type` parameter to enable Trusted Launch on existing VMSS
  src/azure-cli/azure/cli/command_modules/vm/_params.py
  src/azure-cli/azure/cli/command_modules/vm/_vm_utils.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_update_image.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_update_security_type.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Auto-Assign

#27106 [Compute] `az vmss deallocate`: Add `--hibernate` parameter to support hibernating a VM while deallocating
  src/azure-cli/azure/cli/command_modules/vm/_params.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_create_and_modify.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_hibernate.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Auto-Assign

#27039 {sql} Test fix for Managed Instance Start Stop
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/recordings/test_sql_mi_scheduledstartstop_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/recordings/test_sql_mi_startstop_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/test_sql_commands.py
Labels: SQL, Auto-Assign

#27132 {AKS} `az aks create/update`: update logic for euap region mapping
  src/azure-cli/azure/cli/command_modules/acs/azuremonitormetrics/amw/defaults.py
  src/azure-cli/azure/cli/command_modules/acs/azuremonitormetrics/constants.py
Labels: AKS, Auto-Assign

#27133 {RDBMS} Fix firewall rule validator bug
  src/azure-cli/azure/cli/command_modules/rdbms/validators.py
Labels: Auto-Assign

#27114 {Keyvault} Bump `azure-mgmt-keyvault` to `10.2.3` to fix API version mistmatch issue
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: KeyVault, Auto-Assign

#27149 {Network} az network dns: Move forward to use new api version 2023-07-01-preview
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/dns/_list_references.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/dns/record_set/_create.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/dns/record_set/_delete.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/dns/record_set/_list.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/dns/record_set/_list_by_type.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/dns/record_set/_show.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/dns/record_set/_update.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/dns/zone/_create.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/dns/zone/_delete.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/dns/zone/_list.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/dns/zone/_show.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/dns/zone/_update.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_dns.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_dns_alias.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_dns_delegation.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_dns_dnssec.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_dns_if_none_match.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_dns_zone10_import.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_dns_zone1_import.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_dns_zone2_import.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_dns_zone3_import.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_dns_zone4_import.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_dns_zone5_import.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_dns_zone6_import.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_dns_zone7_import.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_dns_zone8_import.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_dns_zone9_import.yaml
Labels: Network, Auto-Assign

#27151 {CI} Update policy config
  .github/policies/resourceManagement.yml
Labels: CI, Auto-Assign

#27150 [Network] `az network express-route port delete`: Add confirmation while deleting
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/express_route/port/_delete.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/express_route/port/_list.py
Labels: Network, Auto-Assign

#27162 {Network} `az network private-dns`: Fix live test
  src/azure-cli/azure/cli/command_modules/privatedns/custom.py
  src/azure-cli/azure/cli/command_modules/privatedns/tests/latest/recordings/test_PatchLink_LinkExistsRemoveTags_ExpectTagsRemoved.yaml
  src/azure-cli/azure/cli/command_modules/privatedns/tests/latest/recordings/test_Private_Dns_Zone1_Import.yaml
  src/azure-cli/azure/cli/command_modules/privatedns/tests/latest/recordings/test_Private_Dns_Zone2_Import.yaml
  src/azure-cli/azure/cli/command_modules/privatedns/tests/latest/recordings/test_Private_Dns_Zone3_Import.yaml
  src/azure-cli/azure/cli/command_modules/privatedns/tests/latest/recordings/test_Private_Dns_Zone4_Import.yaml
  src/azure-cli/azure/cli/command_modules/privatedns/tests/latest/recordings/test_Private_Dns_Zone5_Import.yaml
  src/azure-cli/azure/cli/command_modules/privatedns/tests/latest/recordings/test_Private_Dns_Zone6_Import.yaml
  src/azure-cli/azure/cli/command_modules/privatedns/tests/latest/recordings/test_Private_Dns_Zone7_Import.yaml
  src/azure-cli/azure/cli/command_modules/privatedns/tests/latest/recordings/test_Private_Dns_Zone8_Import.yaml
  src/azure-cli/azure/cli/command_modules/privatedns/tests/latest/recordings/test_Private_Dns_Zone_Local_Import.yaml
  src/azure-cli/azure/cli/command_modules/privatedns/tests/latest/test_privatedns_commands.py
Labels: Network, Auto-Assign

#25525 {CI} Enhance extension regression test pipeline
  scripts/ci/automation_full_test.py
  scripts/regression_test/extension_regression_test.yml
  scripts/regression_test/regression_test.yml
Labels: CI, Auto-Assign

#27165 {Packaging} Clean up snap file
  .snapcraft.yaml
  build_scripts/snap/az.snap.completion
Labels: Packaging, Auto-Assign

#26960 [Batch] `az batch`: Fix batch cloud console authentication issue
  src/azure-cli/azure/cli/command_modules/batch/_client_factory.py
  src/azure-cli/azure/cli/command_modules/batch/custom.py
  src/azure-cli/azure/cli/command_modules/batch/tests/latest/test_batch_mgmt_commands.py
Labels: Batch, AAD, Auto-Assign

#27043 [AppConfig] `az appconfig kv export/import`: Add new parameters to support exporting and importing all key values from a snapshot of the source configuration
  src/azure-cli/azure/cli/command_modules/appconfig/_diff_utils.py
  src/azure-cli/azure/cli/command_modules/appconfig/_help.py
  src/azure-cli/azure/cli/command_modules/appconfig/_params.py
  src/azure-cli/azure/cli/command_modules/appconfig/_validators.py
  src/azure-cli/azure/cli/command_modules/appconfig/keyvalue.py
  src/azure-cli/azure/cli/command_modules/appconfig/tests/latest/recordings/test_azconfig_import_export_kvset.yaml
  src/azure-cli/azure/cli/command_modules/appconfig/tests/latest/recordings/test_azconfig_snapshot_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/appconfig/tests/latest/recordings/test_azconfig_strict_import.yaml
  src/azure-cli/azure/cli/command_modules/appconfig/tests/latest/test_appconfig_commands.py
Labels: App Configuration, Auto-Assign

#27172 [Network] `az network application-gateway waf-policy custom-rule`: Add an example of using `--group-by-user-session`
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/waf_policy/custom_rule/_create.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/waf_policy/custom_rule/_update.py
Labels: Network, Auto-Assign

#27177 {CI} Fix policy migration issue
  .github/policies/resourceManagement.yml
Labels: CI, Auto-Assign

#27102 {CI} Fix Python wheels Test
  azure-pipelines.yml
Labels: Installation, CI, Auto-Assign

#27130 [Backup] `az backup restore restore-azurefileshare`: Add `--target-rg-name` parameter to specify the resource group of the destination storage account
  src/azure-cli/azure/cli/command_modules/backup/_params.py
  src/azure-cli/azure/cli/command_modules/backup/custom.py
  src/azure-cli/azure/cli/command_modules/backup/custom_afs.py
  src/azure-cli/azure/cli/command_modules/backup/custom_base.py
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/preparers.py
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_backup_container.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_backup_item.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_backup_policy.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_backup_protection.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_backup_restore.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_backup_rp.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_backup_scenario.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_unregister_container.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/test_afs_commands.py
Labels: Backup, Auto-Assign

#26957 [App Service] Fix #26736: `az logicapp create`: Add `--runtime-version` and `--functions-version` optional parameters
  src/azure-cli/azure/cli/command_modules/appservice/_constants.py
  src/azure-cli/azure/cli/command_modules/appservice/_params.py
  src/azure-cli/azure/cli/command_modules/appservice/logicapp/_constants.py
  src/azure-cli/azure/cli/command_modules/appservice/logicapp/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_asp_ws1_create.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_asp_ws2_create.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_asp_ws3_create.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_autocreate_asp_for_logicapp.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_logicapp_config_appsettings_e2e.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_logicapp_e2e.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_logicapp_e2etest_logicapp_versions_e2e.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_logicapp_https_only.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_logicapp_on_linux.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_logicapp_scale_e2e.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_logicapp_update.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_update_asp_to_logicapp_sku_fails.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_update_logicapp_asp_sku.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_logicapp_commands.py
Labels: App Services, Logic App, Auto-Assign

#26836 [App Service] `az webapp ssh`: Backport #25141 to 2.38.0
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
Labels: Web Apps, App Services, Auto-Assign

#27183 {Monitor} `az monitor private-link-scope`: Migrate commands to codegen
  src/azure-cli/azure/cli/command_modules/monitor/_client_factory.py
  src/azure-cli/azure/cli/command_modules/monitor/_help.py
  src/azure-cli/azure/cli/command_modules/monitor/_params.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/private_link_scope/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/private_link_scope/__init__.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/private_link_scope/_create.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/private_link_scope/_delete.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/private_link_scope/_list.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/private_link_scope/_show.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/private_link_scope/_update.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/private_link_scope/_wait.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/private_link_scope/private_endpoint_connection/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/private_link_scope/private_endpoint_connection/__init__.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/private_link_scope/private_endpoint_connection/_delete.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/private_link_scope/private_endpoint_connection/_list.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/private_link_scope/private_endpoint_connection/_show.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/private_link_scope/private_endpoint_connection/_update.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/private_link_scope/private_endpoint_connection/_wait.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/private_link_scope/private_link_resource/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/private_link_scope/private_link_resource/__init__.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/private_link_scope/private_link_resource/_list.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/private_link_scope/private_link_resource/_show.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/private_link_scope/scoped_resource/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/private_link_scope/scoped_resource/__init__.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/private_link_scope/scoped_resource/_create.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/private_link_scope/scoped_resource/_delete.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/private_link_scope/scoped_resource/_list.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/private_link_scope/scoped_resource/_show.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/private_link_scope/scoped_resource/_wait.py
  src/azure-cli/azure/cli/command_modules/monitor/commands.py
  src/azure-cli/azure/cli/command_modules/monitor/operations/private_link_scope.py
  src/azure-cli/azure/cli/command_modules/monitor/validators.py
Labels: Monitor, Auto-Assign

#27050 {AKS} Retain value in network profile of mc object only when decorator is in update mode
  src/azure-cli/azure/cli/command_modules/acs/_loadbalancer.py
  src/azure-cli/azure/cli/command_modules/acs/managed_cluster_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_managed_cluster_decorator.py
Labels: Network, AKS, Auto-Assign

#27127 [Network] `az network express-route update`: Fix `properties.SeriveProviderProperties` unexpected null
  src/azure-cli/azure/cli/command_modules/network/custom.py
Labels: Network, Auto-Assign

#27205 [Core] `aaz`: Support `configured_default` for `AAZBaseArg`
  src/azure-cli-core/azure/cli/core/aaz/_arg.py
  src/azure-cli-core/azure/cli/core/tests/test_aaz_arg.py
Labels: Core, Auto-Assign

#27175 [cosmosdb] `az cosmosdb restore`: Support enabling/disabling public network access
  src/azure-cli/azure/cli/command_modules/cosmosdb/_params.py
  src/azure-cli/azure/cli/command_modules/cosmosdb/custom.py
  src/azure-cli/azure/cli/command_modules/cosmosdb/tests/latest/recordings/test_cosmosdb_public_network_access_restore.yaml
  src/azure-cli/azure/cli/command_modules/cosmosdb/tests/latest/test_cosmosdb_backuprestore_scenario.py
Labels: Cosmos, customer-reported, Auto-Assign

#26856 {Synapse} Update azure artifact version to 0.17.0
  src/azure-cli/azure/cli/command_modules/synapse/tests/latest/recordings/test_link_connection.yaml
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: Synapse, Auto-Assign

#27112 {CI} Update azure-client-tools-bot's auto-reply to be more friendly
  .github/azure-client-tools-bot/config.yml
Labels: customer-reported

#27216 [App Service] `az webapp config connection-string set`: Allow users to use json file to set the connection string
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_config.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test.json
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_webapp_commands.py
Labels: Web Apps, Auto-Assign

#27210 Aladdin generated examples
  scripts/ci/aladdin/aladdin.py
Labels: customer-reported, Auto-Assign

#27232 [MySQL] `az mysql flexible-server parameter set-batch`: Add new command to support updating multiple parameters
  src/azure-cli/azure/cli/command_modules/mysql/_help.py
  src/azure-cli/azure/cli/command_modules/mysql/_params.py
  src/azure-cli/azure/cli/command_modules/mysql/action.py
  src/azure-cli/azure/cli/command_modules/mysql/commands.py
  src/azure-cli/azure/cli/command_modules/mysql/custom.py
  src/azure-cli/azure/cli/command_modules/mysql/tests/latest/recordings/test_mysql_flexible_server_proxy_resource.yaml
  src/azure-cli/azure/cli/command_modules/mysql/tests/latest/test_mysql_scenario.py
Labels: Batch, Auto-Assign

#27235 [Cognitive Services] `az account deployment create` support `--model-source` parameter
  src/azure-cli/azure/cli/command_modules/cognitiveservices/_params.py
  src/azure-cli/azure/cli/command_modules/cognitiveservices/custom.py
Labels: Cognitive Services, Auto-Assign

#27187 [Network] Fix #26730: `az network public-ip update`: `--ip-tags` cannot be correctly parsed
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/public_ip/_list.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/public_ip/_update.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_public_ip.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Labels: Network, Auto-Assign

#27226 {Monitor} `az monitor metrics list`: Migrate commands to codegen
  src/azure-cli/azure/cli/command_modules/monitor/_params.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/metrics/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/metrics/__init__.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/metrics/_list.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/metrics/_list_definitions.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/metrics/_list_namespaces.py
  src/azure-cli/azure/cli/command_modules/monitor/commands.py
  src/azure-cli/azure/cli/command_modules/monitor/custom.py
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_metrics_scenario.yaml
Labels: Monitor, Auto-Assign

#27225 [Keyvault] Fix #27220: `az keyvault certificate import`: Fix invalid policy issue when no `content_type` provided
  src/azure-cli/azure/cli/command_modules/keyvault/_validators.py
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/policy3.json
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/policy4.json
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_certificate_crud.yaml
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/test_keyvault_commands.py
Labels: KeyVault, Auto-Assign

#27249 [Keyvault] `az keyvault storage`: Announce deprecation since keyvault service doesn't maintain this since long ago
  src/azure-cli/azure/cli/command_modules/keyvault/commands.py
Labels: Storage, KeyVault, Auto-Assign

#27186 {Packaging} Install pip in Homebrew virtual env
  scripts/release/homebrew/docker/formula_generate.py
Labels: Packaging, Installation, Auto-Assign

#27250 [Storage] `az storage account create/update`: Revert `--allow-cross-tenant-replication` and `--allow-blob-public-access` to default value of true
  src/azure-cli/azure/cli/command_modules/storage/_params.py
  src/azure-cli/azure/cli/command_modules/storage/_validators.py
Labels: Storage, Auto-Assign

#27184 [Network] `az network application-gateway waf-policy managed-rule rule-set`: Support Microsoft_BotManagerRuleSet version 1.0
  src/azure-cli/azure/cli/command_modules/network/_params.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_waf_policy_with_application_gateway.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Labels: Network, Auto-Assign

#27198 [Network] `az network vnet peering create`: Mark `--remote-vnet` as required
  src/azure-cli/azure/cli/command_modules/network/custom.py
Labels: Network, Auto-Assign

#27252 {Servicebus/Eventhub} Deprecation Alert for `az servicebus migration update` `az eventhubs georecovery-alias update` `az servicebus georecovery-alias update` cmdlets
  src/azure-cli/azure/cli/command_modules/eventhubs/commands.py
  src/azure-cli/azure/cli/command_modules/servicebus/commands.py
Labels: Service Bus, Event Hubs, Auto-Assign

#27206 {AKS} `az aks create/az aks nodepool add`: Update the default value of option `--max-pods` and `--node-osdisk-size` to `None`
  src/azure-cli/azure/cli/command_modules/acs/agentpool_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_default.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_default_service.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_with_ephemeral_disk.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_agentpool_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_managed_cluster_decorator.py
Labels: AKS, Auto-Assign

#27061 {mysql} Document update for mysql flexible-server replica create
  src/azure-cli/azure/cli/command_modules/mysql/_params.py
Labels: Auto-Assign

#27161 {Compute} `az vmss update`: Cover additional scenario for parameter `--security-type`
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_update_image.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_update_security_type.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Auto-Assign

#27271 {AKS} Outbound ip/ outbound ipprefix and managed outbound ip should be mutually exclusive
  src/azure-cli/azure/cli/command_modules/acs/_loadbalancer.py
  src/azure-cli/azure/cli/command_modules/acs/managed_cluster_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_loadbalancer.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_managed_cluster_decorator.py
Labels: AKS, Auto-Assign

#27261 [MySQL] `az mysql flexible-server export create`: Add Export Backup CLI implementation
  src/azure-cli/azure/cli/command_modules/mysql/_client_factory.py
  src/azure-cli/azure/cli/command_modules/mysql/_help.py
  src/azure-cli/azure/cli/command_modules/mysql/_params.py
  src/azure-cli/azure/cli/command_modules/mysql/commands.py
  src/azure-cli/azure/cli/command_modules/mysql/custom.py
  src/azure-cli/azure/cli/command_modules/mysql/linter_exclusions.yml
  src/azure-cli/azure/cli/command_modules/mysql/tests/latest/test_mysql_scenario.py
Labels: Auto-Assign

#27038 {Packaging} Test x86 and x64 MSI installation
  azure-pipelines.yml
  build_scripts/windows/scripts/test_msi_installation.ps1
Labels: Packaging, Installation, Auto-Assign

#27241 [Compute] `az ppg update`: Add new parameter `--type` to support setting proximity placement group type
  src/azure-cli/azure/cli/command_modules/vm/_params.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2020_09_01/test_vm_commands.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_proximity_placement_group.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Auto-Assign

#27280 [Storage] Fix #27202 `az storage entity insert`: Fix case when using sas token with only `add` permission
  src/azure-cli/azure/cli/command_modules/storage/operations/table.py
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_table_main_scenario.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/test_storage_sas_scenarios.py
Labels: Storage, Auto-Assign

#27285 {CI} Temporarily skip k8s-extension in TestExtensionsLoading
  scripts/ci/test_extensions.sh
Labels: CI, Auto-Assign

#26781 [ARM] `az bicep`: Reflecting bicep cli updates to `az bicep` command
  src/azure-cli/azure/cli/command_modules/resource/_help.py
  src/azure-cli/azure/cli/command_modules/resource/_params.py
  src/azure-cli/azure/cli/command_modules/resource/commands.py
  src/azure-cli/azure/cli/command_modules/resource/custom.py
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/sample_params.bicepparam
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/test_resource.py
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/test_resource_custom.py
Labels: ARM, Auto-Assign

#27268 {Mysql} az mysql flexible-server import create: Mapping configuration from single to flex if not provided by user
  src/azure-cli/azure/cli/command_modules/mysql/_client_factory.py
  src/azure-cli/azure/cli/command_modules/mysql/_help.py
  src/azure-cli/azure/cli/command_modules/mysql/_params.py
  src/azure-cli/azure/cli/command_modules/mysql/_util.py
  src/azure-cli/azure/cli/command_modules/mysql/_validators.py
  src/azure-cli/azure/cli/command_modules/mysql/custom.py
  src/azure-cli/azure/cli/command_modules/mysql/tests/latest/recordings/test_mysql_flexible_server_import_create.yaml
  src/azure-cli/azure/cli/command_modules/mysql/tests/latest/test_mysql_scenario.py
Labels: Auto-Assign

#27024 [SQL] `az sql db`: Add `--encryption-protector-auto-rotation` flag to cmdlets
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_metric_alert_for_sql_database_scope.yaml
  src/azure-cli/azure/cli/command_modules/sql/_params.py
  src/azure-cli/azure/cli/command_modules/sql/custom.py
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/recordings/test_sql_db_advanced_threat_protection.yaml
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/recordings/test_sql_db_copy.yaml
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/recordings/test_sql_db_copy_with_perdb_cmk.yaml
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/recordings/test_sql_db_import_export_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/recordings/test_sql_db_ledger.yaml
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/recordings/test_sql_db_maintenance.yaml
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/recordings/test_sql_db_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/recordings/test_sql_db_operation_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/recordings/test_sql_db_preferred_enclave_type.yaml
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/recordings/test_sql_db_read_replica_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/recordings/test_sql_db_replica_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/recordings/test_sql_db_restore.yaml
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/recordings/test_sql_db_restore_deleted.yaml
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/recordings/test_sql_db_security_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/recordings/test_sql_db_serverless_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/recordings/test_sql_db_vcore_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/recordings/test_sql_dw_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/recordings/test_sql_elastic_pools_preferred_enclave_type_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/recordings/test_sql_failover_group_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/recordings/test_sql_ipv6_firewall_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/recordings/test_sql_ledger.yaml
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/recordings/test_sql_per_db_cmk.yaml
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/recordings/test_sql_server_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/recordings/test_sql_tde.yaml
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/recordings/test_sql_zone_resilient_copy_hyperscale_database.yaml
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/recordings/test_sql_zone_resilient_database.yaml
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/recordings/test_sql_zone_resilient_replica_hyperscale_database.yaml
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/recordings/test_sql_zone_resilient_restore_hyperscale_database.yaml
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/test_sql_commands.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: SQL, Auto-Assign

#27291 {CI} Remove `--exitfirst` to collect all error information at once.
  scripts/release/debian/test_deb_package.py
  scripts/release/homebrew/test_homebrew_package.py
  scripts/release/rpm/test_rpm_package.py
Labels: CI, Auto-Assign

#27288 {ARM} `az bicep`: Change tests to live only mode
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/test_resource.py
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/test_resource_custom.py
Labels: ARM, Auto-Assign
