Repository Azure/azure-cli, pull requests merged in 2023-07, with the labels that each got.

#26818 {CI} Temporarily set the TestExtensionsLoading task result to always succeed
  azure-pipelines.yml
Labels: CI, Auto-Assign

#26767 [Service Fabric] `az sf managed-node-type create`: creates nodetype with 2022-Datacenter vmSku as default
  src/azure-cli/azure/cli/command_modules/servicefabric/_help.py
  src/azure-cli/azure/cli/command_modules/servicefabric/_params.py
  src/azure-cli/azure/cli/command_modules/servicefabric/tests/latest/recordings/test_basic_cluster.yaml
  src/azure-cli/azure/cli/command_modules/servicefabric/tests/latest/recordings/test_cert_and_ext.yaml
  src/azure-cli/azure/cli/command_modules/servicefabric/tests/latest/recordings/test_node_type_operation.yaml
Labels: Service Fabric, Auto-Assign

#26790 [AKS] `az aks nodepool snapshot update`: Add aks nodepool snapshot update command
  src/azure-cli/azure/cli/command_modules/acs/_help.py
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/commands.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_nodepool_snapshot.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
Labels: AKS, Auto-Assign

#26793 {AKS} Extend `--data-collection-settings` with containerlogv2
  src/azure-cli/azure/cli/command_modules/acs/addonconfiguration.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/data/datacollectionsettings.json
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
Labels: AKS, Auto-Assign

#26825 [Service Connector] `az functionapp connection`: Add new command group to support service connector on Function App
  src/azure-cli/azure/cli/command_modules/serviceconnector/_resource_config.py
Labels: Web Apps, Functions, Auto-Assign

#26572 [Role] `az ad sp create-for-rbac`: Add alias `--json-auth` for `--sdk-auth`
  src/azure-cli-core/azure/cli/core/_profile.py
  src/azure-cli/azure/cli/command_modules/role/_params.py
  src/azure-cli/azure/cli/command_modules/role/custom.py
Labels: Web Apps, Graph, RBAC, Installation, Auto-Assign

#26852 {CI} Add rule_link to breaking change test report
  scripts/ci/breaking_change_test.py
Labels: CI, Auto-Assign

#26824 {CI} Put the cloud module at the end of the serial execution to avoid affecting other tests.
  scripts/ci/automation_full_test.py
Labels: CI, Auto-Assign

#26859 {CDN} `az afd origin create`: Correct parameter name on document example
  src/azure-cli/azure/cli/command_modules/cdn/_help.py
Labels: Network - Front Door, Auto-Assign

#26710 [Core] `aaz`: Add `--max-items` and `--next-token` for pagination
  src/azure-cli-core/azure/cli/core/aaz/__init__.py
  src/azure-cli-core/azure/cli/core/aaz/_arg.py
  src/azure-cli-core/azure/cli/core/aaz/_arg_fmt.py
  src/azure-cli-core/azure/cli/core/tests/test_aaz_arg_fmt.py
Labels: Core, Auto-Assign

#26713 [Core] `aaz`: Support paginating calculation
  src/azure-cli-core/azure/cli/core/aaz/_arg.py
  src/azure-cli-core/azure/cli/core/aaz/_command.py
  src/azure-cli-core/azure/cli/core/aaz/_paging.py
  src/azure-cli-core/azure/cli/core/tests/test_aaz_paging.py
Labels: Core, Auto-Assign

#26870 [Core] `aaz`: Support blank input for compound argument types
  src/azure-cli-core/azure/cli/core/aaz/_arg_action.py
  src/azure-cli-core/azure/cli/core/tests/test_aaz_arg.py
Labels: Core, Auto-Assign

#26855 [Packaging] Drop Python 3.7 support
  doc/command_guidelines.md
  doc/debug/debug_in_vs_code.md
  doc/extensions/authoring.md
  doc/install_linux_prerequisites.md
  scripts/ci/build.sh
  src/azure-cli-core/setup.py
  src/azure-cli-telemetry/setup.py
  src/azure-cli-testsdk/setup.py
  src/azure-cli/setup.py
Labels: Packaging, Auto-Assign

#26871 {CI} Revert `Temporarily set the TestExtensionsLoading task result to always succeed`
  azure-pipelines.yml
Labels: CI, Auto-Assign

#26877 [Resource] `az resource invoke-action`: Add new parameter `--no-wait` to support not waiting the long-running operation to finish
  src/azure-cli/azure/cli/command_modules/resource/commands.py
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/recordings/test_invoke_action.yaml
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/test_resource.py
Labels: ARM, Auto-Assign

#26878 [Compute] `az vm/vmss create`: Add new parameter `--disable-integrity-monitoring-autoupgrade` to support disabling auto upgrade when creating Trusted Launch VM with enabled integrity monitoring
  src/azure-cli/azure/cli/command_modules/vm/_params.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/linter_exclusions.yml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_vmss_extension_autoupgrade.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Auto-Assign

#26512 {Backup} Add new secondary region pairings
  src/azure-cli/azure/cli/command_modules/backup/custom.py
Labels: Backup, Auto-Assign

#26886 {CI} Fix regex issue causing incorrect recognition of `Unofficial Azure CLI`
  .github/azure-client-tools-bot/config.yml
Labels: CI, Auto-Assign

#26719 [Service Connector] `az spring connection`: Enable new auth types for Spring Boot and Cosmos SQL connection
  src/azure-cli/azure/cli/command_modules/serviceconnector/_addon_factory.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/_resource_config.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/_utils.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/_validators.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/commands.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/custom.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_springboot_cosmossql_secret_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_springboot_cosmossql_smi_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_springboot_cosmossql_umi_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/test_springboot_cosmossql_scenario.py
Labels: Auto-Assign

#26917 {CI} Workaround for `error installing pyyaml==5.4, cython_sources`
  tools/setup.py
Labels: CI, Auto-Assign

#26919 {CI} Bump pyyaml to latest version 6.0.1
  tools/setup.py
Labels: CI, Auto-Assign

#26844 [AKS] `az aks enable-addons`: Fix the default value of option `--enable-msi-auth-for-monitoring` being overwritten to `False` when specified
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
Labels: AKS, Auto-Assign

#26907 [Keyvault] `az keyvault restore start`: Add `--key-name` to support selective key restore
  src/azure-cli/azure/cli/command_modules/keyvault/_params.py
  src/azure-cli/azure/cli/command_modules/keyvault/custom.py
Labels: KeyVault, Auto-Assign

#26922 [Keyvault] `az keyvault key sign/verify`: Add new commands to support signing with keyvault key and verify the signature
  src/azure-cli/azure/cli/command_modules/keyvault/_help.py
  src/azure-cli/azure/cli/command_modules/keyvault/_params.py
  src/azure-cli/azure/cli/command_modules/keyvault/commands.py
  src/azure-cli/azure/cli/command_modules/keyvault/custom.py
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_key.yaml
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/test_keyvault_commands.py
Labels: KeyVault, Auto-Assign

#26928 [AppConfig] `az appconfig kv delete/set/set-keyvault`: Add key validations for null or empty space key parameter
  src/azure-cli/azure/cli/command_modules/appconfig/_params.py
  src/azure-cli/azure/cli/command_modules/appconfig/_validators.py
  src/azure-cli/azure/cli/command_modules/appconfig/tests/latest/recordings/test_azconfig_kv.yaml
  src/azure-cli/azure/cli/command_modules/appconfig/tests/latest/test_appconfig_commands.py
Labels: KeyVault, App Configuration, Auto-Assign

#26924 {Security}: update module version
  src/azure-cli/azure/cli/command_modules/security/custom.py
  src/azure-cli/azure/cli/command_modules/security/tests/latest/recordings/test_security_pricings.yaml
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: customer-reported

#26933 {AKS} Fix the check of config field in addon related tests
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
Labels: AKS, Auto-Assign

#26909 Aladdin generated examples
  scripts/ci/aladdin/aladdin.py
Labels: customer-reported, Auto-Assign

#26932 [Network] `az network nic create/update`: Add parameters `--auxiliary-mode` and `--auxiliary-sku` to support setting auxiliary mode and sku
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/nic/_create.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/nic/_delete.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/nic/_list.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/nic/_show.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/nic/_update.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/nic/_wait.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_multiple_ipconfigs_remove_by_shorthand.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_multiple_ipconfigs_update_with_asg.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_lb_address_pool_addresses.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_nic.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_nic_ag_address_pools.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_nic_app_gateway.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_nic_auxiliary.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_nic_edge_zone.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_nic_front_ip.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_nic_lb_address_pools.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_nic_subresources.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_nw_flow_log_create_vnetfl.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_nw_flow_log_delete_vnetfl.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_nw_flow_log_update_vnetfl.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_accelerated_networking.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_create_custom_ip.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_create_existing_ids_options.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_create_existing_nic.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_create_existing_options.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_create_multi_nics.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_extended_location.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_asg.yaml
Labels: Network, Auto-Assign

#26946 {Packaging} Change default Debian repo to bookworm
  scripts/release/debian/deb_install.sh
Labels: Packaging, Auto-Assign

#26883 {IOT} Docs clarification for the IOT HUB endpoint create
  src/azure-cli/azure/cli/command_modules/iot/_help.py
Labels: IoT, IoT/CLI, Auto-Assign

#26941 {AKS} fix: update short summary for azure monitor metrics for better readability in docs
  src/azure-cli/azure/cli/command_modules/acs/_help.py
Labels: AKS, Auto-Assign

#26935 {Network} Add an example in command `az network application-gateway waf-policy policy-setting update`
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/waf_policy/policy_setting/_update.py
Labels: Network, Auto-Assign

#26854 [Core] Drop client telemetry cache strategy
  src/azure-cli-core/setup.py
  src/azure-cli-telemetry/HISTORY.rst
  src/azure-cli-telemetry/azure/cli/telemetry/__init__.py
  src/azure-cli-telemetry/azure/cli/telemetry/components/records_collection.py
  src/azure-cli-telemetry/azure/cli/telemetry/tests/test_records_collection.py
  src/azure-cli-telemetry/azure/cli/telemetry/util.py
  src/azure-cli-telemetry/setup.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
Labels: Core, Auto-Assign

#26948 [Storage] `az storage container-rm update`: `--default-encryption-scope` and `--deny-encryption-scope-override` should not be specified during update
  src/azure-cli/azure/cli/command_modules/storage/_params.py
  src/azure-cli/azure/cli/command_modules/storage/operations/blob.py
Labels: Storage, Auto-Assign

#26959 {Packaging} Bump cryptography to 41.0.1 and pyOpenSSL to 23.2.0 on Windows
  src/azure-cli/requirements.py3.windows.txt
Labels: Packaging, Auto-Assign

#26952 {PolicyInsights} Fix #26716: Fix bug that caused invalid subscription id in request uri
  src/azure-cli/azure/cli/command_modules/policyinsights/custom.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: ARM, Auto-Assign

#26853 [Storage] Fix #22704: `az storage account create`: `--encryption-key-type-for-queue` and `--encryption-key-type-for-table` no longer remove other settings
  src/azure-cli/azure/cli/command_modules/storage/operations/account.py
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_create_with_encryption_key_type.yaml
Labels: Storage, Auto-Assign

#26970 {Compute} Remove warning for `CreateOption = Empty`
  src/azure-cli/azure/cli/command_modules/vm/custom.py
Labels: Compute, Auto-Assign

#26974 {CI} Update policy config
  .github/policies/resourceManagement.yml
Labels: CI, Auto-Assign

#26987 {AKS} `enable-addons` add kind tag in DCR creation
  src/azure-cli/azure/cli/command_modules/acs/addonconfiguration.py
Labels: AKS, Auto-Assign

#26891 [App Config] `az appconfig snapshot`: Remove status code property from snapshot object
  src/azure-cli/azure/cli/command_modules/appconfig/_format.py
  src/azure-cli/azure/cli/command_modules/appconfig/_params.py
  src/azure-cli/azure/cli/command_modules/appconfig/_snapshotmodels.py
Labels: App Configuration, Auto-Assign

#26958 {Network} `az network application-gateway`: Add readonly enum field `defaultPredefinedSslPolicy`
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_metric_alert_special_char_scenario.yaml
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/_create.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/_delete.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/_list.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/_show.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/_update.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/_wait.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_ag_with_non_v2_sku.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_appgw_private_endpoint_with_default.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_appgw_private_endpoint_with_overwrite_default.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_appgw_with_tcp.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_address_pool.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_auth_cert.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_frontend_ip_private.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_frontend_ip_public.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_frontend_port.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_http_listener.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_http_listener_with_waf_policy.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_http_settings.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_root_cert.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_rule.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_url_path_map.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_url_path_map_edge_case.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_zone.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_no_wait.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_redirect_config.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_rewrite_rulesets.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_waf_config.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_waf_policy_with_application_gateway.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_waf_v2_config.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_with_defaults.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_with_identity.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_with_private_ip.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_with_ssl_profile.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_with_waf_v2_sku.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_appgw_creation_with_public_and_private_ip.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_nic_ag_address_pools.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_nic_app_gateway.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Labels: Network, Auto-Assign

#26988 [Network] `az network private-endpoint-connection`: Add provider `Microsoft.ElasticSan/elasticSans`
  src/azure-cli/azure/cli/command_modules/network/private_link_resource_and_endpoint_connections/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_private_endpoint_connection_elasticsan.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_private_link_resource_elasticsan.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_private_endpoint_commands.py
Labels: Network, Auto-Assign

#26879 [AppConfig] `az appconfig snapshot list`: Use enums for status parameter
  src/azure-cli/azure/cli/command_modules/appconfig/_help.py
  src/azure-cli/azure/cli/command_modules/appconfig/_params.py
  src/azure-cli/azure/cli/command_modules/appconfig/_snapshot_custom_client.py
  src/azure-cli/azure/cli/command_modules/appconfig/snapshot.py
  src/azure-cli/azure/cli/command_modules/appconfig/tests/latest/recordings/test_azconfig_snapshot_mgmt.yaml
Labels: App Configuration, Auto-Assign

#26975 [AKS] `az aks update`: Promte outbound type migration to azure-cli/acs
  src/azure-cli/azure/cli/command_modules/acs/_help.py
  src/azure-cli/azure/cli/command_modules/acs/_natgateway.py
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/_validators.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/managed_cluster_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_update_outbound_from_slb_to_natgateway.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_managed_cluster_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_validators.py
Labels: AKS, Auto-Assign

#26797 {ARM} Fix race condition in bicep unit tests
  src/azure-cli/azure/cli/command_modules/resource/_bicep.py
  src/azure-cli/azure/cli/command_modules/resource/custom.py
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/test_resource_bicep.py
Labels: Packaging, ARM, Auto-Assign

#26943 [Compute] `az sig image-version undelete`: Add new command to support softdeleted image recovery
  src/azure-cli/azure/cli/command_modules/vm/_help.py
  src/azure-cli/azure/cli/command_modules/vm/_params.py
  src/azure-cli/azure/cli/command_modules/vm/_validators.py
  src/azure-cli/azure/cli/command_modules/vm/commands.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/linter_exclusions.yml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_gallery_soft_delete.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_image_version_create_for_diff_source.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Backup, Auto-Assign

#26997 [Storage] Fix #26587: `az storage file upload`: Add `--file-url` to support supplying the url instead of share/file name
  src/azure-cli/azure/cli/command_modules/storage/_client_factory.py
  src/azure-cli/azure/cli/command_modules/storage/_params.py
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_file_main_scenario.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/test_storage_file_scenarios.py
Labels: Storage, Auto-Assign

#26617 [App Service] Fix #21133: `az webapp/functionapp config ssl bind/unbind`: Search for matching certificates in the subscription by App Service Plan Id
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
Labels: Web Apps, Functions, App Services, Auto-Assign

#27001 {Packaging} Increase minimum python_requires to 3.8
  src/azure-cli-core/setup.py
  src/azure-cli/setup.py
Labels: Packaging, Auto-Assign

#26999 {Packaging} Bump knack to 0.11.0
  src/azure-cli-core/setup.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
Labels: Packaging, Auto-Assign

#26892 [Compute] Add Standard as SecurityType Option for backward compatibility
  src/azure-cli/azure/cli/command_modules/vm/_constants.py
  src/azure-cli/azure/cli/command_modules/vm/_params.py
  src/azure-cli/azure/cli/command_modules/vm/_template_builder.py
  src/azure-cli/azure/cli/command_modules/vm/_vm_utils.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_create_image_version_with_allow_replicated_location_deletion.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_snapshot_incremental.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_create_special_name.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_trusted_launch_os_disk_secure_upload.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_run_command_v2.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Auto-Assign

#27006 {AKS} `az aks update`: Fix aks network profile update error
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/_validators.py
  src/azure-cli/azure/cli/command_modules/acs/managed_cluster_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_and_update_with_managed_nat_gateway_outbound.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_update_outbound_from_slb_to_natgateway.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_managed_cluster_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_validators.py
Labels: AKS, Auto-Assign

#27007 [MYSQL] `az mysql flexible-server ad-admin set`: Enable AAD for replica
  src/azure-cli/azure/cli/command_modules/mysql/custom.py
  src/azure-cli/azure/cli/command_modules/mysql/tests/latest/recordings/test_mysql_flexible_server_identity_aad_admin_mgmt.yaml
Labels: AAD, Auto-Assign

#26980 {Core} Add `msal_telemetry` to client telemetry
  src/azure-cli-core/azure/cli/core/auth/util.py
  src/azure-cli-core/azure/cli/core/telemetry.py
  src/azure-cli-core/setup.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
Labels: Account, Core, Auto-Assign

#26995 [Cognitive Services] Update SDK to use latest API version
  src/azure-cli/azure/cli/command_modules/cognitiveservices/_client_factory.py
  src/azure-cli/azure/cli/command_modules/cognitiveservices/_help.py
  src/azure-cli/azure/cli/command_modules/cognitiveservices/_params.py
  src/azure-cli/azure/cli/command_modules/cognitiveservices/commands.py
  src/azure-cli/azure/cli/command_modules/cognitiveservices/custom.py
  src/azure-cli/azure/cli/command_modules/cognitiveservices/tests/latest/recordings/test_cognitiveservices_account_capabilities.yaml
  src/azure-cli/azure/cli/command_modules/cognitiveservices/tests/latest/recordings/test_cognitiveservices_account_list_kinds.yaml
  src/azure-cli/azure/cli/command_modules/cognitiveservices/tests/latest/recordings/test_cognitiveservices_account_list_skus.yaml
  src/azure-cli/azure/cli/command_modules/cognitiveservices/tests/latest/recordings/test_cognitiveservices_account_list_skus_legacy.yaml
  src/azure-cli/azure/cli/command_modules/cognitiveservices/tests/latest/recordings/test_cognitiveservices_account_list_usage.yaml
  src/azure-cli/azure/cli/command_modules/cognitiveservices/tests/latest/recordings/test_cognitiveservices_account_public_network_access.yaml
  src/azure-cli/azure/cli/command_modules/cognitiveservices/tests/latest/recordings/test_cognitiveservices_commitment_plan.yaml
  src/azure-cli/azure/cli/command_modules/cognitiveservices/tests/latest/recordings/test_cognitiveservices_create_api_properties.yaml
  src/azure-cli/azure/cli/command_modules/cognitiveservices/tests/latest/recordings/test_cognitiveservices_crud.yaml
  src/azure-cli/azure/cli/command_modules/cognitiveservices/tests/latest/recordings/test_cognitiveservices_custom_domain.yaml
  src/azure-cli/azure/cli/command_modules/cognitiveservices/tests/latest/recordings/test_cognitiveservices_deployment.yaml
  src/azure-cli/azure/cli/command_modules/cognitiveservices/tests/latest/recordings/test_cognitiveservices_encryption.yaml
  src/azure-cli/azure/cli/command_modules/cognitiveservices/tests/latest/recordings/test_cognitiveservices_identity.yaml
  src/azure-cli/azure/cli/command_modules/cognitiveservices/tests/latest/recordings/test_cognitiveservices_identity_assign_when_create.yaml
  src/azure-cli/azure/cli/command_modules/cognitiveservices/tests/latest/recordings/test_cognitiveservices_list_models.yaml
  src/azure-cli/azure/cli/command_modules/cognitiveservices/tests/latest/recordings/test_cognitiveservices_list_usages.yaml
  src/azure-cli/azure/cli/command_modules/cognitiveservices/tests/latest/recordings/test_cognitiveservices_model.yaml
  src/azure-cli/azure/cli/command_modules/cognitiveservices/tests/latest/recordings/test_cognitiveservices_network_rules.yaml
  src/azure-cli/azure/cli/command_modules/cognitiveservices/tests/latest/recordings/test_cognitiveservices_private_endpoint.yaml
  src/azure-cli/azure/cli/command_modules/cognitiveservices/tests/latest/recordings/test_cognitiveservices_private_endpoint_connection.yaml
  src/azure-cli/azure/cli/command_modules/cognitiveservices/tests/latest/recordings/test_cognitiveservices_softdelete.yaml
  src/azure-cli/azure/cli/command_modules/cognitiveservices/tests/latest/recordings/test_cognitiveservices_user_owned_storage.yaml
  src/azure-cli/azure/cli/command_modules/cognitiveservices/tests/latest/test_account_properties.py
  src/azure-cli/azure/cli/command_modules/cognitiveservices/tests/latest/test_byox.py
  src/azure-cli/azure/cli/command_modules/cognitiveservices/tests/latest/test_deployment.py
  src/azure-cli/azure/cli/command_modules/cognitiveservices/tests/latest/test_identity.py
  src/azure-cli/azure/cli/command_modules/cognitiveservices/tests/latest/test_model.py
  src/azure-cli/azure/cli/command_modules/cognitiveservices/tests/latest/test_subscription_level_apis.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: Breaking Change

#27016 {Keyvault} Fix test failure in `az keyvault certificate create`
  src/azure-cli/azure/cli/command_modules/keyvault/custom.py
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_certificate_soft_delete.yaml
Labels: KeyVault, Auto-Assign

#27018 {Packaging} Temporarily disable Windows x64 installation test
  azure-pipelines.yml
Labels: Packaging, Installation, Auto-Assign

#27008 {CI} Add enable traceback
  scripts/ci/automation_full_test.py
Labels: CI, Auto-Assign

#27029 {CI} Send codegen report data to kusto database
  azure-pipelines.yml
  scripts/ci/codegen_report.py
Labels: CI, Auto-Assign

#26984 [ARM] Fix #26112: `az deployment group create`: Fix the warning log `mode is not a known attribute of class TemplateLink`
  src/azure-cli/azure/cli/command_modules/resource/custom.py
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/recordings/test_resource_group_deployment_ts.yaml
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/recordings/test_subscription_level_deployment_ts.yaml
Labels: ARM, customer-reported, Auto-Assign
