Repository Azure/azure-cli, pull requests merged in 2023-12, with the labels that each got.

#27472 [Redis] `az redis import/export`: Add `--storage-subscription-id` support while importing/exporting data
  src/azure-cli/azure/cli/command_modules/marketplaceordering/tests/latest/test_marketplaceordering_scenario_coverage.md
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_private_endpoint_connection_acfr.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_private_link_resource_acfr.yaml
  src/azure-cli/azure/cli/command_modules/redis/_help.py
  src/azure-cli/azure/cli/command_modules/redis/_params.py
  src/azure-cli/azure/cli/command_modules/redis/custom.py
  src/azure-cli/azure/cli/command_modules/redis/tests/latest/recordings/test_redis_cache_export_import.yaml
  src/azure-cli/azure/cli/command_modules/redis/tests/latest/recordings/test_redis_cache_firewall.yaml
  src/azure-cli/azure/cli/command_modules/redis/tests/latest/recordings/test_redis_cache_list_firewall_and_server_link_works.yaml
  src/azure-cli/azure/cli/command_modules/redis/tests/latest/recordings/test_redis_cache_list_keys.yaml
  src/azure-cli/azure/cli/command_modules/redis/tests/latest/recordings/test_redis_cache_list_works.yaml
  src/azure-cli/azure/cli/command_modules/redis/tests/latest/recordings/test_redis_cache_managed_identity.yaml
  src/azure-cli/azure/cli/command_modules/redis/tests/latest/recordings/test_redis_cache_patch_schedule.yaml
  src/azure-cli/azure/cli/command_modules/redis/tests/latest/recordings/test_redis_cache_reboot.yaml
  src/azure-cli/azure/cli/command_modules/redis/tests/latest/recordings/test_redis_cache_regenerate_key_update_tags.yaml
  src/azure-cli/azure/cli/command_modules/redis/tests/latest/recordings/test_redis_cache_server_link.yaml
  src/azure-cli/azure/cli/command_modules/redis/tests/latest/recordings/test_redis_cache_update.yaml
  src/azure-cli/azure/cli/command_modules/redis/tests/latest/recordings/test_redis_cache_with_mandatory_args.yaml
  src/azure-cli/azure/cli/command_modules/redis/tests/latest/recordings/test_redis_cache_with_redisversion.yaml
  src/azure-cli/azure/cli/command_modules/redis/tests/latest/recordings/test_redis_cache_with_tags_and_zones.yaml
  src/azure-cli/azure/cli/command_modules/redis/tests/latest/recordings/test_redis_cache_with_tlsversion_and_settings.yaml
  src/azure-cli/azure/cli/command_modules/redis/tests/latest/test_redis_scenario.py
  src/azure-cli/azure/cli/command_modules/servicefabric/_help.py
  src/azure-cli/azure/cli/command_modules/servicefabric/tests/latest/recordings/test_basic_cluster.yaml
  src/azure-cli/azure/cli/command_modules/servicefabric/tests/latest/recordings/test_cert_and_ext.yaml
  src/azure-cli/azure/cli/command_modules/servicefabric/tests/latest/recordings/test_node_type_operation.yaml
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: Redis Cache, Auto-Assign

#27956 {Compute} `az disk show/list/delete/revoke-access`: Bump api-version for disk to support new features
  src/azure-cli/azure/cli/command_modules/vm/aaz/latest/disk/_delete.py
  src/azure-cli/azure/cli/command_modules/vm/aaz/latest/disk/_list.py
  src/azure-cli/azure/cli/command_modules/vm/aaz/latest/disk/_revoke_access.py
  src/azure-cli/azure/cli/command_modules/vm/aaz/latest/disk/_show.py
  src/azure-cli/azure/cli/command_modules/vm/aaz/latest/disk/_wait.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_accelerated_network.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_disk_access.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_disk_bursting.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_disk_trusted_launch.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_public_network_access.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_create_by_attach_os_and_data_disks.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_disk_create_zones.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_ultra_ssd_storage_sku.yaml
Labels: Compute, Auto-Assign

#27910 [AKS] `az aks`: Support IP-based Load Balancer and Instance Level Public IP Tags
  linter_exclusions.yml
  src/azure-cli/azure/cli/command_modules/acs/_consts.py
  src/azure-cli/azure/cli/command_modules/acs/_help.py
  src/azure-cli/azure/cli/command_modules/acs/_loadbalancer.py
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/_validators.py
  src/azure-cli/azure/cli/command_modules/acs/agentpool_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/managed_cluster_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/hybrid_2020_09_01/test_loadbalancer.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_node_public_ip_tags.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_loadbalancer.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_managed_cluster_decorator.py
Labels: AKS, Auto-Assign

#27895 {Core} Add `--allow-preview` to `az extension add/update` and `az upgrade`
  src/azure-cli-core/azure/cli/core/extension/__init__.py
  src/azure-cli-core/azure/cli/core/extension/_resolve.py
  src/azure-cli-core/azure/cli/core/extension/operations.py
  src/azure-cli-core/azure/cli/core/tests/data/extension_test_pkg-1.0.0b1-py3-none-any.whl
  src/azure-cli-core/azure/cli/core/tests/data/extension_test_pkg-1.2.3-py3-none-any.whl
  src/azure-cli-core/azure/cli/core/tests/data/extension_test_pkg-1.4.1a1-py3-none-any.whl
  src/azure-cli-core/azure/cli/core/tests/test_extension.py
  src/azure-cli/azure/cli/command_modules/extension/__init__.py
  src/azure-cli/azure/cli/command_modules/extension/custom.py
  src/azure-cli/azure/cli/command_modules/util/_params.py
  src/azure-cli/azure/cli/command_modules/util/custom.py
Labels: Core, Auto-Assign

#27949 {Core} `aaz`: Support retrieve endpoints and suffixes from ARM Cloud Metadata API by index
  src/azure-cli-core/azure/cli/core/aaz/_client.py
  src/azure-cli-core/azure/cli/core/cloud.py
  src/azure-cli-core/azure/cli/core/tests/test_aaz_client.py
  src/azure-cli-core/azure/cli/core/tests/test_aaz_command_ctx.py
Labels: Core, Auto-Assign

#28018 {CI} Regenerating breaking change report with only_break=True to control length within 65535.
  scripts/ci/breaking_change_test.py
Labels: CI, Auto-Assign

#28019 [Monitor] `az monitor log-analytics workspace`: Add `list-link-target` and `list-available-service-tier`
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/__init__.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/log_analytics/workspace/__init__.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/log_analytics/workspace/_list_available_service_tier.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/log_analytics/workspace/_list_link_target.py
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_log_analytics_workspace_link_target_available_service.yaml
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/test_monitor_log_analytics_workspace.py
Labels: Monitor, Auto-Assign

#28025 {Core} Fix core test without extension test package
  src/azure-cli-core/azure/cli/core/tests/test_extension.py
Labels: Core, Auto-Assign

#27589 [App Service] `az functionapp create`: Add DAPR support for Centauri apps
  src/azure-cli/azure/cli/command_modules/appservice/_params.py
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_functionapp_commands.py
Labels: Functions, Auto-Assign, ContainerApp

#28032 {CI} When the test report length exceeds 65535, guide the user to get error details in the pipeline log.
  scripts/ci/automation_full_test.py
Labels: CI, Auto-Assign

#27986 [AKS] `az aks stop`: Add warning when private link cluster is stopped
  src/azure-cli/azure/cli/command_modules/acs/_help.py
  src/azure-cli/azure/cli/command_modules/acs/_helpers.py
  src/azure-cli/azure/cli/command_modules/acs/commands.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_stop_and_start.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_stop_and_start_private_cluster.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_custom.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_helpers.py
Labels: AKS, Auto-Assign

#27947 {AKS} `az aks create` | `az aks nodepool add/update`: Fix NSG control live tests and cmd description
  src/azure-cli/azure/cli/command_modules/acs/_help.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_with_nsg_control.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_nodepool_create_with_nsg_control.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_nodepool_update_with_nsg_control.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
Labels: AKS, Auto-Assign

#27687 [AppService] `az functionapp create`: Remove workarounds for Centauri
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_config_with_appcontainer_managed_environment_error.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_container_config_set_replicas.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_create_registry_password_error.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_create_registry_server_error.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_create_registry_username_error.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_create_with_appcontainer_managed_environment.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_create_with_appcontainer_managed_environment_add_vnet_error.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_create_with_appcontainer_managed_environment_consumption_plan_error.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_create_with_appcontainer_managed_environment_existing_app_insights.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_create_with_appcontainer_managed_environment_list_vnet_error.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_create_with_appcontainer_managed_environment_plan_error.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_create_with_appcontainer_managed_environment_remove_vnet_error.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_create_with_appcontainer_managed_environment_vnet_config_error.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_create_with_min_replicas_error.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_create_with_replicas.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_delete_functions.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_functionapp_commands.py
  src/azure-cli/azure/cli/command_modules/appservice/utils.py
Labels: Functions, Auto-Assign

#27998 {Packaging} Update dependencies
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: Packaging, Auto-Assign

#28053 {Network} `network private-endpoint-connection approve/show/reject`/`network private-link-resource list`: Bump DISKACCESSES API Version to 2023-04-02
  src/azure-cli/azure/cli/command_modules/network/private_link_resource_and_endpoint_connections/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_disk_access_private_endpoint.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_private_endpoint_connection_disk_access.yaml
Labels: Network, Auto-Assign

#28020 [RDBMS] Add support for server log files for PostgreSQL flexible server
  src/azure-cli/azure/cli/command_modules/rdbms/_client_factory.py
  src/azure-cli/azure/cli/command_modules/rdbms/_helptext_pg.py
  src/azure-cli/azure/cli/command_modules/rdbms/_params.py
  src/azure-cli/azure/cli/command_modules/rdbms/flexible_server_commands.py
  src/azure-cli/azure/cli/command_modules/rdbms/flexible_server_custom_postgres.py
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_flexible_server_logs_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/test_rdbms_flexible_commands.py
Labels: Auto-Assign

#28006 [Network] `az network application-gateway waf-config list-dynamic-rule-sets`: Support to get the WAF dynamic manifest
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/waf_config/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/waf_config/_list_dynamic_rule_sets.py
  src/azure-cli/azure/cli/command_modules/network/aaz/profile_2017_03_09_profile/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/profile_2018_03_01_hybrid/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/profile_2020_09_01_hybrid/__init__.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_waf_config.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Labels: Network, Auto-Assign

#28039 [RDBMS] Add support for provisioning and updating Premium SSDV2 Disks in CLI for PostgreSQL flexible servers
  src/azure-cli/azure/cli/command_modules/rdbms/_flexible_server_location_capabilities_util.py
  src/azure-cli/azure/cli/command_modules/rdbms/_helptext_pg.py
  src/azure-cli/azure/cli/command_modules/rdbms/_params.py
  src/azure-cli/azure/cli/command_modules/rdbms/flexible_server_custom_postgres.py
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_flexible_server_ssdv2_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_flexible_server_vnet_mgmt_validator.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/test_rdbms_flexible_commands.py
  src/azure-cli/azure/cli/command_modules/rdbms/validators.py
Labels: Auto-Assign

#27736 [App Service] `az functionapp create`: Add workload profile support for Centauri apps
  src/azure-cli/azure/cli/command_modules/appservice/_params.py
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_container_config_set_replicas.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_create_with_appcontainer_managed_environment_existing_app_insights.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_workloadprofiles.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_functionapp_commands.py
Labels: Functions, Auto-Assign, ContainerApp

#27847 [ARM] `az bicep publish`: Add optional parameter `--with-source` to publish source code with the module (experimental)
  src/azure-cli/azure/cli/command_modules/resource/_help.py
  src/azure-cli/azure/cli/command_modules/resource/_params.py
  src/azure-cli/azure/cli/command_modules/resource/custom.py
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/test_resource_custom.py
Labels: ARM, Auto-Assign

#28036 {CI} Update bot config
  .github/policies/resourceManagement.yml
  .github/workflows/AddIssueComment.yml
  .github/workflows/BlockPRMerge.yml
Labels: CI, Auto-Assign

#28066 [RDBMS] Add support for Migration validation and unified migrations
  src/azure-cli/azure/cli/command_modules/rdbms/_helptext_pg.py
  src/azure-cli/azure/cli/command_modules/rdbms/_params.py
  src/azure-cli/azure/cli/command_modules/rdbms/flexible_server_custom_postgres.py
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/migrationOnPremise.json
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/migrationPublic.json
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_flexible_server_migration.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_flexible_server_onpremise_migration.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/test_rdbms_flexible_commands.py
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/test_rdbms_flexible_commands_postgres_migration.py
Labels: Auto-Assign

#28015 {Keyvault} GA mhsm user assigned identity
  src/azure-cli/azure/cli/command_modules/keyvault/_params.py
Labels: KeyVault, Auto-Assign

#28024 {Compute} `az disk-encryption-set` and `az snapshot revoke-access`: Upgrade API version
  src/azure-cli/azure/cli/command_modules/vm/aaz/latest/__init__.py
  src/azure-cli/azure/cli/command_modules/vm/aaz/latest/disk_encryption_set/_list_associated_resources.py
  src/azure-cli/azure/cli/command_modules/vm/aaz/latest/snapshot/_revoke_access.py
  src/azure-cli/azure/cli/command_modules/vm/aaz/profile_2018_03_01_hybrid/__init__.py
  src/azure-cli/azure/cli/command_modules/vm/aaz/profile_2019_03_01_hybrid/__init__.py
  src/azure-cli/azure/cli/command_modules/vm/aaz/profile_2020_09_01_hybrid/__init__.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_disk_encryption_set_snapshot.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_snapshot_access.yaml
Labels: Compute, Auto-Assign

#28087 [ARM] `az lock delete`: Fix the case sensitive comparison issue for resource group name
  src/azure-cli/azure/cli/command_modules/resource/custom.py
Labels: ARM, Auto-Assign

#28042 [AKS] `az aks update`: Add parameter `--network-plugin` to Update command to support migrating to Azure CNI Overlay
  src/azure-cli/azure/cli/command_modules/acs/_help.py
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/managed_cluster_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_kubenet_to_cni_overlay_migration.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_managed_cluster_decorator.py
Labels: Network, AKS, Auto-Assign

#27980 [Compute] `az vmss create`: Change `--orchestration-mode` to support only `uniform` for old profile
  src/azure-cli/azure/cli/command_modules/vm/_params.py
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2018_03_01/test_vm_commands.py
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2019_03_01/test_vm_commands.py
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2020_09_01/recordings/test_disk_access.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2020_09_01/recordings/test_gallery_image.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2020_09_01/recordings/test_linux_vm_patch_mode.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2020_09_01/recordings/test_ppg_update.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2020_09_01/recordings/test_ppg_with_related_resources.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2020_09_01/recordings/test_proximity_placement_group.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2020_09_01/recordings/test_snapshot_access.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2020_09_01/recordings/test_vm_availset.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2020_09_01/recordings/test_vm_capture_zone_resilient_image.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2020_09_01/recordings/test_vm_create_by_attach_os_and_data_disks.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2020_09_01/recordings/test_vm_create_by_attach_unmanaged_os_and_data_disks.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2020_09_01/recordings/test_vm_create_existing_ids_options.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2020_09_01/recordings/test_vm_create_existing_nic.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2020_09_01/recordings/test_vm_create_existing_options.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2020_09_01/recordings/test_vm_create_from_unmanaged_disk.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2020_09_01/recordings/test_vm_create_with_specialized_unmanaged_disk.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2020_09_01/recordings/test_vm_create_with_unmanaged_data_disks.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2020_09_01/recordings/test_vm_custom_image.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2020_09_01/recordings/test_vm_custom_image_management.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2020_09_01/recordings/test_vm_custom_image_name_conflict.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2020_09_01/recordings/test_vm_disk_create_zones.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2020_09_01/recordings/test_vm_extension.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2020_09_01/recordings/test_vm_extension_instance_name.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2020_09_01/recordings/test_vm_generalize.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2020_09_01/recordings/test_vm_generic_update.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2020_09_01/recordings/test_vm_image_list_offers.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2020_09_01/recordings/test_vm_image_list_publishers.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2020_09_01/recordings/test_vm_image_list_skus.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2020_09_01/recordings/test_vm_machine_extension_image.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2020_09_01/recordings/test_vm_managed_disk.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2020_09_01/recordings/test_vm_os_disk_swap.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2020_09_01/recordings/test_vm_redeploy.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2020_09_01/recordings/test_vm_run_command_e2e.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2020_09_01/recordings/test_vm_show_list_sizes_list_ip_addresses.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2020_09_01/recordings/test_vm_simulate_eviction.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2020_09_01/recordings/test_vm_size_list.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2020_09_01/recordings/test_vm_stop_start.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2020_09_01/recordings/test_vm_vmss_windows_license_type.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2020_09_01/recordings/test_vmss_create_and_modify.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2020_09_01/recordings/test_vmss_create_auth.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2020_09_01/recordings/test_vmss_create_custom_data.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2020_09_01/recordings/test_vmss_create_idempotent.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2020_09_01/recordings/test_vmss_create_none_options.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2020_09_01/recordings/test_vmss_create_options.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2020_09_01/recordings/test_vmss_create_with_app_gateway.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2020_09_01/recordings/test_vmss_existing_lb.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2020_09_01/recordings/test_vmss_nics.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2020_09_01/recordings/test_vmss_public_ip_per_vm_custom_domain_name.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2020_09_01/recordings/test_vmss_rolling_upgrade.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2020_09_01/recordings/test_vmss_simulate_eviction.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2020_09_01/recordings/test_vmss_update_instance_disks.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2020_09_01/recordings/test_vmss_vms.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2020_09_01/recordings/test_vmss_with_ilb.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2020_09_01/test_vm_commands.py
Labels: Compute, Auto-Assign

#28091 [Storage] BREAKING CHANGE: `az storage account create`: Server change default value for `--allow-blob-public-access` and `--allow-cross-tenant-replication` to `False` for new accounts
  src/azure-cli/azure/cli/command_modules/storage/_params.py
  src/azure-cli/azure/cli/command_modules/storage/_validators.py
Labels: Storage, Auto-Assign

#28092 {Storage} `az storage account migration start`: Add missing required param `--name default` when not using `--id` in example
  src/azure-cli/azure/cli/command_modules/storage/aaz/latest/__init__.py
  src/azure-cli/azure/cli/command_modules/storage/aaz/latest/storage/account/migration/_start.py
Labels: Storage, Auto-Assign

#28033 [EventHub/ServiceBus] `az eventhubs georecovery-alias create` `az servicebus georecovery-alias create` parameter-name is required for this cmdlets
  src/azure-cli/azure/cli/command_modules/eventhubs/aaz/latest/eventhubs/georecovery_alias/_create.py
  src/azure-cli/azure/cli/command_modules/eventhubs/tests/latest/recordings/test_eh_alias.yaml
  src/azure-cli/azure/cli/command_modules/eventhubs/tests/latest/test_eventhub_commands_alias_test.py
  src/azure-cli/azure/cli/command_modules/servicebus/aaz/latest/servicebus/georecovery_alias/_create.py
Labels: Service Bus, Event Hubs, Auto-Assign

#28011 {RDBMS} `az postgres flexible-server create`: Remove duplicate (y/n) in first prompt from prepare_public_network
  src/azure-cli/azure/cli/command_modules/rdbms/flexible_server_virtual_network.py
Labels: Auto-Assign

#28088 [Compute] `az vm/vmss create/update`: Add new parameters `--enable-proxy-agent` and `--proxy-agent-mode` to support azure metadata security protocol
  src/azure-cli/azure/cli/command_modules/vm/_params.py
  src/azure-cli/azure/cli/command_modules/vm/_template_builder.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_vmss_proxy_agent.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Auto-Assign

#28094 [Compute] `az vm/vmss create`: Add new paramters option `NonPersistedTPM` for `--os-disk-security-encryption-type` to support creating Intel TDX based Confidential VM
  src/azure-cli/azure/cli/command_modules/vm/_validators.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_vmss_non_persisted_tpm.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Auto-Assign
