Repository Azure/azure-cli, pull requests merged in 2023-01, with the labels that each got.

#24917 [App Service] Fix #19893: `az appservice plan create`: Fix the bug that cannot create app plan in a different subscription for ASEv3
  src/azure-cli/azure/cli/command_modules/appservice/_help.py
  src/azure-cli/azure/cli/command_modules/appservice/_params.py
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
Labels: App Services, customer-reported, Auto-Assign

#24951 [Storage] `az storage blob copy start`: Fix `--tier` to support setting blob tier when copying
  src/azure-cli/azure/cli/command_modules/storage/operations/blob.py
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_blob_copy_rehydrate_priority.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/test_storage_blob_copy_scenarios.py
Labels: Storage, Auto-Assign

#24979 [Redis] Add support for `2022-06-01` API version
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_private_endpoint_connection_acfr.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_private_link_resource_acfr.yaml
  src/azure-cli/azure/cli/command_modules/redis/_help.py
  src/azure-cli/azure/cli/command_modules/redis/_params.py
  src/azure-cli/azure/cli/command_modules/redis/commands.py
  src/azure-cli/azure/cli/command_modules/redis/custom.py
  src/azure-cli/azure/cli/command_modules/redis/tests/latest/recordings/test_redis_cache_export_import.yaml
  src/azure-cli/azure/cli/command_modules/redis/tests/latest/recordings/test_redis_cache_firewall.yaml
  src/azure-cli/azure/cli/command_modules/redis/tests/latest/recordings/test_redis_cache_list_firewall_and_server_link_works.yaml
  src/azure-cli/azure/cli/command_modules/redis/tests/latest/recordings/test_redis_cache_list_keys.yaml
  src/azure-cli/azure/cli/command_modules/redis/tests/latest/recordings/test_redis_cache_list_works.yaml
  src/azure-cli/azure/cli/command_modules/redis/tests/latest/recordings/test_redis_cache_managed_identity.yaml
  src/azure-cli/azure/cli/command_modules/redis/tests/latest/recordings/test_redis_cache_patch_schedule.yaml
  src/azure-cli/azure/cli/command_modules/redis/tests/latest/recordings/test_redis_cache_reboot.yaml
  src/azure-cli/azure/cli/command_modules/redis/tests/latest/recordings/test_redis_cache_regenerate_key_update_tags.yaml
  src/azure-cli/azure/cli/command_modules/redis/tests/latest/recordings/test_redis_cache_server_link.yaml
  src/azure-cli/azure/cli/command_modules/redis/tests/latest/recordings/test_redis_cache_update.yaml
  src/azure-cli/azure/cli/command_modules/redis/tests/latest/recordings/test_redis_cache_with_mandatory_args.yaml
  src/azure-cli/azure/cli/command_modules/redis/tests/latest/recordings/test_redis_cache_with_redisversion.yaml
  src/azure-cli/azure/cli/command_modules/redis/tests/latest/recordings/test_redis_cache_with_tags_and_zones.yaml
  src/azure-cli/azure/cli/command_modules/redis/tests/latest/recordings/test_redis_cache_with_tlsversion_and_settings.yaml
  src/azure-cli/azure/cli/command_modules/redis/tests/latest/test_redis_scenario.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: Redis Cache, Auto-Assign

#25025 {sql} Fix #25016: Fix Invalid permission for sas token 'az sql db exp…
  src/azure-cli/azure/cli/command_modules/sql/_help.py
Labels: Documentation, SQL, Auto-Assign

#25028 {CI} `az network vnet subnet create`: Fix failures due to vnet migration
  src/azure-cli/azure/cli/command_modules/netappfiles/tests/latest/recordings/test_assign_backup_policy_to_volume.yaml
  src/azure-cli/azure/cli/command_modules/netappfiles/tests/latest/recordings/test_create_volume_quota_rule.yaml
  src/azure-cli/azure/cli/command_modules/netappfiles/tests/latest/recordings/test_volume_quota_rule_list.yaml
Labels: Network, CI, Auto-Assign

#25007 [AKS] `az aks create/update`: Add support for KEDA workload auto-scaler
  src/azure-cli/azure/cli/command_modules/acs/_help.py
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/managed_cluster_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
Labels: AKS, Auto-Assign

#24958 [App Service] Fix#16478: `az functionapp cors credentials`: Add enable/disable CORS creds command
  src/azure-cli/azure/cli/command_modules/appservice/_help.py
  src/azure-cli/azure/cli/command_modules/appservice/_params.py
  src/azure-cli/azure/cli/command_modules/appservice/commands.py
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_cors_credentials.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_functionapp_commands.py
Labels: App Services, Auto-Assign

#24982 {Packaging} Bump PyWin32 to 305
  src/azure-cli/requirements.py3.windows.txt
Labels: Packaging, Auto-Assign

#24890 [App Service] Fix#22934: `az functionapp delete`: Add new parameter `--keep-empty-plan` to support keeping empty app service plan
  src/azure-cli/azure/cli/command_modules/appservice/_params.py
  src/azure-cli/azure/cli/command_modules/appservice/commands.py
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_auto_delete_plan.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_retain_plan.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_functionapp_commands.py
Labels: App Services, Portal, Auto-Assign

#24671 {Packaging} Update psycopg2 to support Python 3.11
  src/azure-cli/requirements.py3.windows.txt
Labels: Packaging, Auto-Assign

#25027 {CI} Update milestone from Dec 2022 (2023-01-03) to Jan 2023 (2023-02-07)
  .github/fabricbot.json
Labels: CI, Auto-Assign

#24926 {Role} `az role assignment create`: Refine help message for `--name`
  src/azure-cli/azure/cli/command_modules/role/_params.py
Labels: RBAC, Auto-Assign

#24974 {Network} `az network nsg`: Refactor network security group
  src/azure-cli/azure/cli/command_modules/network/_format.py
  src/azure-cli/azure/cli/command_modules/network/_help.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/nsg/_create.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/nsg/_delete.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/nsg/_list.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/nsg/_show.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/nsg/_update.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/nsg/_wait.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/nsg/rule/_create.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/nsg/rule/_delete.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/nsg/rule/_list.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/nsg/rule/_show.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/nsg/rule/_update.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/nsg/rule/_wait.py
  src/azure-cli/azure/cli/command_modules/network/commands.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_extended_nsg.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_nsg.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Labels: Network, Auto-Assign

#25035 [Network] `az network lb update`: Expose parameter `--tags`
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/lb/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/lb/_create.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/lb/_delete.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/lb/_list.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/lb/_list_mapping.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/lb/_list_nic.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/lb/_show.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/lb/_update.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/lb/_wait.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/lb/probe/_list.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/lb/probe/_show.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_lb_sku.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Labels: Network, Auto-Assign

#24900 {App Service} `az webapp config appsettings set`: Update `--settings` parameter description
  src/azure-cli/azure/cli/command_modules/appservice/_help.py
Labels: Web Apps, App Services, Auto-Assign

#24833 [Container] `az container export`: Fix export when identity is set
  src/azure-cli/azure/cli/command_modules/container/custom.py
  src/azure-cli/azure/cli/command_modules/container/tests/latest/recordings/test_container_export_with_identity.yaml
  src/azure-cli/azure/cli/command_modules/container/tests/latest/test_container_commands.py
Labels: bug

#24973 {CI} Update appservice routing rules
  .github/fabricbot.json
Labels: Web Apps, App Services, Backup, CI, Auto-Assign

#23894 [App Service] `az staticwebapp functions link`: Add new parameter `--environment-name` to support setting the environment name of static site
  src/azure-cli/azure/cli/command_modules/appservice/_params.py
  src/azure-cli/azure/cli/command_modules/appservice/static_sites.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_staticapp_commands_thru_mock.py
Labels: App Services, customer-reported, Auto-Assign

#25052 {CI} Fix #24973: Add missing required condition `isAction = opened` to appservice routing rules.
  .github/fabricbot.json
Labels: CI, Auto-Assign

#25005 {AKS} Add error message for nodepool add w/o os type for Windows SKU's
  src/azure-cli/azure/cli/command_modules/acs/agentpool_decorator.py
Labels: AKS, Auto-Assign

#25054 {CI} Fix #25052: Using the wrong operator, change `or` to `and`
  .github/fabricbot.json
Labels: CI, Auto-Assign

#25056 {Compute} Add example for creating a VM by attaching to an unmanaged operating disk
  src/azure-cli/azure/cli/command_modules/vm/_help.py
Labels: Compute, Auto-Assign

#25057 {Network} `az network cross-region-lb`: Migrate commands to codegen v2
  src/azure-cli/azure/cli/command_modules/network/commands.py
  src/azure-cli/azure/cli/command_modules/network/operations/__init__.py
  src/azure-cli/azure/cli/command_modules/network/operations/load_balancer.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_cross_region_lb.yaml
Labels: Network, Auto-Assign

#25069 [ACR] `acr manifest list-referrers`: Support OCI reference types and remove ORAS artifact reference types
  src/azure-cli/azure/cli/command_modules/acr/_constants.py
  src/azure-cli/azure/cli/command_modules/acr/_help.py
  src/azure-cli/azure/cli/command_modules/acr/manifest.py
  src/azure-cli/azure/cli/command_modules/acr/tests/latest/test_acr_commands_mock.py
Labels: Container Registry, Auto-Assign

#25064 [Network] `az bastion`: Move Azure Bastion to Azure CLI Extension
  src/azure-cli/azure/cli/command_modules/network/_client_factory.py
  src/azure-cli/azure/cli/command_modules/network/_help.py
  src/azure-cli/azure/cli/command_modules/network/_params.py
  src/azure-cli/azure/cli/command_modules/network/_process_helper.py
  src/azure-cli/azure/cli/command_modules/network/_validators.py
  src/azure-cli/azure/cli/command_modules/network/azure_stack/_client_factory.py
  src/azure-cli/azure/cli/command_modules/network/azure_stack/_params.py
  src/azure-cli/azure/cli/command_modules/network/azure_stack/_process_helper.py
  src/azure-cli/azure/cli/command_modules/network/azure_stack/_validators.py
  src/azure-cli/azure/cli/command_modules/network/azure_stack/commands.py
  src/azure-cli/azure/cli/command_modules/network/azure_stack/custom.py
  src/azure-cli/azure/cli/command_modules/network/azure_stack/tunnel.py
  src/azure-cli/azure/cli/command_modules/network/commands.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_bastion_host_create.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_bastion_commands.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py
  src/azure-cli/azure/cli/command_modules/network/tunnel.py
Labels: Network, Auto-Assign

#25071 {CI} Update funtionsapp mentionees
  .github/fabricbot.json
Labels: CI, Auto-Assign

#25050 [AKS] Make ContainerInsights DataCollectionRuleName consistent with Portal and other onboarding clients
  src/azure-cli/azure/cli/command_modules/acs/addonconfiguration.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_addonconfiguration.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
Labels: AKS, Portal, Auto-Assign

#25090 [Network] Fix #25086: `az network lb probe`: Expose parameter `--probes`
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/lb/_update.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_lb_probes.yaml
Labels: Network, Auto-Assign

#25094 {Network} `az network lb probe`: Revert exposing parameter `--probes`
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/lb/_update.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_lb_probes.yaml
Labels: Network, Auto-Assign

#25063 {ARM} Update Tag Delete description
  src/azure-cli/azure/cli/command_modules/resource/_help.py
Labels: ARM, Auto-Assign

#24793 {Packaging} Bump cryptography to 38.0.4, pyOpenSSL to 22.1.0
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
Labels: Installation, Auto-Assign

#25075 [Core] `aaz`: Support AAZFileArg
  src/azure-cli-core/azure/cli/core/aaz/__init__.py
  src/azure-cli-core/azure/cli/core/aaz/_arg.py
  src/azure-cli-core/azure/cli/core/aaz/_arg_fmt.py
  src/azure-cli-core/azure/cli/core/tests/test_aaz_arg_fmt.py
Labels: Core, Auto-Assign

#24916 {Core} Print traceback for all subclasses of `AzCLIError`
  src/azure-cli-core/azure/cli/core/azclierror.py
  src/azure-cli-core/azure/cli/core/util.py
Labels: Core, Auto-Assign

#25034 [Batch] Fix #24007: `az batch pool create`: Fix the 'MissingRequiredProperty' error when the parameter `--encryption-key-identifier` is used
  src/azure-cli/azure/cli/command_modules/batch/custom.py
  src/azure-cli/azure/cli/command_modules/batch/tests/latest/recordings/test_batch_general_arm_cmd.yaml
  src/azure-cli/azure/cli/command_modules/batch/tests/latest/test_batch_mgmt_commands.py
Labels: Batch, Auto-Assign

#25026 {CI} Extension regression test pipeline
  scripts/ci/automation_full_test.py
  scripts/regression_test/extension_regression_test.yml
  scripts/regression_test/regression_test.yml
Labels: CI, Auto-Assign

#25103 {Network} `az network application-gateway url-path-map`: Migrate commands to codegen v2
  src/azure-cli/azure/cli/command_modules/network/_help.py
  src/azure-cli/azure/cli/command_modules/network/_params.py
  src/azure-cli/azure/cli/command_modules/network/_validators.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/url_path_map/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/url_path_map/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/url_path_map/_create.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/url_path_map/_delete.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/url_path_map/_list.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/url_path_map/_show.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/url_path_map/_update.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/url_path_map/_wait.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/url_path_map/rule/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/url_path_map/rule/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/url_path_map/rule/_create.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/url_path_map/rule/_delete.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/url_path_map/rule/_wait.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/waf_config/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/waf_config/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/waf_config/_list_rule_sets.py
  src/azure-cli/azure/cli/command_modules/network/commands.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_url_path_map.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_url_path_map_edge_case.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_waf_config.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_waf_v2_config.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Labels: Network, Auto-Assign

#25133 {CI} Fix home path `~` in regression test pipeline
  scripts/ci/automation_full_test.py
  scripts/regression_test/extension_regression_test.yml
  scripts/regression_test/regression_test.yml
Labels: CI, Auto-Assign

#25134 [Network] Fix #25130: `az network list-usages`: `-o table` cannot be used
  src/azure-cli/azure/cli/command_modules/network/_format.py
  src/azure-cli/azure/cli/command_modules/network/commands.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_usage_list.yaml
Labels: Network, Auto-Assign

#25058 {Network} `az network private-endpoint`: Migrate to atomic commands
  src/azure-cli/azure/cli/command_modules/network/_actions.py
  src/azure-cli/azure/cli/command_modules/network/_client_factory.py
  src/azure-cli/azure/cli/command_modules/network/_help.py
  src/azure-cli/azure/cli/command_modules/network/_params.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/private_endpoint/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/private_endpoint/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/private_endpoint/_create.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/private_endpoint/_delete.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/private_endpoint/_list.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/private_endpoint/_list_types.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/private_endpoint/_show.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/private_endpoint/_update.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/private_endpoint/_wait.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/private_endpoint/asg/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/private_endpoint/asg/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/private_endpoint/asg/_add.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/private_endpoint/asg/_list.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/private_endpoint/asg/_remove.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/private_endpoint/asg/_wait.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/private_endpoint/dns_zone_group/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/private_endpoint/dns_zone_group/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/private_endpoint/dns_zone_group/_add.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/private_endpoint/dns_zone_group/_create.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/private_endpoint/dns_zone_group/_delete.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/private_endpoint/dns_zone_group/_list.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/private_endpoint/dns_zone_group/_remove.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/private_endpoint/dns_zone_group/_show.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/private_endpoint/dns_zone_group/_wait.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/private_endpoint/ip_config/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/private_endpoint/ip_config/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/private_endpoint/ip_config/_add.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/private_endpoint/ip_config/_list.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/private_endpoint/ip_config/_remove.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/private_endpoint/ip_config/_wait.py
  src/azure-cli/azure/cli/command_modules/network/commands.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_private_endpoint_asg.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_private_endpoint_ip_config.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_private_endpoint_private_dns_zone_group.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_private_endpoints.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Labels: Network, Auto-Assign

#25121 {Network} `az network private-link-service`: Migrate to atomic commands
  src/azure-cli/azure/cli/command_modules/network/_params.py
  src/azure-cli/azure/cli/command_modules/network/_validators.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/private_link_service/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/private_link_service/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/private_link_service/_create.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/private_link_service/_delete.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/private_link_service/_list.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/private_link_service/_show.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/private_link_service/_update.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/private_link_service/_wait.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/private_link_service/connection/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/private_link_service/connection/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/private_link_service/connection/_delete.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/private_link_service/connection/_update.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/private_link_service/connection/_wait.py
  src/azure-cli/azure/cli/command_modules/network/commands.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_private_endpoints.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_private_link_service.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Labels: Network, Auto-Assign

#25143 {Network} `az network application-gateway ssl-policy/profile`: Migrate commands to codegen v2
  src/azure-cli/azure/cli/command_modules/network/_params.py
  src/azure-cli/azure/cli/command_modules/network/_validators.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/ssl_policy/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/ssl_policy/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/ssl_policy/_list_options.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/ssl_policy/_set.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/ssl_policy/_show.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/ssl_policy/_wait.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/ssl_policy/predefined/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/ssl_policy/predefined/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/ssl_policy/predefined/_list.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/ssl_policy/predefined/_show.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/ssl_profile/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/ssl_profile/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/ssl_profile/_add.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/ssl_profile/_list.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/ssl_profile/_remove.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/ssl_profile/_show.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/ssl_profile/_update.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/ssl_profile/_wait.py
  src/azure-cli/azure/cli/command_modules/network/commands.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_with_private_ip.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_with_ssl_profile.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Labels: Network, Auto-Assign

#25135 [Storage] `az storage account create`: Ongoing breaking change warning for disallowing blob public access by default
  src/azure-cli/azure/cli/command_modules/storage/_params.py
  src/azure-cli/azure/cli/command_modules/storage/_validators.py
Labels: Account, Storage, Auto-Assign

#25136 [Compute] `az image builder`: Add subgroup `az image builder identity` to support managing identities of image builder template
  src/azure-cli/azure/cli/command_modules/vm/_help.py
  src/azure-cli/azure/cli/command_modules/vm/_image_builder.py
  src/azure-cli/azure/cli/command_modules/vm/_params.py
  src/azure-cli/azure/cli/command_modules/vm/commands.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_image_build_identity.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_image_builder_basic_sig.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_image_builder_commands.py
Labels: Compute, Auto-Assign

#25147 {Network} `az network application-gateway ssl-cert`: Migrate commands to codegen v2
  src/azure-cli/azure/cli/command_modules/network/_params.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/ssl_cert/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/ssl_cert/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/ssl_cert/_create.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/ssl_cert/_delete.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/ssl_cert/_list.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/ssl_cert/_show.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/ssl_cert/_update.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/ssl_cert/_wait.py
  src/azure-cli/azure/cli/command_modules/network/commands.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_with_identity.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_with_private_ip.yaml
Labels: Network, Auto-Assign

#25116 {AKS} az aks nodepool: Add doc line on how to delete node taints
  src/azure-cli/azure/cli/command_modules/acs/_help.py
Labels: AKS, customer-reported, Auto-Assign

#25141 [App Service] `az webapp create-remote-connection`: Update the host address of SSH tunnel from 0.0.0.0 to 127.0.0.1
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
Labels: Web Apps, Auto-Assign

#25157 {network} `az network cross-region-lb/lb frontended-ip`: Migrate to Codegen V2
  src/azure-cli/azure/cli/command_modules/network/_validators.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/lb/frontend_ip/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/lb/frontend_ip/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/lb/frontend_ip/_create.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/lb/frontend_ip/_delete.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/lb/frontend_ip/_list.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/lb/frontend_ip/_show.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/lb/frontend_ip/_update.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/lb/frontend_ip/_wait.py
  src/azure-cli/azure/cli/command_modules/network/commands.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/operations/load_balancer.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_cross_region_load_balancer_ip_config.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_lb_front_ip.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_lb_frontend_ip_zone.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_lb_zone.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_load_balancer_ip_config.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_load_balancer_outbound_rules.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_nic_front_ip.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Labels: Network, Auto-Assign

#25156 [Network] Fix #25124: `az network vnet-gateway create`: Active-Active gateway fails with insufficient IP configurations
  src/azure-cli/azure/cli/command_modules/network/custom.py
Labels: Network, Auto-Assign

#25159 {Network} `az network application-gateway address-pool/auth-cert/client-cert/root-cert`: Migrate commands to codegen v2
  src/azure-cli/azure/cli/command_modules/network/_params.py
  src/azure-cli/azure/cli/command_modules/network/_validators.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/address_pool/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/address_pool/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/address_pool/_create.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/address_pool/_delete.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/address_pool/_list.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/address_pool/_show.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/address_pool/_update.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/address_pool/_wait.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/auth_cert/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/auth_cert/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/auth_cert/_create.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/auth_cert/_delete.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/auth_cert/_list.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/auth_cert/_show.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/auth_cert/_update.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/auth_cert/_wait.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/client_cert/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/client_cert/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/client_cert/_add.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/client_cert/_list.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/client_cert/_remove.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/client_cert/_show.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/client_cert/_update.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/client_cert/_wait.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/root_cert/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/root_cert/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/root_cert/_create.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/root_cert/_delete.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/root_cert/_list.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/root_cert/_show.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/root_cert/_update.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/root_cert/_wait.py
  src/azure-cli/azure/cli/command_modules/network/commands.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_appgw_with_tcp.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_address_pool.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_auth_cert.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_root_cert.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_routing_rule.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_url_path_map.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_url_path_map_edge_case.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_with_identity.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_with_trusted_client_cert.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_nic_ag_address_pools.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_nic_app_gateway.yaml
Labels: Network, Auto-Assign

#25158 {network} `az network`: Fix command-groups in aaz
  src/azure-cli/azure/cli/command_modules/network/aaz/2018_03_01_hybrid/network/vnet/peering/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/2019_03_01_hybrid/network/vnet/peering/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/2020_09_01_hybrid/network/vnet/peering/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/route_filter/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/route_filter/rule/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/security_partner_provider/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/virtual_appliance/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/virtual_appliance/site/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/virtual_appliance/sku/__cmd_group.py
Labels: Network, Auto-Assign

#25169 [Storage] Fix #25013: `az storage container immutability-policy create`: Allow user to not specify `--resource-group`
  src/azure-cli/azure/cli/command_modules/storage/_params.py
  src/azure-cli/azure/cli/command_modules/storage/commands.py
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_immutability_policy.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_immutability_policy_with_allow_protected_append_writes_all.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/test_storage_container_immutability_policy.py
Labels: Storage, ARM, Auto-Assign

#25174 {Network} `az network application-gateway frontend-ip/frontend-port`: Migrate commands to codegen v2
  src/azure-cli/azure/cli/command_modules/network/_params.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/frontend_ip/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/frontend_ip/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/frontend_ip/_create.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/frontend_ip/_delete.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/frontend_ip/_list.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/frontend_ip/_show.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/frontend_ip/_update.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/frontend_ip/_wait.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/frontend_port/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/frontend_port/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/frontend_port/_create.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/frontend_port/_delete.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/frontend_port/_list.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/frontend_port/_show.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/frontend_port/_update.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/frontend_port/_wait.py
  src/azure-cli/azure/cli/command_modules/network/commands.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_ag_with_non_v2_sku.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_appgw_with_tcp.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_frontend_ip_private.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_frontend_ip_public.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_frontend_port.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_http_listener_with_multi_host_names.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_http_listener_with_waf_policy.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_listener.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_routing_rule.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_settings.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Labels: Network, Auto-Assign

#25170 {network} `az network lb inbound-nat-pool/inbound-nat-rule`: Migrate to aaz
  src/azure-cli/azure/cli/command_modules/network/_params.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/lb/inbound_nat_pool/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/lb/inbound_nat_pool/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/lb/inbound_nat_pool/_create.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/lb/inbound_nat_pool/_delete.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/lb/inbound_nat_pool/_list.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/lb/inbound_nat_pool/_show.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/lb/inbound_nat_pool/_update.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/lb/inbound_nat_pool/_wait.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/lb/inbound_nat_rule/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/lb/inbound_nat_rule/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/lb/inbound_nat_rule/_create.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/lb/inbound_nat_rule/_delete.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/lb/inbound_nat_rule/_list.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/lb/inbound_nat_rule/_show.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/lb/inbound_nat_rule/_update.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/lb/inbound_nat_rule/_wait.py
  src/azure-cli/azure/cli/command_modules/network/commands.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/operations/load_balancer.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_lb_nat_pools.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_lb_nat_rules.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_lb_nat_rules_v2.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_lb_nat_rules_v3.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_lb_port_mapping.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_nic.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_nic_subresources.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Labels: Network, Auto-Assign

#25185 {CI} Fix azure cli live test send email
  scripts/live_test/CLITest.yml
  scripts/live_test/sendemail.py
Labels: CI, Auto-Assign

#25166 {Batch} test recording cleanup
  src/azure-cli/azure/cli/command_modules/batch/tests/latest/recordings/test_batch_general_arm_cmd.yaml
Labels: Batch, Auto-Assign

#25236 [Network] `az network dns zone export`: Fix the export to emit all ALIAS records for a particular record set name
  src/azure-cli/azure/cli/command_modules/network/azure_stack/custom.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
Labels: Network, customer-reported, Auto-Assign

#25210 [SQL] `az sql midb recover`: Add support for managed database recover creation option
  src/azure-cli/azure/cli/command_modules/sql/_help.py
  src/azure-cli/azure/cli/command_modules/sql/_params.py
  src/azure-cli/azure/cli/command_modules/sql/_util.py
  src/azure-cli/azure/cli/command_modules/sql/commands.py
  src/azure-cli/azure/cli/command_modules/sql/custom.py
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/recordings/test_sql_midb_recover.yaml
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/test_sql_commands.py
Labels: SQL, Backup, Auto-Assign

#25231 [NetAppFiles] Fix volume patch dataprotection props
  src/azure-cli/azure/cli/command_modules/netappfiles/custom.py
Labels: NetAppFiles, Auto-Assign

#25261 {CI} Fix regression test git push branch
  scripts/ci/automation_full_test.py
  scripts/regression_test/regression_test.yml
Labels: CI, Auto-Assign

#25191 {Network} `az network application-gateway http-settings/settings`: Migrate commands to codegen v2
  src/azure-cli/azure/cli/command_modules/network/_params.py
  src/azure-cli/azure/cli/command_modules/network/_validators.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/http_settings/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/http_settings/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/http_settings/_create.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/http_settings/_delete.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/http_settings/_list.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/http_settings/_show.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/http_settings/_update.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/http_settings/_wait.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/settings/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/settings/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/settings/_create.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/settings/_delete.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/settings/_list.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/settings/_show.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/settings/_update.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/settings/_wait.py
  src/azure-cli/azure/cli/command_modules/network/commands.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_appgw_with_tcp.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_auth_cert.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_http_settings.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_root_cert.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_routing_rule.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_settings.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_url_path_map.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_url_path_map_edge_case.yaml
Labels: Network, Auto-Assign

#25198 [App Service] Add support to create ASPs with Memory Optimized Workers
  src/azure-cli/azure/cli/command_modules/appservice/_params.py
  src/azure-cli/azure/cli/command_modules/appservice/_validators.py
  src/azure-cli/azure/cli/command_modules/appservice/utils.py
Labels: customer-reported

#25269 {CI} Update milestone from Jan 2023 (2023-02-07) to Feb 2023 (2023-03-07)
  .github/fabricbot.json
Labels: CI, Auto-Assign

#24994 {Network} `az network vnet-gateway`: Migrate to atomic commands
  src/azure-cli/azure/cli/command_modules/network/_format.py
  src/azure-cli/azure/cli/command_modules/network/_help.py
  src/azure-cli/azure/cli/command_modules/network/_validators.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/vnet_gateway/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/vnet_gateway/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/vnet_gateway/_create.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/vnet_gateway/_delete.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/vnet_gateway/_disconnect_vpn_connections.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/vnet_gateway/_list.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/vnet_gateway/_list_advertised_routes.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/vnet_gateway/_list_bgp_peer_status.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/vnet_gateway/_list_learned_routes.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/vnet_gateway/_reset.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/vnet_gateway/_show.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/vnet_gateway/_show_supported_devices.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/vnet_gateway/_update.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/vnet_gateway/_wait.py
  src/azure-cli/azure/cli/command_modules/network/commands.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_active_active_cross_premise_connection.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_vnet_gateway_edge_zone.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_vnet_gateway_multi_auth.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_vnet_gateway_nat_rule.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_vpn_connection_nat_rule.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_vpn_gateway.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_vpn_gateway_disconnect_connects.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Labels: Network, Auto-Assign

#25264 [Network] `az network public-ip create`: Add parameter `--ddos-protection-plan`
  src/azure-cli/azure/cli/command_modules/network/_client_factory.py
  src/azure-cli/azure/cli/command_modules/network/_params.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/public_ip/_create.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/public_ip/_delete.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/public_ip/_list.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/public_ip/_show.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/public_ip/_update.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/public_ip/_wait.py
  src/azure-cli/azure/cli/command_modules/network/commands.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_public_ip_ddos_settings.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Labels: Network, Auto-Assign

#25276 {Network} `az network cross-region-lb/lb rule': Migrate to CodeGen V2
  src/azure-cli/azure/cli/command_modules/network/_params.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/lb/rule/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/lb/rule/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/lb/rule/_create.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/lb/rule/_delete.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/lb/rule/_list.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/lb/rule/_show.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/lb/rule/_update.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/lb/rule/_wait.py
  src/azure-cli/azure/cli/command_modules/network/commands.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/operations/load_balancer.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_cross_region_lb_rules.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_lb_rule_backend_address_pools.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_lb_rules.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_create_automatic_repairs_with_health_probe.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_set_orchestration_service_state.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_update_automatic_repairs_with_health_probe.yaml
Labels: Network, Auto-Assign

#25274 [Network] Fix #25181: `az network nsg rule create`: Use `*` as default value for protocol
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/nsg/rule/_create.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_extended_nsg.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Labels: Network, Auto-Assign

#25153 [RDBMS] `az mysql flexible-server create/update`: Add `--auto-scale-iops` to enable or disable autoscale of iops
  src/azure-cli/azure/cli/command_modules/rdbms/_params.py
  src/azure-cli/azure/cli/command_modules/rdbms/flexible_server_custom_mysql.py
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_mysql_flexible_server_paid_iops_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/test_rdbms_flexible_commands.py
Labels: Auto-Assign

#25192 [ServiceBus] `az servicebus topic subscription rule create/update`: Add `--correlation-filter` to support custom filters
  src/azure-cli/azure/cli/command_modules/servicebus/_params.py
  src/azure-cli/azure/cli/command_modules/servicebus/custom.py
  src/azure-cli/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_rules.yaml
  src/azure-cli/azure/cli/command_modules/servicebus/tests/latest/test_servicebus_rules_commands.py
Labels: Service Bus, Auto-Assign

#25212 {RDBMS} Add No Wait Support to RDBMS Start/Stop Commands
  src/azure-cli/azure/cli/command_modules/rdbms/flexible_server_commands.py
  src/azure-cli/azure/cli/command_modules/rdbms/flexible_server_custom_common.py
Labels: feature-request, Auto-Assign

#25262 {SQL} az sql mi list fixed example about moving managed instances to a different subnet
  src/azure-cli/azure/cli/command_modules/sql/_help.py
Labels: customer-reported

#25254 [SQL] `az sql db geo-backup restore/show/list`: New commands to manage geo redundant backups
  src/azure-cli/azure/cli/command_modules/sql/_help.py
  src/azure-cli/azure/cli/command_modules/sql/_params.py
  src/azure-cli/azure/cli/command_modules/sql/_util.py
  src/azure-cli/azure/cli/command_modules/sql/commands.py
  src/azure-cli/azure/cli/command_modules/sql/custom.py
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/recordings/test_sql_db_geo_restore.yaml
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/test_sql_commands.py
Labels: SQL, Backup, Auto-Assign

#25279 [SLQ] `az sql db threat-policy`: Change expiration version for cmd group to 2.49.0
  src/azure-cli/azure/cli/command_modules/sql/commands.py
Labels: SQL, Auto-Assign

#25225 [SQL] `az sql mi dtc`: Add managed instance DTC commands
  src/azure-cli/azure/cli/command_modules/sql/aaz/latest/sql/mi/dtc/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/sql/aaz/latest/sql/mi/dtc/__init__.py
  src/azure-cli/azure/cli/command_modules/sql/aaz/latest/sql/mi/dtc/_show.py
  src/azure-cli/azure/cli/command_modules/sql/aaz/latest/sql/mi/dtc/_update.py
  src/azure-cli/azure/cli/command_modules/sql/aaz/latest/sql/mi/dtc/_wait.py
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/recordings/test_sql_mi_dtc_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/test_sql_commands.py
Labels: SQL, Auto-Assign

#25033 [ARM] `az bicep`: Add configs to allow disabling version checks and using Bicep CLI from PATH
  src/azure-cli/azure/cli/command_modules/resource/_bicep.py
  src/azure-cli/azure/cli/command_modules/resource/_help.py
  src/azure-cli/azure/cli/command_modules/resource/custom.py
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/test_resource_bicep.py
Labels: ARM, Auto-Assign

#25281 {Network} `az network lb outbound-rule`: Migrate to CodeGen V2
  src/azure-cli/azure/cli/command_modules/network/_params.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/lb/outbound_rule/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/lb/outbound_rule/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/lb/outbound_rule/_create.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/lb/outbound_rule/_delete.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/lb/outbound_rule/_list.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/lb/outbound_rule/_show.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/lb/outbound_rule/_update.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/lb/outbound_rule/_wait.py
  src/azure-cli/azure/cli/command_modules/network/commands.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/operations/load_balancer.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_load_balancer_outbound_rules.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Labels: Network, Auto-Assign

#24796 [Packaging] Fix #24788: Add `-I` in entrypoint on MacOS
  scripts/release/homebrew/docker/formula_template.txt
Labels: Packaging, Auto-Assign

#25131 [Compute] `az vmss reimage`: Change `--instance-id` to support multiple id
  src/azure-cli/azure/cli/command_modules/vm/_params.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_reimage.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_reimage_instance_id.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Auto-Assign
