Repository Azure/azure-cli, pull requests merged in 2023-05, with the labels that each got.

#26243 {CI} Fabric bot support adding CLI label to `az ad`
  .github/fabricbot.json
Labels: Graph, CI, Auto-Assign

#26327 {CI} Update fabricbot.json
  .github/fabricbot.json
Labels: Functions, CI, Auto-Assign

#26329 {CI} Update AddPRComment.yml
  .github/workflows/AddPRComment.yml
Labels: CI, Auto-Assign

#25968 [SQL] `az sql elastic-pool`: Add `--preferred-enclave-type` argument
  src/azure-cli/azure/cli/command_modules/sql/_params.py
  src/azure-cli/azure/cli/command_modules/sql/custom.py
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/recordings/test_sql_db_preferred_enclave_type.yaml
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/test_sql_commands.py
Labels: SQL, Auto-Assign

#26111 {AppService} `az functionapp devops-pipeline create`: Omit making unsupported call for Centauri function apps
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_asp_ws1_create.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_asp_ws2_create.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_asp_ws3_create.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_autocreate_asp_for_logicapp.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_linux_webapp.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_linux_webapp_multicontainer_create.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_logicapp_e2e.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_logicapp_update.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_deleted_restore_to_existing_site.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_deleted_restore_to_non_existent_site.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_e2e.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_elastic_scale.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_elastic_scale_min_elastic_instance_count.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_elastic_scale_prewarmed_instance_count.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_local_context.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_ssl.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_ssl_import.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_ssl_import_crossrg.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_ssl_specify_hostname.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_webapp_commands.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_webapp_commands_thru_mock.py
Labels: Functions, App Services, Auto-Assign

#26263 {CI} Update `ResourceGroupPreparer` decorator to support tag module
  src/azure-cli-testsdk/azure/cli/testsdk/preparers.py
Labels: CI, Auto-Assign

#26219 [Core] `extension`: Install extensions without prompt as default behavior when it's not in a tty
  src/azure-cli-core/azure/cli/core/extension/dynamic_install.py
  src/azure-cli-core/azure/cli/core/tests/test_extension.py
Labels: Core, Installation, Auto-Assign

#26347 {ARM} `az lock create`: Fix warning log for `Readonly attribute name will be ignored in class ManagementLockObject`
  src/azure-cli/azure/cli/command_modules/resource/custom.py
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/recordings/test_group_lock_commands.yaml
Labels: ARM, Auto-Assign

#26259 [Service Connector] `az spring connection create`: Enable user-assigned managed identity for spring apps and deprecate Postgresql single server
  src/azure-cli/azure/cli/command_modules/serviceconnector/_resource_config.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/commands.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/_test_utils.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_springcloud_appconfig_umi.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_springcloud_cosmosgremlin_umi.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_springcloud_cosmosmongo_umi.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_springcloud_cosmossql_umi.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_springcloud_cosmostable_umi.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_springcloud_eventhub_umi.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_springcloud_keyvault_umi.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_springcloud_postgres_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_springcloud_servicebus_umi.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_springcloud_signalr_umi.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_springcloud_storageblob_umi.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_springcloud_storagequeue_umi.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_springcloud_webpubsub_umi.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/test_springcloud_connection_scenario.py
Labels: Web Apps, Auto-Assign, ContainerApp

#26290 {AKS} Fix test case `test_aks_create_with_outbound_type_udr`
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
Labels: AKS, Auto-Assign

#26357 [AKS] `az aks install-cli`: Add validation for installation path and update help message for parameters `--install-location` and `--kubelogin-install-location`
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/tests/hybrid_2020_09_01/test_custom.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_custom.py
Labels: AKS, Auto-Assign

#26344 {CI} Optimize pipeline result
  .github/azure-client-tools-bot/config.yml
  .github/azure-client-tools-bot/templates/PRComment.handlebars
  scripts/ci/automation_full_test.py
Labels: CI, Auto-Assign

#26307 [App Service] `az functionapp create`: Add new parameter `--registry-server` to support Centauri function app
  src/azure-cli/azure/cli/command_modules/appservice/_constants.py
  src/azure-cli/azure/cli/command_modules/appservice/_params.py
  src/azure-cli/azure/cli/command_modules/appservice/_validators.py
  src/azure-cli/azure/cli/command_modules/appservice/commands.py
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_functionapp_commands.py
Labels: Functions, App Services, Auto-Assign

#26368 [Backup] Add support for HANA HSR workload
  src/azure-cli/azure/cli/command_modules/backup/_params.py
  src/azure-cli/azure/cli/command_modules/backup/custom_help.py
Labels: Backup, Auto-Assign

#26378 {CI} Support similar bot
  .github/azure-client-tools-bot/config.yml
Labels: CI, Auto-Assign

#26287 {Core} `aaz`: Fix importlib deadlocks while loading `requests.models` in multi threads
  src/azure-cli-core/azure/cli/core/aaz/_poller.py
Labels: Core, Auto-Assign

#26311 {EventHub} `az eventhubs namespace schema-registry create/delete/list/show`: Migrating eventhubs namespace schema-registry cmdlets to AAZ
  src/azure-cli/azure/cli/command_modules/eventhubs/_params.py
  src/azure-cli/azure/cli/command_modules/eventhubs/aaz/latest/eventhubs/namespace/schema_registry/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/eventhubs/aaz/latest/eventhubs/namespace/schema_registry/__init__.py
  src/azure-cli/azure/cli/command_modules/eventhubs/aaz/latest/eventhubs/namespace/schema_registry/_create.py
  src/azure-cli/azure/cli/command_modules/eventhubs/aaz/latest/eventhubs/namespace/schema_registry/_delete.py
  src/azure-cli/azure/cli/command_modules/eventhubs/aaz/latest/eventhubs/namespace/schema_registry/_list.py
  src/azure-cli/azure/cli/command_modules/eventhubs/aaz/latest/eventhubs/namespace/schema_registry/_show.py
  src/azure-cli/azure/cli/command_modules/eventhubs/aaz/latest/eventhubs/namespace/schema_registry/_update.py
  src/azure-cli/azure/cli/command_modules/eventhubs/commands.py
  src/azure-cli/azure/cli/command_modules/eventhubs/custom.py
  src/azure-cli/azure/cli/command_modules/eventhubs/tests/latest/recordings/test_eventhub_schema_registry.yaml
  src/azure-cli/azure/cli/command_modules/eventhubs/tests/latest/test_eventhub_namespace_schema_registry.py
Labels: Event Hubs, Auto-Assign

#26308 [EventHub] `az eventhubs namespace exists`: Migrating eventhubs namespace exists cmd to AAZ
  src/azure-cli/azure/cli/command_modules/eventhubs/aaz/latest/eventhubs/namespace/__init__.py
  src/azure-cli/azure/cli/command_modules/eventhubs/aaz/latest/eventhubs/namespace/_exists.py
  src/azure-cli/azure/cli/command_modules/eventhubs/commands.py
  src/azure-cli/azure/cli/command_modules/eventhubs/custom.py
Labels: Event Hubs, Auto-Assign

#26358 [Monitor] `az monitor`: Add new subgroup `account` to support managing monitor workspace
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/account/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/account/__init__.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/account/_create.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/account/_delete.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/account/_list.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/account/_show.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/account/_update.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/account/_wait.py
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_account.yaml
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/test_monitor_account.py
Labels: Network, Auto-Assign

#26260 [Network] Fix #26248: `az network dns record-set cname set-record`: Declare TTL as integer type
  src/azure-cli/azure/cli/command_modules/network/_params.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_dns.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_dns_commands.py
Labels: Network, Auto-Assign

#26365 [Network] Fix #26326: `az network vnet subnet update`: `--nat-gateway` cannot be set to null
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_subnet_detach_nat_gateway.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Labels: Network, Auto-Assign

#26382 [Network] Fix #26318: `az network vnet subnet create`: `--nsg` and `--route-table` cannot be used as name from Azure Stack
  src/azure-cli/azure/cli/command_modules/network/azure_stack/2017_03_09_profile/operations/vnet.py
  src/azure-cli/azure/cli/command_modules/network/azure_stack/2018_03_01_hybrid/operations/vnet.py
  src/azure-cli/azure/cli/command_modules/network/azure_stack/2019_03_01_hybrid/operations/vnet.py
  src/azure-cli/azure/cli/command_modules/network/azure_stack/2020_09_01_hybrid/operations/vnet.py
Labels: Network, Auto-Assign

#26384 {monitor}`az monitor log-analytics workspace table create/update`: `--total-retention-time` fix upper validation
  src/azure-cli/azure/cli/command_modules/monitor/operations/log_analytics_workspace.py
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_log_analytics_workspace_table_total_retention_upper_fix.yaml
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/test_monitor_log_analytics_workspace.py
Labels: Monitor, Monitor - LogAnalytics, Auto-Assign

#26386 {CI} APIM pull request add `yanzhudd` as reviewer
  .github/fabricbot.json
Labels: API Management, CI, Auto-Assign

#26306 {Servicebus} `az servicebus namespace exists`: Migrating servicebus namespace exists cmd to AAZ
  src/azure-cli/azure/cli/command_modules/servicebus/_params.py
  src/azure-cli/azure/cli/command_modules/servicebus/aaz/latest/servicebus/namespace/__init__.py
  src/azure-cli/azure/cli/command_modules/servicebus/aaz/latest/servicebus/namespace/_exists.py
  src/azure-cli/azure/cli/command_modules/servicebus/commands.py
  src/azure-cli/azure/cli/command_modules/servicebus/custom.py
Labels: Service Bus, Auto-Assign

#26304 {Servicebus} `az servicebus migration start/abort/complete/show`: MIgrating servicebus migration cmdlets to AAZ
  src/azure-cli/azure/cli/command_modules/servicebus/_params.py
  src/azure-cli/azure/cli/command_modules/servicebus/_validators.py
  src/azure-cli/azure/cli/command_modules/servicebus/aaz/latest/servicebus/migration/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/servicebus/aaz/latest/servicebus/migration/__init__.py
  src/azure-cli/azure/cli/command_modules/servicebus/aaz/latest/servicebus/migration/_abort.py
  src/azure-cli/azure/cli/command_modules/servicebus/aaz/latest/servicebus/migration/_complete.py
  src/azure-cli/azure/cli/command_modules/servicebus/aaz/latest/servicebus/migration/_delete.py
  src/azure-cli/azure/cli/command_modules/servicebus/aaz/latest/servicebus/migration/_list.py
  src/azure-cli/azure/cli/command_modules/servicebus/aaz/latest/servicebus/migration/_show.py
  src/azure-cli/azure/cli/command_modules/servicebus/aaz/latest/servicebus/migration/_start.py
  src/azure-cli/azure/cli/command_modules/servicebus/aaz/latest/servicebus/migration/_update.py
  src/azure-cli/azure/cli/command_modules/servicebus/aaz/latest/servicebus/migration/_wait.py
  src/azure-cli/azure/cli/command_modules/servicebus/commands.py
  src/azure-cli/azure/cli/command_modules/servicebus/custom.py
  src/azure-cli/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_migration.yaml
Labels: Service Bus, Auto-Assign

#24765 {Core} Improve autocomplete performance by preventing loading all modules
  src/azure-cli-core/azure/cli/core/__init__.py
Labels: Core, Auto-Assign

#26249 [ARM] Fix #26216: `az bicep format`: Fix the TypeError `expected str, bytes or os.PathLike object, not bool`
  src/azure-cli/azure/cli/command_modules/resource/_params.py
  src/azure-cli/azure/cli/command_modules/resource/custom.py
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/test_resource.py
Labels: bug, ARM, Auto-Assign

#26402 {App Service} `az functionapp deployment source`: Add exception handler
  src/azure-cli/azure/cli/command_modules/appservice/commands.py
Labels: Functions, App Services, Auto-Assign

#26351 [App Service] `az functionapp create`: Update the default image to `mcr.microsoft.com` for Centauri
  src/azure-cli/azure/cli/command_modules/appservice/_constants.py
Labels: Functions, App Services, Auto-Assign

#26374 [ARM] Fix #26256: `az bicep publish/restore/generate-params`: Fix version checks without bicep installed
  src/azure-cli/azure/cli/command_modules/resource/custom.py
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/test_resource.py
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/test_resource_bicep.py
Labels: ARM, Auto-Assign

#26055 {EventHub} `az eventhubs georecovery-alias authorization-rule` `az eventhubs georecovery-alias break-pair/delete/list/fail-over/set/exists/show`: Migrating eventhub georecovery-alias cmdlets to AAZ
  src/azure-cli/azure/cli/command_modules/eventhubs/_params.py
  src/azure-cli/azure/cli/command_modules/eventhubs/aaz/latest/eventhubs/georecovery_alias/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/eventhubs/aaz/latest/eventhubs/georecovery_alias/__init__.py
  src/azure-cli/azure/cli/command_modules/eventhubs/aaz/latest/eventhubs/georecovery_alias/_break_pair.py
  src/azure-cli/azure/cli/command_modules/eventhubs/aaz/latest/eventhubs/georecovery_alias/_create.py
  src/azure-cli/azure/cli/command_modules/eventhubs/aaz/latest/eventhubs/georecovery_alias/_delete.py
  src/azure-cli/azure/cli/command_modules/eventhubs/aaz/latest/eventhubs/georecovery_alias/_exists.py
  src/azure-cli/azure/cli/command_modules/eventhubs/aaz/latest/eventhubs/georecovery_alias/_fail_over.py
  src/azure-cli/azure/cli/command_modules/eventhubs/aaz/latest/eventhubs/georecovery_alias/_list.py
  src/azure-cli/azure/cli/command_modules/eventhubs/aaz/latest/eventhubs/georecovery_alias/_show.py
  src/azure-cli/azure/cli/command_modules/eventhubs/aaz/latest/eventhubs/georecovery_alias/_update.py
  src/azure-cli/azure/cli/command_modules/eventhubs/aaz/latest/eventhubs/georecovery_alias/authorization_rule/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/eventhubs/aaz/latest/eventhubs/georecovery_alias/authorization_rule/__init__.py
  src/azure-cli/azure/cli/command_modules/eventhubs/aaz/latest/eventhubs/georecovery_alias/authorization_rule/_list.py
  src/azure-cli/azure/cli/command_modules/eventhubs/aaz/latest/eventhubs/georecovery_alias/authorization_rule/_show.py
  src/azure-cli/azure/cli/command_modules/eventhubs/aaz/latest/eventhubs/georecovery_alias/authorization_rule/keys/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/eventhubs/aaz/latest/eventhubs/georecovery_alias/authorization_rule/keys/__init__.py
  src/azure-cli/azure/cli/command_modules/eventhubs/aaz/latest/eventhubs/georecovery_alias/authorization_rule/keys/_list.py
  src/azure-cli/azure/cli/command_modules/eventhubs/commands.py
  src/azure-cli/azure/cli/command_modules/eventhubs/custom.py
  src/azure-cli/azure/cli/command_modules/eventhubs/operations/__init__.py
  src/azure-cli/azure/cli/command_modules/eventhubs/operations/namespace_custom.py
  src/azure-cli/azure/cli/command_modules/eventhubs/tests/latest/recordings/test_eh_alias.yaml
  src/azure-cli/azure/cli/command_modules/eventhubs/tests/latest/recordings/test_eh_consumergroup.yaml
  src/azure-cli/azure/cli/command_modules/eventhubs/tests/latest/test_eventhub_commands_alias_test.py
Labels: Service Bus, Event Hubs, Auto-Assign

#26360 [ARM] `az bicep publish`: Add parameter `--force` to allow overwriting an existing Bicep module version
  src/azure-cli/azure/cli/command_modules/resource/_help.py
  src/azure-cli/azure/cli/command_modules/resource/_params.py
  src/azure-cli/azure/cli/command_modules/resource/custom.py
Labels: ARM, customer-reported, Auto-Assign

#26366 [AKS] Fix #26353: `az aks install-cli`: Fix incorrect architecture detection on Darwin/arm64
  src/azure-cli/azure/cli/command_modules/acs/custom.py
Labels: AKS, Auto-Assign

#26201 [AKS] feat: Azure Monitor Metrics addon (v2) (Managed Prometheus) GA
  src/azure-cli/azure/cli/command_modules/acs/_help.py
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/_validators.py
  src/azure-cli/azure/cli/command_modules/acs/azuremonitormetrics/__init__.py
  src/azure-cli/azure/cli/command_modules/acs/azuremonitormetrics/addonput.py
  src/azure-cli/azure/cli/command_modules/acs/azuremonitormetrics/amg/__init__.py
  src/azure-cli/azure/cli/command_modules/acs/azuremonitormetrics/amg/link.py
  src/azure-cli/azure/cli/command_modules/acs/azuremonitormetrics/amw/__init__.py
  src/azure-cli/azure/cli/command_modules/acs/azuremonitormetrics/amw/create.py
  src/azure-cli/azure/cli/command_modules/acs/azuremonitormetrics/amw/defaults.py
  src/azure-cli/azure/cli/command_modules/acs/azuremonitormetrics/amw/helper.py
  src/azure-cli/azure/cli/command_modules/acs/azuremonitormetrics/azuremonitorprofile.py
  src/azure-cli/azure/cli/command_modules/acs/azuremonitormetrics/constants.py
  src/azure-cli/azure/cli/command_modules/acs/azuremonitormetrics/dc/__init__.py
  src/azure-cli/azure/cli/command_modules/acs/azuremonitormetrics/dc/dce_api.py
  src/azure-cli/azure/cli/command_modules/acs/azuremonitormetrics/dc/dcr_api.py
  src/azure-cli/azure/cli/command_modules/acs/azuremonitormetrics/dc/dcra_api.py
  src/azure-cli/azure/cli/command_modules/acs/azuremonitormetrics/dc/defaults.py
  src/azure-cli/azure/cli/command_modules/acs/azuremonitormetrics/dc/delete.py
  src/azure-cli/azure/cli/command_modules/acs/azuremonitormetrics/deaults.py
  src/azure-cli/azure/cli/command_modules/acs/azuremonitormetrics/helper.py
  src/azure-cli/azure/cli/command_modules/acs/azuremonitormetrics/recordingrules/__init__.py
  src/azure-cli/azure/cli/command_modules/acs/azuremonitormetrics/recordingrules/create.py
  src/azure-cli/azure/cli/command_modules/acs/azuremonitormetrics/recordingrules/delete.py
  src/azure-cli/azure/cli/command_modules/acs/azuremonitormetrics/responseparsers/__init__.py
  src/azure-cli/azure/cli/command_modules/acs/azuremonitormetrics/responseparsers/amwlocationresponseparser.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/linter_exclusions.yml
  src/azure-cli/azure/cli/command_modules/acs/managed_cluster_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_managed_cluster_decorator.py
Labels: AKS, Auto-Assign

#26409 {Synapse}`az synapse role assignment create`: Add one more example in help
  src/azure-cli/azure/cli/command_modules/synapse/manual/_help.py
Labels: RBAC, Synapse, Auto-Assign

#26224 {Serial-Console} `serialconsole`: Update serial console contact person
  .github/fabricbot.json
Labels: customer-reported, Serial Console

#26054 {ServiceBus} `az servicebus georecovery-alias authorization-rule` `az servicebus georecovery-alias break-pair/delete/list/fail-over/set/exists/show`: Migrating servicebus georecovery-alias cmdlets to AAZ
  src/azure-cli/azure/cli/command_modules/servicebus/_params.py
  src/azure-cli/azure/cli/command_modules/servicebus/aaz/latest/servicebus/georecovery_alias/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/servicebus/aaz/latest/servicebus/georecovery_alias/__init__.py
  src/azure-cli/azure/cli/command_modules/servicebus/aaz/latest/servicebus/georecovery_alias/_break_pair.py
  src/azure-cli/azure/cli/command_modules/servicebus/aaz/latest/servicebus/georecovery_alias/_create.py
  src/azure-cli/azure/cli/command_modules/servicebus/aaz/latest/servicebus/georecovery_alias/_delete.py
  src/azure-cli/azure/cli/command_modules/servicebus/aaz/latest/servicebus/georecovery_alias/_exists.py
  src/azure-cli/azure/cli/command_modules/servicebus/aaz/latest/servicebus/georecovery_alias/_fail_over.py
  src/azure-cli/azure/cli/command_modules/servicebus/aaz/latest/servicebus/georecovery_alias/_list.py
  src/azure-cli/azure/cli/command_modules/servicebus/aaz/latest/servicebus/georecovery_alias/_show.py
  src/azure-cli/azure/cli/command_modules/servicebus/aaz/latest/servicebus/georecovery_alias/_update.py
  src/azure-cli/azure/cli/command_modules/servicebus/aaz/latest/servicebus/georecovery_alias/authorization_rule/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/servicebus/aaz/latest/servicebus/georecovery_alias/authorization_rule/__init__.py
  src/azure-cli/azure/cli/command_modules/servicebus/aaz/latest/servicebus/georecovery_alias/authorization_rule/_list.py
  src/azure-cli/azure/cli/command_modules/servicebus/aaz/latest/servicebus/georecovery_alias/authorization_rule/_show.py
  src/azure-cli/azure/cli/command_modules/servicebus/aaz/latest/servicebus/georecovery_alias/authorization_rule/keys/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/servicebus/aaz/latest/servicebus/georecovery_alias/authorization_rule/keys/__init__.py
  src/azure-cli/azure/cli/command_modules/servicebus/aaz/latest/servicebus/georecovery_alias/authorization_rule/keys/_list.py
  src/azure-cli/azure/cli/command_modules/servicebus/commands.py
  src/azure-cli/azure/cli/command_modules/servicebus/custom.py
  src/azure-cli/azure/cli/command_modules/servicebus/operations/__init__.py
  src/azure-cli/azure/cli/command_modules/servicebus/operations/namespace_custom.py
  src/azure-cli/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_alias.yaml
  src/azure-cli/azure/cli/command_modules/servicebus/tests/latest/test_servicebus_alias_commands.py
Labels: Service Bus, Auto-Assign

#26392 [CosmosDB] `az cosmosdb create/update`: Enable Partition Merge feature for CosmosDB
  src/azure-cli/azure/cli/command_modules/cosmosdb/_params.py
  src/azure-cli/azure/cli/command_modules/cosmosdb/custom.py
Labels: Cosmos, Auto-Assign

#26276 [RDBMS] BREAKING CHANGE: `az mysql/postgres flexible-server create/update`: Deprecate `Enabled` for `--high-availability` argument
  src/azure-cli/azure/cli/command_modules/rdbms/_params.py
  src/azure-cli/azure/cli/command_modules/rdbms/validators.py
Labels: Auto-Assign

#26390 {sql} Add default value for --zone-redundant parameter
  src/azure-cli/azure/cli/command_modules/sql/_params.py
Labels: SQL, Auto-Assign

#26275 {Network} Breaking change commands
  src/azure-cli/azure/cli/command_modules/network/azure_stack/2017_03_09_profile/commands.py
  src/azure-cli/azure/cli/command_modules/network/azure_stack/2017_03_09_profile/operations/load_balancer.py
  src/azure-cli/azure/cli/command_modules/network/azure_stack/2017_03_09_profile/operations/nic.py
  src/azure-cli/azure/cli/command_modules/network/azure_stack/2017_03_09_profile/operations/vnet.py
  src/azure-cli/azure/cli/command_modules/network/azure_stack/2018_03_01_hybrid/commands.py
  src/azure-cli/azure/cli/command_modules/network/azure_stack/2018_03_01_hybrid/operations/load_balancer.py
  src/azure-cli/azure/cli/command_modules/network/azure_stack/2018_03_01_hybrid/operations/nic.py
  src/azure-cli/azure/cli/command_modules/network/azure_stack/2018_03_01_hybrid/operations/nsg.py
  src/azure-cli/azure/cli/command_modules/network/azure_stack/2018_03_01_hybrid/operations/vnet.py
  src/azure-cli/azure/cli/command_modules/network/azure_stack/2019_03_01_hybrid/commands.py
  src/azure-cli/azure/cli/command_modules/network/azure_stack/2019_03_01_hybrid/operations/load_balancer.py
  src/azure-cli/azure/cli/command_modules/network/azure_stack/2019_03_01_hybrid/operations/nic.py
  src/azure-cli/azure/cli/command_modules/network/azure_stack/2019_03_01_hybrid/operations/nsg.py
  src/azure-cli/azure/cli/command_modules/network/azure_stack/2019_03_01_hybrid/operations/vnet.py
  src/azure-cli/azure/cli/command_modules/network/azure_stack/2020_09_01_hybrid/operations/load_balancer.py
  src/azure-cli/azure/cli/command_modules/network/azure_stack/2020_09_01_hybrid/operations/nic.py
  src/azure-cli/azure/cli/command_modules/network/azure_stack/2020_09_01_hybrid/operations/nsg.py
  src/azure-cli/azure/cli/command_modules/network/azure_stack/2020_09_01_hybrid/operations/vnet.py
  src/azure-cli/azure/cli/command_modules/network/commands.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/operations/dns.py
  src/azure-cli/azure/cli/command_modules/network/operations/load_balancer.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_private_endpoint_asg.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_private_endpoint_ip_config.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_private_endpoint_private_dns_zone_group.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_private_endpoint_connection_webapp.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_private_link_resource_webapp.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Labels: Network, Auto-Assign

#26132 [AKS] `az aks create` and `az aks nodepool add`: Add warning message when specifying `--os-sku` to `Mariner` or `CBLMariner`
  src/azure-cli/azure/cli/command_modules/acs/_consts.py
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/_validators.py
Labels: AKS, Auto-Assign

#26436 {AKS} Fix test case `test_aks_byo_appgw_with_ingress_appgw_addon`
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
Labels: AKS, Auto-Assign

#25792 [EventHub] `az eventhubs network-rule-set ip-rule add/remove` `az eventhubs network-rule-set virtual-network-rule add/remove`: Migrating EventHub network-rule-set cmdlets to AAZ
  src/azure-cli/azure/cli/command_modules/eventhubs/_help.py
  src/azure-cli/azure/cli/command_modules/eventhubs/_params.py
  src/azure-cli/azure/cli/command_modules/eventhubs/_validator.py
  src/azure-cli/azure/cli/command_modules/eventhubs/aaz/latest/eventhubs/namespace/network_rule_set/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/eventhubs/aaz/latest/eventhubs/namespace/network_rule_set/__init__.py
  src/azure-cli/azure/cli/command_modules/eventhubs/aaz/latest/eventhubs/namespace/network_rule_set/_create.py
  src/azure-cli/azure/cli/command_modules/eventhubs/aaz/latest/eventhubs/namespace/network_rule_set/_list.py
  src/azure-cli/azure/cli/command_modules/eventhubs/aaz/latest/eventhubs/namespace/network_rule_set/_show.py
  src/azure-cli/azure/cli/command_modules/eventhubs/aaz/latest/eventhubs/namespace/network_rule_set/_update.py
  src/azure-cli/azure/cli/command_modules/eventhubs/action.py
  src/azure-cli/azure/cli/command_modules/eventhubs/commands.py
  src/azure-cli/azure/cli/command_modules/eventhubs/custom.py
  src/azure-cli/azure/cli/command_modules/eventhubs/operations/network_rule_set.py
  src/azure-cli/azure/cli/command_modules/eventhubs/tests/latest/recordings/test_eh_network.yaml
  src/azure-cli/azure/cli/command_modules/eventhubs/tests/latest/test_eventhub_commands_network_test.py
Labels: Event Hubs, Auto-Assign

#25719 [Servicebus] `az servicebus network-rule-set ip-rule add/remove` `az servicebus network-rule-set virtual-network-rule add/remove`: Migrating ServiceBus network-rule-set cmdlets to AAZ
  src/azure-cli/azure/cli/command_modules/servicebus/_help.py
  src/azure-cli/azure/cli/command_modules/servicebus/_params.py
  src/azure-cli/azure/cli/command_modules/servicebus/aaz/latest/servicebus/namespace/network_rule_set/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/servicebus/aaz/latest/servicebus/namespace/network_rule_set/__init__.py
  src/azure-cli/azure/cli/command_modules/servicebus/aaz/latest/servicebus/namespace/network_rule_set/_create.py
  src/azure-cli/azure/cli/command_modules/servicebus/aaz/latest/servicebus/namespace/network_rule_set/_list.py
  src/azure-cli/azure/cli/command_modules/servicebus/aaz/latest/servicebus/namespace/network_rule_set/_show.py
  src/azure-cli/azure/cli/command_modules/servicebus/aaz/latest/servicebus/namespace/network_rule_set/_update.py
  src/azure-cli/azure/cli/command_modules/servicebus/action.py
  src/azure-cli/azure/cli/command_modules/servicebus/commands.py
  src/azure-cli/azure/cli/command_modules/servicebus/custom.py
  src/azure-cli/azure/cli/command_modules/servicebus/operations/network_rule_set.py
  src/azure-cli/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_network.yaml
  src/azure-cli/azure/cli/command_modules/servicebus/tests/latest/test_servicebus_network_commands.py
Labels: Service Bus, Auto-Assign

#26442 {IoT} Remove unused service name
  src/azure-cli/service_name.json
Labels: Core, Auto-Assign

#26400 [SQL] `az sql mi link`: Fix update command to use PATCH api
  src/azure-cli/azure/cli/command_modules/sql/aaz/latest/sql/mi/link/_create.py
  src/azure-cli/azure/cli/command_modules/sql/aaz/latest/sql/mi/link/_delete.py
  src/azure-cli/azure/cli/command_modules/sql/aaz/latest/sql/mi/link/_list.py
  src/azure-cli/azure/cli/command_modules/sql/aaz/latest/sql/mi/link/_show.py
  src/azure-cli/azure/cli/command_modules/sql/aaz/latest/sql/mi/link/_update.py
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/recordings/test_sql_mi_link_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/test_sql_commands.py
Labels: SQL, Auto-Assign

#26349 [Compute] `az vm extension set`: Enable auto-upgrade by default for GuestAttestation extension
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_extension.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Auto-Assign

#26116 [ACR] BREAKING CHANGE: `az acr create`: Remove `Classic` from `sku` option
  src/azure-cli/azure/cli/command_modules/acr/_params.py
Labels: Container Registry, Auto-Assign

#26079 [AppConfig] BREAKING CHANGE: `az appconfig feature`: Disallow colon character in feature name
  src/azure-cli/azure/cli/command_modules/appconfig/_kv_helpers.py
  src/azure-cli/azure/cli/command_modules/appconfig/_utils.py
  src/azure-cli/azure/cli/command_modules/appconfig/_validators.py
  src/azure-cli/azure/cli/command_modules/appconfig/feature.py
  src/azure-cli/azure/cli/command_modules/appconfig/tests/latest/recordings/test_azconfig_feature_namespacing.yaml
  src/azure-cli/azure/cli/command_modules/appconfig/tests/latest/test_appconfig_commands.py
Labels: App Configuration, Auto-Assign

#26452 [App Service] Fix #26445: `az webapp deploy`: Fix deployment failing with HTTP 400
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_deploy_zip.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_list_deployment_logs.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_show_deployment_logs.yaml
Labels: App Services, Auto-Assign

#26447 [Storage] `az storage account blob-service-properties cors-rule`: New command group to manage blob cors rules
  src/azure-cli/azure/cli/command_modules/storage/_help.py
  src/azure-cli/azure/cli/command_modules/storage/_params.py
  src/azure-cli/azure/cli/command_modules/storage/commands.py
  src/azure-cli/azure/cli/command_modules/storage/operations/account.py
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_account_blob_cors_rule.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/test_storage_account_scenarios.py
Labels: Storage, Auto-Assign

#26423 [Keyvault] BREAKING CHANGE: `az keyvault create`: `--retention-days` becomes required for MHSM creation
  src/azure-cli/azure/cli/command_modules/keyvault/_params.py
  src/azure-cli/azure/cli/command_modules/keyvault/_validators.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/certs/cert_0.cer
  src/azure-cli/azure/cli/command_modules/network/tests/latest/certs/cert_1.cer
  src/azure-cli/azure/cli/command_modules/network/tests/latest/certs/cert_2.cer
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_private_endpoint_commands.py
Labels: KeyVault, Auto-Assign

#26422 [Keyvault] `az keyvault setting`: New command group to manage MHSM settings
  src/azure-cli-core/azure/cli/core/profiles/_shared.py
  src/azure-cli/azure/cli/command_modules/keyvault/_client_factory.py
  src/azure-cli/azure/cli/command_modules/keyvault/_help.py
  src/azure-cli/azure/cli/command_modules/keyvault/_params.py
  src/azure-cli/azure/cli/command_modules/keyvault/commands.py
  src/azure-cli/azure/cli/command_modules/keyvault/custom.py
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_hsm_role.yaml
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_hsm_security_domain.yaml
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_hsm_setting.yaml
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_role_definition.yaml
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/test_keyvault_commands.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: KeyVault, Auto-Assign

#26461 {CI} Exit immediately if install docker fails
  scripts/ci/install_docker.sh
Labels: Installation, CI, Auto-Assign

#26460 {CI} Breaking change tool integration
  .azure-pipelines/breaking-change-tests.yml
  .github/azure-client-tools-bot/config.yml
  .github/azure-client-tools-bot/templates/BreakingChangeTest.handlebars
  scripts/ci/breaking_change_test.py
Labels: CI, Auto-Assign

#26363 [ARM] Fix #26352: `az ts create`: Fix for the TypeError `string indices must be integers`
  src/azure-cli/azure/cli/command_modules/resource/_packing_engine.py
Labels: ARM, Auto-Assign

#26476 {CDN} Skip cdn tests because endpoint names are hardcoded and unavailable, cannot rerun for recording
  src/azure-cli/azure/cli/command_modules/cdn/tests/latest/test_custom_domain_scenarios.py
Labels: Network, Network - CDN, Auto-Assign

#26474 {AKS} Remove `az acs` command from service_name.json
  src/azure-cli/service_name.json
Labels: AKS, Auto-Assign

#26477 {CI} Remove expiration version `2.49.0` to unblock release pipeline
  src/azure-cli/azure/cli/command_modules/servicebus/_params.py
  src/azure-cli/azure/cli/command_modules/sql/commands.py
Labels: CI, Auto-Assign

#26458 {Network} Deprecate the output of some remove commands
  src/azure-cli/azure/cli/command_modules/network/azure_stack/2017_03_09_profile/operations/nic.py
  src/azure-cli/azure/cli/command_modules/network/azure_stack/2018_03_01_hybrid/operations/nic.py
  src/azure-cli/azure/cli/command_modules/network/azure_stack/2019_03_01_hybrid/operations/nic.py
  src/azure-cli/azure/cli/command_modules/network/azure_stack/2020_09_01_hybrid/operations/nic.py
  src/azure-cli/azure/cli/command_modules/network/commands.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/operations/load_balancer.py
  src/azure-cli/azure/cli/command_modules/network/tests/hybrid_2018_03_01/test_network_commands.py
  src/azure-cli/azure/cli/command_modules/network/tests/hybrid_2019_03_01/test_network_commands.py
  src/azure-cli/azure/cli/command_modules/network/tests/hybrid_2020_09_01/test_network_commands.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py
  src/azure-cli/azure/cli/command_modules/network/tests/profile_2017_03_09/test_network_commands.py
Labels: Network, Auto-Assign

#26478 [ServiceBus] BREAKING CHANGE: `az servicebus queue update`: Remove deprecated parameters `--enable-partitioning`, `--enable-session` and `--duplicate-detection`
  src/azure-cli/azure/cli/command_modules/servicebus/_params.py
  src/azure-cli/azure/cli/command_modules/servicebus/aaz/latest/servicebus/queue/_update.py
Labels: Service Bus, Auto-Assign

#26493 {Core} Update the announcement message for WAM-based login
  src/azure-cli-core/azure/cli/core/auth/landing_pages/success.html
Labels: Account, Core, Auto-Assign

#26507 [Network] `az network dns zone import`: Fix alias records cannot be imported
  src/azure-cli/azure/cli/command_modules/network/custom.py
Labels: customer-reported, Portal, Auto-Assign

#26511 {CDN} `az cdn endpoint purge/load`: Describe how to pass multiple content-paths
  src/azure-cli/azure/cli/command_modules/cdn/_help.py
Labels: Network, Network - CDN, customer-reported, Auto-Assign

#26492 {CI} azdev style check ignore aaz folder
  .flake8
  pylintrc
Labels: CI, Auto-Assign

#26465 {CI} fix for breaking change tool integration
  .azure-pipelines/breaking-change-tests.yml
  .github/azure-client-tools-bot/config.yml
  scripts/ci/breaking_change_test.py
Labels: CI, Auto-Assign

#26499 {Keyvault} Bump sdk version to 10.2.2 with sdk fix
  src/azure-cli/azure/cli/command_modules/keyvault/_validators.py
  src/azure-cli/azure/cli/command_modules/keyvault/custom.py
  src/azure-cli/azure/cli/command_modules/servicefabric/custom.py
  src/azure-cli/azure/cli/command_modules/vm/_validators.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: KeyVault, Auto-Assign

#26528 [AKS] `aks create`: Add condition to disable `--enable-msi-auth-for-monitoring` for service principle
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/managed_cluster_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_managed_cluster_decorator.py
Labels: AKS, Auto-Assign

#26529 {SQL} `az sql elastic-pool`: Add tests
  src/azure-cli/azure/cli/command_modules/sql/_help.py
  src/azure-cli/azure/cli/command_modules/sql/_params.py
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/recordings/test_sql_elastic_pools_preferred_enclave_type_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/test_sql_commands.py
Labels: SQL, Auto-Assign

#26530 [Keyvault] Fix #26527: `az keyvault certificate show`: Show policy.x509CertificateProperties.subjectAlternativeNames correctly
  src/azure-cli/azure/cli/command_modules/keyvault/_transformers.py
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/policy.json
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/policy3.json
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_certificate_crud.yaml
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/test_keyvault_commands.py
Labels: KeyVault, Auto-Assign

#26144 [APIM] `apim graphqlapi resolver`: Add new command group to support GraphQL resolver
  src/azure-cli/azure/cli/command_modules/apim/_client_factory.py
  src/azure-cli/azure/cli/command_modules/apim/_help.py
  src/azure-cli/azure/cli/command_modules/apim/_params.py
  src/azure-cli/azure/cli/command_modules/apim/commands.py
  src/azure-cli/azure/cli/command_modules/apim/custom.py
  src/azure-cli/azure/cli/command_modules/apim/tests/latest/policy.xml
  src/azure-cli/azure/cli/command_modules/apim/tests/latest/recordings/test_apim_core_service.yaml
  src/azure-cli/azure/cli/command_modules/apim/tests/latest/recordings/test_apim_deletedservice.yaml
  src/azure-cli/azure/cli/command_modules/apim/tests/latest/test_apim_scenario.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_private_endpoint_connection_apim.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_private_endpoint_commands.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: API Management, Auto-Assign

#26542 {SQL} Fix the typo from Azure SQL managed instance to Azure SQL Managed Instance
  src/azure-cli/azure/cli/command_modules/sql/_help.py
  src/azure-cli/azure/cli/command_modules/sql/_params.py
Labels: SQL, Auto-Assign

#26463 {CI} Refine GitHub issue template
  .github/ISSUE_TEMPLATE/Bug_report.md
  .github/ISSUE_TEMPLATE/Bug_report.yml
  .github/ISSUE_TEMPLATE/Service_team_request.yml
  .github/ISSUE_TEMPLATE/config.yml
Labels: CI

#26559 [Network] Fix #26438: `az network vnet peering sync`: Doesn't work in cross-tenant scenario
  src/azure-cli/azure/cli/command_modules/network/custom.py
Labels: Network, Auto-Assign
