Repository Azure/azure-cli, pull requests merged in 2023-04, with the labels that each got.

#26029 {Service Connector} `az webapp connection create`: fix some output typo and remove useless code
  src/azure-cli/azure/cli/command_modules/serviceconnector/_addon_factory.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/_credential_free.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/_utils.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/custom.py
Labels: Web Apps, Auto-Assign

#25960 {AKS} Fix space problem in test case
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
Labels: AKS, Auto-Assign

#26040 {Network} `az network watcher flow-log update`: Fix 'NoneType' object has no attribute 'resource'
  src/azure-cli/azure/cli/command_modules/network/operations/watcher.py
Labels: Network, Auto-Assign

#26035 {AKS} `az aks install-cli`: Update architecture detection
  src/azure-cli/azure/cli/command_modules/acs/custom.py
Labels: AKS, Installation, Auto-Assign

#25989 {EventHub} `az eventhubs eventhub consumer-group create/update/delete/show/list`: Migrate eventhub consumer-group cmdlets to AAZ
  src/azure-cli/azure/cli/command_modules/eventhubs/_params.py
  src/azure-cli/azure/cli/command_modules/eventhubs/aaz/latest/eventhubs/eventhub/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/eventhubs/aaz/latest/eventhubs/eventhub/__init__.py
  src/azure-cli/azure/cli/command_modules/eventhubs/aaz/latest/eventhubs/eventhub/consumer_group/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/eventhubs/aaz/latest/eventhubs/eventhub/consumer_group/__init__.py
  src/azure-cli/azure/cli/command_modules/eventhubs/aaz/latest/eventhubs/eventhub/consumer_group/_create.py
  src/azure-cli/azure/cli/command_modules/eventhubs/aaz/latest/eventhubs/eventhub/consumer_group/_delete.py
  src/azure-cli/azure/cli/command_modules/eventhubs/aaz/latest/eventhubs/eventhub/consumer_group/_list.py
  src/azure-cli/azure/cli/command_modules/eventhubs/aaz/latest/eventhubs/eventhub/consumer_group/_show.py
  src/azure-cli/azure/cli/command_modules/eventhubs/aaz/latest/eventhubs/eventhub/consumer_group/_update.py
  src/azure-cli/azure/cli/command_modules/eventhubs/commands.py
  src/azure-cli/azure/cli/command_modules/eventhubs/custom.py
  src/azure-cli/azure/cli/command_modules/eventhubs/tests/latest/recordings/test_eh_consumergroup.yaml
Labels: Auto-Assign

#26042 {Network} `az network application-gateway url-path-map create`: Update document
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/url_path_map/_create.py
Labels: Network, Auto-Assign

#26069 {Storage} Synchronize with extensions
  src/azure-cli/azure/cli/command_modules/storage/_params.py
  src/azure-cli/azure/cli/command_modules/storage/commands.py
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_append_blob_upload_oauth.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_blob_batch_oauth_scenarios.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_container_soft_delete_oauth.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/test_storage_batch_operations.py
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/test_storage_blob_live_scenarios.py
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/test_storage_oauth_track2.py
Labels: Storage, Auto-Assign

#26073 Fix aks install cli test 0407
  src/azure-cli/azure/cli/command_modules/acs/tests/hybrid_2020_09_01/test_custom.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_custom.py
Labels: AKS, Auto-Assign

#26036 {Network} `az network dns record-set`: Migrate commands to codegen v2
  src/azure-cli/azure/cli/command_modules/network/_params.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/dns/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/dns/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/dns/record_set/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/dns/record_set/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/dns/record_set/_create.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/dns/record_set/_delete.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/dns/record_set/_list.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/dns/record_set/_list_by_type.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/dns/record_set/_show.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/dns/record_set/_update.py
  src/azure-cli/azure/cli/command_modules/network/commands.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/operations/dns.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_dns.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_dns_alias.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_dns_if_none_match.yaml
Labels: Network, Auto-Assign

#26072 {AKS} `az aks install-cli`: Fix install-cli related test cases
  src/azure-cli/azure/cli/command_modules/acs/tests/hybrid_2020_09_01/test_custom.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_custom.py
Labels: AKS, Installation, Auto-Assign

#26067 {ARM} `az resource lock create`: Refine error message for parameter validation
  src/azure-cli/azure/cli/command_modules/resource/_validators.py
Labels: ARM, Auto-Assign

#26078 [App Service] Fix #25642: `az functionapp deployment user show`: Fix the AttributeError `'function' object has no attribute 'metadata'`
  src/azure-cli/azure/cli/command_modules/appservice/_help.py
  src/azure-cli/azure/cli/command_modules/appservice/commands.py
Labels: Functions, App Services, Auto-Assign

#26070 [Network] `az network cross-region-lb rule create`: Set default value for `--enable-tcp-reset` and `--idle-timeout`
  src/azure-cli/azure/cli/command_modules/network/operations/load_balancer.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_cross_region_lb_rules.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Labels: Network, Auto-Assign

#26115 {CI} Fabric bot support routing `az artifacts`
  .github/fabricbot.json
Labels: CI, Auto-Assign

#26068 {CI} Notify batch CI errors to teams channel
  azure-pipelines-full-tests.yml
  azure-pipelines.yml
  scripts/ci/notify_ci_errors.py
Labels: CI, Auto-Assign

#26102 [Core] `aaz`: Support hidden secret properties of response in output
  src/azure-cli-core/azure/cli/core/aaz/_command.py
  src/azure-cli-core/azure/cli/core/tests/test_aaz_field.py
Labels: Core, Auto-Assign

#25689 {Core} Add random_config_dir param in DummyCli
  src/azure-cli-core/azure/cli/core/mock.py
  src/azure-cli-testsdk/azure/cli/testsdk/base.py
  src/azure-cli/azure/cli/command_modules/config/tests/latest/test_config.py
  src/azure-cli/azure/cli/command_modules/configure/tests/latest/test_configure.py
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/test_resource.py
  src/azure-cli/azure/cli/command_modules/role/tests/latest/test_role.py
Labels: CI, Auto-Assign

#26041 [EventHub] `az eventhubs namespace application-group policy remove`: Add upcoming breaking change notification
  src/azure-cli/azure/cli/command_modules/eventhubs/custom.py
Labels: Event Hubs, Auto-Assign

#26135 [VM] Fix #26118: `az vm list-ip-addresses`: KeyError when attributes missing in public IP address
  src/azure-cli/azure/cli/command_modules/vm/custom.py
Labels: Compute, Auto-Assign

#26133 [Sqlvm] `az sql vm enable-azure-ad-auth/validate-azure-ad-auth`: Single mode improvement
  src/azure-cli/azure/cli/command_modules/sqlvm/_validators.py
  src/azure-cli/azure/cli/command_modules/sqlvm/tests/latest/recordings/test_sqlvm_aad_auth_negative.yaml
  src/azure-cli/azure/cli/command_modules/sqlvm/tests/latest/recordings/test_sqlvm_add_and_remove.yaml
  src/azure-cli/azure/cli/command_modules/sqlvm/tests/latest/recordings/test_sqlvm_create_and_delete.yaml
  src/azure-cli/azure/cli/command_modules/sqlvm/tests/latest/recordings/test_sqlvm_group_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/sqlvm/tests/latest/recordings/test_sqlvm_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/sqlvm/tests/latest/recordings/test_sqlvm_mgmt_assessment.yaml
  src/azure-cli/azure/cli/command_modules/sqlvm/tests/latest/recordings/test_sqlvm_update_license_and_sku.yaml
  src/azure-cli/azure/cli/command_modules/sqlvm/tests/latest/test_sqlvm_commands.py
Labels: SQL, SQL - VM, Auto-Assign

#26139 {CI} Fabric bot support route `az k8s-configuration`
  .github/fabricbot.json
Labels: CI, Auto-Assign

#25997 [App Service] `az staticwebapp appsettings`: Add `--environment-name` parameter to allow app setting operation on preview environments
  src/azure-cli/azure/cli/command_modules/appservice/_help.py
  src/azure-cli/azure/cli/command_modules/appservice/_params.py
  src/azure-cli/azure/cli/command_modules/appservice/static_sites.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_staticapp_commands_thru_mock.py
Labels: App Services, Auto-Assign

#26129 [AppService] `az functionapp create`: Update 'kind' attribute for Centauri function apps
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
Labels: Functions, App Services, Auto-Assign

#25883 [Storage] `az storage file/directory`: Add `--auth-mode login` and `--backup-intent` to support OAuth
  src/azure-cli-core/azure/cli/core/profiles/_shared.py
  src/azure-cli/azure/cli/command_modules/storage/__init__.py
  src/azure-cli/azure/cli/command_modules/storage/_client_factory.py
  src/azure-cli/azure/cli/command_modules/storage/_validators.py
  src/azure-cli/azure/cli/command_modules/storage/commands.py
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_file_main_oauth_scenario.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/test_storage_file_scenarios.py
  src/azure-cli/azure/cli/command_modules/storage/tests/storage_test_util.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: Packaging, Core, Auto-Assign

#26028 {Compute} `az vm/vmss create/update`: GA parameters `--ephemeral-os-disk` and `--ephemeral-os-disk-placement`
  src/azure-cli/azure/cli/command_modules/vm/_params.py
Labels: Compute, Auto-Assign

#26103 {ARM} `az deployment group create`: Add example for cross tenant deployment
  src/azure-cli/azure/cli/command_modules/resource/_help.py
Labels: ARM, Auto-Assign

#26154 {Servicebus} Add Breaking change message for `az servicebus georecovery-alias fail-over` cmdlets
  src/azure-cli/azure/cli/command_modules/servicebus/_params.py
  src/azure-cli/azure/cli/command_modules/servicebus/custom.py
Labels: Service Bus, Auto-Assign

#26093 {EventHub} Add Breaking change message for `az eventhubs namespace network-rule` cmdlets.
  src/azure-cli/azure/cli/command_modules/eventhubs/_params.py
  src/azure-cli/azure/cli/command_modules/eventhubs/commands.py
  src/azure-cli/azure/cli/command_modules/eventhubs/custom.py
Labels: Event Hubs, Auto-Assign

#26114 {SQL} `az sql mi server-configuration-option`: New command group to manage server configuration options
  src/azure-cli/azure/cli/command_modules/sql/aaz/latest/sql/mi/server_configuration_option/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/sql/aaz/latest/sql/mi/server_configuration_option/__init__.py
  src/azure-cli/azure/cli/command_modules/sql/aaz/latest/sql/mi/server_configuration_option/_list.py
  src/azure-cli/azure/cli/command_modules/sql/aaz/latest/sql/mi/server_configuration_option/_set.py
  src/azure-cli/azure/cli/command_modules/sql/aaz/latest/sql/mi/server_configuration_option/_show.py
  src/azure-cli/azure/cli/command_modules/sql/aaz/latest/sql/mi/server_configuration_option/_wait.py
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/recordings/test_sql_mi_server_configuration_options.yaml
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/test_sql_commands.py
Labels: SQL, Auto-Assign

#26015 {APIM} Update parameter description
  src/azure-cli/azure/cli/command_modules/apim/_params.py
Labels: API Management, Auto-Assign

#26094 {ServiceBus} Add Breaking change message for `az servicebus namespace network-rule` cmdlets
  src/azure-cli/azure/cli/command_modules/servicebus/_params.py
  src/azure-cli/azure/cli/command_modules/servicebus/commands.py
  src/azure-cli/azure/cli/command_modules/servicebus/custom.py
Labels: Service Bus, Auto-Assign

#26170 {CI} Fabric bot support routing `az eventhubs`
  .github/fabricbot.json
Labels: CI

#26134 [Core] `aaz`: Support argument prompt input
  src/azure-cli-core/azure/cli/core/aaz/__init__.py
  src/azure-cli-core/azure/cli/core/aaz/_arg.py
  src/azure-cli-core/azure/cli/core/aaz/_arg_action.py
  src/azure-cli-core/azure/cli/core/aaz/_prompt.py
  src/azure-cli-core/azure/cli/core/tests/test_aaz_prompt.py
Labels: Core, Auto-Assign

#26188 [Compute] Fix #26185: `az sig update`: Fix issues that `is_soft_delete_enabled` may not exist
  src/azure-cli/azure/cli/command_modules/vm/custom.py
Labels: Compute, Auto-Assign

#25864 {Core} Fix #19183: Improve get GitHub latest version speed if no internet connection
  src/azure-cli-core/azure/cli/core/util.py
Labels: Core, Auto-Assign

#25995 {App Service} `az functionapp deployment source config-zip`: Increase read timeout
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/utils.py
Labels: Functions

#26197 {RDBMS} Postgres Flexible server - Fix az cli issue for PG public access server for Network object with recent M-train changes
  src/azure-cli/azure/cli/command_modules/rdbms/flexible_server_custom_postgres.py
Labels: Auto-Assign

#26127 [Storage] `az storage blob sync`: Add positional argument extra_options to pass through options to azcopy
  src/azure-cli/azure/cli/command_modules/storage/_help.py
  src/azure-cli/azure/cli/command_modules/storage/_params.py
  src/azure-cli/azure/cli/command_modules/storage/_params_azure_stack.py
  src/azure-cli/azure/cli/command_modules/storage/linter_exclusions.yml
  src/azure-cli/azure/cli/command_modules/storage/operations/azcopy.py
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/test_storage_azcopy_scenarios.py
Labels: Storage, customer-reported, Auto-Assign

#26162 {Compute} `az vm/vmss create`: Update notification message for Trusted Launch by default
  src/azure-cli/azure/cli/command_modules/vm/_vm_utils.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
Labels: Compute, Auto-Assign

#26189 [Compute] `az vm host`: Add commands to support getting possible resize options and resizing dedicated host
  src/azure-cli/azure/cli/command_modules/vm/aaz/latest/vm/host/__init__.py
  src/azure-cli/azure/cli/command_modules/vm/aaz/latest/vm/host/_list_resize_options.py
  src/azure-cli/azure/cli/command_modules/vm/aaz/latest/vm/host/_resize.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_host_resize.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Auto-Assign

#26209 {AKS} Fix several test cases
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_disable_local_accounts.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
Labels: AKS, Auto-Assign

#26194 {CI} Add cxp attention label
  .github/fabricbot.json
Labels: CI, Auto-Assign

#26027 {CI} Install `ca-certificates` in Mariner docker container
  azure-pipelines.yml
  scripts/release/rpm/mariner.dockerfile
  scripts/release/rpm/test_mariner_in_docker.sh
Labels: Installation, CI, Auto-Assign

#26208 {CI} Update `ResourceGroupPreparer` decorator to support tag test method in resource group
  src/azure-cli-testsdk/azure/cli/testsdk/preparers.py
Labels: CI, Auto-Assign

#26229 {App Service} Hotfix: Use basic auth with SCM sites if supported, else use AAD auth
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_deploy_zip.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_download_win_web_log.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_list_deployment_logs.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_show_deployment_logs.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_functionapp_commands_thru_mock.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_webapp_commands.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_webapp_commands_thru_mock.py
  src/azure-cli/azure/cli/command_modules/appservice/tunnel.py
Labels: App Services, Auto-Assign

#26237 [AKS] BREAKING CHANGE: `az aks create`: Raise error when specifying `--pod-cidr` with `--network-plugin azure` without overlay
  src/azure-cli/azure/cli/command_modules/acs/managed_cluster_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_managed_cluster_decorator.py
Labels: AKS, Auto-Assign

#25973 [AKS] `az aks update`: Support update user assigned control plane identity for parameter ` --assign-identity`
  src/azure-cli/azure/cli/command_modules/acs/managed_cluster_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_control_plane_user_assigned_identity.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_managed_cluster_decorator.py
Labels: AKS, Auto-Assign

#26235 [Network] `az network private-endpoint-connection`: Add provider `Microsoft.HardwareSecurityModules/cloudHsmClusters`
  src/azure-cli/azure/cli/command_modules/network/private_link_resource_and_endpoint_connections/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_chsm_private_endpoint_connection.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_chsm_private_link_resource.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_private_endpoint_commands.py
Labels: Network, Auto-Assign

#26264 {AKS} Fix recording file `test_aks_control_plane_user_assigned_identity`
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_control_plane_user_assigned_identity.yaml
Labels: AKS, Auto-Assign

#26279 {AKS} Fix unexpected prompt for az aks command
  src/azure-cli/azure/cli/command_modules/acs/managed_cluster_decorator.py
Labels: AKS, Auto-Assign
