Repository Azure/azure-cli, pull requests merged in 2023-03, with the labels that each got.

#25559 {Network} `az network watcher flow-log/troubleshooting`: Migrate to atomic commands
  src/azure-cli/azure/cli/command_modules/network/_client_factory.py
  src/azure-cli/azure/cli/command_modules/network/_help.py
  src/azure-cli/azure/cli/command_modules/network/_params.py
  src/azure-cli/azure/cli/command_modules/network/_validators.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/watcher/flow_log/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/watcher/flow_log/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/watcher/flow_log/_configure_flow_log.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/watcher/flow_log/_create.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/watcher/flow_log/_delete.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/watcher/flow_log/_list.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/watcher/flow_log/_show.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/watcher/flow_log/_update.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/watcher/flow_log/_wait.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/watcher/troubleshooting/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/watcher/troubleshooting/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/watcher/troubleshooting/_show.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/watcher/troubleshooting/_start.py
  src/azure-cli/azure/cli/command_modules/network/commands.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/operations/watcher.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/loganalytics.json
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_watcher_flow_log.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_watcher_flow_log2.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_watcher_troubleshooting.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_nw_flow_log_update.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_nw_flow_log.py
Labels: Network, Auto-Assign

#25256 [AKS] graduate dual-stack to GA
  src/azure-cli/azure/cli/command_modules/acs/_help.py
  src/azure-cli/azure/cli/command_modules/acs/_loadbalancer.py
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/linter_exclusions.yml
  src/azure-cli/azure/cli/command_modules/acs/managed_cluster_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/hybrid_2020_09_01/test_loadbalancer.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_and_update_ipv6_count.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_dualstack_with_default_network.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_loadbalancer.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_managed_cluster_decorator.py
Labels: AKS, Auto-Assign

#25624 {AKS} Update recordings
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_and_update_ipv6_count.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_dualstack_with_default_network.yaml
Labels: AKS, Auto-Assign

#25603 {Network} Clean up the remaining SDKs within Network
  src/azure-cli/azure/cli/command_modules/network/_client_factory.py
  src/azure-cli/azure/cli/command_modules/network/_help.py
  src/azure-cli/azure/cli/command_modules/network/_params.py
  src/azure-cli/azure/cli/command_modules/network/_util.py
  src/azure-cli/azure/cli/command_modules/network/_validators.py
  src/azure-cli/azure/cli/command_modules/network/commands.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_dns_alias.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_waf_config.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_waf_v2_config.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_with_defaults.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_with_waf_v2_sku.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Labels: Network, Auto-Assign

#25586 {CI} Upload test result xml file to ADO artifacts
  .azure-pipelines/templates/automation_test.yml
  scripts/ci/automation_full_test.py
Labels: CI, Auto-Assign

#24605 [ARM] `az bicep format`: Add new command to support formatting a Bicep file
  src/azure-cli/azure/cli/command_modules/resource/_help.py
  src/azure-cli/azure/cli/command_modules/resource/_params.py
  src/azure-cli/azure/cli/command_modules/resource/commands.py
  src/azure-cli/azure/cli/command_modules/resource/custom.py
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/test_resource_custom.py
Labels: customer-reported

#25621 {sql} Code fix for sql db show-connection-string
  src/azure-cli/azure/cli/command_modules/sql/custom.py
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/test_sql_commands.py
Labels: SQL, Portal, Auto-Assign

#25605 {Network} `az network private-link-service/private-endpoint`: Fix the issue when using `--edge-zone`
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/private_endpoint/_create.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/private_link_service/_create.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_private_endpoint_edge_zone.yaml
Labels: Network, Auto-Assign

#25622 {App Service} Fix typo in webapp deploy
  src/azure-cli/azure/cli/command_modules/appservice/_help.py
Labels: Web Apps, Auto-Assign

#25617 {App Service} Fix #25616: `az webapp browse`: Add help message to clarify that the cloud shell is not supported
  src/azure-cli/azure/cli/command_modules/appservice/_help.py
Labels: Web Apps, Auto-Assign

#25557 {IoT} Fix test_certificate_lifecycle
  src/azure-cli/azure/cli/command_modules/iot/tests/hybrid_2019_03_01/test_iot_certificate_commands.py
  src/azure-cli/azure/cli/command_modules/iot/tests/hybrid_2020_09_01/test_iot_certificate_commands.py
  src/azure-cli/azure/cli/command_modules/iot/tests/latest/test_iot_certificate_commands.py
Labels: IoT, IoT/CLI, Auto-Assign

#25549 [ACR] Fix #24886: `az acr`: Improve the 429 error handling for CONNECTIVITY_REFRESH_TOKEN_ERROR
  src/azure-cli/azure/cli/command_modules/acr/_docker_utils.py
  src/azure-cli/azure/cli/command_modules/acr/_errors.py
  src/azure-cli/azure/cli/command_modules/acr/check_health.py
Labels: Container Registry, Auto-Assign

#25447 [App Service] Fix #14729: `az webapp config ssl upload`: Refine error handling for `OpenSSL.crypto.Error` when obtaining the certificate's thrumbprint failed
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
Labels: Web Apps, App Services, Auto-Assign

#25640 {CI} Increase Check CLI Style job timeout to 120 minutes
  azure-pipelines.yml
Labels: CI, Auto-Assign

#25618 {Doc} `az netappfiles volume quota-rule`: Fixed typo in release notes
  src/azure-cli/HISTORY.rst
Labels: NetAppFiles, Auto-Assign

#25628 [RDBMS] `az mysql flexible-server update`: Fix `--storage-auto-grow` parameter unable to be set
  src/azure-cli/azure/cli/command_modules/rdbms/flexible_server_custom_mysql.py
Labels: Storage, Auto-Assign

#25223 [App Service] `az functionapp create`: Add new parameter `--environment` to support setting the name of container app environment
  src/azure-cli-core/azure/cli/core/profiles/_shared.py
  src/azure-cli/azure/cli/command_modules/appservice/_client_factory.py
  src/azure-cli/azure/cli/command_modules/appservice/_constants.py
  src/azure-cli/azure/cli/command_modules/appservice/_params.py
  src/azure-cli/azure/cli/command_modules/appservice/_validators.py
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_functionapp_commands.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
Labels: App Services, Auto-Assign, ContainerApp

#25341 [APIM] Fix #25168: `az apim update`: Fix the bug that `--public-network-access` doesn't work to disable public network access
  src/azure-cli/azure/cli/command_modules/apim/custom.py
Labels: API Management, Auto-Assign

#25376 {App Service} `az webapp up`: include project references for dotnet w…
  src/azure-cli/azure/cli/command_modules/appservice/_constants.py
  src/azure-cli/azure/cli/command_modules/appservice/_create_util.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/dotnet6-webapi-with-dependencies-up.zip
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_webapp_up_commands.py
Labels: Web Apps, App Services, customer-reported, Auto-Assign

#25362 [App Service] `az webapp config ssl bind/unbind`: Allow user to specify hostname to (un)bind with `--hostname`
  scripts/ci/credscan/CredScanSuppressions.json
  src/azure-cli/azure/cli/command_modules/appservice/_params.py
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_ssl_specify_hostname.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_webapp_commands.py
Labels: Web Apps, App Services, Auto-Assign

#25511 [ARO] `az aro`: Rename install-version argument to version
  src/azure-cli/azure/cli/command_modules/aro/_help.py
  src/azure-cli/azure/cli/command_modules/aro/_params.py
  src/azure-cli/azure/cli/command_modules/aro/_validators.py
  src/azure-cli/azure/cli/command_modules/aro/custom.py
Labels: Installation, Auto-Assign

#25578 [Sqlvm] `az sql vm enable-azure-ad-auth/validate-azure-ad-auth`: New commands for Sqlvm Azure AD authentication
  src/azure-cli/azure/cli/command_modules/sqlvm/_format.py
  src/azure-cli/azure/cli/command_modules/sqlvm/_help.py
  src/azure-cli/azure/cli/command_modules/sqlvm/_params.py
  src/azure-cli/azure/cli/command_modules/sqlvm/_validators.py
  src/azure-cli/azure/cli/command_modules/sqlvm/commands.py
  src/azure-cli/azure/cli/command_modules/sqlvm/custom.py
  src/azure-cli/azure/cli/command_modules/sqlvm/tests/latest/recordings/test_sqlvm_aad_auth_negative.yaml
  src/azure-cli/azure/cli/command_modules/sqlvm/tests/latest/recordings/test_sqlvm_add_and_remove.yaml
  src/azure-cli/azure/cli/command_modules/sqlvm/tests/latest/recordings/test_sqlvm_create_and_delete.yaml
  src/azure-cli/azure/cli/command_modules/sqlvm/tests/latest/recordings/test_sqlvm_group_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/sqlvm/tests/latest/recordings/test_sqlvm_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/sqlvm/tests/latest/recordings/test_sqlvm_mgmt_assessment.yaml
  src/azure-cli/azure/cli/command_modules/sqlvm/tests/latest/recordings/test_sqlvm_update_license_and_sku.yaml
  src/azure-cli/azure/cli/command_modules/sqlvm/tests/latest/test_sqlvm_commands.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: SQL - VM, Auto-Assign

#25425 [AKS] Fix #22321: `az aks get-credentials`: Fix path separator for Windows when finding `kubeconfig_path`
  src/azure-cli/azure/cli/command_modules/acs/custom.py
Labels: AKS, customer-reported, Auto-Assign

#25367 [App Service] `az webapp config ssl create/upload/import`: Allow user to specify certificate name with `--certificate-name`
  src/azure-cli/azure/cli/command_modules/appservice/_params.py
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_ssl.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_ssl_import.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_webapp_commands.py
Labels: Web Apps, Auto-Assign

#25547 [CosmosDB] Bump up management SDK package from 8.0.0 to 9.0.0
  src/azure-cli/azure/cli/command_modules/cosmosdb/custom.py
Labels: Cosmos, Auto-Assign

#25415 {SQL} Update help text for ltr/geo restore params
  src/azure-cli/azure/cli/command_modules/sql/_params.py
Labels: customer-reported

#25529 [Compute] `az vm create`: Support recommending more suitable regions through warning log when creating VM
  src/azure-cli-core/azure/cli/core/telemetry.py
  src/azure-cli/azure/cli/command_modules/vm/_validators.py
  src/azure-cli/azure/cli/command_modules/vm/_vm_utils.py
Labels: Compute, Auto-Assign

#25659 {App Service} `az functionapp create`: Revert PR #25223
  src/azure-cli-core/azure/cli/core/profiles/_shared.py
  src/azure-cli/azure/cli/command_modules/appservice/_client_factory.py
  src/azure-cli/azure/cli/command_modules/appservice/_constants.py
  src/azure-cli/azure/cli/command_modules/appservice/_params.py
  src/azure-cli/azure/cli/command_modules/appservice/_validators.py
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_functionapp_commands.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
Labels: App Services, Auto-Assign, ContainerApp

#25664 {Eventgrid} Change deprecation version
  src/azure-cli/azure/cli/command_modules/eventgrid/_params.py
Labels: Event Grid, Auto-Assign

#25594 {CI} Update milestone from Feb 2023 (2023-03-07) to March 2023 (2023-04-04)
  .github/fabricbot.json
Labels: CI, Auto-Assign

#25669 {Network} Clean up the remaining SDKs within Network II
  doc/sphinx/azhelpgen/doc_source_map.json
  src/azure-cli/azure/cli/command_modules/natgateway/__init__.py
  src/azure-cli/azure/cli/command_modules/natgateway/_help.py
  src/azure-cli/azure/cli/command_modules/natgateway/_params.py
  src/azure-cli/azure/cli/command_modules/natgateway/_validators.py
  src/azure-cli/azure/cli/command_modules/natgateway/commands.py
  src/azure-cli/azure/cli/command_modules/natgateway/custom.py
  src/azure-cli/azure/cli/command_modules/network/__init__.py
  src/azure-cli/azure/cli/command_modules/network/_client_factory.py
  src/azure-cli/azure/cli/command_modules/network/_completers.py
  src/azure-cli/azure/cli/command_modules/network/_params.py
  src/azure-cli/azure/cli/command_modules/network/_template_builder.py
  src/azure-cli/azure/cli/command_modules/network/_validators.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/nat/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/nat/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/nat/gateway/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/nat/gateway/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/nat/gateway/_create.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/nat/gateway/_delete.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/nat/gateway/_list.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/nat/gateway/_show.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/nat/gateway/_update.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/nat/gateway/_wait.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/routeserver/ip_config/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/routeserver/ip_config/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/routeserver/ip_config/_create.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/routeserver/ip_config/_delete.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/routeserver/ip_config/_list.py
  src/azure-cli/azure/cli/command_modules/network/commands.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/operations/nat.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_natgateway_basic.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_natgateway_empty_create.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_with_defaults.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_lb_rule_backend_address_pools.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_virtual_hub_router_scenario.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_natgateway_commands.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Labels: Network, Auto-Assign

#25688 {AMS} Use authorization Track 2 SDK and fix `retry` decorator
  src/azure-cli/azure/cli/command_modules/ams/operations/sp.py
  src/azure-cli/azure/cli/command_modules/ams/tests/latest/recordings/test_ams_sp_create_reset.yaml
  src/azure-cli/azure/cli/command_modules/ams/tests/latest/test_ams_sp_scenarios.py
Labels: Media Services, Auto-Assign

#25702 {Network} azure-stack clear
  src/azure-cli/azure/cli/command_modules/network/azure_stack/_actions.py
  src/azure-cli/azure/cli/command_modules/network/azure_stack/_client_factory.py
  src/azure-cli/azure/cli/command_modules/network/azure_stack/_completers.py
  src/azure-cli/azure/cli/command_modules/network/azure_stack/_format.py
  src/azure-cli/azure/cli/command_modules/network/azure_stack/_params.py
  src/azure-cli/azure/cli/command_modules/network/azure_stack/_util.py
  src/azure-cli/azure/cli/command_modules/network/azure_stack/_validators.py
  src/azure-cli/azure/cli/command_modules/network/azure_stack/commands.py
  src/azure-cli/azure/cli/command_modules/network/azure_stack/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/hybrid_2018_03_01/recordings/test_network_ag_address_pool.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/hybrid_2018_03_01/recordings/test_network_ag_auth_cert.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/hybrid_2018_03_01/recordings/test_network_ag_frontend_ip_private.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/hybrid_2018_03_01/recordings/test_network_ag_frontend_ip_public.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/hybrid_2018_03_01/recordings/test_network_ag_frontend_port.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/hybrid_2018_03_01/recordings/test_network_ag_http_listener.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/hybrid_2018_03_01/recordings/test_network_ag_http_settings.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/hybrid_2018_03_01/recordings/test_network_ag_probe.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/hybrid_2018_03_01/recordings/test_network_ag_rule.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/hybrid_2018_03_01/recordings/test_network_app_gateway_no_wait.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/hybrid_2018_03_01/recordings/test_network_app_gateway_redirect_config.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/hybrid_2018_03_01/recordings/test_network_app_gateway_waf_config.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/hybrid_2018_03_01/recordings/test_network_app_gateway_with_defaults.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/hybrid_2018_03_01/recordings/test_network_app_gateway_with_existing_subnet.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/hybrid_2018_03_01/recordings/test_network_app_gateway_with_private_ip.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/hybrid_2018_03_01/recordings/test_network_app_gateway_with_public_ip.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/hybrid_2018_03_01/recordings/test_network_express_route_ipv6_peering.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/hybrid_2018_03_01/test_network_commands.py
Labels: Network, Auto-Assign

#25703 {Packaging} Use latest setuptools on Linux
  requirements.txt
  scripts/release/debian/build.sh
  scripts/release/rpm/azure-cli.spec
Labels: Packaging, Installation, Auto-Assign

#25744 {Synapse} Update Synapse module GA
  src/azure-cli/azure/cli/command_modules/synapse/manual/commands.py
Labels: Synapse, Auto-Assign

#25745 [Core] `aaz`: Add support for changing subscription of `AAZCommand` in customization code
  src/azure-cli-core/azure/cli/core/aaz/_command_ctx.py
  src/azure-cli-core/azure/cli/core/tests/test_aaz_command_ctx.py
Labels: Core, Auto-Assign

#25698 [App Service] Fix #25375: `az functionapp deployment source config-zip`: Fix the `Could not find a 'AzureWebJobsStorage' application setting` error
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_functionapp_commands.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_functionapp_commands_thru_mock.py
Labels: App Services, Auto-Assign

#25753 {Fabric Bot} Update mentions for Compute services
  .github/fabricbot.json
Labels: Compute, Auto-Assign

#25754 {Code Owner} Add code owner for VM module
  .github/CODEOWNERS
Labels: Compute, Auto-Assign

#25747 {CI} Add Test Rpm Package Mariner
  azure-pipelines.yml
  scripts/release/rpm/test_mariner_in_docker.sh
Labels: CI, Auto-Assign

#25776 {CI} Fix `NoneType` error by add condition for pipeline result display feature
  .azure-pipelines/templates/automation_test.yml
  scripts/ci/automation_full_test.py
Labels: CI, Auto-Assign

#25771 {AKS} `az aks create`: Correct help message for option `--os-sku`
  src/azure-cli/azure/cli/command_modules/acs/_params.py
Labels: AKS, Auto-Assign

#25779 {CI} Fix live test job running longer than the maximum time of 180 minutes.
  scripts/live_test/CLITest.yml
  scripts/live_test/sendemail.py
Labels: CI, Auto-Assign

#25728 [Servicebus] `az servicebus namespace authorization-rule keys renew/list` `az servicebus topic authorization-rule keys renew/list` `az servicebus queue authorization-rule keys renew/list`: Parameter `-n` added to create auth_rule_name
  src/azure-cli/azure/cli/command_modules/servicebus/aaz/latest/servicebus/namespace/authorization_rule/keys/_list.py
  src/azure-cli/azure/cli/command_modules/servicebus/aaz/latest/servicebus/namespace/authorization_rule/keys/_renew.py
  src/azure-cli/azure/cli/command_modules/servicebus/aaz/latest/servicebus/queue/authorization_rule/keys/_list.py
  src/azure-cli/azure/cli/command_modules/servicebus/aaz/latest/servicebus/queue/authorization_rule/keys/_renew.py
  src/azure-cli/azure/cli/command_modules/servicebus/aaz/latest/servicebus/topic/authorization_rule/keys/_list.py
  src/azure-cli/azure/cli/command_modules/servicebus/aaz/latest/servicebus/topic/authorization_rule/keys/_renew.py
Labels: Service Bus, Auto-Assign

#25712 [CosmosDB] `az cosmosdb identity assign`: Allow refreshing user assigned identities if they're reassigned to an account
  src/azure-cli/azure/cli/command_modules/cosmosdb/custom.py
Labels: Account, Cosmos, customer-reported, Auto-Assign

#25809 {AKS} Update cli tests disable upgrade node image related tests
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
Labels: AKS, Auto-Assign

#25780 {Packaging} Compact aaz folder of `network` module
  build_scripts/windows/scripts/build.cmd
  scripts/compact_aaz.py
  src/azure-cli-core/azure/cli/core/aaz/__init__.py
  src/azure-cli-core/azure/cli/core/aaz/_command.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
Labels: Network, Auto-Assign

#25794 {ams} Fix account identity error while assigning system managed identity
  src/azure-cli/azure/cli/command_modules/ams/operations/identity.py
Labels: Account, Media Services, Auto-Assign

#25803 {Packaging} Remove pyodbc, PyMySQL, psycopg2 from dependency
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: Packaging, Auto-Assign

#25821 [Network] `az network routeserver create/update`: Add parameter `--hub-routing-preference`
  src/azure-cli/azure/cli/command_modules/network/_params.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/routeserver/_create.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/routeserver/_delete.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/routeserver/_show.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/routeserver/_update.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/routeserver/_wait.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_virtual_hub_router_scenario.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Labels: Network, Auto-Assign

#25818 {CI} Fix send email due to breaking change of azure-communication-email service
  scripts/live_test/sendemail.py
Labels: CI, Auto-Assign

#25789 [NetAppFiles] Patch assign snapshotpolicyID
  src/azure-cli/azure/cli/command_modules/netappfiles/custom.py
Labels: NetAppFiles, Auto-Assign

#25451 [Network] Drop `azure-mgmt-network` SDK
  scripts/sdk_process/patch_models.py
  scripts/trim_sdk.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: Do Not Merge, Auto-Assign

#25832 {Packaging} Remove PyWin32.chm from MSI
  build_scripts/windows/scripts/build.cmd
Labels: Packaging, Auto-Assign

#25833 {VM} Support to compact `aaz` folder in `VM` module
  scripts/compact_aaz.py
  src/azure-cli/azure/cli/command_modules/vm/aaz/latest/network/nic/_list.py
  src/azure-cli/azure/cli/command_modules/vm/aaz/latest/network/nsg/_create.py
Labels: Compute, Auto-Assign

#25837 [Network] `az network application-gateway waf-policy custom-rule create/update`: Add parameter `--state`
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/waf_policy/custom_rule/_create.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/waf_policy/custom_rule/_delete.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/waf_policy/custom_rule/_list.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/waf_policy/custom_rule/_show.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/waf_policy/custom_rule/_update.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_waf_custom_rule.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_waf_policy_with_application_gateway.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Labels: Network, Auto-Assign

#25858 {CI} Fix missing details page when sending live test report
  scripts/live_test/sendemail.py
Labels: CI, Auto-Assign

#25839 {Packaging} Remove trim `azure-mgmt-network` in RPM build
  scripts/release/rpm/azure-cli.spec
Labels: Network, Packaging, Auto-Assign

#24599 {Doc} Update Homebrew edge installation guide
  README.md
Labels: Installation, Auto-Assign

#25873 [SQL] `az sql server refresh-external-governance-status`: New command for refreshing external governance status
  src/azure-cli/azure/cli/command_modules/sql/_help.py
  src/azure-cli/azure/cli/command_modules/sql/_params.py
  src/azure-cli/azure/cli/command_modules/sql/commands.py
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/recordings/test_sql_refresh_external_governance_status.yaml
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/test_sql_commands.py
Labels: SQL, Auto-Assign

#25840 [Network] Fix #25784: `az network private-link-service update`: `--lb-frontend-ip-configs` cannot be used
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_private_link_service.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Labels: Network, Auto-Assign

#25880 [Storage] `az storage blob copy start`: Fix auth issue when providing source uri containing sas token
  src/azure-cli/azure/cli/command_modules/storage/operations/blob.py
Labels: Storage, Auto-Assign

#25843 [RDBMS] Fix validation for availability zone for the replica for postgresql flexible server
  src/azure-cli/azure/cli/command_modules/rdbms/_flexible_server_location_capabilities_util.py
  src/azure-cli/azure/cli/command_modules/rdbms/_flexible_server_util.py
  src/azure-cli/azure/cli/command_modules/rdbms/_helptext_pg.py
  src/azure-cli/azure/cli/command_modules/rdbms/flexible_server_custom_postgres.py
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_flexible_server_byok_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_flexible_server_replica_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_flexible_server_upgrade_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgresql_flexible_server_identity_aad_admin_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgresql_flexible_server_identity_aad_admin_only_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/validators.py
Labels: Auto-Assign

#25879 {CI} Auto manage milestone
  .github/azure-client-tools-bot/config.yml
  .github/fabricbot.json
Labels: CI, Auto-Assign

#25823 [Synapse] `az synapse spark pool create/update`: Update `--node-size-family` and `--node-size` allowed values
  src/azure-cli/azure/cli/command_modules/synapse/manual/_params.py
  src/azure-cli/azure/cli/command_modules/synapse/tests/latest/recordings/test_spark_pool.yaml
  src/azure-cli/azure/cli/command_modules/synapse/tests/latest/test_synapse_scenario.py
Labels: Synapse, Auto-Assign

#25884 [Compute] `vm reimage`: Add this command to support reimaging a virtual machine
  src/azure-cli/azure/cli/command_modules/vm/aaz/latest/vm/__init__.py
  src/azure-cli/azure/cli/command_modules/vm/aaz/latest/vm/_reimage.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_reimage.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Auto-Assign

#25914 {core} `aaz`: Ignore empty folders while loading `aaz` in modules
  src/azure-cli-core/azure/cli/core/aaz/_command.py
Labels: Core, Auto-Assign

#25908 {AKS} `az aks update`: Remove the error that could not create a role assignment error when the role assignment already exists
  src/azure-cli/azure/cli/command_modules/acs/_roleassignments.py
Labels: AKS, Auto-Assign

#25915 [Storage] `az storage container/blob list`: Fix MemoryError when service returns less num than requested
  src/azure-cli/azure/cli/command_modules/storage/track2_util.py
Labels: Storage, Auto-Assign

#25746 [ARM] `az resource patch`: Add new command to support updating resource by PATCH request
  src/azure-cli/azure/cli/command_modules/resource/_help.py
  src/azure-cli/azure/cli/command_modules/resource/_params.py
  src/azure-cli/azure/cli/command_modules/resource/commands.py
  src/azure-cli/azure/cli/command_modules/resource/custom.py
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/recordings/test_resource_id_scenario.yaml
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/recordings/test_resource_patch.yaml
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/sample_policy_set.json
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/sample_policy_set_parameterized.json
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/test_resource.py
Labels: ARM, Auto-Assign

#25922 {AKS} Added test case to detect behavioral changes in role assignments
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
Labels: RBAC, AKS, Auto-Assign

#25923 [Storage] `az storage account create`: GA partition DNS account support
  src/azure-cli/azure/cli/command_modules/storage/_params.py
  src/azure-cli/azure/cli/command_modules/storage/operations/account.py
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_create_storage_account_with_dns_endpoint_type.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/test_storage_account_scenarios.py
Labels: Storage, Auto-Assign

#25937 {CI} Auto manage milestone for pull request
  .github/azure-client-tools-bot/config.yml
  .github/fabricbot.json
Labels: CI, Auto-Assign

#25926 [RDBMS] `az mysql flexible-server replica create`: Add parameters to support cross region paired vnet
  src/azure-cli/azure/cli/command_modules/rdbms/_params.py
  src/azure-cli/azure/cli/command_modules/rdbms/flexible_server_custom_mysql.py
  src/azure-cli/azure/cli/command_modules/rdbms/flexible_server_virtual_network.py
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_mysql_flexible_server_cross_region_replica_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/test_rdbms_flexible_commands.py
  src/azure-cli/azure/cli/command_modules/rdbms/validators.py
Labels: Auto-Assign

#25940 {CI} Support check pull request branch
  .github/azure-client-tools-bot/config.yml
Labels: CI, Auto-Assign

#25885 Aladdin generated examples
  scripts/ci/aladdin/aladdin.py
Labels: customer-reported, Auto-Assign

#25681 [SQL] `az sql db geo/ltr-backup restore`: Add more parameters to geo restore and ltr restore
  src/azure-cli/azure/cli/command_modules/sql/_params.py
  src/azure-cli/azure/cli/command_modules/sql/custom.py
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/recordings/test_sql_db_geo_restore.yaml
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/test_sql_commands.py
Labels: SQL, Backup, Auto-Assign

#25888 {Servicebus} `az servicebus topic subscription rule`: Migrate servicebus rule cmdlets to AAZ
  src/azure-cli/azure/cli/command_modules/servicebus/Operation/NamespaceCustomFile.py
  src/azure-cli/azure/cli/command_modules/servicebus/aaz/latest/servicebus/topic/subscription/rule/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/servicebus/aaz/latest/servicebus/topic/subscription/rule/__init__.py
  src/azure-cli/azure/cli/command_modules/servicebus/aaz/latest/servicebus/topic/subscription/rule/_create.py
  src/azure-cli/azure/cli/command_modules/servicebus/aaz/latest/servicebus/topic/subscription/rule/_delete.py
  src/azure-cli/azure/cli/command_modules/servicebus/aaz/latest/servicebus/topic/subscription/rule/_list.py
  src/azure-cli/azure/cli/command_modules/servicebus/aaz/latest/servicebus/topic/subscription/rule/_show.py
  src/azure-cli/azure/cli/command_modules/servicebus/aaz/latest/servicebus/topic/subscription/rule/_update.py
  src/azure-cli/azure/cli/command_modules/servicebus/commands.py
  src/azure-cli/azure/cli/command_modules/servicebus/custom.py
  src/azure-cli/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_rules.yaml
Labels: Service Bus, Auto-Assign

#25891 [App Service] Fix #25876: `az webapp config ssl import`: Fix the UnboundLocalError `local variable 'cert_name' referenced before assignment`
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
Labels: Web Apps, App Services, Auto-Assign

#25793 {App Service} Fix #25616: `az webapp up`: Add help message to clarify that the cloud shell is not supported
  src/azure-cli/azure/cli/command_modules/appservice/_params.py
Labels: Web Apps, App Services, Auto-Assign

#25817 {Compute} Record input location for VM creation even if the customer does not get the recommended region
  src/azure-cli/azure/cli/command_modules/vm/_vm_utils.py
Labels: Compute, Auto-Assign

#25707 [ARM] Fix #25706: `az bicep format`: Fix the TypeError `ensure_bicep_installation() missing 1 required positional argument 'cli_ctx'`
  src/azure-cli/azure/cli/command_modules/resource/custom.py
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/test_resource_custom.py
Labels: bug, customer-reported

#25962 {SQL} Revert "`az sql mi server-configuration-option`: New command group to manage server configuration options"
  src/azure-cli/azure/cli/command_modules/sql/aaz/latest/sql/mi/server_configuration_option/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/sql/aaz/latest/sql/mi/server_configuration_option/__init__.py
  src/azure-cli/azure/cli/command_modules/sql/aaz/latest/sql/mi/server_configuration_option/_create.py
  src/azure-cli/azure/cli/command_modules/sql/aaz/latest/sql/mi/server_configuration_option/_list.py
  src/azure-cli/azure/cli/command_modules/sql/aaz/latest/sql/mi/server_configuration_option/_show.py
  src/azure-cli/azure/cli/command_modules/sql/aaz/latest/sql/mi/server_configuration_option/_update.py
  src/azure-cli/azure/cli/command_modules/sql/aaz/latest/sql/mi/server_configuration_option/_wait.py
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/recordings/test_sql_mi_server_configuration_options.yaml
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/test_sql_commands.py
Labels: SQL, Auto-Assign

#25932 [AKS] `az aks create`: Add new parameter `--network-plugin-mode` to support creating Azure CNI Overlay clusters
  src/azure-cli/azure/cli/command_modules/acs/_consts.py
  src/azure-cli/azure/cli/command_modules/acs/_help.py
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/managed_cluster_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_with_overlay_network_plugin_mode.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_managed_cluster_decorator.py
Labels: AKS, Auto-Assign

#25953 {AKS} `az aks create/update`: Adopt new sku naming
  src/azure-cli/azure/cli/command_modules/acs/managed_cluster_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_with_paid_sku.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_with_paid_sku_msi.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_with_standard_sku.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_managed_cluster_decorator.py
Labels: AKS, Auto-Assign

#25970 {CI} Update fabricbot.json for aks pull request
  .github/fabricbot.json
Labels: AKS, CI, Auto-Assign

#25641 {Core} Add instruction to fix incomplete extension
  src/azure-cli-core/azure/cli/core/extension/__init__.py
Labels: Core, Auto-Assign

#25942 [KeyVault] `az keyvault region`: GA MHSM region commands
  src/azure-cli/azure/cli/command_modules/keyvault/_client_factory.py
  src/azure-cli/azure/cli/command_modules/keyvault/_help.py
  src/azure-cli/azure/cli/command_modules/keyvault/_params.py
  src/azure-cli/azure/cli/command_modules/keyvault/_validators.py
  src/azure-cli/azure/cli/command_modules/keyvault/commands.py
  src/azure-cli/azure/cli/command_modules/keyvault/custom.py
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_mhsm_region.yaml
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/test_keyvault_commands.py
Labels: KeyVault, Auto-Assign

#25894 {Packaging} Trim all SDKs instead of biggest SDKs
  scripts/trim_sdk.py
Labels: Packaging, Auto-Assign

#25802 {Core} Support preview extension to override GA extension
  doc/overwrite_order_in_cli.md
  src/azure-cli-core/azure/cli/core/extension/__init__.py
Labels: Core, Auto-Assign

#25729 [ARM] Fix #25715: `az bicep install/upgrade`: Fix the `configparser.NoSectionError: No section: 'bicep'`
  src/azure-cli/azure/cli/command_modules/resource/_bicep.py
  src/azure-cli/azure/cli/command_modules/resource/custom.py
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/test_resource_bicep.py
Labels: ARM, Installation, Auto-Assign

#25972 {CI} Add auto reply for issue and pull request
  .github/workflows/AddIssueComment.yml
  .github/workflows/AddPRComment.yml
Labels: CI, Auto-Assign

#25979 [AppService] `az functionapp delete`: Add a validation to check whether Azure Functions is not in the Azure Container app environments
  src/azure-cli/azure/cli/command_modules/appservice/_validators.py
  src/azure-cli/azure/cli/command_modules/appservice/commands.py
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_acr_create_function_app.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_acr_deployment_function_app.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_acr_integration.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_acr_integration_function_app.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_container_webapp_docker_image_name.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_container_webapp_long_server_url.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_consumption_e2e.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_powershell_version.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_reserved_instance.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_update_slot.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_linux_slot_container_settings_override.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_linux_webapp.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_linux_webapp_multicontainer_slot.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_linux_webapp_quick_create.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_move_plan_to_elastic.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_update_webapp_settings_thru_json.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_config.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_slot.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_update_site_configs_persists_ip_restrictions.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_webapp_commands_thru_mock.py
Labels: App Services, Auto-Assign, ContainerApp

#25969 {Packaging} Remove Fedora 35 build
  azure-pipelines.yml
Labels: Packaging, Installation, Auto-Assign

#25966 [AKS] `az aks create/update`: Add new parameter `--enable-workload-identity` to support enabling workload identity addon
  src/azure-cli/azure/cli/command_modules/acs/_help.py
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/linter_exclusions.yml
  src/azure-cli/azure/cli/command_modules/acs/managed_cluster_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_with_workload_identity_enabled.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_update_with_workload_identity.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_managed_cluster_decorator.py
Labels: AKS, Auto-Assign

#25951 [AKS] `az aks create`: Add new parameter `--network-dataplane` to support creating Cilium clusters
  src/azure-cli/azure/cli/command_modules/acs/_consts.py
  src/azure-cli/azure/cli/command_modules/acs/_help.py
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/managed_cluster_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_with_network_dataplane_cilium.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_managed_cluster_decorator.py
Labels: AKS, Auto-Assign

#25991 {Network} Re-generate network related codes within vm/servicefabric
  src/azure-cli/azure/cli/command_modules/servicefabric/aaz/latest/network/lb/_create.py
  src/azure-cli/azure/cli/command_modules/vm/aaz/2018_03_01_hybrid/network/nic/_update.py
  src/azure-cli/azure/cli/command_modules/vm/aaz/2018_03_01_hybrid/vm/extension/image/_show.py
  src/azure-cli/azure/cli/command_modules/vm/aaz/2019_03_01_hybrid/network/nic/_update.py
  src/azure-cli/azure/cli/command_modules/vm/aaz/2019_03_01_hybrid/vm/extension/image/_show.py
  src/azure-cli/azure/cli/command_modules/vm/aaz/2020_09_01_hybrid/network/nic/_update.py
  src/azure-cli/azure/cli/command_modules/vm/aaz/2020_09_01_hybrid/vm/extension/image/_show.py
  src/azure-cli/azure/cli/command_modules/vm/aaz/latest/network/nic/_update.py
  src/azure-cli/azure/cli/command_modules/vm/aaz/latest/vm/extension/image/_show.py
Labels: Network, Service Fabric, Auto-Assign

#26000 {advisor} Bug fix recommendation list
  src/azure-cli/azure/cli/command_modules/advisor/custom.py
Labels: Auto-Assign

#25978 [AKS] `az aks update`: Add parameters `--network-plugin-mode` and `--pod-cidr` to Update command to support migrating to Azure CNI Overlay
  src/azure-cli/azure/cli/command_modules/acs/_help.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/managed_cluster_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_azure_cni_overlay_migration.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_managed_cluster_decorator.py
Labels: AKS, Auto-Assign

#26006 {CI} Update fabricbot.json for `ARM Functionapp EventHubs`
  .github/fabricbot.json
Labels: CI, Auto-Assign

#26005 {CI} Disable job `TestRpmPackageMariner`
  azure-pipelines.yml
Labels: CI, Auto-Assign

#26010 {CI} Update fabricbot.json for arm
  .github/fabricbot.json
Labels: CI, Auto-Assign

#26011 {CI} Update fabricbot.json to add `Azure CLI Team` and `question` label
  .github/fabricbot.json
Labels: CI, Auto-Assign
