Repository Azure/azure-cli, pull requests merged in 2023-09, with the labels that each got.

#25324 {monitor}`az monitor action-group`: Migrate from codegen V2
  src/azure-cli/azure/cli/command_modules/monitor/_help.py
  src/azure-cli/azure/cli/command_modules/monitor/_params.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/action_group/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/action_group/__init__.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/action_group/_create.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/action_group/_delete.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/action_group/_enable_receiver.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/action_group/_list.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/action_group/_show.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/action_group/_update.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/action_group/test_notifications/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/action_group/test_notifications/__init__.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/action_group/test_notifications/_create.py
  src/azure-cli/azure/cli/command_modules/monitor/actions.py
  src/azure-cli/azure/cli/command_modules/monitor/commands.py
  src/azure-cli/azure/cli/command_modules/monitor/operations/action_groups.py
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_action_group_basic_scenario.yaml
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_action_group_location.yaml
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_action_group_notifications.yaml
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/test_monitor_action_groups.py
Labels: Monitor, Monitor - ActionGroups

#27247 {App Service} change error message
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
Labels: Web Apps, Auto-Assign

#27171 {monitor}`az monitor autoscale`: Migrate from codegen V2
  src/azure-cli/azure/cli/command_modules/monitor/_autoscale_util.py
  src/azure-cli/azure/cli/command_modules/monitor/_help.py
  src/azure-cli/azure/cli/command_modules/monitor/_params.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/autoscale/__init__.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/autoscale/_create.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/autoscale/_delete.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/autoscale/_list.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/autoscale/_show.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/autoscale/_show_predictive_metric.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/autoscale/_update.py
  src/azure-cli/azure/cli/command_modules/monitor/actions.py
  src/azure-cli/azure/cli/command_modules/monitor/commands.py
  src/azure-cli/azure/cli/command_modules/monitor/operations/autoscale_settings.py
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_autoscale_fixed.yaml
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_autoscale_recurring.yaml
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_autoscale_rule_with_dimensions.yaml
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_autoscale_rules.yaml
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_autoscale_show_predictive_metric.yaml
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/test_monitor_autoscale.py
  src/azure-cli/azure/cli/command_modules/monitor/validators.py
Labels: Monitor, Auto-Assign

#27313 [AKS] `az aks update`: Add new parameter `--private-dns-zone` to support private DNS zone for AKS private cluster
  src/azure-cli/azure/cli/command_modules/acs/_help.py
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/managed_cluster_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_private_cluster_update_dns_zone.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_managed_cluster_decorator.py
Labels: AKS, Auto-Assign

#27318 {AKS} Add a table of releases and adopted API versions
  src/azure-cli/azure/cli/command_modules/acs/version_history.md
Labels: AKS, Auto-Assign

#27325 [Storage] Fix #26732: `az storage blob copy start-batch`: Add `--rehydrate-priority` to batch copy
  src/azure-cli/azure/cli/command_modules/storage/_params.py
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/test_storage_blob_copy_scenarios.py
Labels: Storage, Batch, Auto-Assign

#27339 {CI} Update bot policy
  .github/policies/resourceManagement.yml
Labels: CI, Auto-Assign

#27337 [AKS] `az aks update`: Add new parameter `--disable-windows-gmsa` to support disabling Windows gMSA in an AKS cluster
  src/azure-cli/azure/cli/command_modules/acs/_help.py
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/managed_cluster_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_update_with_windows_gmsa.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_managed_cluster_decorator.py
Labels: AKS, Auto-Assign

#27308 [App Config] `az appconfig kv import/export`: Remove `skip-features` and `skip-keyvault` restriction for snapshots
  src/azure-cli/azure/cli/command_modules/appconfig/_validators.py
Labels: App Configuration, Auto-Assign

#27326 {Packaging} Use latest homebrew formula
  scripts/release/homebrew/docker/formula_generate.py
Labels: Packaging, Auto-Assign

#27269 {Packaging} Fix jp download url in ARM64 docker image
  Dockerfile
Labels: Packaging, Auto-Assign

#27037 [Service Connector] `az webapp connection`: Add new parameter `--slot` to support webapp slot connection
  src/azure-cli/azure/cli/command_modules/serviceconnector/_params.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/_resource_config.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/_validators.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/custom.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_webappslot_storageblob_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/test_webpp_connection_scenario.py
Labels: Web Apps, Auto-Assign

#27366 [Storage] Fix #27052: `az storage blob delete-batch`: Use utc as default timezone to remove "Datetime with no tzinfo will be considered UTC." warning
  src/azure-cli/azure/cli/command_modules/storage/operations/blob.py
Labels: Storage, Auto-Assign

#27344 [Core] `aaz`: Fix command name case issue for aaz command table lazy load
  src/azure-cli-core/azure/cli/core/aaz/_command.py
Labels: Core, Auto-Assign

#27367 {CI} Pin pytest-html to 3.2.0
  scripts/live_test/CLITest.yml
Labels: CI, Auto-Assign

#27370 {Mysql} az mysql flexible-server import create: Add firewall rule migration from single to flex
  src/azure-cli/azure/cli/command_modules/mysql/_client_factory.py
  src/azure-cli/azure/cli/command_modules/mysql/_util.py
  src/azure-cli/azure/cli/command_modules/mysql/custom.py
  src/azure-cli/azure/cli/command_modules/mysql/tests/latest/recordings/test_mysql_flexible_server_import_create.yaml
Labels: Auto-Assign

#27376 {App Service} `az webapp deploy`: Remove preview flag
  src/azure-cli/azure/cli/command_modules/appservice/commands.py
Labels: Web Apps, Auto-Assign

#27369 {Service Connector} `az webapp connection`: Add Examples in helper for slot creation
  src/azure-cli/azure/cli/command_modules/serviceconnector/_help.py
Labels: Web Apps, Auto-Assign

#27311 [ARM] `az deployment group create`: Make `--template-file` parameter optional when used with `.bicepparam` parameter file
  src/azure-cli/azure/cli/command_modules/resource/_help.py
  src/azure-cli/azure/cli/command_modules/resource/_validators.py
  src/azure-cli/azure/cli/command_modules/resource/custom.py
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/data/bicepparam/bicepconfig.json
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/data/bicepparam/params_registry.bicepparam
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/data/bicepparam/params_templatespec.bicepparam
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/recordings/test_create_deployment_stack_resource_group_with_bicep.yaml
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/test_resource.py
Labels: ARM, Auto-Assign

#27372 {Containerapp} update ejs version fix security issue
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/data/source_built_using_acr_task/package.json
Labels: Auto-Assign, ContainerApp

#27332 {ACR} Registry name error message fix
  src/azure-cli/azure/cli/command_modules/acr/custom.py
Labels: Container Registry, Auto-Assign

#26475 {Core} Copy login credential when run test with `--live` and `random_config_dir` is enabled
  src/azure-cli-core/azure/cli/core/_config.py
  src/azure-cli-core/azure/cli/core/mock.py
Labels: Core, Auto-Assign

#27373 [Network] `az network virtual-appliance`: Add parameter `--additional-nics`
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/virtual_appliance/_create.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/virtual_appliance/_delete.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/virtual_appliance/_list.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/virtual_appliance/_show.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/virtual_appliance/_update.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/virtual_appliance/_wait.py
Labels: Network, Auto-Assign

#27381 [containerapp] `az containerapp env create`: Add `--enable-workload-profiles`
  src/azure-cli/azure/cli/command_modules/containerapp/_help.py
  src/azure-cli/azure/cli/command_modules/containerapp/_params.py
  src/azure-cli/azure/cli/command_modules/containerapp/containerapp_env_decorator.py
  src/azure-cli/azure/cli/command_modules/containerapp/custom.py
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/recordings/test_containerapp_create_enable_workload_profiles_three_state_flag.yaml
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/recordings/test_containerapp_create_with_workloadprofile_yaml.yaml
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/recordings/test_containerapp_env_workload_profiles_delete.yaml
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/recordings/test_containerapp_env_workload_profiles_e2e.yaml
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/test_containerapp_workload_profile_commands.py
Labels: Auto-Assign, ContainerApp

#27382 {containerapp} add random config directory for test
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/test_containerapp_auth_commands.py
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/test_containerapp_azurefile.py
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/test_containerapp_commands.py
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/test_containerapp_compose_basic.py
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/test_containerapp_compose_command.py
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/test_containerapp_compose_environment.py
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/test_containerapp_compose_ingress.py
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/test_containerapp_compose_registries.py
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/test_containerapp_compose_resources.py
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/test_containerapp_compose_scale.py
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/test_containerapp_compose_secrets.py
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/test_containerapp_compose_transport_overrides.py
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/test_containerapp_env_commands.py
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/test_containerapp_ingress_sticky_session.py
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/test_containerapp_mount_secret_volume.py
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/test_containerapp_scenario.py
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/test_containerapp_up.py
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/test_containerapp_workload_profile_commands.py
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/test_containerappjob_crud.py
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/test_containerappjob_event_triggered_crud.py
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/test_containerappjob_executions.py
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/test_containerappjob_with_identity.py
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/test_containerappjob_with_secrets.py
Labels: Batch, Auto-Assign, ContainerApp

#27342 {AKS} `az aks addon enable`: Update help message
  src/azure-cli/azure/cli/command_modules/acs/_help.py
Labels: AKS, Auto-Assign

#27384 [Service Connector] `az spring connection`: Add deprecated message for `--deployment` breaking change
  src/azure-cli/azure/cli/command_modules/serviceconnector/_params.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/_resource_config.py
Labels: Service Connector

#27393 [containerapp] `az containerapp env dapr-component create`: Fix the sample link for `--yaml` parameter
  src/azure-cli/azure/cli/command_modules/containerapp/_params.py
  src/azure-cli/azure/cli/command_modules/containerapp/custom.py
Labels: Auto-Assign, ContainerApp

#27399 [Cosmos DB] `az cosmosdb postgres`: GA Cosmos DB for PostgreSQL
  src/azure-cli/azure/cli/command_modules/cosmosdb/aaz/latest/cosmosdb/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/cosmosdb/aaz/latest/cosmosdb/postgres/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/cosmosdb/aaz/latest/cosmosdb/postgres/_check_name_availability.py
  src/azure-cli/azure/cli/command_modules/cosmosdb/aaz/latest/cosmosdb/postgres/cluster/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/cosmosdb/aaz/latest/cosmosdb/postgres/cluster/_create.py
  src/azure-cli/azure/cli/command_modules/cosmosdb/aaz/latest/cosmosdb/postgres/cluster/_delete.py
  src/azure-cli/azure/cli/command_modules/cosmosdb/aaz/latest/cosmosdb/postgres/cluster/_list.py
  src/azure-cli/azure/cli/command_modules/cosmosdb/aaz/latest/cosmosdb/postgres/cluster/_promote.py
  src/azure-cli/azure/cli/command_modules/cosmosdb/aaz/latest/cosmosdb/postgres/cluster/_restart.py
  src/azure-cli/azure/cli/command_modules/cosmosdb/aaz/latest/cosmosdb/postgres/cluster/_show.py
  src/azure-cli/azure/cli/command_modules/cosmosdb/aaz/latest/cosmosdb/postgres/cluster/_start.py
  src/azure-cli/azure/cli/command_modules/cosmosdb/aaz/latest/cosmosdb/postgres/cluster/_stop.py
  src/azure-cli/azure/cli/command_modules/cosmosdb/aaz/latest/cosmosdb/postgres/cluster/_update.py
  src/azure-cli/azure/cli/command_modules/cosmosdb/aaz/latest/cosmosdb/postgres/cluster/server/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/cosmosdb/aaz/latest/cosmosdb/postgres/cluster/server/_list.py
  src/azure-cli/azure/cli/command_modules/cosmosdb/aaz/latest/cosmosdb/postgres/cluster/server/_show.py
  src/azure-cli/azure/cli/command_modules/cosmosdb/aaz/latest/cosmosdb/postgres/configuration/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/cosmosdb/aaz/latest/cosmosdb/postgres/configuration/_list.py
  src/azure-cli/azure/cli/command_modules/cosmosdb/aaz/latest/cosmosdb/postgres/configuration/_show.py
  src/azure-cli/azure/cli/command_modules/cosmosdb/aaz/latest/cosmosdb/postgres/configuration/coordinator/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/cosmosdb/aaz/latest/cosmosdb/postgres/configuration/coordinator/_show.py
  src/azure-cli/azure/cli/command_modules/cosmosdb/aaz/latest/cosmosdb/postgres/configuration/coordinator/_update.py
  src/azure-cli/azure/cli/command_modules/cosmosdb/aaz/latest/cosmosdb/postgres/configuration/node/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/cosmosdb/aaz/latest/cosmosdb/postgres/configuration/node/_show.py
  src/azure-cli/azure/cli/command_modules/cosmosdb/aaz/latest/cosmosdb/postgres/configuration/node/_update.py
  src/azure-cli/azure/cli/command_modules/cosmosdb/aaz/latest/cosmosdb/postgres/configuration/server/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/cosmosdb/aaz/latest/cosmosdb/postgres/configuration/server/_list.py
  src/azure-cli/azure/cli/command_modules/cosmosdb/aaz/latest/cosmosdb/postgres/firewall_rule/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/cosmosdb/aaz/latest/cosmosdb/postgres/firewall_rule/_create.py
  src/azure-cli/azure/cli/command_modules/cosmosdb/aaz/latest/cosmosdb/postgres/firewall_rule/_delete.py
  src/azure-cli/azure/cli/command_modules/cosmosdb/aaz/latest/cosmosdb/postgres/firewall_rule/_list.py
  src/azure-cli/azure/cli/command_modules/cosmosdb/aaz/latest/cosmosdb/postgres/firewall_rule/_show.py
  src/azure-cli/azure/cli/command_modules/cosmosdb/aaz/latest/cosmosdb/postgres/firewall_rule/_update.py
  src/azure-cli/azure/cli/command_modules/cosmosdb/aaz/latest/cosmosdb/postgres/role/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/cosmosdb/aaz/latest/cosmosdb/postgres/role/_create.py
  src/azure-cli/azure/cli/command_modules/cosmosdb/aaz/latest/cosmosdb/postgres/role/_delete.py
  src/azure-cli/azure/cli/command_modules/cosmosdb/aaz/latest/cosmosdb/postgres/role/_list.py
  src/azure-cli/azure/cli/command_modules/cosmosdb/aaz/latest/cosmosdb/postgres/role/_show.py
  src/azure-cli/azure/cli/command_modules/cosmosdb/aaz/latest/cosmosdb/postgres/role/_update.py
  src/azure-cli/azure/cli/command_modules/cosmosdb/tests/latest/recordings/test_cosmosdb_postgres_create_cluster.yaml
  src/azure-cli/azure/cli/command_modules/cosmosdb/tests/latest/recordings/test_cosmosdb_postgres_create_cluster_with_configurations.yaml
  src/azure-cli/azure/cli/command_modules/cosmosdb/tests/latest/recordings/test_cosmosdb_postgres_create_cluster_with_firewall_rules.yaml
  src/azure-cli/azure/cli/command_modules/cosmosdb/tests/latest/recordings/test_cosmosdb_postgres_create_cluster_with_roles.yaml
  src/azure-cli/azure/cli/command_modules/cosmosdb/tests/latest/test_cosmosdb_postgres_scenario.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_private_endpoint_commands.py
Labels: CosmosDB, Auto-Assign

#27248 {ACR} Remove incorrect examples from the documentation
  src/azure-cli/azure/cli/command_modules/acr/_help.py
Labels: Container Registry, Auto-Assign

#27263 [ACR] `az acr token create`: Fix random order of repo valid actions and gateway valid actions in the help message
  src/azure-cli/azure/cli/command_modules/acr/_params.py
Labels: Container Registry, Auto-Assign

#27386 [MySQL] `az mysql flexible-server replica create`: Add new parameters to support replica creation
  src/azure-cli/azure/cli/command_modules/mysql/_params.py
  src/azure-cli/azure/cli/command_modules/mysql/custom.py
Labels: Backup, Auto-Assign

#27412 {containerapp} `az containerapp auth`: Fix test case
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/recordings/test_containerapp_auth_e2e.yaml
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/recordings/test_containerapp_auth_facebook_e2e.yaml
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/recordings/test_containerapp_auth_github_e2e.yaml
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/recordings/test_containerapp_auth_openid_connect_e2e.yaml
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/test_containerapp_auth_commands.py
Labels: Auto-Assign, ContainerApp

#27413 {Mysql} az mysql flexible-server import create: Revert firewall rule migration changes from single to flex PR
  src/azure-cli/azure/cli/command_modules/mysql/_client_factory.py
  src/azure-cli/azure/cli/command_modules/mysql/_util.py
  src/azure-cli/azure/cli/command_modules/mysql/custom.py
  src/azure-cli/azure/cli/command_modules/mysql/tests/latest/recordings/test_mysql_flexible_server_import_create.yaml
Labels: Auto-Assign

#27408 {Network/Compute} Add warning messages for Basic option removal
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
Labels: Compute, Network, Auto-Assign

#27329 [Backup] Add partial support for RecoveryServices Enhanced Soft Delete
  src/azure-cli/azure/cli/command_modules/backup/_client_factory.py
  src/azure-cli/azure/cli/command_modules/backup/_help.py
  src/azure-cli/azure/cli/command_modules/backup/_params.py
  src/azure-cli/azure/cli/command_modules/backup/commands.py
  src/azure-cli/azure/cli/command_modules/backup/custom.py
  src/azure-cli/azure/cli/command_modules/backup/custom_help.py
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/preparers.py
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_backup_container.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_backup_item.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_backup_policy.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_backup_protection.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_backup_restore.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_backup_rp.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_backup_scenario.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_unregister_container.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_archive.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_container.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_crr.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_disk_exclusion.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_encryption.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_identity.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_item.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_job.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_policy.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_protection.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_restore.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_restore_when_storage_in_different_rg.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_rg_mapping.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_rp.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_scenario.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_softdelete.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_vault.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_hana_archive.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_hana_container.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_hana_item.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_hana_policy.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_hana_protectable_item.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_hana_protection.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_hana_restore.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_hana_rp.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_sql_archive.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_sql_auto_protection.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_sql_container.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_sql_crr.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_sql_item.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_sql_policy.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_sql_protectable_item.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_sql_protection.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_sql_restore.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_sql_restore_as_files.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_sql_rp.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/test_backup_commands.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: Backup, Auto-Assign

#27258 [AKS] `az aks update`: Add forceupgrade settings to aks stable cli
  src/azure-cli/azure/cli/command_modules/acs/_help.py
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/_validators.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/managed_cluster_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_update_upgrade_settings.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_managed_cluster_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_validators.py
Labels: AKS, Auto-Assign

#27417 [RDBMS] Support Storage auto-grow in CLI for PostgreSQL flexible servers
  src/azure-cli/azure/cli/command_modules/rdbms/_helptext_pg.py
  src/azure-cli/azure/cli/command_modules/rdbms/_params.py
  src/azure-cli/azure/cli/command_modules/rdbms/flexible_server_custom_postgres.py
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_flexible_server_auto_grow_replica_validator.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_flexible_server_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_flexible_server_replica_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/test_rdbms_flexible_commands.py
  src/azure-cli/azure/cli/command_modules/rdbms/validators.py
Labels: Storage, Auto-Assign

#27400 [Resource] `az account list-locations`: Add new parameter `--include-extended-locations` to support listing extended locations
  src/azure-cli/azure/cli/command_modules/profile/__init__.py
  src/azure-cli/azure/cli/command_modules/profile/_help.py
  src/azure-cli/azure/cli/command_modules/profile/custom.py
  src/azure-cli/azure/cli/command_modules/profile/tests/latest/recordings/test_list_locations.yaml
  src/azure-cli/azure/cli/command_modules/profile/tests/latest/test_profile.py
  src/azure-cli/azure/cli/command_modules/resource/__init__.py
  src/azure-cli/azure/cli/command_modules/resource/aaz/__init__.py
  src/azure-cli/azure/cli/command_modules/resource/aaz/latest/__init__.py
  src/azure-cli/azure/cli/command_modules/resource/aaz/latest/account/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/resource/aaz/latest/account/__init__.py
  src/azure-cli/azure/cli/command_modules/resource/aaz/latest/account/_list_locations.py
  src/azure-cli/azure/cli/command_modules/resource/aaz/profile_2018_03_01_hybrid/__init__.py
  src/azure-cli/azure/cli/command_modules/resource/aaz/profile_2018_03_01_hybrid/account/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/resource/aaz/profile_2018_03_01_hybrid/account/__init__.py
  src/azure-cli/azure/cli/command_modules/resource/aaz/profile_2018_03_01_hybrid/account/_list_locations.py
  src/azure-cli/azure/cli/command_modules/resource/aaz/profile_2019_03_01_hybrid/__init__.py
  src/azure-cli/azure/cli/command_modules/resource/aaz/profile_2019_03_01_hybrid/account/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/resource/aaz/profile_2019_03_01_hybrid/account/__init__.py
  src/azure-cli/azure/cli/command_modules/resource/aaz/profile_2019_03_01_hybrid/account/_list_locations.py
  src/azure-cli/azure/cli/command_modules/resource/aaz/profile_2020_09_01_hybrid/__init__.py
  src/azure-cli/azure/cli/command_modules/resource/aaz/profile_2020_09_01_hybrid/account/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/resource/aaz/profile_2020_09_01_hybrid/account/__init__.py
  src/azure-cli/azure/cli/command_modules/resource/aaz/profile_2020_09_01_hybrid/account/_list_locations.py
  src/azure-cli/azure/cli/command_modules/resource/linter_exclusions.yml
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/recordings/test_list_locations.yaml
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/test_resource.py
  src/azure-cli/azure/cli/command_modules/storage/tests/hybrid_2018_03_01/recordings/test_list_locations.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/hybrid_2019_03_01/recordings/test_list_locations.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/hybrid_2020_09_01/recordings/test_list_locations.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_list_locations.yaml
Labels: ARM, Auto-Assign

#27421 {Core} Bump MSAL to 1.24.0b2
  src/azure-cli-core/setup.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
Labels: Core, Auto-Assign

#27414 [AKS] `az aks create/update`: Custom ips and managed ips can be assigned to aks cluster outbound resources
  src/azure-cli/azure/cli/command_modules/acs/_loadbalancer.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_loadbalancer.py
Labels: AKS, Auto-Assign

#27465 {CI} Fix ICM issue
  scripts/live_test/sendemail.py
Labels: CI, Auto-Assign

#27460 {CI} Fix no-name-in-module style error
  src/azure-cli-core/azure/cli/core/auth/binary_cache.py
Labels: CI, Auto-Assign

#27126 [Monitor] BREAKING CHANGE: `az monitor activity-log alert create`: Change default value from resourceGroupId to subscriptionId for parameter `--scope`
  src/azure-cli/azure/cli/command_modules/monitor/_help.py
  src/azure-cli/azure/cli/command_modules/monitor/_params.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/activity_log/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/activity_log/__init__.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/activity_log/_list.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/activity_log/_list_categories.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/activity_log/alert/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/activity_log/alert/__init__.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/activity_log/alert/_create.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/activity_log/alert/_delete.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/activity_log/alert/_list.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/activity_log/alert/_show.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/activity_log/alert/_update.py
  src/azure-cli/azure/cli/command_modules/monitor/actions.py
  src/azure-cli/azure/cli/command_modules/monitor/commands.py
  src/azure-cli/azure/cli/command_modules/monitor/custom.py
  src/azure-cli/azure/cli/command_modules/monitor/operations/activity_log_alerts.py
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_activity_log_list_scenario.yaml
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_activity_log_alert_update_action.yaml
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_activity_log_alert_update_condition.yaml
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_activity_log_alert_update_scope.yaml
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_create_default_activity_log_alert.yaml
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_create_disabled_activity_log_alert.yaml
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_create_full_fledged_activity_log_alert.yaml
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/test_monitor_activity_log_alert.py
Labels: Monitor, Auto-Assign

#27490 {CI} Take over all CXP Attention issues
  .github/policies/resourceManagement.yml
Labels: CI, Auto-Assign

#27491 {CI} Update policy configuration according to Service-Contact-List wiki
  .github/policies/resourceManagement.yml
Labels: CI, Auto-Assign
