Repository Azure/azure-cli, pull requests merged in 2023-06, with the labels that each got.

#26558 {Keyvault} `az keyvault key/secret/certificate/role`: Skip verifying challenge resource
  src/azure-cli/azure/cli/command_modules/keyvault/_client_factory.py
Labels: KeyVault, RBAC, Auto-Assign

#26586 [Compute] `az vmss update`: Add new parameter `--custom-data` to support updating custom data
  src/azure-cli/azure/cli/command_modules/vm/_params.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_update_custom_data.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Auto-Assign

#26584 [Core] `aaz`: Add short summary for `--location` when its default value comes from resource group
  src/azure-cli-core/azure/cli/core/aaz/_arg.py
Labels: Core, Auto-Assign

#26535 [IoT] Deprecate `az iot hub route` and `az iot hub routing-endpoint`
  src/azure-cli/azure/cli/command_modules/iot/commands.py
Labels: IoT, IoT/CLI, Auto-Assign

#26611 {CI} Update fabricbot.json
  .github/fabricbot.json
Labels: CI, Auto-Assign

#26575 [App Config] `az appconfig feature`: Improve error handling for invalid feature flags
  src/azure-cli/azure/cli/command_modules/appconfig/_featuremodels.py
  src/azure-cli/azure/cli/command_modules/appconfig/_kv_helpers.py
  src/azure-cli/azure/cli/command_modules/appconfig/feature.py
  src/azure-cli/azure/cli/command_modules/appconfig/keyvalue.py
Labels: App Configuration, Auto-Assign

#26605 [Core] `aaz`: Handle null property in error response
  src/azure-cli-core/azure/cli/core/aaz/_error_format.py
Labels: Core, Auto-Assign

#26604 [ARM] `az managedapp definition create/update`: Add new parameter `--deployment-mode` to support setting deployment policy
  src/azure-cli-core/azure/cli/core/profiles/_shared.py
  src/azure-cli/azure/cli/command_modules/resource/_params.py
  src/azure-cli/azure/cli/command_modules/resource/custom.py
  src/azure-cli/azure/cli/command_modules/resource/tests/hybrid_2019_03_01/recordings/test_managedappdef_inline.yaml
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/recordings/test_managed_app_def_deployment_mode.yaml
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/recordings/test_managedapp.yaml
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/recordings/test_managedappdef.yaml
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/recordings/test_managedappdef_inline.yaml
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/test_resource.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: ARM, Auto-Assign

#26622 {CI} Update fabricbot.json
  .github/fabricbot.json
Labels: CI, Auto-Assign

#26623 {Storage} `az storage account update`: Add example for changing to user-assigned managed identity
  src/azure-cli/azure/cli/command_modules/storage/_help.py
Labels: Storage, Auto-Assign

#26616 [monitor]`az monitor metrics alert create`: Add `(` and `)` into `--condition` grammar
  src/azure-cli/azure/cli/command_modules/monitor/grammar/metric_alert/MetricAlertCondition.g4
  src/azure-cli/azure/cli/command_modules/monitor/grammar/metric_alert/MetricAlertConditionLexer.py
  src/azure-cli/azure/cli/command_modules/monitor/grammar/metric_alert/MetricAlertConditionParser.py
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_metric_namespace_special_character.yaml
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/test_monitor_metric_alert_scenarios.py
Labels: Monitor, Auto-Assign

#26585 [Storage] `az storage blob upload(-batch)/set-tier/copy start(-batch)`: Cold Tier GA
  src/azure-cli-core/azure/cli/core/profiles/_shared.py
  src/azure-cli/azure/cli/command_modules/storage/_params.py
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_blob_upload_tiers_scenarios.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_block_blob_set_tier.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/test_storage_blob_copy_scenarios.py
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/test_storage_blob_scenarios.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: Storage, Auto-Assign

#26513 {Eventhub/Servicebus} `az servicebus namespace list` `az eventhubs namespace list` `az eventhubs eventhub`
  src/azure-cli/azure/cli/command_modules/eventhubs/_params.py
  src/azure-cli/azure/cli/command_modules/eventhubs/aaz/latest/eventhubs/eventhub/_create.py
  src/azure-cli/azure/cli/command_modules/eventhubs/aaz/latest/eventhubs/eventhub/_update.py
  src/azure-cli/azure/cli/command_modules/eventhubs/aaz/latest/eventhubs/namespace/_list.py
  src/azure-cli/azure/cli/command_modules/eventhubs/tests/latest/recordings/test_eh_create_update.yaml
  src/azure-cli/azure/cli/command_modules/eventhubs/tests/latest/recordings/test_eh_namespace_premium_standard.yaml
  src/azure-cli/azure/cli/command_modules/eventhubs/tests/latest/test_eventhub_commands_namespace_premium_test.py
  src/azure-cli/azure/cli/command_modules/eventhubs/tests/latest/test_eventhub_entity_crud.py
  src/azure-cli/azure/cli/command_modules/servicebus/aaz/latest/servicebus/namespace/_list.py
  src/azure-cli/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_migration.yaml
  src/azure-cli/azure/cli/command_modules/servicebus/tests/latest/recordings/test_sb_namespace.yaml
  src/azure-cli/azure/cli/command_modules/servicebus/tests/latest/test_servicebus_migration_commands.py
  src/azure-cli/azure/cli/command_modules/servicebus/tests/latest/test_servicebus_namespace_commands.py
Labels: Service Bus, Event Hubs, Auto-Assign

#26579 [Network] `az network application-gateway waf-policy custom-rule`: Support rate limit in WAF policy
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/waf_policy/_create.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/waf_policy/_delete.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/waf_policy/_list.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/waf_policy/_show.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/waf_policy/_update.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/waf_policy/_wait.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/waf_policy/custom_rule/_create.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/waf_policy/custom_rule/_delete.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/waf_policy/custom_rule/_list.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/waf_policy/custom_rule/_show.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/waf_policy/custom_rule/_update.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/waf_policy/custom_rule/match_condition/_add.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/waf_policy/custom_rule/match_condition/_list.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/waf_policy/custom_rule/match_condition/_remove.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/waf_policy/managed_rule/exclusion/_add.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_http_listener_with_multi_host_names.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_http_listener_with_waf_policy.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_ag_probe.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_waf_custom_rule.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_waf_custom_rule_v2.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_waf_policy_exclusion_rule_set.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_waf_policy_managed_rules.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_waf_policy_managed_rules_exclusions.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_waf_policy_setting.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_waf_policy_setting_v2.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_waf_policy_with_application_gateway.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_waf_policy_with_version_and_type.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_waf_v2_config.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_with_waf_v2_sku.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Labels: Network, Auto-Assign

#26634 [Core] `aaz`: Explicitly raise TypeError exception during LRO
  src/azure-cli-core/azure/cli/core/aaz/_poller.py
Labels: Core, Auto-Assign

#26624 [Network] Fix #24695: `az network traffic-manager`: Add command context
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_traffic_manager.yaml
Labels: Network, Auto-Assign

#26626 [Compute] `az vm update`: Add parameter `--security-type` to support VM Gen2 to Trusted Launch conversion
  src/azure-cli/azure/cli/command_modules/vm/_params.py
  src/azure-cli/azure/cli/command_modules/vm/_vm_utils.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_enable_trusted_launch_on_v2.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_trusted_launch_update.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Auto-Assign

#23494 {Packaging} Deprecation notice urllib3[secure]
  src/azure-cli/setup.py
Labels: customer-reported

#26538 {App Service} Remove usages of deprecated `inject_into_urllib3`
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/tunnel.py
Labels: App Services, Auto-Assign

#26483 {Compute} `az vm create`: Breaking change warning to image alias that will be deprecated
  src/azure-cli/azure/cli/command_modules/vm/_alias.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
Labels: Compute, Auto-Assign

#26636 {Role} Fix #26629: `az ad sp delete`: update help
  src/azure-cli/azure/cli/command_modules/role/_help.py
Labels: Graph, RBAC, Auto-Assign

#26661 {AKS} Fix test case `test_aks_create_default_service_with_virtual_node_addon`
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
Labels: AKS, Auto-Assign

#26649 [Backup] `az backup protection backup-now`: Allow `--enable-compression` to be set to `true` for SAPHANA Workloads
  src/azure-cli/azure/cli/command_modules/backup/custom_wl.py
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_csr.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_hana_container.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_hana_policy.yaml
Labels: Backup, Auto-Assign

#26342 [ARO] `az aro`: Add `get-admin-kubeconfig` feature
  src/azure-cli/azure/cli/command_modules/aro/_help.py
  src/azure-cli/azure/cli/command_modules/aro/_params.py
  src/azure-cli/azure/cli/command_modules/aro/commands.py
  src/azure-cli/azure/cli/command_modules/aro/custom.py
  src/azure-cli/azure/cli/command_modules/aro/tests/latest/custom_preparers.py
  src/azure-cli/azure/cli/command_modules/aro/tests/latest/recordings/test_aro_create.yaml
  src/azure-cli/azure/cli/command_modules/aro/tests/latest/recordings/test_aro_delete.yaml
  src/azure-cli/azure/cli/command_modules/aro/tests/latest/recordings/test_aro_get_admin_kubeconfig.yaml
  src/azure-cli/azure/cli/command_modules/aro/tests/latest/recordings/test_aro_list.yaml
  src/azure-cli/azure/cli/command_modules/aro/tests/latest/recordings/test_aro_list_credentials.yaml
  src/azure-cli/azure/cli/command_modules/aro/tests/latest/recordings/test_aro_show.yaml
  src/azure-cli/azure/cli/command_modules/aro/tests/latest/recordings/test_aro_update.yaml
  src/azure-cli/azure/cli/command_modules/aro/tests/latest/test_aro_commands.py
Labels: customer-reported

#26627 {CI} Update fabricbot.json
  .github/fabricbot.json
Labels: CI, Auto-Assign

#26667 {CI} Update fabricbot.json
  .github/fabricbot.json
Labels: CI, Auto-Assign

#26539 {Keyvault} Remove useless AAD endpoint and honor user input `--subscription` to support cross sub operations
  src/azure-cli/azure/cli/command_modules/keyvault/_client_factory.py
  src/azure-cli/azure/cli/command_modules/keyvault/custom.py
Labels: KeyVault, Graph, AAD, Auto-Assign

#26668 {Packaging} Bump MSAL to 1.22.0
  src/azure-cli-core/setup.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
Labels: Packaging, Auto-Assign

#26669 [Compute] `az sig image-definition create`: Add examples for TrustedLaunchSupported and TrustedLaunchAndConfidentialVmSupported
  src/azure-cli/azure/cli/command_modules/vm/_help.py
Labels: Compute, Auto-Assign

#26557 [Service Connector] `az functionapp connection`: Add new command group to support service connector for function app
  src/azure-cli/azure/cli/command_modules/serviceconnector/_resource_config.py
Labels: Web Apps, Functions, Auto-Assign

#26658 {Network} `az network private-endpoint-connection`: Update API version for `Microsoft.DesktopVirtualization/hostpools` and `Microsoft.DesktopVirtualization/workspaces`
  src/azure-cli/azure/cli/command_modules/network/private_link_resource_and_endpoint_connections/custom.py
Labels: Network, Desktop Virtualization, Auto-Assign

#26681 {Service Connector} `az functionapp connection`: Hide the command group from customers until being signed off
  src/azure-cli/azure/cli/command_modules/serviceconnector/_resource_config.py
Labels: Functions, Auto-Assign

#26699 {Compute} `az disk`: Update help message
  src/azure-cli/azure/cli/command_modules/vm/_help.py
Labels: customer-reported

#26571 {Packaging} Bump requests to 2.31.0 and urllib3 to 1.26.16
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
Labels: Packaging, Auto-Assign

#26620 [App Service] Fix #21168: `az webapp deploy`: Call OneDeploy through ARM proxy if `--src-url` is provided
  src/azure-cli/azure/cli/command_modules/appservice/_params.py
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_one_deploy.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_one_deploy_arm.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_one_deploy_scm.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_webapp_commands.py
Labels: Web Apps, App Services, Auto-Assign

#26692 [Storage] Fix #26567: `az storage blob download-batch`: When matching `--pattern`, list blobs with prefix to reduce the number of list calls
  src/azure-cli/azure/cli/command_modules/storage/util.py
Labels: Storage, Auto-Assign

#26563 {Compute} `az vm create`: Update help message for `--public-ip-address`
  src/azure-cli/azure/cli/command_modules/vm/_params.py
Labels: Compute, customer-reported, Auto-Assign

#26708 Aladdin generated examples
  scripts/ci/aladdin/aladdin.py
Labels: customer-reported, Auto-Assign

#26694 [sql] `az sql midb move/copy`: Add new commands for Managed Database Move/Copy feature
  src/azure-cli/azure/cli/command_modules/sql/_help.py
  src/azure-cli/azure/cli/command_modules/sql/_params.py
  src/azure-cli/azure/cli/command_modules/sql/_util.py
  src/azure-cli/azure/cli/command_modules/sql/commands.py
  src/azure-cli/azure/cli/command_modules/sql/custom.py
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/recordings/test_sql_managed_instance_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/recordings/test_sql_midb_move_copy.yaml
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/test_sql_commands.py
Labels: SQL, Auto-Assign

#26641 [Network] Fix #26638: `az network traffic-manager endpoint`: Declare `--min-child-endpoints`, `--min-child-ipv4` and `--min-child-ipv6` as integer type
  src/azure-cli/azure/cli/command_modules/network/_params.py
Labels: Network, Auto-Assign

#26690 [Packaging] Add Debian Bookworm support
  azure-pipelines.yml
Labels: Packaging, Auto-Assign

#26555 {AKS} Extend `--data-collection-settings` with new field "streams"
  src/azure-cli/azure/cli/command_modules/acs/addonconfiguration.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/data/datacollectionsettings.json
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
Labels: AKS, Auto-Assign

#26738 [App Service] Fix #26647: `az webapp show`: Remove duplicate IPs from outbound addresses
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/utils.py
Labels: Web Apps, App Services, Auto-Assign

#26728 {App Service} `az webapp deploy`: Move sample.war
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/data/sample.war
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_one_deploy_arm.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_one_deploy_scm.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_webapp_commands.py
Labels: Web Apps, App Services, Auto-Assign

#26670 {Synapse}`az synapse spark pool create`: Check if spark pool exists before creating.
  src/azure-cli/azure/cli/command_modules/synapse/manual/operations/sparkpool.py
  src/azure-cli/azure/cli/command_modules/synapse/tests/latest/recordings/test_access_control.yaml
  src/azure-cli/azure/cli/command_modules/synapse/tests/latest/recordings/test_notebook.yaml
  src/azure-cli/azure/cli/command_modules/synapse/tests/latest/recordings/test_spark_job_definition.yaml
  src/azure-cli/azure/cli/command_modules/synapse/tests/latest/recordings/test_spark_pool.yaml
  src/azure-cli/azure/cli/command_modules/synapse/tests/latest/test_synapse_scenario.py
Labels: Synapse, Auto-Assign

#26589 [Synapse] `az synapse workspace create/update`: Support workspace encryption and user-assignment management identity
  src/azure-cli/azure/cli/command_modules/synapse/manual/_help.py
  src/azure-cli/azure/cli/command_modules/synapse/manual/_params.py
  src/azure-cli/azure/cli/command_modules/synapse/manual/operations/workspace.py
  src/azure-cli/azure/cli/command_modules/synapse/tests/latest/recordings/test_user_assigned_identity_id_workspace.yaml
  src/azure-cli/azure/cli/command_modules/synapse/tests/latest/recordings/test_workspaces.yaml
  src/azure-cli/azure/cli/command_modules/synapse/tests/latest/test_synapse_scenario.py
Labels: Synapse, Auto-Assign

#26756 [ARM] `az resource move`: Add help example for moving multiple resources
  src/azure-cli/azure/cli/command_modules/resource/_help.py
Labels: ARM, Auto-Assign

#26709 [App Service] Fix #25497: `az webapp deploy`: Fix extension parsing if `src-path` has multiple '.'s
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
Labels: Web Apps, App Services, Auto-Assign

#26569 {ACR} Update Storage SDK used for uploading source in ACR
  src/azure-cli/azure/cli/command_modules/acr/_archive_utils.py
  src/azure-cli/azure/cli/command_modules/acr/tests/latest/recordings/test_acr_task.yaml
  src/azure-cli/azure/cli/command_modules/acr/tests/latest/recordings/test_acr_taskrun.yaml
Labels: Storage, Container Registry, Auto-Assign, ContainerApp

#26517 [Compute] Fix #26516: `az vm create`: Fix warning log for public IP even when no public IP is being created
  src/azure-cli/azure/cli/command_modules/vm/custom.py
Labels: Compute, Auto-Assign

#24859 [App Config] `az appconfig snapshot`: New command group to support app configuration snapshots
  linter_exclusions.yml
  src/azure-cli/azure/cli/command_modules/appconfig/_constants.py
  src/azure-cli/azure/cli/command_modules/appconfig/_format.py
  src/azure-cli/azure/cli/command_modules/appconfig/_help.py
  src/azure-cli/azure/cli/command_modules/appconfig/_kv_helpers.py
  src/azure-cli/azure/cli/command_modules/appconfig/_params.py
  src/azure-cli/azure/cli/command_modules/appconfig/_snapshot_custom_client.py
  src/azure-cli/azure/cli/command_modules/appconfig/_snapshot_exceptions.py
  src/azure-cli/azure/cli/command_modules/appconfig/_snapshotmodels.py
  src/azure-cli/azure/cli/command_modules/appconfig/_validators.py
  src/azure-cli/azure/cli/command_modules/appconfig/commands.py
  src/azure-cli/azure/cli/command_modules/appconfig/keyvalue.py
  src/azure-cli/azure/cli/command_modules/appconfig/snapshot.py
  src/azure-cli/azure/cli/command_modules/appconfig/tests/latest/recordings/test_azconfig_snapshot_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/appconfig/tests/latest/test_appconfig_commands.py
Labels: App Configuration, Auto-Assign

#26689 [Sqlvm] Fix #2442969: `az sql vm enable-azure-ad-auth/validate-azure-ad-auth`: Workaround Graph API bug by using client side filtering upon failure
  src/azure-cli/azure/cli/command_modules/sqlvm/_validators.py
Labels: SQL, AAD, SQL - VM, Portal, Auto-Assign

#26734 {eventhubs} Fix authorization-rule create example
  src/azure-cli/azure/cli/command_modules/eventhubs/aaz/latest/eventhubs/eventhub/authorization_rule/_create.py
Labels: Event Hubs, Auto-Assign

#26755 [Sqlvm] `az sql vm update`: Add configuration options for new SQL Assessment pre-requisites MMA->AMA migration
  linter_exclusions.yml
  src/azure-cli/azure/cli/command_modules/sqlvm/_assessment_data_source.py
  src/azure-cli/azure/cli/command_modules/sqlvm/_help.py
  src/azure-cli/azure/cli/command_modules/sqlvm/_params.py
  src/azure-cli/azure/cli/command_modules/sqlvm/_template_builder.py
  src/azure-cli/azure/cli/command_modules/sqlvm/_util.py
  src/azure-cli/azure/cli/command_modules/sqlvm/_validators.py
  src/azure-cli/azure/cli/command_modules/sqlvm/custom.py
  src/azure-cli/azure/cli/command_modules/sqlvm/tests/latest/recordings/test_sqlvm_aad_auth_negative.yaml
  src/azure-cli/azure/cli/command_modules/sqlvm/tests/latest/recordings/test_sqlvm_add_and_remove.yaml
  src/azure-cli/azure/cli/command_modules/sqlvm/tests/latest/recordings/test_sqlvm_create_and_delete.yaml
  src/azure-cli/azure/cli/command_modules/sqlvm/tests/latest/recordings/test_sqlvm_group_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/sqlvm/tests/latest/recordings/test_sqlvm_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/sqlvm/tests/latest/recordings/test_sqlvm_mgmt_assessment.yaml
  src/azure-cli/azure/cli/command_modules/sqlvm/tests/latest/recordings/test_sqlvm_update_license_and_sku.yaml
  src/azure-cli/azure/cli/command_modules/sqlvm/tests/latest/test_sqlvm_commands.py
Labels: SQL, Auto-Assign

#26439 {ACR} `az acr credential show`: Fix typo for help message
  src/azure-cli/azure/cli/command_modules/acr/_help.py
Labels: customer-reported

#26720 [RDBMS] Update PostgreSQL flexible server to use the new API version 2023-03-01-preview
  src/azure-cli/azure/cli/command_modules/rdbms/_client_factory.py
  src/azure-cli/azure/cli/command_modules/rdbms/_flexible_server_location_capabilities_util.py
  src/azure-cli/azure/cli/command_modules/rdbms/_flexible_server_util.py
  src/azure-cli/azure/cli/command_modules/rdbms/_helptext_pg.py
  src/azure-cli/azure/cli/command_modules/rdbms/_params.py
  src/azure-cli/azure/cli/command_modules/rdbms/flexible_server_commands.py
  src/azure-cli/azure/cli/command_modules/rdbms/flexible_server_custom_common.py
  src/azure-cli/azure/cli/command_modules/rdbms/flexible_server_custom_postgres.py
  src/azure-cli/azure/cli/command_modules/rdbms/flexible_server_virtual_network.py
  src/azure-cli/azure/cli/command_modules/rdbms/linter_exclusions.yml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/migrationPublic.json
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_flexible_server_vnet_mgmt_validator.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_flexible_server_backups_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_flexible_server_byok_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_flexible_server_existing_private_dns_zone.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_flexible_server_georestore_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_flexible_server_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_flexible_server_mgmt_create_validator.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_flexible_server_mgmt_update_validator.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_flexible_server_migration.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_flexible_server_new_private_dns_zone.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_flexible_server_proxy_resource.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_flexible_server_public_access_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_flexible_server_replica_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_flexible_server_restore_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_flexible_server_upgrade_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_flexible_server_vnet_mgmt_supplied_subnet_id_in_different_rg.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_flexible_server_vnet_mgmt_supplied_subnetid.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_flexible_server_vnet_mgmt_supplied_vname_and_subnetname.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgresql_flexible_server_identity_aad_admin_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgresql_flexible_server_identity_aad_admin_only_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/test_rdbms_flexible_commands.py
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/test_rdbms_flexible_commands_postgres_migration.py
  src/azure-cli/azure/cli/command_modules/rdbms/validators.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: Backup, Auto-Assign

#26683 {Keyvault} `az keyvault certificate show`: Fix 'NoneType object is not iterable' error
  src/azure-cli/azure/cli/command_modules/keyvault/_transformers.py
Labels: KeyVault, Auto-Assign

#26706 [Storage] Fix #26673: `az storage account or-policy create`: Now print out server error
  src/azure-cli/azure/cli/command_modules/storage/operations/account.py
Labels: Storage, Auto-Assign

#26510 [Service Fabric] `az sf managed-cluster network-security-rule add`: Add command to add network security rule to managed cluster
  src/azure-cli/azure/cli/command_modules/servicefabric/_help.py
  src/azure-cli/azure/cli/command_modules/servicefabric/_params.py
  src/azure-cli/azure/cli/command_modules/servicefabric/_validators.py
  src/azure-cli/azure/cli/command_modules/servicefabric/commands.py
  src/azure-cli/azure/cli/command_modules/servicefabric/operations/managed_clusters.py
  src/azure-cli/azure/cli/command_modules/servicefabric/tests/latest/recordings/test_network_security_rule.yaml
  src/azure-cli/azure/cli/command_modules/servicefabric/tests/latest/test_sf_managed_cluster.py
Labels: Service Fabric, Auto-Assign

#26090 [Backup] `az backup recoveryconfig show`: Add new parameter `--target-instance-name` to specify the target instance name for the restore operation
  src/azure-cli/azure/cli/command_modules/backup/.gitignore
  src/azure-cli/azure/cli/command_modules/backup/_params.py
  src/azure-cli/azure/cli/command_modules/backup/custom_base.py
  src/azure-cli/azure/cli/command_modules/backup/custom_wl.py
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/test_sql_commands.py
Labels: Backup, Auto-Assign

#26764 {AppConfig} `az appconfig snapshot list`: Remove command test coverage linter exclusion
  linter_exclusions.yml
Labels: App Configuration, Auto-Assign

#26553 {CI} Add `time.sleep` to ensure that the live test can delete the resource group
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_webapp_commands.py
Labels: CI, Auto-Assign

#26612 {CI} Update service team request template
  .github/ISSUE_TEMPLATE/Service_team_request.yml
Labels: CI, Auto-Assign

#26519 [NetAppFiles] Anf 25576 resource query info
  src/azure-cli/azure/cli/command_modules/netappfiles/_help.py
  src/azure-cli/azure/cli/command_modules/netappfiles/commands.py
  src/azure-cli/azure/cli/command_modules/netappfiles/tests/latest/recordings/test_perform_replication.yaml
  src/azure-cli/azure/cli/command_modules/netappfiles/validators.py
Labels: NetAppFiles, Auto-Assign

#26751 {CI} Update fabricbot.json
  .github/fabricbot.json
Labels: CI, Auto-Assign

#26671 {Packaging} Bump cryptography to 41.0.1 and pyOpenSSL to 23.2.0
  scripts/ci/dependency_check.bat
  scripts/ci/dependency_check.sh
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
Labels: Packaging, Auto-Assign

#26768 [Core] `aaz`: Parse and re-serialize query parameters within next link
  src/azure-cli-core/azure/cli/core/aaz/_operation.py
Labels: Core, Auto-Assign
