Repository Azure/azure-cli, pull requests merged in 2023-11, with the labels that each got.

#27511 [ARO] `az aro`: Add preconfigured NSG
  linter_exclusions.yml
  src/azure-cli-core/azure/cli/core/profiles/_shared.py
  src/azure-cli/azure/cli/command_modules/aro/_dynamic_validators.py
  src/azure-cli/azure/cli/command_modules/aro/_params.py
  src/azure-cli/azure/cli/command_modules/aro/custom.py
  src/azure-cli/azure/cli/command_modules/aro/tests/latest/recordings/test_aro_create.yaml
  src/azure-cli/azure/cli/command_modules/aro/tests/latest/recordings/test_aro_delete.yaml
  src/azure-cli/azure/cli/command_modules/aro/tests/latest/recordings/test_aro_get_admin_kubeconfig.yaml
  src/azure-cli/azure/cli/command_modules/aro/tests/latest/recordings/test_aro_list.yaml
  src/azure-cli/azure/cli/command_modules/aro/tests/latest/recordings/test_aro_list_credentials.yaml
  src/azure-cli/azure/cli/command_modules/aro/tests/latest/recordings/test_aro_show.yaml
  src/azure-cli/azure/cli/command_modules/aro/tests/latest/recordings/test_aro_update.yaml
  src/azure-cli/azure/cli/command_modules/aro/tests/latest/recordings/test_aro_validate.yaml
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: ARO, Auto-Assign

#27693 {Keyvault} `az keyvault key`: Migrate all to track2
  src/azure-cli-testsdk/azure/cli/testsdk/preparers.py
  src/azure-cli/azure/cli/command_modules/keyvault/_params.py
  src/azure-cli/azure/cli/command_modules/keyvault/_transformers.py
  src/azure-cli/azure/cli/command_modules/keyvault/_validators.py
  src/azure-cli/azure/cli/command_modules/keyvault/commands.py
  src/azure-cli/azure/cli/command_modules/keyvault/custom.py
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/policy3.json
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_certificate_crud.yaml
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_hsm_key_encrypt_AES.yaml
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_hsm_key_release_policy.yaml
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_hsm_key_using_hsm_name.yaml
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_hsm_security_domain.yaml
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_key.yaml
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_key_download.yaml
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_softdelete.yaml
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/test_keyvault_commands.py
Labels: KeyVault, Auto-Assign

#27684 [containerapp] `az containerapp env workload-profile`: Fix issue when deleting wp with custom domain
  src/azure-cli/azure/cli/command_modules/containerapp/_help.py
  src/azure-cli/azure/cli/command_modules/containerapp/_params.py
  src/azure-cli/azure/cli/command_modules/containerapp/custom.py
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/recordings/test_containerapp_create_enable_workload_profiles_three_state_flag.yaml
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/recordings/test_containerapp_env_workload_profiles_delete.yaml
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/recordings/test_containerapp_env_workload_profiles_e2e.yaml
Labels: Auto-Assign, ContainerApp

#27731 {CI} Fix build docker image Alpine task name
  azure-pipelines.yml
Labels: CI, Auto-Assign

#27737 [AppConfig] BREAKING CHANGE: `az appconfig kv export`: Add validations to snapshot kv export to App Service
  src/azure-cli/azure/cli/command_modules/appconfig/_validators.py
  src/azure-cli/azure/cli/command_modules/appconfig/tests/latest/recordings/test_azconfig_snapshot_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/appconfig/tests/latest/test_appconfig_commands.py
Labels: App Configuration, Auto-Assign

#27617 [Core] `aaz`: Support data-plane clients
  src/azure-cli-core/azure/cli/core/aaz/__init__.py
  src/azure-cli-core/azure/cli/core/aaz/_client.py
  src/azure-cli-core/azure/cli/core/aaz/_command.py
  src/azure-cli-core/azure/cli/core/aaz/_command_ctx.py
  src/azure-cli-core/azure/cli/core/cloud.py
Labels: Core, Auto-Assign

#27723 [MYSQL] `az mysql flexible-server gtid reset`: Remove geo-backup check
  src/azure-cli/azure/cli/command_modules/mysql/custom.py
  src/azure-cli/azure/cli/command_modules/mysql/tests/latest/test_mysql_scenario.py
Labels: Backup, Auto-Assign

#27657 [Compute] BREAKING CHANGE: `az vm/vmss identity assign`: Remove the default value `Contributor` of parameter `--role`
  src/azure-cli/azure/cli/command_modules/vm/_params.py
  src/azure-cli/azure/cli/command_modules/vm/_validators.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2018_03_01/test_vm_actions.py
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2019_03_01/test_vm_actions.py
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2020_09_01/test_vm_actions.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_msi.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_msi.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_actions.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, RBAC, Auto-Assign

#27666 [Storage] `az storage account blob-inventory-policy create`: Add support for new filter `creationTime.lastNDays` in json
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/blob_inventory_policy.json
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_account_blob_inventory_policy.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/test_storage_account_scenarios.py
Labels: Storage, Auto-Assign

#27739 {CI} Remove unnecessary printing information
  scripts/ci/automation_full_test.py
Labels: CI, Auto-Assign

#27620 [Compute] BREAKING CHANGE: `az disk create`: Support creating disk with Gen2 and TLVM as default
  src/azure-cli/azure/cli/command_modules/vm/_constants.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_confidential_disk_encryption_set.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_disk_max_shares_etc.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Auto-Assign

#27692 [Storage] `az storage account migration start/show`: Customer inititated migration between replication options
  src/azure-cli/azure/cli/command_modules/storage/__init__.py
  src/azure-cli/azure/cli/command_modules/storage/aaz/__init__.py
  src/azure-cli/azure/cli/command_modules/storage/aaz/latest/__init__.py
  src/azure-cli/azure/cli/command_modules/storage/aaz/latest/storage/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/storage/aaz/latest/storage/__init__.py
  src/azure-cli/azure/cli/command_modules/storage/aaz/latest/storage/account/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/storage/aaz/latest/storage/account/__init__.py
  src/azure-cli/azure/cli/command_modules/storage/aaz/latest/storage/account/migration/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/storage/aaz/latest/storage/account/migration/__init__.py
  src/azure-cli/azure/cli/command_modules/storage/aaz/latest/storage/account/migration/_show.py
  src/azure-cli/azure/cli/command_modules/storage/aaz/latest/storage/account/migration/_start.py
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_account_migration.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/test_storage_account_scenarios.py
Labels: Storage, Auto-Assign

#27683 {Packaging} Trim Alpine docker image
  alpine.dockerfile
Labels: Packaging, Auto-Assign

#27695 {Container} `az container create`: Fix typo for the `--privileged` parameter
  src/azure-cli/azure/cli/command_modules/container/_params.py
Labels: customer-reported

#27427 [App Service] `az functionapp deployment source config-zip`: Adding the deployer information to improve telemetry
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_deploy_zip.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_list_deployment_logs.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_show_deployment_logs.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_functionapp_commands_thru_mock.py
Labels: Functions, Auto-Assign

#27583 [Compute] `az vm create`: Format the notification message of recommendation region
  src/azure-cli/azure/cli/command_modules/vm/_vm_utils.py
Labels: Compute, Auto-Assign

#27675 {AKS} `az aks install-cli`: Fix typo in warning message
  src/azure-cli/azure/cli/command_modules/acs/custom.py
Labels: AKS, Installation, Auto-Assign

#27426 [Compute] BREAKING CHANGE: `az vm/vmss create`: Disable integrity monitoring by default
  src/azure-cli/azure/cli/command_modules/vm/_params.py
  src/azure-cli/azure/cli/command_modules/vm/_validators.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/linter_exclusions.yml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, customer-reported, Auto-Assign

#27594 {ACR} az acr artifact-streaming
  src/azure-cli/azure/cli/command_modules/acr/_docker_utils.py
  src/azure-cli/azure/cli/command_modules/acr/_help.py
  src/azure-cli/azure/cli/command_modules/acr/_params.py
  src/azure-cli/azure/cli/command_modules/acr/artifact_streaming.py
  src/azure-cli/azure/cli/command_modules/acr/commands.py
  src/azure-cli/azure/cli/command_modules/acr/connected_registry.py
  src/azure-cli/azure/cli/command_modules/acr/manifest.py
  src/azure-cli/azure/cli/command_modules/acr/repository.py
  src/azure-cli/azure/cli/command_modules/acr/task.py
  src/azure-cli/azure/cli/command_modules/acr/tests/latest/recordings/test_acr_artifact_streaming.yaml
  src/azure-cli/azure/cli/command_modules/acr/tests/latest/test_acr_artifact_streaming.py
Labels: Container Registry, Auto-Assign

#26482 {Core} Only apply `allow_broker` to `PublicClientApplication`
  src/azure-cli-core/azure/cli/core/auth/identity.py
Labels: Account, Core, Auto-Assign

#27002 {Core} Directly call `acquire_token_for_client` to acquire access token for service principal
  src/azure-cli-core/azure/cli/core/auth/msal_authentication.py
Labels: Account, Core, Auto-Assign

#27476 [Profile] `az account get-access-token`: Return `expires_on` as POSIX timestamp
  src/azure-cli/azure/cli/command_modules/profile/_help.py
  src/azure-cli/azure/cli/command_modules/profile/custom.py
  src/azure-cli/azure/cli/command_modules/profile/tests/latest/test_profile_custom.py
Labels: Account, Auto-Assign

#27611 [App Service] BREAKING CHANGE: `az functionapp`: Redact key value output on keys set
  src/azure-cli/azure/cli/command_modules/appservice/_help.py
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_keys_delete.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_keys_list.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_keys_set.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_keys_set_slot.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_functionapp_commands.py
Labels: Functions, Auto-Assign

#27628 [App Service] BREAKING CHANGE: Redact output on deployment source config
  src/azure-cli/azure/cli/command_modules/appservice/_help.py
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_functionapp_commands_thru_mock.py
Labels: Web Apps, Functions, Auto-Assign

#27629 [App Service] BREAKING CHANGE: `az webapp config`: Redact webapp config connection-string and storage-account values
  src/azure-cli/azure/cli/command_modules/appservice/_help.py
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/logicapp/_help.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_config.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_slot.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_webapp_commands.py
Labels: Web Apps, customer-reported, Auto-Assign

#27614 [App Service] BREAKING CHANGE: Redact tokens output on deployment source update-token
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_deployment_source_update_token.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_functionapp_commands.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_webapp_commands_thru_mock.py
Labels: Web Apps, Functions, Auto-Assign

#27740 [Compute] `az restore-point create`: Add new parameters to support encryption input
  src/azure-cli/azure/cli/command_modules/vm/_params.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/linter_exclusions.yml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_restore_point_encryption_local.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_restore_point_encryption_remote.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Auto-Assign

#27750 {Network} `az network lb address-pool`: Add preview warning to `--sync-mode`
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/lb/address_pool/_create.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/lb/address_pool/_update.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/lb/address_pool/basic/_create.py
Labels: Network, Auto-Assign

#27494 [Core] Support disabling instance discovery
  src/azure-cli-core/azure/cli/core/_profile.py
  src/azure-cli-core/azure/cli/core/auth/identity.py
Labels: Account, Core, AAD, Auto-Assign

#27555 [APIM] `az apim api create`: Make `--authorization-scope` parameter optional for setting auth server
  src/azure-cli/azure/cli/command_modules/apim/custom.py
Labels: API Management, Auto-Assign

#27345 {App Service} Modify help message for "--slot-setting" in "storage-account"
  src/azure-cli/azure/cli/command_modules/appservice/_params.py
Labels: Auto-Assign

#27575 [RDBMS] PostgreSQL - Add support for cross subscription restore
  src/azure-cli/azure/cli/command_modules/rdbms/_client_factory.py
  src/azure-cli/azure/cli/command_modules/rdbms/_helptext_pg.py
  src/azure-cli/azure/cli/command_modules/rdbms/flexible_server_custom_postgres.py
Labels: Auto-Assign

#27447 {Keyvault} Update _help.py
  src/azure-cli/azure/cli/command_modules/keyvault/_help.py
Labels: customer-reported

#27738 [AppConfig] `az appconfig snapshot`: GA snapshot related features
  src/azure-cli/azure/cli/command_modules/appconfig/_constants.py
  src/azure-cli/azure/cli/command_modules/appconfig/_params.py
  src/azure-cli/azure/cli/command_modules/appconfig/commands.py
  src/azure-cli/azure/cli/command_modules/appconfig/tests/latest/recordings/test_azconfig_snapshot_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/appconfig/tests/latest/test_appconfig_commands.py
Labels: App Configuration, Auto-Assign

#27743 [Backup] Fix vault update immutability behaviour and add a new update command
  linter_exclusions.yml
  src/azure-cli/azure/cli/command_modules/backup/_help.py
  src/azure-cli/azure/cli/command_modules/backup/_params.py
  src/azure-cli/azure/cli/command_modules/backup/commands.py
  src/azure-cli/azure/cli/command_modules/backup/custom.py
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_vault.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/test_backup_commands.py
Labels: Backup, Auto-Assign

#27691 {Network/Compute} Change default values to `Standard` for LB options
  src/azure-cli/azure/cli/command_modules/network/_params.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/vm/_params.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
Labels: Compute, Network, Auto-Assign

#27573 {Network} `az network watcher configure`: Fix watcher name to match portal naming when new deployment
  src/azure-cli/azure/cli/command_modules/network/custom.py
Labels: Network, customer-reported, Portal, Auto-Assign

#27753 [Network] Fix #27735: `az network vnet-gateway show`: Conflict key when apply client flatten
  src/azure-cli/azure/cli/command_modules/network/commands.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_vnet_gateway_nat_rule.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Labels: Network, Auto-Assign

#27471 [App Service] `az webapp up`: Fix `--logs` arg fails with an exception
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_webapp_commands_thru_mock.py
Labels: Web Apps, Auto-Assign

#27762 [ACR] `az acr login`: Add additional parameter validation to check registry name is valid
  src/azure-cli/azure/cli/command_modules/acr/_constants.py
  src/azure-cli/azure/cli/command_modules/acr/_validators.py
Labels: Container Registry, Auto-Assign

#26820 {ARM} `az deployment create`: Fix warning for `ExemptionCategory`
  src/azure-cli/azure/cli/command_modules/resource/_params.py
Labels: ARM, Auto-Assign

#27360 [ARM] `az deployment`: Add support for determining type of parameters whose definition uses a $ref
  src/azure-cli/azure/cli/command_modules/resource/custom.py
  src/azure-cli/azure/cli/command_modules/resource/tests/hybrid_2018_03_01/param-validation-template-$ref-indirection.json
  src/azure-cli/azure/cli/command_modules/resource/tests/hybrid_2018_03_01/test_resource_custom.py
  src/azure-cli/azure/cli/command_modules/resource/tests/hybrid_2019_03_01/param-validation-template-$ref-indirection.json
  src/azure-cli/azure/cli/command_modules/resource/tests/hybrid_2019_03_01/test_resource_custom.py
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/param-validation-template-$ref-indirection.json
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/test_resource_custom.py
Labels: ARM, Auto-Assign

#27354 {ARM} Fix bug in deployment serialization logic
  src/azure-cli/azure/cli/command_modules/resource/custom.py
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/recordings/test_group_deployment_lite.yaml
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/recordings/test_resource_group_deployment.yaml
Labels: ARM, Auto-Assign

#27466 [AKS] `az aks update`: Add `--network-policy` to support updating the mode of a network policy
  src/azure-cli/azure/cli/command_modules/acs/_consts.py
  src/azure-cli/azure/cli/command_modules/acs/_help.py
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/managed_cluster_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_migrate_cluster_to_cilium_dataplane.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_managed_cluster_decorator.py
Labels: AKS, Auto-Assign

#27779 {Iot} Remove general mentions of extension
  src/azure-cli/azure/cli/command_modules/iot/__init__.py
  src/azure-cli/azure/cli/command_modules/iot/_help.py
Labels: IoT, IoT/CLI, Auto-Assign

#27615 [AKS] BREAKING CHANGE: `aks create`: Make container log V2 as default and remove region dependency
  src/azure-cli/azure/cli/command_modules/acs/addonconfiguration.py
Labels: AKS, Auto-Assign

#27782 {Compute} `az disk/snapshot`: Revert new params
  src/azure-cli/azure/cli/command_modules/vm/_params.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/linter_exclusions.yml
Labels: Compute, Auto-Assign

#27786 {Compute} `az vm create`: Support Trusted Launch as default deployment option
  src/azure-cli/azure/cli/command_modules/vm/_vm_utils.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_disk_trusted_launch.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Auto-Assign

#27781 [containerapp] `az containerapp job create`: Fix problem of parsing parameters `minExecutions` and `maxExecutions` from `--yaml`
  src/azure-cli/azure/cli/command_modules/containerapp/_sdk_models.py
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/recordings/test_containerappjob_eventtriggered_create_with_yaml.yaml
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/test_containerappjob_executions.py
Labels: Auto-Assign, ContainerApp

#27763 [Batch] `az batch account`: Add warnings about secrets being outputted
  src/azure-cli/azure/cli/command_modules/batch/_help.py
Labels: Batch, Auto-Assign

#27791 [Storage] BREAKING CHANGE: `az storage container-rm update`: Remove `--default-encryption-scope` and `--deny-encryption-scope-override` as they should only be specified during create
  src/azure-cli/azure/cli/command_modules/storage/_help.py
  src/azure-cli/azure/cli/command_modules/storage/_params.py
  src/azure-cli/azure/cli/command_modules/storage/operations/blob.py
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_container_using_rm_main_scenario.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/test_storage_container_rm_scenarios.py
Labels: Storage, Auto-Assign

#27788 {AKS} `az aks create/update` use a common truncate function for limiting rule group name to 260 characters
  src/azure-cli/azure/cli/command_modules/acs/azuremonitormetrics/recordingrules/common.py
  src/azure-cli/azure/cli/command_modules/acs/azuremonitormetrics/recordingrules/create.py
  src/azure-cli/azure/cli/command_modules/acs/azuremonitormetrics/recordingrules/delete.py
Labels: AKS, Auto-Assign

#27805 {Aro} fix graph error handling
  src/azure-cli/azure/cli/command_modules/aro/custom.py
Labels: customer-reported, ARO, Auto-Assign

#27826 [containerapp] `az containerapp cors enable`: Set the default value of property `--allow-credentials` to `False`
  src/azure-cli/azure/cli/command_modules/containerapp/custom.py
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/recordings/test_containerapp_cors_policy.yaml
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/test_containerapp_commands.py
Labels: Auto-Assign, ContainerApp

#27837 [containerapp] `az containerapp ingress cors enable`: Only update arguments `--allow-headers`, `--allow-credentials`, `--allow-methods`, `--expose-methods`, `--max-age` when the value is not `None`
  src/azure-cli/azure/cli/command_modules/containerapp/custom.py
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/recordings/test_containerapp_cors_policy.yaml
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/test_containerapp_commands.py
Labels: Auto-Assign, ContainerApp

#27836 {Resource} Remove duplicate help messages
  src/azure-cli/azure/cli/command_modules/resource/_help.py
Labels: ARM, Auto-Assign

#27838 {containerapp} Rename duplicate Test class name
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/test_containerappjob_event_triggered_crud.py
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/test_containerappjob_with_identity.py
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/test_containerappjob_with_secrets.py
Labels: Auto-Assign, ContainerApp

#27840 [Network] `az network private-endpoint-connection`: Add provider `Microsoft.DBforPostgreSQL/flexibleServers`
  src/azure-cli/azure/cli/command_modules/network/private_link_resource_and_endpoint_connections/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_private_endpoint_connection_postgres_flexible_server.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_private_link_resource_postgres_flexible_server.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_private_endpoint_commands.py
Labels: Network, Auto-Assign

#27848 {Keyvault} Clear `doc_string_source` for keyvault commands
  src/azure-cli/azure/cli/command_modules/keyvault/_help.py
  src/azure-cli/azure/cli/command_modules/keyvault/commands.py
Labels: KeyVault, Auto-Assign

#27794 {Storage} `az storage container-rm update`: Fix help example name
  src/azure-cli/azure/cli/command_modules/storage/_help.py
Labels: Storage, Auto-Assign

#27816 {Storage} `az storage account encryption-scope create/update`: Fix help misspelling
  src/azure-cli/azure/cli/command_modules/storage/_help.py
Labels: Storage, Auto-Assign

#27839 {CI} Fix full test issue
  scripts/ci/automation_full_test.py
Labels: CI, Auto-Assign, ContainerApp

#27810 [App Service] `az webapp log tail`: Fix #27189 catch exception when scm connection is lost
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
Labels: Web Apps, Auto-Assign

#27890 {aks}`az aks update`: Update outbound ip description and remove limitation
  src/azure-cli/azure/cli/command_modules/acs/_help.py
Labels: AKS, Auto-Assign

#27894 [RDBMS] Update Python SDK version for PostgreSQL flexible servers. Add support for custom iops by adding performance-tier as a parameter
  src/azure-cli/azure/cli/command_modules/rdbms/_flexible_server_location_capabilities_util.py
  src/azure-cli/azure/cli/command_modules/rdbms/_helptext_pg.py
  src/azure-cli/azure/cli/command_modules/rdbms/_params.py
  src/azure-cli/azure/cli/command_modules/rdbms/flexible_server_custom_postgres.py
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_flexible_server_vnet_mgmt_validator.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_flexible_server_auto_grow_replica_validator.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_flexible_server_backups_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_flexible_server_byok_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_flexible_server_existing_private_dns_zone.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_flexible_server_georestore_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_flexible_server_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_flexible_server_mgmt_create_validator.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_flexible_server_mgmt_update_validator.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_flexible_server_migration.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_flexible_server_new_private_dns_zone.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_flexible_server_proxy_resource.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_flexible_server_public_revivedropped_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_flexible_server_replica_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_flexible_server_restore_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_flexible_server_upgrade_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_flexible_server_vnet_mgmt_supplied_subnet_id_in_different_rg.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_flexible_server_vnet_mgmt_supplied_subnetid.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_flexible_server_vnet_mgmt_supplied_vname_and_subnetname.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgresql_flexible_server_identity_aad_admin_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgresql_flexible_server_identity_aad_admin_only_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/validators.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: Auto-Assign

#27903 {CI} Set some modules as serial tests
  scripts/live_test/CLITest.yml
Labels: CI, Auto-Assign

#27270 [Service Connector] `az containerapp connection create`: Enable Key Vault Reference in Container Apps
  src/azure-cli/azure/cli/command_modules/serviceconnector/_client_factory.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/_utils.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/custom.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_containerapp_postgres_flexible_e2e_secretstore.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_springboot_cosmossql_secret_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_springboot_cosmossql_smi_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_springboot_cosmossql_umi_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_webapp_appconfig_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_webapp_confluentkafka_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_webapp_cosmoscassandra_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_webapp_cosmosgremlin_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_webapp_cosmosmongo_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_webapp_cosmossql_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_webapp_cosmostable_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_webapp_eventhub_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_webapp_keyvault_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_webapp_mysql_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_webapp_mysqlflexible_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_webapp_postgres_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_webapp_postgresflexible_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_webapp_redis_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_webapp_redisenterprise_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_webapp_servicebus_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_webapp_signalr_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_webapp_sql_connection_string.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_webapp_sql_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_webapp_storageblob_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_webapp_storageblob_keyvault_ref.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_webapp_storageblob_vnet.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_webapp_storageblob_vnet_pe.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_webapp_storagefile_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_webapp_storagequeue_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_webapp_storagetable_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_webapp_webpubsub_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_webappslot_storageblob_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/test_containerapp_connection_scenario.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/test_springboot_cosmossql_scenario.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/test_webpp_connection_scenario.py
Labels: Auto-Assign, ContainerApp

#27906 [SQL] `az mi create/update`: Add optional parameter `--instance-pool-name` for SQL Managed Server resource
  src/azure-cli/azure/cli/command_modules/sql/_help.py
  src/azure-cli/azure/cli/command_modules/sql/_params.py
  src/azure-cli/azure/cli/command_modules/sql/custom.py
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/test_sql_commands.py
Labels: SQL, Auto-Assign

#27901 [Storage] Fix #27845, Fix #27883: `az storage file upload/upload-batch`: Fix `--allow-trailing-dot` breaking `--connection-string`
  src/azure-cli/azure/cli/command_modules/storage/_client_factory.py
  src/azure-cli/azure/cli/command_modules/storage/operations/file.py
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_file_trailing_dot_scenario.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/test_storage_file_scenarios.py
Labels: Storage, Auto-Assign

#27900 [AKS] Add arguments `--asg-ids` and `--allowed-host-ports` for `az aks create` | `az aks nodepool add` | `az aks nodepool update`
  src/azure-cli/azure/cli/command_modules/acs/_help.py
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/_validators.py
  src/azure-cli/azure/cli/command_modules/acs/agentpool_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/linter_exclusions.yml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_with_nsg_control.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_nodepool_create_with_nsg_control.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_nodepool_update_with_nsg_control.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_validators.py
Labels: AKS, Auto-Assign

#27835 [ACR] Allow registry names with hyphen in `az acr login` to support legacy registry names
  src/azure-cli/azure/cli/command_modules/acr/_constants.py
  src/azure-cli/azure/cli/command_modules/acr/_validators.py
Labels: Container Registry, Auto-Assign

#27925 {Packaging} Remove Fedora 36 build
  azure-pipelines.yml
Labels: Packaging, Auto-Assign

#27918 [RDBMS] Add support for advanced threat protection setting for a PostgreSQL flexible server
  src/azure-cli/azure/cli/command_modules/rdbms/_client_factory.py
  src/azure-cli/azure/cli/command_modules/rdbms/_helptext_pg.py
  src/azure-cli/azure/cli/command_modules/rdbms/_params.py
  src/azure-cli/azure/cli/command_modules/rdbms/flexible_server_commands.py
  src/azure-cli/azure/cli/command_modules/rdbms/flexible_server_custom_postgres.py
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_flexible_server_advanced_threat_protection_setting_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/test_rdbms_flexible_commands.py
Labels: Auto-Assign

#27933 [Containerapp] `az containerapp`: Change the container-app name and container-app job name in the example to legal names
  src/azure-cli/azure/cli/command_modules/containerapp/_help.py
Labels: Auto-Assign, ContainerApp
