Repository Azure/azure-cli, pull requests merged in 2024-05, with the labels that each got.

#28869 [AKS] `az aks`: Add `SecurityPatch` option to `--node-os-upgrade-channel` parameter of create and update commands
  src/azure-cli/azure/cli/command_modules/acs/_consts.py
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_with_node_os_upgrade_channel.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_with_node_os_upgrade_channel_security_patch.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
Labels: AKS, Auto-Assign

#28640 [Network] BREAKING CHANGE: `az network dns zone`: Deprecate `--zone-type`, `registration-vnets` and `resolution-vnets`
  src/azure-cli/azure/cli/command_modules/network/_client_factory.py
  src/azure-cli/azure/cli/command_modules/network/_params.py
  src/azure-cli/azure/cli/command_modules/network/_validators.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/dns/zone/_create.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/dns/zone/_list.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/dns/zone/_update.py
  src/azure-cli/azure/cli/command_modules/network/commands.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_dns_zone_commands_with_dnssec_zone.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_dns_zone_update.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_dns_zone_update_if_match.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_dns_commands.py
Labels: Network, Auto-Assign

#28855 {Mysql} `az mysql flexible-server import create`: Update username value to be always null
  src/azure-cli/azure/cli/command_modules/mysql/_validators.py
  src/azure-cli/azure/cli/command_modules/mysql/custom.py
Labels: Auto-Assign

#28813 [AKS] `az aks create/update`: Add new parameter `--enable-cost-analysis` to enable exporting Kubernetes namespace and deployment details to the Cost Analysis views
  src/azure-cli/azure/cli/command_modules/acs/_help.py
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/managed_cluster_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_with_enable_cost_analysis.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_update_enable_cost_analysis.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_managed_cluster_decorator.py
Labels: AKS, Auto-Assign

#28892 [App Service] `az functionapp scale config always-ready`: Set alwaysReady property to empty array if it is null
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
Labels: Functions, Auto-Assign

#28812 [AppService] `az functionapp`: Update messaging for flex function apps
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
Labels: Functions, Auto-Assign

#28887 [Service Connector] `az aks connection list/show`: Add kubernetes resource name
  src/azure-cli/azure/cli/command_modules/serviceconnector/_transformers.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/_utils.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/_validators.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/commands.py
Labels: Auto-Assign, Service Connector

#28852 [Service Connector] `az source connection create cognitiveservices`: Support OpenAI/AIServices/CognitiveServices as target
  src/azure-cli/azure/cli/command_modules/serviceconnector/_resource_config.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_kubernetes_cognitive_secret_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_kubernetes_cognitive_workload_identity_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_webapp_aiservices_system_identity_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_webapp_cognitive_services_system_identity_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_webapp_openai_secret_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_webapp_openai_system_identity_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/test_kubernetes_connection_scenario.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/test_webpp_connection_scenario.py
Labels: Web Apps, AKS, Auto-Assign, ContainerApp

#28777 [Network] Fix #28615: `az network application-gateway address-pool update`: Race condition in concurrent scenario
  src/azure-cli/azure/cli/command_modules/network/custom.py
Labels: Network, Auto-Assign

#28818 {AKS} Correct the property `disable_outbound_nat` in `windows_profile` and add UT
  src/azure-cli/azure/cli/command_modules/acs/agentpool_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_agentpool_decorator.py
Labels: AKS, Auto-Assign

#28841 [Core] Redo: Use WAM as the default authentication method on Windows
  src/azure-cli-core/azure/cli/core/_profile.py
  src/azure-cli-core/azure/cli/core/auth/landing_pages/success.html
Labels: Account, Core, ARM, Auto-Assign

#28901 [AppService] `az webapp list`: Fix the bug `--show-details` fails while resource group name is not specified
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_list_show_details.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_webapp_commands.py
Labels: Web Apps, Auto-Assign

#28906 [AKS] BREAKING CHANGE: `az aks create`: Updates to option `--enable-managed-identity`
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/managed_cluster_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_managed_identity_with_service_principal.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_managed_cluster_decorator.py
Labels: AKS, Auto-Assign

#28250 {Packaging} Use deb822 format in DEB installation script
  scripts/release/debian/deb_install.sh
Labels: customer-reported

#28920 [Container app] `az containerapp compose create`: Fix issue where the environment's location is not resolved from `--location`
  src/azure-cli/azure/cli/command_modules/containerapp/_compose_utils.py
  src/azure-cli/azure/cli/command_modules/containerapp/custom.py
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/recordings/test_containerapp_compose_create_environment_to_target_location.yaml
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/test_containerapp_compose_basic.py
Labels: Auto-Assign, ContainerApp

#28426 {AKS} Monitoring Addon - Add `--ampls-resource-id` and `--enable-high-log-scale-mode` optional flags
  src/azure-cli/azure/cli/command_modules/acs/_help.py
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/_validators.py
  src/azure-cli/azure/cli/command_modules/acs/addonconfiguration.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/linter_exclusions.yml
  src/azure-cli/azure/cli/command_modules/acs/managed_cluster_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_managed_cluster_decorator.py
Labels: AKS, Auto-Assign

#28930 [Container app] Fix #28864: `az containerapp ingress update`: Fix updating transport from http to tcp with `--transport tcp`
  src/azure-cli/azure/cli/command_modules/containerapp/custom.py
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/recordings/test_containerapp_ingress_update_http_to_tcp.yaml
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/test_containerapp_commands.py
Labels: Auto-Assign, ContainerApp

#28922 [Container app] `az containerapp compose create`: Fix variable mixing issue when `--compose-file-path` contains multiple services
  src/azure-cli/azure/cli/command_modules/containerapp/containerapp_decorator.py
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/recordings/test_containerapp_compose_create_basic_no_existing_resources.yaml
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/recordings/test_containerapp_compose_create_with_environment.yaml
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/recordings/test_containerapp_compose_create_with_registry_all_args.yaml
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/recordings/test_containerapp_compose_create_with_registry_server_arg_only.yaml
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/recordings/test_containerapp_compose_create_with_replicas_global_scale.yaml
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/recordings/test_containerapp_compose_create_with_replicas_replicated_mode.yaml
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/recordings/test_containerapp_compose_create_with_resources_from_both_cpus_and_deploy_cpu.yaml
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/recordings/test_containerapp_compose_create_with_resources_from_deploy_cpu.yaml
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/recordings/test_containerapp_compose_create_with_resources_from_service_cpus.yaml
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/test_containerapp_compose_environment.py
Labels: Auto-Assign, ContainerApp

#28918 [Service Connector] `az webapp connection list`: Fix interactive input
  src/azure-cli/azure/cli/command_modules/serviceconnector/_resource_config.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/_validators.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/_test_utils.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_containerapp_mysql_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_containerapp_mysql_e2e_kvsecret.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_containerapp_postgres_flexible_e2e_secretstore.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_containerapp_storageblob_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_kubernetes_cognitive_workload_identity_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_kubernetes_mysql_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_kubernetes_storageblob_workload_identity_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_local_mysql_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_local_mysqlflexible_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_local_postgres_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_local_postgresflexible_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_local_sql_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_springapp_storageblob_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_springcloud_appconfig_umi.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_springcloud_cosmoscassandra_umi.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_springcloud_cosmosgremlin_umi.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_springcloud_cosmosmongo_umi.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_springcloud_cosmossql_umi.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_springcloud_cosmostable_umi.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_springcloud_eventhub_umi.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_springcloud_keyvault_umi.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_springcloud_postgres_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_springcloud_servicebus_umi.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_springcloud_signalr_umi.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_springcloud_storageblob_umi.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_springcloud_storagequeue_umi.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_springcloud_webpubsub_umi.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_webapp_confluentkafka_keyvault_ref.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_webapp_mysql_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_webapp_mysqlflexible_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_webapp_postgres_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_webapp_postgresflexible_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_webapp_sql_connection_string.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_webapp_sql_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_webapp_storageblob_keyvault_ref.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/test_containerapp_connection_scenario.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/test_local_connection_scenario.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/test_webapp_addon_scenario.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/test_webpp_connection_scenario.py
Labels: Auto-Assign

#28940 [ARM] `az group delete`: Add new option `Microsoft.Databricks/workspaces` for `--force-deletion-types` parameter
  src/azure-cli/azure/cli/command_modules/resource/_params.py
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/recordings/test_resource_group_force_deletion_type.yaml
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/test_resource.py
Labels: ARM, Auto-Assign

#28886 [Keyvault] BREAKING CHANGE: `az keyvault create`: Default `--enable-rbac-authorization` to true
  src/azure-cli/azure/cli/command_modules/keyvault/custom.py
Labels: KeyVault, Auto-Assign

#28927 [Keyvault] `az keyvault key create`: Update the release policy used for `--default-cvm-policy`
  src/azure-cli/azure/cli/command_modules/keyvault/_validators.py
  src/azure-cli/azure/cli/command_modules/keyvault/commands.py
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_hsm_key_release_policy.yaml
Labels: KeyVault, Auto-Assign

#28218 {Service Fabric} Bump Python SDK version
  src/azure-cli/azure/cli/command_modules/servicefabric/operations/applications.py
  src/azure-cli/azure/cli/command_modules/servicefabric/tests/latest/recordings/test_add_secondary_node_type_add_remove_node.yaml
  src/azure-cli/azure/cli/command_modules/servicefabric/tests/latest/recordings/test_application_related.yaml
  src/azure-cli/azure/cli/command_modules/servicefabric/tests/latest/recordings/test_create_cluster_with_separate_kv.yaml
  src/azure-cli/azure/cli/command_modules/servicefabric/tests/latest/recordings/test_update_settings_and_reliability.yaml
  src/azure-cli/azure/cli/command_modules/servicefabric/tests/latest/test_sf_application.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: Service Fabric, Auto-Assign

#28801 [App Service] `az webapp`: Add Java 21 support
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_e2e.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_runtimes.yaml
Labels: Web Apps, Auto-Assign

#28825 [AppService] `az functionapp create`: Use stacks API netFrameworkVersion value
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_on_linux_app_service_dotnet_with_runtime_version.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_on_windows_app_service_dotnet_with_runtime_version.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_functionapp_commands.py
Labels: Functions, Auto-Assign

#28755 [Container app] Fix #28380: `az containerapp ingress access-restriction set`: Fix `KeyError` when `name` not exists
  src/azure-cli/azure/cli/command_modules/containerapp/_utils.py
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/recordings/test_containerapp_ip_restrictions.yaml
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/test_containerapp_commands.py
Labels: Auto-Assign, ContainerApp

#28888 [Packaging] Add Ubuntu 24.04 Noble Numbat support
  azure-pipelines.yml
  scripts/release/debian/prepare.sh
Labels: Packaging, Auto-Assign

#28799 {Containerapp} Fix documentation links for job yaml
  src/azure-cli/azure/cli/command_modules/containerapp/custom.py
Labels: customer-reported, Auto-Assign, ContainerApp

#28826 [ARM] `az deployment`: Support inline parameters with `.bicepparam` in single parameter `--parameters`
  src/azure-cli/azure/cli/command_modules/resource/custom.py
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/test_resource.py
Labels: ARM, Auto-Assign

#28846 [AppService] `az functionapp create`: Use linuxFxVersion value from stacks API for dotnet-isolated
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_consumption_linux_dotnet_isolated.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_functionapp_commands.py
Labels: Functions, Auto-Assign

#28867 [AppService] `az functionapp`: Only show warning but not throw error when checking runtime
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
Labels: Functions, Auto-Assign

#28942 [Packaging] Drop Ubuntu 18.04 support
  azure-pipelines.yml
  scripts/release/debian/build.sh
Labels: Packaging, Auto-Assign

#28926 {RDBMS} Add support for left-shift clusters in westus3
  src/azure-cli/azure/cli/command_modules/rdbms/config.json
Labels: Auto-Assign

#28957 [Compute] `az vmss create/update`: Add new parameters `--enable-resilient-creation` and `--enable-resilient-deletion` to support Resiliency Policy on VMSS
  src/azure-cli/azure/cli/command_modules/vm/_params.py
  src/azure-cli/azure/cli/command_modules/vm/_template_builder.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/linter_exclusions.yml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_with_resiliency_policy.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Auto-Assign

#28947 {Compute} `az vm/vmss`: Add new option `NvmeDisk` for `--ephemeral-os-disk-placement` parameter
  src/azure-cli/azure/cli/command_modules/vm/_params.py
Labels: Compute, Auto-Assign

#28805 {Keyvault} Refine MHSM tests
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/test_keyvault_commands.py
Labels: KeyVault, Auto-Assign

#28951 [Storage] BREAKING CHANGE: `az storage account update`: Prompt user for possible charge increases when changing `--access-tier`, add `--upgrade-to-storagev2`
  src/azure-cli/azure/cli/command_modules/storage/_params.py
  src/azure-cli/azure/cli/command_modules/storage/operations/account.py
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_account_upgrade_to_storagev2.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/test_storage_account_scenarios.py
Labels: Storage, Auto-Assign

#28953 [Compute] BREAKING CHANGE: `az sig image-definition create`: Set the default values for Hyper-V generation and Security Type
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_sig_image_definition_default_value.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Auto-Assign

#28601 [Storage] BREAKING CHANGE: Fix #28597: `az storage container set-permission/get-permission` and `az storage container policy`: Remove `--auth-mode login` and `--sas-token` for container access policy commands as only shared key auth is supported on server side
  src/azure-cli/azure/cli/command_modules/storage/_params.py
  src/azure-cli/azure/cli/command_modules/storage/commands.py
Labels: Storage, Auto-Assign

#28949 [Compute] `az vm create`: Add new parameters `--source-snapshots-or-disks` and `--source-snapshots-or-disks-size-gb` to support implicit disk creation from snapshot and disk
  src/azure-cli/azure/cli/command_modules/vm/_params.py
  src/azure-cli/azure/cli/command_modules/vm/_validators.py
  src/azure-cli/azure/cli/command_modules/vm/_vm_utils.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_data_disk_creation_from_copy_and_restore.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Auto-Assign

#28928 [Compute] `az vmss update`: Add new parameters `--ephemeral-option` to support setting ephemeral disk setting
  src/azure-cli/azure/cli/command_modules/vm/_params.py
  src/azure-cli/azure/cli/command_modules/vm/_validators.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_update_ephemeral_os_disk.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Auto-Assign

#28840 [Network] Fix #28705: `az network lb rule`: Authentication token not being generated
  src/azure-cli/azure/cli/command_modules/network/operations/load_balancer.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_lb_rule_backend_address_pools.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_lb_rules.yaml
Labels: Network, Auto-Assign

#28859 {SQL} `az sql db import`: improve help message
  src/azure-cli/azure/cli/command_modules/sql/_help.py
Labels: SQL, customer-reported, Auto-Assign

#28811 [AppService] `az functionapp create`: Update the default Centauri image
  src/azure-cli/azure/cli/command_modules/appservice/_constants.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_config_with_appcontainer_managed_environment_error.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_container_config_set_replicas.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_create_with_appcontainer_managed_environment.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_create_with_appcontainer_managed_environment_add_vnet_error.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_create_with_appcontainer_managed_environment_existing_app_insights.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_create_with_appcontainer_managed_environment_list_vnet_error.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_create_with_appcontainer_managed_environment_remove_vnet_error.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_create_with_replicas.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_delete_functions.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_enable_dapr.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_workloadprofiles.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_functionapp_commands.py
Labels: Functions, Auto-Assign

#28910 {Profile} Login experience v2
  src/azure-cli-core/azure/cli/core/_profile.py
  src/azure-cli-core/azure/cli/core/style.py
  src/azure-cli-core/azure/cli/core/telemetry.py
  src/azure-cli-core/azure/cli/core/tests/test_profile.py
  src/azure-cli/azure/cli/command_modules/profile/_subscription_selector.py
  src/azure-cli/azure/cli/command_modules/profile/custom.py
  src/azure-cli/azure/cli/command_modules/profile/tests/latest/test_subscription_selector.py
  src/azure-cli/azure/cli/command_modules/util/custom.py
  src/azure-cli/setup.py
Labels: Account, Auto-Assign

#28966 [Core] Prompt for interactive authentication for all silent authentication failures
  src/azure-cli-core/azure/cli/core/_profile.py
Labels: Account, Core, Auto-Assign

#28976 {Core} Refine warning message for interaction required
  src/azure-cli-core/azure/cli/core/_profile.py
Labels: Account, Core, Auto-Assign

#28981 {Core} Fix warning message for `support_extension`
  src/azure-cli-core/azure/cli/core/aaz/_arg.py
  src/azure-cli-core/azure/cli/core/tests/test_aaz_arg.py
Labels: Core, Auto-Assign

#28941 [ACR] `az acr build` and `az acr task`: Highlight the difference between arguments in the description
  src/azure-cli/azure/cli/command_modules/acr/_params.py
Labels: Container Registry, Auto-Assign

#28990 {Packaging} Fix DEB install script
  scripts/release/debian/deb_install.sh
Labels: Packaging, Installation, Auto-Assign

#28938 [SQL] `az sql db update`: Add `--manual-cutover` and `--perform-cutover` arguments
  src/azure-cli/azure/cli/command_modules/sql/_help.py
  src/azure-cli/azure/cli/command_modules/sql/_params.py
  src/azure-cli/azure/cli/command_modules/sql/custom.py
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/recordings/test_sql_db_forward_migration_manual_cutover.yaml
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/recordings/test_sql_db_operation_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/test_sql_commands.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: SQL, Auto-Assign

#28790 [Container app] `az containerapp env`: Add argument `--enable-peer-to-peer-encryption`
  src/azure-cli/azure/cli/command_modules/containerapp/_params.py
  src/azure-cli/azure/cli/command_modules/containerapp/containerapp_env_decorator.py
  src/azure-cli/azure/cli/command_modules/containerapp/custom.py
  src/azure-cli/azure/cli/command_modules/containerapp/linter_exclusions.yml
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/recordings/test_containerapp_env_p2p_traffic_encryption.yaml
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/test_containerapp_env_commands.py
Labels: Auto-Assign, ContainerApp

#28955 {IoT} Fix DPS policy key regeneration when setting empty strings as keys
  src/azure-cli/azure/cli/command_modules/iot/_help.py
  src/azure-cli/azure/cli/command_modules/iot/_params.py
  src/azure-cli/azure/cli/command_modules/iot/custom.py
  src/azure-cli/azure/cli/command_modules/iot/tests/latest/recordings/test_dps_certificate_lifecycle.yaml
  src/azure-cli/azure/cli/command_modules/iot/tests/latest/recordings/test_dps_lifecycle.yaml
  src/azure-cli/azure/cli/command_modules/iot/tests/latest/recordings/test_dps_linked_hub_lifecycle.yaml
  src/azure-cli/azure/cli/command_modules/iot/tests/latest/test_iot_dps_commands.py
Labels: IoT, IoT/CLI, Auto-Assign

#28950 [Backup] Support restore operation for recoveryservices vaults when using MUA
  src/azure-cli/azure/cli/command_modules/backup/_params.py
  src/azure-cli/azure/cli/command_modules/backup/custom.py
  src/azure-cli/azure/cli/command_modules/backup/custom_afs.py
  src/azure-cli/azure/cli/command_modules/backup/custom_base.py
  src/azure-cli/azure/cli/command_modules/backup/custom_help.py
  src/azure-cli/azure/cli/command_modules/backup/custom_wl.py
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_backup_restore.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_backup_scenario.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_disk_exclusion.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_job.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_restore.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_restore_when_storage_in_different_rg.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_scenario.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_sql_archive.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_sql_restore.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_sql_restore_as_files.yaml
Labels: Backup, Auto-Assign

#28975 [RDBMS] `az postgres flexible-server restore`: Add `--storage-type` to support changing storage type from V1 to V2
  src/azure-cli/azure/cli/command_modules/rdbms/_helptext_pg.py
  src/azure-cli/azure/cli/command_modules/rdbms/_params.py
  src/azure-cli/azure/cli/command_modules/rdbms/flexible_server_custom_postgres.py
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_flexible_server_ssdv2_restore_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_flexible_server_byok_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_flexible_server_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_flexible_server_restore_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/test_rdbms_flexible_commands.py
Labels: Storage, Auto-Assign

#28999 [Network] `az network application-gateway waf-policy custom-rule update`: Add parameter `--js-cookie-exp-time`
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/waf_policy/_create.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/waf_policy/_update.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/waf_policy/policy_setting/_update.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_waf_policy_setting.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Labels: Network, Auto-Assign

#29017 [Container app] `az containerapp job update`: Fix poll logic and `--no-wait`
  src/azure-cli/azure/cli/command_modules/containerapp/_clients.py
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/recordings/test_containerapp_eventjob_crudoperations_e2e.yaml
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/recordings/test_containerapp_job_custom_executionstest_e2e.yaml
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/recordings/test_containerapp_job_executionstest_e2e.yaml
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/recordings/test_containerapp_manualjob_crudoperations_e2e.yaml
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/recordings/test_containerapp_manualjob_private_registry_port.yaml
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/recordings/test_containerapp_manualjob_registry_acr_look_up_credentical.yaml
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/recordings/test_containerappjob_create_with_environment_id.yaml
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/recordings/test_containerappjob_create_with_yaml.yaml
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/recordings/test_containerappjob_eventtriggered_create_with_yaml.yaml
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/test_containerappjob_crud.py
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/test_containerappjob_event_triggered_crud.py
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/test_containerappjob_executions.py
Labels: Auto-Assign, ContainerApp

#29036 {AKS} `az aks create`: Update help message of option `--enable-managed-identity`
  src/azure-cli/azure/cli/command_modules/acs/_help.py
Labels: AKS, Auto-Assign

#29037 [Container app] `az containerapp show-custom-domain-verification-id`: Show verification id used for binding custom domain
  src/azure-cli/azure/cli/command_modules/containerapp/_clients.py
  src/azure-cli/azure/cli/command_modules/containerapp/_help.py
  src/azure-cli/azure/cli/command_modules/containerapp/commands.py
  src/azure-cli/azure/cli/command_modules/containerapp/custom.py
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/recordings/test_containerapp_get_customdomainverificationid_e2e.yaml
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/test_containerapp_commands.py
Labels: Auto-Assign, ContainerApp

#29008 {ACR} Fix az acr login command on AzureStackHub
  src/azure-cli/azure/cli/command_modules/acr/policy.py
Labels: Container Registry, Auto-Assign

#29016 {RDBMS} Add support for left-shift clusters in new regions
  src/azure-cli/azure/cli/command_modules/rdbms/config.json
Labels: Auto-Assign

#29025 [AKS] `az aks create/update`: Update AMW resource.location to only accept alphanumeric characters
  src/azure-cli/azure/cli/command_modules/acs/azuremonitormetrics/amw/helper.py
  src/azure-cli/azure/cli/command_modules/acs/azuremonitormetrics/amw/tests/test_helper.py
Labels: AKS, Auto-Assign

#29040 {Container app} Add test for `az containerapp env workload-profile list-supported` and `az containerapp create/update` additionalPortMappings with `--yaml`
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/recordings/test_containerapp_create_with_yaml.yaml
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/recordings/test_containerapp_env_workload_profiles_list_supported.yaml
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/test_containerapp_commands.py
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/test_containerapp_workload_profile_commands.py
Labels: Auto-Assign, ContainerApp

#29056 [Container app] `az containerapp env update`: Fix logs configuration about removing destination with `--logs-destination none`
  src/azure-cli/azure/cli/command_modules/containerapp/containerapp_env_decorator.py
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/recordings/test_containerapp_env_logs_e2e.yaml
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/test_containerapp_env_commands.py
Labels: Auto-Assign, ContainerApp

#29049 [Network] `az network cross-region-lb address-pool`: Add parameter `-- admin-state`
  src/azure-cli/azure/cli/command_modules/network/operations/load_balancer.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_cross_region_lb_address_pool_addresses.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Labels: Network, Auto-Assign

#29058 [Container app] `az containerapp list-usages`: Support list-usages in subscription
  src/azure-cli/azure/cli/command_modules/containerapp/_clients.py
  src/azure-cli/azure/cli/command_modules/containerapp/_help.py
  src/azure-cli/azure/cli/command_modules/containerapp/_transformers.py
  src/azure-cli/azure/cli/command_modules/containerapp/commands.py
  src/azure-cli/azure/cli/command_modules/containerapp/custom.py
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/recordings/test_containerapp_env_usages.yaml
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/test_containerapp_env_commands.py
Labels: Auto-Assign, ContainerApp

#29023 [Container app] Fix #28983: `az containerapp job registry`: Support commands for modifying the job's registries
  src/azure-cli/azure/cli/command_modules/containerapp/_help.py
  src/azure-cli/azure/cli/command_modules/containerapp/_params.py
  src/azure-cli/azure/cli/command_modules/containerapp/commands.py
  src/azure-cli/azure/cli/command_modules/containerapp/containerapp_job_registry_decorator.py
  src/azure-cli/azure/cli/command_modules/containerapp/custom.py
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/recordings/test_containerappjob_registry_crud.yaml
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/test_containerappjob_registry.py
Labels: Auto-Assign, ContainerApp
