Repository Azure/azure-cli, pull requests merged in 2024-07, with the labels that each got.

#29213 [Backup] `az backup vault encryption update`: Add support for MUA for CMK operations
  src/azure-cli/azure/cli/command_modules/backup/_params.py
  src/azure-cli/azure/cli/command_modules/backup/custom.py
  src/azure-cli/azure/cli/command_modules/backup/custom_help.py
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_encryption.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/test_backup_commands.py
Labels: Backup, Auto-Assign

#29257 {AKS} Monitoring Addon - Bug fixes related to --ampls-resource-id and --enable-high-log-scale-mode options
  src/azure-cli/azure/cli/command_modules/acs/addonconfiguration.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
Labels: AKS, Auto-Assign

#29274 [AKS] `az aks create/update`: Add and fix existing validations for ephemeral disk support for Azure Container Storage
  src/azure-cli/azure/cli/command_modules/acs/azurecontainerstorage/_validators.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_validators.py
Labels: Storage, AKS, Auto-Assign

#29286 [Storage] `az storage account create/update`: Support TLS 1.3, update recommended `--min-tls-version` to be 1.2
  src/azure-cli/azure/cli/command_modules/storage/__init__.py
  src/azure-cli/azure/cli/command_modules/storage/_params.py
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_account_upgrade_to_storagev2.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_create_with_min_tls.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_update_with_min_tls.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/test_storage_account_scenarios.py
Labels: Storage, Auto-Assign

#29287 {Compute} Fix tests to disable default outbound access
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_create_no_wait.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_data_disk_creation_from_copy_and_restore.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_disk_from_restore_point.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_extension_debian.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_extension_instance_name.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_extension_list.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_simulate_eviction.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_size_properties.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_user_update_win.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Auto-Assign

#29304 {CI} Use MCR docker mirror
  azure-pipelines.yml
Labels: CI, Auto-Assign

#29307 {CI} Remove continueOnError
  azure-pipelines.yml
Labels: CI, Auto-Assign

#29236 {Core} Bump MSAL to 1.29.0 and msal-extensions to 1.2.0
  src/azure-cli-core/setup.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
Labels: Core, Auto-Assign

#29316 {Compute} Fix tests to disable default outbound access
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_diagnostics_extension_install.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_boot_diagnostics.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_create_auth.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_create_custom_ip.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_create_ephemeral_os_disk.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_create_ephemeral_os_disk_placement.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_create_existing_ids_options.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_create_existing_options.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_create_multi_nics.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_create_none_options.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_create_provision_vm_agent.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_create_ubuntu.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_create_with_monitor.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_create_with_workspace_linux.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_metric_tail.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_update_ephemeral_os_disk_placement.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_update_size.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Auto-Assign

#29335 {Keyvault} `az keyvault create`: Remove explicit cvm type from default cvm policy template
  src/azure-cli/azure/cli/command_modules/keyvault/_validators.py
Labels: KeyVault, Auto-Assign

#29338 [CDN] Fix #28717: `az afd secret`: Change the way to access parameter
  src/azure-cli/azure/cli/command_modules/cdn/custom/custom_afdx.py
Labels: Network - Front Door, Auto-Assign

#29336 [Containerapp] Fix #26688: `az containerapp up`: Fix logic about updating an existing containerapp
  src/azure-cli/azure/cli/command_modules/containerapp/_up_utils.py
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/recordings/test_containerapp_create_with_environment_id.yaml
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/recordings/test_containerapp_up_dapr_e2e.yaml
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/test_containerapp_scenario.py
Labels: Auto-Assign, ContainerApp

#29306 {AKS} `az aks mesh`: Add warnings for out of support asm revision in use
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/managed_cluster_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_azure_service_mesh_canary_upgrade.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_azure_service_mesh_enable_disable.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_azure_service_mesh_get_revisions.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_azure_service_mesh_get_upgrades.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_azure_service_mesh_with_ingress_gateway.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_azure_service_mesh_with_pluginca.yaml
Labels: AKS, Auto-Assign

#29350 [Network] `az network custom-ip prefix create`: Add parameter `--is-parent`
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/custom_ip/prefix/_create.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/custom_ip/prefix/_delete.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/custom_ip/prefix/_list.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/custom_ip/prefix/_show.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/custom_ip/prefix/_update.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/custom_ip/prefix/_wait.py
  src/azure-cli/azure/cli/command_modules/network/commands.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_custom_ip_prefix_crud.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_custom_ip_prefix_update_state.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Labels: Network, Auto-Assign

#29369 {Containerapp} Remove secrets in files
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/recordings/test_containerapp_create_with_environment_id.yaml
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/recordings/test_containerappjob_eventtriggered_create_with_yaml.yaml
Labels: Auto-Assign, ContainerApp

#29371 {Containerapp} Remove secrets
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/recordings/test_container_app_mount_azurefile_e2e.yaml
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/recordings/test_containerapp_compose_create_environment_to_target_location.yaml
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/recordings/test_containerapp_create_with_environment_id.yaml
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/recordings/test_containerapp_create_with_vnet_yaml.yaml
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/recordings/test_containerapp_env_certificate_e2e.yaml
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/recordings/test_containerapp_env_logs_e2e.yaml
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/recordings/test_containerapp_env_p2p_traffic_encryption.yaml
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/recordings/test_containerapp_get_customdomainverificationid_e2e.yaml
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/recordings/test_containerapp_tcp_ingress.yaml
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/recordings/test_containerappjob_create_with_environment_id.yaml
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/recordings/test_containerappjob_create_with_yaml.yaml
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/recordings/test_containerappjob_eventtriggered_create_with_yaml.yaml
Labels: Auto-Assign, ContainerApp

#29340 {AKS} Switch to use shared user assigned identity to run managed live test
  src/azure-cli/azure/cli/command_modules/acs/_graph.py
  src/azure-cli/azure/cli/command_modules/acs/_helpers.py
  src/azure-cli/azure/cli/command_modules/acs/_roleassignments.py
  src/azure-cli/azure/cli/command_modules/acs/managed_cluster_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_default_service_with_virtual_node_addon.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_private_dns_zone.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_managed_cluster_decorator.py
Labels: AKS, Auto-Assign

#29377 [Compute] `az sig create/update`: Hide `--soft-delete` parameter in help messages
  src/azure-cli/azure/cli/command_modules/vm/_params.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_gallery_soft_delete.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Auto-Assign

#29120 {Misc.} Remove all occurrences of assertNotEquals
  src/azure-cli-core/azure/cli/core/tests/test_application.py
  src/azure-cli/azure/cli/command_modules/ams/tests/latest/test_ams_content_key_policy_scenarios.py
  src/azure-cli/azure/cli/command_modules/ams/tests/latest/test_ams_live_event_scenarios.py
  src/azure-cli/azure/cli/command_modules/appconfig/tests/latest/test_appconfig_commands.py
  src/azure-cli/azure/cli/command_modules/search/tests/latest/test_admin_key.py
Labels: customer-reported

#29392 {Compute} Fix tests to disable default outbound access
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_community_gallery_operations.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_create_disk_from_diff_gallery_image_version.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_create_image_version_with_allow_replicated_location_deletion.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_create_vm_with_community_gallery_image.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_create_vm_with_shared_gallery_image.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_disk_controller_type.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_gallery_image_version_vhd.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_gallery_soft_delete.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_image_update_add_set.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_image_version_create_for_diff_source.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_image_version_create_os_vhd.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_ppg_update.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_ppg_with_related_resources.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_replication_mode.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_shared_gallery.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_specialized_image.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_create_auto_create_subnet.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_create_existing_nic.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_create_nsg_rule.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_create_special_name.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_generic_update.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_os_disk_swap.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_priority_eviction_billing.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_vmss_non_persisted_tpm.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Auto-Assign

#29381 [SQL] `az sql mi create`: Add `--dns-zone-partner` optional parameter
  src/azure-cli/azure/cli/command_modules/sql/_help.py
  src/azure-cli/azure/cli/command_modules/sql/_params.py
  src/azure-cli/azure/cli/command_modules/sql/custom.py
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/recordings/test_sql_managed_instance_create.yaml
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/test_sql_commands.py
Labels: SQL, Auto-Assign

#29271 [Synapse] `az synapse spark job submit`: Add ability to pass custom Python files to the job
  src/azure-cli/azure/cli/command_modules/synapse/manual/_params.py
  src/azure-cli/azure/cli/command_modules/synapse/manual/operations/spark.py
Labels: Synapse, Auto-Assign

#29388 {AKS} `az aks create`: do not set `network_plugin` based on the Python SDK
  src/azure-cli/azure/cli/command_modules/acs/managed_cluster_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_managed_cluster_decorator.py
Labels: AKS, Auto-Assign

#29402 {CI} Disable CodeQL task
  azure-pipelines.yml
Labels: CI, Portal, Auto-Assign

#29260 {CI} reassign issue owner
  .github/policies/resourceManagement.yml
  .gitignore
Labels: ARM, CI, Auto-Assign

#29399 [containerapp] `az containerapp job stop`: Return custom message for stop job execution
  src/azure-cli/azure/cli/command_modules/containerapp/_client_factory.py
  src/azure-cli/azure/cli/command_modules/containerapp/_clients.py
  src/azure-cli/azure/cli/command_modules/containerapp/custom.py
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/recordings/test_containerapp_job_custom_executionstest_e2e.yaml
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/recordings/test_containerapp_job_executionstest_e2e.yaml
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/recordings/test_containerappjob_create_with_yaml.yaml
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/recordings/test_containerappjob_eventtriggered_create_with_yaml.yaml
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/test_containerappjob_executions.py
Labels: Auto-Assign, ContainerApp

#29273 [AKS] `az aks create/update`: Support in place param updates for managed prom
  src/azure-cli/azure/cli/command_modules/acs/azuremonitormetrics/azuremonitorprofile.py
  src/azure-cli/azure/cli/command_modules/acs/azuremonitormetrics/helper.py
Labels: AKS, Auto-Assign

#29314 {Core} Bump MSAL to 1.30.0
  src/azure-cli-core/setup.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
Labels: Core, Auto-Assign

#29380 {Network} `az network lb`: Remove useless preview information
  src/azure-cli/azure/cli/command_modules/network/_help.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/lb/address_pool/address/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/lb/address_pool/address/_add.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/lb/address_pool/address/_list.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/lb/address_pool/address/_remove.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/lb/address_pool/address/_show.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/lb/address_pool/address/_update.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/lb/probe/_create.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/lb/probe/_update.py
  src/azure-cli/azure/cli/command_modules/network/operations/load_balancer.py
Labels: Network, Auto-Assign

#29422 {Packaging} Remove Jinja2, MarkupSafe and pycparser from requirements.txt
  src/azure-cli/azure/cli/command_modules/feedback/tests/latest/test_feedback.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
Labels: Packaging, Auto-Assign

#29414 {CI} Disable similar bot
  .github/azure-client-tools-bot/config.yml
Labels: CI, Auto-Assign

#29413 [Core] Set `allow-preview` from config for extension dynamic installation
  src/azure-cli-core/azure/cli/core/extension/dynamic_install.py
Labels: Core, Auto-Assign

#29367 [AppService] `az webapp list-runtimes`: Add parameter `--show-runtime-details` to show detailed runtime stacks and update the format of java related stacks listed
  src/azure-cli/azure/cli/command_modules/appservice/_params.py
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_config.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_list_show_details.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_webapp_commands.py
Labels: Web Apps, Auto-Assign

#29425 [MYSQL] `az mysql flexible-server import stop-replication`: Stop replication between source single server and target flexible server
  src/azure-cli/azure/cli/command_modules/mysql/_help.py
  src/azure-cli/azure/cli/command_modules/mysql/_params.py
  src/azure-cli/azure/cli/command_modules/mysql/commands.py
  src/azure-cli/azure/cli/command_modules/mysql/custom.py
  src/azure-cli/azure/cli/command_modules/mysql/linter_exclusions.yml
Labels: Auto-Assign

#29445 [AKS] `az aks create/update`: Add validations for PremiumV2 disk
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/azurecontainerstorage/_helpers.py
  src/azure-cli/azure/cli/command_modules/acs/azurecontainerstorage/_validators.py
  src/azure-cli/azure/cli/command_modules/acs/azurecontainerstorage/acstor_ops.py
  src/azure-cli/azure/cli/command_modules/acs/managed_cluster_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_validators.py
Labels: AKS, Auto-Assign

#29453 [Containerapp] Fix #29330: `az containerapp auth update`: Fix split logic for `--set`
  src/azure-cli/azure/cli/command_modules/containerapp/_utils.py
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/recordings/test_containerapp_auth_e2e.yaml
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/test_containerapp_auth_commands.py
Labels: Auto-Assign, ContainerApp

#29457 [RDBMS] `az postgres flexible-server create`: Bug fix for using existing subnet while creating pg flex server
  src/azure-cli/azure/cli/command_modules/rdbms/flexible_server_virtual_network.py
Labels: Auto-Assign

#29460 [RDBMS] `az postgres flexible-server restore`: Bug fix when using resource id as value for source-server argument
  src/azure-cli/azure/cli/command_modules/rdbms/flexible_server_custom_postgres.py
Labels: Backup, Auto-Assign

#29121 {Misc.} Remove all occurrences of assertDictContainsSubset
  src/azure-cli-core/azure/cli/core/tests/test_command_registration.py
Labels: customer-reported

#29443 [RDBMS] BREAKING CHANGE: Update default value of PG version to be 16 for `postgres flexible-server create`
  src/azure-cli/azure/cli/command_modules/rdbms/_params.py
  src/azure-cli/azure/cli/command_modules/rdbms/flexible_server_custom_postgres.py
Labels: Auto-Assign

#29464 {CI} Add issue comment with non-security label
  .github/template/non-security-comment.md
  .github/workflows/AddIssueCommentWithLabel.yml
Labels: CI, Auto-Assign

#29433 {Packaging} Use latest setuptools in Alpine docker image
  alpine.dockerfile
Labels: Packaging, Auto-Assign

#29404 [Role] `az role assignment list`: Add warning for classic administrators retirement
  src/azure-cli/azure/cli/command_modules/role/_help.py
  src/azure-cli/azure/cli/command_modules/role/_params.py
  src/azure-cli/azure/cli/command_modules/role/custom.py
Labels: RBAC, Auto-Assign

#29262 {Packaging} Relex version constraint of `psutil`
  src/azure-cli-core/setup.py
Labels: Packaging, Auto-Assign

#28796 {Core} Remove deprecated usages of distutils to support Python 3.12
  src/azure-cli-core/azure/cli/core/extension/__init__.py
  src/azure-cli/azure/cli/command_modules/acs/_loadbalancer.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/setup.py
Labels: Packaging, customer-reported, Auto-Assign

#29466 {Packaging} Bump cffi to 1.16.0
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
Labels: Packaging, Auto-Assign

#29486 {Packaging} Bump PyWin32 to 306
  src/azure-cli/requirements.py3.windows.txt
Labels: Packaging, Installation, Auto-Assign

#29441 [Core] `az logout`: Remove service principal access tokens from token cache
  src/azure-cli-core/azure/cli/core/_profile.py
  src/azure-cli-core/azure/cli/core/auth/identity.py
  src/azure-cli-core/azure/cli/core/auth/tests/test_identity.py
  src/azure-cli-core/azure/cli/core/tests/test_profile.py
Labels: Account, Core, Auto-Assign

#29448 [AKS] `az aks upgrade`: Support tier switch with AKS upgrade
  src/azure-cli/azure/cli/command_modules/acs/_help.py
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_upgrade_with_tier_switch.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
Labels: AKS, Auto-Assign

#29416 [Network] `az network vnet peering`: Support virtual network subnet peering
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/vnet/peering/_create.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/vnet/peering/_delete.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/vnet/peering/_list.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/vnet/peering/_show.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/vnet/peering/_update.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/vnet/peering/_wait.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_vnet_peering.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_vnet_peering_sync.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_vnet_peering_with_params.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_vnet_with_encryption.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Labels: Network, Auto-Assign

#29415 [Compute] `az vmss update`: Add new parameter `--enable-auto-os-upgrade` to support updating automatic OS upgrade policy argument
  src/azure-cli/azure/cli/command_modules/vm/_params.py
  src/azure-cli/azure/cli/command_modules/vm/_template_builder.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_update_enable_auto_os_upgrade.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Auto-Assign

#29434 [Service Connector] `az containerapp connection create containerapp`: Support ACA2ACA connection
  src/azure-cli/azure/cli/command_modules/serviceconnector/_help.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/_resource_config.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/_utils.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/_validators.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/custom.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_aca2aca_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_aca2aca_store_in_app_config.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/test_containerapp_connection_scenario.py
Labels: Auto-Assign, ContainerApp

#29420 [AKS] `az aks create/update`: Add `--network-policy none` option to command
  src/azure-cli/azure/cli/command_modules/acs/_help.py
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_install_azure_npm.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_install_calico_npm.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_uninstall_azure_npm.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_uninstall_calico_npm.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_managed_cluster_decorator.py
Labels: AKS, Auto-Assign

#29344 {ACR} Change: az acr login support for resource group and skip resource validation for non acr source registry in az acr import
  src/azure-cli/azure/cli/command_modules/acr/_docker_utils.py
  src/azure-cli/azure/cli/command_modules/acr/_params.py
  src/azure-cli/azure/cli/command_modules/acr/custom.py
  src/azure-cli/azure/cli/command_modules/acr/import.py
Labels: Container Registry, Auto-Assign

#29513 {RDBMS} `az postgres flexible-server migration create`: Update migration create help text for postgres flex
  src/azure-cli/azure/cli/command_modules/rdbms/_helptext_pg.py
Labels: Auto-Assign

#29321 {AppService} `az webapp`: Add parameter `--acr-identity` for `az webapp create` to allow users choose user assigned identity for acr image pull and add parameters `--acr-use-identity` and `--acr-identity` for `az webapp config set` to update acr image pull related configs
  src/azure-cli/azure/cli/command_modules/appservice/_help.py
  src/azure-cli/azure/cli/command_modules/appservice/_params.py
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_hyperv_acr_use_identity.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_linux_acr_use_identity.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_webapp_commands.py
Labels: Web Apps, Container Registry, Auto-Assign

#29507 {Compute} Fix tests to disable default outbound access
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_disk_trusted_launch.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_enable_trusted_launch_on_v2.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_guest_attestation_extension_and_msi.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_linux_vm_patch_mode.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_auto_shutdown.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_install_patches.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_ssh_key.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_ssh_key_ed25519.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_trusted_launch.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_trusted_launch_update.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_vmss_extension_autoupgrade.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_vmss_proxy_agent.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_simple_orchestration_mode.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Auto-Assign

#29484 {CI} Add CI trigger pipeline yaml for docs reference
  .azure-pipelines/reference-pipeline-trigger-bootstrap.yml
Labels: CI, Auto-Assign

#29190 [CosmosDB] `az cosmosdb delete`: Add `--no-wait`
  src/azure-cli/azure/cli/command_modules/cosmosdb/_help.py
  src/azure-cli/azure/cli/command_modules/cosmosdb/commands.py
  src/azure-cli/azure/cli/command_modules/cosmosdb/custom.py
Labels: CosmosDB, customer-reported, Auto-Assign

#29487 [Storage] `az storage fs directory upload/download`, `az storage blob sync`: Add back `--auth-mode login` as AzCopy supports Oauth now
  src/azure-cli-testsdk/azure/cli/testsdk/preparers.py
  src/azure-cli/azure/cli/command_modules/storage/azcopy/util.py
  src/azure-cli/azure/cli/command_modules/storage/commands.py
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/test_storage_adls_gen2_scenarios.py
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/test_storage_azcopy_scenarios.py
Labels: Storage, Auto-Assign

#29516 {App Service} `az webapp deploy/deployment`: Added checksum header to check file integrity in service, for linux app service
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_one_deploy_scm.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_track_runtimestatus_buildfailed.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_track_runtimestatus_runtimefailed.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_track_runtimestatus_runtimesucessful.yaml
Labels: Web Apps, Auto-Assign
