Repository Azure/azure-cli, pull requests merged in 2024-03, with the labels that each got.

#28482 [AKS] `az aks create`: Add optional parameter `--revision` to set revision for the Azure Service Mesh addon while creating AKS cluster
  src/azure-cli/azure/cli/command_modules/acs/_help.py
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/commands.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/managed_cluster_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_azure_service_mesh_enable_disable.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_azure_service_mesh_get_revisions.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_azure_service_mesh_get_upgrades.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_azure_service_mesh_with_ingress_gateway.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_azure_service_mesh_with_pluginca.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_managed_cluster_decorator.py
Labels: AKS, Auto-Assign

#28477 {SQL} `az mi create/update`: Update `--database-format` and `--pricing-model` parameters examples.
  src/azure-cli/azure/cli/command_modules/sql/_help.py
Labels: SQL - Managed Instance

#28487 {cosmosdb} Ignore CosmosDb Analytical Storage Disable Test
  src/azure-cli/azure/cli/command_modules/cosmosdb/tests/latest/test_cosmosdb_commands.py
Labels: Storage, CosmosDB, customer-reported, Auto-Assign

#28516 [Network] `az network dns record-set`: Add `--traffic-management-profile` for TMLink recordset feature
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/dns/record_set/_create.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/dns/record_set/_list.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/dns/record_set/_list_by_type.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/dns/record_set/_show.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/dns/record_set/_update.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_dns_alias.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_dns_tmlink.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_dns_commands.py
Labels: Network, Auto-Assign

#28515 {AppConfig} `az appconfig kv list/export`: Fix keyvault command args
  src/azure-cli/azure/cli/command_modules/appconfig/_kv_helpers.py
  src/azure-cli/azure/cli/command_modules/appconfig/tests/latest/recordings/test_resolve_keyvault.yaml
Labels: KeyVault, App Configuration, Auto-Assign

#28507 [AKS] `az aks mesh get-upgrades`: Fix command failure with a traceback if ASM addon is disabled
  src/azure-cli/azure/cli/command_modules/acs/custom.py
Labels: AKS, Auto-Assign

#28463 {ACS} `az aks approuting`: Creating commands for approuting enable|disable|keyvault as well as dns zone add|remove|list
  src/azure-cli/azure/cli/command_modules/acs/_client_factory.py
  src/azure-cli/azure/cli/command_modules/acs/_consts.py
  src/azure-cli/azure/cli/command_modules/acs/_help.py
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/commands.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/managed_cluster_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_approuting_enable_disable.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_approuting_enable_with_keyvault_secrets_provider_addon_and_keyvault_id.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_approuting_update.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_approuting_zone_add_delete_list.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_approuting_zone_update.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_with_app_routing_enabled.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_managed_cluster_decorator.py
Labels: KeyVault, AKS, Auto-Assign

#28504 [AKS] `az aks create/update`: Enable mooncake support for managed prometheus addon
  src/azure-cli/azure/cli/command_modules/acs/azuremonitormetrics/amw/defaults.py
  src/azure-cli/azure/cli/command_modules/acs/azuremonitormetrics/azuremonitorprofile.py
  src/azure-cli/azure/cli/command_modules/acs/azuremonitormetrics/constants.py
  src/azure-cli/azure/cli/command_modules/acs/azuremonitormetrics/deaults.py
Labels: AKS, Auto-Assign

#28539 [Network] `az network application-gateway waf-policy`: Change default rule set from CRS3.0 to DRS2.1
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_app_gateway_waf_policy_managed_rules.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Labels: Network, Auto-Assign

#28531 {AppService} `az webapp config ssl upload`: Remove deprecated `OpenSSL.crypto.loads_pkcs12` for bumping `pyOpenSSL` to `24.0.0`
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_ssl.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_ssl_specify_hostname.yaml
Labels: Web Apps, customer-reported, Auto-Assign

#28556 {Core} Bump MSAL to 1.27.0 and pin `pymsalruntime` to 0.14.0
  src/azure-cli-core/setup.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
Labels: Account, Core, Auto-Assign

#28570 [AKS] `az aks create/update`: Block Azure Managed Grafana for managed prometheus addon in air gapped cloud
  src/azure-cli/azure/cli/command_modules/acs/azuremonitormetrics/azuremonitorprofile.py
Labels: AKS, Auto-Assign

#28251 [ACS] `az aks create/update`: Introduce changes for Azure container storage in ACS cli
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/azurecontainerstorage/__init__.py
  src/azure-cli/azure/cli/command_modules/acs/azurecontainerstorage/_consts.py
  src/azure-cli/azure/cli/command_modules/acs/azurecontainerstorage/_helpers.py
  src/azure-cli/azure/cli/command_modules/acs/azurecontainerstorage/_validators.py
  src/azure-cli/azure/cli/command_modules/acs/azurecontainerstorage/acstor_ops.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/linter_exclusions.yml
  src/azure-cli/azure/cli/command_modules/acs/managed_cluster_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_validators.py
Labels: Storage, AKS, Auto-Assign

#28583 [Compute] `az snapshot grant-access`: Add parameter `--file-format` to support specifying file format when making request for SAS on a VHDX file format snapshot
  src/azure-cli/azure/cli/command_modules/vm/_help.py
  src/azure-cli/azure/cli/command_modules/vm/_params.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_snapshot_access.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Auto-Assign

#28529 [Compute] `az vmss create`: Add `--enable-auto-os-upgrade` parameter to support AutomaticOSUpgrade while creating
  src/azure-cli/azure/cli/command_modules/vm/_params.py
  src/azure-cli/azure/cli/command_modules/vm/_template_builder.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_with_auto_os_upgrade.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Auto-Assign

#28624 {Packaging} Bump embedded Python version to 3.11.8
  build_scripts/windows/scripts/build.cmd
  scripts/release/debian/build.sh
Labels: Packaging, Auto-Assign

#28619 [Network] `az network virtual-appliance`: Add `--internet-ingress-ips` and `--network-profile`
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/virtual_appliance/_create.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/virtual_appliance/_delete.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/virtual_appliance/_list.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/virtual_appliance/_show.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/virtual_appliance/_update.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/virtual_appliance/_wait.py
Labels: Network, Auto-Assign

#28443 [ACR] Fix #14768: `az acr login`: Add environment Variable for docker command
  src/azure-cli/azure/cli/command_modules/acr/custom.py
Labels: Container Registry, customer-reported, Auto-Assign

#28626 {Core} Log the detected secrets' property name in telemetry
  src/azure-cli-core/azure/cli/core/commands/__init__.py
  src/azure-cli-core/azure/cli/core/telemetry.py
Labels: Core, Auto-Assign

#28618 {AppService} `az functionapp create`: Update runtimes and add MSI support
  src/azure-cli/azure/cli/command_modules/appservice/_constants.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_functionapp_commands.py
Labels: Functions, Auto-Assign

#28610 [Compute] `az sig image-definition create`: Add warning message for Hyper-V generation and Security Type
  src/azure-cli/azure/cli/command_modules/vm/custom.py
Labels: Compute, Auto-Assign

#28547 [Compute] `az vmss create/update`: Add parameters to specify the security posture to be used for all virtual machines in the scale set
  src/azure-cli/azure/cli/command_modules/vm/_help.py
  src/azure-cli/azure/cli/command_modules/vm/_params.py
  src/azure-cli/azure/cli/command_modules/vm/_template_builder.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_security_posture_reference.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Auto-Assign

#28245 {AKS} `az aks create`: Correct use of "comma-separated" in help
  src/azure-cli/azure/cli/command_modules/acs/_help.py
Labels: AKS, Auto-Assign

#28611 [Compute] `az capacity reservation group create/update`: Add new parameter `--sharing-profile` to support sharing capacity reservation group across subscriptions
  src/azure-cli/azure/cli/command_modules/vm/_params.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_capacity_reservation_sharing_profile.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Reservations, Auto-Assign

#28544 {Service Fabric} Bump sfmc sdk version
  src/azure-cli/azure/cli/command_modules/servicefabric/operations/managed_clusters.py
  src/azure-cli/azure/cli/command_modules/servicefabric/tests/latest/recordings/test_basic_cluster.yaml
  src/azure-cli/azure/cli/command_modules/servicefabric/tests/latest/recordings/test_cert_and_ext.yaml
  src/azure-cli/azure/cli/command_modules/servicefabric/tests/latest/recordings/test_managed_app_type.yaml
  src/azure-cli/azure/cli/command_modules/servicefabric/tests/latest/recordings/test_managed_app_type_version.yaml
  src/azure-cli/azure/cli/command_modules/servicefabric/tests/latest/recordings/test_managed_application.yaml
  src/azure-cli/azure/cli/command_modules/servicefabric/tests/latest/recordings/test_managed_service.yaml
  src/azure-cli/azure/cli/command_modules/servicefabric/tests/latest/recordings/test_network_security_rule.yaml
  src/azure-cli/azure/cli/command_modules/servicefabric/tests/latest/recordings/test_node_type_operation.yaml
  src/azure-cli/azure/cli/command_modules/servicefabric/tests/latest/test_sf_managed_application.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: Service Fabric, Auto-Assign

#28459 [AppConfig] `az appconfig feature filter update`: GA command
  src/azure-cli/azure/cli/command_modules/appconfig/_params.py
  src/azure-cli/azure/cli/command_modules/appconfig/commands.py
Labels: App Configuration, Auto-Assign

#27756 [AD] `az ad`: Rename Azure Active Directory to Microsoft Entra ID
  src/azure-cli/azure/cli/command_modules/role/_help.py
  src/azure-cli/azure/cli/command_modules/role/_params.py
  src/azure-cli/azure/cli/command_modules/role/custom.py
  src/azure-cli/service_name.json
Labels: Graph, AAD, Auto-Assign

#28627 {Compute} `az sig image-version create`: Change `--virtual-machine` parameter map to new VM backend field
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_gallery_soft_delete.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_image_version_create_for_diff_source.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Auto-Assign

#28466 [App Service] `az webapp deployment source config-zip`: Mark this command as deprecated, recommend using the `az webapp deploy` command instead of it
  src/azure-cli/azure/cli/command_modules/appservice/commands.py
Labels: Web Apps, Auto-Assign

#28399 [ARM] `az deployment`: Treat nullable parameters as non-required for Bicep deployment
  src/azure-cli/azure/cli/command_modules/resource/custom.py
  src/azure-cli/azure/cli/command_modules/resource/tests/hybrid_2018_03_01/param-validation-template-$ref-indirection.json
  src/azure-cli/azure/cli/command_modules/resource/tests/hybrid_2019_03_01/param-validation-template-$ref-indirection.json
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/nullable_params_are_not_required/main.bicep
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/param-validation-template-$ref-indirection.json
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/test_resource.py
Labels: ARM, Auto-Assign

#28641 {App Service} Revert #28297: `az webapp update`/`az appservice plan update`: Add new parameter `--elastic-web-app-scale-limit` and scaling parameter options"
  src/azure-cli/azure/cli/command_modules/appservice/_params.py
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_elastic_scale.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_elastic_scale_elastic_web_app_scale_limit.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_elastic_scale_min_elastic_instance_count.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_logicapp_commands.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_webapp_commands.py
Labels: Web Apps, customer-reported, Auto-Assign
