Repository Azure/azure-cli, pull requests merged in 2024-04, with the labels that each got.

#28634 {Core} Bump MSAL to 1.28.0 and PyMSALRuntime to 0.14.2a1
  src/azure-cli-core/setup.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
Labels: Account, Core, Auto-Assign

#28655 [AKS] `az aks create/update`: Prompt warning during disablement about CR deletion
  src/azure-cli/azure/cli/command_modules/acs/azuremonitormetrics/azuremonitorprofile.py
Labels: AKS, Auto-Assign

#28625 [Containerapp] `az containerapp env create`: Support `--dapr-connection-string` to set application insights connection string used by Dapr to export service to service communication telemetry
  src/azure-cli/azure/cli/command_modules/containerapp/_params.py
  src/azure-cli/azure/cli/command_modules/containerapp/containerapp_env_decorator.py
  src/azure-cli/azure/cli/command_modules/containerapp/custom.py
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/recordings/test_containerapp_env_dapr_connection_string.yaml
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/test_containerapp_env_commands.py
Labels: Auto-Assign, ContainerApp

#28621 {AppService} `az webapp`: Rename container related parameters and add parameters `--container-image-name` and `--container-registry-url` into commands `az webapp create` and `az webapp deployment slot create` to deprecate `--deployment-container-image-name`
  src/azure-cli/azure/cli/command_modules/appservice/_params.py
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_container_webapp_docker_image_name.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_container_webapp_long_server_url.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_linux_webapp_quick_create.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_hyperv_acr_use_identity.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_webapp_commands.py
Labels: Web Apps, Auto-Assign

#28673 {Core} Fix `random_config_dir` when `AZURE_CONFIG_DIR` is set
  src/azure-cli-core/azure/cli/core/mock.py
  src/azure-cli-testsdk/azure/cli/testsdk/base.py
Labels: Core, Auto-Assign

#28681 {RDBMS} Add support for ossrc cluster
  src/azure-cli/azure/cli/command_modules/rdbms/config.json
Labels: Backup, Auto-Assign

#28683 {AKS} change the location of kms-related test from centraluseuap to westcentralus
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
Labels: AKS, Auto-Assign

#28706 [CI] Limit workflow target branches
  .github/workflows/AddPRComment.yml
  .github/workflows/BlockPRMerge.yml
Labels: CI, Auto-Assign

#28490 {CI} Block PR merge on blocked labels
  .github/workflows/BlockPRMerge.yml
Labels: CI, Auto-Assign

#28607 [AKS] `az aks create/update`: Udpate RP registration code to work on azure monitor subscription
  src/azure-cli/azure/cli/command_modules/acs/azuremonitormetrics/amw/defaults.py
  src/azure-cli/azure/cli/command_modules/acs/azuremonitormetrics/amw/helper.py
  src/azure-cli/azure/cli/command_modules/acs/azuremonitormetrics/azuremonitorprofile.py
  src/azure-cli/azure/cli/command_modules/acs/azuremonitormetrics/helper.py
  src/azure-cli/azure/cli/command_modules/acs/tests/test_helper.py
Labels: AKS, Auto-Assign

#28702 {AKS} Fix load balancer sku in some test cases
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_api_server_authorized_ip_ranges.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_blb_vmas.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_blb_vmas_msi.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_default_setting.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_default_setting_msi.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_slb_vmss_with_default_mgd_outbound_ip_then_update.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_slb_vmss_with_default_mgd_outbound_ip_then_update_msi.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_slb_vmss_with_outbound_ip_prefixes_then_update.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_slb_vmss_with_outbound_ip_prefixes_then_update_msi.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_slb_vmss_with_outbound_ip_then_update.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_slb_vmss_with_outbound_ip_then_update_msi.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_managed_identity_without_service_principal.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_private_cluster.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
Labels: AKS, Auto-Assign

#28703 {AKS} Correct error message when updating outbound type
  src/azure-cli/azure/cli/command_modules/acs/managed_cluster_decorator.py
Labels: AKS, Auto-Assign

#28711 {RDBMS} Update code owners for rdbms
  .github/CODEOWNERS
Labels: Auto-Assign

#28687 [RDBMS] Add support for major version upgrade to PG16
  src/azure-cli/azure/cli/command_modules/rdbms/_params.py
Labels: Auto-Assign

#28546 [Service Connector] `az aks connection`: AKS support for Service Connector
  src/azure-cli/azure/cli/command_modules/serviceconnector/_help.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/_params.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/_resource_config.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/_utils.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/_validators.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/action.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/commands.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/custom.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_kubernetes_confluentkafka_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_kubernetes_keyvault_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_kubernetes_mysql_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_kubernetes_servicebus_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_kubernetes_storageblob_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_kubernetes_storageblob_secretstore_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_kubernetes_storageblob_workload_identity_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/test_kubernetes_connection_scenario.py
Labels: AKS, Auto-Assign

#28697 [Network] `az network virtual-appliance inbound-security-rule`: Support for Permanent Inbound Security Rule
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/virtual_appliance/inbound_security_rule/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/virtual_appliance/inbound_security_rule/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/virtual_appliance/inbound_security_rule/_create.py
Labels: Network, Auto-Assign

#28743 {Mysql} Removed preview tag from Advanced Threat Protection for Azure MySQL
  src/azure-cli/azure/cli/command_modules/mysql/commands.py
Labels: Auto-Assign

#28746 {Compute} `az vm user update`: Add more details in the help message
  src/azure-cli/azure/cli/command_modules/vm/_help.py
Labels: Compute, Auto-Assign

#28089 [Service Connector] `az webapp/containerapp/spring connection create/update`: Store configurations in App Config
  src/azure-cli/azure/cli/command_modules/serviceconnector/_params.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/_utils.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/custom.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_webapp_storageblob_store_in_app_config.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/test_webpp_connection_scenario.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: Web Apps, App Configuration, Auto-Assign, ContainerApp

#28709 [NetAppFiles] Add zones to volume-group, update min for usage-threshold volume create
  src/azure-cli/azure/cli/command_modules/netappfiles/aaz/latest/netappfiles/volume/_create.py
  src/azure-cli/azure/cli/command_modules/netappfiles/aaz/latest/netappfiles/volume/_update.py
  src/azure-cli/azure/cli/command_modules/netappfiles/custom.py
Labels: NetAppFiles, Auto-Assign

#28747 {Core} Bump `msal-extensions` to 1.2.0b1
  src/azure-cli-core/setup.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
Labels: Account, Core, ARM, Auto-Assign

#28736 [App Service] `az webapp config set`: Add new parameter `--runtime` to allow users to update their stack by using single parameter
  src/azure-cli/azure/cli/command_modules/appservice/_params.py
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_config.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_webapp_commands.py
Labels: Web Apps, Auto-Assign

#28594 {Docs} Updated references in documentation, misc fixes
  doc/authoring_help.md
  doc/authoring_tests.md
  doc/breaking_change_detection_guidelines.md
  doc/classic_cli_migration.md
  doc/command_guidelines.md
  doc/debug/debug_in_vs_code.md
  doc/error_handling_guidelines.md
  doc/extensions/README.md
  doc/extensions/authoring.md
  doc/extensions/extension_summary_guidelines.md
  doc/extensions/versioning_guidelines.md
  doc/how_to_bump_SDK_version_in_cli.md
  doc/install_troubleshooting.md
  doc/microsoft_graph_client.md
  doc/parampersist_localcontext_guidelines.md
  doc/private_endpoint_connection_command_guideline.md
  doc/quoting-issues-with-powershell.md
  doc/shorthand_syntax.md
  doc/storage_data_plane_commands_auth.md
  doc/telemetry/README.md
  doc/telemetry/faq.md
  doc/telemetry/kusto_examples.md
  doc/track_2_migration_roadmap.md
  doc/use_cli_effectively.md
  doc/use_cli_in_airgapped_clouds.md
  doc/use_cli_with_git_bash.md
  doc/version_management.md
Labels: customer-reported

#28759 [Containerapp] Fix #28553: `az containerapp exec`: Fix the error of `inappropriate ioctl for device`
  src/azure-cli/azure/cli/command_modules/containerapp/_ssh_utils.py
  src/azure-cli/azure/cli/command_modules/containerapp/_validators.py
  src/azure-cli/azure/cli/command_modules/containerapp/custom.py
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/recordings/test_containerapp_exec.yaml
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/recordings/test_containerapp_logstream.yaml
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/test_containerapp_scenario.py
Labels: Auto-Assign, ContainerApp

#28411 [Monitor] `az monitor log-analytics workspace update`: Add parameter `sku_name`
  src/azure-cli/azure/cli/command_modules/acr/tests/latest/recordings/test_acr_create_with_audits.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_existing_workspace.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_with_app_insights_conn_string.yaml
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/log_analytics/cluster/_create.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/log_analytics/cluster/_delete.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/log_analytics/cluster/_list.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/log_analytics/cluster/_show.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/log_analytics/cluster/_update.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/log_analytics/cluster/_wait.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/log_analytics/workspace/_create.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/log_analytics/workspace/_delete.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/log_analytics/workspace/_list.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/log_analytics/workspace/_show.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/log_analytics/workspace/_update.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/log_analytics/workspace/_wait.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/log_analytics/workspace/table/_create.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/log_analytics/workspace/table/_update.py
  src/azure-cli/azure/cli/command_modules/monitor/operations/log_analytics_workspace.py
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_diagnostic_settings_marketplace_id.yaml
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_diagnostic_settings_scenario.yaml
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_diagnostic_settings_subscription.yaml
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_diagnostic_settings_workspace.yaml
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_log_analytics_cluster_default.yaml
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_log_analytics_cluster_update_key.yaml
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_log_analytics_workspace_data_collection_rules.yaml
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_log_analytics_workspace_data_export.yaml
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_log_analytics_workspace_default.yaml
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_log_analytics_workspace_link_target_available_service.yaml
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_log_analytics_workspace_linked_storage.yaml
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_log_analytics_workspace_public_access.yaml
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_log_analytics_workspace_recover.yaml
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_log_analytics_workspace_saved_search.yaml
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_log_analytics_workspace_table.yaml
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_log_analytics_workspace_table_name_validation.yaml
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_log_analytics_workspace_table_restore_datetime_adjust.yaml
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_log_analytics_workspace_table_retention_validation.yaml
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_log_analytics_workspace_table_total_retention_upper_fix.yaml
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_log_analytics_workspace_update_sku.yaml
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/test_monitor_log_analytics_cluster.py
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/test_monitor_log_analytics_workspace.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_nw_connection_monitor_output.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_nw_connection_monitor_output_type_as_workspace.yaml
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/recordings/test_sql_db_security_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/recordings/test_sql_server_ms_support_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/recordings/test_sql_server_security_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/synapse/tests/latest/recordings/test_sql_pool_audit_policy_logentry_eventhub.yaml
  src/azure-cli/azure/cli/command_modules/synapse/tests/latest/recordings/test_sql_ws_audit_policy_logentry_eventhub.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_create_with_workspace_linux.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_create_with_workspace_windows.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Monitor, Auto-Assign

#28761 [Compute] `az vmss create`: Add support of configure the rolling mode upgrade policy during VMSS creation
  src/azure-cli/azure/cli/command_modules/vm/_params.py
  src/azure-cli/azure/cli/command_modules/vm/_template_builder.py
  src/azure-cli/azure/cli/command_modules/vm/_vmss_application_health.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_set_rolling_upgrade_policy_during_creation.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_with_max_surge.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Auto-Assign

#28738 {Storage} `az storage blob show`: Use try catch for `GetPageRange` after `GetBlobProperties` in `blob show`
  src/azure-cli/azure/cli/command_modules/storage/operations/blob.py
  src/azure-cli/azure/cli/command_modules/storage/operations/blob_azure_stack.py
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/test_storage_blob_copy_scenarios.py
Labels: Storage, Auto-Assign

#28765 {CI} Config assignee for modules
  .github/policies/resourceManagement.yml
Labels: CI, Auto-Assign

#28773 [Compute] `az capacity reservation group list`: Add new parameter `--resource-ids-only` to support retrieving the capacity reservation group resource ids
  src/azure-cli/azure/cli/command_modules/vm/_help.py
  src/azure-cli/azure/cli/command_modules/vm/_params.py
  src/azure-cli/azure/cli/command_modules/vm/aaz/latest/capacity/reservation/group/__init__.py
  src/azure-cli/azure/cli/command_modules/vm/aaz/latest/capacity/reservation/group/_list.py
  src/azure-cli/azure/cli/command_modules/vm/commands.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_capacity_reservation_list_query_params.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_capacity_reservation_sharing_profile.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Reservations, Auto-Assign

#28695 [RDBMS] Add MigrationRuntimeResourceId to properties of creating migration request in CLI
  src/azure-cli/azure/cli/command_modules/rdbms/_helptext_pg.py
  src/azure-cli/azure/cli/command_modules/rdbms/flexible_server_custom_postgres.py
  src/azure-cli/azure/cli/command_modules/rdbms/validators.py
Labels: Auto-Assign

#28639 {Storage} Fix #27671: `az storage share close-handle`: Fix duplicate kwarg error when closing a handle by id
  src/azure-cli/azure/cli/command_modules/storage/operations/fileshare.py
Labels: Storage, customer-reported, Auto-Assign

#28785 {CI} Distinguish `az network/az network bastion/az network dns` and route to the corresponding service team
  .github/policies/resourceManagement.yml
Labels: Network, CI, Auto-Assign

#28764 {Core} Remove duplicate credential warning
  src/azure-cli-core/azure/cli/core/commands/__init__.py
  src/azure-cli-core/azure/cli/core/commands/constants.py
Labels: Core, Graph, Auto-Assign

#28613 [App Service] Fix #28588: `az webapp config access-restriction add`: Check for null before getting values
  src/azure-cli/azure/cli/command_modules/appservice/_validators.py
Labels: Web Apps, Auto-Assign

#28715 [AppService] `az webapp list`: Add parameter `--show-details` to include detailed site configuration of listed webapps in output
  src/azure-cli/azure/cli/command_modules/appservice/_params.py
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_list_show_details.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_webapp_commands.py
Labels: Web Apps, Auto-Assign

#28768 [backup] Support new operations for MUA
  linter_exclusions.yml
  src/azure-cli/azure/cli/command_modules/backup/_help.py
  src/azure-cli/azure/cli/command_modules/backup/_params.py
  src/azure-cli/azure/cli/command_modules/backup/custom.py
  src/azure-cli/azure/cli/command_modules/backup/custom_afs.py
  src/azure-cli/azure/cli/command_modules/backup/custom_base.py
  src/azure-cli/azure/cli/command_modules/backup/custom_help.py
  src/azure-cli/azure/cli/command_modules/backup/custom_wl.py
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_backup_container.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_backup_item.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_backup_policy.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_backup_protection.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_backup_restore.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_backup_rp.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_backup_scenario.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_unregister_container.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_archive.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_container.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_crr.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_disk_exclusion.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_encryption.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_identity.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_item.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_job.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_policy.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_protection.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_restore.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_restore_when_storage_in_different_rg.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_rg_mapping.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_rp.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_scenario.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_softdelete.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_vault.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_sql_archive.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_sql_auto_protection.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_sql_container.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_sql_crr.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_sql_item.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_sql_policy.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_sql_protectable_item.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_sql_protection.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_sql_restore.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_sql_restore_as_files.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_sql_rp.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/test_afs_commands.py
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/test_backup_commands.py
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/test_hana_commands.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: Backup, Auto-Assign

#28580 [ARM] `az bicep install`: Support additional process architectures with Bicep CLI
  src/azure-cli/azure/cli/command_modules/resource/_bicep.py
  src/azure-cli/azure/cli/command_modules/resource/_params.py
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/test_resource_bicep.py
Labels: ARM, Auto-Assign

#28654 [ARM] `az deployment`: Return better message on incorrect bicepparam file path
  src/azure-cli/azure/cli/command_modules/resource/_bicep.py
  src/azure-cli/azure/cli/command_modules/resource/custom.py
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/test_resource.py
Labels: ARM, Auto-Assign

#28728 [ARM] Deprecate command arguments for `az bicep format` and `az bicep publish`
  src/azure-cli/azure/cli/command_modules/resource/_help.py
  src/azure-cli/azure/cli/command_modules/resource/_params.py
  src/azure-cli/azure/cli/command_modules/resource/custom.py
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/test_resource_custom.py
Labels: ARM, Auto-Assign

#28754 [Service Connector] `az source connection create`: Support auth opt out
  src/azure-cli/azure/cli/command_modules/serviceconnector/_params.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/_resource_config.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/_utils.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/_validators.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/custom.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_webapp_storage_blob_null_auth.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_webapp_storage_blob_system_identity_opt_out_auth.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_webapp_storageblob_secret_opt_out_config.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_webapp_storageblob_secret_opt_out_public_network.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_webapp_storageblob_secret_opt_out_public_network_and_config.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/test_webpp_connection_scenario.py
Labels: Web Apps, Auto-Assign

#28663 [Service Fabric] `az sf managed-cluster network-security-rule`: Add new network security rule commands
  src/azure-cli/azure/cli/command_modules/servicefabric/_help.py
  src/azure-cli/azure/cli/command_modules/servicefabric/_params.py
  src/azure-cli/azure/cli/command_modules/servicefabric/_validators.py
  src/azure-cli/azure/cli/command_modules/servicefabric/commands.py
  src/azure-cli/azure/cli/command_modules/servicefabric/operations/managed_clusters.py
  src/azure-cli/azure/cli/command_modules/servicefabric/tests/latest/recordings/test_network_security_rule.yaml
  src/azure-cli/azure/cli/command_modules/servicefabric/tests/latest/test_sf_managed_cluster.py
Labels: Network, Service Fabric, Auto-Assign

#28795 [App Service] `az functionapp create`, `az functionapp list-flexconsumption-runtimes`: Add support of Stacks API for Flex SKUs
  src/azure-cli/azure/cli/command_modules/appservice/_constants.py
  src/azure-cli/azure/cli/command_modules/appservice/_params.py
  src/azure-cli/azure/cli/command_modules/appservice/commands.py
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_acr_create_function_app.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_acr_deployment_function_app.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_acr_integration_function_app.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_assign_user_identity.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_container_config_set_replicas.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_enable_dapr.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_powershell_version.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_remove_identity.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_reserved_instance.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_slot_appsetting_update.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_slot_swap.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_with_default_distributed_tracing.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_workloadprofiles.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_functionapp_commands.py
Labels: Functions, Auto-Assign

#28784 [Batch] upgrade azure batch API version to 2024-02-01
  src/azure-cli/azure/cli/command_modules/batch/_params.py
  src/azure-cli/azure/cli/command_modules/batch/linter_exclusions.yml
  src/azure-cli/azure/cli/command_modules/batch/tests/latest/recordings/test_batch_application_cmd.yaml
  src/azure-cli/azure/cli/command_modules/batch/tests/latest/recordings/test_batch_byos_account_cmd.yaml
  src/azure-cli/azure/cli/command_modules/batch/tests/latest/recordings/test_batch_certificate_cmd.yaml
  src/azure-cli/azure/cli/command_modules/batch/tests/latest/recordings/test_batch_general_arm_cmd.yaml
  src/azure-cli/azure/cli/command_modules/batch/tests/latest/recordings/test_batch_job_list_cmd.yaml
  src/azure-cli/azure/cli/command_modules/batch/tests/latest/recordings/test_batch_jobs_and_tasks.yaml
  src/azure-cli/azure/cli/command_modules/batch/tests/latest/recordings/test_batch_managed_identity_cmd.yaml
  src/azure-cli/azure/cli/command_modules/batch/tests/latest/recordings/test_batch_network_profile_cmd.yaml
  src/azure-cli/azure/cli/command_modules/batch/tests/latest/recordings/test_batch_pool_cmd.yaml
  src/azure-cli/azure/cli/command_modules/batch/tests/latest/recordings/test_batch_pool_enableAcceleratedNetworking_cmd.yaml
  src/azure-cli/azure/cli/command_modules/batch/tests/latest/recordings/test_batch_pool_osDisk_cmd.yaml
  src/azure-cli/azure/cli/command_modules/batch/tests/latest/recordings/test_batch_pool_trustedLaunch_cmd.yaml
  src/azure-cli/azure/cli/command_modules/batch/tests/latest/recordings/test_batch_pool_upgradePolicy_cmd.yaml
  src/azure-cli/azure/cli/command_modules/batch/tests/latest/recordings/test_batch_pools_and_nodes.yaml
  src/azure-cli/azure/cli/command_modules/batch/tests/latest/recordings/test_batch_privateendpoint_cmd.yaml
  src/azure-cli/azure/cli/command_modules/batch/tests/latest/recordings/test_batch_task_create_cmd.yaml
  src/azure-cli/azure/cli/command_modules/batch/tests/latest/test_batch_commands.py
  src/azure-cli/azure/cli/command_modules/batch/tests/latest/test_batch_data_plane_commands.py
  src/azure-cli/azure/cli/command_modules/batch/tests/latest/test_batch_mgmt_commands.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_private_endpoint_connection_batch_account.yaml
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: Batch, Auto-Assign

#28804 {RDBMS} Revert - Add MigrationRuntimeResourceId to properties of creating migration request in CLI
  src/azure-cli/azure/cli/command_modules/rdbms/_helptext_pg.py
  src/azure-cli/azure/cli/command_modules/rdbms/flexible_server_custom_postgres.py
  src/azure-cli/azure/cli/command_modules/rdbms/validators.py
Labels: Auto-Assign

#28806 [AKS] `az aks nodepool add`: Add `--disable-windows-outbound-nat` to add a Windows agent pool which the Windows OutboundNAT is disabled
  src/azure-cli/azure/cli/command_modules/acs/_help.py
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/_validators.py
  src/azure-cli/azure/cli/command_modules/acs/agentpool_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/linter_exclusions.yml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_nodepool_add_with_disable_windows_outbound_nat.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_validators.py
Labels: AKS, Auto-Assign

#28807 [ACR] OnPrem: Connected-registry create: Mode default value changed to readOnly
  src/azure-cli/azure/cli/command_modules/acr/_params.py
  src/azure-cli/azure/cli/command_modules/acr/connected_registry.py
  src/azure-cli/azure/cli/command_modules/acr/tests/latest/test_acr_connectedregistry_commands.py
Labels: Container Registry, Auto-Assign

#28820 [AKS] `aks mesh upgrade rollback/complete`: Add `--yes` parameter to support not prompting the users to confirm the operation
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/managed_cluster_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_azure_service_mesh_canary_upgrade.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
Labels: AKS, Auto-Assign
