Repository Azure/azure-cli, pull requests merged in 2024-02, with the labels that each got.

#28299 {Network} `az network application-gateway private-link add`: Improve error message for excessive name length
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/application_gateway/private_link/_add.py
Labels: Network, Auto-Assign

#28272 [Containerapp] `az containerapp revision copy`: Fix `--from-revision` bug for inheriting a specific revision contains scale rules
  src/azure-cli/azure/cli/command_modules/containerapp/custom.py
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/recordings/test_containerapp_scale_revision_copy.yaml
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/test_containerapp_commands.py
Labels: Auto-Assign, ContainerApp

#28313 {CI} Fix regression test pipeline
  scripts/regression_test/extension_regression_test.yml
  scripts/regression_test/regression_test.yml
Labels: CI, Auto-Assign

#27301 [Sqlvm] Fix #27300: `az sql vm group create`: `cluster_subnet_type` should only be passed into `WsfcDomainProfile`
  src/azure-cli/azure/cli/command_modules/sqlvm/custom.py
  src/azure-cli/azure/cli/command_modules/sqlvm/tests/latest/recordings/test_sqlvm_group_mgmt.yaml
Labels: SQL, Auto-Assign

#28308 {Storage} Fix typo (capitalization) in docs/ADLS Gen2.md
  src/azure-cli/azure/cli/command_modules/storage/docs/ADLS Gen2.md
Labels: customer-reported

#28331 {CI} Modify live test pipeline to use service principal
  scripts/live_test/CLITest.yml
  scripts/live_test/generate_index.py
  scripts/live_test/sendemail.py
  scripts/live_test/upload.py
Labels: CI, Auto-Assign

#28188 [ARM] Fix #27855: `az bicep generate-params`: Bicep install messages sent to stdout
  src/azure-cli/azure/cli/command_modules/resource/custom.py
Labels: ARM, customer-reported, Installation, Auto-Assign

#28237 [App Service] `az webapp up/create/update`: Add new parameter `--basic-auth` to allow users to enable and disable basic auth
  src/azure-cli/azure/cli/command_modules/appservice/_params.py
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_update.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_webapp_commands.py
Labels: Web Apps, Auto-Assign

#28326 [AKS] Add monitoring addon to support default workspace in AGC
  src/azure-cli/azure/cli/command_modules/acs/addonconfiguration.py
Labels: AKS, Auto-Assign

#28279 [API Management] `az apim api export`: Add command to export an API Management API
  src/azure-cli/azure/cli/command_modules/apim/_help.py
  src/azure-cli/azure/cli/command_modules/apim/_params.py
  src/azure-cli/azure/cli/command_modules/apim/commands.py
  src/azure-cli/azure/cli/command_modules/apim/custom.py
  src/azure-cli/azure/cli/command_modules/apim/tests/latest/recordings/test_apim_deletedservice.yaml
  src/azure-cli/azure/cli/command_modules/apim/tests/latest/recordings/test_apim_export_api.yaml
  src/azure-cli/azure/cli/command_modules/apim/tests/latest/test_apim_scenario.py
Labels: API Management, Auto-Assign

#28182 {Core} Add `Context.Dafault.VS.Core.Istty` and `Context.Default.AzureCLI.UserAgent` in telemetry
  src/azure-cli-core/azure/cli/core/aaz/_client.py
  src/azure-cli-core/azure/cli/core/commands/client_factory.py
  src/azure-cli-core/azure/cli/core/sdk/policies.py
  src/azure-cli-core/azure/cli/core/telemetry.py
  src/azure-cli-core/azure/cli/core/util.py
Labels: Core, Auto-Assign

#28387 {Core} Fix #28312: Fix ValueError for getting `clients.show_secrets_warning` config in telemetry
  src/azure-cli-core/azure/cli/core/telemetry.py
Labels: Core, Auto-Assign

#28385 {Container app} `az containerapp env certificate upload`: Fix bumping `pyOpenSSL` to `24.0.0`, `OpenSSL.crypto.loads_pkcs12` is removed in `23.3.0`
  scripts/ci/credscan/CredScanSuppressions.json
  src/azure-cli/azure/cli/command_modules/containerapp/_utils.py
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/data/cert2.pfx
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/recordings/test_containerapp_env_certificate_e2e.yaml
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/recordings/test_containerapp_env_custom_domains.yaml
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/test_containerapp_utils.py
Labels: Auto-Assign, ContainerApp

#28310 {RDBMS} Add support for osshf cluster
  src/azure-cli/azure/cli/command_modules/rdbms/_config_reader.py
  src/azure-cli/azure/cli/command_modules/rdbms/config.json
  src/azure-cli/azure/cli/command_modules/rdbms/flexible_server_virtual_network.py
Labels: Backup, Auto-Assign

#28390 [Compute] `az vmss nic`: Update help messages to guild users to specific commands for Flexible VMSS
  src/azure-cli/azure/cli/command_modules/vm/aaz/latest/vmss/nic/_list.py
  src/azure-cli/azure/cli/command_modules/vm/aaz/latest/vmss/nic/_list_vm_nics.py
  src/azure-cli/azure/cli/command_modules/vm/aaz/latest/vmss/nic/_show.py
Labels: Compute, Auto-Assign

#28391 [Storage] Fix #28356: `az storage account or-policy update`: Fix `-p @policy.json` to allow passing in json files
  src/azure-cli/azure/cli/command_modules/storage/_params.py
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_account_or_policy.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/test_storage_account_scenarios.py
Labels: Storage, Auto-Assign

#28405 {Mysql} az mysql flexible-server import create: Remove preview tag
  src/azure-cli/azure/cli/command_modules/mysql/commands.py
Labels: Auto-Assign

#28410 [Storage] Fix #28341: `az storage blob upload-batch`: Support `--tags`, make `--overwrite` non-preview, update arg group
  src/azure-cli/azure/cli/command_modules/storage/_params.py
  src/azure-cli/azure/cli/command_modules/storage/_validators.py
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/test_storage_batch_operations.py
Labels: Storage, Auto-Assign

#28419 {RDBMS} Add missing config.json to rdbms package data to fix packaging error
  src/azure-cli/setup.py
Labels: Packaging, Auto-Assign

#28422 [CDN] Fix #28240: `az afd rule create`: Cannot create without condition
  src/azure-cli/azure/cli/command_modules/cdn/custom/custom_rule_util.py
  src/azure-cli/azure/cli/command_modules/cdn/tests/latest/recordings/test_afd_rule_crud.yaml
  src/azure-cli/azure/cli/command_modules/cdn/tests/latest/test_afd_rule_scenarios.py
Labels: Network, Network - CDN, customer-reported, Auto-Assign

#28421 [CDN] Fix #28223: `az afd route create`: Cannot create without `--content-types-to-compress`
  src/azure-cli/azure/cli/command_modules/cdn/custom/custom_afdx.py
  src/azure-cli/azure/cli/command_modules/cdn/tests/latest/recordings/test_afd_route_crud.yaml
  src/azure-cli/azure/cli/command_modules/cdn/tests/latest/test_afd_route_scenarios.py
Labels: Network, Network - CDN, customer-reported, Auto-Assign

#28427 {IoT} Updated recording processors and removed test keys
  src/azure-cli/azure/cli/command_modules/iot/_help.py
  src/azure-cli/azure/cli/command_modules/iot/tests/hybrid_2019_03_01/recordings/test_certificate_lifecycle.yaml
  src/azure-cli/azure/cli/command_modules/iot/tests/hybrid_2019_03_01/recordings/test_iot_hub.yaml
  src/azure-cli/azure/cli/command_modules/iot/tests/hybrid_2019_03_01/test_iot_commands.py
  src/azure-cli/azure/cli/command_modules/iot/tests/hybrid_2020_09_01/recording_processors.py
  src/azure-cli/azure/cli/command_modules/iot/tests/hybrid_2020_09_01/test_iot_commands.py
  src/azure-cli/azure/cli/command_modules/iot/tests/latest/test_iot_commands.py
  src/azure-cli/azure/cli/command_modules/iot/tests/latest/test_iot_dps_commands.py
  src/azure-cli/azure/cli/command_modules/iot/tests/utils/recording_processors.py
Labels: IoT, IoT/CLI, Auto-Assign

#28435 [Mysql] `az mysql flexible-server import create`: Change the default progress message from starting to running
  src/azure-cli/azure/cli/command_modules/mysql/_util.py
Labels: Auto-Assign

#28236 [AKS] `az aks create/update`: Update region map for default region creation with new Azure Monitor Workspace regions
  src/azure-cli/azure/cli/command_modules/acs/azuremonitormetrics/constants.py
Labels: AKS, Auto-Assign

#28420 {Core} Secrets warning will honor `--query` filter and `--output none`
  src/azure-cli-core/azure/cli/core/commands/__init__.py
Labels: Core, Auto-Assign

#28446 {Network} `az network vnet-gateway`: Add parameters `--allow-remote-vnet-traffic` and `--allow-vwan-traffic`
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/express_route/gateway/_create.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/express_route/gateway/_delete.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/express_route/gateway/_list.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/express_route/gateway/_show.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/express_route/gateway/_update.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/express_route/gateway/_wait.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/vnet_gateway/_create.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/vnet_gateway/_update.py
  src/azure-cli/azure/cli/command_modules/network/linter_exclusions.yml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_vnet_gateway_allow_traffic.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Labels: Network, Auto-Assign

#28432 [CDN] Fix #27744: `az afd origin-group`: Add parameter `--enable-health-probe`
  src/azure-cli/azure/cli/command_modules/cdn/commands.py
  src/azure-cli/azure/cli/command_modules/cdn/custom/custom_afdx.py
  src/azure-cli/azure/cli/command_modules/cdn/tests/latest/recordings/test_afd_origin_group_crud.yaml
  src/azure-cli/azure/cli/command_modules/cdn/tests/latest/test_afd_origin_group_scenarios.py
Labels: Network, Network - CDN, Auto-Assign

#28409 [Compute] Fix #28397: `az vm create`: Fix creating VM with `--security-type Standard`
  src/azure-cli/azure/cli/command_modules/vm/_validators.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_trusted_launch.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Auto-Assign

#27726 {Core} Replace `allow_broker` with `enable_broker_on_windows`
  src/azure-cli-core/azure/cli/core/_profile.py
  src/azure-cli-core/azure/cli/core/auth/identity.py
  src/azure-cli-core/azure/cli/core/auth/landing_pages/success.html
  src/azure-cli-core/azure/cli/core/telemetry.py
Labels: Account, Core, Auto-Assign

#28273 {AKS} Support reset default value for loadbalancer profile and natgateway profile
  src/azure-cli/azure/cli/command_modules/acs/_loadbalancer.py
  src/azure-cli/azure/cli/command_modules/acs/_natgateway.py
  src/azure-cli/azure/cli/command_modules/acs/managed_cluster_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_loadbalancer_then_update.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_loadbalancer.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_natgateway.py
Labels: AKS, Auto-Assign

#28454 {CI} Disable Credential Scanner
  azure-pipelines.yml
Labels: Installation, CI, Auto-Assign

#28364 [ACR] `az acr --help`: Update registry and webhook example names to be lowercase
  src/azure-cli/azure/cli/command_modules/acr/_help.py
Labels: Container Registry, Auto-Assign

#28230 [Compute] `az vmss application set`: Fix upates to the purchase plan are not supported when updating VMSS
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_show_list_sizes_list_ip_addresses.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_add_application.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_add_application_empty_version_ids.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_add_application_with_config_override.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_add_application_with_order_application.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Auto-Assign

#28456 {AKS}:Update test artifacts in acs
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_loadbalancer_then_update.yaml
Labels: AKS, Auto-Assign

#28108 [RDBMS] Fix #27713: `az postgres flexible-server list-skus -o table`: Fix table output from list-skus command
  src/azure-cli/azure/cli/command_modules/rdbms/_transformers.py
Labels: customer-reported, Auto-Assign

#28315 {Batch} Upgrade api-version to v2023-11-01
  src/azure-cli/azure/cli/command_modules/batch/_command_type.py
  src/azure-cli/azure/cli/command_modules/batch/_parameter_format.py
  src/azure-cli/azure/cli/command_modules/batch/_params.py
  src/azure-cli/azure/cli/command_modules/batch/_validators.py
  src/azure-cli/azure/cli/command_modules/batch/tests/latest/recordings/test_batch_application_cmd.yaml
  src/azure-cli/azure/cli/command_modules/batch/tests/latest/recordings/test_batch_byos_account_cmd.yaml
  src/azure-cli/azure/cli/command_modules/batch/tests/latest/recordings/test_batch_certificate_cmd.yaml
  src/azure-cli/azure/cli/command_modules/batch/tests/latest/recordings/test_batch_general_arm_cmd.yaml
  src/azure-cli/azure/cli/command_modules/batch/tests/latest/recordings/test_batch_job_list_cmd.yaml
  src/azure-cli/azure/cli/command_modules/batch/tests/latest/recordings/test_batch_jobs_and_tasks.yaml
  src/azure-cli/azure/cli/command_modules/batch/tests/latest/recordings/test_batch_managed_identity_cmd.yaml
  src/azure-cli/azure/cli/command_modules/batch/tests/latest/recordings/test_batch_network_profile_cmd.yaml
  src/azure-cli/azure/cli/command_modules/batch/tests/latest/recordings/test_batch_pool_cmd.yaml
  src/azure-cli/azure/cli/command_modules/batch/tests/latest/recordings/test_batch_pool_enableAcceleratedNetworking_cmd.yaml
  src/azure-cli/azure/cli/command_modules/batch/tests/latest/recordings/test_batch_pool_osDisk_cmd.yaml
  src/azure-cli/azure/cli/command_modules/batch/tests/latest/recordings/test_batch_pool_trustedLaunch_cmd.yaml
  src/azure-cli/azure/cli/command_modules/batch/tests/latest/recordings/test_batch_pools_and_nodes.yaml
  src/azure-cli/azure/cli/command_modules/batch/tests/latest/recordings/test_batch_privateendpoint_cmd.yaml
  src/azure-cli/azure/cli/command_modules/batch/tests/latest/recordings/test_batch_task_create_cmd.yaml
  src/azure-cli/azure/cli/command_modules/batch/tests/latest/test_batch_commands.py
  src/azure-cli/azure/cli/command_modules/batch/tests/latest/test_batch_data_plane_commands.py
  src/azure-cli/azure/cli/command_modules/batch/tests/latest/test_batch_mgmt_commands.py
  src/azure-cli/azure/cli/command_modules/network/azure_stack/private_link_resource_and_endpoint_connections/custom.py
  src/azure-cli/azure/cli/command_modules/network/private_link_resource_and_endpoint_connections/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_private_endpoint_connection_batch_account.yaml
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: Batch, Auto-Assign

#28300 [Compute] `az vmss`: Add new command `update-domain-walk` to support updating vm in a service fabric vmss
  src/azure-cli/azure/cli/command_modules/vm/aaz/latest/vmss/__init__.py
  src/azure-cli/azure/cli/command_modules/vm/aaz/latest/vmss/_update_domain_walk.py
Labels: Compute, Service Fabric, Auto-Assign

#28085 [Core] Use WAM as the default authentication method on Windows
  src/azure-cli-core/azure/cli/core/_profile.py
  src/azure-cli-core/azure/cli/core/auth/landing_pages/success.html
  src/azure-cli-core/setup.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
Labels: Account, Core, Auto-Assign

#28462 {IoT} Refactor KeyReplacer folder structure
  src/azure-cli/azure/cli/command_modules/iot/tests/hybrid_2019_03_01/test_iot_commands.py
  src/azure-cli/azure/cli/command_modules/iot/tests/hybrid_2020_09_01/test_iot_commands.py
  src/azure-cli/azure/cli/command_modules/iot/tests/latest/test_iot_commands.py
  src/azure-cli/azure/cli/command_modules/iot/tests/latest/test_iot_dps_commands.py
  src/azure-cli/azure/cli/command_modules/iot/tests/utils.py
Labels: Core, IoT, IoT/CLI, Auto-Assign

#28291 {AppService} `az functionapp create`: Updating DAPR config to match experience in Portal
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_enable_dapr.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_functionapp_commands.py
Labels: Functions, Portal, Auto-Assign

#28317 [Backup] `az backup item set-policy`: Add warning message for migration from Standard to Enhanced Policy
  src/azure-cli/azure/cli/command_modules/backup/_params.py
  src/azure-cli/azure/cli/command_modules/backup/custom.py
  src/azure-cli/azure/cli/command_modules/backup/custom_base.py
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_item.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_scenario.yaml
Labels: Backup, Auto-Assign

#28483 {Core} Revert #28085
  src/azure-cli-core/HISTORY.rst
  src/azure-cli-core/azure/cli/core/_profile.py
  src/azure-cli-core/azure/cli/core/auth/landing_pages/success.html
  src/azure-cli-core/setup.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
Labels: Account, Core, Auto-Assign
