Repository Azure/azure-cli, pull requests merged in 2024-01, with the labels that each got.

#27892 {Profile} Use v2.0 authority to resolve tenant ID
  src/azure-cli/azure/cli/command_modules/profile/_validators.py
Labels: Account, AAD, Auto-Assign

#28137 [Containerapp] `az containerapp update`: Revert (#27948)
  src/azure-cli/HISTORY.rst
  src/azure-cli/azure/cli/command_modules/containerapp/_utils.py
  src/azure-cli/azure/cli/command_modules/containerapp/custom.py
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/recordings/test_container_acr_env_var.yaml
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/recordings/test_containerapp_create_with_yaml.yaml
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/recordings/test_containerapp_replica_commands.yaml
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/recordings/test_containerappjob_eventtriggered_create_with_yaml.yaml
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/test_containerapp_commands.py
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/test_containerapp_scenario.py
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/test_containerappjob_executions.py
Labels: Auto-Assign, ContainerApp

#28096 {CI} Update policy config
  .github/policies/resourceManagement.yml
Labels: CI, Auto-Assign

#28157 {CI} Add permissions block for `Github Action Permission Changes`
  .github/workflows/AddIssueComment.yml
Labels: CI, Auto-Assign

#28095 {Service Connector} `az webapp/containerapp/spring connection create/update app-insights`: Support App Insights as target service
  src/azure-cli/azure/cli/command_modules/serviceconnector/_resource_config.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/custom.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/_test_utils.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_webapp_app_insights_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/test_springboot_cosmossql_scenario.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/test_springcloud_connection_scenario.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/test_webpp_connection_scenario.py
Labels: Web Apps, Auto-Assign, ContainerApp

#28090 {Packaging} Exclude Python test from DEB package
  scripts/release/debian/build.sh
Labels: Packaging, Auto-Assign

#28158 [Network] `az network vnet-gateway create/update`: Add parameter `--enable-private-ip`
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/vnet_gateway/_create.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/vnet_gateway/_list.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/vnet_gateway/_update.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_vnet_gateway_with_enable_private_ip_address.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Labels: Network, Auto-Assign

#28163 [Containerapp] `az containerapp update`: Fix issue for minReplicas in `--yaml` or `--min-replicas` is not set when the value is 0
  src/azure-cli/azure/cli/command_modules/containerapp/_utils.py
  src/azure-cli/azure/cli/command_modules/containerapp/custom.py
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/recordings/test_container_acr_env_var.yaml
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/recordings/test_containerapp_create_with_yaml.yaml
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/recordings/test_containerapp_job_custom_executionstest_e2e.yaml
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/recordings/test_containerapp_job_executionstest_e2e.yaml
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/recordings/test_containerapp_replica_commands.yaml
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/recordings/test_containerappjob_create_with_yaml.yaml
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/recordings/test_containerappjob_eventtriggered_create_with_yaml.yaml
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/test_containerapp_clean_null_values.py
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/test_containerapp_commands.py
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/test_containerapp_scenario.py
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/test_containerappjob_executions.py
Labels: Auto-Assign, ContainerApp

#28114 {Monitor} `az monitor metrics list`: Fix `--top` help message
  src/azure-cli/azure/cli/command_modules/monitor/_params.py
Labels: Monitor, Auto-Assign

#28170 [Network] Fix #28131: `az network vnet-gateway list`: Conflict key when apply client flatten
  src/azure-cli/azure/cli/command_modules/network/commands.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_vnet_gateway_nat_rule.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Labels: Network, Auto-Assign

#28168 [Service Connector] `az webapp connection create sql`: Support auto install for serviceconnector-passwordless extension
  src/azure-cli/azure/cli/command_modules/serviceconnector/_credential_free.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/_resource_config.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/action.py
Labels: Installation, Auto-Assign

#27833 [Consumption] Fix #20995 #23825: Update `az consumption` API version
  src/azure-cli/azure/cli/command_modules/consumption/aaz/latest/consumption/budget/_create.py
  src/azure-cli/azure/cli/command_modules/consumption/aaz/latest/consumption/budget/_create_with_rg.py
  src/azure-cli/azure/cli/command_modules/consumption/aaz/latest/consumption/budget/_delete.py
  src/azure-cli/azure/cli/command_modules/consumption/aaz/latest/consumption/budget/_delete_with_rg.py
  src/azure-cli/azure/cli/command_modules/consumption/aaz/latest/consumption/budget/_list.py
  src/azure-cli/azure/cli/command_modules/consumption/aaz/latest/consumption/budget/_show.py
  src/azure-cli/azure/cli/command_modules/consumption/aaz/latest/consumption/budget/_show_with_rg.py
  src/azure-cli/azure/cli/command_modules/consumption/aaz/latest/consumption/budget/_update.py
  src/azure-cli/azure/cli/command_modules/consumption/aaz/latest/consumption/budget/_update_with_rg.py
  src/azure-cli/azure/cli/command_modules/consumption/aaz/latest/consumption/marketplace/_list.py
  src/azure-cli/azure/cli/command_modules/consumption/aaz/latest/consumption/pricesheet/_show.py
  src/azure-cli/azure/cli/command_modules/consumption/aaz/latest/consumption/reservation/detail/_list.py
  src/azure-cli/azure/cli/command_modules/consumption/aaz/latest/consumption/reservation/summary/_list.py
  src/azure-cli/azure/cli/command_modules/consumption/aaz/latest/consumption/usage/_list.py
  src/azure-cli/azure/cli/command_modules/consumption/tests/latest/recordings/test_consumption_budget_create.yaml
  src/azure-cli/azure/cli/command_modules/consumption/tests/latest/recordings/test_consumption_budget_delete.yaml
  src/azure-cli/azure/cli/command_modules/consumption/tests/latest/recordings/test_consumption_budget_show.yaml
  src/azure-cli/azure/cli/command_modules/consumption/tests/latest/recordings/test_consumption_budget_usage_create.yaml
  src/azure-cli/azure/cli/command_modules/consumption/tests/latest/recordings/test_consumption_marketplace_list.yaml
  src/azure-cli/azure/cli/command_modules/consumption/tests/latest/recordings/test_consumption_marketplace_list_billing_period.yaml
  src/azure-cli/azure/cli/command_modules/consumption/tests/latest/recordings/test_consumption_marketplace_list_billing_period_filter.yaml
  src/azure-cli/azure/cli/command_modules/consumption/tests/latest/recordings/test_consumption_pricesheet.yaml
  src/azure-cli/azure/cli/command_modules/consumption/tests/latest/recordings/test_consumption_pricesheet_billing_period.yaml
  src/azure-cli/azure/cli/command_modules/consumption/tests/latest/recordings/test_consumption_usage_by_billing_period.yaml
  src/azure-cli/azure/cli/command_modules/consumption/tests/latest/recordings/test_consumption_usage_by_billing_period_expand.yaml
  src/azure-cli/azure/cli/command_modules/consumption/tests/latest/recordings/test_consumption_usage_list.yaml
  src/azure-cli/azure/cli/command_modules/consumption/tests/latest/recordings/test_consumption_usage_list_expand.yaml
  src/azure-cli/azure/cli/command_modules/consumption/tests/latest/recordings/test_consumption_usage_list_properties.yaml
  src/azure-cli/azure/cli/command_modules/consumption/tests/latest/recordings/test_list_reservations_details.yaml
  src/azure-cli/azure/cli/command_modules/consumption/tests/latest/recordings/test_list_reservations_details_with_reservationid.yaml
  src/azure-cli/azure/cli/command_modules/consumption/tests/latest/recordings/test_list_reservations_summaries_daily.yaml
  src/azure-cli/azure/cli/command_modules/consumption/tests/latest/recordings/test_list_reservations_summaries_daily_with_reservationid.yaml
  src/azure-cli/azure/cli/command_modules/consumption/tests/latest/recordings/test_list_reservations_summaries_monthly.yaml
  src/azure-cli/azure/cli/command_modules/consumption/tests/latest/recordings/test_list_reservations_summaries_monthly_with_reservationid.yaml
  src/azure-cli/azure/cli/command_modules/consumption/tests/latest/recordings/test_list_usages_subscription_custom_date_range.yaml
Labels: customer-reported

#28122 {Compute} `az vmss`: Bump API version to `2023-09-01`
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_with_trustedaccess_rolebinding.yaml
  src/azure-cli/azure/cli/command_modules/vm/aaz/latest/vmss/_delete.py
  src/azure-cli/azure/cli/command_modules/vm/aaz/latest/vmss/_get_os_upgrade_history.py
  src/azure-cli/azure/cli/command_modules/vm/aaz/latest/vmss/_list.py
  src/azure-cli/azure/cli/command_modules/vm/aaz/latest/vmss/_list_instances.py
  src/azure-cli/azure/cli/command_modules/vm/aaz/latest/vmss/_list_skus.py
  src/azure-cli/azure/cli/command_modules/vm/aaz/latest/vmss/_perform_maintenance.py
  src/azure-cli/azure/cli/command_modules/vm/aaz/latest/vmss/_simulate_eviction.py
  src/azure-cli/azure/cli/command_modules/vm/aaz/latest/vmss/nic/_list.py
  src/azure-cli/azure/cli/command_modules/vm/aaz/latest/vmss/nic/_list_vm_nics.py
  src/azure-cli/azure/cli/command_modules/vm/aaz/latest/vmss/nic/_show.py
  src/azure-cli/azure/cli/command_modules/vm/aaz/latest/vmss/rolling_upgrade/_cancel.py
  src/azure-cli/azure/cli/command_modules/vm/aaz/latest/vmss/rolling_upgrade/_get_latest.py
  src/azure-cli/azure/cli/command_modules/vm/aaz/latest/vmss/rolling_upgrade/_start.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_guest_attestation_extension_and_msi.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_create_and_modify.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_create_options.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_create_user_data.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_hibernate.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_linux_patch_mode.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_nics.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_reimage.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_run_command_v2.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_run_command_with_parameters.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_simulate_eviction.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_update.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_update_automatic_repairs_with_health_extension.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_update_automatic_repairs_with_health_probe.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_update_instance_disks.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_vms.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_vms_debian.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_windows_patch_mode.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Auto-Assign

#28138 [Keyvault] `az keyvault secret set-attributes`: Fix 'Datetime with no tzinfo will be considered UTC' warning
  src/azure-cli/azure/cli/command_modules/keyvault/_validators.py
Labels: KeyVault, Auto-Assign

#28164 {Core} Bump MSAL to 1.26.0
  src/azure-cli-core/setup.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
Labels: Account, Core, Auto-Assign

#28178 [Keyvault] `az keyvault create`: Add warning for upcoming breaking change that `--enable-rbac-authorization` will default to `true`
  src/azure-cli/azure/cli/command_modules/keyvault/custom.py
Labels: KeyVault, Auto-Assign

#27752 {Core} Fix reference doc for generic update arguments
  src/azure-cli-core/azure/cli/core/commands/arm.py
  src/azure-cli-core/azure/cli/core/tests/test_aaz_operation.py
  src/azure-cli-core/azure/cli/core/tests/test_generic_update.py
Labels: Core, Auto-Assign

#28181 {Packaging} Bump embedded Python version to 3.11.7
  build_scripts/windows/scripts/build.cmd
  scripts/release/debian/build.sh
Labels: Packaging, Auto-Assign

#28171 {AKS} fix test case of trustedaccess
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_with_trustedaccess_rolebinding.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
Labels: AKS, Auto-Assign

#28162 [Service Connector] `az webapp/functionapp/containerapp/springapp connection`: Support Microsoft Entra ID auth types for table storage
  src/azure-cli/azure/cli/command_modules/serviceconnector/_resource_config.py
Labels: Web Apps, Functions, Auto-Assign, ContainerApp

#27928 [Sql] `az sql db ltr-policy/ltr-backup`: Add support for backup storage access tier
  src/azure-cli/azure/cli/command_modules/sql/_help.py
  src/azure-cli/azure/cli/command_modules/sql/_params.py
  src/azure-cli/azure/cli/command_modules/sql/custom.py
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/test_sql_commands.py
Labels: SQL, Backup, Auto-Assign

#28115 {Storage} Fix #28069: `az storage account file-service-properties update`: Fix `--channel-encryption` in example
  src/azure-cli/azure/cli/command_modules/storage/_help.py
Labels: Storage, Auto-Assign

#28208 {App Service} Clean error messages relating to ASP creation
  src/azure-cli/azure/cli/command_modules/appservice/_client_factory.py
  src/azure-cli/azure/cli/command_modules/appservice/commands.py
Labels: ARM, Auto-Assign

#28209 [App Service] `az webapp create`: Add new parameter `--acr-use-identity` to configure pull image from ACR using MSI when creating a container web app
  src/azure-cli/azure/cli/command_modules/appservice/_params.py
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_hyperv_acr_use_identity.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_linux_acr_use_identity.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_webapp_commands.py
Labels: Web Apps, Container Registry, Auto-Assign

#28201 [Monitor] `az monitor metrics`: Add `list-sub` and `list-sub-definitions`
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/metrics/__init__.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/metrics/_list_sub.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/metrics/_list_sub_definitions.py
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_metrics_list_by_sub.yaml
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/test_monitor_metrics.py
Labels: Monitor, Auto-Assign

#28199 [Compute] `az vm monitor log show`: Deprecate `azure-loganalytics` and apply `azure-monitor-query`
  src/azure-cli/azure/cli/command_modules/vm/_client_factory.py
  src/azure-cli/azure/cli/command_modules/vm/_format.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_create_with_monitor.yaml
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: Compute, Auto-Assign

#28123 [Storage] `az storage file copy start`: Fix when copying between two storage accounts and source file has no parent directory
  src/azure-cli/azure/cli/command_modules/storage/_validators.py
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_file_copy_scenario.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/test_storage_file_scenarios.py
Labels: Storage, Auto-Assign

#28211 [Storage] Fix #28202: `az storage container policy create`: Fix creating an access policy would delete public access permission
  src/azure-cli/azure/cli/command_modules/storage/commands.py
  src/azure-cli/azure/cli/command_modules/storage/operations/blob.py
  src/azure-cli/azure/cli/command_modules/storage/operations/container_access_policy.py
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_blob_container_operations.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_container_access_policy_scenario.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/test_storage_blob_scenarios.py
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/test_storage_container_access_policy.py
Labels: Storage, Auto-Assign

#27983 [Sql] `az sql db ltr-policy set`: Add the make-backups-immutable parameter to ltr policy
  src/azure-cli/azure/cli/command_modules/sql/_help.py
  src/azure-cli/azure/cli/command_modules/sql/_params.py
  src/azure-cli/azure/cli/command_modules/sql/custom.py
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/test_sql_commands.py
Labels: SQL, Backup, Auto-Assign

#28212 {AKS} `aks trustedaccess rolebinding create`: Remove `--source-resource-id` parameter alias `-r`
  src/azure-cli/azure/cli/command_modules/acs/_help.py
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_with_trustedaccess_rolebinding.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
Labels: AKS, Auto-Assign

#28150 [Backup] `az backup restore restore-disks`: Add support for disk restore in edge-zone backups and support for TWN + TNW CRR
  src/azure-cli/azure/cli/command_modules/backup/_params.py
  src/azure-cli/azure/cli/command_modules/backup/custom.py
  src/azure-cli/azure/cli/command_modules/backup/custom_afs.py
  src/azure-cli/azure/cli/command_modules/backup/custom_base.py
  src/azure-cli/azure/cli/command_modules/backup/custom_wl.py
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/preparers.py
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_backup_container.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_backup_item.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_backup_policy.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_backup_restore.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_backup_rp.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_afs_unregister_container.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_container.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_sql_container.yaml
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: Backup, Auto-Assign

#28200 [AKS] `az aks upgrade`: Add forceupgrade settings to aks stable cli
  src/azure-cli/azure/cli/command_modules/acs/_help.py
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_upgrade_upgrade_settings.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_custom.py
Labels: AKS, Auto-Assign

#28206 [AKS] `az aks mesh`: Add `az aks mesh` commands to manage Azure Service Mesh in given cluster
  src/azure-cli/azure/cli/command_modules/acs/_consts.py
  src/azure-cli/azure/cli/command_modules/acs/_format.py
  src/azure-cli/azure/cli/command_modules/acs/_help.py
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/_validators.py
  src/azure-cli/azure/cli/command_modules/acs/commands.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/managed_cluster_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_azure_service_mesh_enable_disable.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_azure_service_mesh_get_revisions.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_azure_service_mesh_get_upgrades.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_azure_service_mesh_with_ingress_gateway.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_azure_service_mesh_with_pluginca.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_managed_cluster_decorator.py
Labels: AKS, Auto-Assign

#28219 [Network] `az network vnet-gateway`: Support ExpressRoute SKU
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/vnet_gateway/_create.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/vnet_gateway/_delete.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/vnet_gateway/_list.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/vnet_gateway/_show.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/vnet_gateway/_update.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/vnet_gateway/_wait.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_active_active_cross_premise_connection.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_active_active_vnet_connection.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_vnet_gateway_edge_zone.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_vnet_gateway_ipsec.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_vnet_gateway_local_gateway.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_vnet_gateway_multi_auth.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_vnet_gateway_multi_auth1.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_vnet_gateway_nat_rule.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_vnet_gateway_nat_rule_sub_cmd.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_vnet_gateway_with_enable_private_ip_address.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_vnet_peering.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_vnet_peering_sync.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_vpn_connection_ipsec.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_vpn_connection_nat_rule.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_vpn_gateway.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_vpn_gateway_aad.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_vpn_gateway_disconnect_connects.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_vpn_gateway_package_capture.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_vpn_gateway_sku.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_watcher_troubleshooting.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_vpn_client_package.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Labels: Network, Auto-Assign

#28189 [RDBMS] fix help statements for `az postgres flexible-server virtual-endpoint` and `az postgres flexible-server replica stop-replication`
  src/azure-cli/azure/cli/command_modules/rdbms/_helptext_pg.py
  src/azure-cli/azure/cli/command_modules/rdbms/_params.py
  src/azure-cli/azure/cli/command_modules/rdbms/flexible_server_commands.py
Labels: Auto-Assign

#28228 {MySQL} `az mysql flexible-server export create`: Add missing preview tag
  src/azure-cli/azure/cli/command_modules/mysql/commands.py
Labels: Backup, Auto-Assign

#28243 [Mysql] `az mysql flexible-server import create`: Add support for operation progress estimated completion time for import from physical backup from azure blob to flexible server
  src/azure-cli/azure/cli/command_modules/mysql/_util.py
  src/azure-cli/azure/cli/command_modules/mysql/custom.py
Labels: Storage, Backup, Auto-Assign

#27599 [Redis] Add support for 2023-08-01
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_private_endpoint_connection_acfr.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_private_link_resource_acfr.yaml
  src/azure-cli/azure/cli/command_modules/redis/_client_factory.py
  src/azure-cli/azure/cli/command_modules/redis/_help.py
  src/azure-cli/azure/cli/command_modules/redis/_params.py
  src/azure-cli/azure/cli/command_modules/redis/commands.py
  src/azure-cli/azure/cli/command_modules/redis/custom.py
  src/azure-cli/azure/cli/command_modules/redis/tests/latest/config_enable-aad.json
  src/azure-cli/azure/cli/command_modules/redis/tests/latest/recordings/test_redis_cache.yaml
  src/azure-cli/azure/cli/command_modules/redis/tests/latest/recordings/test_redis_cache_export_import.yaml
  src/azure-cli/azure/cli/command_modules/redis/tests/latest/recordings/test_redis_cache_firewall.yaml
  src/azure-cli/azure/cli/command_modules/redis/tests/latest/recordings/test_redis_cache_flush.yaml
  src/azure-cli/azure/cli/command_modules/redis/tests/latest/recordings/test_redis_cache_list_firewall_and_server_link_works.yaml
  src/azure-cli/azure/cli/command_modules/redis/tests/latest/recordings/test_redis_cache_list_keys.yaml
  src/azure-cli/azure/cli/command_modules/redis/tests/latest/recordings/test_redis_cache_list_works.yaml
  src/azure-cli/azure/cli/command_modules/redis/tests/latest/recordings/test_redis_cache_managed_identity.yaml
  src/azure-cli/azure/cli/command_modules/redis/tests/latest/recordings/test_redis_cache_patch_schedule.yaml
  src/azure-cli/azure/cli/command_modules/redis/tests/latest/recordings/test_redis_cache_reboot.yaml
  src/azure-cli/azure/cli/command_modules/redis/tests/latest/recordings/test_redis_cache_regenerate_key_update_tags.yaml
  src/azure-cli/azure/cli/command_modules/redis/tests/latest/recordings/test_redis_cache_server_link.yaml
  src/azure-cli/azure/cli/command_modules/redis/tests/latest/recordings/test_redis_cache_update.yaml
  src/azure-cli/azure/cli/command_modules/redis/tests/latest/recordings/test_redis_cache_update_channel.yaml
  src/azure-cli/azure/cli/command_modules/redis/tests/latest/recordings/test_redis_cache_with_aad.yaml
  src/azure-cli/azure/cli/command_modules/redis/tests/latest/recordings/test_redis_cache_with_mandatory_args.yaml
  src/azure-cli/azure/cli/command_modules/redis/tests/latest/recordings/test_redis_cache_with_redisversion.yaml
  src/azure-cli/azure/cli/command_modules/redis/tests/latest/recordings/test_redis_cache_with_tags_and_zones.yaml
  src/azure-cli/azure/cli/command_modules/redis/tests/latest/recordings/test_redis_cache_with_tlsversion_and_settings.yaml
  src/azure-cli/azure/cli/command_modules/redis/tests/latest/test_redis_scenario.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: Redis Cache, Auto-Assign

#28235 [App Service] `az webapp up`: Add `--track-status` arg to use deploymentstatus API
  src/azure-cli/azure/cli/command_modules/appservice/_constants.py
  src/azure-cli/azure/cli/command_modules/appservice/_params.py
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_deployment_source_track_runtimestatus_buildfailed.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_deployment_source_track_runtimestatus_runtimefailed.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_deployment_source_track_runtimestatus_runtimesucessful.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_webapp_commands.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_webapp_up_commands.py
  src/azure-cli/azure/cli/command_modules/appservice/utils.py
Labels: Web Apps, ARM, Auto-Assign

#27604 {AKS} `az aks nodepool add/update/upgrade`: Add new parameter `--node-soak-duration`
  src/azure-cli/azure/cli/command_modules/acs/_help.py
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/agentpool_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_nodepool_node_soak_duration.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
Labels: AKS, Auto-Assign

#28254 {Network} `az network vnet subnet`: Refine help messages
  src/azure-cli/azure/cli/command_modules/network/custom.py
Labels: Network, Auto-Assign

#28257 {AppService} `az functionapp config container set`: Check if dapr config is null before updating settings
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_functionapp_commands_thru_mock.py
Labels: Functions, Portal, Auto-Assign

#28221 [Storage] Fix #21876: `az storage blob upload-batch/download-batch/delete-batch`: Add double quotes to `--pattern` value for unix shell
  src/azure-cli/azure/cli/command_modules/storage/_help.py
Labels: Storage, Auto-Assign

#28262 {Mysql} az mysql flexible-server import create: Fix import cli doc
  src/azure-cli/azure/cli/command_modules/mysql/_help.py
Labels: Auto-Assign

#28124 {AppService} `az functionapp config appsettings set`: Update example documentation
  src/azure-cli/azure/cli/command_modules/appservice/_help.py
Labels: Functions, Auto-Assign

#28154 {AppService} `az functionapp`: Show error message for language end of life support
  src/azure-cli/azure/cli/command_modules/appservice/_constants.py
  src/azure-cli/azure/cli/command_modules/appservice/commands.py
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_acr_create_function_app.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_acr_deployment_function_app.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_acr_integration_function_app.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_assign_user_identity.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_consumption_linux.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_container_config_set_replicas.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_cors_credentials.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_language_runtime_version_deprecated.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_on_linux.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_on_linux_functions_version.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_on_linux_functions_version_consumption.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_on_linux_version.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_on_linux_version_consumption.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_powershell_version.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_remove_identity.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_reserved_instance.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_slot_appsetting_update.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_slot_swap.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_update_slot.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_windows_runtime.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_windows_runtime_functions_version.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_windows_runtime_version.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_with_default_distributed_tracing.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_workloadprofiles.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_staticapp_linked_backends.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_functionapp_commands.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_functionapp_commands_thru_mock.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_staticapp_commands.py
Labels: Functions, Auto-Assign

#28128 [App Service] `az functionapp create`: Only allow apps with functions version 4
  src/azure-cli/azure/cli/command_modules/appservice/_constants.py
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_acr_create_function_app.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_acr_deployment_function_app.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_acr_integration_function_app.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_consumption_linux.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_consumption_linux_java.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_cors_credentials.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_on_linux.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_on_linux_app_service_java.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_on_linux_app_service_java_with_runtime_version.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_on_linux_consumption_python_39.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_on_linux_custom_handler.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_on_linux_functions_version.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_on_linux_functions_version_consumption.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_on_linux_version.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_slot_appsetting_update.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_slot_swap.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_update_slot.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_windows_runtime.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_windows_runtime_custom_handler.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_windows_runtime_functions_version.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_windows_runtime_version.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_staticapp_linked_backends.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_functionapp_commands.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_functionapp_commands_thru_mock.py
Labels: Functions, Auto-Assign

#28059 {Compute} `az sig update`: Set SoftDeletePolicy to null if no `--soft-delete-policy`
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_gallery_soft_delete.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Auto-Assign

#28195 [SQL] Add new command for managed instances to refresh external governance status
  src/azure-cli/azure/cli/command_modules/sql/aaz/latest/__init__.py
  src/azure-cli/azure/cli/command_modules/sql/aaz/latest/sql/mi/__init__.py
  src/azure-cli/azure/cli/command_modules/sql/aaz/latest/sql/mi/_refresh_external_governance_status.py
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/recordings/test_sql_mi_refresh_external_governance_status.yaml
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/test_sql_commands.py
Labels: SQL, Auto-Assign

#28079 [Service Connector] `az webapp/containerapp/spring connection create/update`: Support opt out action
  src/azure-cli/azure/cli/command_modules/serviceconnector/_params.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/_resource_config.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/custom.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_webapp_storageblob_secret_opt_out_config.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_webapp_storageblob_secret_opt_out_public_network.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_webapp_storageblob_secret_opt_out_public_network_and_config.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/test_webpp_connection_scenario.py
Labels: Web Apps, Auto-Assign, ContainerApp

#27911 {Packaging} Support Windows ZIP package
  azure-pipelines.yml
  build_scripts/windows/scripts/az_msi.cmd
  build_scripts/windows/scripts/az_zip.cmd
  build_scripts/windows/scripts/build.cmd
  build_scripts/windows/scripts/test_zip_installation.ps1
  src/azure-cli/azure/cli/command_modules/util/custom.py
Labels: Packaging, Auto-Assign

#27929 {Core} Add credential helper for cli
  scripts/ci/credscan/CredScanSuppressions.json
  src/azure-cli-core/azure/cli/core/commands/__init__.py
  src/azure-cli-core/azure/cli/core/commands/constants.py
  src/azure-cli-core/azure/cli/core/commands/sensitive.py
  src/azure-cli-core/azure/cli/core/credential_helper.py
  src/azure-cli-core/azure/cli/core/telemetry.py
  src/azure-cli-core/azure/cli/core/tests/test_credential_helper.py
Labels: Core, Auto-Assign

#28270 {Sql} fix test recording: api version mismatch
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/recordings/test_sql_mi_refresh_external_governance_status.yaml
Labels: SQL, Auto-Assign

#28247 [Network] `az network lb create`: Support cross-subscription resource ID
  src/azure-cli-core/azure/cli/core/commands/arm.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_lb_with_cross_subscription_id.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py
  src/azure-cli/azure/cli/command_modules/vm/_actions.py
Labels: Network, Auto-Assign
