Repository Azure/azure-cli, pull requests merged in 2025-02, with the labels that each got.

#30747 [App Config] `az appconfig export`: Update export help message for environment variable
  src/azure-cli/azure/cli/command_modules/appconfig/_help.py
Labels: App Configuration, Auto-Assign

#30759 {Eventgrid} `az eventgrid domain topic event-subscription delete`: Fix LRO issue
  src/azure-cli/azure/cli/command_modules/eventgrid/custom.py
Labels: Event Grid, Auto-Assign

#30767 {RDBMS} `az postgres flexible-server restore`: fix cross-subscription restore issue
  src/azure-cli/azure/cli/command_modules/rdbms/flexible_server_custom_postgres.py
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_flexible_server_mgmt.yaml
Labels: Auto-Assign

#30736 {RDBMS} `az postgres flexible-server firewall-rule create`: modify firewall rule name validator
  src/azure-cli/azure/cli/command_modules/rdbms/_params.py
  src/azure-cli/azure/cli/command_modules/rdbms/validators.py
Labels: Auto-Assign

#30711 {RDBMS} `az postgres flexible-server create/update`: modify the error message for `_pg_storage_validator`
  src/azure-cli/azure/cli/command_modules/rdbms/validators.py
Labels: Auto-Assign

#30771 {Compute} `az vm auto-shutdown`: Migrate to AAZ based
  src/azure-cli/azure/cli/command_modules/lab/aaz/latest/lab/global_schedule/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/lab/aaz/latest/lab/global_schedule/__init__.py
  src/azure-cli/azure/cli/command_modules/lab/aaz/latest/lab/global_schedule/_create.py
  src/azure-cli/azure/cli/command_modules/lab/aaz/latest/lab/global_schedule/_delete.py
  src/azure-cli/azure/cli/command_modules/lab/aaz/latest/lab/global_schedule/_show.py
  src/azure-cli/azure/cli/command_modules/lab/aaz/latest/lab/global_schedule/_update.py
  src/azure-cli/azure/cli/command_modules/vm/_client_factory.py
  src/azure-cli/azure/cli/command_modules/vm/azure_stack/_client_factory.py
  src/azure-cli/azure/cli/command_modules/vm/azure_stack/custom.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_auto_shutdown.yaml
Labels: Compute, Auto-Assign

#30778 [AKS] `az aks nodepool upgrade`: Fix `--node-soak-duration` cannot be set to 0
  src/azure-cli/azure/cli/command_modules/acs/custom.py
Labels: AKS, Auto-Assign

#30796 {Compute} `az sig gallery-application version`: Migrate to AAZ
  src/azure-cli/azure/cli/command_modules/vm/_client_factory.py
  src/azure-cli/azure/cli/command_modules/vm/_help.py
  src/azure-cli/azure/cli/command_modules/vm/_params.py
  src/azure-cli/azure/cli/command_modules/vm/aaz/latest/sig/gallery_application/version/__init__.py
  src/azure-cli/azure/cli/command_modules/vm/aaz/latest/sig/gallery_application/version/_create.py
  src/azure-cli/azure/cli/command_modules/vm/aaz/latest/sig/gallery_application/version/_delete.py
  src/azure-cli/azure/cli/command_modules/vm/aaz/latest/sig/gallery_application/version/_list.py
  src/azure-cli/azure/cli/command_modules/vm/aaz/latest/sig/gallery_application/version/_show.py
  src/azure-cli/azure/cli/command_modules/vm/aaz/latest/sig/gallery_application/version/_update.py
  src/azure-cli/azure/cli/command_modules/vm/aaz/latest/sig/gallery_application/version/_wait.py
  src/azure-cli/azure/cli/command_modules/vm/azure_stack/_client_factory.py
  src/azure-cli/azure/cli/command_modules/vm/azure_stack/_params.py
  src/azure-cli/azure/cli/command_modules/vm/azure_stack/commands.py
  src/azure-cli/azure/cli/command_modules/vm/azure_stack/custom.py
  src/azure-cli/azure/cli/command_modules/vm/commands.py
  src/azure-cli/azure/cli/command_modules/vm/operations/sig_gallery_application_version.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_gallery_application_version.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Auto-Assign

#29939 {AKS} `az aks machine list/az aks machine show`: Add new commands
  src/azure-cli/azure/cli/command_modules/acs/_client_factory.py
  src/azure-cli/azure/cli/command_modules/acs/_format.py
  src/azure-cli/azure/cli/command_modules/acs/_help.py
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/commands.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_machine_cmds.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
Labels: AKS, Auto-Assign

#30808 [Service Connector] `az containerapp connection create redis`: Add `--system-identity` paramter
  src/azure-cli/azure/cli/command_modules/serviceconnector/_resource_config.py
Labels: Redis Cache, Auto-Assign, ContainerApp

#30797 {App Service} Call `get_token()` with `scopes`
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
Labels: Web Apps, Auto-Assign

#30799 {Containerapp} Use `get_mgmt_service_client` to create `ServiceLinkerManagementClient`
  src/azure-cli/azure/cli/command_modules/containerapp/_utils.py
Labels: Auto-Assign, ContainerApp

#30716 {Security} `az security api-collection apim onboard/offboard`: Fix the documentation
  src/azure-cli/azure/cli/command_modules/security/aaz/latest/security/api_collection/apim/_offboard.py
  src/azure-cli/azure/cli/command_modules/security/aaz/latest/security/api_collection/apim/_onboard.py
Labels: Security, Auto-Assign

#30788 {Synapse} Set `credential_scopes` when creating clients
  src/azure-cli/azure/cli/command_modules/synapse/manual/_client_factory.py
Labels: Synapse, Auto-Assign

#29631 [Core] Drop Track 1 SDK authentication
  src/azure-cli-core/azure/cli/core/_profile.py
  src/azure-cli-core/azure/cli/core/auth/credential_adaptor.py
  src/azure-cli-core/azure/cli/core/auth/tests/test_credential_adaptor.py
  src/azure-cli-core/azure/cli/core/commands/client_factory.py
Labels: Core, Auto-Assign

#30554 {CI} Use CFS in LTS release
  azure-pipelines.yml
Labels: CI, Auto-Assign

#30762 {CosmosDB} Fix #30811: `az cosmosdb create`: Vector instruction typo fix
  src/azure-cli/azure/cli/command_modules/cosmosdb/_params.py
Labels: CosmosDB, Auto-Assign

#30817 {core} `aaz`: Add cross tenants control for `AAZResourceIdArgFormat`
  src/azure-cli-core/azure/cli/core/aaz/_arg_fmt.py
Labels: Core, Auto-Assign

#30835 [Compute] `az vm available-set create/update`: Add support for scheduled event profile
  src/azure-cli/azure/cli/command_modules/vm/_params.py
  src/azure-cli/azure/cli/command_modules/vm/_template_builder.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_availset_scheduled_events_policy.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Auto-Assign

#30818 {Packaging} Remove empty `__pycache__` folder in zip package
  build_scripts/windows/scripts/build.cmd
Labels: Packaging, Installation, Auto-Assign

#30803 {Core} Add deviceId in CLI telemetry to share with VS code
  src/azure-cli-core/azure/cli/core/telemetry.py
  src/azure-cli-core/setup.py
Labels: Core, Auto-Assign

#30196 [AKS] `az aks nodepool delete`: Add `--ignore-pod-disruption-budget` option for ignoring PodDisruptionBudget
  src/azure-cli/azure/cli/command_modules/acs/_help.py
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_nodepool_delete_with_ignore_pod_disruption_budget.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
Labels: AKS, Auto-Assign

#30691 {RDBMS} `az postgres flexible-server parameter set `: Fix error message when invalid configuration name or source is provided
  src/azure-cli/azure/cli/command_modules/rdbms/flexible_server_custom_postgres.py
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_flexible_server_logs_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_flexible_server_proxy_resource.yaml
Labels: Auto-Assign

#30780 {RDBMS} `az postgres flexible-server firewall-rule`: Update validations and message for fire wall rule commands
  src/azure-cli/azure/cli/command_modules/rdbms/flexible_server_custom_common.py
  src/azure-cli/azure/cli/command_modules/rdbms/validators.py
Labels: Auto-Assign

#30858 {AKS} Fix test `test_aks_nodepool_delete_with_ignore_pod_disruption_budget`
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_nodepool_delete_with_ignore_pod_disruption_budget.yaml
Labels: AKS, Auto-Assign

#30850 {ACR} Remove unnecessary network call in `az acr cache` subcommand
  src/azure-cli/azure/cli/command_modules/acr/_constants.py
  src/azure-cli/azure/cli/command_modules/acr/cache.py
Labels: Container Registry, Auto-Assign

#30720 [Backup] `az backup restore restore-disks`: Support NoZone as a valid target zone for `--target-zone` parameter
  src/azure-cli/azure/cli/command_modules/backup/_params.py
  src/azure-cli/azure/cli/command_modules/backup/_validators.py
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/preparers.py
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_CrossZonalRestore.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/test_backup_commands.py
Labels: Backup, Auto-Assign

#30830 {RDBMS} `az postgres flexible-server update`: Show warning for scaling operations on SSDV2 servers and correct validation
  src/azure-cli/azure/cli/command_modules/rdbms/flexible_server_custom_postgres.py
  src/azure-cli/azure/cli/command_modules/rdbms/validators.py
Labels: Portal, Auto-Assign

#30837 [Network] `az network nic ip-config create/update`: Add `--private-ip-address-prefix-length` to support private ip address prefix length
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/nic/_create.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/nic/_delete.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/nic/_list.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/nic/_show.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/nic/_update.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/nic/_wait.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/nic/ip_config/_create.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/nic/ip_config/_delete.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/nic/ip_config/_list.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/nic/ip_config/_show.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/nic/ip_config/_update.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/nic/ip_config/_wait.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/nic/ip_config/ag_pool/_add.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/nic/ip_config/ag_pool/_remove.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/nic/ip_config/inbound_nat_rule/_add.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/nic/ip_config/inbound_nat_rule/_remove.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/nic/ip_config/inbound_nat_rule/_wait.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/nic/ip_config/lb_pool/_add.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/nic/ip_config/lb_pool/_remove.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/virtual_appliance/__init__.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_multiple_ipconfigs_remove_by_shorthand.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_multiple_ipconfigs_update_with_asg.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_lb_address_pool_addresses.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_nic.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_nic_ag_address_pools.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_nic_app_gateway.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_nic_auxiliary.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_nic_edge_zone.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_nic_front_ip.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_nic_lb_address_pools.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_nic_nic_ip_config_private_ip_address_prefix_length.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_nic_subresources.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_accelerated_networking.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_create_custom_ip.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_create_existing_ids_options.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_create_existing_nic.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_create_existing_options.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_create_multi_nics.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_extended_location.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_asg.yaml
Labels: Network, Auto-Assign

#30753 {Servicebus} `az servicebus namespace update`: Minor Correction in syntax
  src/azure-cli/azure/cli/command_modules/servicebus/aaz/latest/servicebus/namespace/_update.py
Labels: Service Bus, Auto-Assign

#30869 {Compute} `az disk-access`: Migrate to Code Gen V2
  src/azure-cli/azure/cli/command_modules/vm/_help.py
  src/azure-cli/azure/cli/command_modules/vm/_params.py
  src/azure-cli/azure/cli/command_modules/vm/aaz/latest/disk_access/__init__.py
  src/azure-cli/azure/cli/command_modules/vm/aaz/latest/disk_access/_create.py
  src/azure-cli/azure/cli/command_modules/vm/aaz/latest/disk_access/_list.py
  src/azure-cli/azure/cli/command_modules/vm/aaz/latest/disk_access/_update.py
  src/azure-cli/azure/cli/command_modules/vm/aaz/profile_2020_09_01_hybrid/disk_access/__init__.py
  src/azure-cli/azure/cli/command_modules/vm/aaz/profile_2020_09_01_hybrid/disk_access/_create.py
  src/azure-cli/azure/cli/command_modules/vm/aaz/profile_2020_09_01_hybrid/disk_access/_list.py
  src/azure-cli/azure/cli/command_modules/vm/aaz/profile_2020_09_01_hybrid/disk_access/_update.py
  src/azure-cli/azure/cli/command_modules/vm/azure_stack/_params.py
  src/azure-cli/azure/cli/command_modules/vm/azure_stack/commands.py
  src/azure-cli/azure/cli/command_modules/vm/azure_stack/custom.py
  src/azure-cli/azure/cli/command_modules/vm/commands.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/tests/hybrid_2020_09_01/recordings/test_disk_access.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_disk_access.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_public_network_access.yaml
Labels: Compute, Auto-Assign

#30775 [App Service] Fix #28104: `az webapp config storage-account`: Remove windows limitation notes
  src/azure-cli/azure/cli/command_modules/appservice/_help.py
Labels: Web Apps, Auto-Assign

#30764 {App Service} Fix #25882: `az webapp up`: AttributeError: module 'os' has no attribute 'join' in `test_webapp_up_dotnet6_e2e`
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_webapp_up_commands.py
Labels: Web Apps, Auto-Assign

#30750 [App Service] Fix #28374: `az webapp create`: Improve error message for globally unique name for new app create
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
Labels: Web Apps, Auto-Assign

#30743 {App Service} Fix #26285: `az webapp traffic-routing set`: slot truncation to 40 characters
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
Labels: Web Apps, Auto-Assign

#30710 [IoT] `az iot hub update`: Add `--min-tls-version` parameter to allow updating min tls version in a cleaner way
  src/azure-cli/azure/cli/command_modules/iot/_params.py
  src/azure-cli/azure/cli/command_modules/iot/custom.py
  src/azure-cli/azure/cli/command_modules/iot/tests/latest/recordings/test_iot_hub.yaml
  src/azure-cli/azure/cli/command_modules/iot/tests/latest/test_iot_commands.py
Labels: IoT, IoT/CLI, Auto-Assign

#30868 [Core] `aaz`: Support `Any` type with full value shorthand syntax allowed
  src/azure-cli-core/azure/cli/core/aaz/__init__.py
  src/azure-cli-core/azure/cli/core/aaz/_arg.py
  src/azure-cli-core/azure/cli/core/aaz/_arg_action.py
  src/azure-cli-core/azure/cli/core/aaz/_arg_browser.py
  src/azure-cli-core/azure/cli/core/aaz/_arg_fmt.py
  src/azure-cli-core/azure/cli/core/aaz/_content_builder.py
  src/azure-cli-core/azure/cli/core/aaz/_field_type.py
  src/azure-cli-core/azure/cli/core/aaz/_field_value.py
  src/azure-cli-core/azure/cli/core/aaz/_help.py
  src/azure-cli-core/azure/cli/core/aaz/_utils.py
  src/azure-cli-core/azure/cli/core/tests/test_aaz_arg.py
  src/azure-cli-core/azure/cli/core/tests/test_aaz_content_builder.py
  src/azure-cli-core/azure/cli/core/tests/test_aaz_field.py
Labels: Core, Auto-Assign

#30722 [ARM] `az bicep`: Fix installation check for concurrent usages
  src/azure-cli/azure/cli/command_modules/resource/_bicep.py
Labels: ARM, customer-reported, Auto-Assign

#30872 [App Service] `az webapp up` , `az webapp deploy` , `az webapp deployment source config-zip` : Warm-up kudu before making scm one-deployment and zip-deployment
  src/azure-cli/azure/cli/command_modules/appservice/_params.py
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_one_deploy_scm.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_deployment_source_disable_tracking_runtimestatus.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_deployment_source_track_runtimestatus_buildfailed.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_deployment_source_track_runtimestatus_runtimefailed.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_deployment_source_track_runtimestatus_runtimesucessful.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_sitecontainers_createfromspecs_and_list_containers.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_track_runtimestatus_buildfailed.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_track_runtimestatus_runtimefailed.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_track_runtimestatus_runtimesucessful.yaml
Labels: customer-reported

#30851 [RDBMS] `az postgres flexible-server index-tuning`: Support tuning options operations
  src/azure-cli/azure/cli/command_modules/rdbms/_client_factory.py
  src/azure-cli/azure/cli/command_modules/rdbms/_flexible_server_location_capabilities_util.py
  src/azure-cli/azure/cli/command_modules/rdbms/_helptext_pg.py
  src/azure-cli/azure/cli/command_modules/rdbms/_params.py
  src/azure-cli/azure/cli/command_modules/rdbms/_util.py
  src/azure-cli/azure/cli/command_modules/rdbms/flexible_server_commands.py
  src/azure-cli/azure/cli/command_modules/rdbms/flexible_server_custom_postgres.py
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_flexible_server_tuning_options.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/test_rdbms_flexible_commands.py
Labels: Auto-Assign

#30862 [AKS] `az aks create/az aks nodepool add`: Add message of the day option `--message-of-the-day`
  src/azure-cli/azure/cli/command_modules/acs/_help.py
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/_validators.py
  src/azure-cli/azure/cli/command_modules/acs/agentpool_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/data/motd.txt
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_add_nodepool_with_motd.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_agentpool_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_managed_cluster_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_validators.py
Labels: AKS, Auto-Assign

#30875 {Synapse} Update azure synapse artifact version to 0.20.0 and spark to 0.7.0
  src/azure-cli/azure/cli/command_modules/synapse/manual/_client_factory.py
  src/azure-cli/azure/cli/command_modules/synapse/tests/latest/recordings/test_spark_job.yaml
  src/azure-cli/azure/cli/command_modules/synapse/tests/latest/recordings/test_spark_session_and_statements.yaml
  src/azure-cli/azure/cli/command_modules/synapse/tests/latest/test_synapse_scenario.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: Synapse, Auto-Assign

#30734 [App Service] Fix #29493: `az webapp create`: Update basic-auth parameter description
  src/azure-cli/azure/cli/command_modules/appservice/_help.py
  src/azure-cli/azure/cli/command_modules/appservice/_params.py
Labels: Web Apps, Auto-Assign

#30881 [Service Connector] `az webapp connection create fabric-sql`: Fix interactive mode & allow new parameters `--fabric-workspace-uuid` and `fabric-sql-db-uuid`
  src/azure-cli/azure/cli/command_modules/serviceconnector/_params.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/_resource_config.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/_validators.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/custom.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_webapp_fabric_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/test_webpp_connection_scenario.py
Labels: Auto-Assign

#30891 {core} `aaz`: Fix bug for int value to float value convert
  src/azure-cli-core/azure/cli/core/aaz/_arg_action.py
  src/azure-cli-core/azure/cli/core/tests/test_aaz_arg.py
Labels: Core, Auto-Assign

#30874 {CI} Pin azdev to 0.1.90
  .azure-pipelines/templates/azdev_setup.yml
Labels: CI, Auto-Assign

#30886 {AKS} Fix outbound type validation error msg
  src/azure-cli/azure/cli/command_modules/acs/managed_cluster_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_managed_cluster_decorator.py
Labels: AKS, Auto-Assign
