Repository Azure/azure-cli, pull requests merged in 2025-05, with the labels that each got.

#31312 [App Service] `az webapp list-runtimes`: Update API response filter logic
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_config.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_linux_acr_use_identity.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_list_show_details.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_track_runtimestatus_runtimesucessful.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_win_webapp_quick_create_runtime.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_webapp_commands.py
Labels: Web Apps, Auto-Assign

#31321 {Keyvault} Add autogen example for keyvault commands
  src/azure-cli/azure/cli/command_modules/keyvault/_help.py
Labels: KeyVault, Auto-Assign

#31416 [App Service] `az functionapp create`: Fix the functionapp unit tests
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_on_linux_version.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_functionapp_windows_runtime_version.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_functionapp_commands.py
Labels: Functions, Auto-Assign

#31392 [RDBMS] `az postgres flexible-server create/db create`: Add validation for database name
  src/azure-cli/azure/cli/command_modules/rdbms/_params.py
  src/azure-cli/azure/cli/command_modules/rdbms/flexible_server_custom_postgres.py
  src/azure-cli/azure/cli/command_modules/rdbms/validators.py
Labels: Auto-Assign

#31379 [RDBMS] BREAKING CHANGE: `az postgres flexible-server create/update/ad-admin`: Rename deprecated references to Microsoft Entra
  src/azure-cli/azure/cli/command_modules/rdbms/_breaking_change.py
  src/azure-cli/azure/cli/command_modules/rdbms/_client_factory.py
  src/azure-cli/azure/cli/command_modules/rdbms/_helptext_pg.py
  src/azure-cli/azure/cli/command_modules/rdbms/_params.py
  src/azure-cli/azure/cli/command_modules/rdbms/flexible_server_commands.py
  src/azure-cli/azure/cli/command_modules/rdbms/flexible_server_custom_postgres.py
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgresql_flexible_server_identity_aad_admin_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgresql_flexible_server_identity_aad_admin_only_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgresql_flexible_server_identity_microsoft_entra_admin_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgresql_flexible_server_identity_microsoft_entra_admin_only_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/test_rdbms_flexible_commands.py
  src/azure-cli/azure/cli/command_modules/rdbms/validators.py
Labels: AAD, Auto-Assign

#31318 [AKS] Add feature support for apiserver vnet integration
  src/azure-cli/azure/cli/command_modules/acs/_help.py
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/_validators.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/linter_exclusions.yml
  src/azure-cli/azure/cli/command_modules/acs/managed_cluster_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_with_apiserver_vnet_integration.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_with_apiserver_vnet_integration_public.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_managed_cluster_decorator.py
Labels: AKS, Auto-Assign

#31255 [Compute] `az vmss create/update`: Add `--skuprofile-rank` for prioritized instance mix
  src/azure-cli/azure/cli/command_modules/vm/_params.py
  src/azure-cli/azure/cli/command_modules/vm/_template_builder.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_create_sku_profile.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_create_sku_profile_prioritized.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_create_sku_profile_prioritized_validation.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_create_sku_profile_update.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Auto-Assign

#31365 [Network] Fix #31294: `az network vnet update`: Refine processing logic of `--address-prefixes`
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/vnet/_create.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/vnet/_list.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/vnet/_update.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
Labels: Network, Auto-Assign

#31375 {cdn} Upgraded version to 2025-04-15, added support for cipher
  src/azure-cli/azure/cli/command_modules/cdn/aaz/latest/afd/custom_domain/_create.py
  src/azure-cli/azure/cli/command_modules/cdn/aaz/latest/afd/custom_domain/_delete.py
  src/azure-cli/azure/cli/command_modules/cdn/aaz/latest/afd/custom_domain/_list.py
  src/azure-cli/azure/cli/command_modules/cdn/aaz/latest/afd/custom_domain/_show.py
  src/azure-cli/azure/cli/command_modules/cdn/aaz/latest/afd/custom_domain/_update.py
  src/azure-cli/azure/cli/command_modules/cdn/aaz/latest/afd/custom_domain/_wait.py
  src/azure-cli/azure/cli/command_modules/cdn/linter_exclusions.yml
  src/azure-cli/azure/cli/command_modules/cdn/tests/latest/recordings/test_afd_custom_domain_crud.yaml
  src/azure-cli/azure/cli/command_modules/cdn/tests/latest/recordings/test_afd_route_crud.yaml
Labels: Network, Network - CDN, Auto-Assign

#31286 [AKS] `az aks create/approuting`: Add default NIC config for app routing
  src/azure-cli/azure/cli/command_modules/acs/_consts.py
  src/azure-cli/azure/cli/command_modules/acs/_help.py
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/managed_cluster_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_approuting_enable_disable.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_approuting_enable_with_internal_nginx_then_disable.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_approuting_enable_with_keyvault_secrets_provider_addon_and_keyvault_id.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_approuting_update.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_with_app_routing_enabled.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_with_app_routing_enabled_and_nginx_specified.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_with_app_routing_enabled_and_nginx_specified_abbrv.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_managed_cluster_decorator.py
Labels: AKS, Auto-Assign

#31410 [Backup] BREAKING CHANGE: `az backup protection enable-for-vm`: Support for protecting TVM with standard policy
  src/azure-cli/azure/cli/command_modules/backup/custom.py
Labels: Backup, Auto-Assign

#31380 {ACR} Fix ACR abac failure tests
  src/azure-cli/azure/cli/command_modules/acr/tests/latest/recordings/test_acr_create_abac.yaml
  src/azure-cli/azure/cli/command_modules/acr/tests/latest/recordings/test_acr_create_normal.yaml
  src/azure-cli/azure/cli/command_modules/acr/tests/latest/recordings/test_acr_create_normal_check_health.yaml
  src/azure-cli/azure/cli/command_modules/acr/tests/latest/test_acr_abac_scenario.py
Labels: Container Registry, Auto-Assign

#31399 {RDBMS} `az postgres flexible-server create`: Remove the breaking change from validators and breaking_change file
  src/azure-cli/azure/cli/command_modules/rdbms/_breaking_change.py
  src/azure-cli/azure/cli/command_modules/rdbms/validators.py
Labels: Auto-Assign

#31384 {core} Fix warning message display issue
  src/azure-cli-core/azure/cli/core/cloud.py
Labels: Core, Auto-Assign

#31427 [Keyvault] `az keyvault key get-attestation`: Support getting a MHSM key's attestation
  src/azure-cli/azure/cli/command_modules/keyvault/_help.py
  src/azure-cli/azure/cli/command_modules/keyvault/_params.py
  src/azure-cli/azure/cli/command_modules/keyvault/_transformers.py
  src/azure-cli/azure/cli/command_modules/keyvault/commands.py
  src/azure-cli/azure/cli/command_modules/keyvault/custom.py
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_hsm_key_attestation.yaml
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/test_keyvault_commands.py
Labels: KeyVault, Auto-Assign

#30731 [RDBMS] BREAKING CHANGE: `az postgres flexible-server update`: Add user confirmation on certain update operations
  src/azure-cli/azure/cli/command_modules/rdbms/_breaking_change.py
  src/azure-cli/azure/cli/command_modules/rdbms/flexible_server_custom_postgres.py
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_flexible_server_ssdv2_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_flexible_server_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgres_flexible_server_mgmt_case_insensitive.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/test_rdbms_flexible_commands.py
Labels: Auto-Assign

#31328 {ams} Command examples document
  src/azure-cli/azure/cli/command_modules/ams/_help.py
Labels: Media Services, Auto-Assign

#31367 {LTS} Backport #30993
  src/azure-cli-core/azure/cli/core/tests/test_credential_helper.py
  src/azure-cli-core/setup.py
Labels: LTS

#31368 {LTS} Backport #31159
  src/azure-cli/azure/cli/command_modules/network/azure_stack/zone_file/parse_zone_file.py
  src/azure-cli/azure/cli/command_modules/network/zone_file/parse_zone_file.py
Labels: LTS

#31439 {Core} Ignore all types of exceptions when loading binary cache
  src/azure-cli-core/azure/cli/core/auth/binary_cache.py
Labels: Account, Core, Auto-Assign

#31308 [Service Connector] `az webapp connection create mongodb-atlas`
  src/azure-cli/azure/cli/command_modules/serviceconnector/_help.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/_params.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/_resource_config.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/_validators.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/action.py
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/recordings/test_webapp_mongodb_atlas_e2e.yaml
  src/azure-cli/azure/cli/command_modules/serviceconnector/tests/latest/test_webpp_connection_scenario.py
Labels: Web Apps, Auto-Assign

#31417 [NetAppFiles] remove breaking changes properties
  src/azure-cli/azure/cli/command_modules/netappfiles/custom.py
Labels: NetAppFiles, Auto-Assign

#31431 [Storage] BREAKING CHANGE: `az storage account migration start`: Add confirmation for storage account migration between redundancy options
  src/azure-cli/azure/cli/command_modules/storage/_breaking_change.py
  src/azure-cli/azure/cli/command_modules/storage/aaz/latest/storage/account/migration/_start.py
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_account_migration.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/test_storage_account_scenarios.py
Labels: Storage, Auto-Assign

#31451 {Core} Update Next Breaking Change Window version and date
  src/azure-cli-core/azure/cli/core/breaking_change.py
Labels: Core, Auto-Assign

#31424 [AKS] BREAKING CHANGE: Change: Default vm size changes to "" and clear test cases
  src/azure-cli/azure/cli/command_modules/acs/_consts.py
  src/azure-cli/azure/cli/command_modules/acs/_help.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
Labels: Compute, customer-reported, Auto-Assign

#31400 [AKS] Fix #31265: `az aks enable-addons`: Fix UnboundLocalError when setting specific dataCollectionSettings
  src/azure-cli/azure/cli/command_modules/acs/addonconfiguration.py
Labels: AKS, Auto-Assign

#31453 {Profile} `az login`: Add check for `--username` for managed identity authentication
  src/azure-cli/azure/cli/command_modules/profile/_breaking_change.py
  src/azure-cli/azure/cli/command_modules/profile/custom.py
Labels: Account, Auto-Assign

#31372 [ACR] `az acr create`: Remove preview flag from `--allow-trusted-services`
  src/azure-cli/azure/cli/command_modules/acr/_params.py
Labels: Container Registry, Auto-Assign

#31455 {ACR/AKS/NetAppFiles} Clear Expired Breaking Change Announcements
  src/azure-cli/azure/cli/command_modules/acr/_breaking_change.py
  src/azure-cli/azure/cli/command_modules/acs/_breaking_change.py
  src/azure-cli/azure/cli/command_modules/netappfiles/_breaking_change.py
Labels: Container Registry, AKS, NetAppFiles, Auto-Assign

#31382 {ACR} `az acr connected-registry`: Change version for connected registry to 2025-04-01
  build_scripts/windows/scripts/patch_models_v2.py
  src/azure-cli-core/azure/cli/core/profiles/_shared.py
  src/azure-cli/azure/cli/command_modules/acr/_client_factory.py
  src/azure-cli/azure/cli/command_modules/acr/tests/latest/recordings/test_acr_connectedregistry.yaml
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/recordings/test_containerapp_manualjob_registry_acr_look_up_credentical.yaml
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/recordings/test_containerapp_registry_acr_look_up_credentical.yaml
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/recordings/test_containerappjob_registry_crud.yaml
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: Container Registry, Auto-Assign

#31463 {ACR} Fix ACR abac failure tests
  src/azure-cli/azure/cli/command_modules/acr/tests/latest/recordings/test_acr_create_abac.yaml
  src/azure-cli/azure/cli/command_modules/acr/tests/latest/test_acr_abac_scenario.py
Labels: Container Registry, Auto-Assign

#31436 [Identity] `az identity federated-credential create/update: ` Add support for claims matching expressions
  src/azure-cli/azure/cli/command_modules/identity/__init__.py
  src/azure-cli/azure/cli/command_modules/identity/_client_factory.py
  src/azure-cli/azure/cli/command_modules/identity/_help.py
  src/azure-cli/azure/cli/command_modules/identity/_params.py
  src/azure-cli/azure/cli/command_modules/identity/aaz/__init__.py
  src/azure-cli/azure/cli/command_modules/identity/aaz/latest/__init__.py
  src/azure-cli/azure/cli/command_modules/identity/aaz/latest/identity/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/identity/aaz/latest/identity/__init__.py
  src/azure-cli/azure/cli/command_modules/identity/aaz/latest/identity/federated_credential/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/identity/aaz/latest/identity/federated_credential/__init__.py
  src/azure-cli/azure/cli/command_modules/identity/aaz/latest/identity/federated_credential/_create.py
  src/azure-cli/azure/cli/command_modules/identity/aaz/latest/identity/federated_credential/_delete.py
  src/azure-cli/azure/cli/command_modules/identity/aaz/latest/identity/federated_credential/_list.py
  src/azure-cli/azure/cli/command_modules/identity/aaz/latest/identity/federated_credential/_show.py
  src/azure-cli/azure/cli/command_modules/identity/aaz/latest/identity/federated_credential/_update.py
  src/azure-cli/azure/cli/command_modules/identity/commands.py
  src/azure-cli/azure/cli/command_modules/identity/custom.py
  src/azure-cli/azure/cli/command_modules/identity/tests/latest/recordings/test_federated_identity_credential.yaml
  src/azure-cli/azure/cli/command_modules/identity/tests/latest/test_identity.py
Labels: Managed Identity, Auto-Assign

#31454 {Role} Remove `MultiAPIAdaptor`
  src/azure-cli/azure/cli/command_modules/role/_multi_api_adaptor.py
  src/azure-cli/azure/cli/command_modules/role/custom.py
Labels: RBAC, Auto-Assign

#31100 {Network} Vpn gateway bandwidth
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/vnet_gateway/_create.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/vnet_gateway/_delete.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/vnet_gateway/_list.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/vnet_gateway/_show.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/vnet_gateway/_update.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/vnet_gateway/_wait.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/vpn_connection/_delete.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/vpn_connection/_list.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/vpn_connection/_show.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/vpn_connection/_update.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/vpn_connection/_wait.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_active_active_cross_premise_connection.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_active_active_vnet_connection.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_vnet_gateway_allow_traffic.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_vnet_gateway_edge_zone.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_vnet_gateway_ipsec.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_vnet_gateway_local_gateway.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_vnet_gateway_multi_auth.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_vnet_gateway_multi_auth1.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_vnet_gateway_nat_rule.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_vnet_gateway_nat_rule_sub_cmd.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_vnet_gateway_with_enable_private_ip_address.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_vnet_peering.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_vnet_peering_sync.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_vpn_connection_ipsec.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_vpn_connection_nat_rule.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_vpn_gateway.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_vpn_gateway_aad.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_vpn_gateway_disconnect_connects.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_vpn_gateway_package_capture.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_vpn_gateway_sku.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_watcher_troubleshooting.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_vpn_client_package.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Labels: Network, Auto-Assign

#31429 [Network] `az network vnet-gateway migration`: Support vpn gateway migration feature
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/vnet_gateway/_create.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/vnet_gateway/_update.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/vnet_gateway/migration/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/vnet_gateway/migration/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/vnet_gateway/migration/_abort.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/vnet_gateway/migration/_commit.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/vnet_gateway/migration/_execute.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/vnet_gateway/migration/_prepare.py
  src/azure-cli/azure/cli/command_modules/network/commands.py
  src/azure-cli/azure/cli/command_modules/network/custom.py
  src/azure-cli/azure/cli/command_modules/network/operations/vnet_gateway_migration.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_network_vnet_gateway_migration.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py
Labels: Network, Auto-Assign

#31091 [ACR] `az acr login`: Add `refreshToken` and `username` fields to the output after using `--expose-token` parameter
  src/azure-cli/azure/cli/command_modules/acr/_help.py
  src/azure-cli/azure/cli/command_modules/acr/_params.py
  src/azure-cli/azure/cli/command_modules/acr/custom.py
  src/azure-cli/azure/cli/command_modules/acr/tests/latest/test_acr_commands.py
Labels: Container Registry, Auto-Assign

#31503 {Packaging} Bump embedded Python to 3.12.10
  build_scripts/windows/scripts/build.cmd
  scripts/release/debian/build.sh
Labels: Packaging, Auto-Assign

#31472 [Network] `az network private-endpoint-connection`: Add provider `Microsoft.FluidRelay/fluidRelayServers`
  src/azure-cli/azure/cli/command_modules/network/private_link_resource_and_endpoint_connections/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_private_endpoint_connection_fluid_relay.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_private_link_resource_fluid_relay.yaml
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_private_endpoint_commands.py
Labels: Network, Auto-Assign

#31423 [ACR] `az acr create`: Fix logs for domain name label
  src/azure-cli/azure/cli/command_modules/acr/_validators.py
Labels: Container Registry, Auto-Assign

#31205 [Monitor] `az monitor action-group`: Support `Incident Receivers` and `Managed Identity`
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/action_group/_create.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/action_group/_delete.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/action_group/_enable_receiver.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/action_group/_list.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/action_group/_show.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/action_group/_update.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/action_group/identity/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/action_group/identity/__init__.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/action_group/identity/_assign.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/action_group/identity/_remove.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/action_group/identity/_show.py
  src/azure-cli/azure/cli/command_modules/monitor/aaz/latest/monitor/action_group/test_notifications/_create.py
  src/azure-cli/azure/cli/command_modules/monitor/commands.py
  src/azure-cli/azure/cli/command_modules/monitor/linter_exclusions.yml
  src/azure-cli/azure/cli/command_modules/monitor/operations/action_groups.py
  src/azure-cli/azure/cli/command_modules/monitor/operations/action_groups_identity.py
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_dynamic_metric_alert_basic.yaml
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_dynamic_metric_alert_multiple_scopes.yaml
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_metric_alert_condition_create.yaml
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_metric_alert_for_rg_and_sub.yaml
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_metric_alert_for_sql_database_scope.yaml
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_metric_alert_multiple_scopes.yaml
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_metric_alert_single_scope.yaml
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_metric_alert_v2_scenario.yaml
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_action_group_basic_scenario.yaml
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_action_group_identity.yaml
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_action_group_incident_receivers.yaml
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_action_group_location.yaml
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_action_group_notifications.yaml
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_activity_log_alert_update_action.yaml
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_activity_log_alert_update_scope.yaml
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_clone_public_ip_metric_alerts_scenario.yaml
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_clone_storage_metric_alerts_always_scenario.yaml
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_clone_storage_metric_alerts_scenario.yaml
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_clone_vm_metric_alerts_scenario.yaml
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/recordings/test_monitor_create_full_fledged_activity_log_alert.yaml
  src/azure-cli/azure/cli/command_modules/monitor/tests/latest/test_monitor_action_groups.py
Labels: Monitor, Auto-Assign

#31517 {Keyvault} Remove azure stack logic
  src/azure-cli/azure/cli/command_modules/keyvault/_client_factory.py
  src/azure-cli/azure/cli/command_modules/keyvault/_completers.py
  src/azure-cli/azure/cli/command_modules/keyvault/_params.py
  src/azure-cli/azure/cli/command_modules/keyvault/commands.py
  src/azure-cli/azure/cli/command_modules/keyvault/custom.py
Labels: KeyVault, Auto-Assign

#31495 [AKS] `az aks nodepool add/update/upgrade`: Add new parameter `--undrainable-node-behavior` to specify whether nodes can be cordoned during upgrade
  src/azure-cli/azure/cli/command_modules/acs/_help.py
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/agentpool_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/linter_exclusions.yml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_nodepool_undrainable_node_behavior.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
Labels: AKS, Auto-Assign

#31537 [Mysql] `az mysql flexible-server create`: Change default storage redundancy for BC SKU to local redundancy
  src/azure-cli/azure/cli/command_modules/mysql/custom.py
Labels: Storage, customer-reported, Auto-Assign

#31542 [RDBMS] `az postgres flexible-server create/db create`: BUG FIX, validation for database name
  src/azure-cli/azure/cli/command_modules/rdbms/_params.py
  src/azure-cli/azure/cli/command_modules/rdbms/validators.py
Labels: Auto-Assign

#31526 {Storage} Remove azure-mgmt-storage multiapi references
  src/azure-cli-core/azure/cli/core/profiles/_shared.py
  src/azure-cli/azure/cli/command_modules/storage/__init__.py
  src/azure-cli/azure/cli/command_modules/storage/_params.py
  src/azure-cli/azure/cli/command_modules/storage/commands.py
  src/azure-cli/azure/cli/command_modules/storage/operations/blob.py
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/test_storage_account_scenarios.py
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/test_storage_acl_scenarios.py
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/test_storage_adls_upload_scenarios.py
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/test_storage_blob_live_scenarios.py
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/test_storage_blob_scenarios.py
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/test_storage_container_immutability_policy.py
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/test_storage_container_legal_hold.py
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/test_storage_container_rm_scenarios.py
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/test_storage_cors_scenarios.py
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/test_storage_encryption_scope_scenarios.py
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/test_storage_file_rm_scenarios.py
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/test_storage_validators.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: Storage, Auto-Assign

#31516 [AKS] Update network plugin defaults and long summary
  src/azure-cli/azure/cli/command_modules/acs/_help.py
Labels: AKS, Auto-Assign

#31543 {Keyvault} Replace vendored SDK with `azure-keyvault-securitydomain 1.0.0b1`
  src/azure-cli/azure/cli/command_modules/keyvault/_client_factory.py
  src/azure-cli/azure/cli/command_modules/keyvault/custom.py
  src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/recordings/test_keyvault_hsm_security_domain.yaml
  src/azure-cli/azure/cli/command_modules/keyvault/vendored_sdks/__init__.py
  src/azure-cli/azure/cli/command_modules/keyvault/vendored_sdks/azure_keyvault_securitydomain/__init__.py
  src/azure-cli/azure/cli/command_modules/keyvault/vendored_sdks/azure_keyvault_securitydomain/_client.py
  src/azure-cli/azure/cli/command_modules/keyvault/vendored_sdks/azure_keyvault_securitydomain/_configuration.py
  src/azure-cli/azure/cli/command_modules/keyvault/vendored_sdks/azure_keyvault_securitydomain/_internal/__init__.py
  src/azure-cli/azure/cli/command_modules/keyvault/vendored_sdks/azure_keyvault_securitydomain/_internal/async_challenge_auth_policy.py
  src/azure-cli/azure/cli/command_modules/keyvault/vendored_sdks/azure_keyvault_securitydomain/_internal/async_polling.py
  src/azure-cli/azure/cli/command_modules/keyvault/vendored_sdks/azure_keyvault_securitydomain/_internal/challenge_auth_policy.py
  src/azure-cli/azure/cli/command_modules/keyvault/vendored_sdks/azure_keyvault_securitydomain/_internal/http_challenge.py
  src/azure-cli/azure/cli/command_modules/keyvault/vendored_sdks/azure_keyvault_securitydomain/_internal/http_challenge_cache.py
  src/azure-cli/azure/cli/command_modules/keyvault/vendored_sdks/azure_keyvault_securitydomain/_internal/polling.py
  src/azure-cli/azure/cli/command_modules/keyvault/vendored_sdks/azure_keyvault_securitydomain/_model_base.py
  src/azure-cli/azure/cli/command_modules/keyvault/vendored_sdks/azure_keyvault_securitydomain/_operations/__init__.py
  src/azure-cli/azure/cli/command_modules/keyvault/vendored_sdks/azure_keyvault_securitydomain/_operations/_operations.py
  src/azure-cli/azure/cli/command_modules/keyvault/vendored_sdks/azure_keyvault_securitydomain/_operations/_patch.py
  src/azure-cli/azure/cli/command_modules/keyvault/vendored_sdks/azure_keyvault_securitydomain/_patch.py
  src/azure-cli/azure/cli/command_modules/keyvault/vendored_sdks/azure_keyvault_securitydomain/_serialization.py
  src/azure-cli/azure/cli/command_modules/keyvault/vendored_sdks/azure_keyvault_securitydomain/_vendor.py
  src/azure-cli/azure/cli/command_modules/keyvault/vendored_sdks/azure_keyvault_securitydomain/_version.py
  src/azure-cli/azure/cli/command_modules/keyvault/vendored_sdks/azure_keyvault_securitydomain/aio/__init__.py
  src/azure-cli/azure/cli/command_modules/keyvault/vendored_sdks/azure_keyvault_securitydomain/aio/_client.py
  src/azure-cli/azure/cli/command_modules/keyvault/vendored_sdks/azure_keyvault_securitydomain/aio/_configuration.py
  src/azure-cli/azure/cli/command_modules/keyvault/vendored_sdks/azure_keyvault_securitydomain/aio/_operations/__init__.py
  src/azure-cli/azure/cli/command_modules/keyvault/vendored_sdks/azure_keyvault_securitydomain/aio/_operations/_operations.py
  src/azure-cli/azure/cli/command_modules/keyvault/vendored_sdks/azure_keyvault_securitydomain/aio/_operations/_patch.py
  src/azure-cli/azure/cli/command_modules/keyvault/vendored_sdks/azure_keyvault_securitydomain/aio/_patch.py
  src/azure-cli/azure/cli/command_modules/keyvault/vendored_sdks/azure_keyvault_securitydomain/aio/_vendor.py
  src/azure-cli/azure/cli/command_modules/keyvault/vendored_sdks/azure_keyvault_securitydomain/aio/operations/__init__.py
  src/azure-cli/azure/cli/command_modules/keyvault/vendored_sdks/azure_keyvault_securitydomain/aio/operations/_operations.py
  src/azure-cli/azure/cli/command_modules/keyvault/vendored_sdks/azure_keyvault_securitydomain/aio/operations/_patch.py
  src/azure-cli/azure/cli/command_modules/keyvault/vendored_sdks/azure_keyvault_securitydomain/models/__init__.py
  src/azure-cli/azure/cli/command_modules/keyvault/vendored_sdks/azure_keyvault_securitydomain/models/_enums.py
  src/azure-cli/azure/cli/command_modules/keyvault/vendored_sdks/azure_keyvault_securitydomain/models/_models.py
  src/azure-cli/azure/cli/command_modules/keyvault/vendored_sdks/azure_keyvault_securitydomain/models/_patch.py
  src/azure-cli/azure/cli/command_modules/keyvault/vendored_sdks/azure_keyvault_securitydomain/operations/__init__.py
  src/azure-cli/azure/cli/command_modules/keyvault/vendored_sdks/azure_keyvault_securitydomain/operations/_operations.py
  src/azure-cli/azure/cli/command_modules/keyvault/vendored_sdks/azure_keyvault_securitydomain/operations/_patch.py
  src/azure-cli/azure/cli/command_modules/keyvault/vendored_sdks/azure_keyvault_securitydomain/py.typed
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: KeyVault, Auto-Assign

#31523 {Packaging} Bump `semver` to 3.0.4
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: Packaging, Auto-Assign

#30784 [Network] `az network network-watcher packet-capture`: Support to packet capture include ring buffer
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/network_watcher/packet_capture/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/network_watcher/packet_capture/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/network_watcher/packet_capture/_create.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/network_watcher/packet_capture/_delete.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/network_watcher/packet_capture/_list.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/network_watcher/packet_capture/_query_status.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/network_watcher/packet_capture/_show.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/network_watcher/packet_capture/_stop.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/network_watcher/packet_capture/_wait.py
Labels: Network, Auto-Assign

#31546 {CI} Fix typo in `.github/workflows/BlockPRMerge.yml`
  .github/workflows/BlockPRMerge.yml
Labels: CI, Auto-Assign

#31443 [App Service] `az webapp config set`: Remove number of workers validation
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
Labels: Web Apps, Auto-Assign

#31475 [ACR] `az acr connected-registry`: Remove private preview message
  src/azure-cli/azure/cli/command_modules/acr/commands.py
Labels: Container Registry, Auto-Assign

#31528 [NetAppFiles] `az netappfiles volume-group create`: Add support for Oracle in ANF Volume Groups
  src/azure-cli/azure/cli/command_modules/netappfiles/custom.py
  src/azure-cli/azure/cli/command_modules/netappfiles/tests/latest/recordings/test_create_get_list_delete_volume_group.yaml
  src/azure-cli/azure/cli/command_modules/netappfiles/tests/latest/recordings/test_oracle_volume_groups.yaml
  src/azure-cli/azure/cli/command_modules/netappfiles/tests/latest/test_volumegroup_commands.py
Labels: NetAppFiles, Auto-Assign

#31556 {ContainerApp} Fix Cred Scan failure: Replace shared keys in container app test recordings
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/recordings/test_container_app_mount_azurefile_e2e.yaml
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/recordings/test_containerapp_create_with_environment_id.yaml
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/recordings/test_containerapp_env_e2e.yaml
  src/azure-cli/azure/cli/command_modules/containerapp/tests/latest/recordings/test_containerapp_env_mtls.yaml
Labels: Auto-Assign, ContainerApp

#31549 [Network] `az network private-endpoint-connection`: Add provider `Microsoft.VideoIndexer/accounts`
  src/azure-cli/azure/cli/command_modules/network/private_link_resource_and_endpoint_connections/custom.py
  src/azure-cli/azure/cli/command_modules/network/tests/latest/private_endpoint_arm_templates/videoindexer_accounts_parameters.json
  src/azure-cli/azure/cli/command_modules/network/tests/latest/private_endpoint_arm_templates/videoindexer_accounts_template.json
  src/azure-cli/azure/cli/command_modules/network/tests/latest/test_private_endpoint_commands.py
Labels: Network, Auto-Assign

#27932 [Backup] `az backup`: Add support for HANA Snapshot
  src/azure-cli/azure/cli/command_modules/backup/_params.py
  src/azure-cli/azure/cli/command_modules/backup/_validators.py
  src/azure-cli/azure/cli/command_modules/backup/custom_base.py
  src/azure-cli/azure/cli/command_modules/backup/custom_common.py
  src/azure-cli/azure/cli/command_modules/backup/custom_help.py
  src/azure-cli/azure/cli/command_modules/backup/custom_wl.py
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_backup_wl_hana_snapshot.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/test_hana_commands.py
Labels: Backup, Auto-Assign

#31460 [AKS] `az aks create`: Simplify logic and enable correct recording rule groups for managed prom
  src/azure-cli/azure/cli/command_modules/acs/azuremonitormetrics/recordingrules/create.py
  src/azure-cli/azure/cli/command_modules/acs/azuremonitormetrics/recordingrules/delete.py
  src/azure-cli/azure/cli/command_modules/acs/azuremonitormetrics/recordingrules/tests/test_create.py
  src/azure-cli/azure/cli/command_modules/acs/azuremonitormetrics/recordingrules/tests/test_delete.py
Labels: AKS, Auto-Assign
