Repository Azure/azure-cli, pull requests merged in 2025-06, with the labels that each got.

#31533 [Packaging] Drop Azure Linux (Mariner) 2.0 support
  azure-pipelines.yml
  scripts/release/rpm/README.md
  scripts/release/rpm/azure-cli.spec
  scripts/release/rpm/azurelinux.dockerfile
  scripts/release/rpm/pipeline_azurelinux.sh
Labels: Packaging, Auto-Assign

#31593 [ARO] `az aro update`: Fix credential refresh to handle clusters with invalid machinesets
  src/azure-cli/azure/cli/command_modules/aro/custom.py
Labels: ARO, Auto-Assign

#31577 {Core} Drop `msrestazure` managed identity authentication
  src/azure-cli-core/azure/cli/core/_profile.py
  src/azure-cli-core/azure/cli/core/auth/adal_authentication.py
  src/azure-cli-core/azure/cli/core/telemetry.py
  src/azure-cli-core/azure/cli/core/tests/test_profile.py
  src/azure-cli/azure/cli/command_modules/appconfig/tests/latest/test_appconfig_aad_auth.py
Labels: Account, Core, Auto-Assign

#31586 {RDBMS} `az postgres flexible-server identity remove`: assign the correct identity type on remove
  src/azure-cli/azure/cli/command_modules/rdbms/flexible_server_custom_postgres.py
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgresql_flexible_server_identity_microsoft_entra_admin_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/rdbms/tests/latest/recordings/test_postgresql_flexible_server_identity_microsoft_entra_admin_only_mgmt.yaml
Labels: Auto-Assign

#31595 {Keyvault} `az keyvault key show`: Fix output format
  src/azure-cli/azure/cli/command_modules/keyvault/_transformers.py
Labels: KeyVault, Auto-Assign

#31617 {Packaging} Only install `pymsalruntime` on Windows
  src/azure-cli-core/setup.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
Labels: Packaging, Installation, Auto-Assign

#31637 {Profile} `az login`: Update ROPC flow MFA warning message
  src/azure-cli/azure/cli/command_modules/profile/custom.py
Labels: Account, Auto-Assign

#31594 [SQL] `az sql db replica create`: Add partner subscription id for cross-subscription GeoDr
  src/azure-cli/azure/cli/command_modules/sql/_params.py
  src/azure-cli/azure/cli/command_modules/sql/_util.py
  src/azure-cli/azure/cli/command_modules/sql/custom.py
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/recordings/test_sql_db_replica_mgmt.yaml
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/recordings/test_sql_db_replica_mgmt_cross_subscription.yaml
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/test_sql_commands.py
Labels: SQL, Auto-Assign

#31660 {CI} Optimize codegen report to support module data and run on manual and Batch CI triggers due to increased execution time
  azure-pipelines.yml
  scripts/ci/codegen_report.py
Labels: Batch, CI, Auto-Assign

#31624 {Network} `az network network-watcher packet-capture create`: Make ring buffer command working
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/network_watcher/packet_capture/__init__.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/network_watcher/packet_capture/_create.py
  src/azure-cli/azure/cli/command_modules/network/aaz/latest/network/network_watcher/packet_capture/_wait.py
Labels: Network, Auto-Assign

#31671 {CI} Add codeowner for inactive modules
  .github/CODEOWNERS
Labels: CI, Auto-Assign

#31670 {Storage}: Add None version for ResourceType.DATA_STORAGE_TABLE
  src/azure-cli-core/azure/cli/core/profiles/_shared.py
Labels: Storage, Auto-Assign

#31674 [Storage] `az storage account create/update`: Add `--sas-expiration-action` to sas policy
  src/azure-cli/azure/cli/command_modules/storage/_params.py
  src/azure-cli/azure/cli/command_modules/storage/operations/account.py
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_account_sas_expiration_policy.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_account_with_key_and_sas_policy.yaml
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/test_storage_account_scenarios.py
Labels: Storage, Auto-Assign

#31679 {AKS} Fix several test cases
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_default.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_service_no_wait_msi.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
Labels: AKS, Auto-Assign

#31682 [Containerapp] `az containerapp job create`: Fix message with `--help`
  src/azure-cli/azure/cli/command_modules/containerapp/_help.py
Labels: Auto-Assign, ContainerApp

#31687 [Compute] BREAKING CHANGE: `az vmss create/update`: Remove too long argument option `--scheduled-event-additional-publishing-target-event-grid-and-resource-graph` to fix help message issue
  src/azure-cli/azure/cli/command_modules/vm/_params.py
Labels: Compute, Breaking Change, Auto-Assign

#31567 [Storage] `az storage file upload-batch/download-batch`: Add OAuth login support
  src/azure-cli/azure/cli/command_modules/storage/commands.py
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/test_storage_batch_operations.py
Labels: Storage, customer-reported, Auto-Assign

#31464 [AKS] `az aks update`: Add option `--assignee-principal-type` to specify the principal type when using `--attach-acr`
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/_roleassignments.py
  src/azure-cli/azure/cli/command_modules/acs/_validators.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/managed_cluster_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_managed_cluster_decorator.py
Labels: Container Registry, AKS, Portal, Auto-Assign

#31689 [Containerapp] Fix #31480: `az containerapp revision copy`: Only return `containerapp does not exist` when got 404
  src/azure-cli/azure/cli/command_modules/containerapp/custom.py
Labels: Auto-Assign, ContainerApp

#31285 [AKS] `az aks create/update` `az aks nodepool add`: Add static egress gateway feature support
  src/azure-cli/azure/cli/command_modules/acs/_consts.py
  src/azure-cli/azure/cli/command_modules/acs/_help.py
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/_validators.py
  src/azure-cli/azure/cli/command_modules/acs/agentpool_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/linter_exclusions.yml
  src/azure-cli/azure/cli/command_modules/acs/managed_cluster_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_and_agentpool_with_static_egress_gateway.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_agentpool_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_managed_cluster_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_validators.py
Labels: AKS, Auto-Assign

#31544 [AKS] `az aks create` and `az aks nodepool add`: Add `--pod-ip-allocation-mode` to the agentpool profile in AKS for Azure CNI Static Block GA feature support
  src/azure-cli/azure/cli/command_modules/acs/_consts.py
  src/azure-cli/azure/cli/command_modules/acs/_help.py
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/_validators.py
  src/azure-cli/azure/cli/command_modules/acs/agentpool_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_with_pod_ip_allocation_mode_static_block.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_agentpool_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_managed_cluster_decorator.py
Labels: AKS, Auto-Assign

#31695 {AKS} `az aks upgrade`: Fix recording test for AKS upgrade with tier switch
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_upgrade_with_tier_switch.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
Labels: AKS, Auto-Assign

#31708 {Packaging} Bump requests to 2.32.4
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
Labels: Packaging, Auto-Assign
