Repository Azure/azure-cli, pull requests merged in 2025-07, with the labels that each got.

#31714 [Service Fabric] `az sf managed-cluster network-security-rule add`: Add new parameters for port ranges and address prefixes
  src/azure-cli/azure/cli/command_modules/servicefabric/_help.py
  src/azure-cli/azure/cli/command_modules/servicefabric/_params.py
  src/azure-cli/azure/cli/command_modules/servicefabric/operations/managed_clusters.py
  src/azure-cli/azure/cli/command_modules/servicefabric/tests/latest/recordings/test_network_security_rule.yaml
  src/azure-cli/azure/cli/command_modules/servicefabric/tests/latest/test_sf_managed_cluster.py
Labels: Service Fabric, Portal, Auto-Assign

#31707 {AKS} Fix several test cases
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_nodepool_abort.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
Labels: AKS, Auto-Assign

#31746 {Auth} Show raw MSAL error in debug log
  src/azure-cli-core/azure/cli/core/auth/util.py
Labels: ARM, Auto-Assign

#31763 {Packaging} Bump `azure-mgmt-core` to 1.6.0 and `azure-core` to 1.35.0
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
Labels: Packaging, Core, Auto-Assign

#31743 {Auth} Remove `broker_error` detection for re-authentication message
  src/azure-cli-core/azure/cli/core/auth/util.py
Labels: Account, ARM, Auto-Assign

#31667 [ARM] `az group export`: Add `--export-format` to specify the format of the exported template
  src/azure-cli/azure/cli/command_modules/resource/_params.py
  src/azure-cli/azure/cli/command_modules/resource/custom.py
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/recordings/test_resource_group_export_output_format_bicep.yaml
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/test_resource.py
Labels: ARM, Auto-Assign

#31778 [Profile] `az login`: Support `--claims-challenge` in auth code flow
  src/azure-cli-core/azure/cli/core/_profile.py
  src/azure-cli-core/azure/cli/core/auth/identity.py
  src/azure-cli-core/azure/cli/core/util.py
  src/azure-cli/azure/cli/command_modules/profile/__init__.py
  src/azure-cli/azure/cli/command_modules/profile/custom.py
Labels: Account, Auto-Assign

#31775 {Core} Adopt serialization func from azure-core for CLI's `todict` formatting
  src/azure-cli-core/azure/cli/core/util.py
Labels: Core, Auto-Assign

#31787 {Packaging} Drop `azure-mgmt-dns`
  src/azure-cli-core/azure/cli/core/profiles/_shared.py
  src/azure-cli/azure/cli/command_modules/network/_format.py
  src/azure-cli/requirements.py3.Darwin.txt
  src/azure-cli/requirements.py3.Linux.txt
  src/azure-cli/requirements.py3.windows.txt
  src/azure-cli/setup.py
Labels: Packaging, Auto-Assign

#31720 [Compute] `az sig in-vm-access-control-profile`: Support GalleryInVMAccessControlProfile
  src/azure-cli/azure/cli/command_modules/vm/aaz/latest/sig/in_vm_access_control_profile/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/vm/aaz/latest/sig/in_vm_access_control_profile/__init__.py
  src/azure-cli/azure/cli/command_modules/vm/aaz/latest/sig/in_vm_access_control_profile/_create.py
  src/azure-cli/azure/cli/command_modules/vm/aaz/latest/sig/in_vm_access_control_profile/_delete.py
  src/azure-cli/azure/cli/command_modules/vm/aaz/latest/sig/in_vm_access_control_profile/_list.py
  src/azure-cli/azure/cli/command_modules/vm/aaz/latest/sig/in_vm_access_control_profile/_show.py
  src/azure-cli/azure/cli/command_modules/vm/aaz/latest/sig/in_vm_access_control_profile/_update.py
  src/azure-cli/azure/cli/command_modules/vm/aaz/latest/sig/in_vm_access_control_profile/_wait.py
  src/azure-cli/azure/cli/command_modules/vm/aaz/latest/sig/in_vm_access_control_profile_version/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/vm/aaz/latest/sig/in_vm_access_control_profile_version/__init__.py
  src/azure-cli/azure/cli/command_modules/vm/aaz/latest/sig/in_vm_access_control_profile_version/_create.py
  src/azure-cli/azure/cli/command_modules/vm/aaz/latest/sig/in_vm_access_control_profile_version/_delete.py
  src/azure-cli/azure/cli/command_modules/vm/aaz/latest/sig/in_vm_access_control_profile_version/_list.py
  src/azure-cli/azure/cli/command_modules/vm/aaz/latest/sig/in_vm_access_control_profile_version/_show.py
  src/azure-cli/azure/cli/command_modules/vm/aaz/latest/sig/in_vm_access_control_profile_version/_update.py
  src/azure-cli/azure/cli/command_modules/vm/aaz/latest/sig/in_vm_access_control_profile_version/_wait.py
  src/azure-cli/azure/cli/command_modules/vm/commands.py
  src/azure-cli/azure/cli/command_modules/vm/linter_exclusions.yml
  src/azure-cli/azure/cli/command_modules/vm/operations/sig_in_vm_access_control_profile_version.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_gallery_in_vm_access_control_profile.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/sig_in_vm_access_control_profile_version_rules.json
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Auto-Assign

#31780 [AKS] support Virtual Machines node pools in AKS
  src/azure-cli/azure/cli/command_modules/acs/_consts.py
  src/azure-cli/azure/cli/command_modules/acs/_help.py
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/_validators.py
  src/azure-cli/azure/cli/command_modules/acs/agentpool_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/commands.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_vms_agentpool_type.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_agentpool_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
Labels: AKS, Auto-Assign

#31466 [Sql] `az sql ltr-policy set`: Remove ltr backup policy unused parameter `--access-tier`
  src/azure-cli/azure/cli/command_modules/sql/_help.py
  src/azure-cli/azure/cli/command_modules/sql/_params.py
  src/azure-cli/azure/cli/command_modules/sql/custom.py
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/test_sql_commands.py
Labels: Storage, SQL, Backup, Auto-Assign

#31782 [SQL] `az sql failover-group create`: Add support for multiple partner failover groups
  src/azure-cli/azure/cli/command_modules/sql/_params.py
  src/azure-cli/azure/cli/command_modules/sql/custom.py
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/recordings/test_sql_failover_group_mgmt_multiple_partners.yaml
  src/azure-cli/azure/cli/command_modules/sql/tests/latest/test_sql_commands.py
Labels: SQL, Auto-Assign

#31701 {Storage} Remove duplicate test for Files AD DS SAM account name configuration
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/test_storage_account_scenarios.py
Labels: Storage, customer-reported, Auto-Assign

#31813 [MySQL] `az mysql flexible-server create/update`: Update `--storage-redundancy` parameter and add `--backup-interval`
  src/azure-cli/azure/cli/command_modules/mysql/_params.py
  src/azure-cli/azure/cli/command_modules/mysql/_validators.py
  src/azure-cli/azure/cli/command_modules/mysql/custom.py
Labels: Storage, Backup, Auto-Assign

#31830 [Compute] `az vm disk attach`: Add new parameters `--source-snapshots-or-disks` `--source-disk-restore-point` to support implicit disk creation from snapshot and disk restore points for already created VMs
  src/azure-cli/azure/cli/command_modules/vm/_params.py
  src/azure-cli/azure/cli/command_modules/vm/_validators.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_disk_attach_from_copy_and_restore.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Auto-Assign

#31722 [Compute] `az vmss create`: Add new parameter `--enable-automatic-repairs` to support setting automatic repairs policy
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/recordings/test_create_deployment_stack_subscription_with_bicep.yaml
  src/azure-cli/azure/cli/command_modules/vm/_params.py
  src/azure-cli/azure/cli/command_modules/vm/_template_builder.py
  src/azure-cli/azure/cli/command_modules/vm/_validators.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vmss_create_disbale_automatic_repairs_of_zone_balancing.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Auto-Assign

#31855 [Compute] Fix issue #31685: `az vm/vmss update` Fix error with `NoneType` object has no attribute `mode` when update wireserver profile
  src/azure-cli/azure/cli/command_modules/vm/_params.py
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_vmss_proxy_agent.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Auto-Assign

#31831 [AKS] `az aks update`: Support VMAS to VMS agent pool migration in AKS commands
  src/azure-cli/azure/cli/command_modules/acs/_help.py
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/managed_cluster_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_migrate_vmas_to_vms.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_managed_cluster_decorator.py
Labels: AKS, Auto-Assign

#31485 [AKS] `az aks create/update`: Add new parameter `--enable-ai-toolchain-operator` to enable Kaito addon
  linter_exclusions.yml
  src/azure-cli/azure/cli/command_modules/acs/_help.py
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/managed_cluster_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_with_enable_ai_toolchain_operator.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_update_with_enable_ai_toolchain_operator.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_managed_cluster_decorator.py
Labels: AKS, Auto-Assign

#31836 [AKS] `az aks`: Add `--node-provisioning-mode` and `--node-provisioning-default-pools` parameters
  linter_exclusions.yml
  src/azure-cli/azure/cli/command_modules/acs/_consts.py
  src/azure-cli/azure/cli/command_modules/acs/_help.py
  src/azure-cli/azure/cli/command_modules/acs/_params.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/managed_cluster_decorator.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_create_node_provisioning_profile.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_update_node_provisioning_profile.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_commands.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_managed_cluster_decorator.py
Labels: AKS, Auto-Assign

#31851 {Storage} `az storage account migration`: Bump api-version to 2024-01-01 from 2023-01-01
  src/azure-cli/azure/cli/command_modules/storage/aaz/latest/storage/account/migration/_show.py
  src/azure-cli/azure/cli/command_modules/storage/aaz/latest/storage/account/migration/_start.py
  src/azure-cli/azure/cli/command_modules/storage/tests/latest/recordings/test_storage_account_migration.yaml
Labels: Storage, Auto-Assign

#31793 [AKS] `az aks safeguards`: Add command group to manage deployment safeguards
  src/azure-cli/azure/cli/command_modules/acs/__init__.py
  src/azure-cli/azure/cli/command_modules/acs/aaz/__init__.py
  src/azure-cli/azure/cli/command_modules/acs/aaz/latest/__init__.py
  src/azure-cli/azure/cli/command_modules/acs/aaz/latest/aks/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/acs/aaz/latest/aks/__init__.py
  src/azure-cli/azure/cli/command_modules/acs/aaz/latest/aks/safeguards/__cmd_group.py
  src/azure-cli/azure/cli/command_modules/acs/aaz/latest/aks/safeguards/__init__.py
  src/azure-cli/azure/cli/command_modules/acs/aaz/latest/aks/safeguards/_create.py
  src/azure-cli/azure/cli/command_modules/acs/aaz/latest/aks/safeguards/_delete.py
  src/azure-cli/azure/cli/command_modules/acs/aaz/latest/aks/safeguards/_list.py
  src/azure-cli/azure/cli/command_modules/acs/aaz/latest/aks/safeguards/_show.py
  src/azure-cli/azure/cli/command_modules/acs/aaz/latest/aks/safeguards/_update.py
  src/azure-cli/azure/cli/command_modules/acs/aaz/latest/aks/safeguards/_wait.py
  src/azure-cli/azure/cli/command_modules/acs/commands.py
  src/azure-cli/azure/cli/command_modules/acs/custom.py
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/recordings/test_aks_deployment_safeguards.yaml
  src/azure-cli/azure/cli/command_modules/acs/tests/latest/test_aks_safeguards.py
Labels: AKS, Auto-Assign

#31853 [Backup] `az backup restore restore-disks`: Add new parameter `--cvm-os-des-id` to specify the Disk Encryption Set ID to use for OS disk encryption
  src/azure-cli/azure/cli/command_modules/backup/_params.py
  src/azure-cli/azure/cli/command_modules/backup/custom.py
  src/azure-cli/azure/cli/command_modules/backup/custom_base.py
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/recordings/test_cvm_os_des_id.yaml
  src/azure-cli/azure/cli/command_modules/backup/tests/latest/test_backup_commands.py
Labels: Backup, Auto-Assign

#31824 [Container] `az container create`: Remove default values for container group to support standby pool reuse scenario
  src/azure-cli/azure/cli/command_modules/container/custom.py
  src/azure-cli/azure/cli/command_modules/container/tests/latest/recordings/test_container_reuse_from_standbypool_outbound.yaml
  src/azure-cli/azure/cli/command_modules/container/tests/latest/recordings/test_container_reuse_from_standbypool_vnet.yaml
  src/azure-cli/azure/cli/command_modules/container/tests/latest/test_container_commands.py
Labels: Auto-Assign

#31862 [Compute] `az vm disk attach`: Add support for setting disk size and sku of implicit disk creation from snapshot and disk restore points
  src/azure-cli/azure/cli/command_modules/vm/custom.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_disk_attach_from_copy_and_restore.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Auto-Assign

#31863 [App Service] `az webapp create`: Add `--domain-name-scope` parameter to support DNL scopes during site creation
  src/azure-cli/azure/cli/command_modules/appservice/_params.py
  src/azure-cli/azure/cli/command_modules/appservice/custom.py
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/recordings/test_webapp_dnl.yaml
  src/azure-cli/azure/cli/command_modules/appservice/tests/latest/test_webapp_commands.py
Labels: Web Apps, Auto-Assign

#31808 [Service Fabric] `az sf cluster create`: Add more options for parameter `--vm-os`
  src/azure-cli/azure/cli/command_modules/servicefabric/custom.py
Labels: Service Fabric, Auto-Assign

#31844 [ServiceFabric] `az sf managed-node-type update`: Add parameters `--vm-size` and `--tags`
  src/azure-cli/azure/cli/command_modules/servicefabric/_help.py
  src/azure-cli/azure/cli/command_modules/servicefabric/_params.py
  src/azure-cli/azure/cli/command_modules/servicefabric/operations/managed_node_types.py
  src/azure-cli/azure/cli/command_modules/servicefabric/tests/latest/recordings/test_node_type_update.yaml
  src/azure-cli/azure/cli/command_modules/servicefabric/tests/latest/test_sf_managed_cluster.py
Labels: Service Fabric, Auto-Assign

#31747 [ARM] `az deployment`: Expose `--validation-level` parameter at all scopes for create, validate, and what-if subcommands
  src/azure-cli/azure/cli/command_modules/resource/_params.py
  src/azure-cli/azure/cli/command_modules/resource/custom.py
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/empty_template_mg.json
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/empty_template_rg.json
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/empty_template_sub.json
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/empty_template_tenant.json
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/recordings/test_create_template_specs.yaml
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/recordings/test_mg_deployment_with_validation_level.yaml
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/recordings/test_rg_deployment_with_validation_level.yaml
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/recordings/test_sub_deployment_with_validation_level.yaml
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/recordings/test_tenant_deployment_with_validation_level.yaml
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/template_spec_with_multiline_strings.json
  src/azure-cli/azure/cli/command_modules/resource/tests/latest/test_resource.py
Labels: ARM, Auto-Assign

#31894 [Compute] Fix #31885: `az vm encryption`: Fix request body serialization
  src/azure-cli/azure/cli/command_modules/vm/disk_encryption.py
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/recordings/test_vm_disk_encryption_e2e.yaml
  src/azure-cli/azure/cli/command_modules/vm/tests/latest/test_vm_commands.py
Labels: Compute, Auto-Assign
